// Brand Colors
@yellow:                    #f5d732;
@black:                     #000000;

@content-width:             640px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 16px;
@line-height:               20px;
@text-color:                #000000;
@link-color:                #034EA2;
@link-decoration:           none;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     @yellow;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-hover-bg:               lighten(@button-bg,15%);
@button-hover-border:           lighten(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              19px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              @yellow;
@header-button-color:           #000000;
@header-button-hover-bg:        lighten(@header-button-bg,15%);
@header-button-hover-color:     @header-button-color;
@header-button-font-size:       15px;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@footer-bg:                     @body-bg;
@footer-color:                  @text-color;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              @font-size;
@footer-line-height:            @line-height;
@footer-text-align:             left;
