.header {
  .spacing {
    padding-bottom: 0;
  }

  .logo {
    width: 535px;
  }

  .donate {
    width: 135px;

    .button {
      background-color: transparent;

      a {
        background-color: transparent;
        padding: 0;
      }

      td {
        padding: 10px 5px;
      }
    }
  }
}

.body-copy {
  &.top {
    .spacing {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &.bottom {
    .spacing {
      padding-bottom: 20px;
    }
  }
}

.arrow {
  &.gray {
    background-color: @gift-array-bg;

    .spacing {
      padding-top: 0;
    }

    .columns {
      td {
        font-size: 12px;
        line-height: 12px;
        height: 12px;
      }
    }
  }

  &.white {
    background-color: #882333;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .columns {
      td {
        font-size: 11px;
        line-height: 11px;
        height: 11px;
      }
    }
  }
}

.footer {
  background-color: @footer-bg;

  .social-icons {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .copy {
    a {
      color: @footer-link-color;
    }

    strong {
      color: #8a8a8a;
    }
  }
}

.donate-button {
  .button {
    a {
      padding: 0;
      font-weight: normal;
      font-size: 17px;
      line-height: 23px;
      padding: 10px 0;
    }

    td {
      border: 2px solid #ffffff;
      mso-border-alt: 2px solid #ffffff;
      font-weight: normal;
      font-size: 17px;
    }
  }
}

@media @content {
  .hide {
    display: none !important;
  }

  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;

        img {
          max-width: 155px !important;
          width: auto !important;
          height: auto !important;
        }
      }
      .donate {
        width: 40% !important;

        a {
          font-size: 13px !important;
        }
      }
    }
  }
}
