.header {
  .columns {
    width: @content-width;
  }

  .spacing {
    padding-bottom: 20px;
  }

  .copy {
    a {
      font-weight: normal;
    }
  }

  .button {
    border-radius: 0;

    a {
      border-radius: 0; 
    }

    td {
      border-radius: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.body-copy {
  .twelve {
    width: 580px;
  }

  .copy {
    &.red {
      font-weight: bold;
      color: #77160C;
    }
  }
}

.footer {
  background-color: @footer-bg;

  .copy {
    padding-bottom: 10px;
    font-family: @font-family-sans-serif;
    font-size: 17px;
    line-height: 19px;
    font-weight: bold;
    color: #666666;

    &.address,
    &.smaller a {
      font-family: @font-family;
      font-size: 11px;
      line-height: 15px;
      font-weight: normal;
      color: #595959;
    }
  }

  .social-icons {
    td {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .donate {
        .button {
          float: right !important;
          width: @header-button-mobile-width !important;

          td {
            width: @header-button-mobile-width !important;
          }

          a {
            width: @header-button-mobile-width !important;
          }
        }
      }
    }
  }
}
