.hero {
	img {
		margin: 0 auto;
		width: auto;
		height: auto;
	}

  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
