table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.story {
  .copy {
    padding-left: 35px;
  }
}

.header {
  .copy {
    width: 75%;
    color: #944048;
  }

  .donate {
    width: 25%;

    a {
      padding: 5px 0;
    }
  }

  strong {
    color: #959595;
  }
}

.footer {
  border-top: 3px solid @newsletter-director-border-color;

  .social-icons {
    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .affiliates {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .copy {
        width: 60% !important;
      }

      .donate {
        width: 40% !important;
      }
    }

    .footer {
      .social-icons,
      .affiliates {
        width: auto !important;
      }
    }

  }
}
