/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  margin: 0 auto;
  width: 462px;
  background-color: @gift-array-bg;

  .columns {
    width: 462px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    .twelve {
      width: @gift-array-btn-width;
      background-color: #F8EFDF;
      border-bottom: 1px solid #ffffff;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      background-color: #F1E4CD;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 7px;
      font-size: 16px;
      line-height: 48px;
      color: #C28153;
      font-weight: 600;

      span {
        color: #B25320;
        font-size: 35px;
        line-height: 45px;
        font-weight: 600;
      }

      strong {
        font-size: 40px;
        line-height: 45px;
        font-weight: 700;
        color: #D68437;
      }
    }
  }

  .orange {
    background-color: #D78538;

    .copy {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 35px;
      line-height: 45px;
      font-weight: bold;
      color: #ffffff;
    }

    &.bottom {
      .spacing {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .button {
        width: 150px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .orange {
        &.bottom {
          .button {
            width: 150px !important;
          }
        }

        .copy {
          padding-bottom: 0 !important;
          font-size: 30px !important;
        }
      }
    }
  }
}
