.sidebar {
  .columns {
    width: 100%;
  }

  .six {
    width: 290px;
  }

  &.featurettes {
    .copy {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .spacing {
      padding-bottom: 50px;
    }
  }

  &.contact {
    background-color: #507379;

    .spacing {
      padding-top: 45px;
      padding-bottom: 55px;
    }

    .columns {
      .spacing {
        padding-top: 30px;
        padding-bottom: 0;
      }
    }

    .first {
      border-right: 2px solid #608085;
    }

    .copy,
    .copy a {
      color: #ffffff;
    }

    a {
      font-weight: normal;
      text-decoration: underline;
    }

    .bigger {
      font-weight: bold;
      font-size: 31px;
      line-height: 37px;
      color: #FFFFFF;
    }

    .name {
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 21px;
      line-height: 23px;
      font-weight: bold;
    }

    .info {
      font-size: 15px;
      line-height: 21px;
      color: #FFFFFF;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      &.featurettes {
        img {
          width: 100% !important;
          height: auto;
        }

        .spacing {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }

        .copy {
          padding-bottom: 20px !important;
        }
      }

      &.contact {
        width: 90.625% !important;

        a {
          font-size: 15px !important;
          line-height: 21px !important;
        }

        .columns {
          .spacing {
            padding-top: 30px !important;
            padding-bottom: 0 !important;
          }
        }

        .six {
          width: 80% !important;
          margin: 0 auto !important;
          float: none !important;

          &.first {
            border-right: 0 solid transparent !important;
            border-bottom: 2px solid #608085 !important;

            .spacing {
              padding-top: 0 !important;
              padding-bottom: 30px !important;
            }
          }
        }
      }

      img.caret {
        width: 7px !important;
        height: auto !important;
      }
    }
  }
}
