.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: 280px;
  }

  .copy {
    font-family: @font-family;

    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

.featured {
  border-bottom: 0 solid transparent !important;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copy {
    padding-left: 0;
    padding-right: 35px;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: @text-color;

    &.story-header {
      padding-bottom: 0;
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
      font-weight: bold;
    }

    &.story-author {
      padding-top: 5px;
      padding-bottom: 20px;
      font-family: @newsletter-story-header-font-family;
      font-size: 16px;
      line-height: 19px;
      color: #AD7B3B;
      font-style: italic;
    }

    &.story-link {
      padding-bottom: 30px;

      a {
        color: @link-color;

        img {
          display: inline-block;
          padding-left: 3px;
        }
      }
    }
  }
}

.highlighted {
  background-color: #F4F4F2;

  .columns {
    width: 89%;
  }

  .six {
    width: 240px;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .quote {
    height: 230px;

    .copy {
      padding-left: 0;
      font-family: Georgia, Times, serif;
      color: #46676E;
      font-size: 25px;
      line-height: 34px;
    }

    .quotation-mark {
      width: 10px;
    }
  }

  .person {
    padding-top: 15px;

    .copy {
      padding-right: 5px;
      font-style: italic;
      color: #7D7D69;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .featured {
      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @newsletter-featured-font-size - 1 !important;
        line-height: @newsletter-featured-line-height - 2 !important;

        &.story-header {
          padding-top: 0 !important;
          font-size: @newsletter-featured-header-font-size - 9 !important;
          line-height: @newsletter-featured-header-line-height - 10 !important;
        }

        &.story-author {
          padding-bottom: 15px !important;
          font-size: 15px !important;
          line-height: 22px !important;
        }

        &.story-link {
          padding-bottom: 20px !important;
        }
      }
    }

    .highlighted {
      width: 90.625% !important;

      .spacing {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
      }

      .columns {
        width: 80% !important;
      }

      .quote {
        height: auto !important;

        .spacing {
          padding-top: 15px !important;
          padding-bottom: 0 !important;
        }
      }
    }

    img.caret {
      width: 7px !important;
      height: auto !important;
    }
  }
}
