.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .eleven {
    width: 463px;
  }

  .copy {
    padding-bottom: 15px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.big {
      padding-bottom: 10px;
      font-family: @arvo;
      font-size: 35px;
      line-height: 47px;
      font-weight: bold;
    }
  }

  .button {
    border: 3px solid #ffffff;
    width: 305px;

    td {
      padding: 5px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
      font-family: @arvo;
    }
  }

  &.share {
    background-color: transparent;

    .spacing {
      padding-top: 0;
      padding-bottom: 40px;
    }
  }

  &.tan {
    border-top: 5px solid #F7941E;
    border-bottom: 5px solid #F7941E;
    background-color: #FAEBD4;

    .copy {
      color: #4A4A4A;
    }

    .big {
      color: #5679F4;
    }

    .button {
      border: 0 solid transparent;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        &.big {
          font-size: 30px !important;
          line-height: 42px !important;
        }
      }

      .button {
        width: 220px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
