@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 610px;
}
.twelve {
  width: 610px;
}
.ten {
  width: 502px;
}
.seven {
  width: 340px;
}
.five {
  width: 231px;
}
.columns .last {
  padding-right: 0;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 15px;
  line-height: 18px;
  color: #9B9B9B;
}
.footer {
  background-color: #01A9E0;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Lato';
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #ffffff;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  width: 650px;
}
.main-content {
  width: 650px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 16px;
  line-height: 26px;
  color: #6B6B6B;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  text-align: left;
}
.johnsonbox .spacing {
  padding-top: 30px;
  padding-bottom: 0;
}
.johnsonbox .columns {
  width: 100%;
  background-color: #ffffff;
}
.johnsonbox .columns.bottom {
  border-left: 1px solid #EDF6F7;
  border-right: 1px solid #EDF6F7;
  border-bottom: 1px solid #EDF6F7;
}
.johnsonbox .story-cell {
  width: 90%;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 16px;
  line-height: 26px;
  color: #6B6B6B;
  font-weight: normal;
}
.johnsonbox .story-header {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  line-height: 33px;
  color: #4A4A4A;
  font-weight: normal;
}
.johnsonbox .button-cell {
  padding-bottom: 30px;
}
.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #6B6B6B;
  font-weight: bold;
}
.story .spacing {
  padding-top: 30px;
  padding-bottom: 0;
}
.story.bottom .spacing {
  padding-bottom: 30px;
}
.story .columns {
  width: 100%;
}
.story .seven {
  background-color: #ffffff;
  width: 326px;
  height: 366px;
}
.story .five {
  background-color: #ffffff;
  border-top: 1px solid #EDF6F7;
  border-right: 1px solid #EDF6F7;
  border-bottom: 1px solid #EDF6F7;
  width: 324px;
  height: 366px;
  vertical-align: middle;
}
.story .five .story-cell {
  margin: 0 auto;
  width: 85%;
}
.story .copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  padding-top: 15px;
  padding-bottom: 15px;
}
.story .story-header {
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  line-height: 33px;
  color: #4A4A4A;
  font-weight: normal;
}
.story.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;
}
.story.featured .spacing {
  padding-top: 27px;
  padding-bottom: 30px;
}
.story.featured .copy {
  padding-left: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.story.featured .button-cell {
  padding-top: 30px;
}
.story.featured .story-header {
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 20px;
  line-height: 27px;
  color: #69DEFF;
  font-weight: bold;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 12px;
  color: #9B9B9B;
}
.featured {
  border-bottom: 2px solid #cccccc;
}
.footer {
  background-color: #01A9E0;
  border-top: 3px solid #cccccc;
}
td.hide {
  min-width: 650px;
}
td.hide img {
  width: 650px;
  min-width: 650px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.social-banner {
  width: 100%;
  background-color: #08AEE3;
}
.social-banner .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-banner .columns {
  width: 650px;
}
.social-banner .social-icons {
  margin: 0 auto;
  width: auto;
}
.social-banner .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.social-banner .social-icons td.last {
  padding-right: 0;
}
.header .columns {
  width: 100%;
}
.header-logo {
  width: 100%;
}
.header-logo .spacing {
  padding-top: 30px;
}
.header-logo .logo {
  width: 650px;
}
.header-logo .logo td {
  padding-bottom: 10px;
}
.header-logo .grey-dots-table {
  width: 100%;
  height: 23px;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/05/34127_MissionMonthly/Base/images/grey-dots.png');
  background-repeat: repeat-x;
  background-size: 24px 23px;
  background-position: top center;
}
.header-logo .grey-dots-table .colored-dots {
  width: 650px;
}
.main-content.grey-bg {
  width: 100%;
  background-color: #F0F1F2;
}
.main-content.grey-bg .overall-spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-content.dots-bg {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/05/34127_MissionMonthly/Base/images/big-grey-dots.png');
  background-repeat: repeat;
  background-size: 28px 28px;
  background-position: top center;
}
.footer {
  width: 100%;
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 50px;
  padding-bottom: 55px;
}
.footer .logo {
  padding-bottom: 20px;
}
@media only screen and (max-width: 650px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .seven,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 14px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .story-header {
    padding-top: 25px !important;
    font-size: 24px !important;
    line-height: 33px !important;
  }
  *[class].mobile .johnsonbox .button-cell {
    padding-bottom: 25px !important;
  }
  *[class].mobile .johnsonbox .button-cell img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story.bottom .spacing {
    padding-bottom: 25px !important;
  }
  *[class].mobile .story .seven {
    height: auto !important;
  }
  *[class].mobile .story .five {
    height: auto !important;
    border-top: 0 solid transparent !important;
    border-left: 1px solid #EDF6F7 !important;
    border-right: 1px solid #EDF6F7 !important;
    border-bottom: 1px solid #EDF6F7 !important;
  }
  *[class].mobile .story .five td {
    height: auto !important;
  }
  *[class].mobile .story .five .story-cell {
    width: 90% !important;
  }
  *[class].mobile .story .story-header {
    padding-top: 25px !important;
  }
  *[class].mobile .story .button-cell {
    padding-bottom: 25px !important;
  }
  *[class].mobile .story .button-cell img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .story.featured .spacing {
    padding-bottom: 0 !important;
  }
  *[class].mobile .story.featured .copy {
    font-size: 17px !important;
    line-height: 28px !important;
  }
  *[class].mobile .story.featured .story-header {
    padding-top: 0 !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .header .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50% !important;
  }
  *[class].mobile .header-logo .logo {
    width: 95% !important;
  }
  *[class].mobile .header-logo .logo img {
    width: 116px !important;
    height: auto !important;
  }
  *[class].mobile .header-logo .grey-dots-table {
    height: 14px !important;
    background-size: 15px 14px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots {
    width: 100% !important;
    height: 14px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .main-content.grey-bg .overall-spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .main-content.dots-bg {
    background-size: 14px 14px !important;
  }
}
