.sig {
  .copy {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 30px !important;
  }
}

.body-copy {
  .spacing {
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }
      .donate {
        width: 40% !important;
      }
    }

    .list {
      padding-left: 0 !important;
    }
  }
}
