<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

  <!-- Preheader Area -->
  <table class="section preheader" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td class="copy">

      </td>
    </tr>
  </table>

  <!-- Header Area -->
  <table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td class="spacing" align="center">

        <!-- Logo and Donate Button Combo -->
        <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td class="logo">
              <a href="http://www.firstfoodbank.org" target="_blank"><img src="images/header-logo.gif" alt="St. Mary&#8217;s Food Bank Alliance" width="134" height="58" border="0" /></a>
            </td>
            <td class="donate" align="right">
              <table align="right" border="0" width="130">
                <tr>
                  <td class="copy" align="center">
                    MONTH XXXX
                  </td>
                </tr>
                <tr>
                  <td>
                    <!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#donate" style="height:30px;v-text-anchor:middle;width:130px;" arcsize="5%" strokecolor="#b43237" fillcolor="#b43237"><w:anchorlock/><center style="color:#ffffff;font-family:Arial,Helvetica, sans-serif;font-size:12px;">PLEASE DONATE</center></v:roundrect>

                    <div class="outlook-hide">
                    <![endif]-->
                    <table class="button" align="left" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td>
                          <a href="#donate" target="_blank">PLEASE DONATE</a>
                        </td>
                      </tr>
                    </table>
                    <!--[if mso]>
                    </div>
                    <![endif]-->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="outlook-array">
            <tr>
            <td style="padding-left:10px;padding-right:10px;"></td>
            <td valign="top" padding:20px 5px;">
            <![endif]-->
            <table class="six logo" align="left" valign="top" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="right" valign="top">
                  <a href="http://www.firstfoodbank.org" target="_blank"><img src="images/footer-logo.gif" alt="St. Mary&#8217;s Food Bank Alliance" width="149" height="63" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="six social-donate" align="left" valign="top" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="spacing">

                  <table align="left" valign="top" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td align="left" valign="top">
                        <!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#donate" style="height:30px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#f9a233" fillcolor="#f9a233"><w:anchorlock/><center style="color:#ffffff;font-family:Arial,Helvetica, sans-serif;font-size:13px;font-weight:bold;">PLEASE GIVE NOW</center></v:roundrect>

                        <div class="outlook-hide">
                        <![endif]-->
                        <table class="button" align="left" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td>
                              <a href="#donate" target="_blank">PLEASE GIVE NOW</a>
                            </td>
                          </tr>
                        </table>
                        <!--[if mso]>
                        </div>
                        <![endif]-->
                      </td>
                    </tr>
                    <tr>
                      <td align="left" valign="top" class="copy">
                        <!-- Footer Social Icons -->
                        <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td>
                              <a href="mailto:ceo@firstfoodbank.org" target="_blank"><img src="images/footer-email.gif" alt="Email" width="24" height="23" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://twitter.com/StMarysFoodBank" target="_blank"><img src="images/footer-twitter.gif" alt="Twitter" width="24" height="23" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://www.facebook.com/firstfoodbank/" target="_blank"><img src="images/footer-facebook.gif" alt="Facebook" width="24" height="24" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://www.youtube.com/user/smfba" target="_blank"><img src="images/footer-youtube.gif" alt="YouTube" width="19" height="23" border="0" /></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td style="padding-left:10px;padding-right:10px;"></td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy">
                  <strong>St. Mary&#8217;s Food Bank Alliance</strong> | 2831 N. 31st Ave. Phoenix,&nbsp;AZ&nbsp;85009 | ph: (602) 242-FOOD (3663)  email:&nbsp;<a href="mailto:ceo@firstfoodbank.org">ceo@firstfoodbank.org</a> | web:&nbsp;<a href="http://StMarysFoodBank.org" target="_blank">StMarysFoodBank.org</a>
                </td>
              </tr>
              <tr>
                <td class="copy smaller">
                  If you do not wish to receive future email updates from <a href="http://www.firstfoodbank.org" target="_blank">St.&nbsp;Mary&#8217;s Food Bank Alliance</a>, please&nbsp;<a href="##CT311##" target="_blank">unsubscribe</a>.<br>
                  Copyright &copy; {{job_year}}. <a href="http://www.firstfoodbank.org" target="_blank">St. Mary&#8217;s Food Bank Alliance</a>. All&nbsp;Rights&nbsp;Reserved. <a href="http://www.firstfoodbank.org/privacy" target="_blank">Privacy&nbsp;policy</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
