table.button {
  a {
    font-size: @button-font-size;
    font-weight: @button-font-weight;
  }
}

// Custom
.section {
  .columns {
    width: 580px;
  }
}

.hero,
.featured {
  width: @content-width;
}


.featured {
  table.button {
    width: auto;

    td {
      padding: 0;
    }

    a {
      font-size: @button-font-size;
      font-weight: @button-font-weight;
      background-color: #ffffff;
      border-color: #002d62;
      border: 2px solid #002d62;
      color: #002d62;
    }
  }
}

.story {
  text-align: left;

  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .six {
    width: 280px;
    height: 280px;

    table {
      width: 80%;
      margin: 0 auto;
    }
  }

  .copy {
    font-size: @newsletter-story-copy-font-size;
    line-height: @newsletter-story-copy-line-height;
  }

  table.button {
    margin: 0;

    a {
      height: 28px;
      text-decoration: none;
    }
  }
}

.story-link {
  padding-top: 10px;
}

.red, .yellow, .blue {
  width: 270px;
  height: 280px;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
    height: 280px;
    vertical-align: middle;
  }
}

.red {
  background-color: #faeaeb;

  table.button {
    a {
      background-color: #faeaeb;
      border-color: #b5121b;
      border: 2px solid #b5121b;
      color: #b5121b;
    }
  }
}

.yellow {
  background-color: #f9f4ed;

  table.button {
    a {
      background-color: #f9f4ed;
      border-color: #f9a233;
      border: 2px solid #f9a233;
      color: #f9a233;
    }
  }
}

.blue {
  background-color: #e5eaef;

  table.button {
    a {
      background-color: #e5eaef;
      border-color: #002d62;
      border: 2px solid #002d62;
      color: #002d62;
    }
  }
}

.green {
  background-color: #f1f6e8;

  table.button {
    a {
      background-color: #f1f6e8;
      border-color: #78a22f;
      border: 2px solid #78a22f;
      color: #78a22f;
    }
  }
}

.highlighted {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .columns {
    width: 580px;
    background-color: #F3ECE3;
  }

  .heading {
    font-size: 27px;
    line-height: 30px;
    color: #f9a233;
  }

  .donate {
    padding-top: 10px;
  }

  table.button {
    a {
      background-color: #f9a233;
      border-color: #f9a233;
      border: 2px solid #f9a233;
      color: #ffffff;
    }
  }
}

.gift-array {
  .columns {
    width: 580px;
  }

  .spacing {
    padding-top: 0;
  }

  .copy {
    font-size: 16px;
    line-height: 23px;

    a {
      color: @gift-array-text-color;
      font-weight: normal;
    }
  }

  .heading {
    color: #002d62;
    font-size: 27px;
    line-height: 33px;
  }

  .array {
    td {
      padding: 0;
    }
  }

  .red, .yellow, .green {
    background-color: @johnsonbox-bg;
    height: auto;
  }

  .four table {
    width: 90% !important;

    td {
      padding: 0;
    }
  }

  .copy {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
  }

  table.button {
    a {
      padding: 10px 0;
      width: 100%;
      background-color: @johnsonbox-bg;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.director {
  background-color: @content-bg;

  .columns {
    width: 580px;
    background-color: @newsletter-director-bg;

    .spacing {
      padding-left: 30px;
    }
  }

  .copy-wrapper {
    padding-left: 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .featured {
      .story-header{
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
      }

      .copy {
        padding-left: 0 !important;
      }
    }

    .story {
      .six {
        height: auto !important;

        .spacing {
          padding-top: 20px !important;
          padding-bottom: 25px !important;
        }

        table {
          width: 90% !important;
        }
      }
    }

    .johnsonbox {
      &.highlighted {
        .spacing {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .columns {
          width: 100% !important;
        }
      }
    }

    .gift-array {
      .copy {
        a {
          padding: 0 !important;
          font-size: 16px !important;
        }
      }

      .heading {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      table.button {
        width: 100% !important;

        td {
          padding-top: 0 !important;
        }

        a {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      .array {
        .copy {
          padding-top: 0 !important;
          padding-bottom: 15px !important;
        }
      }
    }

    .director {
      img {
        margin: 0 auto !important;
      }

      .copy-wrapper {
        padding-top: 20px !important;
        padding-left: 0 !important;
      }
    }

    .red, .yellow, .blue {
      height: auto !important;

      .spacing {
        height: auto !important;
      }
    }
  }
}
