@content-width:             670px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

// St. Mary's Colors
@red:                       #b5121b;
@blue-light:                #5675a9;
@blue:                      #2b4f8a;
@blue-dark:                 #002d62;
@gold:                      #ffc423;
@orange:                    #f8981d;
@orange-dark:               #dc6810;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 21px;
@line-height:               32px;
@text-color:                #595959;
@link-color:                #ff7600;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									60px;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              16px;
@header-line-height:            @header-font-size + 12;
@header-text-color:             #625d54;
@header-link-text-decoration:   none;
@header-link-color:   					#ffffff;
@header-font-weight:            normal;

@johnsonbox-bg:           					#ffffff;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					@orange;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Button styles
@button-bg:                     #ffffff;
@button-border:                 @orange;
@button-color:                  @orange;
@button-radius:                 3px;
@button-font-family:            @font-family;
@button-font-size:              14px;
@button-text-decoration:        none;
@button-font-weight:            normal;

@gift-array-bg:         					#ffffff;
@gift-array-btn-width:         		193px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#333333;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;


// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-header-color:   			#616161;
@newsletter-story-header-font-family:		@font-family-sans-serif;
@newsletter-story-copy-font-size:       19px;
@newsletter-story-copy-line-height:     27px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;

// eNewsletter specific styles
@newsletter-featured-font-size:           19px;
@newsletter-featured-line-height:         27px;
@newsletter-featured-header-font-size:    37px;
@newsletter-featured-header-line-height:  38px;
@newsletter-featured-header-color:   			#002d62;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  #f1f6e8;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         23px;
@newsletter-director-color:               #625d54;
@newsletter-director-header-font-family:  @font-family-sans-serif;
@newsletter-director-header-font-size:    27px;
@newsletter-director-header-line-height:  29px;
@newsletter-director-header-color:			  #78a22f;
@newsletter-director-border-color:  			@newsletter-director-bg;

@footer-bg:                     #ffffff;
@footer-color:                  #505050;
@footer-link-color:             @footer-color;
@footer-link-weight:            normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
