// Global styles
.body {
  background-color: @body-bg;
}

.preheader {
  .copy {
    color: @body-bg;
    font-size: 0px;
    line-height: 0px;
  }
}

// Header
.header {
  background-color: @body-bg;

  .spacing {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .copy {
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
  }

  table.button {
    width: 100%;

    td {
      padding: 0;
      background-color: #ffffff;
    }

    a {
      padding: 0;
      display: block;
      width: 100%;
      height: 28px;
      vertical-align: middle;
      background-color: #b43237;
      border-color: #b43237;
      mso-border-alt: 1px solid #b43237;
      font-family: @header-font-family;
      font-size: 12px;
      text-decoration: @header-link-text-decoration;
      text-align: center;
      line-height: 28px;
      color: @header-link-color;
      border-radius: 3px;
    }
  }
}

.footer {
  width: 100%;
  background-color: @footer-bg;
  text-align: @footer-text-align;

  .spacing {
    padding-top: 50px;
  }

  .copy, .copy a{
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;
  }

  a {
    text-decoration: @footer-text-decoration;
    font-weight: @footer-link-weight;
  }

  .six {
    .spacing {
      padding: 0;
      padding-left: 30px;
    }
  }

  .button {
    td {
      padding: 5px 10px;
      background-color: #ffffff;
    }

    a {
      display: block;
      width: auto;
      background-color: @orange;
      border-color: @orange;
      border-radius: 5px;
      font-family: @font-family-sans-serif;
      font-size: 13px;
      line-height: 13px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .social-icons {
    width: auto;

    img {
      width: auto;
      height: auto;
    }

    td {
      padding-top: 5px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .copy.smaller {
    padding-top: 10px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {.header {
      .columns {
        width: 90% !important;
      }

      .spacing {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }

      .logo, .donate {
        width: 50% !important
      }

      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .donate {
        table {
          width: 90% !important;
        }

        .button {
          width: 100% !important;

          a {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            width: 100% !important;
            height: auto !important;
            font-size: 12px !important;
          }
        }
      }
    }

    .footer {
      .spacing {
        padding-top: 20px !important;
      }

      .logo {
        img {
          margin: 0 auto !important;
        }
      }

      .social-donate {
        table {
          float: none !important;
          margin: 0 auto !important;
        }

        .spacing {
          padding-left: 0 !important;
          padding-top: 20px !important;
        }
      }

      .social-icons {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }
    }
  }
}
