.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .spacing {
      padding-bottom: 20px;
    }

    .gift {
      width: @gift-array-btn-width;
    }

    .gift-cell {
      height: @gift-array-btn-height;
      vertical-align: middle;
    }

    .button {
      margin: 0 auto;
      width: 90%;
      height: @gift-array-btn-height;
      background-color: @gift-array-btn-bg;
      border-radius: @gift-array-btn-radius;

      td {
        height: @gift-array-btn-height;
        padding: 0;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;

        &.copy {
          padding-top: 0;
          padding-bottom: 0;
          font-size: @gift-array-btn-font-size;
          line-height: @gift-array-btn-line-height;
        }

        &.price {
          a {
            height: @gift-array-btn-height;
            font-size: @gift-array-price-font-size;
            line-height: @gift-array-btn-height;
          }
        }
      }

      a {
        margin: 0 auto;
        width: 100%;
        background-color: @gift-array-btn-bg;
        mso-border-alt: 1px solid @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }
    }

    .active {
      .button {
        background-color: @gift-array-active-btn-bg;

        td {
          background-color: @gift-array-active-btn-bg;
        }

        table {
          height: 100%;
          vertical-align: middle;
          mso-border-alt: 1px solid #f3713e;

          td {
            height: auto;
            background-color: @gift-array-active-btn-bg;
            border-bottom: 1px solid @gift-array-active-btn-bg;
          }

          a {
            height: auto;
            background-color: @gift-array-active-btn-bg;
            color: @gift-array-active-btn-color;
            mso-border-alt: 1px solid @gift-array-active-btn-bg;
          }

          .copy {
            line-height: 15px;
          }

          .price {
            a {
              line-height: 33px;
            }
          }

        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
        font-size: 25px !important;
        line-height: 29px !important;
      }

      .array {
        width: 100% !important;

        .spacing {
          padding-top: 0 !important;
        }

        .gift {
          height: @gift-array-mobile-btn-height !important;
        }

        .gift-cell {
          padding-top: 20px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: auto !important;

          td {
            height: auto !important;
          }

          table {
            width: 100% !important;
            height: auto !important;

            td {
              width: @gift-array-mobile-btn-width !important;
              height: auto !important;

              &.copy {
                padding-top: 0 !important;
                padding-bottom: 0 !important;

                a {
                  height: auto !important;
                  font-size: 16px !important;
                  line-height: 18px !important;
                }
              }

              &.price {
                padding-top: 8px !important;
                padding-bottom: 8px !important;

                a {
                  height: auto !important;
                  font-size: 22px !important;
                  line-height: 22px !important;
                }
              }
            }

            a {
              width: 90% !important;
              height: auto !important;
              font-size: @gift-array-mobile-btn-font-size !important;
              line-height: 56px !important;
            }
          }

          a {
            height: 56px !important;
            line-height: 56px !important;
          }
        }

        .active {
          .button {
            td {
              padding-top: 8px !important;
              padding-bottom: 8px !important;
            }

            table {
              td {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
              }

              &.copy {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
              }

              &.price {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
              }
            }
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-mobile-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
