.sidebar {
  background-color: @johnsonbox-bg;

  .copy {
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
  }

  .input-group {
    width: auto;
    margin: 0 auto;
  }

  .six {
    .copy {
      padding-bottom: 0;
      font-size: 21px;
      font-weight: normal;
    }

    .input {
      width: 95%;
      background-color: #ffffff;
      border: 1px solid #bfbfbf;
      border-collapse: separate;
      border-radius: 3px;

      td {
        border-collapse: separate;
        border-radius: 3px;
      }

      .copy {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 20px;
        color: #f3713e;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .copy {
        padding-bottom: 0 !important;
      }

      .six {
        .copy {
          padding-top: 20px !important;
        }

        .input {
          .copy {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
          }
        }
      }
    }
  }
}
