.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    strong {
      letter-spacing: 2px;
    }

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .underline {
    width: auto;
    border-bottom: 2px solid #F8BC1C;

    .copy {
      font-size: 27px;
      font-weight: 300;
      font-style: italic;
    }
  }

  .donate {
    padding-top: 20px;
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    a {
      span {
        text-decoration: underline;
      }
    }
  }

  &.title {
    .spacing {
      padding-top: 0;
      padding-bottom: 5px;
    }

    .columns {
      width: 100%;
    }

    .copy {
      padding-bottom: 0;
      font-size: 34px;
      line-height: 34px;
      font-weight: normal;
      letter-spacing: 8px;
    }

    .middle {
      width: 295px;

      .seven {
        width: 100%;
      }

      .copy {
        padding-left: 8px;
      }
    }

    .stripe {
      vertical-align: top;

      table {
        width: 100%;
        border-bottom: 1px solid #F8BC1C;
        font-size: 17px;
        line-height: 17px;
        height: 17px;

        td {
          font-size: 17px;
          line-height: 17px;
          height: 17px;
        }
      }

      .copy {
        mso-line-height-rule: exactly;
        font-size: 17px;
        line-height: 17px;
        height: 17px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .underline {
        width: auto !important;
        border-bottom: 0 solid transparent !important;

        .copy {
          span {
            border-bottom: 2px solid #F8BC1C !important;
          }
        }
      }

      &.title {
        .spacing {
          padding-bottom: 5px !important;
        }

        .columns {
          width: 100% !important;
        }

        .copy {
          padding-bottom: 0 !important;
          font-size: 27px !important;
          line-height: 27px !important;
          letter-spacing: 8px !important;
        }

        .middle {
          width: 250px !important;

          .seven {
            width: 100% !important;
          }

          .copy {
            padding-left: 8px !important;
          }
        }

        .stripe {
          table {
            font-size: 12px !important;
            line-height: 12px !important;
            height: 12px !important;

            td {
              font-size: 12px !important;
              line-height: 12px !important;
              height: 12px !important;
            }
          }

          .copy {
            font-size: 12px !important;
            line-height: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
  }
}
