.director {
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;

    span {
      font-family: @newsletter-director-header-font-family;
      font-size: @newsletter-director-header-font-size;
      line-height: @newsletter-director-header-line-height;
      color: @newsletter-director-header-color;
      font-weight: bold;
    }
  }

  .signature {
    padding-left: 0;
  }

  .sig {
    padding-top: 20px;

    img {
      width: auto;
      max-width: 280px;
      height: auto;
    }

    .copy {
      padding-left: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .director {
      .spacing {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
