.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @link-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: 280px;
  }

  .copy {
    font-family: @font-family;

    &.story-header {
      padding-top: 15px;
      padding-bottom: 10px;
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: bold;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }

  &.featured {
    border-bottom: 2px solid @newsletter-featured-border-color;

    .spacing {
      padding-top: 30px;
    }

    .copy {
      padding-left: 0;
      font-family: @font-family;
      font-size: @newsletter-featured-font-size;
      line-height: @newsletter-featured-line-height;

      &.story-link {
        padding-bottom: 30px;
      }

      @media @content {
        *[class].mobile {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }

    .story-header {
      padding-top: 20px;
      font-family: @font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
      font-weight: bold;

      &.spacing {
        padding-bottom: 10px;
      }
    }
  }
}

.highlighted {
  .columns {
    background-color: #F3ECE3;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .copy {
        padding-left: 0 !important;
      }

      &.featured {
        .copy {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .story-header {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }

    .highlighted {
      .story-img {
        padding: 10px !important;
      }

      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }
    }
  }
}
