@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 590px;
}

.twelve {
  width: 590px;
}

.eight {
  width: 377px;
}

.six {
  width: 270px;
}

.columns .first {
  padding-left: 0;
}

.header {
  background-color: #f5dce2;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 23px;
  color: #c02e5e;
}

.header .copy a {
  color: #c02e5e;
  text-decoration: underline;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #c02e5e;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 15px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #c02e5e;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f5dce2;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f5dce2;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #c02e5e;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #d56192;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}

.donate-button {
  background-color: #d56192;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.body {
  background-color: #f5dce2;
}

.header {
  background-color: #f5dce2;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .copy {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 23px;
  color: #c02e5e;
}

.header .donate {
  width: 25%;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 10px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #c02e5e;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

.footnote .spacing {
  padding-top: 0;
}

.footnote .copy {
  font-size: 14px;
  line-height: 20px;
}

.footer {
  width: 100%;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .footer-donate {
  padding-top: 15px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 22px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 16px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 23px !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .copy {
    display: none !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .logo-donate-social {
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td {
    padding-right: 0 !important;
    padding-bottom: 30px;
    text-align: center !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-donate img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .donate-social {
    height: auto !important;
  }
}
