.gift-array {
  background-color: @gift-array-bg;

  .array {
    margin: 0 auto;
    width: auto;

    .gift {
      width: @gift-array-btn-width;
    }

    .gift-cell {
      height: @gift-array-btn-height;
      vertical-align: middle;
    }

    .button {
      margin: 0 auto;
      width: 90%;
      height: @gift-array-btn-height;

      td {
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: @gift-array-btn-height;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      img {
        margin: 0 auto;
      }
    }

    .dollar {
      padding-bottom: 10px;
      display: block;
      font-size: @gift-array-price-font-size;
      line-height: @gift-array-price-line-height;
      font-weight: @gift-array-price-font-weight;
    }

    .active {
      .button {
        td {
          background-color: @gift-array-active-btn-bg;
        }

        a {
          background-color: @gift-array-active-btn-bg;
          color: @gift-array-active-btn-color;
          mso-border-alt: 1px solid @gift-array-active-btn-bg;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .gift-cell {
          padding-top: 0 !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .gift {
          width: 50% !important;
          height: @gift-array-mobile-btn-height !important;

          &.top {
            .gift-cell {
              padding-bottom: 20px !important;
            }
          }
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            width: @gift-array-mobile-btn-width !important;
            height: @gift-array-mobile-btn-height !important;
          }

          a {
            width: 90% !important;
            height: @gift-array-mobile-btn-height !important;
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-mobile-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
