.list {
  padding-left: 30px;

  .bullet {
    padding-right: 15px;
    color: #de2b30;

    &.black {
      color: #252525;
    }
  }
}

.body-copy {
  .spacing {
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }
      .donate {
        width: 40% !important;
      }
    }

    .list {
      padding-left: 0 !important;
    }
  }
}
