.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @link-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }
  
  .six {
    width: 280px;

    &.text {
      width: 300px;
    }
  }

  .copy {
    font-family: @font-family;

    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }

  @media @content {
    *[class].mobile {
      .story img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  @media @tablet {
    *[class].mobile {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  @media @phone {
    *[class].mobile {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  } 
}

.featured {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copy {
    padding-left: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;

    span{
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
    }

    &.story-link {
      padding-bottom: 30px;
    }

    @media @content {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    @media @tablet {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    @media @phone {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    } 
  }
}

.highlighted {
  background-color: #616161;

  td.copy {
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 50px;
    color: #e0dede;
    font-size: 20px;
    line-height: 30px;
  }

  .text {
    padding: 0;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .featured {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
    .highlighted {
      .story-img {
        padding: 40px 0 !important;
      }

      .copy {
        padding: 0 10px 40px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .featured {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
    .highlighted {
      .story-img {
        padding: 40px 0 !important;
      }

      .copy {
        padding: 0 10px 40px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .featured {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
    .highlighted {
      .story-img {
        padding: 40px 0 !important;
      }

      .copy {
        padding: 0 10px 40px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }
    }
  }
} 