.hero {
	margin: 0 auto;
	width: auto;
	border: 6px solid #ffffff;

	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
		.hero {
			width: 95% !important;

			img {
				width: 100% !important;
				height: auto !important;
			}
		}
  }
}
