@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 590px;
}

.twelve {
  width: 590px;
}

.ten {
  width: 492px;
}

.six {
  width: 295px;
}

.columns .first {
  padding-left: 0;
}

.columns .last {
  padding-right: 0;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .copy {
  width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 17px;
  color: #91959D;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #F3F3F3;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F3F3F3;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 590px;
}

.main-content {
  width: 590px;
  background-color: #ffffff;
}

.copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 28px;
  color: #4A4A3E;
}

.copy a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: underline;
  color: #ffffff;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar {
  background-color: #F3F3F3;
}

.sidebar .columns {
  width: 100%;
}

.sidebar table.six {
  width: 276px;
  height: 370px;
  background-color: #ffffff;
}

.sidebar .height {
  height: 370px;
}

.sidebar .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar .copy {
  padding-top: 15px;
  padding-bottom: 10px;
  height: 75px;
  font-size: 23px;
  line-height: 30px;
  color: #D1232A;
}

.sidebar .copy.squeeze {
  padding-left: 70px;
  padding-right: 70px;
}

.sidebar.contact {
  background-color: #05AFCC;
  border-bottom: 0 solid transparent;
}

.sidebar.contact .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar.contact .six {
  background-color: #05AFCC;
  height: auto;
}

.sidebar.contact .six .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidebar.contact .copy,
.sidebar.contact .copy a {
  color: #ffffff;
  font-size: 15px;
}

.sidebar.contact .copy {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  font-size: 18px;
}

.sidebar.contact a {
  font-weight: normal;
  text-decoration: underline;
}

.sidebar.contact .bigger {
  padding-top: 20px;
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  color: #FFFFFF;
}

.sidebar.contact .name {
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 23px;
  font-weight: bold;
}

.sidebar.contact .info {
  font-size: 15px;
  line-height: 21px;
  color: #FFFFFF;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #4A4A3E;
  font-weight: normal;
}

.story .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.story .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.story .copy.story-header {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 35px;
  line-height: 43px;
  color: #D1232A;
  font-weight: normal;
}

.story .story-link {
  padding-top: 30px;
  padding-bottom: 40px;
}

.story .story-link img {
  width: auto;
  height: auto;
}

.body {
  background-color: #F3F3F3;
}

.header {
  background-color: #F3F3F3;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #91959D;
}

table {
  mso-line-height-rule: exactly;
}

.section {
  width: 590px;
}

.spacer {
  background-color: #F3F3F3;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-top: 30px;
  padding-bottom: 10px;
}

.header .copy {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #91959D;
}

.header .copy br {
  display: none;
}

.heading .spacing {
  padding-top: 10px;
}

.together {
  background-color: #05AFCC;
}

.together .twelve {
  width: 100%;
}

.together .spacing {
  padding-top: 30px;
  max-width: 148px;
  width: 148px;
  height: 28px;
}

.together .copy,
.together .copy a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.hide {
  width: 590px;
}

@media only screen and (max-width: 590px ) {

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .six,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .columns .six {
    width: 100% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 13px !important;
    line-height: 16px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sidebar .columns {
    width: 100% !important;
  }

  *[class].mobile .sidebar .six {
    height: auto !important;
    border-bottom: 40px solid #F3F3F3 !important;
  }

  *[class].mobile .sidebar .six.last {
    border-bottom: 0 solid transparent !important;
  }

  *[class].mobile .sidebar .six .spacing {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  *[class].mobile .sidebar .six .height {
    height: auto !important;
  }

  *[class].mobile .sidebar .six table {
    width: 90% !important;
  }

  *[class].mobile .sidebar .copy {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    height: auto !important;
  }

  *[class].mobile .sidebar .copy.squeeze {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .sidebar.contact {
    width: 100% !important;
  }

  *[class].mobile .sidebar.contact a {
    font-size: 15px !important;
    line-height: 21px !important;
  }

  *[class].mobile .sidebar.contact .six {
    border-bottom: 0 solid transparent !important;
    margin: 0 auto !important;
    float: none !important;
  }

  *[class].mobile .sidebar.contact .six table {
    margin: 0 auto !important;
    float: none !important;
  }

  *[class].mobile .sidebar.contact .six .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar.contact .six.first {
    border-right: 0 solid transparent !important;
  }

  *[class].mobile .sidebar.contact .six.first .spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar.contact .bigger {
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar.contact .name {
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar.contact .info {
    padding-top: 5px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .story-link img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .story .ten {
    width: 90% !important;
  }

  *[class].mobile .hide {
    display: none !important;
  }

  *[class].mobile .header .columns {
    width: 95% !important;
  }

  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }

  *[class].mobile .header .copy br {
    display: block !important;
  }

  *[class].mobile .header span {
    display: none !important;
  }

  *[class].mobile .together img {
    max-width: 168px !important;
    width: 168px !important;
    height: auto !important;
  }

  *[class].mobile .heading .spacing {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
