// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.view-online {
  .copy {
    padding-bottom: 10px;
  }
}

.header {
  .button {
    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.gift-array {

  .array {

    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

.body-copy {
  span, a {
    color: #59c1a5;
  }
}

.ps-statement {
  .copy {
    strong {
      color: #59c1a5;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }

    .header {
      .logo {
        width: 65% !important;
      }

      .view-donate {
        width: 35% !important;
      }

      .logo {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }

    .header {
      .logo {
        width: 65% !important;
      }

      .view-donate {
        width: 35% !important;
      }

      .logo {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }

    .header {
      .logo {
        width: 65% !important;
      }

      .view-donate {
        width: 35% !important;
      }

      .logo {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
