.header {
  .button {
    td, a {
      border-radius: 3px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;
      }
      .donate {
        width: 45% !important;
      }
    }
  }
}
