.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-bottom: 10px;
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &.bottom {
    .button {
      width: 439px;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .button {
        width: 280px !important;
      }

      &.bottom {
        .button {
          width: 280px !important;
        }
      }
    }
  }
}
