table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
  mso-line-height-rule: exactly;
}

tr, td {
  mso-line-height-rule: exactly;
}

.header {
  .logo {
    width: 500px;
  }

  .donate {
    width: 130px;

    .copy {
      padding-top: 5px;
      padding-bottom: 0;
      font-size: @header-font-size;
      line-height: @header-line-height;
    }

    a {
      padding-top: 0;
    }
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .columns {
    &.footer-wrap {
      margin: 0 auto;
      float: none;
      width: auto;
    }

    .footer-logo {
      width: 127px;
    }

    .social-icons-wrapper {
      width: auto;

      .social-icons {
        margin: 0 auto;
        float: none;
        width: auto;

        td {
          padding-top: 10px;
          padding-right: 5px;

          &.last {
            padding-right: 0;
          }
        }
      }
    }
  }

  .copy {
    span {
      text-decoration: underline;
      font-size: @footer-font-size;
      line-height: @footer-line-height;
      font-weight: normal;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;
      }

      .copy {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: right !important;
      }

      .donate {
        width: 50% !important;

        img {
          float: right !important;
        }
      }
    }

    .footer {
      .footer-logo {
        td {
          padding-bottom: 15px !important;
        }
        img {
          float: none !important;
          margin: 0 auto !important;
        }
      }

      .donate-social {
        table {
          float: none !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
