/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 40px;
    font-family: @gift-array-btn-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
  }

  .array {

    table {
      width: @gift-array-btn-width;
    }

    a {
      padding-top: 20px;
      width: @gift-array-btn-width - 20;
      height: 110px;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }
    }

    .four.last {
      a {
        height: 100px;
        padding-top: 30px;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }

  &.bottom {
    .spacing {
      padding-top: 0;
    }

    .array {
      width: @gift-array-btn-width * 2;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-bottom: 0 !important;
      }
      .copy {
        padding-bottom: 10px !important;
      }

      .array {
        table {
          height: auto !important;

          td {
            height: auto !important;
            padding-top: 10px !important;
          }
        }
      }

      a {
        width: 100% !important;
        height: auto !important;
        padding: 15px 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }

        br {
          display: none !important;
        }
      }

      &.bottom {
        .spacing {
          padding-top: 0 !important;
        }
      }
    }
  }
}
