// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   @tan;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #000000;
@link-color:                #4FA0D8;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  280px;
@button-height:                 auto;
@button-bg:                     #4095D0;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 1px;
@button-font-family:            @opensans;
@button-font-size:              18px;
@button-text-decoration:        none;
@button-font-weight:            700;

// Mobile button styles
@button-mobile-width:           @button-width - 50;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

// Header Button styles
@header-button-width:             119px;
@header-button-height:            @button-height;
@header-button-bg:              		#B5B22A;
@header-button-border:          		#989622;
@header-button-radius:            1px;
@header-button-color:           		#ffffff;
@header-button-font-family:       @font-family;
@header-button-font-size:       		15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             #333333;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 8;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

@johnsonbox-bg:                     @content-bg;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              29px;
@johnsonbox-line-height:            32px;
@johnsonbox-color:                  #1896D2;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			@johnsonbox-color;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            195px;
@gift-array-btn-height:         	100px;
@gift-array-btn-bg:               #FFFFFF;
@gift-array-btn-color:            #4D4D4D;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        63px;
@gift-array-btn-line-height:      63px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           16px;
@gift-array-price-font-size:      @gift-array-btn-font-size;
@gift-array-price-line-height:    @gift-array-btn-line-height;
@gift-array-price-font-weight:    @gift-array-btn-font-weight;
@gift-array-active-btn-bg:				#3D8DC5;
@gift-array-active-btn-color:			#FFFFFF;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size - 30;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height - 30;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @tan;
@footer-color:                  #66503E;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 7;
@footer-text-align:             center;
@footer-font-weight:            normal;
