.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .headline {
    padding-bottom: 0;
    font-size: 24px;
    line-height: 28px;
    color: #16548d;
    font-weight: bold;
  }

  .number {
    padding-left: 10px;
    padding-right: 5px;
    color: #000000;
    font-weight: bold;
  }

  .highlight {
    background-color: #e0d9ce;
    color: #000000;
  }

  .smaller {
    padding-top: 20px;
    font-size: 12px;
    line-height: 16px;
    color: #393939;
    text-align: center;
  }

  .twelve {
    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &.top {
    background-color: @content-bg;

    .spacing {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }

  &.instructions {
    margin: 0 auto;
    width: 480px;

    .twelve {
      width: 420px;
    }

    .columns {
      width: 420px;

      &.login {
        margin: 0 auto;
        width: auto;

        .copy {
          padding-left: 20px;
        }
      }
    }

    .button {
      border-collapse: separate;

      td {
        padding-top: 16px;
        padding-bottom: 16px;
        border-collapse: separate;
        border-radius: @button-radius;
        border-bottom: 3px solid @button-border;
      }
    }

    .six {
      width: auto;

      .copy {
        line-height: 53px;
      }

      &.donate-btn {
        width: @button-width;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .number {
        width: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .smaller {
        font-size: 12px !important;
        line-height: 16px !important;
      }

      &.top {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 0 !important;
        }
      }

      &.instructions {
        .columns {
          &.login {
            .copy {
              padding-left: 0 !important;
              padding-top: 15px !important;
              text-align: center!important;
            }
          }
        }
      }
    }
  }
}
