.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: 45px;
    }
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &.box {
    width: 467px;
    border: 2px solid #979797;

    .spacing {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .twelve {
      width: 90%;
    }

    .red {
      color: #D0021B;
      font-size: 20px;
    }

    .donate {
      padding-top: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.box {
        width: 90% !important;
      }
    }
  }
}
