@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 540px;
}

.twelve {
  width: 540px;
}

.six {
  width: 250px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}

.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #dddddd;
}

.button a:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: #dddddd;
  background-color: #dddddd;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #d1992c;
}

.header .button td:hover {
  border-color: #d1992c;
  background-color: #d1992c;
  color: #fffefe;
}

.header .button a {
  padding: 7px 0;
  border-color: #d1992c;
  color: #fffefe;
  background-color: #d1992c;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #d1992c;
}

.header .button a:hover {
  border-color: #d1992c;
  background-color: #d1992c;
  color: #fffefe;
}

.header .button a:visited,
.header .button a:active {
  border-color: #d1992c;
  background-color: #d1992c;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #d1992c;
  background-color: #d1992c;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #5c5c5c;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  width: 580px;
}

.main-content {
  width: 580px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #6b4228;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.director {
  background-color: #f9efe3;
}

.director img {
  vertical-align: top;
}

.director .copy {
  font-size: 16px;
  line-height: 24px;
}

.director .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #ab4e24;
  font-weight: normal;
}

.director td.signature {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 0;
}

.director .sig {
  padding-top: 20px;
}

.director .sig .copy {
  padding-left: 30px;
  font-size: 14px;
  line-height: 16px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #6b4228;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
}

.story .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #ab4e24;
  font-weight: normal;
}

.story .copy.story-header {
  padding-top: 15px;
  padding-bottom: 10px;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.story .button {
  width: 50%;
}

.story .button td,
.story .button a {
  border-radius: 3px;
  background-color: #d1992c;
  color: #ffffff;
  line-height: 32px;
  font-weight: normal;
  mso-border-alt: 1px solid #d1992c;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.featured .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #ab4e24;
}

.featured .copy.story-link {
  padding-bottom: 30px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header .spacing {
  padding-top: 20px;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.footer .social-icons td {
  padding: 0 5px;
}

.footer .footer-link-list a {
  font-weight: bold;
  text-decoration: none;
}

.footer .affiliates td {
  padding: 0 10px;
}

.header .donate {
  width: 100%;
}

.header .donate .button {
  width: 25%;
}

.donate {
  padding-top: 20px;
}

.story .spacing {
  padding-top: 35px;
  padding-bottom: 0;
}

.story .copy {
  padding-left: 35px;
  padding-bottom: 10px;
}

.story .copy span {
  font-weight: bold;
}

.featured .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.featured .copy {
  padding-left: 0;
  padding-bottom: 10px;
}

.director {
  border-bottom: 4px solid #ab4e24;
}

.director .copy {
  padding-top: 10px;
}

.director .copy span {
  font-weight: bold;
}

.footer .twelve {
  width: 100%;
}

.footer .copy,
.footer .copy a {
  font-size: 11px;
}

.footer .spacing .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 580px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .donate {
    width: 30% !important;
  }

  *[class].mobile .heading img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story a {
    font-size: 15px !important;
    line-height: 31px !important;
  }

  *[class].mobile .story .copy {
    padding-left: 0 !important;
    padding-top: 0 !important;
  }

  *[class].mobile .story .copy.story-header {
    padding-top: 20px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 14px !important;
    line-height: 22px !important;
  }

  *[class].mobile .featured span {
    font-size: 27px !important;
    line-height: 36px !important;
  }
}
