.forward {
  .spacing {
    padding-bottom: 40px !important;
  }

  a {
    color: #273777;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

  .copy {
    font-family: Arial, Helvetica, sans-serif;
  }
}
