@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.ten {
  width: 494px;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #96c646;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #96c646;
  background-color: #96c646;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #c51230;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #efeae5;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #efeae5;
  text-decoration: underline;
}
.header .button {
  width: 200px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #96c646;
  width: 200px;
  height: auto;
}
.header .button a {
  width: 200px;
  height: auto;
  background-color: #96c646;
  border-color: #96c646;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #c51230;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #d4af5d;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #c51230;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #c51230;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #5a4a42;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #c72032;
  font-weight: normal;
}
.preheader .copy {
  color: #c51230;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig .spacing {
  padding-top: 0;
}
.text-donate-button {
  background-color: #ffffff;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 50px;
}
.text-donate-button .donate {
  padding-top: 20px;
}
.text-donate-button .button {
  width: 280px;
}
.text-donate-button .button td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .button td a {
  font-family: Arial, Helvetica, sans-serif;
}
.gift-array {
  background-color: #e6f4d0;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #304903;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .donate {
  padding-bottom: 20px;
}
.gift-array .array .button {
  width: 576px;
  height: auto;
}
.gift-array .array .button td {
  height: auto;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 5px;
  background-color: #ffffff;
  vertical-align: middle;
}
.gift-array .array .button a {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  mso-border-alt: 1px solid #ffffff;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  color: #96c646;
  border-radius: 5px;
}
.gift-array .array .active .button {
  background-color: #96c646;
  border-radius: 5px;
}
.gift-array .array .active .button td {
  background-color: #96c646;
  border-radius: 5px;
}
.gift-array .array .active .button a {
  background-color: #96c646;
  color: #ffffff;
  mso-border-alt: 1px solid #96c646;
  border-radius: 5px;
}
.header {
  background-color: #c51230;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #efeae5;
}
.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header .donate {
  width: 100%;
}
.header .button {
  width: 100%;
  max-width: 167px;
}
.header .button a {
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background-color: #c51230;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
table,
td {
  mso-line-height-rule: exactly;
}
.header .button {
  width: 130px;
}
.header .button a {
  width: 100%;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 10px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 200px !important;
  }
  *[class].mobile .header .button {
    width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .button {
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 100% !important;
    height: auto !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 213px !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
  }
  *[class].mobile .header .button a {
    width: 100% !important;
  }
}
