// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.gift-array {
  .array {
    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.header {
  .donate {
    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.view-online {
  .copy {
    padding-bottom: 8px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .view-donate {
        width: 40% !important;
      }

      .logo {
        width: 60% !important;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .header {
      .view-donate {
        width: 40% !important;
      }

      .logo {
        width: 60% !important;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .header {
      .view-donate {
        width: 40% !important;
      }

      .logo {
        width: 60% !important;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
