// Header
.header {
  .view-donate {
    .button {
      width: @header-button-width;
      border: 3px solid @header-button-border;
      border-radius: 20px;
      border-collapse: separate;

      td {
        padding-left: 0;
        padding-right: 0;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

// Footer
.footer {
  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: normal;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }
}

.body-copy {
  .ten {
    width: 450px;
  }

  .highlight {
    background-color: #F4E752;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-weight: normal !important;
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
          }
        }
      }
    }
  }
}
