.section {
  width: 590px;
}

.main-content {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
}

.story {
  .copy {
    padding-left: 35px;
  }
}

a {
  font-size: 19px;
}

.header {
  background-color: @header-bg;

  .spacing {
    padding-top: 30px;
  }

  .copy {
    padding-right: 35px;
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    font-weight: @header-font-weight;
    color: @header-text-color;
  }
}

img.caret {
  display: inline-block;
}

.save-the-date {
  .spacing {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .copy {
    color: #AD7B3B;
    font-size: 19px;
    line-height: 23px;
  }
}

.upcoming-dates {
  .columns {
    width: 100%;
    height: 275px;

    .spacing {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .six {
    width: 290px;
    vertical-align: middle;
  }
  .content {
    height: 275px;

    table {
      width: 90%;
    }
  }
  .copy {
    padding-bottom: 15px;
  }
  .title {
    color: #966B33;
    font-size: 25px;
    line-height: 29px;
    font-weight: bold;
    text-decoration: underline;
  }
  .date {
    font-size: 15px;
    line-height: 20px;
    color: #4A4A3E;
    font-weight: bold;
  }
  .info {
    color: #4A4A3E;
    font-size: 16px;
    line-height: 23px;
  }
}

.together {
  .spacing {
    padding-top: 30px;
    max-width: 148px;
    width: 148px;
    height: 28px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .columns {
        width: 95% !important;
      }
      .copy {
        padding-right: 0 !important;
      }
    }

    .upcoming-dates {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .content {
        width: 100% !important;
        height: auto !important;

        table {
          width: 95% !important;
        }
      }

      .title {
        padding-top: 20px !important;
      }
    }

    .together {
      img {
        max-width: 148px !important;
        width: 148px !important;
        height: 28px !important;
      }
    }

    img.caret {
      width: 7px !important;
      height: auto !important;
    }
  }
}
