/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .array {
    .four {
      width: @gift-array-btn-width;
    }

    a {
      padding: 15px 0;
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
        color: #ffffff;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }

    .button {
      width: 100%;

      td {
        background-color: transparent;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array .four {
        td {
          padding-top: 5px !important;
        }
      }

      .button {
        width: 100% !important;
      }

      a {
        width: 100% !important;
        padding: 15px 0 !important;
        font-size: @gift-array-btn-font-size + 7 !important;
        line-height: @gift-array-btn-line-height + 7 !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size + 9 !important;
          line-height: @gift-array-btn-line-height + 9 !important;
        }

        br {
          display: none !important;
        }
      }
    }
  }
}
