.sidebar {
  &.hero {
    .columns {
      width: @content-width;
    }

    .seven {
      width: 355px;
      height: 381px;
      background-color: #19C7E3;

      .text {
        width: 90%;
        border: 1px solid #19C7E3;
        height: auto;
        vertical-align: middle;
      }
    }

    .five {
      width: 285px;
      height: 381px;
    }

    .copy {
      font-family: @poppins;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      strong {
        font-size: 28px;
        line-height: 36px;
      }
    }

    .hero-graphic {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .donate {
      padding-top: 25px;
      border: 1px solid #19C7E3;
      border-bottom: 1px solid #19C7E3;

      .button {
        border: 1px solid #19C7E3;
        border-bottom: 1px solid #19C7E3;

        a {
          font-size: 25px;
        }
      }
    }
  }

  &.blue {
    width: 100%;
    background-color: #F4FDFF;

    .ten {
      width: 510px;

      .spacing {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .three {
      height: 96px;

      td {
        height: 96px;
        vertical-align: middle;
      }
    }

    .eight {
      height: 96px;

      td {
        height: 96px;
        vertical-align: middle;
      }
    }

    .copy {
      font-family: @opensans;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;

      a {
        font-family: @opensans;
        font-weight: 600;
      }

      strong {
        font-weight: 800;
      }
    }
  }

  &.double-btn {
    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .ten {
      width: 510px;
    }

    .copy {
      padding-bottom: 20px;
      font-family: @poppins;
      font-size: 22px;
      line-height: 29px;
      font-weight: 700;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      &.hero {
        .five {
          display: none !important;
        }

        .seven {
          .text {
            width: 90% !important;
          }
        }

        .columns {
          width: 100% !important;
        }
      }

      &.blue {
        .three {
          width: 100% !important;

          img {
            margin: 0 auto !important;
          }
        }

        .eight {
          width: 100% !important;

          .copy {
            text-align: center !important;
          }
        }

        .copy {
          padding-left: 10px !important;
        }
      }

      &.double-btn {
        .spacing {
          padding-top: 0 !important;
          padding-bottom: 30px !important;
        }

        .five {
          margin: 0 auto !important;
          float: none !important;
        }

        .donate {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
      }
    }
  }
}
