.header {
  .button {
    width: 70%;

    a {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    td {
      border-radius: 2px;
    }
  }

  .copy {
    strong {
      color: #4e4e4e;
    }
  }
}

.story {
  .six {
    .copy {
      padding-left: 30px;
    }
  }
}

.highlighted {
  .copy {
    padding-bottom: 15px;
    padding-left: 15px;

    span {
      color: @dark-blue;
      font-weight: bold;
    }
  }

  .cta {
    margin: 0 auto;
    width: 90%;

    .donate {
      .button {
        width: 80%;
        td, a {
          background-color: @orange;
          color: #ffffff;
          border-radius: 5px;
        }

        a {
          mso-border-alt: 1px solid @orange;
        }
      }
    }
  }
}

.featured {
  .story-header {
    td.copy {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: @font-family-serif;
      color: #002c55;
      font-size: 37px;
      line-height: 43px;
    }
  }
}

.hero {
  .spacing {
    padding-top: 20px;
  }
}

.body-copy.story {
  .columns {
    width: 100%;
  }

  .copy {
    padding-bottom: 20px;
  }

  .donate {
    padding-bottom: 50px;
  }
}

.grey {
  color: #717171;
}

.light-grey {
  color: #a3a3a3;
}

.lighter-grey {
  color: #cbcbcb;
}

.lightest-grey {
  color: #f9f9f9;
}

.button.four {
  a {
    color: #ffffff;
    font-size: 16px;
    line-height: 17px;
  }
}

.footer {
  .logo {
    padding-left: 0;
  }

  .affiliates {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .story {
      .six {
        .copy {
          padding-left: 0 !important;
        }
      }
    }

    .highlighted {
      .copy {
        padding-left: 15px !important;
      }
      .cta {
        width: 95% !important;
        float: none !important;

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }

    .featured {
      .nine {
        width: 90% !important;
      }
    }

    .sidebar {
      td.copy {
        padding-bottom: 20px !important;
      }
    }

  }
}
