a.unsub {
  text-decoration: underline;
}

@media @content {
  *[class].mobile {
    .body-copy {
      .social {
        a {
          font-size: @font-size - 2 !important;
        }
      }
    }
  }
}
