.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .twelve {
    background-color: #D3EEEE;
    width: 571px;

    td {
      padding-top: 30px;
      padding-bottom: 30px;

      img {
        width: 485px;
        height: 191px;
      }
    }
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .twelve {
        td {
          padding-top: 15px !important;
          padding-bottom: 15px !important;

          img {
            width: 85% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
