/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  border-left: 1px solid #EB5F1E;
  border-right: 1px solid #EB5F1E;

  .columns {
    width: 93%;
  }

  .button {
    width: 200px;

    td {
      padding: 5px 0;
    }

    a {
      font-family: @font-family;
      font-weight: @button-font-weight;
    }
  }

  .three {
    .copy {
      a {
        font-family: @font-family-sans-serif;
      }
    }
  }
}

.main-content {
  border-left: 1px solid #EB5F1E;
  border-right: 1px solid #EB5F1E;
}

.hero-text {
  background-color: #A13404;

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    color: #FFFFFF;
  }
}

.body-copy {
  .ten {
    border-top: 1px solid #D6D6D6;

    .copy {
      padding-top: 35px;
    }
  }
}

.footer {
  .connect {
    border-top: 0 solid transparent;
  }

  .spacing {
    padding-top: 0;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {

    .header {
      .copy {
        display: block !important;
        font-family: @font-family !important;
        font-size: @header-font-size !important;
        text-align: center !important;

        a {
          font-family: @font-family !important;
          font-size: @header-font-size !important;
        }
      }

      .button {
        margin: 0 auto !important;
        width: 200px !important;

        a {
          font-size: @button-font-size !important;
        }
      }
    }

    .footer {
      .connect {
        width: 100% !important;
      }
    }
  }
}
