.director {
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;

    span {
      font-family: @newsletter-director-header-font-family;
      font-size: @newsletter-director-header-font-size;
      line-height: @newsletter-director-header-line-height;
      color: @newsletter-director-header-color;
      font-weight: normal;
    }
  }

  .signature {
    padding-left: 30px;
  }

  .sig {
    .copy {
      font-size: 14px;
      line-height: 16px;

      a {
        font-size: 17px;
      }
    }

    .director-sig,
    .bird {
      width: 50%;
    }
  }
}

@media @content {
  *[class].mobile {
    .director-sig,
    .bird {
      width: 100% !important;
    }

    .bird {
      td {
        padding-top: 20px !important;
      }
    }
  }
}
