.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @font-size;
    color: @text-color;
    text-decoration: none;
    font-weight: normal;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: 280px;
    height: 260px;

    table {
      vertical-align: middle;
    }
  }

  .copy {
    font-family: @font-family;

    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-bottom: 10px;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;

      a {
        font-family: @font-family-sans-serif;
        font-size: @newsletter-story-link-font-size;
        color: @link-color;
        font-weight: @link-weight;
      }
    }
  }

  @media @content {
    *[class].mobile {
      .story img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.featured {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copy {
    padding-left: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;

    span{
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
    }

    &.story-link {
      padding-bottom: 30px;
    }

    @media @content {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}

.highlighted {
  .columns {
    background-color: #F3ECE3;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .six {
        height: auto !important;

        table {
          width: 100% !important;
        }

        .story-header {
          padding-top: 20px !important;
        }
        
        .copy {
          padding-left: 0 !important;
        }
      }
    }

    .featured {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
    .highlighted {
      .story-img {
        padding: 10px !important;
      }

      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }
    }
  }
}
