.body-copy {
  .social {
    a {
      font-size: @font-size - 2;
    }

    img {
      display: inline-block;
    }
  }

  a {
    &.black {
      color: @text-color;
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .social {
        img {
          display: block !important;
        }
      }
    }
  }
}
