// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

@media @content {
  *[class].mobile {
    
  }
}
