/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
  width: 185px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-btn-font-weight;
  }

  .array {
    .four {
      width: @gift-array-btn-width;

       table {
        padding: 0 !important;
        width: 90%;
        display: block;
        height: 150px;
        background-color: @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;

        td {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 30px;
          width: 185px;

          a {
            display: block;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: @gift-array-btn-font-size;
            line-height: @gift-array-btn-line-height;
            font-weight: @gift-array-btn-font-weight;
            text-decoration: none;
            color: @gift-array-btn-color;

            span {
              display: block;
              width: 100%;
              font-size: @gift-array-price-font-size;
              line-height: @gift-array-price-line-height;
              font-weight: bold;
            }
          }
        }
      }

      &.last {
        table {
          td {
            padding-top: 40px;
          }
        }
      }

      &.active {
        table {
          background-color: @gift-array-active-btn;
        }
      }
    }

    &.columns.nine {
      width: 390px;
    }
  }

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array {
        .four {
          height: auto !important;

          .wrapper {
            vertical-align: top !important;
            padding: 15px 0 0 !important;
          }

           table {
            width: 100% !important;
            height: auto !important;

            tbody, tr, td {
              display: block !important;
              width: 100% !important;
            }

            td {
              width: 100% !important;
              height: auto !important;
              padding: 15px 0 !important;

              a {
                span {
                  display: inline !important;
                  font-size: @gift-array-btn-font-size + 2 !important;
                }
              }

              &.copy {
                padding-bottom: 15px !important;
                padding-left: 8px !important;
                padding-right: 8px !important;
                font-size: @gift-array-btn-font-size - 1 !important;
              }
            }
          }
        }
      }

      &.second {
        .spacing {
          padding-top: 0 !important;
        }
      }
    }
  }
}
