.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero-text {
	.hero-plates {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero-text {
			.spacing {
				padding-bottom: 0 !important;
			}
		}

		.hero-text img, .hero-plates img {
      width: 95% !important;
      height: auto !important;
		}
  }
}
