.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    background-color: @content-bg;

    .copy {
      padding-bottom: 0;
      font-family: @robotocondensed;
      font-size: 30px;
      color: #4A4A4A;
      font-weight: 400;

      span.bold {
        font-size: 60px;
        line-height: 65px;
        font-weight: 700;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.top {
        .copy {
          font-size: 25px !important;

          span.bold {
            font-size: 30px !important;
            line-height: 35px !important;
          }
        }
      }
    }
  }
}
