.solo-donate-button {
  background-color: @content-bg;

  .button {
    background-color: #FBAE40; 

    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
