/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .header-text {
    width: 75%;

    a {
      font-weight: normal;
    }
  }

  .donate {
    width: 20% ;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .header-text,
      .donate {
        width: 100% !important;
      }

      .donate {
        img {
          float: none !important;
          margin: 0 auto !important;
        }
      }

      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 10px !important;
        text-align: center;
        width: 100% !important;
        display: block !important;
      }
    }
  }
}
