.donate-button {
  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
    }
  }
}

.big {
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
}

.header {
  .button {

    a {
      mso-line-height-rule: exactly;
      mso-border-alt: 1px solid #ffffff;
      border: 1px solid #ffffff !important;
      border-radius: 5px;
      padding: 10px 5px;
    }
  }
}
