.sidebar {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .columns {
    width: 100%;
  }

  .four {
    width: 201px;
  }

  .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
    color: @johnsonbox-color;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }

      .spacing {
        padding-top: 30px !important;
        padding-bottom: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .copy {
        padding-top: 0 !important;
      }
    }
  }
}
