.director {
  width: 580px;
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .columns {
    margin: 0 auto;
    width: 520px;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .two {
    width: 128px;
  }

  .nine {
    width: 392px;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;
  }

  .sig {
    padding-top: 10px;

    .six {
      width: 50%;
    }

    .copy {
      padding-left: 0;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .director {
      .two {
        img {
          margin: 0 auto !important;
          float: none !important;
        }

        td {
          padding-bottom: 15px !important;
        }
      }

      .story-link {
        padding-top: 15px !important;
      }
    }
  }
}
