.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .columns {
    margin: 0 auto;
    width: 580px;
  }

  .six {
    width: 280px;
    height: 280px;
    background-color: #ececec;
  }

  .story-cell {
    height: 280px;
    background-color: #ececec;
    vertical-align: middle;
  }

  .the-story {
    margin: 0 auto;
    width: 80%;
    height: auto;
    vertical-align: middle;
  }

  .copy {
    font-family: @font-family;


    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }

  .story-link {
    padding-top: 10px;
    padding-bottom: 0;
  }

  @media @content {
    *[class].mobile {
      .story img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.story.featured {
  border-bottom: 0 solid transparent;

  .spacing {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 10px;
    padding-left: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;

    &.story-header {
      font-weight: bold;
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
    }

    &.story-link {
      padding-bottom: 20px;
    }

    @media @content {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}

.highlighted {
  .columns {
    background-color: #ececec;
  }

  .the-cta {
    width: 79%;

    .copy.story-header {
      color: #75ad01;
      font-size: 27px;
      line-height: 33px;
      font-weight: bold;
    }

    .story-link {
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .six {
        height: auto !important;
      }

      .the-story {
        width: 90% !important;
      }

      .story-cell {
        height: auto !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }

    .story-link {
      img {
        width: auto !important;
        height: auto !important;
      }
    }

    .featured {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    .highlighted {
      .story-img {
        padding: 0 !important;
      }

      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .story-link {
        padding-bottom: 20px !important;
      }

      .the-cta {
        width: 90% !important;
      }
    }
  }
}
