.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 10px !important;
        padding-bottom: 30px !important;
      }
    }
  }
}
