.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.header {
		img {
			width: auto;
			height: auto;
		}

		.spacing {
			padding-bottom: 10px;
		}
	}

	&.text {
		background-color: #595551;

		.copy {
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 48px;
			line-height: 53px;
			font-weight: bold;
			color: #ffffff;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.header {
				.spacing {
					padding-bottom: 0 !important;
				}
			}

			&.text {
				background-color: #595551 !important;

				.copy {
					font-size: 40px !important;
					line-height: 45px !important;
				}
			}
		}
  }
}
