.solo-donate-button {
  background-color: @johnsonbox-bg;

  .button {
    td {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &.top {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .twelve {
      width: 100%;
    }

    .button {
      width: 100%;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      &.top {
        .twelve {
          width: 100% !important;
        }

        .button {
          width: 100% !important;

          a {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}
