body {
  background-color: #ffffff;
}

// Header
.header {
  width: 100%;

  .copy {
    padding-bottom: 10px;
  }

  .columns {
    width: @content-width;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 10px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .copy.address {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
