@content-width:             550px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #D8D8D8;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               25px;
@text-color:                #1D2129;
@link-color:                #EC0044;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

@header-bg:											@content-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #464646;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

// Mobile Johnsonbox styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Button styles
@button-width:                  439px;
@button-height:                 auto;
@button-bg:                     #EE2F48;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 15px;
@button-font-family:            @font-family;
@button-font-size:              32px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Mobile button styles
@button-mobile-width:           @button-width - 200;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size - 10;

// Header Button styles
@header-button-width:              	175px;
@header-button-height:              @button-height;
@header-button-bg:              		#EE2F48;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		20px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@preheader-color:                   @body-bg;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	27px;
@gift-array-text-line-height:     30px;
@gift-array-text-color:      			#4A4A4A;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		347px;
@gift-array-btn-height:         	auto;
@gift-array-btn-bg:         			#ffffff;
@gift-array-btn-color:      			#EC0044;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	28px;
@gift-array-btn-line-height:     	31px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			30px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size - 8;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height - 8;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @content-bg;
@footer-color:                  #4A4A4A;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 4;
@footer-text-align:             center;
@footer-font-weight:            normal;
