.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.header {
		background-color: #ffffff;

		img {
			width: auto;
			height: auto;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero.header {
			img {
				margin: 0 auto !important;
				width: 90% !important;
			}
		}
  }
}

@media @tablet {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero.header {
			img {
				margin: 0 auto !important;
				width: 90% !important;
			}
		}
  }
}

@media @phone {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero.header {
			img {
				margin: 0 auto !important;
				width: 90% !important;
			}
		}
  }
}
