.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: bold;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.sidebar {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .copy {
      padding-left: 20px;
      padding-top: 10px;
      font-size: 18px;
      line-height: 25px;
      font-weight: normal;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.sidebar {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }

        .copy {
          text-align: center !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.sidebar {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }

        .copy {
          text-align: center !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.sidebar {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }

        .copy {
          text-align: center !important;
        }
      }
    }
  }
}
