.header {
  .view-donate {
    .view-online {
      .copy {
        padding-bottom: 10px;
      }
    }
  }
}

.body-copy {
  .eleven {
    width: 563px;
  }

  .red {
    font-size: 22px;
    line-height: 27px;
    color: #9F0612;
    font-weight: bold;
  }
}

.footer {
  .social-icons {
    td {
      vertical-align: middle; 
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
