.solo-donate-button {
  background-color: #0397d6;

  .spacing {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .button {
    td {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    a {
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
