// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             580px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 24px;
@line-height:               36px;
@text-color:                #4e4e4e;
@link-color:                #2a4364;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #f8981d;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 5px;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#b5b22a;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:           					#5e5e5e;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;
@newsletter-story-header-color:   			#616161;
@newsletter-story-header-font-family:		@font-family-serif;

// eNewsletter specific styles
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-header-font-size:    32px;
@newsletter-featured-header-line-height:  38px;
@newsletter-featured-header-color:   			#002c55;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  #F7F7F7;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #002c55;
@newsletter-director-border-color:  			@orange;

@footer-bg:                     #ffffff;
@footer-color:                  #725844;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3;
@footer-text-align:             center;
