// Header
.header {
  background-color: @header-bg;

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    font-weight: @header-font-weight;

    a {
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-font-weight;
    }
  }

  .view-donate {
    .button {
      width: 175px;

      td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
        background-color: @header-button-bg;
        border: 0 solid transparent;
        mso-border-alt: 0 solid transparent;
      }

      a {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        text-decoration: @header-button-text-decoration;
        color: @header-button-color;
        font-family: @maven;
        font-size: @header-button-font-size;
        font-weight: @header-button-font-weight;
      }
    }
  }
}

// Footer
.footer {
  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }
  }

  .connect {
    .copy {
      font-size: 12px;
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;

        &.underline {
          text-decoration: underline;
        }
      }
    }
  }
}

.highlight {
  background-color: #F8E71C;
}

.list {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bullet {
    padding-left: 0;
    padding-right: 20px;
  }

  .copy {
    span {
      display: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          font-weight: @footer-link-font-weight !important;
        }
      }

      .connect {
        .copy {
          font-size: 12px !important;
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;

            &.underline {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
}
