@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 540px;
}

.twelve {
  width: 540px;
}

.ten {
  width: 444px;
}

.nine {
  width: 395px;
}

.two {
  width: 57px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #5c5c5c;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 580px;
}

.main-content {
  width: 580px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #000000;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.body-copy {
  border-bottom: 3px solid #db802e;
}

.bullet {
  padding-right: 10px;
  vertical-align: top;
}

.footer .spacing {
  padding-bottom: 30px;
}

.connect {
  width: auto;
}

.connect .copy {
  font-weight: bold;
  padding-right: 5px;
}

.connect .two {
  width: 115px;
  height: 30px;
}

.connect .two .copy {
  vertical-align: middle;
}

.connect .icons {
  width: auto;
  height: 30px;
}

.connect .icons .icon {
  width: 25px;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.connect .icons .icon img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 580px ) {

  *[class].mobile .two,
  *[class].mobile .nine,
  *[class].mobile .ten {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .list {
    width: 90% !important;
  }

  *[class].mobile .connect {
    width: auto !important;
  }
}
