.header {
  .copy {
    font-size: 15px;
    line-height: 18px;
    color: #9B9B9B;
  }

  .mobile-hide {
    display: block;
    width: 100%;
  }
}

.footer {
  border-top: 0 solid transparent;

  .smaller {
    font-size: @footer-font-size - 1;
  }

  .logo {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

img.caret {
  display: inline-block;
}

// Mobile Styles
@media @content {
  *[class].mobile {

    .header {
      .mobile-hide {
        width: 0 !important;
        display: none !important;
      }

      .columns {
        width: 95% !important;
      }

      .six {
        width: 100% !important;
      }

      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 13px !important;
      }
    }

    img.caret {
      width: 7px !important;
      height: auto !important;
    }

    .main-content {
      width: 95% !important;
    }

  }
}
