@content-width:             648px;

@body-bg:                   #F7F7F7;
@content-bg:                @body-bg;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Helvetica, Arial, sans-serif;
@font-size:                 17px;
@line-height:               28px;
@text-color:                #6B6B6B;
@link-color:                #00B4E4;
@link-decoration:           none;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #ffffff;
@button-border:                 @button-bg;
@button-color:                  #00B4E4;
@button-radius:                 0;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              21px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              		#FFFFFF;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#00B4E4;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		21px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#ffffff;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					@font-size;
@johnsonbox-line-height:  					@line-height;
@johnsonbox-color:        					#6B6B6B;
@johnsonbox-text-align:   					left;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     24px;
@newsletter-story-header-line-height:   29px;
@newsletter-story-link-font-size:       18px;
@newsletter-story-link-line-height:     29px;
@newsletter-story-header-color:   			#4A4A4A;
@newsletter-story-header-font-family:		@font-family;

// eNewsletter specific styles
@newsletter-featured-font-size:           17px;
@newsletter-featured-line-height:         28px;
@newsletter-featured-header-font-size:    18px;
@newsletter-featured-header-line-height:  20px;
@newsletter-featured-header-color:   			#69DEFF;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  #F7F7F7;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #002c55;
@newsletter-director-border-color:  			#cccccc;

@footer-bg:                     @body-bg;
@footer-color:                  #9B9B9B;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              14px;
@footer-line-height:            @footer-font-size + 8;
@footer-text-align:             center;
