.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.form {
    .copy {
      font-size: 21px;
      line-height: 28px;
    }

    .six {
      width: 300px;

      .copy {
        padding-bottom: 10px;
        font-size: 22px;
        line-height: 28px;
      }
    }

    .input-box {
      width: 280px;
      background-color: #ffffff;
      border-radius: 3px;

      .copy {
        padding-top: 16px;
        padding-bottom: 16px;
        color: #f3713e;
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-bottom: 0 !important;
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.form {
        .six {
          .copy {
            padding-top: 20px !important;
            padding-bottom: 10px !important;
          }
        }

        .input-box {
          .copy {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
          }
        }
      }
    }
  }
}
