.sidebar {
  background-color: #4072B8;

  .copy {
    font-size: 24px;
    line-height: 27px;
    color: #ffffff;
    font-weight: bold;
  }

  .five {
    width: 266px;

    table {
      margin: 0 auto;
      width: 95%;

      .copy {
        padding-left: 0;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .seven {
        img {
          margin: 0 auto !important;
        }
      }

      .five {
        height: auto !important;

        table {
          width: 100% !important;
        }

        td {
          height: auto !important;
        }

        .copy {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
          text-align: center !important;
        }
      }
    }
  }
}
