.solo-donate-button {
  background-color: @content-bg;
  margin: 0 auto; 

  .button {
    width: 170px;
    height: auto;
    border-radius: @button-radius;

    td {
      padding-top: 11px;
      padding-bottom: 11px;
      height: auto;
      border-radius: @button-radius;
    }
    a {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
