.text-donate-button {
  background-color: @johnsonbox-bg;
  margin: 0 auto; 

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;
    letter-spacing: 1.17;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 170px;
    height: auto;
    background-color: #ffffff;
    border-radius: @button-radius;

    td {
      padding-top: 11px;
      padding-bottom: 11px;
      height: auto;
      background-color: #ffffff;
      border-radius: @button-radius;
    }
    a {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
      background-color: #ffffff;
      color: #417505;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
