.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-bottom: 35px;
  }

  .button {
    border-radius: 5px;

    td {
      background-color: @button-bg;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a {
      background-color: @button-bg;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
