<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            MONTH / <strong>YEAR</strong>
          </td>
          <td class="donate" align="right">

            <table class="button" align="right" border="0">
              <tr>
                <td>
                  <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">DONATE</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<table class="section heading-banner" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center">
      <img src="http://placehold.it/580x140" alt="heading banner" />
    </td>
  </tr>
</table>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Footer Social Icons -->
      <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <!-- Social Media -->
          <!-- Facebook -->
          <td>
            <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_fb.gif" alt="Facebook" width="28" height="28" border="0" /></a>
          </td>
          <!-- Linkedin -->
          <td>
            <a href="##CT315##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_linkedin.gif" alt="LinkedIn" width="28" height="28" border="0" /></a>
          </td>
          <!-- Pinterest -->
          <td>
            <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_pinterest.gif" alt="Pinterest" width="28" height="28" border="0" /></a>
          </td>
          <!-- Twitter -->
          <td>
            <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_twitter.gif" alt="Twitter" width="28" height="28" border="0" /></a>
          </td>
          <!-- Vimeo -->
          <td>
            <a href="##CT320##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_vimeo.gif" alt="Vimeo" width="28" height="28" border="0" /></a>
          </td>
          <!-- Youtube -->
          <td>
            <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_youtube.gif" alt="YouTube" width="28" height="28" border="0" /></a>
          </td>
          <!-- Instagram -->
          <td>
            <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_instagram.gif" alt="Instagram" width="28" height="28" border="0" /></a>
          </td>
          <!-- Wordpress -->
          <td>
            <a href="##CT317##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_wordpress.gif" alt="WordPress" width="28" height="28" border="0" /></a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>##CT16##</strong> &bull; ##CA30_OGE AddressPrimary## &bull; ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip## &bull; ##CT15## &bull; <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">##CT17##</a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy smaller">
            If you do not wish to receive future email updates from ##CT16##, <a href="##CT311##" target="_blank">unsubscribe&nbsp;here</a>.<br>
            &copy; {{job_year}} ##CT16##. All rights reserved. <a href="##CT310##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">Privacy&nbsp;policy</a>.
          </td>
        </tr>
      </table>

      <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="https://cdn.oneandall.com/Digital_Assets/RM/Affiliate_Logos/Black/[CI172].gif" alt="affiliates" width="65" height="66" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
