// Header
.header {
  .heading-banner {
    img {
      margin: 0 auto;
      width: auto;
    }
  }

  .donate {
    width: @header-button-width;
  }
}

.footer {
  border-top: 3px solid #cccccc;

  .copy.smaller {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .address {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .heading-banner {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
