@media @content {
  *[class].mobile {
    .copy {
      &.social {
        a {
          font-size: 14px !important;
        }
      }

      &.address {
        font-weight: normal !important;
      }
    }
  }
}
