.sidebar {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &.light-green {
    background-color: #e5f2ec;

    .spacing {
      padding-bottom: 10px;
    }
  }

  &.bags {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
    &.last {
      .spacing {
        padding-top: 30px;
      }
    }
    .bag {
      padding-left: 60px;
    }
    .copy {
      padding-left: 30px;
      padding-right: 50px;
      font-size: 22px;
      line-height: 28px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      &.bags {
        .bag {
          width: 10% !important;
          padding-left: 0 !important;

          img {
            width: auto !important;
            height: auto !important;
          }
        }
        .copy {
          width: 90% !important;
          padding-right: 0 !important;
          font-size: @font-size !important;
          line-height: @line-height !important;
        }
      }

      &.light-green {
        img {
          margin: 0 auto !important;
        }

        .spacing {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
