// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.body-copy {
  strong {
    color: #9e1c20;
  }
}


@media @content {
  *[class].mobile {
    
  }
}
