/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .donate-button {
    border-bottom: 0 solid transparent;
  }

  .button {
    width: 150px;

    td {
      padding: 10px 0;
    }

    a {
      font-family: @font-family;
      padding: 0;
    }
  }
}

.footer {
  .spacing {
    padding-top: 0;
  }

  .columns {
    &.connect {
      border-top: 0 solid transparent;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .eyebrow {
        .copy {
          padding-bottom: 10px !important;
          font-size: 12px !important;
          line-height: 17px !important;
          display: block !important;
          text-align: center !important;
        }
      }

      .donate-button {
        .button {
          float: left !important;
          margin: 0 auto !important;
          width: 150px !important;
        }
      }
    }

    .footer {
      .connect {
        .copy {
          font-size: 16px !important;
        }
      }
    }
  }
}
