@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.six {
  width: 280px;
}
.four {
  width: 174px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 271px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #F08635;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #F08635;
  background-color: #F08635;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #fcf6e8;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 130px;
  height: auto;
  background-color: #b5b22a;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #b5b22a;
  border-color: #98953B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
}
.footer {
  background-color: #fcf6e8;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 13px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fcf6e8;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fcf6e8;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #48433F;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #F08636;
  font-weight: normal;
}
.preheader .copy {
  color: #fcf6e8;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.gift-array {
  background-color: #ffffff;
}
.gift-array .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 200px;
}
.gift-array .array .gift-cell {
  height: 178px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 180px;
  height: 178px;
  background-color: #F08635;
  border-radius: 12px;
}
.gift-array .array .button td {
  padding: 0;
  height: 178px;
  vertical-align: middle;
  border-radius: 12px;
}
.gift-array .array .button table {
  margin: 0 auto;
  width: 90%;
}
.gift-array .array .button table td {
  height: auto;
  border-radius: 0;
}
.gift-array .array .button a {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 12px;
}
.gift-array .array .dollar {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  display: block;
}
.gift-array .array .dollar a {
  font-size: 34px;
  line-height: 38px;
  font-weight: bold;
}
.gift-array .array .active .button td {
  background-color: #668556;
}
.gift-array .array .active .button a {
  background-color: #668556;
  color: #ffffff;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 40px;
}
.solo-donate-button .button td {
  padding-top: 17px;
  padding-bottom: 17px;
}
.body {
  background-color: #fcf6e8;
}
.preheader .copy {
  color: #fcf6e8;
}
.header {
  background-color: #fcf6e8;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 75%;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 130px;
  height: auto;
  border-collapse: separate;
}
.header .button td {
  background-color: #b5b22a;
  border-bottom: 2px solid #98953B;
  border-radius: 4px;
  border-collapse: separate;
}
.header .button a {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer {
  background-color: #fcf6e8;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .social-affiliates {
  width: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  color: #725844;
  font-weight: normal;
  text-decoration: underline;
}
.footer .copy.address strong {
  font-size: 14px;
  line-height: 17px;
}
.footer .copy.smaller {
  padding-top: 20px;
}
.footer .six {
  width: 225px;
}
.footer .six .copy {
  padding-bottom: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.header .button td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .smaller {
  padding-top: 20px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four,
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 271px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
  *[class].mobile .gift-array .array .dollar {
    padding-bottom: 0 !important;
    display: inline-block !important;
    font-size: 24px !important;
    line-height: 26px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .footer .six {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .six .copy {
    font-size: 14px !important;
    text-align: center !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
}
