.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .button {
    border: 1px solid @button-border;

    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
