.text-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .donate {
    padding-bottom: 35px;
  }

  .button {
    border: 1px solid @button-border;

    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
