/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    background-color: @gift-array-bg;

    .wrap {
      background-color: transparent;
      width: 90%;
      margin: 0 auto;
    }

    .spacing {
      padding-top: 10px !important;
      padding-bottom: 0 !important;

      &.first {
        padding-top: 15px !important;
      }

      &.last {
        padding-bottom: 15px !important;
      }
    }

    table.twelve {
      margin: 0 auto;
      width: @gift-array-btn-width;

      td {
        background-color: @gift-array-btn-bg;
        padding: 20px 0;
        border-radius: @gift-array-btn-radius;
      }

      a {
        padding: 0;
        width: 90%;
        display: block;
        background-color: @gift-array-btn-bg;
        mso-border-alt: 1px solid @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;

        span {
          color: #000001;
          font-size: @gift-array-price-font-size;
          line-height: @gift-array-price-line-height;
          font-weight: @gift-array-price-font-weight;
        }
      }

      .spacing {
        padding-top: 20px;
        padding-bottom: 30px;
      }

      &.active {
        td {
          background-color: @gift-array-active-btn;
        }

        a {
          background-color: @gift-array-active-btn;
          color: @gift-array-active-btn-color;
          mso-border-alt: 1px solid @gift-array-active-btn;

          span {
            color: #ffffff;
          }
        }
      }
    }

  }
}

@media @content {
  *[class].mobile {
    .gift-array {

      .array {
        width: 100% !important;

        table {
          width: 85% !important;
        }
      }

      a {
        width: 90% !important;
        padding: 15px 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
