.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.teal {
    background-color: #007297;

    .button {
      border: 3px solid #ffffff;

      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  &.bottom {
    .button {
      width: 231px;

      td {
        padding-top: 12px;
        padding-bottom: 12px;
        width: 231px;
      }

      a {
        font-size: 16px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      &.bottom {
        .button {
          a {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}
