.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

// Solo Donate Button Styles
.donate {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    padding: 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }
      .button {
        td, a {
          background-color: @johnsonbox-bg !important;
        }

        img {
          margin: 0 auto !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }
      .button {
        td {
          background-color: @johnsonbox-bg !important;
        }

        img {
          margin: 0 auto !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }
      .button {
        td {
          background-color: @johnsonbox-bg !important;
        }

        img {
          margin: 0 auto !important;
        }
      }
    }
  }
}