.sig {
	img {
		width: auto;
		height: auto;
	}
  
  .spacing {
    padding-top: 0;
  }

  .copy {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @tablet {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @phone {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}