<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="logo">
            <a href="#home" target="_blank"><img src="http://placehold.it/178x60" alt="Home Logo" width="178" height="60" border="0" /></a>
          </td>
          <td class="donate" align="right">

            <table class="button" align="right" border="0">
              <tr>
                <td>
                  <a href="#donate" target="_blank">DONATE</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>The Client</strong> &bull; 123 Test Dr. &bull; World, CA 12345 &bull; <a href="#home" target="_blank">www.theclient.com</a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy smaller">
            If you do not wish to receive future email updates from The Client, <a href="#unsub" target="_blank">unsubscribe&nbsp;here</a>.<br/>
            &copy; {{job_year}} The Client. All rights reserved. <a href="#privacy" target="_blank">Privacy&nbsp;policy</a>.
          </td>
        </tr>
      </table>

      <!-- Footer Text -->
      <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <img src="http://placehold.it/69x43" alt="Affiliate" border="0" />
          </td>
          <td>
            <img src="http://placehold.it/45x45" alt="Affiliate" border="0" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
