@content-width:             640px;

@body-bg:                   #e5e5e5;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               27px;
@text-color:                #656565;
@link-color:                #da212a;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-width:                  240px;
@button-height:                 auto;
@button-bg:                     #dddddd;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 3px;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-mobile-font-size:    		15px;
@button-text-decoration:        none;
@button-font-weight:            bold;

@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		15px;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #000000;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

// Header Button styles
@header-button-width:              	200px;
@header-button-height:              @button-height;
@header-button-bg:              		#b5b22a;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@johnsonbox-bg:           					#5e5e5e;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			@johnsonbox-color;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		180px;
@gift-array-btn-height:         	130px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     #ffffff;
@footer-color:                  #000000;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3;
@footer-text-align:             center;
@footer-font-weight:            normal;
