.header {
  a {
    font-family: @header-font-family;
  }
}

.footer {
  width: 100%;
  border-top: 4px solid #ffffff;

  .spacing {
    padding-bottom: 20px;
  }
  .copy.smaller {
    padding-bottom: 20px;
  }
}