.sidebar {
  background-color: @body-bg;

  .columns {
    width: 100%;
  }

  table.six {
    width: 276px;
    height: 370px;
    background-color: #ffffff;
  }

  .height {
    height: 370px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copy {
    padding-top: 15px;
    padding-bottom: 10px;
    height: 75px;
    font-size: 23px;
    line-height: 30px;
    color: #D1232A;

    &.squeeze {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  &.contact {
    background-color: #05AFCC;
    border-bottom: 0 solid transparent;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .six {
      background-color: #05AFCC;
      height: auto;

      .spacing {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    .copy,
    .copy a {
      color: #ffffff;
      font-size: 15px;
    }

    .copy {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
      font-size: 18px;
    }

    a {
      font-weight: normal;
      text-decoration: underline;
    }

    .bigger {
      padding-top: 20px;
      font-weight: bold;
      font-size: 37px;
      line-height: 47px;
      color: #FFFFFF;
    }

    .name {
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 21px;
      line-height: 23px;
      font-weight: bold;
    }

    .info {
      font-size: 15px;
      line-height: 21px;
      color: #FFFFFF;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .columns {
        width: 100% !important;
      }

      .six {
        height: auto !important;
        border-bottom: 40px solid @body-bg !important;

        &.last {
          border-bottom: 0 solid transparent !important;
        }

        .spacing {
          padding-top: 40px !important;
          padding-bottom: 40px !important;
        }

        .height {
          height: auto !important;
        }

        table {
          width: 90% !important;
        }
      }

      .copy {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        height: auto !important;

        &.squeeze {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      &.contact {
        width: 100% !important;

        a {
          font-size: 15px !important;
          line-height: 21px !important;
        }

        .six {
          border-bottom: 0 solid transparent !important;
          margin: 0 auto !important;
          float: none !important;

          table {
            margin: 0 auto !important;
            float: none !important;
          }

          .spacing {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
          }

          &.first {
            border-right: 0 solid transparent !important;

            .spacing {
              padding-top: 0 !important;
              padding-bottom: 0 !important;
            }
          }
        }

        .bigger {
          padding-bottom: 0 !important;
        }

        .name {
          padding-bottom: 0 !important;
        }

        .info {
          padding-top: 5px !important;
        }
      }
    }
  }
}
