<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">
      Lorem ipsum
    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>

          <td class="logo" align="left">
            <a href="http://www.atlantamission.org" target="_blank"><img src="images/header-logo.gif" alt="Atlanta Mission. Ending Homelessness." width="254" height="55" border="0" /></a>
          </td>

          <td class="donate" align="right">
            <table class="button" align="right" border="0">
              <tr>
                <td>
                  <a href="#donate" target="_blank">DONATE</a>
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">
            <a href="http://www.atlantamission.org" target="_blank"><img src="images/footer-logo.gif" alt="Atlanta Mission" width="75" height="75" /></a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">

            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="https://www.facebook.com/atlantamission" target="_blank"><img src="images/footer-facebook.gif" alt="Facebook" width="28" height="28" border="0" /></a>
                </td>
                <td>
                  <a href="https://twitter.com/atlmission" target="_blank"><img src="images/footer-twitter.gif" alt="Twitter" width="28" height="28" border="0" /></a>
                </td>
                <td>
                  <a href="https://www.youtube.com/user/AtlantaMission" target="_blank"><img src="images/footer-youtube.gif" alt="YouTube" width="28" height="28" border="0" /></a>
                </td>
                <td>
                  <a href="https://instagram.com/atlmission/" target="_blank"><img src="images/footer-instagram.gif" alt="Instagram" width="28" height="28" border="0" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy">
                  <strong>Atlanta Mission</strong> &bull; 2353 Bolton Road NW &bull; Atlanta, GA 30318 &bull; 404.588.4000 &bull; <a href="http://www.atlantamission.org" target="_blank">atlantamission.org</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy smaller unsubscribe">
                  If you do not wish to receive future email updates from Atlanta&nbsp;Mission, <span class="no-blue"><unsubscribe>unsubscribe&nbsp;here</unsubscribe></span>.<br/>
                  To manage email preferences, <span class="no-blue"><preferences>click&nbsp;here</preferences></span>.<br/>
                  &copy; 2018 Atlanta Mission. All rights reserved. <a href="http://www.atlantamission.org/privacy-policy" target="_blank">Privacy&nbsp;policy</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="images/footer-rescuemissions.gif" alt="rescue missions" width="69" height="43" border="0" />
                </td>
                <td>
                  <img src="images/footer-ecfa.gif" alt="ECFA" width="45" height="45" border="0" />
                </td>
                <td>
                  <img src="images/footer-guidestar.gif" alt="GuideStar" width="77" height="48" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
