.button {
  a {
    padding: 15px 0;
  }
}

.header {
  .spacing {
    padding-top: 20px;
  }

  .logo {
    width: 80%;
  }

  .donate {
    width: 20%;
  }

  .button {
    width: 100%;
    font-weight: @header-button-font-weight;

    td {
      padding: 7px 0;
    }

    a {
      padding: 0;
    }
  }
}

.footer{
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  table .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy, .copy a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .copy.smaller, .copy.smaller a {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
  }

  .no-blue {
    font-family: @footer-font-family;
    font-size: @footer-font-size - 1;
    line-height: @footer-line-height;
    font-weight: normal;
    color: @footer-link-color;
    text-align: @footer-text-align;
    text-decoration: @footer-text-decoration;
  }

  .social-icons {
    td {
      padding: 0 8px;
    }
  }

  .affiliates {
    td {
      padding: 0 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 65% !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
      .donate {
        width: 35% !important;

        a {
          font-size: @header-button-font-size !important;
        }
      }
    }

    .footer {
      .copy {
        font-size: @footer-font-size !important;
        line-height: @footer-font-size + 5 !important;
      }
      .copy.smaller, .copy.smaller a {
        font-size: @footer-font-size !important;
        line-height: @footer-line-height + 3 !important;
      }
    }
  }
}
