.johnsonbox {
  background-color: transparent;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .copy {
    padding-top: 0;
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.title {
      padding-top: 35px;
      color: #E2294E;
      font-family: @encode-sans;
      font-size: 25px;
      line-height: 40px;
      font-weight: 800;
    }
  }

  .button {
    width: 207px;

    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      font-family: @encode-sans;
      font-size: @button-font-size;
      font-weight: 800;
    }
  }

  &.top {
    .spacing {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .copy {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: @encode-sans;
      font-size: 32px;
      line-height: 40px;
      color: #0337AE;
      font-weight: 800;
    }
  }

  &.blue {
    .spacing {
      padding-bottom: 0;
    }

    .donate {
      padding-bottom: 20px;

      &.last {
        padding-bottom: 0;
      }
    }

    .button {
      td {
        background-color: #34569B;
      }

      a {
        background-color: #34569B;
        mso-border-alt: 1px solid #34569B;
        font-family: @encode-sans;
        font-size: 32px;
        font-weight: 400;
      }

      .price1 {
        font-weight: 800;
      }

      .price2 {
        font-weight: 700;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        &.title {
          padding-top: 0 !important;
          font-size: 22px !important;
          text-align: center !important;
        }
      }

      img {
        float: none;
        margin: 0 auto !important;
      }

      .button {
        width: 208px !important;

        a {
          font-size: 20px !important;
        }
      }

      &.top {
        .copy {
          font-size: 24px !important;
          line-height: 32px !important;
        }
      }
    }
  }
}
