.ps-statement {
  .ps {
    width: 35px;
    padding-right: 5px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  a {
    font-weight: normal;
    text-decoration: underline;
  }
}
