.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: #00B4E4;
      font-weight: bold;
    }
  }

  .button {
    a {
      font-size: @button-font-size;
    }
  }

  .story-header {
    padding-top: 20px;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
  }

  .story-link {
    padding-top: 20px;
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .columns {
        width: 100% !important;
      }

      .copy {
        font-size: 16px !important;

        &.story-header {
          padding-bottom: 10px !important;
          font-size: @newsletter-story-header-font-size !important;
        }
      }

      .story-link {
        padding-top: 10px !important;
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
