.story {
  background-color: #ffffff;
  height: 297px;

  a {
    font-family: @font-family;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .columns {
    width: 100%;
  }

  .seven {
    width: 338px;
  }

  .five {
    vertical-align: middle;
    width: 310px;
    height: 297px;
  }

  .copy {
    font-family: @font-family;

    &.story-header {
      padding-bottom: 10px;
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
    }

    &.story-link {
      padding-top: 10px;

      a {
        color: #00B4E4;
        font-weight: bold;
      }
    }
  }
}

.story-wrapper {
  vertical-align: middle;

  table {
    margin: 0 auto;
    float: none;
    width: 85%;
    height: auto;
    vertical-align: middle;
  }
}

.body-copy.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;

  .spacing {
    padding-bottom: 0;
  }
}

.story.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;

  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    padding-bottom: 20px;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: #FFFFFF;

    &.blue {
      padding-top: 20px;
      color: @newsletter-featured-header-color;
      font-weight: bold;
    }

    &.story-link {
      table {
        td {
          width: 230px;
          height: 62px;
          background-color: @button-bg;
        }
      }

      a {
        display: block;
        width: 230px;
        height: 62px;
        background-color: @button-bg;
        color: @button-color;
        font-size: @button-font-size;
        font-weight: @button-font-weight;
        line-height: 62px;
        mso-line-height-rule: exactly;
        mso-border-alt: 1px solid @button-bg;
        vertical-align: middle;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .story {
      height: auto !important;

      .five {
        width: 100% !important;
        height: auto !important;
      }

      .columns {
        width: 100% !important;
      }

      img {
        width: 100% !important;
        height: auto !important;
      }

      .copy {
        font-size: 16px !important;

        &.story-header {
          font-size: @newsletter-story-header-font-size !important;
        }
      }
    }

    .story-wrapper {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      height: auto !important;

      table {
        width: 90% !important;
      }
    }

    .copy {
      &.story-link {
        a {
          width: 270px !important;
        }
      }
    }

    .body-copy.featured {
      width: 100% !important;
    }

    .featured {
      width: 100% !important;
      
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}
