@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.six {
  width: 280px;
}

.columns .first {
  padding-left: 0;
}

.columns .last {
  padding-right: 0;
}

.preheader .copy {
  color: #fef8f2;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fef8f2;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #fef8f2;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #8e8c8a;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #8e8c8a;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fef8f2;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fef8f2;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #e97900;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 43px;
  line-height: 46px;
  color: #e97900;
  font-weight: bold;
}

.johnsonbox .copy a {
  color: #e97900;
  text-decoration: none;
}

.johnsonbox.top .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.johnsonbox.orange-bar {
  background-color: #e97900;
}

.johnsonbox.orange-bar .copy,
.johnsonbox.orange-bar .copy a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
}

.johnsonbox.orange-bar .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar.green-bar {
  background-color: #53682b;
}

.sidebar.green-bar .copy,
.sidebar.green-bar .copy a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.sidebar.green-bar .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar.action-set .columns {
  border-top: 4px solid #ffffff;
  width: 640px;
}

.sidebar.action-set .six {
  width: 320px;
  height: 120px;
}

.sidebar.action-set .six .copy {
  padding-left: 15px;
  font-size: 16px;
  line-height: 20px;
}

.sidebar.action-set .six table {
  width: 86%;
  margin: 0 auto;
}

.sidebar.action-set .six table td {
  height: 120px;
  vertical-align: middle;
}

.sidebar.action-set .six.last {
  border-left: 4px solid #ffffff;
}

.sidebar.action-set .orange {
  background-color: #fef8f2;
}

.sidebar.action-set .orange .copy a {
  color: #e97900;
  text-decoration: none;
}

.sidebar.action-set .green {
  background-color: #edf0e9;
}

.sidebar.action-set .green .copy a {
  color: #53682b;
  text-decoration: none;
}

.sidebar.action-set.last {
  border-bottom: 10px solid #e97900;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #fef8f2;
}

.preheader .copy {
  color: #fef8f2;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fef8f2;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .donate {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #fef8f2;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
  padding-top: 15px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #8e8c8a;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

/* uncss:ignore */

.body-copy .copy img {
  display: inline-block;
}

.list .copy {
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 32px;
}

.list .copy.bullet {
  padding-left: 0;
  vertical-align: top;
}

.list .copy.last {
  padding-bottom: 0;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 30px !important;
    line-height: 39px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .johnsonbox.orange-bar .spacing {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }

  *[class].mobile .johnsonbox.orange-bar .copy,
  *[class].mobile .johnsonbox.orange-bar .copy a {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  *[class].mobile .sidebar.green-bar .spacing {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  *[class].mobile .sidebar.action-set .columns {
    width: 100% !important;
    border-top: 0 solid transparent !important;
  }

  *[class].mobile .sidebar.action-set .six {
    height: auto !important;
    border-top: 2px solid #ffffff !important;
  }

  *[class].mobile .sidebar.action-set .six table {
    width: 90% !important;
  }

  *[class].mobile .sidebar.action-set .six table td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: auto !important;
  }

  *[class].mobile .sidebar.action-set .six.last {
    border-left: 0 solid transparent !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .logo-donate-social {
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td {
    padding-right: 0 !important;
    padding-bottom: 30px;
    text-align: center !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-donate img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .donate-social {
    height: auto !important;
  }

  *[class].mobile .body-copy .copy {
    font-size: 18px !important;
    line-height: 29px !important;
  }
}
