@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 560px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 600px;
}

.main-content {
  width: 600px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #25438D;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #f4efcd;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #ea440a;
  color: #ffffff;
}

.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body-copy .spacing {
  padding-bottom: 20px;
}

.body-copy strong {
  font-style: italic;
}

@media only screen and (max-width: 600px ) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .body-copy .spacing {
    padding-bottom: 0 !important;
  }
}
