@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 640px;
}

.twelve {
  width: 640px;
}

.six {
  width: 320px;
}

.columns .first {
  padding-left: 0;
}

.preheader .copy {
  color: #F8F8F8;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .copy {
  width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 18px;
  color: #9E2204;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #F8F8F8;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F8F8F8;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.content {
  width: 640px;
}

.copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 28px;
  color: #4A4A3E;
}

.copy a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  color: #9E2204;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

.sidebar .columns {
  width: 100%;
}

.sidebar .six {
  width: 290px;
}

.sidebar.featurettes .copy {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar.featurettes .spacing {
  padding-bottom: 50px;
}

.sidebar.contact {
  background-color: #507379;
}

.sidebar.contact .spacing {
  padding-top: 45px;
  padding-bottom: 55px;
}

.sidebar.contact .columns .spacing {
  padding-top: 30px;
  padding-bottom: 0;
}

.sidebar.contact .first {
  border-right: 2px solid #608085;
}

.sidebar.contact .copy,
.sidebar.contact .copy a {
  color: #ffffff;
}

.sidebar.contact a {
  font-weight: normal;
  text-decoration: underline;
}

.sidebar.contact .bigger {
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  color: #FFFFFF;
}

.sidebar.contact .name {
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 21px;
  line-height: 23px;
  font-weight: bold;
}

.sidebar.contact .info {
  font-size: 15px;
  line-height: 21px;
  color: #FFFFFF;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #4A4A3E;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
}

.story .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.story .copy.story-header {
  padding-top: 15px;
  padding-bottom: 10px;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.featured {
  border-bottom: 0 solid transparent !important;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  padding-right: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 28px;
  color: #4A4A3E;
}

.featured .copy.story-header {
  padding-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 36px;
  line-height: 42px;
  color: #507379;
  font-weight: bold;
}

.featured .copy.story-author {
  padding-top: 5px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 19px;
  color: #AD7B3B;
  font-style: italic;
}

.featured .copy.story-link {
  padding-bottom: 30px;
}

.featured .copy.story-link a {
  color: #9E2204;
}

.featured .copy.story-link a img {
  display: inline-block;
  padding-left: 3px;
}

.highlighted {
  background-color: #F4F4F2;
}

.highlighted .columns {
  width: 89%;
}

.highlighted .six {
  width: 240px;
}

.highlighted .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.highlighted .quote {
  height: 230px;
}

.highlighted .quote .copy {
  padding-left: 0;
  font-family: Georgia, Times, serif;
  color: #46676E;
  font-size: 25px;
  line-height: 34px;
}

.highlighted .quote .quotation-mark {
  width: 10px;
}

.highlighted .person {
  padding-top: 15px;
}

.highlighted .person .copy {
  padding-right: 5px;
  font-style: italic;
  color: #7D7D69;
  font-size: 16px;
  line-height: 22px;
}

.body {
  background-color: #F8F8F8;
}

.preheader .copy {
  color: #F8F8F8;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #F8F8F8;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: #9E2204;
}

.featured {
  border-bottom: 2px solid #cccccc;
}

.section {
  width: 590px;
}

.main-content {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}

.story .copy {
  padding-left: 35px;
}

a {
  font-size: 19px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-top: 30px;
}

.header .copy {
  padding-right: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #9E2204;
}

img.caret {
  display: inline-block;
}

.save-the-date .spacing {
  padding-top: 30px;
  padding-bottom: 10px;
}

.save-the-date .copy {
  color: #AD7B3B;
  font-size: 19px;
  line-height: 23px;
}

.upcoming-dates .columns {
  width: 100%;
  height: 275px;
}

.upcoming-dates .columns .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.upcoming-dates .six {
  width: 290px;
  vertical-align: middle;
}

.upcoming-dates .content {
  height: 275px;
}

.upcoming-dates .content table {
  width: 90%;
}

.upcoming-dates .copy {
  padding-bottom: 15px;
}

.upcoming-dates .title {
  color: #966B33;
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
  text-decoration: underline;
}

.upcoming-dates .date {
  font-size: 15px;
  line-height: 20px;
  color: #4A4A3E;
  font-weight: bold;
}

.upcoming-dates .info {
  color: #4A4A3E;
  font-size: 16px;
  line-height: 23px;
}

.together .spacing {
  padding-top: 30px;
  max-width: 148px;
  width: 148px;
  height: 28px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 14px !important;
    line-height: 17px !important;
  }

  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .content {
    width: 95% !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sidebar.featurettes img {
    width: 100% !important;
    height: auto;
  }

  *[class].mobile .sidebar.featurettes .spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar.featurettes .copy {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar.contact {
    width: 90.625% !important;
  }

  *[class].mobile .sidebar.contact a {
    font-size: 15px !important;
    line-height: 21px !important;
  }

  *[class].mobile .sidebar.contact .columns .spacing {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar.contact .six {
    width: 80% !important;
    margin: 0 auto !important;
    float: none !important;
  }

  *[class].mobile .sidebar.contact .six.first {
    border-right: 0 solid transparent !important;
    border-bottom: 2px solid #608085 !important;
  }

  *[class].mobile .sidebar.contact .six.first .spacing {
    padding-top: 0 !important;
    padding-bottom: 30px !important;
  }

  *[class].mobile .sidebar img.caret {
    width: 7px !important;
    height: auto !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 17px !important;
    line-height: 26px !important;
  }

  *[class].mobile .featured .copy.story-header {
    padding-top: 0 !important;
    font-size: 27px !important;
    line-height: 32px !important;
  }

  *[class].mobile .featured .copy.story-author {
    padding-bottom: 15px !important;
    font-size: 15px !important;
    line-height: 22px !important;
  }

  *[class].mobile .featured .copy.story-link {
    padding-bottom: 20px !important;
  }

  *[class].mobile .highlighted {
    width: 90.625% !important;
  }

  *[class].mobile .highlighted .spacing {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  *[class].mobile .highlighted .columns {
    width: 80% !important;
  }

  *[class].mobile .highlighted .quote {
    height: auto !important;
  }

  *[class].mobile .highlighted .quote .spacing {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile img.caret {
    width: 7px !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 95% !important;
  }

  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }

  *[class].mobile .upcoming-dates img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .upcoming-dates .content {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .upcoming-dates .content table {
    width: 95% !important;
  }

  *[class].mobile .upcoming-dates .title {
    padding-top: 20px !important;
  }

  *[class].mobile .together img {
    max-width: 148px !important;
    width: 148px !important;
    height: 28px !important;
  }

  *[class].mobile img.caret {
    width: 7px !important;
    height: auto !important;
  }
}
