@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.six {
  width: 280px;
}

.columns .first {
  padding-left: 0;
}

.columns .last {
  padding-right: 0;
}

.button {
  float: none !important;
}

.button td {
  background-color: #16548d;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #0c2d4b;
  background-color: #0c2d4b;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #124573;
  background-color: #16548d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #16548d;
}

.button a:hover {
  border-color: #0c2d4b;
  background-color: #0c2d4b;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #124573;
  background-color: #16548d;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #0c2d4b;
  background-color: #0c2d4b;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #b5b22a;
}

.header .button td:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: #b5b22a;
  font-weight: normal;
  font-size: 18px;
  mso-border-alt: 1px solid #b5b22a;
}

.header .button a:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #b5b22a;
  background-color: #b5b22a;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .logo.spacing {
  padding-top: 50px;
  padding-left: 2px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #725844;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 1px;
}

.footer .social-icons .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 10px;
}

.footer .affiliates td {
  padding: 0 3px;
}

.footer .affiliates td.first {
  padding: 0 3px 0 0;
}

.footer .affiliates td.last {
  padding: 0 0 0 3px;
}

.footer .affiliates .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #393939;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #16548d;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero .spacing {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.johnsonbox {
  margin: 0 auto;
  float: none;
  width: 480px;
  background-color: #fcf7ef;
  text-align: left;
}

.johnsonbox .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.johnsonbox .copy {
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #70614b;
}

.johnsonbox .copy a {
  color: #16548d;
  text-decoration: none;
}

.johnsonbox .copy.heading {
  padding-left: 0;
  padding-bottom: 10px;
  color: #16548d;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.johnsonbox .copy.number {
  padding-left: 10px;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: top;
}

.johnsonbox .copy span {
  padding: 3px;
  background-color: #e0d9ce;
  font-size: 15px;
  color: #000000;
}

.johnsonbox .columns {
  width: 100%;
}

.johnsonbox .donate {
  padding-top: 10px;
  padding-left: 50px;
}

.johnsonbox .six {
  width: 200px;
}

.johnsonbox .six.button {
  float: left !important;
  width: 150px;
}

.johnsonbox .six.button a {
  padding-top: 15px;
  padding-bottom: 12px;
  border-radius: 2px;
  border: 1px solid #124573;
  border-bottom-width: 3px;
  color: #ffffff;
  font-weight: normal;
}

.johnsonbox .six .copy {
  padding-top: 12px;
}

.johnsonbox .log {
  padding-top: 20px;
  color: #393939;
  font-size: 12px;
  line-height: 20px;
}

.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
  padding-left: 50px;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .logo {
  width: 75%;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button a {
  padding: 10px 0;
  font-weight: normal;
  border-bottom: 2px solid #98953B;
  mso-border-alt: 1px solid #b5b22a;
}

.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}

.color-bar .yellow {
  background-color: #feca30;
}

.color-bar .blue {
  background-color: #1897d4;
}

.color-bar .orange {
  background-color: #f69831;
}

.color-bar .green {
  background-color: #d1cd31;
}

.footer {
  background-color: #ffffff;
}

.footer .copy span {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.footer .copy.smaller {
  padding-top: 10px;
}

.footer .social-icons {
  width: 280px;
}

.footer .social-icons .spacing {
  padding-right: 0;
}

.footer .social-icons .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.footer .affiliates .spacing {
  padding-left: 25px;
}

.footer .affiliates .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

/* Targetting Tablets */

/* Targeting Mobile */

@media only screen and (max-width: 640px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 18px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    margin: 0 auto !important;
    width: 95% !important;
    height: auto !important;
  }

  *[class].mobile .hero .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .copy.number {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .donate {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .six {
    width: 50% !important;
  }

  *[class].mobile .johnsonbox .six .copy {
    padding-left: 30px !important;
  }

  *[class].mobile .johnsonbox .columns {
    width: 95% !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sig .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .logo img {
    height: auto !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }

  *[class].mobile .footer .social-icons table,
  *[class].mobile .footer .affiliates table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .social-icons table .copy,
  *[class].mobile .footer .affiliates table .copy {
    text-align: center !important;
    font-size: 14px !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }

  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 18px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    margin: 0 auto !important;
    width: 95% !important;
    height: auto !important;
  }

  *[class].mobile .hero .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .copy.number {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .donate {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .six {
    width: 50% !important;
  }

  *[class].mobile .johnsonbox .six .copy {
    padding-left: 30px !important;
  }

  *[class].mobile .johnsonbox .columns {
    width: 95% !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sig .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .logo img {
    height: auto !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }

  *[class].mobile .footer .social-icons table,
  *[class].mobile .footer .affiliates table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .social-icons table .copy,
  *[class].mobile .footer .affiliates table .copy {
    text-align: center !important;
    font-size: 14px !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }

  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 480px) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 18px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    margin: 0 auto !important;
    width: 95% !important;
    height: auto !important;
  }

  *[class].mobile .hero .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .copy.number {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .donate {
    padding-left: 0 !important;
  }

  *[class].mobile .johnsonbox .six {
    width: 50% !important;
  }

  *[class].mobile .johnsonbox .six .copy {
    padding-left: 30px !important;
  }

  *[class].mobile .johnsonbox .columns {
    width: 95% !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sig .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .logo img {
    height: auto !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }

  *[class].mobile .footer .social-icons table,
  *[class].mobile .footer .affiliates table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .social-icons table .copy,
  *[class].mobile .footer .affiliates table .copy {
    text-align: center !important;
    font-size: 14px !important;
  }

  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }

  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
  }
}
