.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    background-color: @content-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 15px;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 0;
      font-family: @johnsonbox-font-family;
      color: #144D6E;
      font-size: 21px;
      line-height: 23px;
      font-weight: bold;
    }

    .button {
      border-radius: @button-radius;

      img {
        display: inline-block;
      }

      td {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &.white {
    background-color: #ffffff;

    .copy {
      padding-bottom: 15px;
      color: #58ACB0;
      font-size: 23px;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .button {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
