@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 606px;
}
.twelve {
  width: 606px;
}
.eleven {
  width: 553px;
}
.ten {
  width: 499px;
}
.six {
  width: 283px;
}
.three {
  width: 122px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.footer {
  background-color: #01A9E0;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  width: 646px;
}
.main-content {
  width: 646px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 17px;
  line-height: 25px;
  color: #42393D;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
td.hide {
  min-width: 646px;
}
td.hide img {
  width: 646px;
  min-width: 646px;
}
.story .spacing {
  padding-top: 30px;
  padding-bottom: 0;
}
.story .columns {
  width: 100%;
  background-color: #ffffff;
}
.story .six {
  width: 324px;
  height: 351px;
}
.story .six.content-block {
  width: 320px;
  background-color: #ffffff;
  border-top: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  vertical-align: middle;
}
.story .six .story-cell {
  margin: 0 auto;
  width: 85%;
}
.story .copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  padding-top: 15px;
  padding-bottom: 15px;
}
.story .copy a {
  font-size: 17px;
  line-height: 25px;
  color: #42393D;
  font-weight: normal;
  text-decoration: none;
}
.story .story-header {
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 24px;
  line-height: 28px;
  color: #08AEE3;
  font-weight: normal;
}
.story .story-header a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 24px;
  line-height: 28px;
  color: #08AEE3;
  font-weight: normal;
  text-decoration: none;
}
.story .author-block {
  width: 100%;
}
.story .author-block .spacing {
  padding-top: 0;
}
.story.recap .six {
  height: 298px;
}
.story.featured {
  background-color: #ffffff;
  border-bottom: 0 solid transparent;
}
.story.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.story.featured .copy {
  padding-left: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 19px;
  line-height: 25px;
  color: #4A4A4A;
}
.story.featured .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 19px;
  line-height: 25px;
  color: #4A4A4A;
  text-decoration: none;
  font-weight: normal;
}
.story.featured .story-header {
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 30px;
  line-height: 35px;
  color: #08AEE3;
  font-weight: normal;
}
.story.featured .story-header a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 30px;
  line-height: 35px;
  color: #08AEE3;
  font-weight: normal;
  text-decoration: none;
}
.story.featured .copy-text {
  width: 590px;
}
.story.featured.piggy {
  background-color: transparent;
}
.story.featured.piggy .spacing {
  padding-bottom: 0;
}
.story.featured.piggy .columns {
  background-color: #ffffff;
  border-top: 0 solid transparent;
  border-left: 1px solid #EDF6F7;
  border-right: 1px solid #EDF6F7;
}
.story.featured.piggy .copy {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 25px;
}
.story.featured.piggy .story-header {
  padding-bottom: 0;
  font-size: 24px;
  line-height: 28px;
}
.body {
  background-color: #ffffff;
}
.featured {
  border-bottom: 2px solid #cccccc;
}
.footer {
  background-color: #01A9E0;
  border-top: 3px solid #cccccc;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.social-banner {
  width: 100%;
  background-color: #08AEE3;
}
.social-banner .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-banner .columns {
  width: 650px;
}
.social-banner .social-icons {
  margin: 0 auto;
  width: auto;
}
.social-banner .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.social-banner .social-icons td.last {
  padding-right: 0;
}
.header-logo {
  width: 100%;
}
.header-logo .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header-logo .grey-dots-table {
  width: 100%;
  height: 12px;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/07/34127_missionMonthly/Base/images/grey-dots.png');
  background-repeat: repeat-x;
  background-size: 14px 12px;
  background-position: top center;
}
.header-logo .grey-dots-table .colored-dots {
  width: 658px;
}
.header-logo .grey-dots-table .colored-dots td {
  font-size: 12px;
  line-height: 12px;
}
.header-logo .grey-dots-table .colored-dots .show-mobile {
  display: none;
}
.header-logo .grey-dots-table .colored-dots .hide-mobile {
  display: block;
}
.color-bar {
  width: 100%;
}
.color-bar td {
  width: 33.333%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .teal {
  background-color: #59C5C7;
}
.color-bar .blue {
  background-color: #4FACDE;
}
.color-bar .dark-blue {
  background-color: #0483C3;
}
.main-content.white-bg {
  background-color: #FFFFFF;
}
.main-content.dots-bg {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/07/34127_missionMonthly/Base/images/big-grey-dots.png');
  background-repeat: repeat;
  background-size: 28px 28px;
  background-position: top center;
  background-color: #f9f9f9;
}
.mission .twelve {
  width: 100%;
}
.mission .spacing {
  padding-bottom: 30px;
}
.mission .copy {
  padding-bottom: 0;
}
.mission .story-header {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  color: #78BE21;
  font-size: 33px;
  line-height: 40px;
  font-weight: 300;
}
.footer {
  width: 100%;
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer .logo {
  padding-bottom: 20px;
}
.box {
  padding-top: 25px;
  padding-bottom: 20px;
}
.box table {
  width: 85px;
}
.box table td {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 700;
}
.box .teal {
  background-color: #00AAAC;
}
.box .pink {
  background-color: #E31C79;
}
.box .green {
  background-color: #018164;
}
.author-block {
  border-top: 1px solid #EBEBEB;
}
.author-block .copy {
  padding-left: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}
.author-block.lori {
  background-color: #ffffff;
  border-left: 1px solid #EDF6F7;
  border-right: 1px solid #EDF6F7;
  border-bottom: 1px solid #EDF6F7;
}
.author-block.lori.author-block .copy {
  font-size: 14px;
  line-height: 19px;
}
.content-block .author-block .copy {
  font-size: 14px;
  line-height: 19px;
}
td.hide {
  min-width: 660px;
}
td.hide img {
  width: 660px;
  min-width: 660px;
}
@media only screen and (max-width: 646px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .six,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .six,
  *[class].mobile .columns .eleven {
    width: 100% !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .six {
    height: auto !important;
  }
  *[class].mobile .story .six td {
    height: auto !important;
  }
  *[class].mobile .story .six.content-block {
    display: block !important;
    height: auto !important;
    border-top: 0 solid transparent !important;
    border-right: 1px solid #F3F3F3 !important;
    border-left: 1px solid #F3F3F3 !important;
    border-bottom: 1px solid #F3F3F3 !important;
  }
  *[class].mobile .story.recap .spacing {
    padding-bottom: 30px !important;
  }
  *[class].mobile .story.featured .spacing {
    padding-bottom: 0 !important;
  }
  *[class].mobile .story.featured .copy {
    font-size: 17px !important;
    line-height: 25px !important;
  }
  *[class].mobile .story.featured .copy-text {
    width: 90% !important;
  }
  *[class].mobile .story.featured .copy-text .copy {
    padding-bottom: 20px !important;
  }
  *[class].mobile .story.featured .story-header {
    padding-top: 0 !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }
  *[class].mobile .story.featured.piggy .eleven {
    width: 90% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .social-banner .columns {
    width: 95% !important;
  }
  *[class].mobile .social-banner .social-icons {
    width: auto !important;
  }
  *[class].mobile .social-banner .social-icons .first {
    padding-left: 0 !important;
  }
  *[class].mobile .social-banner .three {
    width: 50% !important;
  }
  *[class].mobile .header-logo .grey-dots-table {
    height: 8px !important;
    background-size: 9px 8px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots {
    width: 100% !important;
    height: 8px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots .show-mobile {
    display: block !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots .hide-mobile {
    display: none !important;
  }
  *[class].mobile .main-content.dots-bg {
    background-size: 14px 14px !important;
  }
  *[class].mobile .lori {
    width: 90.625% !important;
  }
}
