// Header
.header {
  .logo {
    width: 75%;
  }

  .donate {
    width: 25%;
  }

  .button {
    border-collapse: separate;
    background-color: @header-button-bg;
    border-bottom: 2px solid @header-button-border;
    border-radius: @header-button-radius;

    td {
      padding-top: 8px;
      padding-bottom: 8px;
      border-collapse: separate;
    }
  }
}

// Color Bar
.color-bar {
  td {
    width: 25%;
    height: 4px;
    font-size: 4px;
    line-height: 4px;
  }
  .yellow {
    background-color: @yellow;
  }
  .blue {
    background-color: @blue;
  }
  .orange {
    background-color: @orange;
  }
  .green {
    background-color: @green;
  }
}

// Footer
.footer {
  .spacing {
    padding-top: 40px;
  }

  .social-affiliates {
    width: auto;
  }

  .address {
    strong {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .copy {
    &.smaller {
      padding-top: 20px;
    }
  }

  .six {
    width: 225px;

    .copy {
      padding-bottom: 8px;
      font-size: 14px;
      text-align: left;
      font-weight: bold;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
        }
      }
    }

    .footer {
      .logo {
        padding-right: 0 !important;
      }

      .six {
        float: none !important;
        margin: 0 auto !important;

        .copy {
          font-size: 14px !important;
          text-align: center !important;
        }
      }

      .affiliates {
        .copy {
          padding-top: 30px !important;
        }
      }
    }
  }
}
