/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: 24px;
    line-height: 30px;
    color: @gift-array-text-color;
    font-weight: bold;
  }

  .array {
    .four {
      width: @gift-array-btn-width;

      table {
        width: 160px;
      }
    }

    .copy {
      padding-top: 10px;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: normal;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array {
        .four {
          table {
            width: 70% !important;
          }
        }
      }
    }
  }
}
