.header {
  .button {
    width: 130px;
    height: auto;
    border-radius: 3px;
    border-collapse: separate;

    td {
      width: 100%;
      height: auto;
      border-bottom: 2px solid #98953B;
      border-radius: 3px;
      border-collapse: separate;

      a {
        width: 100%;
        padding: 0;
        height: auto;
        border-bottom: 0 solid transparent;
      }
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 30px;
  }

  .twelve {
    width: 590px;
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.arrow-btn {
  
  .spacing {
    padding-bottom: 0;
  }

  .arrow {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #c5bbad;
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing.logo {
    padding-top: 45px;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: auto;

      .social-icons {
        width: auto;

        .spacing {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .affiliates {
        width: auto;

        .icons {
          td {
            padding-right: 10px;
          }

          .copy {
            padding-left: 15px;
            padding-right: 0;
          }
        }

        .spacing {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .smaller {
    padding-top: 15px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .arrow-btn {
      .twelve {
        width: 100% !important;
      }
    }

    .header {
      .button {
        width: 130px !important;
      }
    }

    .footer {
      .icons {
        .copy {
          padding-left: 0 !important;
        }
      }
    }
  }
}
