/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .donate-button {
    width: 150px;
  }
}

.footer {
  .connect {
    border-top: 0 solid transparent;
  }

  .spacing {
    padding-top: 0;
  }

  .copy {
    .underline {
      text-decoration: underline;
    }
  }
}

/* uncss:ignore */
.address, .phone {
  a {
    color: @footer-color;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        display: block !important;
        text-align: center !important;
        font-size: @header-font-size !important;
      }

      .donate-button {
        float: none !important;
        margin: 0 auto !important;
        width: 150px !important;
      }
    }

    .footer {
      .social {
        .copy {
          font-size: 16px !important;
          padding-right: 0 !important;
        }
      }
    }
  }
}
