a.donate {
  color: #0000ff;
  text-decoration: underline;
}

.sig {
  .spacing {
    padding-top: 0;
  }
}

.footer {
  border-top: 1px solid #acacac;

  .spacing {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 750px) {
  *[class].mobile .twelve,
  *[class].mobile .columns {
    width: 90.625% !important;
  }
}