.salutation {
  .spacing {
    padding-bottom: 0;
  }
}

.header {
  .donate {
    .button {
      td {
        background-color: transparent;
      }
    }
  }
}

.gift-array {
  .button {
    width: 100%;
  }
}


@media @content {
  *[class].mobile {
    .body-copy {
      .spacing {
        padding-top: 0 !important;
      }
    }

    .salutation {
      .spacing {
        padding-top: 20px !important;
      }
    }
  }
}
