.header {
  .button {
    width: 75%;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 30px;
  }
}

.indent {
  padding-left: 50px;
  padding-right: 50px;
}

// Solo Donate Button Styles
.donate-button {
  .button a {
    font-size: @button-font-size;
    padding: 10px 0;
    font-weight: @button-font-weight;
  }
}

.footer {
  .spacing {
    padding-top: 40px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 100% !important;

        a {
          font-size: @header-button-font-size - 2 !important;
        }
      }
    }

    .indent {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

@media @tablet {
  *[class].mobile {
    .header {
      .button {
        width: 100% !important;

        a {
          font-size: @header-button-font-size - 2 !important;
        }
      }
    }

    .indent {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

@media @phone {
  *[class].mobile {
    .header {
      .button {
        width: 100% !important;

        a {
          font-size: @header-button-font-size - 2 !important;
        }
      }
    }

    .indent {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
