.header {
	.logo {
		width: 80%;
	}
	.donate {
		width: 20%;

		a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

.body-copy {
	.spacing {
		padding-top: 40px;
	}
}

.sig {
	.spacing {
		padding-top: 0;
	}

	.copy {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.ps-statement {
	.spacing {
		padding-top: 0;
		padding-bottom: 40px;
	}
}

.johnsonbox,
.donate-button {
	.copy {
		font-weight: bold;
	}
}