.button {
	a {
		color: @button-color;
	}
}

.header {
	.button {
		width: 100%;
	}
}

.johnsonbox {
	background-color: @magenta;

	.copy {
		padding-bottom: 0;
		font-weight: bold;
	}
	

	&.donate-button {
		background-color: @yellow;
	}
}

.sig {
	.spacing {
		padding-top: 0;
	}
}

.footer {
	a {
		font-weight: normal;
	}

	.affiliates {
	  td {
	    padding: 0 10px !important;
	  }
	}
}