@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 580px;
}
.twelve {
  width: 580px;
}
.eleven {
  width: 527px;
}
.ten {
  width: 474px;
}
.four {
  width: 154px;
}
.button {
  float: none !important;
}
.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 4px;
}
.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  mso-border-alt: 1px solid #dddddd;
}
.header {
  background-color: #675852;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .donate {
  width: 50%;
}
.header .button td {
  background-color: #979CA0;
}
.header .button td:hover {
  border-color: #979CA0;
  background-color: #979CA0;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #979CA0;
  color: #ffffff;
  background-color: #979CA0;
  font-weight: normal;
  font-size: 16px;
  mso-border-alt: 1px solid #979CA0;
}
.header .button a:hover {
  border-color: #979CA0;
  background-color: #979CA0;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #979CA0;
  background-color: #979CA0;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #979CA0;
  background-color: #979CA0;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #abb3b3;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #abb3b3;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #675852;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #675852;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 32px;
  color: #555F5E;
  font-weight: normal;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.body {
  background-color: #675852;
}
.header {
  background-color: #675852;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 100%;
}
.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #979CA0;
  font-weight: normal;
  color: #ffffff;
}
.header .button a:hover {
  border-color: #979CA0;
  background-color: #979CA0;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #979CA0;
  background-color: #979CA0;
  color: #ffffff;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #979CA0;
  background-color: #979CA0;
  color: #ffffff;
}
.footer {
  background-color: #675852;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #abb3b3;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.affiliates td {
  padding: 0 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.header .button {
  width: 80%;
}
.header .button td {
  padding: 7px 0;
  border-radius: 4px;
}
.header .button a {
  padding: 0;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 25px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
    padding: 0 !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
}
