/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 0 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    width: auto;
    margin: 0 auto;

    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }

  &.prices {
    background-color: @content-bg;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .copy {
      padding-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
      color: @gift-array-btn-color;
    }

    span {
      color: #01f3c0;
      font-weight: bold;
    }
  }

  &.icons {
    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 30px;
      line-height: @johnsonbox-line-height;

      a {
        font-family: @johnsonbox-font-family;
        font-size: @johnsonbox-font-size;
        line-height: @johnsonbox-line-height;
        color: @johnsonbox-color;
        text-decoration: @johnsonbox-link-text-decoration;
        font-weight: @johnsonbox-font-weight;
      }
    }

    .four {
      width: @gift-array-btn-width;
      height: 195px;
      border: 2px solid @gift-array-bg;
      background-color: @gift-array-btn-bg;

      .height {
        height: 195px;
      }

      table {
        width: 100%;

        td {
          padding-top: 0;
          padding-bottom: 0;
          vertical-align: top;
        }

        .copy {
          padding-top: 10px;
          padding-bottom: 0;
          padding-left: 10px;
          padding-right: 10px;
          color: @gift-array-btn-color;
          line-height: 20px;
        }

        .the-icon {
          padding-top: 20px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      &.prices {
        .spacing {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
      }

      &.icons {
        .four {
          height: auto !important;

          td {
            height: auto !important;
            padding-top: 10px !important;
            padding-bottom: 15px !important;
          }
        }

        .copy {
          padding-top: 5px !important;
        }

        .spacing {
          padding-top: 0 !important;
        }
      }
    }
  }
}
