.gift-array {
  background-color: @gift-array-bg;
  border-radius: 20px;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .gift {
      width: @gift-array-btn-width;
    }

    .gift-cell {
      height: @gift-array-btn-height;
      vertical-align: middle;
    }

    .button {
      margin: 0 auto;
      background-color: @gift-array-btn-bg;
      border: 4px solid #EE2F48;
      border-radius: @gift-array-btn-radius;
      border-collapse: separate;
      width: 90%;
      height: @gift-array-btn-height;

      td {
        padding: 0;
        height: @gift-array-btn-height;
        border-radius: @gift-array-btn-radius;
        border-collapse: separate;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      a {
        margin: 0 auto;
        width: 95%;
        background-color: @gift-array-btn-bg;
        mso-border-alt: 1px solid @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }
    }

    .dollar {
      padding-bottom: 0;
      display: block;
      font-size: @gift-array-price-font-size;
      line-height: @gift-array-price-line-height;
      font-weight: @gift-array-price-font-weight;
      color: #EE2F48;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .gift {
          height: @gift-array-mobile-btn-height !important;
        }

        .gift-cell {
          padding-top: 20px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            width: @gift-array-mobile-btn-width !important;
            height: @gift-array-mobile-btn-height !important;
          }

          a {
            width: 90% !important;
            height: @gift-array-mobile-btn-height !important;
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-mobile-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
