.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .donate {
      padding-bottom: 20px;
    }

    .button {
      width: @gift-array-btn-width;
      height: auto;

      td {
        height: auto;
        padding-top: 22px;
        padding-bottom: 22px;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      a {
        height: auto;
        width: 100%;
        background-color: @gift-array-btn-bg;
        mso-border-alt: 1px solid @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }
    }

    .active {
      .button {
        background-color: @gift-array-active-btn;
        border-radius: @gift-array-btn-radius;

        td {
          background-color: @gift-array-active-btn;
          border-radius: @gift-array-btn-radius;
        }

        a {
          background-color: @gift-array-active-btn;
          color: @gift-array-active-btn-color;
          mso-border-alt: 1px solid @gift-array-active-btn;
          border-radius: @gift-array-btn-radius;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array {
        width: 100% !important;

        .button {
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            width: @gift-array-mobile-btn-width !important;
            height: auto !important;
          }

          a {
            width: 100% !important;
            height: auto !important;
            font-size: @gift-array-btn-font-size !important;
            line-height: @gift-array-btn-line-height !important;
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
