@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 610px;
}

.twelve {
  width: 610px;
}

.eight {
  width: 387px;
}

.six {
  width: 275px;
}

.four {
  width: 164px;
}

.one {
  width: -4px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #ffffff;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #f8981d;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f8981d;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #f8981d;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #ffffff;
}

.button a:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #f8981d;
}

.button a:visited,
.button a:active {
  border-color: #f8981d;
  background-color: #ffffff;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.header .button td {
  background-color: #b5b22a;
}

.header .button td:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: #b5b22a;
  font-weight: normal;
  font-size: 18px;
  mso-border-alt: 1px solid #b5b22a;
}

.header .button a:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #b5b22a;
  background-color: #b5b22a;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #505050;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #ffffff;
}

.content {
  width: 610px;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #595959;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ff7600;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.director {
  background-color: #f1f6e8;
}

.director img {
  vertical-align: top;
}

.director .copy {
  font-size: 16px;
  line-height: 23px;
}

.director .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 29px;
  color: #78a22f;
  font-weight: normal;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: #ffffff;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.gift-array .array table {
  width: 193px;
}

.gift-array .array a {
  padding: 30px 5px;
  width: 90%;
  display: block;
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #ad957a;
  border-radius: 5px;
}

.gift-array .array a:active,
.gift-array .array a:hover,
.gift-array .array a:visited {
  background-color: #ffffff;
  color: #333333;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #595959;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
}

.story .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #616161;
  font-weight: normal;
}

.story .copy.story-header {
  padding-top: 15px;
  padding-bottom: 10px;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
}

.featured .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 37px;
  line-height: 38px;
  color: #002d62;
}

.highlighted .columns {
  background-color: #F3ECE3;
}

.highlighted .copy {
  font-size: 19px;
  line-height: 25px;
}

.highlighted .donate {
  padding-top: 30px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 15px;
  padding-top: 15px;
}

.header .copy {
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.header table.button {
  width: 100% !important;
}

.header table.button td {
  background-color: #ffffff;
}

.header table.button a {
  padding: 0;
  display: block;
  width: 100%;
  height: 28px;
  vertical-align: middle;
  background-color: #b43237;
  border-color: #b43237;
  mso-border-alt: 1px solid #b43237;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  border-radius: 3px;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 50px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .six .spacing {
  padding: 0;
  padding-left: 30px;
}

.footer .button td {
  background-color: #ffffff;
}

.footer .button a {
  padding: 5px 10px;
  display: block;
  width: auto;
  background-color: #f8981d;
  border-color: #f8981d;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
  height: auto;
}

.footer .social-icons td {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.footer .copy.smaller {
  padding-top: 10px;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
}

table.button {
  width: auto !important;
}

table.button a {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: normal;
}

.header {
  background-color: #ffffff;
}

.header .copy {
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.header .button {
  width: 100% !important;
}

.header .button a {
  background-color: #b43237;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .button a {
  background-color: #f8981d;
  border-color: #f8981d;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.section .columns {
  width: 580px;
}

.hero,
.featured {
  width: 670px;
}

.featured table.button {
  width: auto;
}

.featured table.button a {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: normal;
  background-color: #ffffff;
  border-color: #002d62;
  border: 2px solid #002d62;
  color: #002d62;
}

.story {
  text-align: left;
}

.story .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}

.story .six {
  width: 280px;
  height: 280px;
}

.story .six table {
  width: 80%;
  margin: 0 auto;
}

.story .copy {
  font-size: 19px;
  line-height: 27px;
}

.story table.button {
  margin: 0;
}

.story table.button a {
  text-decoration: none;
}

.story-link {
  padding-top: 20px;
}

.red,
.yellow {
  width: 270px;
  height: 280px;
}

.red .spacing,
.yellow .spacing {
  padding-top: 0;
  padding-bottom: 0;
  height: 280px;
  vertical-align: middle;
}

.red {
  background-color: #faeaeb;
}

.red table.button a {
  background-color: #faeaeb;
  border-color: #b5121b;
  border: 2px solid #b5121b;
  color: #b5121b;
}

.yellow {
  background-color: #f9f4ed;
}

.yellow table.button a {
  background-color: #f9f4ed;
  border-color: #f9a233;
  border: 2px solid #f9a233;
  color: #f9a233;
}

.green {
  background-color: #f1f6e8;
}

.green table.button a {
  background-color: #f1f6e8;
  border-color: #78a22f;
  border: 2px solid #78a22f;
  color: #78a22f;
}

.highlighted .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.highlighted .columns {
  width: 580px;
  background-color: #F3ECE3;
}

.highlighted .heading {
  font-size: 27px;
  line-height: 30px;
  color: #f9a233;
  padding-bottom: 10px;
}

.highlighted .donate {
  padding-top: 20px;
}

.highlighted table.button a {
  background-color: #f9a233;
  border-color: #f9a233;
  border: 2px solid #f9a233;
  color: #ffffff;
}

.gift-array .columns {
  width: 580px;
}

.gift-array .spacing {
  padding-top: 0;
}

.gift-array .copy {
  font-size: 16px;
  line-height: 23px;
}

.gift-array .copy a {
  color: #333333;
  font-weight: normal;
}

.gift-array .heading {
  color: #002d62;
  font-size: 27px;
  line-height: 33px;
}

.gift-array .red,
.gift-array .yellow,
.gift-array .green {
  background-color: #ffffff;
  height: auto;
}

.gift-array .four table {
  width: 90% !important;
}

.gift-array .copy {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
}

.gift-array table.button a {
  padding: 10px 0;
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}

.director {
  background-color: #ffffff;
}

.director .columns {
  width: 580px;
  background-color: #f1f6e8;
}

.director .columns .spacing {
  padding-left: 30px;
}

.director .copy-wrapper {
  padding-left: 20px;
}

@media only screen and (max-width: 670px ) {

  *[class].mobile .one,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 15px !important;
    line-height: 27px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 18px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .content {
    width: 95% !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }

  *[class].mobile .gift-array a {
    padding: 15px !important;
    font-size: 20px !important;
    line-height: 23px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .featured span {
    font-size: 34px !important;
    line-height: 35px !important;
  }

  *[class].mobile .featured .story-header {
    padding-bottom: 3px !important;
  }

  *[class].mobile .highlighted .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  *[class].mobile .header .logo,
  *[class].mobile .header .donate {
    width: 50% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .header .donate table {
    width: 90% !important;
  }

  *[class].mobile .header .donate .button {
    width: 100% !important;
  }

  *[class].mobile .header .donate .button a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
    height: auto !important;
    font-size: 12px !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 20px !important;
  }

  *[class].mobile .footer .logo img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .social-donate table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .social-donate .spacing {
    padding-left: 0 !important;
    padding-top: 20px !important;
  }

  *[class].mobile .footer .social-icons {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  *[class].mobile .featured .story-header {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px !important;
  }

  *[class].mobile .featured span {
    font-size: 34px !important;
    line-height: 35px !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .story .six {
    height: auto !important;
  }

  *[class].mobile .story .six .spacing {
    padding-top: 20px !important;
    padding-bottom: 25px !important;
  }

  *[class].mobile .story .six table {
    width: 90% !important;
  }

  *[class].mobile .johnsonbox.highlighted .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .johnsonbox.highlighted .columns {
    width: 100% !important;
  }

  *[class].mobile .gift-array .copy a {
    padding: 0 !important;
    font-size: 16px !important;
  }

  *[class].mobile .gift-array .heading {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .gift-array table.button {
    width: 100% !important;
  }

  *[class].mobile .gift-array table.button td {
    padding-top: 0 !important;
  }

  *[class].mobile .gift-array table.button a {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .gift-array .array .copy {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
  }

  *[class].mobile .director img {
    margin: 0 auto !important;
  }

  *[class].mobile .director .copy-wrapper {
    padding-top: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .director .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .director .one,
  *[class].mobile .director .eight {
    width: 90% !important;
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .red,
  *[class].mobile .yellow {
    height: auto !important;
  }

  *[class].mobile .red .spacing,
  *[class].mobile .yellow .spacing {
    height: auto !important;
  }
}
