@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 630px;
}

.twelve {
  width: 630px;
}

.eight {
  width: 407px;
}

.six {
  width: 295px;
}

.four {
  width: 184px;
}

.one {
  width: 16px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #505050;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #ffffff;
}

.content {
  width: 630px;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #515151;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.director {
  background-color: #f1f6e8;
}

.director .columns {
  width: 90%;
}

.director img {
  vertical-align: top;
}

.director .copy-wrapper {
  padding-left: 20px;
}

.director .copy {
  font-size: 16px;
  line-height: 23px;
}

.director .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 29px;
  color: #78a22f;
  font-weight: normal;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: transparent;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.gift-array .heading {
  color: #002d62;
  font-size: 27px;
}

.gift-array .columns {
  width: 100%;
}

.gift-array .array table {
  width: 193.33333333px;
}

.gift-array .array .copy {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #505050;
  font-size: 16px;
  line-height: 23px;
}

.gift-array .array .copy a {
  text-decoration: underline;
  color: #505050;
  font-weight: normal;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 20px;
  padding-bottom: 15px;
}

.johnsonbox .columns {
  width: 100%;
}

.johnsonbox .content {
  background-color: #f9f4ed;
}

.johnsonbox .content .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #505050;
  font-weight: normal;
}

.johnsonbox .heading {
  color: #f9a233;
  font-size: 27px;
  font-weight: normal;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #515151;
  font-weight: bold;
}

.story .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
  height: 280px;
}

.story .six table {
  width: 80%;
  margin: 0 auto;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0 !important;
}

.story .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #616161;
  font-weight: normal;
}

.story .copy.story-header {
  padding-bottom: 10px;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.featured.story {
  border-bottom: 0 solid transparent;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .columns {
  width: 580px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
}

.featured .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 37px;
  line-height: 38px;
  color: #002d62;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2a4364;
}

.header .donate {
  width: 25%;
}

.featured {
  border-bottom: 2px solid #cccccc;
}

.footer {
  background-color: #ffffff;
  border-top: 3px solid #cccccc;
}

.footer .copy.smaller {
  padding-top: 10px;
}

.footer .social-icons {
  width: 250px;
}

.header .columns {
  width: 583px;
}

.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .donate {
  width: 50%;
}

.header .donate .copy {
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.story .copy {
  padding-left: 35px;
}

.section {
  width: 580px;
}

.hero,
.featured {
  width: 670px;
}

.red,
.yellow,
.blue {
  width: 270px;
  height: 280px;
}

.red .spacing,
.yellow .spacing,
.blue .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.red {
  background-color: #faeaeb;
}

.yellow {
  background-color: #f9f4ed;
}

.blue {
  background-color: #e5eaef;
}

.footer {
  border-top: 0 solid transparent;
}

.footer .spacing {
  padding-top: 50px;
}

.footer .six .spacing {
  padding: 0;
  padding-left: 30px;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons td {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.footer .copy {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 670px ) {

  *[class].mobile .one,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .content {
    width: 95% !important;
  }

  *[class].mobile .director .copy-wrapper {
    padding-left: 0 !important;
    padding-top: 20px !important;
  }

  *[class].mobile .director .one img {
    display: block !important;
    margin: 0 auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
  }

  *[class].mobile .johnsonbox .columns {
    width: 100% !important;
  }

  *[class].mobile .johnsonbox .content .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  *[class].mobile .johnsonbox .copy.heading {
    font-size: 23px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .columns {
    width: 100% !important;
  }

  *[class].mobile .story .story-link img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .six table {
    width: 90% !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .featured img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .featured .columns {
    width: 90% !important;
  }

  *[class].mobile .featured span {
    font-size: 32px !important;
    line-height: 33px !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: 100% !important;
    padding: 0 !important;
  }

  *[class].mobile .red,
  *[class].mobile .yellow,
  *[class].mobile .blue {
    height: auto !important;
  }

  *[class].mobile .red .spacing,
  *[class].mobile .yellow .spacing,
  *[class].mobile .blue .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 20px !important;
  }

  *[class].mobile .footer .six .spacing {
    padding-left: 0 !important;
  }

  *[class].mobile .footer .six img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .six table {
    width: 100% !important;
  }

  *[class].mobile .footer .six .social-icons {
    width: auto !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto;
  }

  *[class].mobile .footer .social-icons td {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
  }

  *[class].mobile .footer .copy {
    padding-top: 0;
    padding-bottom: 0;
  }
}
