@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.ten {
  width: 460px;
}
.eight {
  width: 360px;
}
.seven {
  width: 310px;
}
.six {
  width: 260px;
}
.four {
  width: 160px;
}
.three {
  width: 110px;
}
.columns .first {
  padding-left: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #E86F21;
  text-align: center;
  border-radius: 4px;
}
.button td:hover {
  border-color: #ab4e12;
  background-color: #ab4e12;
  color: #ffffff;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #E86F21;
  background-color: #E86F21;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  mso-border-alt: 1px solid #E86F21;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
}
.footer {
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #333333;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F9FAFE;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F9FAFE;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #9BAE5B;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero {
  border-bottom: 1px solid #ffffff;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #00662B;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 25px;
}
.johnsonbox .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
  font-weight: bold;
}
.johnsonbox .button {
  width: 170px;
}
.johnsonbox .button td {
  padding: 10px 0;
}
.johnsonbox .button a {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
.donate-button {
  background-color: #ffffff;
  border-bottom: 5px solid #94AE4A;
}
.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.donate-button .button {
  width: 170px;
}
.donate-button .button td {
  padding: 10px 0;
}
.donate-button .button a {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 30px !important;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #F9FAFE;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 600px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.header .donate-button {
  height: 100%;
  background-color: #F9FAFE;
}
.footer {
  background-color: #F9FAFE;
  text-align: center;
}
.footer .social-connect .spacing {
  padding-bottom: 30px;
}
.footer .social-connect .social-icons {
  width: auto;
}
.footer .social-connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .social-connect .copy {
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
}
.footer .copy {
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-decoration: underline;
}
.footer .affiliates td {
  padding: 30px 10px 0;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.body-copy .spacing {
  padding-top: 30px;
  padding-bottom: 0;
}
.header .donate-button {
  border-bottom: 0 solid transparent !important;
}
.footer .copy strong a {
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 170px !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 18px !important;
  }
  *[class].mobile .donate-button .button {
    width: 170px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 18px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
  *[class].mobile .header .logo-cta .spacing {
    height: auto !important;
  }
  *[class].mobile .header .logo-cta .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo-cta .logo img {
    display: block !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-connect .social {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .footer .social-connect .social table {
    width: 100% !important;
  }
  *[class].mobile .footer .social-connect .social table.social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .social-connect .social-icons {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-connect .social-icons .first {
    padding-left: 0 !important;
  }
  *[class].mobile .footer .social-connect .copy {
    text-align: center !important;
    padding-right: 0 !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
  }
  *[class].mobile .header .logo {
    border-bottom: 1px solid #cccccc !important;
  }
  *[class].mobile .header .logo td {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .donate-button {
    border-bottom: 0 solid transparent !important;
  }
  *[class].mobile .header .donate-button td {
    padding-top: 20px !important;
  }
  *[class].mobile .header .donate-button td img {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .affiliates img {
    width: 100% !important;
    height: auto !important;
  }
}
