.sidebar {
  background-color: #BBE3E8;

  .spacing {
    padding-top: 10px;
    padding-bottom: 0;

    &.last {
      padding-bottom: 50px;
    }
  }

  .inputs {
    border: 1px solid #979797;
    width: auto;
    mso-line-height-rule: exactly;

    .nine {
      mso-line-height-rule: exactly;
      background-color: #EFEFEF;
      width: 359px;

      .copy {
        mso-line-height-rule: exactly;
        padding-left: 25px;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #4A4A4A;
        font-size: 24px;
        line-height: 27px;
        font-weight: bold;

        &.red {
          color: #D0021B;
        }
      }
    }

    .turquoise {
      mso-line-height-rule: exactly;
      border-right: 1px solid #979797;
      width: 190px;

      .copy {
        mso-line-height-rule: exactly;
        padding-left: 20px;
        padding-top: 18px;
        padding-bottom: 18px;
        background-color: #00A6B6;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        font-weight: bold;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .inputs {
        .turquoise {
          border-right: 0 solid transparent !important;

          .copy {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            font-size: 16px !important;
            line-height: 20px !important;
          }
        }

        .nine {
          .copy {
            padding-left: 20px !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            font-size: 16px !important;
            line-height: 20px !important;
          }
        }
      }
    }
  }
}
