@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 700px;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4d4d4d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4d4d4d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 740px;
}

.main-content {
  width: 740px;
  background-color: #ffffff;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #273777;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #cc1906;
  color: #ffffff;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.ps-statement a {
  font-weight: normal;
  text-decoration: underline;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}

.footer .social-icons td {
  padding: 0 8px;
}

.footer .affiliates td {
  padding: 0 10px;
}

@media only screen and (max-width: 740px ) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
}
