/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-btn-font-weight;
  }

  .array {
    .four {
      width: @gift-array-btn-width;
      height: 190px;

       table {
        padding: 0 !important;
        width: 93%;
        height: 190px;
        display: block;
        background-color: @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;

        td {
          padding-top: 15px;
          height: 74px;

          &.copy {
            height: 101px;
            padding: 5px 8px 0;
            color: @gift-array-text-color;
          }
        }
      }
    }

    &.columns.nine {
      width: 400px;
    }
  }

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array {
        .four {
          height: auto !important;

          .wrapper {
            vertical-align: top !important;
            padding: 15px 0 0 !important;
          }

           table {
            width: 100% !important;

            td {
              height: auto !important;
              padding: 15px 0 !important;

              &.copy {
                padding-top: 0 !important;
                padding-bottom: 15px !important;
                padding-left: 8px !important;
                padding-right: 8px !important;
                font-size: @gift-array-btn-font-size - 1 !important;
              }
            }
          }
        }
      }

      &.second {
        .spacing {
          padding-top: 0 !important;
        }
      }
    }
  }
}
