.sidebar {
  .copy {
    height: 154px;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {

      img {
        margin: 0 auto !important;
      }

      .copy {
        height: auto !important;
        padding-top: 15px !important;
        padding-bottom: 0 !important;

        img {
          width: 60% !important;
          max-width: 241px !important;
          height: auto !important;
        }
      }
    }
  }
}
