// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@sourcesans: Arial, Helvetica, sans-serif, 'Source Sans Pro';

@body-bg:                   #fff9ba;
@content-bg:                #ffffff;

@font-family:               'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #666666;
@link-color:                #cc0a1e;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-bg:                     #f3713e;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              @button-bg;
@header-button-border:          @header-button-bg;
@header-button-color:           #ffffff;
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

@view-online-color:             #fa723a;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:                     #61aed1;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              28px;
@johnsonbox-line-height:            32px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			#f3713e;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		180px;
@gift-array-btn-height:         	auto;
@gift-array-btn-bg:         			#fce9d6;
@gift-array-btn-color:      			#f3713e;
@gift-array-btn-font-family:      @font-family-sans-serif;
@gift-array-btn-font-size:      	33px;
@gift-array-btn-line-height:     	33px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#f3713e;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size - 10;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height - 10;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #666666;
@footer-link-color:             #ffae5e;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
