.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .button {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 10px !important;
        padding-bottom: 25px !important;
      }
    }
  }
}
