.button {
  td.button-cell {
    padding: 0;
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .signature {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.story {
  .six {
    .copy {
      padding-left: 30px;
    }
  }
}

.highlighted {
  .copy {
    padding-bottom: 15px;
    padding-left: 15px;

    span {
      color: @dark-blue;
      font-weight: bold;
    }
  }

  .cta {
    margin: 0 auto;
    width: 90%;

    .donate {
      .button {
        width: 80%;
        td, a {
          background-color: @orange;
          color: #ffffff;
          border-radius: 5px;
        }

        a {
          mso-border-alt: 1px solid @orange;
        }
      }
    }
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 0;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: auto;

      .social-icons {
        width: auto;
      }

      .affiliates {
        width: auto;

        .icons {
          td {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .story {
      .six {
        .copy {
          padding-left: 0 !important;
        }
      }
    }

    .highlighted {
      .copy {
        padding-left: 15px !important;
      }
      .cta {
        width: 95% !important;
        float: none !important;

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
