.sidebar {
  .columns {
    width: 100%;
  }

  table.six {
    width: 285px;
    background-color: #F3F3F1;
  }

  &.featurettes {
    .copy {
      padding-left: 0;
      padding-right: 0;
      font-family: @font-family-serif;
      color: #46676E;
    }

    .spacing {
      padding-bottom: 0;
    }

    .height-rule {
      height: 1020px;
    }

    .quote {
      width: 229px;
    }

    .quotation-mark {
      padding-right: 5px;
    }

    .person {
      .copy {
        color: #7D7D69;
        font-style: italic;
      }
    }

    .six {
      height: 1020px;
      mso-line-height-rule: exactly;

      .spacing {
        padding-top: 30px;
        padding-bottom: 0;
      }
    }

    .creatives {
      td {
        padding-bottom: 20px;
      }
    }
  }

  &.contact {
    background-color: #507379;

    .spacing {
      padding-top: 45px;
      padding-bottom: 55px;
    }

    .columns {
      .spacing {
        padding-top: 30px;
        padding-bottom: 0;
      }
    }

    .six {
      background-color: #507379;
    }

    .first {
      border-right: 2px solid #608085;
    }

    .copy,
    .copy a {
      color: #ffffff;
      font-size: 15px;
    }

    a {
      font-weight: normal;
      text-decoration: underline;
    }

    .bigger {
      font-weight: bold;
      font-size: 31px;
      line-height: 37px;
      color: #FFFFFF;
    }

    .name {
      padding-top: 15px;
      padding-bottom: 8px;
      font-size: 21px;
      line-height: 23px;
      font-weight: bold;
    }

    .info {
      font-size: 15px;
      line-height: 21px;
      color: #FFFFFF;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      &.featurettes {
        img {
          width: 100% !important;
          height: auto;
        }

        .height-rule {
          height: auto !important;
        }

        .spacing {
          padding-top: 20px !important;
          padding-bottom: 0 !important;
        }

        .copy {
          padding-bottom: 20px !important;
        }

        .quote {
          width: 90% !important;

          .copy {
            padding-bottom: 0 !important;
          }

          .person {
            .copy {
              padding-bottom: 25px !important;
            }
          }
        }

        .six {
          height: auto !important;
        }
      }

      &.contact {
        width: 90.625% !important;

        a {
          font-size: 15px !important;
          line-height: 21px !important;
        }

        .columns {
          .spacing {
            padding-top: 30px !important;
            padding-bottom: 0 !important;
          }
        }

        .six {
          width: 80% !important;
          margin: 0 auto !important;
          float: none !important;

          &.first {
            border-right: 0 solid transparent !important;
            border-bottom: 2px solid #608085 !important;

            .spacing {
              padding-top: 0 !important;
              padding-bottom: 30px !important;
            }
          }
        }
      }

      img.caret {
        width: 7px !important;
        height: auto !important;
      }
    }
  }
}
