.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: 280px;
  }

  .copy {
    font-family: @font-family;

    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

.featured {
  border-bottom: 0 solid transparent !important;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  td.copy {
    padding-left: 0;
    padding-right: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: @text-color;
    text-align: justify;

    &.story-header {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
      font-weight: bold;
      text-align: left;
    }

    &.story-author {
      padding-top: 5px;
      padding-bottom: 20px;
      font-family: @newsletter-story-header-font-family;
      font-size: 16px;
      line-height: 19px;
      color: #AD7B3B;
      font-style: italic;
    }

    &.story-link {
      padding-bottom: 30px;

      a {
        color: @link-color;

        img {
          display: inline-block;
          padding-left: 3px;
        }
      }
    }
  }
}

.emotion {
  .spacing {
    padding-top: 30px;
  }

  &.hero {
    .spacing {
      padding-bottom: 0;
    }
  }

  .copy {
    &.story-header {
      text-align: left;
      font-size: 27px;
    }
  }
}

.highlighted {
  background-color: #F4F4F2;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .quote {
    height: 230px;

    .copy {
      padding-left: 0;
      font-family: Georgia, Times, serif;
      color: #46676E;
      font-size: 25px;
      line-height: 34px;
    }

    .quotation-mark {
      width: 10px;
    }
  }

  .person {
    padding-top: 15px;

    .copy {
      padding-right: 5px;
      font-style: italic;
      color: #7D7D69;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &.glenn {
    .columns {
      width: 530px;
    }
    .copy {
      font-family: @font-family-serif;
      font-size: 17px;
      line-height: 28px;
      color: #46676E;

      &.name {
        padding-top: 10px;
        color: #7D7D69;
        font-style: italic;
      }
    }

    .four {
      width: 150px;
    }

    .eight {
      width: 310px;

      table {
        .copy {
          padding-top: 0;

          a {
            color: #9E2204;
          }
        }
      }
    }
  }
}

.animated {
  .spacing {
    padding-top: 0;
  }
}

.question {
  .spacing {
    padding-bottom: 0;
  }

  &.bottom {
    .spacing {
      padding-bottom: 10px;
    }
  }

  .ten {
    width: 500px;
    background-color: #f3f3f1;
  }

  .copy {
    font-family: @font-family-serif;
    color: #46676E;
  }

  .big {
    .letter {
      font-size: 100px;
      line-height: 100px;
    }

    .question {
      font-size: 46px;
      line-height: 50px;
    }
  }

  .copy.quotation-mark {
    font-size: 60px;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .featured {
      .ten {
        width: 90% !important;
      }

      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @newsletter-featured-font-size - 1 !important;
        line-height: @newsletter-featured-line-height - 2 !important;

        &.story-header {
          padding-top: 0 !important;
          font-size: @newsletter-featured-header-font-size - 9 !important;
          line-height: @newsletter-featured-header-line-height - 10 !important;
        }

        &.story-author {
          padding-bottom: 15px !important;
          font-size: 15px !important;
          line-height: 22px !important;
        }

        &.story-link {
          padding-bottom: 20px !important;
        }
      }
    }

    .emotion {
      &.hero {
        .spacing {
          padding-bottom: 20px !important;
        }
      }
    }

    .highlighted {
      width: 90.625% !important;

      &.question {
        width: 100% !important;

        .big, .ten {
          width: 95% !important;
        }

        .big {
          .letter {
            font-size: 80px !important;
            line-height: 80px !important;
          }

          .question {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-size: 36px !important;
            line-height: 40px !important;
          }
        }

        .quote {
          .copy {
            font-size: 20px !important;
            line-height: 25px !important;
          }

          .person {
            .copy {
              font-size: 15px !important;
              line-height: 20px !important;
            }
          }
        }

        .quotation-mark {
          &.copy {
            font-size: 40px !important;
          }
        }

        &.bottom {
          .spacing {
            padding-top: 0 !important;
          }
        }
      }

      .spacing {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
      }

      .columns {
        width: 80% !important;
      }

      .quote {
        height: auto !important;

        .spacing {
          padding-top: 15px !important;
          padding-bottom: 0 !important;
        }
      }
    }

    .glenn {
      .name {
        padding-bottom: 20px;
      }
    }

    img.caret {
      width: 7px !important;
      height: auto !important;
    }

    .animated {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
      }

      .columns {
        width: 95% !important;
      }
    }
  }
}
