// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.body-copy {
  .twelve {
    width: 590px;
  }
}

.header {
  .view-donate {
    .view-online {
      .copy {
        padding-bottom: 8px;
      }
    }
  }

  .button {
    width: 130px;
    max-width: 130px;

    td {
      width: 130px;
    }

    a {
      width: 130px;
    }
  }
}

.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.footer {
  .address {
    a.site {
      display: inline-block;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
