.body-copy.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.signature {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
