.johnsonbox {
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .columns {
    width: 100%;
    background-color: @johnsonbox-bg;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .cell {
    width: 200px;
  }

  &.text-donate-button {
    .copy {
      padding-bottom: 0;
      font-family: @montserrat;
      font-size: 22px;
      line-height: 35px;
      color: #1356b8;
      font-weight: 600;

      &.dates {
        padding-top: 0;
        padding-bottom: 15px;
        font-family: @font-family-serif;
        font-size: 21px;
        line-height: 30px;
        font-weight: normal;
      }
    }
  }

  &.blue {
    background-color: #d2f5ff;

    em {
      font-size: 15px;
      line-height: 20px;
    }

    .title {
      font-family: @font-family;
      font-size: 25px;
      line-height: 30px;
      color: #004294;
      font-weight: 700;
    }

    .bullet {
      padding-right: 10px;
    }
  }

  &.solo-donate-button {
    .spacing {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }

  table.button {
    width: 215px;
    height: auto;
    border-radius: @button-radius;
    border-collapse: separate;

    td {
      height: auto;
      border: 1px solid @button-border;
      border-radius: @button-radius;
      border-collapse: separate;
      padding: 5px 0;
    }

    a {
      height: auto;
      font-family: @button-font-family;
      font-size: @button-font-size;
      line-height: @button-font-size;
      color: @button-color;
      font-weight: @button-font-weight;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .story-header {
        padding-top: 25px !important;
        font-size: @newsletter-story-header-font-size !important;
        line-height: @newsletter-story-header-line-height !important;
      }

      .cell {
        width: 200px !important;
        height: 40px !important;
      }

      .button-cell {
        padding-bottom: 25px !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }

      &.text-donate-button {
        .copy {
          line-height: 30px !important;
        }
      }
    }
  }
}
