.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.headline {
		background-color: @johnsonbox-bg;

		.spacing {
			padding-top: 10px;
			padding-bottom: 5px;
		}

		img {
			width: auto;
			max-width: 467px;
			height: auto;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.headline {
				img {
					width: 95% !important;
					max-width: 467px !important;
				}
			}
		}
  }
}
