.sidebar {
  .copy {
    font-size: 23px;
    line-height: 43px;
    font-weight: bold;
    color: #4A4A4A;

    &.bullet {
      font-size: 30px;
      padding-right: 10px;
      vertical-align: top;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .list {
        margin: 0 auto !important;
        width: 240px !important;
        float: none !important;
      }
    }
  }
}
