.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.red {
    img {
      display: inline-block;
    }

    .spacing {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .button {
      td {
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: #ffffff;
      }

      a {
        background-color: #ffffff;
        color: #ED1B2E;
      }
    }

    .copy {
      padding-bottom: 0;
      padding-top: 15px;
      font-family: @font-family;
      font-size: 21px;
      line-height: 23px;
    }
  }

  &.white {
    background-color: #ffffff;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .copy {
      padding-top: 0;
      padding-bottom: 30px;
      color: #ED1B2E;
      font-size: 30px;
      line-height: 37px;
    }

    .button {
      td {
        padding-top: 19px;
        padding-bottom: 19px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .button {
        td {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
      }

      &.red {
        .button {
          img {
            width: 14px !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
