.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .heading {
    font-family: @arvo;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
  }

  &.hero-text {
  	background-color: @body-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  	.copy {
      padding-bottom: 0;
  		font-family: @arvo;
  		color: #79A2FF;
  		font-size: 60px;
      line-height: 60px;
  		font-weight: bold;
  		font-style: italic;
  	}
  }

  &.headline {
    background-color: @content-bg;

    table {
      width: 530px;

      .copy {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &.pink {
    table {
      background-color: #F792E1;
    }
  }

  &.purple {
    table {
      background-color: #C8ABE8;
    }
  }

  &.blue {
    table {
      background-color: #79A2FF;
    }

    &.bottom {
      .copy {
        font-size: 20px;
      }

      a {
        color: #AD29D8;
      }
    }
  }

  &.green {
    table {
      background-color: #77CEC7;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.hero-text {
        .copy {
          font-size: 35px !important;
        }
      }
    }
  }
}
