.sidebar {
  .group {
    margin: 0 auto;
    width: 200px;
  }

  .six {
    width: 270px;
  }

  .numbers {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: @font-family;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

    a {
      color: #B0762C;
      text-decoration: none;

      span {
        text-decoration: none;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .group {
        width: 100% !important;
      }

      .spacing {
        padding-top: 0 !important;
      }

      .icon {
        padding-top: 20px;
      }
    }
  }
}
