.header {
  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.featured {
  border-bottom: 2px solid #fbf1ab;

  .spacing.story-header {
    padding-top: 30px;
  }
}


.johnsonbox {
  &.image {
    background-color: #ffffff !important;

    .spacing {
      padding-top: 50px;
    }
  }
}

.highlight {
  background-color: #616161;

  .spacing {
    padding-top: 0;
  }

  .copy {
    color: #e0dede;
    font-size: 16px;
    line-height: 26px;
    padding-top: 25px;
    padding-right: 45px;
  }
}

.ceo {
  background-color: #fdf8d5;
  border-bottom: 3px solid @yellow;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;

    a {
      color: @black;
    }
  }
}

.sig {
  padding-top: 25px;

  td {
    padding-left: 10px;
  }

  .copy {
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer {
  .social-icons {
    td {
      padding: 0 8px;
    }
  }
  .affiliates {
    width: auto;

    td {
      padding: 0 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .header {
      .copy {
        padding-left: 0 !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .johnsonbox {
      &.image {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .highlight {
      .spacing {
        padding-top: 25px !important;
        padding-bottom: 20px !important;
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .header {
      .copy {
        padding-left: 0 !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .johnsonbox {
      &.image {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .highlight {
      .spacing {
        padding-top: 25px !important;
        padding-bottom: 20px !important;
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .header {
      .copy {
        padding-left: 0 !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .highlight {
      .spacing {
        padding-top: 25px !important;
        padding-bottom: 20px !important;
      }
    }

    .johnsonbox {
      &.image {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}