.body-copy {
  .eleven {
    width: 505px;
  }

  .list {
    .copy-spacer {
      font-size: 10px;
      line-height: 10px;
      height: 10px;
    }
  }

  .highlight {
    background-color: #F5E942; 
  }
}

.footer {
  .client-info {
    a {
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .list {
        width: 100% !important;

        .bullet {
          padding-right: 5px !important;
        }
      }
    }

    .footer {
      .client-info {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
