.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.heading {
		background-color: #D0021B;

		.spacing {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		img {
			width: auto;
			height: auto;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.heading {
				img {
					width: 80% !important;
				}
			}
		}
  }
}
