.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 150px;

    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-family: @font-family;
      font-size: @button-font-size;
    }
  }

  &.light-orange {
    background-color: #CE7F35;

    .copy {
      padding-bottom: 0;
      color: #ffffff;
      font-size: 35px;
      line-height: 40px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @content-bg;
  border-bottom: 0 solid transparent;

  .spacing {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .button {
    width: 150px;
    background-color: #B25320;

    td {
      mso-border-alt: 1px solid #B25320;
      background-color: #B25320;
      padding: 10px 0;
    }

    a {
      mso-border-alt: 1px solid #B25320;
      background-color: #B25320;
      padding: 0;
      font-family: @font-family;
      font-size: @button-font-size;
      color: #ffffff;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size !important;
      }

      .button {
        width: 150px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }

      &.light-orange {
        .spacing {
          padding-bottom: 15px !important;
        }
      }
    }

    .donate-button {
      .button {
        float: left !important;
        width: 150px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
