<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

<table class="section divider" align="left" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="left" class="spacing">

      <table align="left" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
      </table>

    </td>
  </tr>
</table>

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>Helping Up Mission</strong> &bull; 1029 East Baltimore Street &bull; Baltimore, MD 21202 &bull; (410) 675-HELP &bull; <a href="https://helpingupmission.org?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><strong>helpingupmission.org</strong></a><br/>
            If you do not wish to receive future email updates from Helping Up Mission, <a href="[% unsub_url %]" target="_blank"><strong>unsubscribe&nbsp;here</strong></a>.<br/>
            &#169; {{job_year}} Helping Up Mission. All rights reserved. <a href="https://helpingupmission.org/privacy-policy?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><strong>Privacy&nbsp;policy</strong></a>.
          </td>

        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
