.divider {
  .spacing {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  table {
    width: 180px;
    border-top: 1px solid #7f7f7f;

    td {
      height: 1px;
      font-size: 1px;
      line-height: 1px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    
  }
}
