@content-width:             640px;

@body-bg:                   #e5e5e5;
@content-bg:                #ffffff;

//Google Fonts
@opensans:                  Arial, Helvetica, sans-serif, "Open Sans";

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               27px;
@text-color:                #4c4c4c;
@link-color:                #0483c3;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               15px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									20px;

// Button styles
@button-bg:                     #dddddd;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-mobile-font-size:    		15px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#0083c3;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					17px;
@johnsonbox-line-height:  					27px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		180px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #4c4c4c;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              13px;
@footer-line-height:            @footer-font-size + 9;
@footer-text-align:             center;
