.sidebar {
  .spacing {
    padding-top: 0;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 0 !important;
        }
      }
    }
  }
}
