@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 540px;
}

.twelve {
  width: 540px;
}

.eleven {
  width: 492px;
}

.ten {
  width: 444px;
}

.six {
  width: 250px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}

.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #dddddd;
}

.button a:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: #dddddd;
  background-color: #dddddd;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}

.header .button td {
  background-color: #c24853;
}

.header .button td:hover {
  border-color: #c24853;
  background-color: #c24853;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #c24853;
  color: #fffefe;
  background-color: #c24853;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #c24853;
}

.header .button a:hover {
  border-color: #c24853;
  background-color: #c24853;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #c24853;
  background-color: #c24853;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #c24853;
  background-color: #c24853;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4d4d4d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4d4d4d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 580px;
}

.main-content {
  width: 580px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #bc515b;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.director {
  background-color: #faedec;
}

.director img {
  vertical-align: top;
}

.director .copy {
  font-size: 16px;
  line-height: 24px;
}

.director .copy span {
  font-family: Georgia, Times, serif;
  font-size: 22px;
  line-height: 28px;
  color: #9c434c;
  font-weight: normal;
}

.director .signature {
  padding-left: 30px;
}

.director .sig .copy {
  font-size: 14px;
  line-height: 16px;
}

.director .sig .copy a {
  font-size: 17px;
}

.director .sig .director-sig,
.director .sig .bird {
  width: 50%;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #515151;
  text-decoration: none;
  font-weight: normal;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
  height: 260px;
}

.story .six table {
  vertical-align: middle;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
}

.story .copy span {
  font-family: Georgia, Times, serif;
  font-size: 22px;
  line-height: 28px;
  color: #9c434c;
  font-weight: normal;
}

.story .copy.story-header {
  padding-bottom: 10px;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.story .copy.story-link a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #bc515b;
  font-weight: bold;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.featured .copy span {
  font-family: Georgia, Times, serif;
  font-size: 32px;
  line-height: 38px;
  color: #9c434c;
}

.featured .copy.story-link {
  padding-bottom: 30px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2a4364;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #c24853;
  font-weight: bold;
  color: #fffefe;
}

.header .button a:hover {
  border-color: #c24853;
  background-color: #c24853;
  color: #fffefe;
}

.header .button a:visited,
.header .button a:active {
  border-color: #c24853;
  background-color: #c24853;
  color: #fffefe;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #c24853;
  background-color: #c24853;
  color: #fffefe;
}

.featured {
  border-bottom: 2px solid #cccccc;
}

.footer {
  background-color: #ffffff;
  border-top: 3px solid #cccccc;
}

.footer .copy.smaller {
  padding-top: 10px;
}

.footer .social-icons {
  width: auto;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.story .copy {
  padding-left: 35px;
}

.header .copy {
  width: 75%;
  color: #944048;
}

.header .donate {
  width: 25%;
}

.header .donate a {
  padding: 5px 0;
}

.header strong {
  color: #959595;
}

.footer {
  border-top: 3px solid #944048;
}

.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}

.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 580px ) {

  *[class].mobile .six,
  *[class].mobile .ten,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .director-sig,
  *[class].mobile .bird {
    width: 100% !important;
  }

  *[class].mobile .bird td {
    padding-top: 20px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .six {
    height: auto !important;
  }

  *[class].mobile .story .six table {
    width: 100% !important;
  }

  *[class].mobile .story .six .story-header {
    padding-top: 20px !important;
  }

  *[class].mobile .story .six .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }

  *[class].mobile .heading-banner img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .header .copy {
    width: 60% !important;
  }

  *[class].mobile .header .donate {
    width: 40% !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
}
