.body-copy {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }

      .donate {
        width: 45% !important;

        a {
          font-size: @header-button-font-size - 2 !important;
        }
      }
    }
  }
}
