// Header
.header {
  background-color: @header-bg;

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    font-weight: @header-font-weight;

    a {
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-font-weight;
    }
  }

  .view-donate {
    .button {
      td {
        background-color: @header-button-bg;
        border: @header-button-border;
        mso-border-alt: @header-button-border;
      }

      a {
        font-family: @font-family;
        text-decoration: @header-button-text-decoration;
        color: @header-button-color;
        font-size: @header-button-font-size;
        font-weight: @header-button-font-weight;
      }
    }
  }
}

// Footer
.footer {
  .twelve {
    width: 580px;
  }

  .spacing {
    padding-bottom: 0;
  }

  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }

  .connect {
    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding: 0 10px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;

      &.first {
        padding-left: 0;
      }

      &.last {
        padding-right: 0;
      }
    }
  }

  .client-links {
    width: 580px;
    background-color: #7DF0EE;

    .spacing {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a {
      font-family: @font-family;
      font-size: 22px;
      line-height: 24px;
      color: #000000;
      font-weight: 600;
      text-decoration: none;
    }

    .eight {
      width: auto;

      table {
        border-right: 2px solid #000000;

        td {
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .first {
        td {
          padding-left: 28px;
        }
      }
    }

    .four {
      width: auto;

      .spacing {
        padding-top: 0;
        padding-bottom: 0;
      }

      table {
        border-right: 2px solid #000000;

        &.last {
          border-right: 0 solid transparent;
        }

        td {
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  &.bottom {
    width: 580px;
    background-color: #E7FBFB;

    .spacing {
      padding-top: 0;
      padding-bottom: 20px;
    }
  }
}

.body-copy {
  .spacing {
    padding-bottom: 0;
  }
}

.list {
  .spacing {
    padding-top: 0;
  }

  .bullet {
    font-size: 15px;
    color: #179DAB;
    font-weight: bold;
    vertical-align: top;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
          }
        }
      }

      .client-links {
        .spacing {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }

        a {
          font-size: 18px !important;
          text-decoration: none !important;
        }

        .eight {
          margin: 0 auto !important;
          float: none !important;
          width: auto !important;

          table {
            &.no-mobile-border {
              border-right: 0 solid transparent !important;
            }
          }

          .first {
            td {
              padding-left: 0 !important;
            }
          }
        }

        .four {
          margin: 0 auto !important;
          float: none !important;
          width: auto !important;

          .spacing {
            padding-top: 10px !important;
            padding-bottom: 0 !important;
          }

          table {
            &.last {
              padding-right: 0 !important;
            }
          }
        }
      }
    }
  }
}
