@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.eleven {
  width: 492px;
}
.button {
  float: none;
  width: 251px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FA8D29;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FA8D29;
  background-color: #FA8D29;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  text-decoration: underline;
  font-weight: bold;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FA8D29;
  border: #FA8D29;
  width: 175px;
  height: auto;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #FA8D29;
  border-color: #FA8D29;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0098CE;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button.teal {
  background-color: #007297;
}
.solo-donate-button.teal .button {
  border: 3px solid #ffffff;
}
.solo-donate-button.teal .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.solo-donate-button.bottom .button {
  width: 231px;
}
.solo-donate-button.bottom .button td {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 231px;
}
.solo-donate-button.bottom .button a {
  font-size: 16px;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
}
.header .copy a {
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
}
.header .mobile-view-donate {
  display: none;
  font-size: 0;
  line-height: 0;
}
.header .mobile-view-donate a {
  display: none;
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .view-donate .button td {
  padding-top: 7px;
  padding-bottom: 7px;
}
.header .view-donate .button a {
  font-size: 20px;
}
.footer .connect .copy {
  font-size: 12px;
  color: #1D2129;
}
.footer .client-info .address {
  padding-top: 30px;
  padding-bottom: 0;
}
.footer .client-info .address .desktop-info {
  display: inline-block;
}
.footer .client-info .address .mobile-info {
  display: none;
}
.footer .client-info .address strong {
  font-size: 12px;
}
.footer .client-info .address a {
  text-decoration: none;
}
.footer .client-info .address a strong {
  font-size: 10px;
}
.footer .client-info .copyright {
  padding-top: 0;
  padding-bottom: 10px;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 231px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 10px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .solo-donate-button.bottom .button a {
    font-size: 16px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: auto !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .mobile-view-donate.copy {
    display: block !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate.copy a {
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 200px !important;
  }
  *[class].mobile .footer .connect .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .client-info .address {
    padding-top: 30px !important;
  }
  *[class].mobile .footer .client-info .address .desktop-info {
    display: none !important;
  }
  *[class].mobile .footer .client-info .address .mobile-info {
    display: block !important;
  }
  *[class].mobile .footer .client-info .address strong {
    font-size: 12px !important;
  }
  *[class].mobile .footer .client-info .address a {
    text-decoration: none !important;
  }
  *[class].mobile .footer .client-info .address a strong {
    font-size: 10px !important;
  }
  *[class].mobile .footer .client-info .copyright {
    padding-top: 20px !important;
  }
  *[class].mobile .footer .support {
    padding-bottom: 10px !important;
  }
}
