.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.tan {
    background-color: @gift-array-bg;

    .spacing {
      padding-top: 0;
    }
  }

  &.bottom {
    .button {
      width: 256px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
