@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 700px;
}

.twelve {
  width: 700px;
}

@media only screen and (max-width: 700px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #231f20;
  text-align: left;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #231f20;
}

@media only screen and (max-width: 700px ) {
  *[class].mobile .footer .copy {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .copy {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .copy {
    font-size: 16px !important;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 700px;
}

.main-content {
  width: 700px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #231f20;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #231f20;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

@media only screen and (max-width: 700px ) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
}

.body {
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #231f20;
  text-align: left;
}

.footer a {
  text-decoration: none;
  font-weight: normal;
}

@media only screen and (max-width: 700px ) {
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
}

/* Targetting Tablets */

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
}

/* Targeting Mobile */

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
}

a.donate {
  color: #0000ff;
  text-decoration: underline;
}

.sig .spacing {
  padding-top: 0;
}

.footer {
  border-top: 1px solid #acacac;
}

.footer .spacing {
  padding-top: 30px;
}

@media only screen and (max-width: 750px) {
  *[class].mobile .twelve,
  *[class].mobile .columns {
    width: 90.625% !important;
  }
}
