.sidebar {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .four {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .sig {
    &.copy {
      padding-bottom: 60px;
      padding-top: 10px;
    }
  }

  .prices {
    float: left;
    width: 168px;
  }

  .price-description {
    display: block;
    float: left;
    width: 168px;

    .copy {
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 16px;
      line-height: 22px;

      span {
        color: #01f3c0;
        font-weight: bold;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .four {
        .spacing {
          padding-top: 40px !important;
          padding-bottom: 0;
        }
      }

      .prices {
        width: 50% !important;

        td {
          padding-bottom: 20px !important;
        }
      }

      .price-description {
        width: 50% !important;

        .copy {
          height: 168px !important;
          padding-top: 10px !important;
          padding-right: 0 !important;
          text-align: left !important;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  *[class].mobile {
    .sidebar {
      .prices {
        width: 40% !important;
      }

      .price-description {
        width: 60% !important;

        .copy {
          height: auto !important;
          padding-top: 30px !important;
          padding-left: 20px !important;
          padding-right: 10px !important;
          font-size: 15px !important;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  *[class].mobile {
    .sidebar {
      .prices {
        width: 30% !important;
      }

      .price-description {
        width: 70% !important;

        .copy {
          height: auto !important;
          padding-top: 5px !important;
          padding-left: 10px !important;
          padding-right: 10px !important;
          font-size: 15px !important;
          line-height: 20px !important;
        }
      }
    }
  }
}
