@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.eleven {
  width: 492px;
}
.six {
  width: 250px;
}
.button {
  float: none;
  width: 175px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #79A2FF;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #79A2FF;
  background-color: #79A2FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #79A2FF;
  width: 175px;
  height: auto;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #79A2FF;
  border-color: #79A2FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 16px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #FBFBFB;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #595551;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #595551;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #79A2FF;
}
.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.johnsonbox .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.johnsonbox .copy a {
  color: #ffffff;
  text-decoration: none;
}
.johnsonbox .heading {
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}
.johnsonbox.hero-text {
  background-color: #ffffff;
}
.johnsonbox.hero-text .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.johnsonbox.hero-text .copy {
  padding-bottom: 0;
  font-family: Georgia, Times, serif, 'Arvo';
  color: #79A2FF;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  font-style: italic;
}
.johnsonbox.headline {
  background-color: #FBFBFB;
}
.johnsonbox.headline table {
  width: 530px;
}
.johnsonbox.headline table .copy {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox.pink table {
  background-color: #F792E1;
}
.johnsonbox.purple table {
  background-color: #C8ABE8;
}
.johnsonbox.blue table {
  background-color: #79A2FF;
}
.johnsonbox.blue.bottom .copy {
  font-size: 20px;
}
.johnsonbox.blue.bottom a {
  color: #AD29D8;
}
.johnsonbox.green table {
  background-color: #77CEC7;
}
.sidebar .group {
  margin: 0 auto;
  width: 200px;
}
.sidebar .six {
  width: 270px;
}
.sidebar .numbers {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
.sidebar .numbers a {
  color: #B0762C;
  text-decoration: none;
}
.sidebar .numbers a span {
  text-decoration: none;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 175px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #79A2FF;
  border: #79A2FF;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer {
  background-color: #ffffff;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .copy a {
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 19px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 19px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  font-weight: normal;
}
.header .copy {
  padding-bottom: 10px;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.footer .copy.address a {
  text-decoration: none;
}
.highlight {
  background-color: #F1E451;
}
.body-copy .copy {
  font-weight: bold;
  color: #595551;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 21px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox.hero-text .copy {
    font-size: 35px !important;
  }
  *[class].mobile .sidebar .group {
    width: 100% !important;
  }
  *[class].mobile .sidebar .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .sidebar .icon {
    padding-top: 20px;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #000000;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 19px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 19px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 17px !important;
    text-decoration: underline !important;
  }
  *[class].mobile .footer .client-info .address a {
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.address a {
    text-decoration: none !important;
  }
}
