@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 630px;
}

.twelve {
  width: 630px;
}

.eleven {
  width: 575px;
}

.nine {
  width: 463px;
}

.eight {
  width: 407px;
}

.six {
  width: 295px;
}

.one {
  width: 16px;
}

.columns .first {
  padding-left: 0;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #505050;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #505050;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #505050;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero {
  border-top: 5px solid #ec1c23;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 10px;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ececec;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #505050;
  font-weight: normal;
}

.johnsonbox.giving {
  background-color: #ffffff;
}

.johnsonbox.giving .columns {
  background-color: #ececec;
  width: 580px;
}

.johnsonbox.giving .columns .header {
  background-color: #ececec;
  color: #75ad01;
  font-size: 27px;
  font-weight: bold;
  line-height: 33px;
}

.johnsonbox.giving .columns .donate {
  padding-top: 20px;
  padding-bottom: 30px;
}

.sidebar .columns {
  width: 580px;
}

.sidebar .six {
  width: 280px;
}

.sidebar .six.story-img {
  width: 300px;
  height: 280px;
}

.sidebar .six.story-img td {
  height: 280px;
}

.sidebar .story {
  height: 280px;
  background-color: #ececec;
}

.sidebar .story .spacing {
  padding-top: 0;
  padding-bottom: 0;
  height: 280px;
}

.sidebar .story table {
  width: 73%;
  vertical-align: middle;
}

.sidebar .story table .copy {
  padding-bottom: 25px;
}

.sidebar.executive .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}

.sidebar.executive .columns {
  background-color: #ececec;
  width: 580px;
}

.sidebar.executive .executive-content {
  width: 90%;
}

.sidebar.executive .eight {
  width: 390px;
}

.sidebar.executive .eight .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}

.sidebar.executive .sig {
  padding-right: 40px;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .copy {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}

.header .donate {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
  padding-top: 15px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

/* uncss:ignore */

.body-copy .copy img {
  display: inline-block;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.header .donate .copy {
  padding-right: 15px;
  padding-bottom: 5px;
}

.body-copy .copy {
  padding-bottom: 15px;
}

.body-copy .header {
  color: #ec1c23;
  font-weight: bold;
  font-size: 31px;
  line-height: 40px;
}

.footer td.footer-donate {
  padding-top: 0 !important;
}

.footer .extra {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.footer .extra span {
  text-decoration: underline;
}

@media only screen and (max-width: 670px ) {

  *[class].mobile .one,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 15px !important;
    line-height: 27px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
  }

  *[class].mobile .johnsonbox.giving .columns {
    width: 100% !important;
  }

  *[class].mobile .johnsonbox.giving .nine {
    width: 90% !important;
  }

  *[class].mobile .sidebar .columns {
    width: 100% !important;
  }

  *[class].mobile .sidebar .story {
    height: auto !important;
  }

  *[class].mobile .sidebar .story table {
    width: 90% !important;
  }

  *[class].mobile .sidebar .story .spacing {
    height: auto !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar .story-img img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sidebar.executive .columns {
    width: 90% !important;
  }

  *[class].mobile .sidebar.executive .columns .copy {
    padding-top: 20px !important;
  }

  *[class].mobile .sidebar.executive .columns .copy.sig {
    padding-top: 0 !important;
  }

  *[class].mobile .header .copy {
    display: none !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .logo-donate-social {
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td {
    padding-right: 0 !important;
    padding-bottom: 30px;
    text-align: center !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-donate img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .donate-social {
    height: auto !important;
  }

  *[class].mobile .header {
    width: 95% !important;
  }

  *[class].mobile .header .copy {
    display: block !important;
  }

  *[class].mobile .header .donate,
  *[class].mobile .header .logo {
    width: 50% !important;
  }

  *[class].mobile .footer .extra {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
