/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: 24px;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
    font-weight: bold;
  }

  .array {

    table {
      width: @gift-array-btn-width;
    }

    a {
      width: 100%;
      height: auto;
      display: block;
      vertical-align: middle;
      // background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;

      span {
        font-size: 26px;
        line-height: 26px;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .twelve {
      border-radius: @gift-array-btn-radius;
      background-color: @gift-array-btn-bg;
      height: 90px;

      td {
        height: 90px;
      }

      &.active {
        background-color: @gift-array-active-btn;

        a {
          color: @gift-array-active-btn-color;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      a {
        width: 100% !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @gift-array-btn-font-size - 5 !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size - 5 !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }

      .copy {
        line-height: @gift-array-btn-line-height + 5 !important;
      }

      .array {
        .twelve {
          width: 100% !important;

          td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
          }
        }
      }
    }
  }
}
