.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.bottom {
    background-color: @content-bg;

    .button {
      td {
        padding-top: 15px;
        padding-bottom: 15px;

        a {
          font-family: @font-family-sans-serif;
          font-size: 20px;
        }
      }
    }
  }

  &.last {
    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .button {
      td {
        padding-top: 12px;
        padding-bottom: 12px;

        a {
          font-size: 20px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
