@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.ten {
  width: 444px;
}
.six {
  width: 250px;
}
.button {
  float: none;
  width: 194px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #e5bd50;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #e5bd50;
  background-color: #e5bd50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fffefe;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #959595;
  font-weight: normal;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #e5bd50;
  border: #e5bd50;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #e5bd50;
  border-color: #e5bd50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #cf784e;
  font-weight: bold;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}
.story .columns {
  width: 100%;
}
.story .six {
  width: 280px;
  height: 250px;
}
.story .story-content {
  height: 250px;
  vertical-align: top;
}
.story .story-content table {
  width: 100%;
  vertical-align: top;
}
.story .heading {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #993e74;
  font-weight: bold;
}
.story .story-link {
  padding-top: 10px;
}
.story .story-link a {
  font-family: Arial, Helvetica, sans-serif;
  color: #cf784e;
  font-weight: bold;
}
.story.bottom .spacing {
  padding-bottom: 40px;
}
.featured {
  border-bottom: 2px dashed #eae7e7;
}
.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.featured .twelve {
  width: 580px;
}
.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #515151;
}
.featured .story-link {
  padding-top: 20px;
  padding-bottom: 0;
}
.featured .story-link a {
  color: #cf784e;
  font-weight: bold;
  text-decoration: none;
}
.featured .heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #993e74;
  font-weight: bold;
}
.text-donate-button {
  background-color: #eae7e7;
}
.text-donate-button .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}
.header .donate {
  width: 130px;
}
.footer {
  border-top: 3px solid #cccccc;
}
.header .spacing {
  padding-bottom: 0;
}
.header .columns {
  width: 580px;
}
.header .copy strong {
  color: #cf784e;
}
.heading-banner td {
  padding-top: 0;
  padding-bottom: 5px;
}
.footer {
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .social-icons td {
  padding-left: 8px;
  padding-right: 8px;
}
.footer .copy {
  padding-top: 20px;
}
.footer .copy-spacer {
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 194px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 22px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #707070 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  *[class].mobile .story .six {
    float: none !important;
    height: auto !important;
  }
  *[class].mobile .story .story-content {
    height: auto !important;
  }
  *[class].mobile .story .story-content table {
    width: 100% !important;
  }
  *[class].mobile .story .heading {
    padding-top: 20px !important;
  }
  *[class].mobile .heading-banner img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .heading-banner img {
    width: 90% !important;
    height: auto !important;
  }
}
