.body-copy {
  .list {
    .bullet {
      padding-right: 5px;
      font-size: @font-size + 5;
    }
  }
}

.top {
  .spacing {
    padding-bottom: 0;
  }
}

table, tr, td {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
  mso-line-height-rule: exactly;
}


@media @content {
  *[class].mobile {
    .header {
      .logo {
        padding-right: 0 !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
