.side-btn {
  background-color: #efefef;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .button {
    width: 100%;

    a {
      background-color: @button-bg;
      color: @button-color;
      font-size: @button-font-size;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.who-we-are {
  background-color: @content-bg;

  .spacing {
    padding-top: 30px;
  }

  .columns {
    background-color: @whoweare-background-color;
  }

  .copy {
    padding: 20px;
    color: @whoweare-text-color;
    font-family: @whoweare-font-family;
    font-size: @whoweare-font-size;
    line-height: @whoweare-line-height;
    font-weight: normal;
  }
}

.map {
  .copy {
    padding-left: 20px;

    a {
      color: @text-color;
      font-weight: normal;
    }
  }
}

.body-copy,
.johnsonbox {
  .nine {
    margin: 0 auto;
    width: 420px;
  }
}

.header {
  .donate-button {
    border-bottom: 0 solid transparent !important;
  }
}

.footer {
  .copy {
    strong {
      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        border-bottom: 1px solid #cccccc !important;

        td {
          padding-bottom: 20px !important;
        }
      }

      .donate-button {
        border-bottom: 0 solid transparent !important;

        td {
          padding-top: 20px !important;

          img {
            float: none !important;
            margin: 0 auto !important;
          }
        }
      }
    }

    .footer {
      .affiliates {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
