/* uncss:ignore */
.outlook-buttons td .button,
.outlook-buttons td .copy {
		width: 100% !important;
}

/* uncss:ignore */
.outlook-buttons td .copy {
	padding-bottom: 0 !important;
	padding-top: 15px !important;
}

/* uncss:ignore */
.outlook-buttons td .copy td {
	line-height: 24px !important;
}