// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             640px;

@body-bg:                   @tan; 
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #363636;
@link-color:                #0397d6;
@link-decoration:           none;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  50px;

// Button styles
@button-bg:                     #dddddd;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 3px;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#b5b22a;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

@view-online-color:             @text-color;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #ffffff;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:                     #efefef;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              23px;
@johnsonbox-line-height:            29px;
@johnsonbox-color:                  #0397d6;
@johnsonbox-text-align:             left;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:            200px;
@gift-array-btn-bg:               #fcfcfc;
@gift-array-btn-bg-hover:         lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:      #333333;
@gift-array-btn-color:            #ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        20px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-text-color:           #ffffff;
@gift-array-font-family:          @font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @tan;
@footer-color:                  #725844;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3; 
@footer-text-align:             center;