@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.nine {
  width: 440px;
}

.six {
  width: 280px;
}

.columns .first {
  padding-left: 0;
}

.preheader .copy {
  color: #abb989;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #abb989;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #f4f9e3;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #838c6b;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #838c6b;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #abb989;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #abb989;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #4c4c4c;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ec4338;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #f4f9e3;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 28px;
  color: #838b6b;
  font-weight: bold;
}

.sig img {
  width: auto;
  height: auto;
}

.body {
  background-color: #abb989;
}

.preheader .copy {
  color: #abb989;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #abb989;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .donate {
  width: 25%;
}

.footer {
  background-color: #f4f9e3;
  text-align: center;
}

.footer .spacing {
  padding-top: 10px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #838c6b;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

.section.footer {
  width: 100%;
  max-width: 100%;
  border-top: 4px solid #d5dfc1;
}

.section.footer .logo-donate-social,
.section.footer .donate-social,
.section.footer .six,
.section.footer .footer-logo td {
  height: auto;
}

.section.footer .logo-donate-social {
  padding-top: 30px;
}

.section.footer .logo-donate-social .six {
  height: 85px;
}
