@content-width:             640px;

@grid-columns:							12;

@yellow:										#eb902d;

@body-bg:                   #f6f0e8; 
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               26px;
@text-color:                #523822;
@link-color:                @yellow;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     @yellow;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 4;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Preheader Styles
@preheader-color:               @body-bg;
@preheader-font-size:           0px;
@preheader-line-height:         0px;

// Header Button styles
@header-button-bg:              		@button-bg;
@header-button-border:          		@header-button-bg;
@header-button-color:           		@button-color;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		15px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;

@johnsonbox-bg:           					#533a24;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;

@gift-array-bg:         					#f1e8dd;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-hover-color:			@gift-array-btn-color;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	22px;
@gift-array-btn-line-height:     	26px;
@gift-array-btn-font-weight:     	normal;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#734720;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      32px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						@yellow;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     #ffffff;
@footer-color:                  #000000;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5; 
@footer-text-align:             center;

// Common Media queries
@content: ~'only screen and (max-width:'@content-width~')';
@tablet:  ~'only screen and (max-width: 600px)';
@phone: ~'only screen and (max-width: 480px)';