.divider {
  table {
    border-top: 1px solid #cccccc;
    width: 200px;
    height: 1px;

    td {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.footer {
  .copy {
    padding-bottom: 20px;
    text-align: left;
    font-size: @font-size - 2;
    line-height: @line-height - 2;
    color: @text-color;

    a {
      font-size: @font-size - 2;
      color: @link-color;
      font-weight: @link-weight;
    }
  }

  .spacing {
    padding-top: 0;
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height - 2 !important;

        a {
          font-size: @font-size - 2 !important;
          line-height: @line-height - 2 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .footer {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height - 2 !important;

        a {
          font-size: @font-size - 2 !important;
          line-height: @line-height - 2 !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .footer {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height - 2 !important;

        a {
          font-size: @font-size - 2 !important;
          line-height: @line-height - 2 !important;
        }
      }
    }
  }
}
