.header {
  .view {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    td {
      padding-bottom: 20px;
    }
  }
}

.body-copy {
  .ten {
    width: 467px;
  }

  .list {
    width: 406px;

    .bullet {
      padding-right: 10px;
    }

    .highlight {
      background-color: #F8E71C;
    }
  }
}

.footer {
  .logo {
    padding-bottom: 20px;
  }

  .address {
    a {
      text-decoration: none;
    }

    .copy-spacer {
      height: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .view-donate {
        width: 90% !important;
      }

      .view {
        display: block !important;
      }
    }

    .body-copy {
      .list {
        width: 100% !important;
      }
    }

    .footer {
      .client-info {
        .logo {
          padding-bottom: 20px !important;
        }
      }

      .address {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
