.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;
  border-top: 2px solid #ebebeb;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    a {
      font-size: @button-font-size;
    }
  }

  &.red-copy {
    background-color: #f9f3e3;

    .spacing {
      padding-top: 0;
    }

    .twelve {
      width: 100%;
    }

    .copy {
      font-size: 18px;
      line-height: 28px;
      color: #2c2c2c;
    }

    .bar {
      background-color: #aa2131;

      .copy {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 27px;
        line-height: 30px;
        font-weight: bold;
        color: #fefefe;
      }
    }

    .sidebar {
      margin: 0 auto;
      width: auto;

      .spacing {
        padding-top: 25px;
      }

      .six {
        td {
          height: 92px;
          vertical-align: middle;
        }
      }
    }

    .text {
      width: 90%;
    }
  }

  &.tan-copy {
    background-color: #f9f3e3;

    .spacing {
      padding-top: 0;
      padding-bottom: 40px;
    }

    .twelve {
      width: 80%;
      border-left: 4px solid #aa2131;

      .copy {
        padding-left: 20px;
        font-size: 20px;
        line-height: 31px;
        color: #595853;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size !important;
      }

      .button {
        width: 70% !important;
      }

      &.red-copy {
        .bar {
          width: 100% !important;
        }
      }
    }
  }
}
