.sidebar {
  .spacing {
    padding-bottom: 0;
  }

  .bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @orange; 
    border-radius: 15px;

    table {
      width: 77%;
    }

    .copy {
      border-bottom: 1px solid #ffffff;
      padding-bottom: 20px;
      color: @green;
      font-size: 18px;
      line-height: 24px;

      a {
        color: @green;
        text-decoration: none;
      }

      &.last {
        border-bottom: 1px solid transparent;
      }
    }
  }

  .price {
    padding-top: 20px;
    font-family: @font-family;
    font-size: 59px;
    line-height: 62px;
    color: #ffffff;
    font-weight: bold;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}