.hero {
	border: 25px solid #f4d90c;

	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	.columns {
		width: 600px;
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero {
			border: 15px solid #f4d90c !important;

			.columns {
				width: 100% !important;
			}
		}
  }
}
