.hero {
	img {
		width: 100%;
		max-width: 420px;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
