.header {
  background-color: #ffffff;

  .view-donate {
    .button {
      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.main-bg {
  background: url(https://cdn.oneandall.com/emails/ac/2019/12/35611_GreetingCard/Base/Email2/images/bg_pattern_long.png);
  background-size: 100%;
}

.body-copy {
  width: 550px;
  background-color: #ffffff;

  .copy {
    padding-bottom: 20px;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer {
  .spacing {
    padding-top: 30px;
  }

  .connect {
    .copy {
      color: #E9F5F8;
    }
  }

  .address {
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      width: 86% !important;
      border-left: 0 solid transparent !important;

      .spacing {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }

    .footer {
      .connect {
        .copy {
          color: #E9F5F8 !important;
        }
      }

      .address {
        a {
          text-decoration: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}
