.header {
  .view-donate {
    .button {
      td {
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: @header-button-radius;
      }
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 20px;
  }

  .highlight {
    background-color: #F6E942;
  }

  .ten {
    width: 510px;
  }
}

.footer {
  width: 100%;

  table, td {
    mso-line-height-rule: exactly;
  }
}

@media @content {
  *[class].mobile {

  }
}
