@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 610px;
}
.twelve {
  width: 610px;
}
.eleven {
  width: 556px;
}
.ten {
  width: 502px;
}
.nine {
  width: 448px;
}
.six {
  width: 285px;
}
.button {
  float: none;
  width: 355px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #ED1B2E;
  text-align: center;
  border-radius: 4px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #ED1B2E;
  background-color: #ED1B2E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4A4A4A;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4A4A4A;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ED1B2E;
  width: 175px;
  height: auto;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #ED1B2E;
  border-color: #ED1B2E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #F0F0F0;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F0F0F0;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F0F0F0;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 650px;
}
.main-content {
  width: 650px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #54646E;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ED1B2E;
  font-weight: normal;
}
.preheader .copy {
  color: #F0F0F0;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 650px;
}
td.hide img {
  width: 650px;
  min-width: 650px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.hero.headline {
  background-color: #ED1B2E;
}
.hero.headline .spacing {
  padding-top: 10px;
  padding-bottom: 5px;
}
.hero.headline img {
  width: auto;
  max-width: 467px;
  height: auto;
}
.johnsonbox {
  background-color: #ED1B2E;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.johnsonbox.bottom .copy {
  padding-bottom: 0;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.sidebar .copy {
  font-size: 23px;
  line-height: 43px;
  font-weight: bold;
  color: #4A4A4A;
}
.sidebar .copy.bullet {
  font-size: 30px;
  padding-right: 10px;
  vertical-align: top;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-donate-button {
  background-color: #ED1B2E;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.text-donate-button.red img {
  display: inline-block;
}
.text-donate-button.red .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button.red .button td {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #ffffff;
}
.text-donate-button.red .button a {
  background-color: #ffffff;
  color: #ED1B2E;
}
.text-donate-button.red .copy {
  padding-bottom: 0;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 23px;
}
.text-donate-button.white {
  background-color: #ffffff;
}
.text-donate-button.white .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.text-donate-button.white .copy {
  padding-top: 0;
  padding-bottom: 30px;
  color: #ED1B2E;
  font-size: 30px;
  line-height: 37px;
}
.text-donate-button.white .button td {
  padding-top: 19px;
  padding-bottom: 19px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4A4A4A;
  font-weight: normal;
}
.header .copy a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 175px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #ED1B2E;
  border: #ED1B2E;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.footer {
  background-color: #F0F0F0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  font-weight: normal;
}
.body-spacing {
  padding-top: 20px;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .copy {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .mobile-view-donate {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0;
  line-height: 0;
}
.header .mobile-view-donate a {
  display: none;
  font-size: 0;
  line-height: 0;
}
.header .eleven {
  width: 575px;
}
.body-copy .ten {
  width: 480px;
}
.body-copy span.linkred {
  color: #ED1B2E;
  font-weight: bold;
}
.body-copy .list .bullet {
  padding-right: 10px;
  vertical-align: top;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
@media only screen and (max-width: 650px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 255px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 26px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero.headline img {
    width: 95% !important;
    max-width: 467px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 23px !important;
    line-height: 35px !important;
  }
  *[class].mobile .sidebar .list {
    margin: 0 auto !important;
    width: 240px !important;
    float: none !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 23px !important;
    line-height: 35px !important;
  }
  *[class].mobile .johnsonbox .button td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .johnsonbox.red .button img {
    width: 14px !important;
    height: auto !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
  }
  *[class].mobile .footer .client-info .address a {
    font-weight: normal !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: auto !important;
    margin: 0 auto !important;
    padding-bottom: 15px !important;
  }
  *[class].mobile .header .mobile-view-donate.copy {
    text-align: center !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4A4A4A !important;
  }
  *[class].mobile .header .mobile-view-donate.copy a {
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4A4A4A !important;
  }
  *[class].mobile .body-spacing {
    padding-top: 0 !important;
  }
}
