// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;

      &.address {
        a {
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
  }

  .list {
    .copy {
      font-weight: bold;
      vertical-align: top;

      &.bullet {
        padding-right: 15px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .client-info {
        .copy {
          &.address {
            a {
              text-decoration: none !important;
            }
          }
        }
      }
    }

    .johnsonbox {
      &.bar {
        .button {
          width: 100% !important;
        }
      }
    }
  }
}
