.johnsonbox {
  text-align: @johnsonbox-text-align;

  .columns {
    background-color: @johnsonbox-bg;
  }

  .copy {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: 23px;
    line-height: 32px;
    color: @johnsonbox-color;
    font-weight: bold;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
      font-weight: bold;
    }
  }

  .list {
    table {
      margin: 0 auto;
      width: 80%;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .copy {
      padding-top: 0;
      padding-bottom: 20px;
      font-family: @johnsonbox-font-family;
      font-size: @johnsonbox-font-size;
      line-height: @johnsonbox-line-height;
      color: @johnsonbox-color;
      font-weight: normal;

      &.number {
        padding-right: 10px;
      }

      a {
        font-family: @johnsonbox-font-family;
      }
    }
  }

  .button {
    a {
      font-size: @button-font-size;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: #ffd18e;

  &.white {
    background-color: @content-bg;
  }

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      background-color: @johnsonbox-bg;

      &.white {
        background-color: #ffffff !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }

      .list {
        width: 100% !important;

        table {
          width: 80% !important;

          .copy {
            font-size: @johnsonbox-font-size - 3 !important;
            line-height: @johnsonbox-line-height - 3 !important;
          }
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
