/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
    font-weight: bold;
  }

  .array {
    table {
      width: @gift-array-btn-width;
      mso-table-lspace:0;
      mso-table-rspace:0;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 15px !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }

        img {
          margin: 0 auto !important;
        }
      }

      .spacing {
        padding-bottom: 25px !important;
      }
    }
  }
}
