@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.six {
  width: 280px;
}

.three {
  width: 120px;
}

.columns .last {
  padding-right: 0;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .three,
  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .three,
  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .three,
  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

.button {
  float: none !important;
}

.button td {
  background-color: #ef9149;
  text-align: center;
  border-radius: 4px;
}

.button td:hover {
  border-color: #d86913;
  background-color: #d86913;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #ef9149;
  background-color: #ef9149;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  mso-border-alt: 1px solid #ef9149;
}

.button a:hover {
  border-color: #d86913;
  background-color: #d86913;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #ef9149;
  background-color: #ef9149;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #d86913;
  background-color: #d86913;
}

.preheader .copy {
  color: #fdedcd;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fdedcd;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #ef9149;
}

.header .button td:hover {
  border-color: #d86913;
  background-color: #d86913;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #ef9149;
  color: #ffffff;
  background-color: #ef9149;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #ef9149;
}

.header .button a:hover {
  border-color: #d86913;
  background-color: #d86913;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #d86913;
  background-color: #d86913;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #d86913;
  background-color: #d86913;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #000000;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fdedcd;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fdedcd;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ef9149;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

.johnsonbox {
  background-color: #1c5b2e;
  text-align: left;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
}

.johnsonbox .copy span {
  color: #ef9149;
}

.donate-button {
  background-color: #1c5b2e;
}

.donate-button .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.donate-button .button a {
  padding: 15px 0;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .johnsonbox .copy {
    padding-bottom: 0 !important;
    text-align: center !important;
    font-size: 22px !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 16px !important;
  }

  *[class].mobile .donate-button .spacing {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .johnsonbox .copy {
    padding-bottom: 0 !important;
    text-align: center !important;
    font-size: 22px !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 16px !important;
  }

  *[class].mobile .donate-button .spacing {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .johnsonbox .copy {
    padding-bottom: 0 !important;
    text-align: center !important;
    font-size: 22px !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 16px !important;
  }

  *[class].mobile .donate-button .spacing {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sidebar .spacing {
  padding-bottom: 0;
}

.sidebar .bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ef9149;
  border-radius: 15px;
}

.sidebar .bar table {
  width: 77%;
}

.sidebar .bar .copy {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
  color: #1c5b2e;
  font-size: 18px;
  line-height: 24px;
}

.sidebar .bar .copy a {
  color: #1c5b2e;
  text-decoration: none;
}

.sidebar .bar .copy.last {
  border-bottom: 1px solid transparent;
}

.sidebar .price {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 59px;
  line-height: 62px;
  color: #ffffff;
  font-weight: bold;
}

.sidebar .price a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .sidebar table td {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar .bar {
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar .price {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 42px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .sidebar table td {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar .bar {
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar .price {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 42px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .sidebar table td {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar .bar {
    padding-bottom: 0 !important;
  }

  *[class].mobile .sidebar .price {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 42px !important;
  }
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

.body {
  background-color: #fdedcd;
}

.preheader .copy {
  color: #fdedcd;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fdedcd;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #ef9149;
  font-weight: normal;
  color: #ffffff;
}

.header .button a:hover {
  border-color: #ef9149;
  background-color: #d86913;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #ef9149;
  background-color: #d86913;
  color: #ffffff;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #ef9149;
  background-color: #d86913;
  color: #ffffff;
}

.donate-button .button a {
  padding: 10px 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}

.footer {
  background-color: #fdedcd;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

/* Affiliate Icon Styles */

/******************************/

.affiliates td {
  padding: 0 10px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
    padding: 0 !important;
  }
}

/* Targetting Tablets */

@media only screen and (max-width: 600px) {
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
    padding: 0 !important;
  }
}

/* Targeting Mobile */

@media only screen and (max-width: 480px) {
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
    padding: 0 !important;
  }
}

.header .donate {
  width: 15%;
}

.johnsonbox .donate {
  padding-top: 20px;
}

.johnsonbox.donate-button .donate {
  padding-top: 0;
}

.johnsonbox.donate-button .donate .button a {
  font-weight: normal;
}
