.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .copy {
    padding-bottom: 30px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .donate {
    padding-top: 30px;
  }

  .button {
    width: 280px;

    td {
      padding-top: 15px;
      padding-bottom: 15px;

      a {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-bottom: 20px !important;
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .spacing {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
      }

      .donate {
        padding-top: 20px !important;
      }
    }
  }
}
