@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 610px;
}
.twelve {
  width: 610px;
}
.ten {
  width: 502px;
}
.six {
  width: 285px;
}
.button {
  float: none;
  width: 352px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FA6541;
  text-align: center;
  border-radius: 4px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FA6541;
  background-color: #FA6541;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #038F94;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #038F94;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FA6541;
  width: 175px;
  height: auto;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #FA6541;
  border-color: #FA6541;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #C7E0DA;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 16px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #C7E0DA;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #C7E0DA;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 650px;
}
.main-content {
  width: 650px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #54646E;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #FA6541;
  font-weight: normal;
}
.preheader .copy {
  color: #C7E0DA;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 650px;
}
td.hide img {
  width: 650px;
  min-width: 650px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #1F9B9F;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.johnsonbox.green .copy {
  padding-bottom: 0;
}
.johnsonbox.green .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar .columns {
  width: auto;
}
.sidebar .six {
  width: 234px;
}
.sidebar .list {
  margin: 0 auto;
  width: auto;
}
.sidebar .list .copy {
  font-weight: bold;
  font-size: 23px;
  line-height: 37px;
  color: #144D6E;
}
.sidebar .list .bullet {
  padding-right: 10px;
  color: #C9DD34;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sig .ten {
  width: 480px;
}
.text-donate-button {
  background-color: #1F9B9F;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.text-donate-button.top {
  background-color: #ffffff;
}
.text-donate-button.top .spacing {
  padding-top: 20px;
  padding-bottom: 15px;
}
.text-donate-button.top .button {
  border-radius: 4px;
}
.text-donate-button.top .button img {
  display: inline-block;
}
.text-donate-button.top .button td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button.white {
  background-color: #ffffff;
}
.text-donate-button.white .copy {
  padding-bottom: 15px;
  color: #58ACB0;
  font-size: 23px;
}
.text-donate-button.white .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.text-donate-button.white .button {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #038F94;
  font-weight: normal;
}
.header .copy a {
  color: #038F94;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 175px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #FA6541;
  border: #FA6541;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer {
  background-color: #C7E0DA;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .copy a {
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 19px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 19px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  font-weight: normal;
}
table,
td {
  mso-line-height-rule: exactly;
}
.header .spacing {
  padding-bottom: 15px;
}
.header .copy {
  padding-bottom: 10px;
}
.header .columns {
  width: 560px;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 3px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.footer .copy.address a {
  font-weight: normal;
  text-decoration: none;
}
.highlight {
  background-color: #F8E71C;
}
.johnsonbox.green .highlight {
  background-color: #BBCF5B;
}
.headline {
  background-color: #1F9B9F;
}
.headline .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.headline .copy {
  color: #C6D934;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;
}
.headline .white {
  color: #ffffff;
}
.headline .highlight {
  background-color: #448B2C;
}
.headline.light-green {
  background-color: #C6D934;
}
.headline.light-green .highlight {
  background-color: #F5E752;
}
.headline.light-green .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}
.headline.light-green .copy {
  font-size: 19px;
  line-height: 21px;
  color: #ffffff;
}
.body-copy strong {
  color: #144D6E;
}
.body-copy .ten {
  width: 480px;
}
@media only screen and (max-width: 650px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 252px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 25px !important;
    line-height: 33px !important;
  }
  *[class].mobile .johnsonbox .button img {
    width: 14px !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .six td {
    text-align: left !important;
    float: none !important;
  }
  *[class].mobile .sidebar .list {
    width: 250px !important;
  }
  *[class].mobile .sidebar .list .bullet {
    padding-right: 0 !important;
    width: 22px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 25px !important;
    line-height: 33px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    color: #038F94 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    color: #038F94 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #000000;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 19px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 19px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 17px !important;
    text-decoration: underline !important;
  }
  *[class].mobile .footer .client-info .address a {
    font-weight: normal !important;
  }
  *[class].mobile .headline .copy {
    font-size: 38px !important;
    line-height: 43px !important;
  }
  *[class].mobile .headline.light-green .copy {
    font-size: 19px !important;
    line-height: 21px !important;
  }
}
