@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.six {
  width: 280px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 169px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #16548d;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #124573;
  background-color: #16548d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #b5b22a;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #b5b22a;
  border-color: #98953B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #393939;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #16548d;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.johnsonbox {
  background-color: #fcf7ef;
}
.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #70614b;
  font-weight: normal;
  text-align: left;
}
.johnsonbox .copy a {
  color: #16548d;
  text-decoration: none;
}
.johnsonbox .headline {
  padding-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  color: #16548d;
  font-weight: bold;
}
.johnsonbox .number {
  padding-left: 10px;
  padding-right: 5px;
  color: #000000;
  font-weight: bold;
}
.johnsonbox .highlight {
  background-color: #e0d9ce;
  color: #000000;
}
.johnsonbox .smaller {
  padding-top: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #393939;
  text-align: center;
}
.johnsonbox .twelve .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.johnsonbox.top {
  background-color: #ffffff;
}
.johnsonbox.top .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}
.johnsonbox.instructions {
  margin: 0 auto;
  width: 480px;
}
.johnsonbox.instructions .twelve {
  width: 420px;
}
.johnsonbox.instructions .columns {
  width: 420px;
}
.johnsonbox.instructions .columns.login {
  margin: 0 auto;
  width: auto;
}
.johnsonbox.instructions .columns.login .copy {
  padding-left: 20px;
}
.johnsonbox.instructions .button {
  border-collapse: separate;
}
.johnsonbox.instructions .button td {
  padding-top: 16px;
  padding-bottom: 16px;
  border-collapse: separate;
  border-radius: 3px;
  border-bottom: 3px solid #124573;
}
.johnsonbox.instructions .six {
  width: auto;
}
.johnsonbox.instructions .six .copy {
  line-height: 53px;
}
.johnsonbox.instructions .six.donate-btn {
  width: 169px;
}
.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.sig .spacing {
  padding-top: 0;
}
.header .logo {
  width: 75%;
}
.header .donate {
  width: 25%;
}
.header .button {
  background-color: #b5b22a;
  border-bottom: 2px solid #98953B;
  border-radius: 3px;
  border-collapse: separate;
}
.header .button td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-collapse: separate;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .social-affiliates {
  width: auto;
}
.footer .address strong {
  font-size: 14px;
  line-height: 17px;
}
.footer .copy.smaller {
  padding-top: 20px;
}
.footer .six {
  width: 225px;
}
.footer .six .copy {
  padding-bottom: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
table,
td {
  mso-line-height-rule: exactly;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .affiliates .icons.spacing {
  padding-top: 0;
}
.footer .affiliates .copy {
  padding-left: 15px;
}
.footer .copy.smaller {
  padding-top: 0;
}
.body-copy .list .bullet {
  vertical-align: top;
  padding-left: 70px;
  padding-right: 10px;
}
.highlight {
  background-color: #fdf400;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 169px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  *[class].mobile .johnsonbox .number {
    width: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  *[class].mobile .johnsonbox .smaller {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .johnsonbox.top .spacing {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .johnsonbox.instructions .columns.login .copy {
    padding-left: 0 !important;
    padding-top: 15px !important;
    text-align: center!important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .six {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .six .copy {
    font-size: 14px !important;
    text-align: center !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
  *[class].mobile .footer .icons .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .body-copy .list .bullet {
    padding-left: 0 !important;
  }
}
