.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
		padding-bottom: 0;
	}

	.signature {
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: @font-family;
		font-size: @font-size;
		line-height: @line-height;
		color: @text-color;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
