.hero {
  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

	&.top {
		width: 450px;
		border-bottom: 8px solid #26B7C8;

	  .spacing {
	    padding-top: 0;
	    padding-bottom: 0;
	  }
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 90% !important;
				max-width: 340px !important;
	      height: auto !important;
	    }

			.spacing {
				padding-top: 30px !important;
			}

			&.top {
				width: 100% !important;

				img {
					width: 95% !important;
					max-width: 387px !important;
		      height: auto !important;
		    }
			}
		}
  }
}
