.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.red {
      padding-bottom: 0;
      font-size: 22px;
      line-height: 25px;
      color: #AB0634;
      font-weight: bold;

      span {
        text-decoration: underline;
      }
    }
  }

  .thanks {
    width: auto;
    margin: 0 auto;

    img {
      display: inline-block;
    }

    .copy {
      padding-bottom: 0;
      padding-right: 10px;
      vertical-align: top;
      height: 33px;
      font-weight: bold;
      color: #4A4A4A;
      font-size: 20px;
      line-height: 33px;
    }
  }

  .give {
    td {
      padding-bottom: 20px;
    }
  }

  &.middle {
    .spacing {
      padding-bottom: 30px;
    }
  }

  &.ian {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .top {
      width: 100%;

      .white {
        width: 142px;
        height: 210px;

        table {
          vertical-align: top;
          width: 142px;
          height: 210px;
          background-color: #ffffff;

          td {
            height: 210px;
            background-color: #ffffff;
          }
        }
      }
    }

    .ian-picture {
      background-color: #ffffff;
    }

    .middle {
      width: 452px;

      .copy {
        padding-top: 30px;
        text-align: left;
      }
    }

    .bottom {
      width: 100%;
      background-color: #ffffff;

      .teal {
        background-color: #ffffff;
        vertical-align: top;
        width: 150px;
        height: 14px;

        table {
          background-color: @johnsonbox-bg;
          width: 150px;
          height: 14px;
        }

        .copy {
          padding-bottom: 0;
          height: 14px;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }

  .button {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.middle {
        .copy {
          font-size: @johnsonbox-mobile-font-size !important;
          line-height: @johnsonbox-mobile-line-height !important;

          &.red {
            font-size: 22px !important;
            line-height: 25px !important;
            color: #AB0634 !important;
          }
        }
      }

      .thanks {
        width: auto !important;
        
        .copy {
          height: 65px !important;
          font-size: 20px !important;
          line-height: 65px !important;
        }
      }

      &.ian {
        .top {
          width: 100% !important;

          td {
            width: auto !important;
          }

          .white {
            height: 140px !important;

            table {
              width: 100% !important;
              height: 140px !important;

              td {
                height: 140px !important;
              }
            }
          }

          .ian-picture {
            width: 200px !important;

            img {
              width: 100% !important;
              height: auto !important;
            }
          }
        }

        .middle {
          .copy {
            font-size: @johnsonbox-mobile-font-size !important;
            line-height: @johnsonbox-mobile-line-height !important;
          }
        }

        .bottom {
          width: 100% !important;
          background-color: #ffffff !important;

          .donate {
            background-color: #ffffff !important;
            width: 33.333333% !important;
          }

          .teal {
            background-color: #ffffff !important;
            width: 33.333333% !important;
            height: 14px !important;

            table {
              background-color: @johnsonbox-bg !important;
              width: 100% !important;
              height: 14px !important;
            }

            .copy {
              padding-bottom: 0 !important;
              height: 14px !important;
              font-size: 14px !important;
              line-height: 14px !important;
            }
          }
        }
      }
    }
  }
}
