@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.ten {
  width: 494px;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #ed1b2f;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #ed1b2f;
  background-color: #ed1b2f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #f5f5f5;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 200px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ed1b2f;
  width: 200px;
  height: auto;
}
.header .button a {
  width: 200px;
  height: auto;
  background-color: #ed1b2f;
  border-color: #ed1b2f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #f5f5f5;
  text-align: left;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: left;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #2323fb;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #252525;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ed1b2f;
  font-weight: bold;
}
.preheader .copy {
  color: #f5f5f5;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ed1b2f;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  padding-right: 15px;
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.johnsonbox .copy a {
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.johnsonbox .columns {
  margin: 0 auto;
  width: auto;
}
.johnsonbox .columns td {
  width: auto;
}
.johnsonbox .columns img {
  display: inline-block;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 50px;
}
.body {
  background-color: #f5f5f5;
}
.preheader .copy {
  color: #f5f5f5;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #f5f5f5;
}
.header .spacing {
  padding-top: 0px;
}
.header .logo {
  width: 80%;
}
.header .logo img {
  max-width: 266px;
}
.header .donate {
  width: 20%;
}
.header .donate .button {
  width: 100%;
}
.footer {
  background-color: #f5f5f5;
  text-align: left;
}
.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: left;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  color: #2323fb;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.header .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .columns {
  width: 580px;
}
.header .logo {
  width: 50%;
}
.header td.donate {
  width: 50%;
}
.header td.donate .button {
  width: 158px;
}
.header td.donate .button td {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header td.donate .button td a {
  width: 100%;
}
.body-copy .list .copy {
  font-weight: bold;
}
.body-copy .list .bullet {
  padding-right: 5px;
  vertical-align: top;
}
.footer .logo-icons {
  margin: 0 auto;
  width: auto;
}
.footer .footer-icon {
  padding-left: 8px;
  padding-right: 8px;
}
.footer .footer-icon.circle img {
  width: 80px;
  height: 80px;
}
.footer .copy {
  padding-bottom: 30px;
}
.footer .footer-address {
  padding-top: 30px;
  padding-bottom: 0;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 19px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 200px !important;
  }
  *[class].mobile .header .button {
    width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .columns {
    width: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 31px !important;
    line-height: 35px !important;
  }
  *[class].mobile .solo-donate-button .spacing {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 35% !important;
  }
  *[class].mobile .footer a {
    font-size: 12px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
  }
  *[class].mobile .header .donate .button {
    width: 153px !important;
  }
  *[class].mobile .footer .footer-icon.circle img {
    width: 80px !important;
    height: 80px !important;
  }
}
