.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 40px;
    font-family: @gift-array-font-family;
    font-size: 34px;
    line-height: 38px;
    color: #3AB8D3;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .gift {
      width: @gift-array-btn-width;

      table {
        width: @gift-array-btn-width;
      }

      &.first {
        table {
          width: 150px;
        }
      }

      &.middle {
        .spacing {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.last {
        table {
          width: 170px;
        }
      }

      .copy {
        &.grey {
          padding-bottom: 0;
          font-size: 16px;
          line-height: 22px;
          color: #545454;
          font-weight: normal;
        }

        &.red {
          padding-top: 10px;
          padding-bottom: 10px;

          img {
            display: inline-block;
          }

          a {
            font-size: 22px;
            line-height: 24px;
            color: #BE2D29;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }

    .button {
      margin: 0 auto;
      width: 90%;
      height: @gift-array-btn-height;

      td {
        padding: 0;
        height: @gift-array-btn-height;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      a {
        margin: 0 auto;
        width: 95%;
        background-color: @gift-array-btn-bg;
        mso-border-alt: 1px solid @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }
    }

    .dollar {
      padding-bottom: 10px;
      display: block;
      font-size: @gift-array-price-font-size;
      line-height: @gift-array-price-line-height;
      font-weight: @gift-array-price-font-weight;
    }

    .active {
      .button {
        td {
          background-color: @gift-array-active-btn-bg;
        }

        a {
          background-color: @gift-array-active-btn-bg;
          color: @gift-array-active-btn-color;
          mso-border-alt: 1px solid @gift-array-active-btn-bg;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-top: 0 !important;
      }

      .copy {
        font-size: 34px !important;
        line-height: 35px !important;
      }

      .array {
        width: 100% !important;

        .gift {
          height: @gift-array-mobile-btn-height !important;

          table {
            width: 60% !important;
          }

          &.first {
            table {
              width: 60% !important;
            }
          }

          &.middle {
            .spacing {
              padding-top: 15px !important;
              padding-bottom: 15px !important;
            }
          }

          &.last {
            table {
              width: 60% !important;
            }
          }

          .copy {
            &.grey {
              font-size: 16px !important;
              line-height: 22px !important;
            }

            &.red {
              font-size: 22px !important;
              line-height: 30px !important;
            }
          }
        }
      }
    }
  }
}
