.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .button {
        width: 90% !important;
        max-width: 254px !important;

        td {
          padding-top: 19px !important;
          padding-bottom: 19px !important;
        }

        a {
          font-size: 22px !important;
        }
      }
    }
  }
}
