@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.button {
  float: none !important;
}
.button td {
  padding: 10px 0;
  background-color: #f5d732;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f5d732;
  background-color: #f5d732;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #f5d732;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .donate {
  width: 50%;
}
.header .button td {
  padding: 7px 0;
  background-color: #f5d732;
}
.header .button a {
  border-color: #98953B;
  color: #000000;
  background-color: #f5d732;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #f5d732;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4e4e4e;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4e4e4e;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #414042;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: #000000;
  font-weight: bold;
}
.sig img {
  width: auto;
  height: auto;
}
.button a {
  padding: 15px 0;
}
.header .spacing {
  padding-top: 20px;
}
.header .logo {
  width: 80%;
}
.header .donate {
  width: 20%;
}
.header .button {
  width: 100%;
  font-weight: normal;
}
.header .button td {
  padding: 7px 0;
}
.header .button a {
  padding: 0;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}
.footer .no-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
  color: #4e4e4e;
  text-align: center;
  text-decoration: underline;
}
.footer .social-icons td {
  padding: 0 8px;
}
.footer .affiliates td {
  padding: 0 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.body-copy .spacing {
  padding-top: 0;
}
.body-copy .sig {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .spacing {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 27px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 35% !important;
  }
  *[class].mobile .header .donate a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .copy.address a {
    font-weight: normal !important;
  }
}
