// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #c51230;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               23px;
@text-color:                #5a4a42;
@link-color:                #c72032;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-bg:                     #96c646;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-font-family:            @font-family-sans-serif;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              @button-bg;
@header-button-border:          @header-button-bg;
@header-button-color:           @button-color;
@header-button-font-size:       15px;
@header-button-text-decoration:     @button-text-decoration;
@header-button-font-weight:         @button-font-weight;

@view-online-color:             #efeae5;

@header-bg:                     @body-bg;
@header-font-family:            Arial, Helvetica, sans-serif;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:                     @content-bg;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              22px;
@johnsonbox-line-height:            26px;
@johnsonbox-color:                  #304903;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#e6f4d0;
@gift-array-btn-width:            576px;
@gift-array-btn-bg:               #ffffff;
@gift-array-btn-color:            #96c646;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        24px;
@gift-array-btn-line-height:      26px;
@gift-array-btn-font-weight:      normal;
@gift-array-btn-radius:           5px;
@gift-array-text-color:           #304903;
@gift-array-font-family:          @font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						@button-bg;
@gift-array-active-btn-color:			@button-color;

@footer-bg:                     @body-bg;
@footer-color:                  #ffffff;
@footer-link-color:             #96c646;
@footer-text-decoration:        underline;
@footer-font-family:            Arial, Helvetica, sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
