table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.social-banner {
  width: 100%;
  background-color:#08AEE3;

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .columns {
    width: 650px;
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;

      &.last {
        padding-right: 0;
      }
    }
  }
}

.header {
  .columns {
    width: 100%;
  }
}

.header-logo {
  width: 100%;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    width: @content-width;

    td {
      padding-bottom: 10px;
    }
  }

  .grey-dots-table {
    width: 100%;
    height: 12px;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/07/34127_missionMonthly/Base/images/grey-dots.png');
    background-repeat: repeat-x;
    background-size: 14px 12px;
    background-position: top center;

    .colored-dots {
      width: 658px;

      td {
        font-size: 12px;
        line-height: 12px;
      }

      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    }
  }
}


// Color Bar
.color-bar {
  width: 100%;

  td {
    width: 33.333%;
    height: 4px;
    font-size: 4px;
    line-height: 4px;
  }
  .teal {
    background-color: #59C5C7;
  }
  .blue {
    background-color: #4FACDE;
  }
  .dark-blue {
    background-color: #0483C3;
  }
}

.main-content {
  &.white-bg {
    background-color: #FFFFFF;
  }

  &.grey-bg {
    width: 100%;
    background-color: #F0F1F2;

    .overall-spacing {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.dots-bg {
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/07/34127_missionMonthly/Base/images/big-grey-dots.png');
    background-repeat: repeat;
    background-size: 28px 28px;
    background-position: top center;
    background-color: #f9f9f9;
  }
}

.mission {
  .twelve {
    width: 100%;
  }

  .spacing {
    padding-bottom: 30px;
  }

  .copy {
    padding-bottom: 0;
  }

  .story-header {
    font-family: @montserrat;
    color: #78BE21;
    font-size: 33px;
    line-height: 40px;
    font-weight: 300;
  }
}

.footer{
  width: 100%;
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .logo {
    padding-bottom: 20px;
  }
}

.box {
  padding-top: 25px;
  padding-bottom: 20px;

  table {
    width: 85px;

    td {
      padding-top: 4px;
      padding-bottom: 4px;
      font-family: @montserrat;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      font-weight: 700;
    }
  }

  .teal {
    background-color: #00AAAC;
  }

  .pink {
    background-color: #E31C79;
  }

  .green {
    background-color: #018164;
  }
}

.author-block {
  border-top: 1px solid #EBEBEB;

  .copy {
    padding-left: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
  }

  &.lori {
    background-color: #ffffff;
    border-left: 1px solid #EDF6F7;
    border-right: 1px solid #EDF6F7;
    border-bottom: 1px solid #EDF6F7;

    &.author-block {
      .copy {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

.content-block {
  .author-block {
    .copy {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

td.hide {
  min-width: 660px;

  img {
    width: 660px;
    min-width: 660px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 50% !important;
      }
    }

    .social-banner {
      .columns {
        width: 95% !important;
      }

      .social-icons {
        width: auto !important;

        .first {
          padding-left: 0 !important;
        }
      }

      .three {
        width: 50% !important;
      }
    }

    .header-logo {
      .logo {
        width: 95% !important;

        img {
          width: 116px !important;
          height: auto !important;
        }
      }

      .grey-dots-table {
        height: 8px !important;
        background-size: 9px 8px !important;

        .colored-dots {
          width: 100% !important;
          height: 8px !important;

          img {
            width: 100% !important;
            height: auto !important;
          }

          .show-mobile {
            display: block !important;
          }
          .hide-mobile {
            display: none !important;
          }
        }
      }
    }

    .main-content {
      &.grey-bg {
        .overall-spacing {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      &.dots-bg {
        background-size: 14px 14px !important;
      }
    }

    .lori {
      width: 90.625% !important;
    }
  }
}
