@content-width:             646px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@open-sans:                 Arial, Helvetica, sans-serif, 'Open Sans';
@roboto:                    Arial, Helvetica, sans-serif, 'Roboto';
@lato:                      Arial, Helvetica, sans-serif, 'Lato';
@montserrat:                Arial, Helvetica, sans-serif, 'Montserrat';

@font-family:               @roboto;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               25px;
@text-color:                #42393D;
@link-color:                #2a4364;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #E31C79;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              18px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @roboto;
@header-font-size:              15px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #9B9B9B;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					16px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#6B6B6B;
@johnsonbox-text-align:   					left;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     24px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       18px;
@newsletter-story-link-line-height:     24px;
@newsletter-story-header-color:   			#08AEE3;
@newsletter-story-header-font-family:		@roboto;

// eNewsletter specific styles
@newsletter-featured-font-size:           19px;
@newsletter-featured-line-height:         25px;
@newsletter-featured-header-font-size:    30px;
@newsletter-featured-header-line-height:  35px;
@newsletter-featured-header-color:   			#08AEE3;
@newsletter-featured-border-color:   			transparent;

// eNewsletter director styles
@newsletter-director-bg:                  #F7F7F7;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #002c55;
@newsletter-director-border-color:  			#cccccc;

@footer-bg:                     #01A9E0;
@footer-color:                  #ffffff;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @roboto;
@footer-font-size:              14px;
@footer-line-height:            @footer-font-size + 14;
@footer-text-align:             center;
