@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 570px;
}

.twelve {
  width: 570px;
}

.seven {
  width: 304px;
}

.six {
  width: 250px;
}

.four {
  width: 144px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #882333;
  text-align: center;
  border-radius: 0;
}

.button td:hover {
  border-color: #4b131c;
  background-color: #4b131c;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #ffffff;
  background-color: #882333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #882333;
}

.button a:hover {
  border-color: #4b131c;
  background-color: #4b131c;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #ffffff;
  background-color: #882333;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #4b131c;
  background-color: #4b131c;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #882333;
}

.header .button td:hover {
  border-color: #882333;
  background-color: #882333;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #882333;
  color: #ffffff;
  background-color: #882333;
  font-weight: bold;
  font-size: 12px;
  mso-border-alt: 1px solid #882333;
}

.header .button a:hover {
  border-color: #882333;
  background-color: #882333;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #882333;
  background-color: #882333;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #882333;
  background-color: #882333;
}

.footer {
  background-color: #333333;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #8a8a8a;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #535353;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #9D0A2C;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: #EEEEEE;
}

.gift-array .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.gift-array .copy {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: bold;
}

.gift-array .copy.heading {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  color: #3a92af;
  font-size: 26px;
  line-height: 30px;
}

.gift-array .copy.orange a {
  color: #ff8829;
}

.gift-array .copy.red a {
  color: #9d0a2c;
}

.gift-array .copy.green a {
  color: #5d8628;
}

.gift-array .copy.yellow a {
  color: #f0a70b;
}

.gift-array .copy.maroon a {
  color: #6c0f36;
}

.gift-array .copy.blue a {
  color: #3a92af;
}

.gift-array .array table {
  width: 190px;
}

.gift-array .array a {
  padding: 0;
  display: block;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #ad957a;
  border-radius: 5px;
}

.gift-array .array a:active,
.gift-array .array a:hover,
.gift-array .array a:visited {
  background-color: #ffffff;
  color: #333333;
}

.gift-array .array .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.gift-array.bottom .spacing {
  padding-top: 0;
  padding-bottom: 10px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #3A92AE;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 40px;
  padding-bottom: 40px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

.johnsonbox .copy a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}

.johnsonbox .copy.heading {
  font-size: 35px;
  line-height: 40px;
  font-weight: normal;
}

.johnsonbox .copy.big {
  font-size: 25px;
}

.donate-button {
  background-color: #882333;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-button .button a {
  padding: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  padding: 10px 0;
}

.donate-button .button td {
  border: 2px solid #ffffff;
  mso-border-alt: 2px solid #ffffff;
  font-weight: normal;
  font-size: 17px;
}

.donate-button.bottom .donate {
  padding-top: 10px;
  padding-bottom: 15px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 23px;
}

.sig .copy em {
  color: #535353;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #882333;
  font-weight: bold;
  color: #ffffff;
}

.header .button a:hover {
  border-color: #882333;
  background-color: #882333;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #882333;
  background-color: #882333;
  color: #ffffff;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #882333;
  background-color: #882333;
  color: #ffffff;
}

.donate-button .button a {
  padding: 10px 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.header .spacing {
  padding-bottom: 0;
}

.header .logo {
  width: 535px;
}

.header .donate {
  width: 135px;
}

.header .donate .button {
  background-color: transparent;
}

.header .donate .button a {
  background-color: transparent;
  padding: 0;
}

.header .donate .button td {
  padding: 10px 5px;
}

.body-copy.top .spacing {
  padding-top: 50px;
  padding-bottom: 50px;
}

.body-copy em {
  color: #ff00fc;
}

.arrow.gray {
  background-color: #EEEEEE;
}

.arrow.gray .spacing {
  padding-top: 0;
}

.arrow.gray .columns td {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

.arrow.white {
  background-color: #882333;
}

.arrow.white .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.arrow.white .columns td {
  font-size: 11px;
  line-height: 11px;
  height: 11px;
}

.footer {
  background-color: #333333;
}

.footer .social-icons td {
  padding-left: 10px;
  padding-right: 10px;
}

.footer .copy a {
  color: #8a8a8a;
}

.footer .copy strong {
  color: #8a8a8a;
}

.donate-button .button a {
  padding: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  padding: 10px 0;
}

.donate-button .button td {
  border: 2px solid #ffffff;
  mso-border-alt: 2px solid #ffffff;
  font-weight: normal;
  font-size: 17px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }

  *[class].mobile .gift-array a {
    padding: 0 !important;
    font-size: 20px !important;
    line-height: 23px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 16px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 13px !important;
  }

  *[class].mobile .johnsonbox .copy.heading {
    font-size: 35px !important;
    line-height: 40px !important;
  }

  *[class].mobile .johnsonbox .copy.big {
    font-size: 25px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  .hide {
    display: none !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 200px !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
    padding: 0 !important;
  }

  .hide {
    display: none !important;
  }

  *[class].mobile .header .logo {
    width: 50% !important;
  }

  *[class].mobile .header .logo img {
    max-width: 155px !important;
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 40% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 13px !important;
  }
}
