.footnote {
  .spacing {
    padding-top: 0;
  }
  .copy {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer {
  width: 100%;

  .spacing {
    padding-top: 20px;
  }

  .footer-donate {
    padding-top: 15px;
  }
}
