.footer {
  background-color: @footer-bg;

  .copy,
  .copy a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.unsubscribe {
  &.copy,
  &.copy a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.header {
  .spacing {
    padding-top: 15px;
  }
}

.body-copy {
  span {
    background-color: #ffff00;
  }

  .twelve {
    width: 579px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }

      .donate {
        width: 40% !important;
      }
    }
  }
}
