@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.six {
  width: 280px;
}
.button {
  float: none;
  width: 175px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #AE3032;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #AE3032;
  background-color: #AE3032;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #6B6B6B;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #BD1E2B;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 14px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #333333;
}
.copy a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  color: #BD1E2B;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.sidebar {
  border-top: 1px solid #E8E8E8;
}
.sidebar .spacing {
  padding-top: 30px;
}
.sidebar .six td {
  height: 57px;
  vertical-align: middle;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 30px;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy .home-link {
  display: inline-block;
}
.footer .copy.smaller {
  line-height: 13px;
}
.footer .copy.smaller a {
  line-height: 13px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.link-text {
  color: #BD1E2B;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #6B6B6B !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .sidebar .spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .sidebar .six img {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .sidebar .six td {
    padding-top: 20px !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
}
