@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.six {
  width: 280px;
}

.four {
  width: 174px;
}

.columns .first {
  padding-left: 0;
}

.button {
  float: none !important;
}

.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #dddddd;
}

.button a:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: #dddddd;
  background-color: #dddddd;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
}

.header {
  background-color: #ebebeb;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Verdana, Arial, Helvetica;
  font-size: 12px;
  line-height: 24px;
  color: #7a7977;
}

.header .copy a {
  color: #d36148;
  text-decoration: underline;
}

.footer {
  background-color: #d4d4d4;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #8e8c8a;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #8e8c8a;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ebebeb;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ebebeb;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #be5943;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #f1f2f2;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.johnsonbox .copy {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #1b0001;
}

.donate a {
  padding: 0;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #ebebeb;
}

.header {
  background-color: #ebebeb;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .copy {
  width: 75%;
  font-family: Verdana, Arial, Helvetica;
  font-size: 12px;
  line-height: 24px;
  color: #7a7977;
}

.header .donate {
  width: 25%;
}

.footer {
  background-color: #d4d4d4;
  text-align: center;
}

.footer .spacing {
  padding-top: 10px;
}

.footer .logo-donate-social {
  height: 100px;
}

.footer .six {
  height: 100%;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: 100px;
}

.footer .donate-social {
  vertical-align: bottom;
  height: 100px;
}

.footer .footer-donate {
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #8e8c8a;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

/* Targetting Tablets */

/* Targeting Mobile */

.header a {
  font-family: Verdana, Arial, Helvetica;
}

.footer {
  width: 100%;
  border-top: 4px solid #ffffff;
}

.footer .spacing {
  padding-bottom: 20px;
}

.footer .copy.smaller {
  padding-bottom: 20px;
}
