.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-bottom: 50px;
  }

  .button {
    td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
