@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.four {
  width: 174px;
}

.preheader .copy {
  color: #ee3a43;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.header .copy a {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #ffffff;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ee3a43;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ee3a43;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #252525;
}

.copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ee3a43;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #ffffff;
  padding: 0 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: #f2f6f6;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ee3a43;
}

.gift-array .array {
  width: auto;
  margin: 0 auto;
}

.gift-array .array table {
  width: 200px;
}

.gift-array.prices {
  background-color: #ffffff;
}

.gift-array.prices .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.gift-array.prices .copy {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #363636;
}

.gift-array.prices span {
  color: #01f3c0;
  font-weight: bold;
}

.gift-array.icons .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

.gift-array.icons .copy {
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 38px;
}

.gift-array.icons .copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 31px;
  line-height: 38px;
  color: #ee3a43;
  text-decoration: underline;
  font-weight: normal;
}

.gift-array.icons .four {
  width: 200px;
  height: 195px;
  border: 2px solid #f2f6f6;
  background-color: #ffffff;
}

.gift-array.icons .four .height {
  height: 195px;
}

.gift-array.icons .four table {
  width: 100%;
}

.gift-array.icons .four table td {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
}

.gift-array.icons .four table .copy {
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #363636;
  line-height: 20px;
}

.gift-array.icons .four table .the-icon {
  padding-top: 20px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #f2f6f6;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.donate-button {
  background-color: #f2f6f6;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-button a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 31px;
  line-height: 38px;
  color: #ee3a43;
  text-decoration: underline;
  font-weight: normal;
}

.donate-button.bottom {
  background-color: #ffffff;
}

.donate-button.bottom .spacing {
  padding-top: 0;
  padding-bottom: 40px;
}

.body {
  background-color: #ee3a43;
}

.preheader .copy {
  color: #ee3a43;
  font-size: 0px;
  line-height: 0px;
}

.view-online a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.header .donate {
  width: 20%;
}

.header .unsubscribe {
  padding-top: 10px;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
}

.header .unsubscribe a {
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}

.footer {
  background-color: #ee3a43;
  text-align: center;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: normal;
}

.footer .logo {
  width: auto;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.footer .small {
  font-size: 11px;
}

.footer .smaller {
  font-size: 10px;
}

.footer .smaller a {
  font-size: 10px;
}

table {
  mso-line-height-rule: exactly;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
}

.header a {
  font-family: Arial, Helvetica, sans-serif;
}

.body-copy .underline {
  text-decoration: underline;
}

.arrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.arrow td {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .four,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .columns .four {
    width: 100% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .gift-array.prices .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  *[class].mobile .gift-array.icons .four {
    height: auto !important;
  }

  *[class].mobile .gift-array.icons .four td {
    height: auto !important;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
  }

  *[class].mobile .gift-array.icons .copy {
    padding-top: 5px !important;
  }

  *[class].mobile .gift-array.icons .spacing {
    padding-top: 0 !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    width: 65% !important;
  }

  *[class].mobile .header .logo img {
    width: 90% !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .unsubscribe {
    padding-right: 0 !important;
  }

  *[class].mobile .footer a {
    font-size: 12px !important;
  }

  *[class].mobile .hide {
    display: none !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
}
