.header {
  .spacing {
    padding-bottom: 15px;
  }

  .copy {
    text-align: center;
    padding-bottom: 10px;

    a {
      font-weight: normal;
    }
  }

  .logo {
    width: 479px;
  }

  .donate {
    width: @header-button-width + 2;
  }

  .button {
    border-radius: @header-button-radius;
    border-bottom: 1px solid @header-button-border;
    border: 1px solid @header-button-border;

    td {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.body-copy {
  .eleven {
    width: 563px;
  }
}

.footer {
  .address {
    a {
      text-decoration: none;
    }
  }

  .copy {
    &.smaller {
      color: #958576;

      a {
        color: #958576;
      }
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
