.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }

	&.bottom {
		.middle {
			background-color: #ffffff;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			.spacing {
		    padding-bottom: 20px !important;
		  }

			&.bottom {
				.middle {
		      width: 274px !important;
				}
			}
		}
  }
}
