.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .spacing {
      padding-top: 0;
      padding-bottom: 20px;
    }

    .gift {
      width: @gift-array-btn-width + 10;
    }

    .gift-cell {
      vertical-align: middle;
    }

    .button {
      width: @gift-array-btn-width;
      height: auto;

      .spacing {
        padding-top: 8px;
        padding-bottom: 8px;
        height: auto;
      }

      td {
        background-color: @gift-array-btn-bg;
      }

      a {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;
        height: @gift-array-btn-height;
        background-color: @gift-array-btn-bg;
        border-radius: @gift-array-btn-radius;

        img {
          display: inline-block;
        }
      }
    }

    .inner-button {
      margin: 0 auto;
      width: auto;
      height: auto;

      td {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;

        &.copy {
          padding-right: 15px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      a {
        height: auto;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
      }
    }

    .active {
      .button {
        td {
          background-color: @gift-array-active-btn;
        }

        a {
          background-color: @gift-array-active-btn;
          color: @gift-array-active-btn-color;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .spacing {
          padding-bottom: 0 !important;
        }

        .gift {
          height: auto !important;
        }

        .gift-cell {
          padding-top: 20px !important;
          height: auto !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 277px !important;
          height: auto !important;

          td {
            width: 277px !important;
            height: auto !important;
          }

          .spacing {
            padding-bottom: 8px !important;
          }
        }

        .inner-button {
          width: auto !important;
          height: auto !important;

          td {
            width: auto !important;
            height: auto !important;

            &.copy {
              padding-right: 10px !important;
            }
          }

          a {
            height: auto !important;
            font-size: @gift-array-btn-font-size - 5 !important;
            line-height: @gift-array-btn-line-height - 5 !important;
          }
        }
      }
    }
  }
}
