.body-copy {
	.copy {
		span {
			font-size: 22px;
			line-height: 26px;
		}
	}

	&.bottom {
		.spacing {
			padding-top: 40px;
			padding-bottom: 10px;
		}
	}
}

@media @content {
  *[class].mobile {
  	.footer {
  		.copy.smallest {
  			font-size: 10px !important;

  			a {
  				font-size: 10px !important;
  			}
  		}
  	}
  }
}

@media @tablet {
  *[class].mobile {
  	.footer {
  		.copy.smallest {
  			font-size: 10px !important;

  			a {
  				font-size: 10px !important;
  			}
  		}
  	}
  }
}

@media @phone {
  *[class].mobile {
  	.footer {
  		.copy.smallest {
  			font-size: 10px !important;

  			a {
  				font-size: 10px !important;
  			}
  		}
  	}
  }
}