@content-width:             640px;

@grid-columns:							12;

@body-bg:                   #f5f5f5; 
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               20px;
@text-color:                #252525;
@link-color:                @text-color;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #ed1b2f;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              19px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Preheader Styles
@preheader-color:               @body-bg;
@preheader-font-size:           0px;
@preheader-line-height:         0px;

// Header Button styles
@header-button-bg:              		@button-bg;
@header-button-border:          		@button-border;
@header-button-color:           		@button-color;
@header-button-hover-bg:        		@button-hover-bg;
@header-button-hover-color:     		@button-hover-color;
@header-button-font-size:       		14px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;

@johnsonbox-bg:           					#eaeaea;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					17px;
@johnsonbox-line-height:  					21px;
@johnsonbox-color:        					#747474;
@johnsonbox-text-align:   					left;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;

@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;

@footer-bg:                     @body-bg;
@footer-color:                  #6d6d6d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              13px;
@footer-line-height:            @footer-font-size + 5; 
@footer-text-align:             center;

// Common Media queries
@content: ~'only screen and (max-width:'@content-width~')';
@tablet:  ~'only screen and (max-width: 600px)';
@phone: ~'only screen and (max-width: 480px)';