// Header
.header {
  .spacing {
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      border: 3px solid #C02033;

      td {
        mso-border-alt: 3px solid #C02033;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

.list {
  .copy {
    font-weight: bold;

    &.last {
      padding-top: 20px;
    }
  }

  .bullet {
    padding-right: 15px;
  }
}

.highlight {
  background-color: #F8E71C;
}

.body-copy {
  .spacing {
    padding-top: 30px;
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .smaller {
    font-size: 11px;
    color: #464646;

    a {
      text-decoration: underline;
      color: #464646;
    }
  }
}

img.triangle {
  display: inline-block;
  width: 18px;
  height: auto;
  font-size: 18px;
  line-height: 18px;
}

@media @content {
  *[class].mobile {
    img.triangle {
      width: 14px !important;
      height: auto !important;
      font-size: 14px !important;
      line-height: 14px !important;
    }
  }
}
