@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.six {
  width: 280px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #dddddd;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #022b51;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: underline;
}
.header .button {
  width: 150px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #B5B22A;
  width: 150px;
  height: auto;
}
.header .button a {
  width: 150px;
  height: auto;
  background-color: #B5B22A;
  border-color: #989622;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
}
.footer {
  background-color: #fcf6e8;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #66503E;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #66503E;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #022b51;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #022b51;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #12aaaa;
  font-weight: bold;
}
.preheader .copy {
  color: #022b51;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Georgia, Times, serif;
  font-size: 30px;
  line-height: 39px;
  color: #1B4057;
  font-weight: normal;
  text-align: center;
}
.sig .spacing {
  padding-top: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 60px;
}
.header .logo {
  width: 75%;
}
.header .donate {
  width: 25%;
}
.header .button {
  border-collapse: separate;
  background-color: #B5B22A;
  border-bottom: 2px solid #989622;
  border-radius: 1px;
}
.header .button td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-collapse: separate;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .social-affiliates {
  width: auto;
}
.footer .address strong {
  font-size: 14px;
  line-height: 17px;
}
.footer .copy.smaller {
  padding-top: 20px;
}
.footer .six {
  width: 225px;
}
.footer .six .copy {
  padding-bottom: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.header .view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: normal;
}
.header .spacing {
  padding-bottom: 20px;
}
.header .donate {
  padding-top: 10px;
}
.header .button {
  border-bottom: 1px solid #989622;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 150px !important;
  }
  *[class].mobile .header .button {
    width: 150px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 29px !important;
    line-height: 38px !important;
  }
  *[class].mobile .solo-donate-button .spacing {
    padding-top: 0 !important;
    padding-bottom: 30px !important;
  }
  *[class].mobile .solo-donate-button img {
    max-width: 329px !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .six {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .six .copy {
    font-size: 14px !important;
    text-align: center !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
}
