@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 540px;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-align: left;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 580px;
}

.main-content {
  width: 580px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0000ff;
  font-weight: regular;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.body {
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-align: left;
}

.footer a {
  text-decoration: none;
  font-weight: normal;
}

/* Affiliate Icon Styles */

/******************************/

/* Targetting Tablets */

/* Targeting Mobile */

.divider .spacing {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 15px;
}

.divider table {
  width: 30%;
  border-top: 1px solid #7f7f7f;
}

.footer .spacing {
  padding-top: 0;
}

@media only screen and (max-width: 580px ) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 600px) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 480px) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}
