// Brand Colors
@teal:                 			#004961;
@tan:                       #E0D2B1;
@light-tan:									#faf4ed;
@dark-brown:								#565041;
@gold:											#f99822;

@content-width:             646px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 16px;
@line-height:               23px;
@text-color:                #625d54;
@link-color:                @gold;
@link-decoration:           none;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									60px;

// Button styles
@button-bg:                     #dddddd;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 0;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold;

@view-online-color:             @teal;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 9;
@header-text-color:             #625d54;
@header-link-text-decoration:   underline;
@header-link-color:   					@teal;
@header-font-weight:            bold;

@johnsonbox-bg:           					#fef4e7;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					16px;
@johnsonbox-line-height:  					23px;
@johnsonbox-color:        					@text-color;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@gold;
@johnsonbox-link-text-decoration:   underline;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     25px;
@newsletter-story-header-font-family:		@font-family;
@newsletter-story-header-font-size:			24px;
@newsletter-story-header-line-height:		@newsletter-story-header-font-size + 7;
@newsletter-story-header-color:					@teal;

// eNewsletter specific styles
@newsletter-featured-font-size:           @newsletter-story-link-font-size;
@newsletter-featured-line-height:         @newsletter-story-link-line-height;
@newsletter-featured-header-color:   			@newsletter-story-header-color;
@newsletter-featured-header-font-size:    @newsletter-story-header-font-size;
@newsletter-featured-header-line-height:  @newsletter-story-header-line-height;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  @light-tan;
@newsletter-director-font-size:           14px;
@newsletter-director-line-height:         20px;
@newsletter-director-color:               #625d54;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #002c55;
@newsletter-director-border-color:  			#cccccc;

@footer-bg:                     @body-bg;
@footer-color:                  #998c72;
@footer-link-color:             @dark-brown;
@footer-text-decoration:        none;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
