.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.copy {
		padding-top: 5px;

		&.bottom {
			padding-bottom: 30px;
		}
	}

	.six {
		border-bottom: 1px solid #000000;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
