.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: bold;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: 30px;
      line-height: 33px;
      font-weight: bold;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.button {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
