.hero {
	border-top: 9px solid #e97900;
	border-bottom: 9px solid #e97900;
	
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
