/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .donate-button {
    border-bottom: 0 solid transparent;
  }

  .button {
    width: 150px;

    td {
      padding: 10px 0;
    }

    a {
      font-family: @font-family;
      padding: 0;
    }
  }

  .eight {
    width: 400px;
  }
}

.footer {
  background-color: @footer-bg;

  .spacing {
    padding-top: 0;
  }

  .columns {
    &.connect {
      border-top: 0 solid transparent;
    }
  }
}

.section {
  margin: 0 auto;
  border-left: 1px solid #F8F0DE;
  background-color: #F8F0DE;
  width: 84%;

  &.header {
    border-left: 0 solid transparent;
    background-color: @body-bg;
  }

  &.hero {
    border-left: 1px solid #ffffff;
    width: 100%;
  }

  &.footer {
    border-left: 0 solid transparent;
    background-color: @footer-bg;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .eyebrow {
        .copy {
          padding-bottom: 10px !important;
          font-size: 12px !important;
          line-height: 17px !important;
          display: block !important;
          text-align: center !important;
        }
      }

      .donate-button {
        .button {
          float: left !important;
          margin: 0 auto !important;
          width: 150px !important;
        }
      }

      .columns {
        width: 95% !important;
      }
    }

    .johnsonbox {
      .donate-button {
        .button {
          float: left !important;

          a {
            font-size: @button-mobile-font-size !important;
          }
        }
      }
    }

    .section {
      width: 84% !important;

      &.hero {
        width: 100% !important;
      }
    }

    .footer {
      .connect {
        .copy {
          font-size: 16px!important;
        }
      }
    }
  }
}
