/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .blue, .teal {
    font-weight: bold;
    color: #066ffc;
    font-size: 16px;
    line-height: 20px;
  }

  .teal {
    color: #01f3c0;
  }

  .array {
    table {
      width: @gift-array-btn-width;
    }

    a {
      padding: 30px 5px;
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }

  &.icon-array {
    background-color: @johnsonbox-bg;

    .spacing {
      padding-bottom: 0;
    }

    .array {
      table {
        height: 190px;
        background-color: #ffffff;
        border: 1px solid @johnsonbox-bg;
        mso-border-alt: #ffffff;
      }
    }

    .icon {
      padding-bottom: 8px;
      height: 111px;

      &.last {
        padding-bottom: 0;
        padding-top: 8px;
      }
    }

    &.last {
      .spacing {
        padding-top: 0;
        padding-bottom: 30px;
      }

      .array {
        width: 410px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      a {
        padding: 15px !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }

      .spacing {
        padding-top: 0 !important;
      }

      .blue, .teal {
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;
      }

      &.icon-array {
        height: auto !important;

        .four {
          height: auto !important;

          .icon {
            padding-top: 10px !important;
            height: auto !important;
          }

          .copy {
            padding-bottom: 10px !important;
          }
        }
      }
    }
  }
}
