/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.body-copy {
  .copy {
    span {
      color: @link-color;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .spacing {
        padding-top: 30px !important;
      }
    }
  }
}
