@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.eight {
  width: 387px;
}
.three {
  width: 120px;
}
.button {
  float: none;
  width: 300px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #77160C;
  text-align: center;
  border-radius: 2px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #77160C;
  background-color: #77160C;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
}
.header {
  background-color: #DCE1E9;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-decoration: underline;
  font-weight: bold;
}
.header .button {
  width: 100px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #77160C;
  border: #77160C;
  width: 100px;
  height: auto;
}
.header .button a {
  width: 100px;
  height: auto;
  background-color: #77160C;
  border-color: #77160C;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 15px;
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
}
.footer {
  background-color: #DCE1E9;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 14px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 14px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #DCE1E9;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #DCE1E9;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.text-donate-button {
  background-color: #ffffff;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  line-height: 46px;
  color: #0A3370;
  font-weight: bold;
  text-align: center;
}
.header .eyebrow .spacing {
  padding-top: 15px;
  padding-bottom: 25px;
}
.header .logo {
  width: auto;
}
.header .donate {
  width: 100px;
}
.header .button td {
  text-align: center;
  border-radius: 2px;
}
.header .button a {
  text-decoration: none;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy.smaller {
  padding-bottom: 20px;
}
.footer .copy.smaller a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.header .columns {
  width: 640px;
}
.header .spacing {
  padding-bottom: 20px;
}
.header .copy a {
  font-weight: normal;
}
.header .button {
  border-radius: 0;
}
.header .button a {
  border-radius: 0;
}
.header .button td {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.body-copy .twelve {
  width: 580px;
}
.body-copy .copy.red {
  font-weight: bold;
  color: #77160C;
}
.footer {
  background-color: #DCE1E9;
}
.footer .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  color: #666666;
}
.footer .copy.address,
.footer .copy.smaller a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 15px;
  font-weight: normal;
  color: #595959;
}
.footer .social-icons td {
  padding-left: 7px;
  padding-right: 7px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .eight,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 300px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 100px !important;
  }
  *[class].mobile .header .button {
    width: 100px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    line-height: 15px !important;
    color: #595959 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 11px !important;
    line-height: 15px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 15px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
  *[class].mobile .header .logo {
    padding-right: 0 !important;
    width: 50% !important;
  }
  *[class].mobile .header .logo img {
    width: 95% !important;
    max-width: 200px !important;
  }
  *[class].mobile .header .donate {
    width: 50% !important;
  }
  *[class].mobile .header .donate .button {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button td {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button a {
    width: 100% !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    padding: 0 !important;
  }
  *[class].mobile .header .donate .button {
    float: right !important;
    width: 100px !important;
  }
  *[class].mobile .header .donate .button td {
    width: 100px !important;
  }
  *[class].mobile .header .donate .button a {
    width: 100px !important;
  }
}
