.stats-bucket {
  .did-you-know {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #dc2c30;
    font-weight: bold;
  }

  .cents {
    span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 32px;
      line-height: 28px;
      color: #395576;
      font-weight: bold;
    }
  }

  .source {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 28px;
    color: #4e4e4e;
    font-weight: normal;
  }

  .copy {
    vertical-align: bottom;
  }
}

.story {
  .copy {
    padding-left: 25px;

    @media @content {
      *[class].mobile {
        padding-left: 0 !important;
      }
    }
  }
}

.donate-button {
  border-top: 3px solid #DC2C30;
}

.directors-border {
  .copy {
    border-top: 3px solid #DC2C30;
  }
}

.header {
  .copy {
    color: #dc2c30;

    span {
      color: #4e4e4e;
    }
  }
}

@media @content {
  *[class].mobile {
    .stats-bucket {
      img {
        margin: 0 auto !important;
      }
      .copy {
        padding-top: 0 !important;
      }
      .did-you-know {
        padding-top: 25px !important;
      }
    }

    .header {
      .copy {
        padding-left: 0 !important;
      }
    }
  }
}
