table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.section {
  background-color: @content-bg;
}

.social-banner {
  width: 100%;
  background-color:#08AEE3;

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .columns {
    width: 650px;
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;

      &.last {
        padding-right: 0;
      }
    }
  }
}

.header {
  .columns {
    width: 100%;
  }
}

.header-logo {
  background-color: @body-bg;
  width: 100%;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    width: @content-width;

    td {
      padding-bottom: 10px;
    }
  }

  .grey-dots-table {
    width: 100%;
    height: 12px;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/11/35853_Conference/Base/Nonpaid/images/grey-dots.png');
    background-repeat: repeat-x;
    background-size: 14px 12px;
    background-position: top center;

    .colored-dots {
      width: 642px;

      td {
        font-size: 12px;
        line-height: 12px;
      }

      .show-mobile {
        display: none;
        height: 0;
        font-size: 0;
        line-height: 0;
        max-height: 0;
        overflow: hidden;
      }

      .hide-mobile {
        display: block;
        margin: 0 auto;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

.main-content {
  &.white-bg {
    background-color: #FFFFFF;
  }

  &.grey-bg {
    width: 100%;
    background-color: #F0F1F2;

    .overall-spacing {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.dots-bg {
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/11/35853_Conference/Base/Nonpaid/images/big-grey-dots.png');
    background-repeat: repeat;
    background-size: 28px 28px;
    background-position: top center;
    background-color: #f9f9f9;
  }
}

.section.footer{
  background-color: @footer-bg;
  width: 100%;
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .logo {
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
  }
}

td.hide {
  min-width: 660px;

  img {
    width: 660px;
    min-width: 660px;
  }
}

.overall-spacing {
  padding-top: 45px;
  padding-bottom: 45px;
}

.body-copy {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .list {
    width: 81%;

    .bullet {
      padding-right: 10px;
      font-size: 30px;
      color: #01a8e0;
    }
  }

  .yellow-box {
    table {
      width: 85%;
      background-color: #fdf8b3;

      td {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 50% !important;
      }
    }

    .social-banner {
      .columns {
        width: 95% !important;
      }

      .social-icons {
        width: auto !important;

        .first {
          padding-left: 0 !important;
        }
      }

      .three {
        width: 50% !important;
      }
    }

    .header-logo {
      .logo {
        width: 95% !important;

        img {
          width: 116px !important;
          height: auto !important;
        }
      }

      .grey-dots-table {
        height: 8px !important;
        background-size: 9px 8px !important;

        .colored-dots {
          width: 100% !important;
          height: 8px !important;

          img {
            width: 100% !important;
            height: auto !important;
          }

          .show-mobile {
            display: block !important;
            max-height: 12px !important;
            overflow: visible !important;
          }
          .hide-mobile {
            display: none !important;
          }
        }
      }
    }

    .main-content {
      &.grey-bg {
        .overall-spacing {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      &.dots-bg {
        background-size: 14px 14px !important;
      }
    }

    .lori {
      width: 90.625% !important;
    }

    .body-copy {
      .yellow-box {
        table {
          width: 100% !important;

          td {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
          }
        }
      }
    }

    .footer {
      .spacing {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }

      .logo {
        img {
          width: 200px !important;
          height: auto !important;
        }
      }

      .copy {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
