.view-online {
  .copy {
    a {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.header {
  .spacing {
    padding-bottom: 0;
  }

  .unsubscribe-head {
    width: 100%;

    .copy {
      padding-bottom: 5px;
    }
  }
}

.body-copy {
  .eleven {
    width: 551px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .columns {
        .six {
          width: 100% !important;
          float: none !important;
          margin: 0 auto !important;

          .logo {
            padding-bottom: 10px !important;
          }

          img {
            margin: 0 auto !important;
          }
        }
      }

      .unsubscribe-head {
        .copy {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          text-align: center !important;
        }
      }
    }
  }
}
