.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: 45px;
    }
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &.purple {
    background-color: #512E91;
    
    .copy {
      padding-bottom: 20px;
      font-family: @mavenpro;
      color: #ffffff;
      font-size: 45px;
      line-height: 46px;

      span {
        font-size: 40px;
      }
    }

    .info {
      width: 533px;
      background-color: #ffffff;

      .copy {
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: @font-family-serif;
        color: #4A4A4A;
        font-size: 25px;
        line-height: 28px;

        span {
          font-size: 25px;
          line-height: 28px;
          color: #D0021B;
        }
      }
    }

    .donate {
      padding-top: 20px;
      padding-bottom: 5px;

      .button {
        mso-border-alt: 1px solid @button-bg;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.purple {
        .copy {
          font-size: 25px !important;
          line-height: 26px !important;

          span {
            font-size: 20px !important;
          }
        }

        .info {
          .copy {
            font-size: 20px !important;
            line-height: 24px !important;

            span {
              font-size: 20px !important;
              line-height: 24px !important;
            }
          }
        }
      }
    }
  }
}
