.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.signature {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.signatures {
		width: 467px;

		.six {
			width: 49%;
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.signatures {
				width: 90% !important;
			}
		}
  }
}
