@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 580px;
}
.twelve {
  width: 580px;
}
.six {
  width: 270px;
}
.four {
  width: 167px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 300px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #BE2D29;
  text-align: center;
  border-radius: 22px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #BE2D29;
  background-color: #BE2D29;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 22px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer {
  background-color: #ECEBE2;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 620px;
}
.main-content {
  width: 620px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #545454;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #1E3769;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 620px;
}
td.hide img {
  width: 620px;
  min-width: 620px;
}
.gift-array {
  background-color: #ffffff;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #545454;
  font-weight: normal;
  font-style: italic;
}
.gift-array .copy.blue {
  padding-bottom: 0;
  font-weight: bold;
  color: #1E376A;
  font-size: 27px;
  line-height: 30px;
  font-style: normal;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.gift-array .array .gift {
  width: 300px;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 282px;
  height: 66px;
}
.gift-array .array .button td {
  padding-top: 0;
  padding-bottom: 0;
  height: 66px;
  border-radius: 22px;
  background-color: #fcfcfc;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 66px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 22px;
}
.gift-array .array .button.red td {
  background-color: #BE2D29;
}
.gift-array .array .button.red a {
  background-color: #BE2D29;
}
.gift-array .array .button.blue td {
  background-color: #1E376A;
}
.gift-array .array .button.blue a {
  background-color: #1E376A;
}
.hero {
  width: 620px;
  background-color: #ECEBE2;
}
.hero table {
  background-color: #ECEBE2;
}
.hero img {
  width: auto;
  height: auto;
}
.hero .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #545454;
  font-weight: bold;
  text-align: center;
}
.johnsonbox .copy a {
  color: #545454;
  text-decoration: none;
}
.johnsonbox.bottom {
  width: 100%;
  background-color: #555657;
}
.johnsonbox.bottom a {
  color: #ffffff;
  text-decoration: underline;
}
.johnsonbox.bottom .spacing {
  padding-top: 40px;
  padding-bottom: 40px;
}
.johnsonbox.bottom .copy {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-weight: normal;
  mso-line-height-rule: exactly;
}
.johnsonbox.bottom .twelve {
  width: 630px;
}
.johnsonbox.bottom .mobile-top {
  display: none;
}
.johnsonbox.bottom .six {
  width: 262px;
}
.johnsonbox.bottom .six .copy {
  text-align: left;
}
.johnsonbox.bottom .six .copy.top {
  display: table-cell;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  font-weight: bold;
}
.johnsonbox.bottom .six.right {
  width: 348px;
}
.header .columns {
  width: 100%;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header {
  width: 100%;
}
.header .beige {
  display: table-cell;
}
.header .beige table {
  display: table;
  background-color: #ECEBE2;
  width: 100%;
  height: 447px;
}
.header .beige table td {
  height: 447px;
}
.body-copy .twelve {
  width: 574px;
}
.footer {
  width: 100%;
}
.footer .columns {
  width: 100%;
}
.footer .connect .copy {
  padding-top: 40px;
  font-size: 18px;
}
.footer .client-info a {
  text-decoration: none;
}
@media only screen and (max-width: 620px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 8px !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  *[class].mobile .gift-array .copy.blue {
    padding-bottom: 8px !important;
    font-size: 27px !important;
    line-height: 30px !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .donate {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  *[class].mobile .gift-array .array .button {
    width: 300px !important;
  }
  *[class].mobile .gift-array .array .button a {
    font-size: 22px !important;
    line-height: 66px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero .columns {
    width: 100% !important;
  }
  *[class].mobile .hero .spacing img {
    margin: 0 auto !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
    line-height: 21px !important;
  }
  *[class].mobile .johnsonbox.bottom .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  *[class].mobile .johnsonbox.bottom .copy {
    padding-top: 20px !important;
    font-size: 19px !important;
    line-height: 29px !important;
  }
  *[class].mobile .johnsonbox.bottom .six {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.bottom .six td {
    height: auto !important;
  }
  *[class].mobile .johnsonbox.bottom .six img {
    margin: 0 auto !important;
  }
  *[class].mobile .johnsonbox.bottom .six .copy.top {
    display: none !important;
  }
  *[class].mobile .johnsonbox.bottom .mobile-top {
    display: table !important;
  }
  *[class].mobile .johnsonbox.bottom .mobile-top .copy {
    font-size: 25px !important;
    line-height: 30px !important;
    color: #ffffff !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .beige {
    display: none !important;
  }
  *[class].mobile .header .beige table {
    display: none !important;
  }
  *[class].mobile .body-copy .copy {
    font-size: 18px !important;
    line-height: 30px -2 !important;
  }
  *[class].mobile .footer .connect .copy {
    font-size: 18px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    text-decoration: none !important;
  }
}
