.unsubscribe {
  &.copy, &.copy a {
    font-family: @font-family-sans-serif;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .header {
      .logo {
        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
