@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 500px;
}
.twelve {
  width: 500px;
}
.eleven {
  width: 455px;
}
.four {
  width: 140px;
}
.button {
  float: none;
  width: 222px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #7A1B9D;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #7A1B9D;
  background-color: #7A1B9D;
  font-family: Arial, Helvetica, sans-serif, 'Raleway';
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 167px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 167px;
  height: auto;
  background-color: #7A1B9D;
}
.header .button a {
  width: 167px;
  height: auto;
  background-color: #7A1B9D;
  border-color: #7A1B9D;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 540px;
}
.main-content {
  width: 540px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #7A1B9D;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 540px;
}
td.hide img {
  width: 540px;
  min-width: 540px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #00A6B6;
  font-weight: normal;
  text-align: center;
}
.johnsonbox .checks {
  width: auto;
}
.johnsonbox .checks .four {
  width: 150px;
}
.johnsonbox .checks .copy {
  padding-bottom: 30px;
}
.johnsonbox.top {
  background-color: #7A1B9D;
}
.johnsonbox.top .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.johnsonbox.top .copy {
  padding-bottom: 15px;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, 'Raleway';
  font-weight: normal;
}
.johnsonbox.top .copy strong {
  font-weight: 700;
}
.johnsonbox.top .button {
  border: 3px solid #ffffff;
}
.johnsonbox.top .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 167px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #7A1B9D;
  border: #7A1B9D;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.footer {
  background-color: #ffffff;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  font-weight: bold;
}
.header {
  background-color: #ffffff;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .view-donate .button td {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  background-color: #7A1B9D;
  border: #7A1B9D;
  mso-border-alt: #7A1B9D;
}
.header .view-donate .button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  padding-top: 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.body-copy .eleven {
  width: 445px;
}
.body-copy .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 540px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 222px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .button {
    width: 167px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 22px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 26px !important;
    line-height: 30px !important;
  }
  *[class].mobile .johnsonbox .checks .copy {
    padding-bottom: 10px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .eleven {
    width: 90.625% !important;
  }
}
