.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    // padding-left: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .man {
    width: 100%;

    .top {
      padding-left: 40px;
      padding-top: 25px;
      padding-right: 0;
    }

    .seven {
      width: 380px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }

  &.top {
    .button a {
      font-size: 15px;
    }
  }

  &.bottom {
    .spacing {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 90% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      img {
        margin: 0 auto !important;
      }

      .man {
        float: none !important;
        
        .top {
          padding-left: 0 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 90% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      img {
        margin: 0 auto !important;
      }

      .man {
        float: none !important;

        .top {
          padding-left: 0 !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 90% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      img {
        margin: 0 auto !important;
      }

      .man {
        float: none !important;
        
        .top {
          padding-left: 0 !important;
        }
      }
    }
  }
}