.body-copy {
  .spacing {
    padding-bottom: 20px;
  }

  strong {
    font-style: italic;
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .spacing {
        padding-bottom: 0 !important;
      }
    }
  }
}
