.sidebar {
  .bigger {
    width: 295px;
  }

  .btn-group {
    padding-left: 10px;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .six table {
        width: 90% !important;

        td {
          padding-bottom: 25px !important;
          width: 41% !important;

          img {
            width: 100% !important;
            height: auto !important;
          }

          &.btn-group {
            width: 59% !important;

            img {
              width: auto !important;
              height: auto !important;
            }
          }
        }
      }

      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
