.footer{
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  table .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy, .copy a{
    font-family: @font-family;
    font-weight: normal;
    text-align: @footer-text-align;
  }
}

@media @content {
  *[class].mobile {
    
  }
}
