.feeding-phx {
  td {
    padding-top: 20px;
  }
}

.view-online {
  .copy {
    padding-bottom: 15px;
  }
}

.header {
  .logo {
    img {
      max-width: 213px !important;
    }
  }

  .button {
    width: 100%;
    max-width: 167px;

    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.gift-array {

  .array {

    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }

    .view-online {
      .copy {
        padding-bottom: 5px !important;
      }
    }
  }
}
