.donate-button {
  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 0;
  } 
}

@media @content {
  *[class].mobile {

  }
}
