.sidebar {
  .twelve {
    width: 580px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .list {
    .bullet {
      padding-right: 5px;
    }

    .copy-spacer {
      height: 10px;
      font-size: 10px;
      line-height: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .list {
        .copy-spacer {
          height: 0 !important;
          font-size: 0 !important;
          line-height: 0 !important;
        }
      }
    }
  }
}
