@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 610px;
}

.nine {
  width: 443px;
}

.eight {
  width: 387px;
}

.four {
  width: 164px;
}

.three {
  width: 108px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: #625d54;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #998c72;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #565041;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

.footer .affiliates td.last {
  padding: 0 0 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #625d54;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #f99822;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #625d54;
  font-weight: normal;
}

.johnsonbox .copy a {
  color: #625d54;
  text-decoration: none;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #625d54;
  font-weight: normal;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .copy {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.story .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: #004961;
  font-weight: normal;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 25px;
}

.featured .copy span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: #004961;
}

.header {
  background-color: #ffffff;
}

.header table {
  width: 90%;
}

.header .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .logo {
  padding-right: 0;
  width: 30%;
}

.header .logo img {
  max-width: 197px;
}

.header .copy {
  width: auto;
  font-size: 12px;
  line-height: 21px;
  color: #625d54;
}

.header .share {
  width: 70%;
}

.header .share table {
  width: auto;
}

.header .share table td {
  padding-left: 10px;
}

.footer .twelve .spacing {
  padding-top: 10px;
}

.footer .spacing {
  padding-top: 80px;
}

.footer .spacing.copy {
  padding-bottom: 20px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .social-icons img {
  width: 100%;
  height: auto;
}

.footer .social-icons td {
  padding: 0 10px;
}

.footer .social-icons td.first {
  padding: 0 10px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 10px;
}

.footer .affiliates {
  padding-top: 30px;
}

.footer .affiliates img {
  width: auto;
}

.footer .affiliates td {
  padding: 0 3px;
}

.body-copy .copy a {
  font-size: 16px;
  text-decoration: none;
  color: #004961;
}

.story .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.story .eight {
  width: 420px;
}

.story .header {
  padding-bottom: 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: #004961;
}

.story .divider {
  background-color: transparent;
}

.story .divider table {
  width: 50px;
  border-top: 2px solid #f99822;
}

.story .readmore a {
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  color: #f99822;
}

.story .readmore a span {
  font-size: 14px;
  color: #f99822;
}

.johnsonbox .copy a {
  font-size: 23px;
  color: #625d54;
  text-decoration: none;
  font-weight: bold;
}

.johnsonbox .copy.readmore a {
  font-size: 14px;
  color: #f99822;
  font-weight: normal;
}

.andy {
  background-color: #faf4ed;
}

.andy .divider {
  padding-bottom: 8px;
}

.andy .spacing {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.andy .andys-note .spacing {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.andy .sig {
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 25px;
}

.andy .sig img {
  width: auto;
}

@media only screen and (max-width: 670px ) {

  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .eight,
  *[class].mobile .nine {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 20px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .header table {
    width: 95% !important;
  }

  *[class].mobile .header .logo {
    width: 50% !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .copy {
    padding: 0 !important;
    width: 50% !important;
    font-size: 12px !important;
    line-height: 21px !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .footer .twelve .spacing {
    padding-top: 5px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .story img {
    margin: 0 auto !important;
  }

  *[class].mobile .story .spacing {
    padding-top: 0 !important;
  }

  *[class].mobile .story.featured .spacing {
    padding-top: 25px !important;
  }

  *[class].mobile .body-copy .readmore {
    padding-bottom: 0 !important;
  }

  *[class].mobile .story.andy .spacing {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .story.andy .andys-note img {
    margin: 0 !important;
    padding-top: 0 !important;
    width: 40% !important;
  }

  *[class].mobile .story.andy .andys-note .spacing {
    padding-bottom: 0 !important;
  }

  *[class].mobile .story.andy .sig {
    padding-bottom: 0 !important;
  }

  *[class].mobile .story.andy .sig img {
    margin: 0 !important;
    padding-bottom: 0 !important;
    width: auto !important;
  }

  *[class].mobile .johnsonbox .spacing {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
}
