.story {
  .copy {
    padding-left: 35px;
  }
}

.featured {
  border-bottom: 2px solid #fbf1ab;

  .spacing.story-header {
    padding-top: 30px;
  }

  .copy {
    padding-left: 0;
  }
}

.ceo {
  background-color: #fdf8d5;
  border-bottom: 3px solid @yellow;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;

    a {
      color: @black;
    }
  }
}

.sig {
  padding-top: 25px;

  td {
    padding-left: 10px;
  }

  .copy {
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }
}

.severe {
  background-color: #f6d809;

  .copy {
    color: @black;
    font-size: 17px;
    line-height: 22px;

    &.heading {
      font-size: 30px;
      line-height: 35px;
      font-weight: bold;
    }

    &.top {
      padding-top: 15px;
    }
  }

  .list {
    .copy {
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .story{
      .story-link {
        padding-bottom: 20px !important;
      }
      .copy {
        padding-left: 0 !important;
      }
    }

    .featured {
      .copy {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }

    .severe {
      img {
        width: 100% !important;
        height: auto !important;
      }
      .eleven {
        width: 91% !important;
      }

      .heading {
        padding-left: 20px !important;
      }

      .copy {
        font-size: 17px !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .story{
      .story-link {
        padding-bottom: 20px !important;
      }
      .copy {
        padding-left: 0 !important;
      }
    }

    .featured {
      .copy {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }

    .severe {
      img {
        width: 100% !important;
        height: auto !important;
      }
      .eleven {
        width: 91% !important;
      }

      .heading {
        padding-left: 20px !important;
      }

      .copy {
        font-size: 17px !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

    .story{
      .story-link {
        padding-bottom: 20px !important;
      }
      .copy {
        padding-left: 0 !important;
      }
    }

    .featured {
      .copy {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }

    .severe {
      img {
        width: 100% !important;
        height: auto !important;
      }
      .eleven {
        width: 91% !important;
      }

      .heading {
        padding-left: 20px !important;
      }

      .copy {
        font-size: 17px !important;
      }
    }

    .ceo {
      img {
        margin: 0 !important;
        padding: 0 !important;
      }
      td.two.sig {
        width: 20% !important;
        padding-left: 10px !important;
      }
      td.nine.sig {
        width: 80% !important;
        padding-left: 10px !important;
      }

      table.eleven {
        width: 90% !important;
      }
    }

    .sig {
      td, td.copy {
        padding-left: 10px !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}