.header {
  .button {
    border: 1px solid @header-button-border;
  }
}

.footer {
  .social-affiliates {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
