@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.six {
  width: 260px;
}
.five {
  width: 210px;
}
.button {
  float: none;
  width: 214px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #AB0634;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #AB0634;
  background-color: #AB0634;
  font-family: Impact, sans-serif, 'Oswald';
  font-size: 33px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 121px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #005695;
  border: #005695;
  width: 121px;
  height: auto;
}
.header .button a {
  width: 121px;
  height: auto;
  background-color: #005695;
  border-color: #005695;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #AB0634;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  width: 524px;
  background-color: #ECF3F7;
}
.johnsonbox .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}
.johnsonbox .twelve {
  width: 457px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  font-weight: normal;
  text-align: left;
}
.johnsonbox .button td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.sidebar .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar .columns {
  width: 524px;
  height: 249px;
  vertical-align: bottom;
}
.sidebar .red-bg {
  height: 134px;
  background-color: #AB0634;
  vertical-align: bottom;
}
.sidebar .red-bg .copy {
  font-family: Impact, sans-serif, 'Oswald';
  font-size: 43px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
}
.sidebar .red-bg.red-bg-mobile {
  display: none;
}
.sidebar .five {
  width: 274px;
  height: 249px;
  vertical-align: bottom;
}
.sidebar .five table {
  vertical-align: bottom;
}
.sidebar .five .red-bg {
  width: 100%;
}
.sidebar .five .sidebar-copy {
  padding-top: 115px;
}
.sidebar .six {
  width: 250px;
  height: 249px;
  vertical-align: bottom;
}
.sidebar .six table {
  vertical-align: bottom;
}
.sidebar .six .sidebar-red-mobile {
  display: none;
}
.sidebar .six .sidebar-red-mobile .red-bg {
  display: none;
}
.sidebar .six .sidebar-img {
  width: 207px;
}
.sig .spacing {
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .columns {
  width: 100%;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .spacing {
  padding-top: 22px;
  padding-bottom: 22px;
}
.header .view-donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.body-copy .eleven {
  width: 500px;
}
.footer .spacing {
  padding-top: 35px;
  padding-bottom: 40px;
}
.footer .logo td {
  padding-bottom: 20px;
}
.footer .connect .social-icons td {
  padding-left: 10px;
  padding-right: 10px;
}
.footer .client-info .address {
  padding-top: 40px;
}
.footer .unsub {
  padding-top: 0;
  padding-bottom: 40px;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 214px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 33px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 121px !important;
  }
  *[class].mobile .header .button {
    width: 121px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    line-height: 15px !important;
    color: #595959 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 11px !important;
    line-height: 15px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  *[class].mobile .sidebar .columns {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .red-bg {
    height: 134px !important;
    background-color: #ffffff !important;
  }
  *[class].mobile .sidebar .red-bg .copy {
    font-size: 43px !important;
    line-height: 48px !important;
    color: #AB0634 !important;
  }
  *[class].mobile .sidebar .five {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .five table {
    width: 100% !important;
  }
  *[class].mobile .sidebar .five .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .sidebar .five .red-bg-desktop {
    display: none !important;
  }
  *[class].mobile .sidebar .five .red-bg-mobile {
    display: block !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .five .red-bg-mobile .copy {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .sidebar .five .sidebar-copy {
    padding-top: 0 !important;
  }
  *[class].mobile .sidebar .six {
    width: 100% !important;
    height: auto !important;
    table-layout: fixed;
  }
  *[class].mobile .sidebar .six table {
    width: 100% !important;
  }
  *[class].mobile .sidebar .six .sidebar-red-mobile {
    display: block !important;
  }
  *[class].mobile .sidebar .six .sidebar-red-mobile table {
    display: block !important;
    background-color: #AB0634 !important;
    width: 100% !important;
    border-right: 1px solid #AB0634 !important;
  }
  *[class].mobile .sidebar .six .sidebar-img {
    width: 250px !important;
  }
  *[class].mobile .sidebar .six .sidebar-img img {
    width: 250px !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .six .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
    padding-right: 0 !important;
  }
  *[class].mobile .header .logo img {
    max-width: 287px !important;
    width: 100% !important;
    height: 42px !important;
  }
  *[class].mobile .header .logo td {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .view-donate {
    width: 100% !important;
  }
  *[class].mobile .header .button {
    margin: 0 auto !important;
    display: block !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 30px !important;
  }
}
