.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    strong {
      font-size: 50px;
    }
  }

  &.bottom {
    .spacing {
      padding-top: 40px;
      padding-bottom: 20px;
    }

    .copy {
      padding-bottom: 0;
      font-size: 36px;
      line-height: 46px;

      strong {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-font-size + 6 !important;

        strong {
          font-size: @johnsonbox-mobile-font-size + 6 !important;
          line-height: @johnsonbox-mobile-font-size + 6 !important;
        }
      }
    }
  }
}
