.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.middle {
    background-color: @gift-array-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 25px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
