.body {
  background-color: @body-bg;
}

.divider {
  .spacing {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  table {
    width: 180px;
    border-top: 1px solid #7f7f7f;

    td {
      height: 1px;
      font-size: 1px;
      line-height: 1px;
    }
  }
}

.footer{
  background-color: @footer-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;
    font-weight: @footer-font-weight;

    a {
      font-family: @footer-font-family;
      font-size: @footer-font-size;
      line-height: @footer-line-height;
      color: @footer-link-color;
      text-align: @footer-text-align;
      font-weight: @footer-link-font-weight;
      text-decoration: @footer-text-decoration;
    }
  }

  .address {
    a {
      font-weight: normal;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .footer {
      .copy {
        font-size: @footer-font-size !important;
      }

      .address {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
