.body-copy {
  strong {
    a {
      color: @text-color;
      text-decoration: underline;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 65% !important;
      }

      .donate {
        width: 35% !important;
      }
    }
  }
}
