.body-copy {
  span {
    color: @link-color;
  }

  &.address {
    .spacing {
      padding-top: 0;
    }

    .logo {
      padding-bottom: 15px;
    }

    .copy {
      font-weight: bold;
      line-height: 18px;

      a {
        text-decoration: none;
        color: @text-color;

        &.social {
          color: @link-color;
          text-decoration: @link-decoration;
        }
      }
    }
  }

  &.disclaimer {

    .copy {
      padding-top: 30px;
      border-top: 1px solid #858585;
      font-size: 11px;
      line-height: 14px;
      font-weight: bold;
      color: #858585;
    }
  }
}
