/* uncss:ignore */
.outlook-sidebar .left,
.outlook-sidebar .right {
  width: 50%;
}
/* uncss:ignore */
.outlook-sidebar .left {
  background-color: #f4e4cc;
}
/* uncss:ignore */
.outlook-sidebar .right {
  background-color: #794900;
}

.sidebar {
  .columns {
    width: 100%;
  }
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
  .six {
    width: 320px;
    height: 332px;
  }
  .left {
    background-color: #f4e4cc;

    td {
      padding-top: 96px;
    }
  }
  .right {
    background-color: #794900;

    .copy {
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
      font-size: 17px;
      font-weight: bold;
      color: #fffefe;

      a {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .red {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      background-color: #c63b27;

      .copy {
        padding-top: 0;
        padding-bottom: 0;
        font-weight: normal;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }

      .columns {
        width: 100% !important;
      }

      .left, .right {
        height: auto !important;
      }

      .left {
        td {
          padding-top: 40px !important;
          padding-bottom: 40px !important;
        }
      }

      .right {
        .copy {
          padding-left: 40px !important;
          padding-right: 40px !important;
          text-align: center !important;
        }
      }

      .red {
        padding-bottom: 0 !important;

        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .copy {
          padding-left: 5px !important;
          padding-right: 5px !important;
          padding-bottom: 10px !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }

      .columns {
        width: 100% !important;
      }

      .left, .right {
        height: auto !important;
      }

      .left {
        td {
          padding-top: 40px !important;
          padding-bottom: 40px !important;
        }
      }

      .right {
        .copy {
          padding-left: 40px !important;
          padding-right: 40px !important;
          text-align: center !important;
        }
      }

      .red {
        padding-bottom: 0 !important;

        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .copy {
          padding-left: 5px !important;
          padding-right: 5px !important;
          padding-bottom: 10px !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }

      .columns {
        width: 100% !important;
      }

      .left, .right {
        height: auto !important;
      }

      .left {
        td {
          padding-top: 40px !important;
          padding-bottom: 40px !important;
        }
      }

      .right {
        .copy {
          padding-left: 40px !important;
          padding-right: 40px !important;
          text-align: center !important;
        }
      }

      .red {
        padding-bottom: 0 !important;

        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .copy {
          padding-left: 5px !important;
          padding-right: 5px !important;
          padding-bottom: 10px !important;
        }
      }
    }
  }
}