@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 580px;
}

.twelve {
  width: 580px;
}

.ten {
  width: 474px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #c52929;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #861c1c;
  background-color: #861c1c;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #c52929;
  background-color: #c52929;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #c52929;
}

.button a:hover {
  border-color: #861c1c;
  background-color: #861c1c;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #c52929;
  background-color: #c52929;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #861c1c;
  background-color: #861c1c;
}

.preheader .copy {
  color: #fff3d2;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fff3d2;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #59c1a5;
}

.header .copy a {
  color: #59c1a5;
  text-decoration: underline;
}

.header .button td {
  background-color: #59c1a5;
}

.header .button td:hover {
  border-color: #59c1a5;
  background-color: #59c1a5;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #59c1a5;
  color: #ffffff;
  background-color: #59c1a5;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #59c1a5;
}

.header .button a:hover {
  border-color: #59c1a5;
  background-color: #59c1a5;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #59c1a5;
  background-color: #59c1a5;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #59c1a5;
  background-color: #59c1a5;
}

.footer {
  background-color: #fff3d2;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 17px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #00bfbb;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff3d2;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff3d2;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}

.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #12aaaa;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  background-color: #fff3d2;
}

.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .logo {
  width: 75%;
}

.header .view-donate {
  width: 25%;
}

.header .view-donate .view-online .copy {
  padding-bottom: 15px;
}

.header .donate {
  width: 100%;
}

.header .button {
  width: 100%;
  max-width: 167px;
}

.header .button a {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #fff3d2;
}

.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}

.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}

.footer .affiliates .ecfa {
  padding-left: 20px;
  padding-right: 20px;
}

.header .view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .ten {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .logo {
    width: 50% !important;
  }

  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 213px !important;
    height: auto !important;
  }

  *[class].mobile .header .view-donate {
    width: 50% !important;
  }

  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }

  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .logo {
    width: 60% !important;
  }

  *[class].mobile .header .donate {
    width: 40% !important;
  }
}
