.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &.bottom {
    .spacing {
      padding-bottom: 30px;
    }
  }

  .columns {
    width: 100%;
  }

  .seven {
    background-color: #ffffff;
    width: 326px;
    height: 366px;
  }

  .five {
    background-color: #ffffff;
    border-top: 1px solid #EDF6F7;
    border-right: 1px solid #EDF6F7;
    border-bottom: 1px solid #EDF6F7;
    width: 324px;
    height: 366px;
    vertical-align: middle;

    .story-cell {
      margin: 0 auto;
      width: 85%;
    }
  }

  .copy {
    font-family: @font-family;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .story-header {
    padding-top: 0;
    padding-bottom: 0;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
    font-weight: normal;
  }

  .cell {
    width: 200px;
  }

  table.button {
    width: 161px;
    height: 40px;

    td {
      padding: 0;
      height: 40px;
      background-color: @button-bg;
    }

    a {
      background-color: @button-bg;
      font-family: @font-family;
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      color: #ffffff;
      mso-border-alt: 1px solid @button-bg;
    }
  }

  .story-link {
    &.copy {
      background-color: #ffffff;
      color: #E31C79;

      a {
        color: #E31C79;
      }
    }
  }

  @media @content {
    *[class].mobile {
      .story img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.story.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;

  .spacing {
    padding-top: 27px;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    padding-bottom: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: #ffffff;
  }

  .button-cell {
    padding-top: 30px;
  }

  .button {
    td {
      background-color: #ffffff;
    }
    a {
      background-color: #ffffff;
      color: #E31C79;
      mso-border-alt: 1px solid  #ffffff;
    }
  }

  .story-link {
    &.copy {
      background-color: #ffffff;
      color: #E31C79;

      a {
        color: #E31C79;
      }
    }
  }

  .story-header {
    padding-top: 0;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-featured-header-font-size;
    line-height: @newsletter-featured-header-line-height;
    color: @newsletter-featured-header-color;
    font-weight: bold;
  }
}

.highlighted {
  .columns {
    background-color: #F3ECE3;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .story {
      &.bottom {
        .spacing {
          padding-bottom: 25px !important;
        }
      }

      .seven {
        height: auto !important;
      }

      .five {
        height: auto !important;
        border-top: 0 solid transparent !important;
        border-left: 1px solid #EDF6F7 !important;
        border-right: 1px solid #EDF6F7 !important;
        border-bottom: 1px solid #EDF6F7 !important;

        td {
          height: auto !important;
        }

        .story-cell {
          width: 90% !important;
        }
      }

      .story-header {
        padding-top: 25px !important;
      }

      .cell {
        width: 200px !important;
        height: 40px !important;
      }

      .button-cell {
        padding-bottom: 25px !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }

    .story.featured {
      .spacing {
        padding-bottom: 0 !important;
      }
      .copy {
        font-size: @newsletter-featured-font-size + 1 !important;
        line-height: @newsletter-featured-line-height + 2 !important;
      }

      .story-header {
        padding-top: 0 !important;
        font-size: @newsletter-featured-header-font-size - 2 !important;
        line-height: @newsletter-featured-header-line-height - 3 !important;
      }
    }
  }
}
