@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.eight {
  width: 360px;
}
.button {
  float: none;
  width: 165px;
  height: 36px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 36px;
  background-color: #DE2C30;
  text-align: center;
  border-radius: 0px;
}
.button a {
  width: 100%;
  height: 36px;
  display: block;
  border-color: #DE2C30;
  background-color: #DE2C30;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 18px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #333333;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #DE2C30;
  font-weight: bold;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero {
  border-top: 4px solid #DE2C30;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #DE2C30;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Georgia, Times, serif;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}
.johnsonbox .button {
  border: 3px solid #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.johnsonbox .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  height: auto;
}
.johnsonbox .button a {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.johnsonbox.middle {
  width: 500px;
  height: 275px;
  border-top: 1px solid #90949C;
  border-bottom: 1px solid #90949C;
  background-color: #ffffff;
}
.johnsonbox.middle .spacing {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url('https://cdn.oneandall.com/emails/tsa/2018/11/35806_GivingTuesday/Base/Email1/images/heart_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.johnsonbox.middle .columns {
  width: 520px;
}
.johnsonbox.middle .columns .twelve {
  width: 520px;
}
.johnsonbox.middle .button {
  border: 0 solid transparent;
}
.johnsonbox.middle .button td {
  padding-top: 11px;
  padding-bottom: 11px;
}
.johnsonbox.middle .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #4A4A4A;
}
.johnsonbox.middle .red {
  font-family: Georgia, Times, serif;
  font-size: 32px;
  line-height: 36px;
  color: #DE2C30;
}
.johnsonbox.bottom .spacing {
  padding-top: 22px;
  padding-bottom: 22px;
}
.johnsonbox.bottom .copy {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 24px;
  line-height: 27px;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.text-donate-button {
  background-color: #DE2C30;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Georgia, Times, serif;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}
.text-donate-button.top .spacing {
  padding-top: 36px;
  padding-bottom: 30px;
}
.body {
  background-color: #ffffff;
}
.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.view-online .spacing {
  padding-bottom: 5px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-top: 0px;
}
.header .logo {
  width: 80%;
}
.header .logo img {
  max-width: 266px;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  text-decoration: underline;
  color: #4A4A4A;
  font-weight: normal;
}
.footer .logo {
  width: auto;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .small {
  font-size: 11px;
}
.footer .smaller {
  font-size: 10px;
}
.footer .smaller a {
  font-size: 10px;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.view-online .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
}
.view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  color: #666666;
  font-weight: normal;
}
.header .columns {
  width: 100%;
}
.body-copy .eleven {
  width: 500px;
}
.divider {
  border-top: 1px solid #333333;
}
.divider .copy {
  font-size: 5px;
  line-height: 5px;
}
.footer .footer-address a {
  font-weight: normal;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eight,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .eight,
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 165px !important;
    height: 36px !important;
  }
  *[class].mobile .button a {
    font-size: 17px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 19px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 27px !important;
    line-height: 31px !important;
  }
  *[class].mobile .johnsonbox.middle .spacing {
    vertical-align: middle;
  }
  *[class].mobile .johnsonbox.middle .columns {
    height: auto;
  }
  *[class].mobile .johnsonbox.middle .copy {
    font-size: 17px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox.middle .red {
    font-size: 27px !important;
    line-height: 31px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 27px !important;
    line-height: 31px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .footer a {
    font-size: 12px !important;
  }
  *[class].mobile .footer .footer-address a {
    font-weight: normal !important;
  }
}
