@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 560px;
}

.twelve {
  width: 560px;
}

.six {
  width: 260px;
}

.four {
  width: 160px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #cc1906;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #f93a26;
  background-color: #f93a26;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #cc1906;
  background-color: #cc1906;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #cc1906;
}

.button a:hover {
  border-color: #f93a26;
  background-color: #f93a26;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #cc1906;
  background-color: #cc1906;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #f93a26;
  background-color: #f93a26;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #cc1906;
}

.header .button td:hover {
  border-color: #f93a26;
  background-color: #f93a26;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: #cc1906;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #cc1906;
}

.header .button a:hover {
  border-color: #f93a26;
  background-color: #f93a26;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #f93a26;
  background-color: #f93a26;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #f93a26;
  background-color: #f93a26;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4d4d4d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4d4d4d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 600px;
}

.main-content {
  width: 600px;
  background-color: #ffffff;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #cc1906;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #cc1906;
  color: #ffffff;
}

.gift-array {
  background-color: #f5d732;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 33px;
  color: #000000;
  font-weight: bold;
}

.gift-array .array table {
  width: 186px;
}

.gift-array .array a {
  padding: 30px 5px;
  width: 90%;
  display: block;
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  color: #cc1906;
  border-radius: 5px;
}

.gift-array .array a span {
  padding-bottom: 0px;
  display: block;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.gift-array .array a:active,
.gift-array .array a:hover,
.gift-array .array a:visited {
  background-color: #ffffff;
  color: #333333;
}

.gift-array .array .active a {
  background-color: #cc1906;
  color: #ffffff;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #f5d732;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.donate-button {
  background-color: #f5d732;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-button .button a {
  padding: 15px 0;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.ps-statement a {
  font-weight: normal;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
}

.button a {
  padding: 15px 0;
}

.header .spacing {
  padding-top: 20px;
}

.header .logo {
  width: 80%;
}

.header .donate {
  width: 20%;
}

.header .button {
  width: 100%;
  font-weight: normal;
}

.header .button a {
  padding: 7px 0;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}

.footer .social-icons td {
  padding: 0 8px;
}

.footer .affiliates td {
  padding: 0 10px;
}

.forward .copy {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px ) {

  *[class].mobile .four,
  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }

  *[class].mobile .gift-array a {
    padding: 15px !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }

  *[class].mobile .gift-array a span {
    padding-bottom: 0 !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }

  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
    font-size: 25px !important;
    line-height: 31px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 25px !important;
    line-height: 31px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .logo {
    width: 65% !important;
  }

  *[class].mobile .header .logo img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
}
