@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.eleven {
  width: 492px;
}
.seven {
  width: 299px;
}
.six {
  width: 250px;
}
.five {
  width: 202px;
}
.four {
  width: 154px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #f8981d;
  text-align: center;
  border-radius: 5px;
}
.button td:hover {
  border-color: #c27006;
  background-color: #c27006;
  color: #ffffff;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f8981d;
  background-color: #f8981d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  mso-border-alt: 1px solid #f8981d;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .donate {
  width: 50%;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}
.header .button td {
  background-color: #b5b22a;
}
.header .button td:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: #b5b22a;
  font-weight: normal;
  font-size: 18px;
  mso-border-alt: 1px solid #b5b22a;
}
.header .button a:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #b5b22a;
  background-color: #b5b22a;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .logo.spacing {
  padding-top: 50px;
  padding-left: 2px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #725844;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .social-icons td.last {
  padding: 0 0 0 1px;
}
.footer .social-icons .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 10px;
}
.footer .affiliates td {
  padding: 0 3px;
}
.footer .affiliates td.first {
  padding: 0 3px 0 0;
}
.footer .affiliates td.last {
  padding: 0 0 0 3px;
}
.footer .affiliates .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #4e4e4e;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar {
  background-color: #f3ece2;
}
.sidebar .spacing {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sidebar td.copy {
  padding-top: 5px;
  padding-bottom: 0;
  font-family: Georgia, Times, serif;
  color: #002c55;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.sidebar td.donate {
  padding-bottom: 0;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2a4364;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 70%;
}
.header .button a {
  padding: 10px 0;
  border-bottom: 2px solid #98953B;
  mso-border-alt: 1px solid #b5b22a;
  font-weight: normal;
  color: #ffffff;
}
.header .button a:hover {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer {
  background-color: #ffffff;
  border-top: 3px solid #f69831;
}
.footer .copy.smaller {
  padding-top: 10px;
}
.footer .social-icons {
  width: 250px;
}
.footer .social-icons .spacing {
  padding-right: 0;
}
.footer .social-icons .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.footer .affiliates .spacing {
  padding-left: 25px;
}
.footer .affiliates .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.header .button {
  width: 70%;
}
.header .button a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.header .button td {
  border-radius: 2px;
}
.header .copy strong {
  color: #4e4e4e;
}
.featured .story-header td.copy {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia, Times, serif;
  color: #002c55;
  font-size: 37px;
  line-height: 43px;
}
.hero .spacing {
  padding-top: 20px;
}
.body-copy.story .columns {
  width: 100%;
}
.body-copy.story .copy {
  padding-bottom: 20px;
}
.body-copy.story .donate {
  padding-bottom: 50px;
}
.grey {
  color: #717171;
}
.light-grey {
  color: #a3a3a3;
}
.lighter-grey {
  color: #cbcbcb;
}
.lightest-grey {
  color: #f9f9f9;
}
.button.four a {
  color: #ffffff;
  font-size: 16px;
  line-height: 17px;
}
.footer .logo {
  padding-left: 0;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eleven {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four,
  *[class].mobile .columns .five,
  *[class].mobile .columns .six,
  *[class].mobile .columns .seven {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .spacing {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  *[class].mobile .sidebar .copy {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }
  *[class].mobile .footer .social-icons table,
  *[class].mobile .footer .affiliates table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-icons table .copy,
  *[class].mobile .footer .affiliates table .copy {
    text-align: center !important;
    font-size: 14px !important;
  }
  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
  }
  *[class].mobile .sidebar td.copy {
    padding-bottom: 20px !important;
  }
}
