.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    background-color: #7A1B9D;

    .spacing {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .copy {
      padding-bottom: 15px;
      font-size: 34px;
      line-height: 40px;
      color: #ffffff;
      font-weight: 700;

      strong {
        font-weight: 700;
      }
    }

    .checks {
      width: 465px;

      .four {
        width: 155px;
      }

      .copy {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 28px;
        font-weight: normal;
      }
    }

    .button {
      border: 3px solid #ffffff;

      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.top {
        .checks {
          .four {
            width: 100% !important;
          }
        }
      }
    }
  }
}
