.header {
  .logo-donate {
    width: 100%;
  }

  .logo-donate-wrap {
    width: 100%;
  }

  .logo {
    width: 55%;
    height: 61px;
  }

  .donate {
    width: 45%;
    height: 61px;
  }

  .button {
    td {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.footer {
  .social-icons {
    td {
      padding-left: 9px;
      padding-right: 9px;
    }

    .spacing {
      padding-top: 20px;
    }
  }

  .border {
    border-top: 1px solid #4A4A4A;
  }

  .address {
    padding-top: 30px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;

        img {
          width: auto !important;
          float: left !important;
        }
      }

      .donate {
        width: 50% !important;

        .button {
          width: @header-button-mobile-width !important;
        }
      }
    }
  }
}
