// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .smaller {
    a {
      text-decoration: underline;
    }
  }
}

.body-copy {
  .eleven {
    width: 480px;
  }

  &.top {
    .spacing {
      padding-top: 40px;
    }
  }

  &.bottom {
    .spacing {
      padding-top: 35px;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      &.top {
        .spacing {
          padding-top: 30px !important;
          padding-bottom: 30px !important;
        }
      }
    }
  }
}
