@content-width:             582px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         'Times', Georgia, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               27px;
@text-color:                #29271D;
@link-color:                #33467D;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #464646;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

// Mobile Johnsonbox styles
@header-mobile-font-size:    		@header-font-size - 1;
@header-mobile-line-height:     @header-line-height - 1;

// Button styles
@button-width:                  359px;
@button-height:                 auto;
@button-bg:                     #BD2234;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              28px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Mobile button styles
@button-mobile-width:           90%;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size - 5;

// Header Button styles
@header-button-width:              	175px;
@header-button-height:              @button-height;
@header-button-bg:              		#BD2234;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@preheader-color:                   @body-bg;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family-serif;
@johnsonbox-font-size:    					32px;
@johnsonbox-line-height:  					36px;
@johnsonbox-color:        					#333333;
@johnsonbox-text-align:   					left;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@font-family;
@gift-array-text-font-size:      	28px;
@gift-array-text-line-height:     32px;
@gift-array-text-color:      			#BD2234;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		175px;
@gift-array-btn-height:         	145px;
@gift-array-btn-bg:         			@content-bg;
@gift-array-btn-color:      			#666666;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	17px;
@gift-array-btn-line-height:     	20px;
@gift-array-btn-font-weight:     	normal;
@gift-array-btn-radius:      			0;
@gift-array-price-font-size:      36px;
@gift-array-price-line-height:    41px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-price-font-size;
@gift-array-mobile-price-line-height:   @gift-array-price-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #4A4A4A;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        none;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 4;
@footer-text-align:             center;
@footer-font-weight:            normal;
