.body-copy {
  .spacing {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .twelve {
    width: 563px;
  }
}

.footer {
  .social-icons {
    td {
      vertical-align: middle;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
