.view-online {
  .spacing {
    padding-bottom: 5px;
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    font-weight: @header-font-weight;
    color: @view-online-color;

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      font-weight: @header-link-font-weight;
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
    }
  }
}

// Header
.header {
  .spacing {
    padding-top: 0px;
  }

  .logo {
    width: 80%;

    img {
      max-width: 266px;
    }
  }

  .donate {
    width: 20%;
  }
}

.footer {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  table .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logo {
    width: auto;
  }

  .social-icons,
  .social-versioned-icons {
    width: auto;

    img {
      width: auto;
    }

    td {
      padding: 0 3px;
    }
  }

  .small {
    font-size: @footer-font-size - 1;

    a {
      font-size: @footer-font-size - 1;
    }
  }

  .smaller {
    padding-bottom: 0;
    font-size: @footer-font-size - 2;

    a {
      font-size: @footer-font-size - 2;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .columns {
        width: 90% !important;
      }

      .logo {
        width: 50% !important;
        padding-right: 10px !important;

        img {
          width: auto !important;
          max-width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
