@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.eleven {
  width: 547px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.eight {
  width: 387px;
}
.six {
  width: 280px;
}
.four {
  width: 174px;
}
.three {
  width: 120px;
}
.button {
  float: none;
  width: 240px;
  height: 40px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: #417505;
  text-align: center;
  border-radius: 9px;
}
.button a {
  width: 100%;
  height: 40px;
  display: block;
  border-color: #417505;
  background-color: #417505;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 9px;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-decoration: underline;
}
.footer {
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #2d2d2d;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #2d2d2d;
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F9FAFE;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F9FAFE;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #417505;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero {
  border-bottom: 4px solid #ffffff;
  display: block;
}
.hero img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.hero-mobile {
  display: none;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 10px;
}
.sig .copy {
  padding-top: 10px;
}
.johnsonbox {
  background-color: #646F9A;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.johnsonbox.top .button {
  width: 200px;
  height: auto;
}
.johnsonbox.top .button td {
  height: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
}
.johnsonbox.top .button a {
  height: auto;
  padding: 0;
  background-color: #ffffff;
  color: #417505;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .button {
  width: 200px;
  height: auto;
}
.solo-donate-button .button td {
  height: auto;
  padding-top: 11px;
  padding-bottom: 11px;
}
.solo-donate-button .button a {
  height: auto;
  padding: 0;
}
.body {
  background-color: #F9FAFE;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.footer {
  width: 100%;
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #2d2d2d;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
.main-content {
  border: 1px solid #F1F1F1;
}
.header {
  background-color: #ffffff;
}
.header .eyebrow {
  width: 600px;
}
.header .eyebrow .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  width: 600px;
}
.body-copy .nine {
  width: 477px;
}
.copy.asterisk {
  color: #9B9B9B;
  font-size: 9px;
  line-height: 11px;
}
.footer a {
  font-weight: normal;
}
.footer a.mail {
  text-decoration: none;
}
.footer .connect {
  border-top: 0 solid transparent;
}
.footer .social-connect {
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer .affiliates .middle {
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-heading {
  display: none;
}
.mobile-heading .columns {
  display: none;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .eleven {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero-mobile {
    display: block !important;
  }
  *[class].mobile .hero-mobile img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero-mobile .spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 17px !important;
    line-height: 24px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 170px !important;
  }
  *[class].mobile .solo-donate-button {
    border-left: 1px solid #F1F1F1 !important;
    border-right: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .solo-donate-button .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header {
    background-color: #F9FAFE !important;
  }
  *[class].mobile .eyebrow .copy {
    display: block !important;
  }
  *[class].mobile .eyebrow .eight {
    width: 70% !important;
  }
  *[class].mobile .eyebrow .three {
    width: 25% !important;
  }
  *[class].mobile .mobile-heading {
    display: block !important;
    background-color: #646F9A !important;
  }
  *[class].mobile .mobile-heading .copy {
    padding-top: 20px !important;
    color: #ffffff !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: bold !important;
  }
  *[class].mobile .mobile-heading .columns {
    display: block !important;
  }
  *[class].mobile .main-content {
    width: 93% !important;
    border: 0 solid transparent !important;
  }
  *[class].mobile .body-copy {
    border-left: 1px solid #F1F1F1 !important;
    border-right: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .body-copy.bottom {
    border-bottom: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .footer .social .copy {
    padding-bottom: 10px !important;
    font-size: 16px !important;
  }
}
