.hero {
	background-color: @body-bg;

	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			.spacing {
		    padding-top: 0 !important;
		  }
		}
  }
}
