.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    img {
      display: inline-block;
      width: 39px;
      height: 31px;
    }

    table {
      width: auto;
      margin: 0 auto;

      td {
        padding-top: 0;
        padding-bottom: 0;
        height: 39px;
        vertical-align: middle;
      }
    }

    a {
      color: @button-color;
      font-weight: @button-font-weight;
    }

    .copy {
      padding-bottom: 0;
      padding-left: 10px;
    }
  }

  &.top {
    background-color: #BD2234;

    .spacing {
      padding-top: 20px;
      padding-bottom: 25px;
    }

    .copy {
      text-align: center;
      font-weight: normal;
      color: #ffffff;
    }

    .button {
      border: 2px solid #ffffff;

      td {
        padding-top: 14px;
        padding-bottom: 14px;
      }

      table {
        width: auto;
        margin: 0 auto;

        td {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      a {
        color: @button-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
