.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 5px;
  }

  .columns {
    td {
      vertical-align: middle;
      height: 3px;
      font-size: 3px;
      line-height: 3px;
    }

    .copy {
      font-family: @johnsonbox-font-family;
      font-size: @johnsonbox-font-size;
      line-height: @johnsonbox-line-height;
      color: @johnsonbox-color;
      font-weight: @johnsonbox-font-weight;

      a {
        color: @johnsonbox-link-color;
        text-decoration: @johnsonbox-link-text-decoration;
      }
    }
  }

  .button {
    a {
      font-size: @button-font-size;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .columns {
        td {
          width: 23% !important;
        }

        .copy {
          width: 50% !important;
          font-size: @johnsonbox-font-size - 3 !important;
          line-height: @johnsonbox-line-height - 3 !important;
        }
      }
    }
  }
}
