.body-copy {
  .twelve {
    width: 584px;
  }

  .link {
    color: @link-color;
    font-weight: bold;
  }

  .list {
    .bullet {
      padding-right: 5px;
      color: #f9723a;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
