.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: @johnsonbox-font-size + 2;
    }
  }

  &.bottom {
    background-color: #fa723a;

    .copy {
      color: #ffffff;
    }

    .username {
      .copy {
        font-weight: normal;
        padding-bottom: 15px;
      }

      .input {
        padding-bottom: 10px;

        a, td {
          background-color: #ffffff;
          color: #cc0a1e;
          mso-border-color-alt: #ffffff;
        }
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
