.share-bar {
  background-color: @content-bg;

  table {
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    color: #838b6b;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
}

.section.footer {
  width: 100%;
  max-width: 100%;
  border-top: 4px solid #d5dfc1;

  .social-icons {
    .copy {
      color: #abb888;
    }
  }

  .logo-donate-social,
  .donate-social,
  .six,
  .footer-logo td {
    height: auto;
  }

  .logo-donate-social {
    padding-top: 30px;

    .six {
      height: 85px;
    }
  }
}