.gift-array {
  background-color: @gift-array-bg;
  border-top: 2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;

  .spacing {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .gift {
      width: @gift-array-btn-width;
    }

    .gift-cell {
      height: @gift-array-btn-height;
      vertical-align: middle;
    }

    .button {
      margin: 0 auto;
      width: @gift-array-btn-width;
      height: @gift-array-btn-height;

      td {
        padding: 0;
        height: auto;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      a {
        margin: 0 auto;
        background-color: @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }

      img {
        margin: 0 auto;
      }
    }

    .dollar {
      padding-top: 0;
      padding-bottom: 0;

      a {
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &.light-blue a {
        color: #73C2E3;
      }

      &.blue a {
        color: #33467D;
      }

      &.red a {
        color: #BD2234;
      }

      span {
        padding-left: 5px;
        font-size: @gift-array-price-font-size - 5;
        line-height: 41px;
        color: #C2C2C2;
        vertical-align: top;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .gift {
          height: @gift-array-mobile-btn-height !important;
        }

        .gift-cell {
          padding-top: 20px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            width: @gift-array-mobile-btn-width !important;
            height: @gift-array-mobile-btn-height !important;
          }

          a {
            width: 90% !important;
            height: @gift-array-mobile-btn-height !important;
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }

        .dollar {
          a {
            padding-bottom: 0 !important;
            display: inline-block !important;
            font-size: @gift-array-mobile-price-font-size !important;
            line-height: @gift-array-mobile-price-line-height !important;
          }

          .arrow {
            display: none !important;
          }

          #arrow {
            padding-left: 10px !important;
            content: '\25B8\00FE0E' !important;
            display: inline !important;
          }
        }
      }
    }
  }
}
