.solo-donate-button {
  background-color: @johnsonbox-bg;

  .button {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    table {
      width: auto;
      margin: 0 auto;
      
      td {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {

    }
  }
}
