.columns {
  width: 600px;
}

.section {
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

.header {
  background-color: #FFFFFF;

  &.top {
    border-top: 1px solid #F1F1F1;
  }
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .eyebrow {
    width: 600px;
    background-color: @content-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .copy {
      width: 490px;

      &.view {
        width: 100px;
      }
    }
  }

  .logo-cta {
    width: 600px;
    background-color: #656E98;
    border-bottom: 1px solid #656E98;

    .spacing {
      padding-top: 25px;
      padding-bottom: 17px;
    }

    .logo {
      padding-right: 0;
      width: 40%;

      td {
        padding-left: 30px;
      }
    }

    .matching {
      width: 60%;

      td {
        padding-right: 37px;
      }
    }
  }
}

.ten {
  width: 475px;
}

.footer {
  background-color: @footer-bg;

  .spacing {
    padding-top: 35px;
  }

  .connect {
    border-top: 0 solid transparent;
  }

  .social-connect {
    padding-top: 0;
    padding-bottom: 35px;
  }

  .middle {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .section {
      border-left: 0 solid transparent !important;
      border-right: 0 solid transparent !important;
    }

    .sidebar {
      border-left: 1px solid #F1F1F1 !important;
      border-right: 1px solid #F1F1F1 !important;
    }

    .header {
      background-color: #F9FAFE !important;
      border-top: 0 solid transparent !important;
      border-left: 0 solid transparent !important;
      border-right: 0 solid transparent !important;
      border-bottom: 0 solid transparent !important;

      .eyebrow {
        width: 90% !important;
        background-color: #F9FAFE !important;

        .spacing {
          padding-top: 0 !important;
        }

        .copy {
  	      float: left !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          display: block !important;
          width: 75% !important;

          &.view {
  	        float: right !important;
            width: 25% !important;
          }
        }
      }

      .logo-cta {
        border-bottom: 1px solid #646F9A !important;

        .spacing {
          padding-top: 25px !important;
          padding-bottom: 17px !important;
        }

        .logo {
          width: 100% !important;

          td {
            padding-left: 0 !important;
            padding-bottom: 25px !important;
          }

          img {
            width: 90% !important;
            max-width: 200px !important;
            height: auto !important;
          }
        }

        .matching {
          td {
            padding-right: 0 !important;
          }

          img {
            margin: 0 auto !important;
            float: none !important;
            width: 90% !important;
            max-width: 294px !important;
            height: auto !important;
          }
        }
      }
    }

    .main-content {
      background-color: #F9FAFE !important;
    }

    .body-copy {
      width: 90.625% !important;
      background-color: @content-bg !important;
      border-left: 1px solid #F1F1F1 !important;
      border-right: 1px solid #F1F1F1 !important;

      .spacing {
        padding-top: 0 !important;
      }

      .ten {
        width: 90% !important;
      }

      .copy {
        padding-top: 20px !important;
        font-size: 16px !important;
        line-height: 26px !important;
      }
    }

    .footer {
      .spacing {
        padding-top: 20px !important;
      }

      .social {
        .copy {
          font-size: 16px !important;
        }
      }

      .affiliates {
        width: 85% !important;

        .middle {
          padding-left: 6px !important;
          padding-right: 6px !important;
        }
      }
    }
  }
}
