.director {
  background-color: @newsletter-director-bg;

  .columns {
    width: 90%;
  }

  img {
    vertical-align: top;
  }

  .copy-wrapper {
    padding-left: 20px;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;

    span {
      font-family: @newsletter-director-header-font-family;
      font-size: @newsletter-director-header-font-size;
      line-height: @newsletter-director-header-line-height;
      color: @newsletter-director-header-color;
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .director {
      .copy-wrapper {
        padding-left: 0 !important;
        padding-top: 20px !important;
      }

      .one {
        img {
          display: block !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
