/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .heading {
    color: #002d62;
    font-size: 27px;
  }

  .columns {
    width: 100%;
  }

  .array {
    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .copy {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      color: #505050;
      font-size: 16px;
      line-height: 23px;

      a {
        text-decoration: underline;
        color: @johnsonbox-color;
        font-weight: normal;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      
    }
  }
}
