.johnsonbox {
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .columns {
    width: 100%;
  }

  .content {
    background-color: @johnsonbox-bg;

    .spacing {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .heading {
    color: #f9a233;
    font-size: 27px;
    font-weight: normal;
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .columns {
        width: 100% !important;
      }

      .content {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }

      .copy.heading {
        font-size: 23px !important;
      }
    }
  }
}
