.story {
  a {
    font-family: @font-family-sans-serif;
    font-size: @newsletter-story-link-font-size;
    color: @text-color;
    font-weight: @link-weight;
  }

  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: 280px;
    height: 280px;

    table {
      width: 80%;
      margin: 0 auto;
    }
  }

  .copy {
    font-family: @font-family;
    padding-left: 0 !important;

    span {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
    }

    &.story-header {
      padding-bottom: 10px;
    }

    &.story-link {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }

  @media @content {
    *[class].mobile {
      .story img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.featured {
  &.story {
    border-bottom: 0 solid transparent;
  }
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .columns {
    width: 580px;
  }
  .copy {
    padding-left: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;

    span{
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
    }

    @media @content {
      *[class].mobile {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}

.highlighted {
  .columns {
    background-color: #F3ECE3;
  }
}

@media @content {
  *[class].mobile {
    .story {

      img {
        width: 100% !important;
        height: auto !important;
      }

      .columns {
        width: 100% !important;
      }

      .story-link {
        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }

    .six {
      table {
        width: 90% !important;
      }
    }

    .featured {
      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      img {
        width: auto !important;
        height: auto !important;
      }

      .columns {
        width: 90% !important;
      }

      span {
        font-size: @newsletter-featured-header-font-size - 5 !important;
        line-height: @newsletter-featured-header-line-height - 5 !important;
      }
    }
  }
}
