// Header
.header {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    width: 175px;
  }

  .columns {
    width: @content-width - 40;
  }
}

body {
  background-color: transparent;
}

// Footer
.footer {
  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-weight: normal !important;
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
          }
        }
      }
    }
  }
}
