.header {
  .button {
    width: 70%;

    a {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.orange {
  background-color: #f7971c;
}

.body-copy {
  .spacing {
    padding-top: 30px;
  }

  span {
    font-weight: bold;
    color: #f7971c;
  }
}

.graphic {
  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
