@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 599px;
}
.twelve {
  width: 599px;
}
.six {
  width: 280px;
}
.four {
  width: 173px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 222px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #EB902D;
  text-align: center;
  border-radius: 8px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #EB902D;
  background-color: #EB902D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
}
.header {
  background-color: #fcf6e8;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #665547;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #665547;
  text-decoration: none;
}
.header .button {
  width: 119px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 119px;
  height: auto;
  background-color: #B5B22A;
}
.header .button a {
  width: 119px;
  height: auto;
  background-color: #B5B22A;
  border-color: #989622;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
}
.footer {
  background-color: #fcf6e8;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #66503E;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #66503E;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 11px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 11px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fcf6e8;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fcf6e8;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 639px;
}
.main-content {
  width: 639px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #66503E;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #CA2B29;
  font-weight: normal;
}
.preheader .copy {
  color: #fcf6e8;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 639px;
}
td.hide img {
  width: 639px;
  min-width: 639px;
}
.gift-array {
  background-color: #F1E9DE;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 25px;
  color: #66503E;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 182px;
}
.gift-array .array .gift-cell {
  height: 160px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 90%;
  height: 160px;
}
.gift-array .array .button td {
  padding: 0;
  height: 160px;
  border-radius: 6px;
  background-color: #FFFFFF;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 95%;
  background-color: #FFFFFF;
  mso-border-alt: 1px solid #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  color: #AD957B;
  border-radius: 6px;
}
.gift-array .array .dollar {
  padding-bottom: 10px;
  display: block;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}
.gift-array .array .active .button td {
  background-color: #EB902D;
}
.gift-array .array .active .button a {
  background-color: #EB902D;
  color: #ffffff;
  mso-border-alt: 1px solid #EB902D;
}
.hero {
  border-bottom: 1px solid #533A24;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero td {
  outline: none;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #533A24;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.johnsonbox .button td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox.graphic {
  background-color: #ffffff;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #533A24;
}
.solo-donate-button.tan {
  background-color: #F1E9DE;
}
.solo-donate-button.tan .spacing {
  padding-top: 0;
}
.solo-donate-button.bottom .button {
  width: 256px;
}
.text-donate-button {
  background-color: #533A24;
  border-top: 1px solid #533A24;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.body {
  background-color: #fcf6e8;
}
.preheader .copy {
  color: #fcf6e8;
}
.header {
  background-color: #fcf6e8;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 75%;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 119px;
  height: auto;
  border-collapse: separate;
}
.header .button td {
  background-color: #B5B22A;
  border-bottom: 2px solid #989622;
  border-radius: 1px;
  border-collapse: separate;
}
.header .button a {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer {
  background-color: #fcf6e8;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .social-affiliates {
  width: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #66503E;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  color: #66503E;
  font-weight: normal;
  text-decoration: underline;
}
.footer .copy.address strong {
  font-size: 14px;
  line-height: 17px;
}
.footer .copy.smaller {
  padding-top: 20px;
}
.footer .six {
  width: 225px;
}
.footer .six .copy {
  padding-bottom: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.header .logo {
  width: 478px;
}
.header .view-donate {
  width: 119px;
}
.header .donate {
  width: 119px;
}
.header .view {
  width: 119px;
}
.header .view.copy {
  padding-bottom: 5px;
}
.header .button td {
  border-bottom: 1px solid #989622;
  border: 1px solid #989622;
  padding-top: 5px;
  padding-bottom: 5px;
}
.color-bar {
  width: 637px;
}
@media only screen and (max-width: 639px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four,
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 222px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 119px !important;
  }
  *[class].mobile .header .button {
    width: 119px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 12px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }
  *[class].mobile .gift-array .array .dollar {
    padding-bottom: 0 !important;
    display: inline-block !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 26px !important;
    line-height: 30px !important;
  }
  *[class].mobile .ps-statement .spacing {
    padding-bottom: 10px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 26px !important;
    line-height: 30px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .button {
    width: 119px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 12px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .footer .six {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .six .copy {
    font-size: 14px !important;
    text-align: center !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
  *[class].mobile .color-bar {
    width: 100% !important;
  }
}
