.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .spacing {
      padding-top: 50px;
      padding-bottom: 0;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: #000000;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }

  .copy {
    color: @yellow;
    font-family: @font-family-serif;
    font-size: 30px;
    line-height: 35px;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.top {
        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .spacing {
          padding-top: 20px !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.top {
        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .spacing {
          padding-top: 20px !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.top {
        table {
          margin: 0 auto !important;
          float: none !important;
        }

        .spacing {
          padding-top: 20px !important;
        }
      }
    }
  }
}