.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .gift {
      width: @gift-array-btn-width;
    }

    .button-wrapper {
      width: 90%;
      height: @gift-array-btn-height;
      border-collapse: separate;
      border: 1px solid #cabead;
      background-color: @gift-array-btn-bg;
      border-radius: 5px;
      mso-hide: all;
    }

    .gift-cell {
      height: 245px;
      vertical-align: middle;
    }

    .button {
      margin: 0 auto;
      width: 95%;
      mso-hide: all;

      td {
        padding: 0;
        height: auto;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
        mso-hide: all;
      }

      a {
        margin: 0 auto;
        background-color: @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
        mso-hide: all;
      }
    }

    .dollar {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;

      a {
        height: auto;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
        color: #e10000;
        letter-spacing: -1px;

        span {
          font-size: 44px;
          line-height: 50px;
          vertical-align: top;
        }
      }

      &.narrow {
        a {
          letter-spacing: -5px;
        }
      }
    }

    .daily {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;

      a {
        height: auto;
        font-size: 13px;
        line-height: 20px;
        color: #323232;
        font-weight: normal;
      }
    }

    .copy {
      padding-top: 0;
      padding-bottom: 5px;
      height: 89px;

      a {
        height: 89px;
      }
    }

    .small {
      width: 116px;

      td {
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
      }

      a {
        height: 30px;
        background-color: #e10000;
        color: #ffffff;
        font-size: 15px;
        line-height: 30px;
        font-weight: normal;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .gift {
          height: auto !important;
        }

        .gift-cell {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button-cell {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;

          td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
          }

          &.big {
            width: 95% !important;
          }
        }

        .dollar {
          a, span {
            font-size: @gift-array-price-font-size - 40 !important;
            line-height: @gift-array-price-line-height - 40 !important;
          }
        }

        .daily, .copy {
          height: auto !important;

          a {
            height: auto !important;
            font-size: @gift-array-btn-font-size - 3 !important;
            line-height: @gift-array-btn-line-height - 3 !important;
          }
        }
      }
    }
  }
}
