.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.blue {
    background-color: #32466a;
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      img {
        width: 95% !important;
        height: auto !important;
      }
    }
  }
}
