@media @content {
  *[class].mobile {

    .header {
      .logo {
        width: 60% !important;
      }
      .donate {
        width: 40% !important;
      }
    }
    .footer {
      a {
        font-size: @footer-font-size !important;
      }
    }
  }
}
