.header {
  .logo {
    img {
      max-width: 180px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          max-width: 180px !important;
        }
      }
    }
  }
}
