.sidebar {
  background-color: #D8F1F4;
  width: 446px;

  .columns {
    width: 100%;
  }

  .three {
    width: 278px;
    height: 213px;
  }

  .two {
    width: 167px;
    height: 213px;
  }

  .spacing {
    padding-bottom: 0;
  }

  .title {
    width: 90%;

    .copy {
      padding-bottom: 20px;
      font-family: @raleway;
      font-size: 24px;
      line-height: 28px;
      color: #7A1B9D;
      font-weight: 700;
    }
  }

  .list {
    table {
      float: none;
      margin: 0 auto;
      width: 90%;
    }

    .copy {
      padding-bottom: 10px;
      font-size: 18px;
      line-height: 25px;
      color: #1D2129;

      &.last {
        padding-bottom: 0;
      }
    }

    .number {
      width: 15px;
      padding-right: 10px;
      font-family: Arial, Helvetica, sans-serif;
      color: #00A6B6;
      font-size: 23px;
      line-height: 25px;
      font-weight: bold;
    }
  }

  .donate {
    padding-top: 10px;

    .button {
      width: 222px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .three {
        height: auto !important;

        .donate {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }
      }

      .two {
        height: auto !important;

        img {
          float: none !important;
          margin: 0 auto !important;
          width: 30% !important;
        }
      }
    }
  }
}
