// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      text-decoration: none;
    }
  }
}

.highlight {
  background-color: #F1E451;
}

.body-copy {
  .copy {
    font-weight: bold;
    color: @text-color;
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .copy.address {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
