.header {
  .view-online {
    td {
      padding-bottom: 0;
    }

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      line-height: @header-line-height;
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-font-weight;
    }
  }

  .spacing {
    padding-bottom: 20px;
  }

  .donate {
    padding-top: 10px;
  }

  .button {
    border-bottom: 1px solid @header-button-border;
  }
}

@media @content {
  *[class].mobile {

  }
}
