table {
  mso-line-height-rule: exactly;
}

.view-online {
  a {
    font-family: @header-font-family;
  }
}

.header {
  a {
  font-family: @header-font-family;
  }
}

.body-copy {
  .underline {
    text-decoration: underline;
  }
}

.arrow {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  td {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .header {
      .logo {
        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
