table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.header {
  .spacing {
    padding-bottom: 5px;
  }

  .mobile-view-donate {
    display: none;

    .copy,
    .copy a {
      font-size: 0;
      line-height: 0;
    }
  }
}

.view-donate {
  .copy {
    padding-bottom: 0;
  }

  .button {
    td {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.footer {
  .spacing {
    padding-top: 30px;
  }

  .client-info {
    .logo {
      padding-top: 20px;
    }

    .copy {
      padding-top: 5px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .body-copy {
      .twelve {
        width: 73% !important;
      }
    }

    .header {
      .mobile-view-donate {
        display: block !important;

        .copy,
        .copy a {
          font-size: 12px !important;
          line-height: 15px !important;
          color: @text-color !important;
        }
      }
    }

    .footer {
      .client-info {
        .logo {
          padding-bottom: 0 !important;
        }

        .copy {
          padding-top: 5px !important;
        }
      }
    }
  }
}
