.hero {
  .spacing {
    padding-top: 40px;
    padding-bottom: 10px;
		padding-left: 20px;
  }
}

@media @content {
  *[class].mobile {
    .hero {
			img {
				margin: 0 auto !important;
	      width: 95% !important;
	      height: auto !important;
	    }

			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}

@media @tablet {
  *[class].mobile {
    .hero {
			img {
				margin: 0 auto !important;
	      width: 95% !important;
	      height: auto !important;
	    }

			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}

@media @phone {
  *[class].mobile {
    .hero {
			img {
				margin: 0 auto !important;
	      width: 95% !important;
	      height: auto !important;
	    }

			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}
