.johnsonbox {
  margin: 0 auto;
  float: none;
  width: 480px;
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .copy {
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.heading {
      padding-left: 0;
      padding-bottom: 10px;
      color: #16548d;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
    }

    &.number {
      padding-left: 10px;
      color: #000000;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      vertical-align: top;
    }

    span {
      padding: 3px;
      background-color: #e0d9ce;
      font-size: 15px;
      color: #000000;
    }
  }

  .columns {
    width: 100%;
  }

  .donate {
    padding-top: 10px;
    padding-left: 50px;
  }

  .six {
    width: 200px;

    &.button {
      float: left !important;
      width: 150px;

      a {
        padding-top: 15px;
        padding-bottom: 12px;
        border-radius: 2px;
        border: 1px solid @button-border;
        border-bottom-width: 3px;
        color: #ffffff;
        font-weight: normal;
      }
    }

    .copy {
      padding-top: 12px;
    }
  }

  .log {
    padding-top: 20px;
    color: #393939;
    font-size: 12px;
    line-height: 20px;
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        &.number {
          padding-left: 0 !important;
        }
      }

      .donate {
        padding-left: 0 !important;
      }

      .six {
        width: 50% !important;

        .copy {
          padding-left: 30px !important;
        }
      }

      .columns {
        width: 95% !important;
      }

      .spacing {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        &.number {
          padding-left: 0 !important;
        }
      }

      .donate {
        padding-left: 0 !important;
      }

      .six {
        width: 50% !important;

        .copy {
          padding-left: 30px !important;
        }
      }

      .columns {
        width: 95% !important;
      }

      .spacing {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        &.number {
          padding-left: 0 !important;
        }
      }

      .donate {
        padding-left: 0 !important;
      }

      .six {
        width: 50% !important;

        .copy {
          padding-left: 30px !important;
        }
      }

      .columns {
        width: 95% !important;
      }

      .spacing {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }
}
