// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.bullet {
  padding-right: 10px;
  vertical-align: top;
}

.header {
  .logo {
    width: 60%;
  }

  .donate {
    width: 40%;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }

      .donate {
        width: 40% !important;
      }
    }
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
