table, td {
  mso-line-height-rule: exactly;
}

// Header
.header {
  .spacing {
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
  }

  .columns {
    width: 560px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 3px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.highlight {
  background-color: #F8E71C;
}

.johnsonbox {
  &.green {
    .highlight {
      background-color: #BBCF5B;
    }
  }
}

.headline {
  background-color: #1F9B9F;

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    color: #C6D934;
    font-weight: bold;
    font-size: 48px;
    line-height: 53px;
  }

  .white {
    color: #ffffff;
  }

  .highlight {
    background-color: #448B2C;
  }

  &.light-green {
    background-color: #C6D934;

    .highlight {
      background-color: #F5E752;
    }

    .spacing {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .copy {
      font-size: 19px;
      line-height: 21px;
      color: #ffffff;
    }
  }
}

.body-copy {
  strong {
    color: #144D6E;
  }

  .ten {
    width: 480px;
  }
}

@media @content {
  *[class].mobile {
    .headline {
      .copy {
        font-size: 38px !important;
        line-height: 43px !important;
      }

      &.light-green {
        .copy {
          font-size: 19px !important;
          line-height: 21px !important;
        }
      }
    }
  }
}
