@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.nine {
  width: 410px;
}
.eight {
  width: 360px;
}
.button {
  float: none;
  width: 195px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FF882B;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FF882B;
  background-color: #FF882B;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-decoration: underline;
  font-weight: bold;
}
.header .button {
  width: 108px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FF882B;
  border: #FF882B;
  width: 108px;
  height: auto;
}
.header .button a {
  width: 108px;
  height: auto;
  background-color: #FF882B;
  border-color: #FF882B;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #FF882B;
  font-weight: bold;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #FFFCEB;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}
.johnsonbox .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
  font-weight: normal;
  text-align: center;
}
.johnsonbox .copy a {
  color: #FF882B;
  text-decoration: underline;
}
.johnsonbox .purple {
  font-family: 'Arial Narrow', Arial, sans-serif, 'Roboto Condensed';
  color: #5C1A98;
  font-size: 24px;
  line-height: 38px;
  font-weight: normal;
}
.johnsonbox .purple strong {
  font-size: 35px;
  line-height: 38px;
}
.johnsonbox .donate {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox.top {
  width: 500px;
}
.johnsonbox.top .spacing {
  padding-top: 0;
  padding-bottom: 10px;
}
.johnsonbox.top .donate {
  padding-top: 10px;
}
.johnsonbox.top.white {
  background-color: #ffffff;
}
.johnsonbox.top.white .spacing {
  padding-bottom: 0;
}
.johnsonbox.top .twelve {
  width: 100%;
}
.johnsonbox.top .purple {
  padding-top: 10px;
  font-size: 25px;
  line-height: 37px;
}
.johnsonbox.top .purple strong {
  font-size: 30px;
  line-height: 37px;
}
.header .eyebrow .spacing {
  padding-top: 15px;
  padding-bottom: 25px;
}
.header .logo {
  width: auto;
}
.header .donate {
  width: 108px;
}
.header .button td {
  text-align: center;
  border-radius: 0;
}
.header .button a {
  text-decoration: none;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.eyebrow .copy a {
  font-weight: normal;
}
.donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.donate .button a {
  letter-spacing: 1.5px;
}
.header .logo-donate {
  width: 100%;
}
.header .logo-donate-wrap {
  width: 100%;
}
.header .logo {
  width: 55%;
  height: 61px;
}
.header .donate {
  width: 45%;
  height: 61px;
}
.header .button td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.footer .social {
  border-bottom: 1px solid #4A4A4A;
}
.footer .social .spacing {
  padding-bottom: 30px;
}
.footer .social-icons td {
  padding-left: 8px;
  padding-right: 8px;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 195px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 108px !important;
  }
  *[class].mobile .header .button {
    width: 108px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #333333 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 17px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy.purple {
    padding-top: 15px !important;
    font-size: 22px !important;
    line-height: 27px !important;
  }
  *[class].mobile .johnsonbox .copy.purple strong {
    font-size: 22px !important;
    line-height: 27px !important;
  }
  *[class].mobile .johnsonbox.top {
    width: 85% !important;
  }
  *[class].mobile .johnsonbox.top .twelve {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.top .purple {
    padding-top: 15px !important;
    font-size: 22px !important;
    line-height: 27px !important;
  }
  *[class].mobile .johnsonbox.top .purple strong {
    font-size: 22px !important;
    line-height: 27px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
  *[class].mobile .header .logo {
    padding-right: 0 !important;
    width: 50% !important;
  }
  *[class].mobile .header .logo img {
    width: 95% !important;
    max-width: 200px !important;
  }
  *[class].mobile .header .donate {
    width: 50% !important;
  }
  *[class].mobile .header .donate .button {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button td {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button a {
    width: 100% !important;
  }
  *[class].mobile .footer .social-icons {
    padding: 0 !important;
  }
  *[class].mobile .header .logo {
    width: 50% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    float: left !important;
  }
  *[class].mobile .header .donate {
    width: 50% !important;
  }
  *[class].mobile .header .donate .button {
    width: 108px !important;
  }
}
