.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.heading {
		background-color: #EC0044;

		.spacing {
			padding-top: 25px;
			padding-bottom: 25px;
		}

		img {
			max-width: 474px;
			width: auto;
			height: auto;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.heading {
				.spacing {
					padding-top: 15px !important;
					padding-bottom: 15px !important;
				}

				img {
					width: 85% !important;
					height: auto !important;
				}
			}
		}
  }
}
