.solo-donate-button {
  background-color: @johnsonbox-bg;

  .button {
    td {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &.bottom {
    .button {
      width: 439px;

      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }

      .button {
        max-width: @button-mobile-width !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
