@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.six {
  width: 280px;
}
.three {
  width: 120px;
}
.button {
  float: none;
  width: 292px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #069AC7;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #069AC7;
  background-color: #069AC7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
  text-decoration: underline;
  font-weight: bold;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #1D2129;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #1D2129;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #069AC7;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.johnsonbox {
  background-color: #522E91;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.johnsonbox .copy span {
  font-size: 45px;
}
.johnsonbox .button td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.sidebar {
  background-color: #D8EDF7;
}
.sidebar .spacing {
  padding-top: 10px;
  padding-bottom: 0;
}
.sidebar .spacing.last {
  padding-bottom: 50px;
}
.sidebar .inputs {
  border: 1px solid #979797;
  width: auto;
  mso-line-height-rule: exactly;
}
.sidebar .inputs .highlight {
  background-color: #F8E71C;
}
.sidebar .inputs .nine {
  mso-line-height-rule: exactly;
  background-color: #EFEFEF;
  width: 359px;
}
.sidebar .inputs .nine .copy {
  mso-line-height-rule: exactly;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #4A4A4A;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}
.sidebar .inputs .nine .copy.red {
  color: #D0021B;
}
.sidebar .inputs .dark-grey {
  mso-line-height-rule: exactly;
  border-right: 1px solid #979797;
  width: 190px;
}
.sidebar .inputs .dark-grey .copy {
  mso-line-height-rule: exactly;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #3F3F3F;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: bold;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sig .signatures {
  width: 100%;
}
.sig .signatures .six {
  width: 49%;
}
.solo-donate-button {
  background-color: #D8EDF7;
}
.solo-donate-button .spacing {
  padding-top: 30px;
  padding-bottom: 20px;
}
.solo-donate-button.bottom {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
}
.header .copy a {
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 16px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 16px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .view {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: auto;
}
.header .logo td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.body-copy {
  width: 517px;
}
.body-copy .ten {
  width: 467px;
}
.body-copy .list {
  width: 426px;
}
.body-copy .list .bullet {
  padding-right: 10px;
}
.footer .logo {
  padding-bottom: 20px;
}
.footer .address a {
  text-decoration: none;
}
.footer .address .copy-spacer {
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .six,
  *[class].mobile .columns .nine {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 250px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 25px !important;
  }
  *[class].mobile .header .copy {
    font-size: 14px !important;
    line-height: 16px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #1D2129 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 30px !important;
    line-height: 50px !important;
  }
  *[class].mobile .sidebar .inputs .dark-grey {
    border-right: 0 solid transparent !important;
  }
  *[class].mobile .sidebar .inputs .dark-grey .copy {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  *[class].mobile .sidebar .inputs .nine .copy {
    padding-left: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .sig .signatures {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .view-donate {
    width: 90% !important;
  }
  *[class].mobile .header .view {
    display: block !important;
  }
  *[class].mobile .body-copy {
    width: 90% !important;
  }
  *[class].mobile .body-copy .list {
    width: 100% !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 20px !important;
  }
}
