.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }

		.sig {
			.spacing {
				padding-bottom: 0 !important;
			}
		}
  }
}
