.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 170px;

    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
      font-weight: bold;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @content-bg;
  border-bottom: 5px solid #94AE4A;

  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .button {
    width: 170px;

    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
      font-weight: bold;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: 22px !important;
        line-height: 30px !important;
      }

      .button {
        width: 170px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }

    .donate-button {
      .button {
        width: 170px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
