.sig {
	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.spacing {
		padding-top: 0;
		padding-bottom: 30px !important;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
