.no-blue {
  font-family: @footer-font-family;
  font-size: @footer-font-size - 1; 
  line-height: @footer-line-height;
  font-weight: normal;
  color: @footer-link-color;
  text-align: @footer-text-align;
  text-decoration: @footer-text-decoration;
}

.footer {
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: @footer-font-size;
  }
}

@media @content {
  *[class].mobile {

  }
}
