@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 411px;
}

.twelve {
  width: 411px;
}

.button {
  float: none !important;
}

.button td {
  background-color: transparent;
  text-align: center;
  border-radius: 0;
}

.button td:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: transparent;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid transparent;
}

.button a:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: transparent;
  background-color: transparent;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
}

.header .copy a {
  color: #464646;
  text-decoration: underline;
}

.header .button td {
  background-color: transparent;
}

.header .button td:hover {
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: 1px solid transparent;
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid transparent;
}

.header .button a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: transparent;
  background-color: transparent;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: transparent;
  background-color: transparent;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4A4A4A;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 581px;
}

.main-content {
  width: 581px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #945195;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #935095;
  text-align: center;
}

.johnsonbox .mobile-show {
  display: none;
}

.johnsonbox .mobile-show .copy {
  font-size: 0px;
  line-height: 0px;
}

.johnsonbox .mobile-hide {
  width: 581px;
  display: block;
}

.johnsonbox .mobile-hide .copy {
  width: 581px;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
}

.johnsonbox.bottom {
  background-color: #ffffff;
}

.johnsonbox.bottom .columns {
  width: 90%;
}

.johnsonbox.bottom .copy {
  color: #1D2129;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

.johnsonbox.bottom .heading {
  padding-bottom: 5px;
  font-size: 32px;
  line-height: 42px;
  color: #935095;
  font-weight: bold;
}

.johnsonbox.bottom .donate {
  padding-top: 10px;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header .columns {
  width: 100%;
}

.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  font-weight: normal;
}

.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}

.header .logo {
  width: 50%;
}

.header .logo img {
  width: auto;
  height: auto;
}

.header .view-donate {
  width: 50%;
}

.header .view-donate .button {
  width: auto;
}

.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  border: 1px solid transparent;
  mso-border-alt: 1px solid transparent;
}

.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.header .mobile-view-donate {
  display: none;
}

.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}

.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}

.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}

.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}

.footer .connect .copy {
  color: #1D2129;
}

.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}

.footer .client-info .logo {
  padding-top: 30px;
}

.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}

.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

td.hide {
  min-width: 581px;
  font-size: 0px !important;
  line-height: 0px;
}

td.hide img {
  min-width: 581px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.header .spacing {
  padding-bottom: 5px;
}

.header .mobile-view-donate {
  display: none;
}

.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}

.view-donate .copy {
  padding-bottom: 0;
}

.view-donate .button td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.body-copy .spacing {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer .spacing {
  padding-top: 30px;
}

.footer .client-info .logo {
  padding-top: 20px;
}

.footer .client-info .copy {
  padding-top: 5px;
}

@media only screen and (max-width: 581px ) {

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .donate {
    padding-top: 10px !important;
  }

  *[class].mobile .johnsonbox .copy {
    padding-bottom: 0 !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  *[class].mobile .johnsonbox .mobile-show {
    display: block !important;
  }

  *[class].mobile .johnsonbox .mobile-show td {
    padding-top: 10px !important;
  }

  *[class].mobile .johnsonbox .mobile-show .copy {
    padding-bottom: 0 !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  *[class].mobile .johnsonbox .mobile-hide {
    display: none !important;
  }

  *[class].mobile .johnsonbox.bottom .columns {
    width: 73% !important;
  }

  *[class].mobile .johnsonbox.bottom .copy {
    font-size: 15px !important;
    line-height: 25px !important;
  }

  *[class].mobile .johnsonbox.bottom .heading {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  *[class].mobile .hide {
    display: none !important;
  }

  *[class].mobile .header .logo {
    width: 100% !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }

  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }

  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #464646 !important;
  }

  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }

  *[class].mobile .header .button {
    display: none !important;
  }

  *[class].mobile .header .view {
    display: none !important;
  }

  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }

  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }

  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }

  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }

  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }

  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }

  *[class].mobile .hide {
    display: none !important;
  }

  *[class].mobile .body-copy .twelve {
    width: 73% !important;
  }

  *[class].mobile .header .mobile-view-donate {
    display: block !important;
  }

  *[class].mobile .header .mobile-view-donate .copy,
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #1D2129 !important;
  }

  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }

  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
}
