/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.list {
  .copy {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    line-height: 32px;

    &.bullet {
      padding-left: 0;
      vertical-align: top;
    }

    &.last {
      padding-bottom: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .copy {
        font-size: @font-size - 3 !important;
        line-height: @line-height - 3 !important;
      }
    }
  }
}
