.johnsonbox {
  background-color: @content-bg;

  .columns {
    width: 577px;
    background-color: @johnsonbox-bg;
  }

  .eleven {
    width: 510px;
  }

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      font-family: @johnsonbox-font-family;
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .number {
    padding-right: 10px;
    width: 25px;
  }

  .heading {
    .copy {
      padding-top: 20px;
      font-size: 23px;
      line-height: 28px;
      font-weight: bold;
      text-align: center;
    }
  }

  &.top {
    background-color: #282c5a;

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size - 3 !important;
        line-height: @johnsonbox-mobile-line-height - 3 !important;
      }

      .eleven {
        width: 90% !important;
      }

      .number {
        width: 15px !important; 
        padding-right: 5px !important;
      }

      &.top {
        img {
          width: 90% !important;
          height: auto !important;
        }
      }
    }
  }
}
