.solo-donate-button {
  background-color: #ffd18e;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a {
      font-family: @font-family-sans-serif;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
