@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.nine {
  width: 410px;
}
.eight {
  width: 360px;
}
.seven {
  width: 310px;
}
.six {
  width: 260px;
}
.five {
  width: 210px;
}
.four {
  width: 160px;
}
.three {
  width: 110px;
}
.button {
  float: none;
  width: 240px;
  height: 40px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: 40px;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #F4F4F4;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  text-decoration: underline;
}
.header .button {
  width: 200px;
  height: 40px;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 200px;
  height: 40px;
  background-color: #dddddd;
}
.header .button a {
  width: 200px;
  height: 40px;
  background-color: #dddddd;
  border-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
}
.footer {
  background-color: #F4F4F4;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #2d2d2d;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #2d2d2d;
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F4F4F4;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F4F4F4;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #CA902F;
  font-weight: bold;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.body {
  background-color: #F4F4F4;
}
.header {
  background-color: #F4F4F4;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 600px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.header .donate-button {
  height: 100%;
  background-color: #F4F4F4;
}
.header .donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 0;
  mso-padding-top-alt: 20px;
}
.header .button {
  width: 100%;
}
.header .button td {
  padding: 10px 0;
}
.header .button a {
  mso-border-alt: 1px solid #dddddd;
  font-weight: normal;
  color: #ffffff;
}
.footer {
  width: 100%;
  background-color: #F4F4F4;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #2d2d2d;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .nine {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: 40px !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 15px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .button {
    width: 200px !important;
    height: 40px !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
}
