.sidebar {
  .spacing {
    padding-bottom: 0;
  }

  .bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ec842b;
    border-radius: 15px;

    table {
      width: 80%;
    }

    .copy {
      border-bottom: 1px solid #ffffff;
      padding-bottom: 20px;
      padding-right: 0;
      color: #4b310d;
      font-size: 17px;
      line-height: 24px;

      a {
        color: #4b310d;
        text-decoration: none;
      }

      strong {
        color: #4b310d;
      }

      &.last {
        border-bottom: 1px solid transparent;
      }
    }
  }

  .copy {
    padding-right: 10px;

    strong {
      color: @orange;
    }
  }

  .price {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 57px;
    line-height: 62px;
    color: #ffffff;
    font-weight: bold;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;
        }
      }
      .bar {
        padding-bottom: 0 !important;
      }
      .price {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
        font-size: 40px !important;
        line-height: 42px !important;
      }
    }
  }
}