.sig {
	img {
		width: auto;
		height: auto;
	}

	td {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: 90% !important;
	      height: auto !important;
	    }
		}
  }
}
