@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 601px;
}
.twelve {
  width: 601px;
}
.ten {
  width: 495px;
}
.nine {
  width: 441px;
}
.four {
  width: 174px;
}
.button {
  float: none;
  width: 280px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #008d9c;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #008d9c;
  background-color: #008d9c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #fff5e6;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #199aa8;
  font-weight: normal;
}
.header .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #199aa8;
  text-decoration: underline;
  font-weight: normal;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #008d9c;
  border: #008d9c;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #008d9c;
  border-color: #008d9c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #fff5e6;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #666666;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffae5e;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 14px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff5e6;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff5e6;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 641px;
}
.main-content {
  width: 641px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #f9723a;
  font-weight: bold;
}
.preheader .copy {
  color: #fff5e6;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 641px;
}
td.hide img {
  width: 641px;
  min-width: 641px;
}
.gift-array {
  background-color: #e4f3ef;
}
.gift-array .spacing {
  padding-top: 10px;
  padding-bottom: 25px;
}
.gift-array .copy {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 24px;
  color: #008d9c;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 180px;
}
.gift-array .array .gift-cell {
  height: 180px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 90%;
  height: 180px;
}
.gift-array .array .button td {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 180px;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 95%;
  background-color: transparent;
  mso-border-alt: 1px solid transparent;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: transparent;
  border-radius: 5px;
}
.gift-array .array .button img {
  margin: 0 auto;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 35px;
}
.solo-donate-button .button {
  border-radius: 5px;
}
.solo-donate-button .button td {
  background-color: #008d9c;
  padding-top: 15px;
  padding-bottom: 15px;
}
.solo-donate-button .button a {
  background-color: #008d9c;
}
.text-donate-button {
  background-color: #43d0ab;
}
.text-donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 30px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.text-donate-button .button {
  background-color: #f9723a;
  border-radius: 5px;
}
.text-donate-button .button td {
  background-color: #f9723a;
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .button a {
  background-color: #f9723a;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #199aa8;
}
.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header .donate {
  width: 100%;
}
.header .button {
  max-width: 167px;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy .home-link {
  display: inline-block;
}
.footer .copy.smaller {
  line-height: 13px;
}
.footer .copy.smaller a {
  line-height: 13px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.body-copy .twelve {
  width: 584px;
}
.body-copy .link {
  color: #f9723a;
  font-weight: bold;
}
.body-copy .list .bullet {
  padding-right: 5px;
  color: #f9723a;
}
@media only screen and (max-width: 641px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 280px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #666666 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 20px !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 0 !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 26px !important;
    line-height: 29px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 28px !important;
    line-height: 32px !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    max-width: 213px !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
}
