/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .columns {
    width: @content-width;
  }

  .red {
    background-color: @red;

    .copy {
      padding-top: 7px;
      padding-bottom: 10px;
      font-family: @johnsonbox-font-family;
      font-size: 22px;
      line-height: 27px;
    }

    strong {
      font-size: 36px;
      line-height: 46px;
    }
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    background-color: @gift-array-bg;
    width: auto;

    .four {
      width: @gift-array-btn-width;

      table {
        width: 160px;
      }
    }

    a {
      padding: 30px 5px;
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }
    }

    .spacing {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .icon {
      height: 108px;
      vertical-align: bottom;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 0;
      font-family: @font-family;
      font-size: 15px;
      color: #1D2129;

      span {
        font-family: @maven;
        font-size: 18px;
        font-weight: bold;
        color: #B4131C;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      background-color: transparent !important;

      .red {
        .copy, .copy strong {
          font-size: 20px !important;
          line-height: 25px !important;
        }
      }

      .array {        
        .spacing {
          padding-top: 0 !important;
        }
        .four {
          table {
            width: 80% !important;

            .icon {
              padding-top: 25px !important;
              height: auto !important;
            }
          }
        }
      }
    }
  }
}
