/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;
      }
      .donate {
        width: 45% !important;
      }
    }
  }
}
