.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .title {
    padding-bottom: 10px;
    font-family: @arvo;
    font-size: 34px;
    line-height: 38px;
  }

  .button {
    border: 3px solid #ffffff;

    td {
      padding: 5px 0;
    }

    a {
      padding: 0;
      font-family: @arvo;
      font-size: @button-font-size;
    }
  }

  &.reasons {
    background-color: @content-bg;

    .columns {
      width: 435px;
      background-color: #FFF682;
    }

    .copy {
      padding-bottom: 0;
      color: #36A3B7;
      font-size: 19px;
      line-height: 25px;
    }

    .title {
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 29px;
      line-height: 35px;
      font-weight: bold;

      .bigger {
        font-size: 42px;
      }
    }

    .list {
      margin: 0 auto;
      width: 90%;
    }

    .number {
      width: 30px;
      font-size: 30px;
      font-family: @arvo;
      vertical-align: top;
    }

    .number-mobile {
      display: none;
      font-size: 0;
      line-height: 0;
    }

    .donate {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .button {
      border: 0 solid transparent;
    }
  }

  &.bottom {
    background-color: @content-bg;

    .spacing {
      padding-top: 30px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .button {
        width: 251px !important;
      }

      &.reasons {
        .cat {
          img {
            width: 100% !important;
            height: auto !important;
          }
        }

        .copy {
          line-height: 30px !important;
        }

        .number {
          display: none !important;
        }

        .number-mobile {
          display: inline-block !important;
          font-size: 30px !important;
          line-height: 30px !important;
          font-family: @arvo !important;
          vertical-align: top !important;
        }

        .title {
          font-size: 25px !important;

          .bigger {
            font-size: 37px !important;
          }
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
