.header {
  .logo {
    width: 60%;
  }

  .view-donate {
    width: 40%;

    .button {
      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.timer {
  td {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.body-copy {
  .ten {
    width: 456px;
  }

  .eight {
    width: 377px;
  }

  .list {
    .bullet {
      padding-right: 20px;
    }

    .copy {
      span {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.footer {
  .logo {
    td {
      padding-bottom: 20px;
    }
  }

  .client-info {
    .address {
      padding-top: 30px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: 100% !important;
          max-width: 287px !important;
        }
      }

      .view-donate {
        float: none !important;
        margin: 0 auto !important;

        .donate {
          padding-top: 20px !important;
        }

        .button {
          float: none !important;
          margin: 0 auto !important;
          display: block !important;
        }
      }
    }

    .timer {
      img {
        width: 95% !important;
        height: auto !important;
      }
    }

    .body-copy {
      .list {
        .bullet {
          padding-right: 10px !important;
        }
      }
    }

    .footer {
      .client-info {
        .address {
          padding-top: 30px !important;
        }
      }
    }
  }
}
