body, .body {
  background-color: transparent;
}

.main-content {
  width: 100%;
  background-color: #ededed;

  .body-copy {
    background-color: @content-bg;
  }
}

// Header
.header {
  background-color: @header-bg;
  width: 100%;

  .columns {
    width: 549px;
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    font-weight: @header-font-weight;

    a {
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-font-weight;
    }
  }

  .view-donate {
    .button {
      width: @header-button-width;
      mso-hide: all;

      td {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0;
        padding-right: 0;
        background-color: @header-button-bg;
        border: @header-button-border;
        border-radius: 6px;
        mso-border-alt: @header-button-border;
        mso-hide: all;
      }

      a {
        text-decoration: @header-button-text-decoration;
        color: @header-button-color;
        font-size: @header-button-font-size;
        font-weight: @header-button-font-weight;
        mso-hide: all;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  background-color: @content-bg;

  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }
}

.body-copy {
  .orange {
    font-family: @mavenpro;
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
    color: #F17A3C;
  }

  .highlight {
    background-color: #F8E71C;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      width: 100% !important;
      background-color: #ededed !important;

      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
          }
        }

        .logo {
          display: none !important;
        }

        .address {
          padding-top: 20px !important;
        }
      }
    }
  }
}
