.body-copy {
  .eleven {
    width: 530px;
  }

  .copy {
    &.bullet {
      padding-right: 10px;
      font-size: 28px;
      color: #c20b0b;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .six {
        margin: 0 auto !important;
        float: none !important;
        
        img {
          margin: 0 auto !important;
        }
      }
    }
  }
}
