/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
      mso-border-alt: 1px solid #ffffff;
    }

    td {
      padding-bottom: 0;
      background-color: #ffffff;
      border-radius: @gift-array-btn-radius;

      a {
        width: 100%;
        color: @red-orange;
      }

      &.price {
        border-radius: 3px 0 0 3px;
        width: 25%;

        a {
          font-size: 39px;
        }
      }

      &.equals {
        width: 5%;

        a {
          font-size: 39px;
          text-align: left;
        }
      }

      &.icon {
        width: 8%;

        a {
          float: right;
        }

        img {
          float: right;
        }
      }

      &.description {
        width: 62%;
        border-radius: 0 3px 3px 0;
      }

      &.copy {
        padding: 0;
      }
    }

    &.active {
      td {
        background-color: @red-orange;

        a {
          color: #ffffff;
          mso-border-alt: 1px solid @red-orange;
        }
      }
    }
  }

  .donate {
    padding-bottom: 10px;
  }
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;

    &.heading {
      color: @red-orange;
      font-weight: bold;
    }
  }

  .array {

    table {
      width: @gift-array-btn-width;
    }

    a {
      padding: 15px 0;
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;

        &.heading {
          padding-top: 20px !important;
        }
      }
      a {
        padding: 15px !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .twelve {
        width: 100% !important;
      }

      .button {
        width: 100% !important;

        a {
          width: auto !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;

        &.heading {
          padding-top: 20px !important;
        }
      }
      a {
        padding: 15px !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .twelve {
        width: 100% !important;
      }

      .button {
        width: 100% !important;

        a {
          width: auto !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;

        &.heading {
          padding-top: 20px !important;
        }

        &.price {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }

        &.equals {
          padding-right: 10px !important;
        }

        &.icon {
          img {
            float: right !important;
          }
        }
      }
      a {
        padding: 15px !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .twelve {
        width: 100% !important;
      }
    }

    .button {
      width: 100% !important;

      a {
        width: auto !important;
      }

      td {
        padding-top: 5px !important;
        padding-bottoM: 5px !important;
      }
    }
  }
}

@media (max-width: 374px){
  .gift-array {
    td {
      &.price,
      &.equals,
      &.icon,
      &.description {
        width: auto !important;
      }
    }
  }
}
