.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .button {
      td {
        background-color: #9f0612;
      }
      a {
        padding: 15px 0;
        color: #ffffff;
        background-color: #9f0612;
        mso-border-alt: 1px solid #9f0612;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
