// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             641px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   @orange;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #666666;
@link-color:                #1ebab7;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-bg:                     #ed5e23;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 5px;
@button-font-family:            Arial, Helvetica, sans-serif;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              @red-orange;
@header-button-border:          @header-button-bg;
@header-button-color:           #ffffff;
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

@view-online-color:             #199aa8;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:                     #ffad5e;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              30px;
@johnsonbox-line-height:            32px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#ffad5e;
@gift-array-btn-width:            180px;
@gift-array-btn-bg:               transparent;
@gift-array-btn-color:            transparent;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        20px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-text-color:           #ffffff;
@gift-array-font-family:          Arial, Helvetica, sans-serif;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #666666;
@footer-link-color:             #fa723a;
@footer-text-decoration:        underline;
@footer-font-family:            Arial, Helvetica, sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
