/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .columns {
    width: 100%;
  }
}

a.giving-tuesday {
  text-decoration: none;
  font-weight: normal;
  color: @text-color;
}


@media @content {
  *[class].mobile {
    .footer-logo {
      td {
        padding-bottom: 0 !important;
      }
    }
  }
}
