// Header
.header {
  .spacing {
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
  }

  .logo {
    td {
      padding-left: 15px;
    }
  }

  .view-donate {
    width: 50%;

    .button {
      border: 3px solid @header-button-border;
      border-radius: 10px;
      border-collapse: separate;

      td {
        border-radius: 10px;
        border-collapse: separate;
      }

      a {
        border: 0 solid transparent;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;

  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .address {
    a {
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        td {
          padding-left: 0 !important;
        }
      }
    }
  }
}
