@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.eleven {
  width: 510px;
}
.ten {
  width: 460px;
}
.nine {
  width: 410px;
}
.eight {
  width: 360px;
}
.seven {
  width: 310px;
}
.six {
  width: 260px;
}
.four {
  width: 160px;
}
.three {
  width: 110px;
}
.button {
  float: none !important;
}
.button td {
  padding: 10px 0;
  background-color: #000000;
  text-align: center;
  border-radius: 6px;
}
.button a {
  width: 100%;
  height: 100%;
  display: block;
  border-color: #000000;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 6px;
  mso-border-alt: 1px solid #000000;
}
.header {
  background-color: #FAFAFA;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif, "PT Sans";
  font-size: 12px;
  line-height: 17px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
}
.header .button td {
  padding: 7px 0;
  background-color: #EC1F27;
}
.header .button a {
  border-color: #EC1F27;
  color: #FFFFFF;
  background-color: #EC1F27;
  font-weight: bold;
  font-size: 17px;
  mso-border-alt: 1px solid #EC1F27;
}
.footer {
  background-color: #FAFAFA;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #2d2d2d;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #2d2d2d;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #FAFAFA;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #FAFAFA;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, "PT Sans";
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, "PT Sans";
  text-decoration: underline;
  color: #EC1F27;
  font-weight: normal;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #EC1F27;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, "PT Sans";
  font-size: 38px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: normal;
}
.johnsonbox .button {
  width: 230px;
}
.johnsonbox .button td {
  padding: 18px 0;
}
.johnsonbox .button a {
  padding: 0;
  font-size: 21px;
}
.donate-button {
  background-color: #FAFAFA;
}
.donate-button .spacing {
  padding-top: 25px;
  padding-bottom: 0;
}
.donate-button .button td {
  padding: 15px 0;
}
.donate-button .button a {
  font-size: 21px;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #FAFAFA;
}
.header {
  background-color: #FAFAFA;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 600px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif, "PT Sans";
  font-size: 12px;
  line-height: 17px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.header .donate-button {
  height: 100%;
  background-color: #FAFAFA;
}
.header .donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 0;
  mso-padding-top-alt: 20px;
}
.header .button {
  width: 100%;
}
.header .button td {
  padding: 10px 0;
}
.header .button a {
  mso-border-alt: 1px solid #EC1F27;
  font-weight: bold;
  color: #FFFFFF;
}
.footer {
  width: 100%;
  background-color: #FAFAFA;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #2d2d2d;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
.header .donate-button {
  width: 150px;
}
.footer .connect {
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 0;
}
.footer .copy .underline {
  text-decoration: underline;
}
/* uncss:ignore */
.address a,
.phone a {
  color: #2d2d2d;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .eleven {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 16px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 17px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 23px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 180px !important;
  }
  *[class].mobile .johnsonbox .button td {
    padding: 10px 0 !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 21px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 21px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .copy {
    display: block !important;
    text-align: center !important;
    font-size: 12px !important;
  }
  *[class].mobile .header .donate-button {
    float: none !important;
    margin: 0 auto !important;
    width: 150px !important;
  }
  *[class].mobile .footer .social .copy {
    font-size: 16px !important;
    padding-right: 0 !important;
  }
}
