.list {
  padding-bottom: 20px;

  .bullet {
    padding-left: 45px;
    padding-right: 20px;
    vertical-align: top;
  }
}

@media @content {
  *[class].mobile {
    .list {
      .bullet {
        padding-left: 0 !important;
      }
    }

    .header {
      .logo {
        width: 60% !important;
      }

      .donate {
        width: 40% !important;
      }
    }

    .body-copy {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height - 2 !important;
      }
    }

    .footer {
      .smallest a {
        font-size: 13px !important;
      }
    }
  }
}
