.sidebar {
  .spacing {
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 20px !important;

          &.ticket {
            padding-bottom: 0 !important;
          }
        }
      }

      .spacing {
        padding-bottom: 10px !important;
      }
    }
  }
}
