// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .donate {
      table.button {
        border-radius: 0;

        td {
          border-radius: 0;
          padding-top: 7px;
          padding-bottom: 7px;

          a {
            border-radius: 0;
          }
        }
      }
    }
  }

  .mobile-view-donate {
    display: none;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;

      &.address {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.body-copy {
  span.highlight {
    background-color: #F6E942;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        &.copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .client-info {
        .copy {
          &.address {
            a {
              text-decoration: none !important;
            }
          }
        }
      }
    }
  }
}
