.sidebar {
  .button {
    width: 213px;

    td {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      font-family: @montserrat;
    }
  }

  .copy {
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 24px;

    &.behalf {
      padding-top: 10px;
      padding-bottom: 0;
      font-family: @arvo;
      font-size: 23px;
      line-height: 35px;
    }

    &.thanks {
      font-family: @arvo;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 35px;
      line-height: 40px;
      font-weight: bold;
      color: #B2548F;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {

      .button {
        width: 213px !important;
      }
    }
  }
}
