.text-donate-button {
  background-color: #FCE2AC;

  .spacing {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @font-family-sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #576572;
    font-weight: normal;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
