.sidebar {
  .columns {
    width: 85%;
  }

  .six {
    width: 265px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 0 !important;
  }

  .bullet {
    padding-right: 5px;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .six {
        width: 90% !important;
        float: none !important;
        margin: 0 auto !important;
      }
    }
  }
}
