<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">
      Lorem ipsum
    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            MONTH / <strong>YEAR</strong>
          </td>
          <td class="donate" align="right">

            <table class="button" align="right" border="0">
              <tr>
                <td>
                  <a href="#donate?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">DONATE</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- Color Bar Area -->
<table class="section color-bar" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="yellow" align="left" width="25%" height="4">&nbsp;</td>
    <td class="blue" align="left" width="25%" height="4">&nbsp;</td>
    <td class="orange" align="left" width="25%" height="4">&nbsp;</td>
    <td class="green" align="left" width="25%" height="4">&nbsp;</td>
  </tr>
</table>

<!-- Color Bar Area -->
<table class="section heading-banner" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">
      <img src="images/heading.gif" alt="HIM THEM US YOU. Raising Up." />
    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy" style="padding-bottom:20px;">
      &nbsp;
    </td>
  </tr>
</table>
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="logo" align="center">
            <a href="https://helpingupmission.org?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-logo.gif" alt="HIM THEM YOU US" width="87" height="82" /></a>
          </td>
        </tr>
      </table>

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>Helping Up Mission</strong><br/>
            1029 East Baltimore Street<br/>
            Baltimore, MD 21202<br/>
            <a href="mailto:philanthropy@helpingup.org">philanthropy@helpingup.org</a><br/>
            (410) 675-HELP
          </td>
        </tr>
      </table>

      <table class="columns social-affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->
            <table class="six social-icons" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>

                  <table class="icons" align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy" align="left">
                        Join Our Community
                      </td>
                    </tr>
                    <tr>
                      <td align="left">

                        <table align="left" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td class="first">
                              <a href="https://www.facebook.com/Helping.Up.Mission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-facebook.gif" alt="Facebook" width="35" height="35" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://twitter.com/HelpingUp?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-twitter.gif" alt="Twitter" width="35" height="35" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://www.youtube.com/user/HelpingUpMission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-youtube.gif" alt="YouTube" width="35" height="35" border="0" /></a>
                            </td>
                            <td>
                              <a href="https://soundcloud.com/helpingup?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-soundcloud.gif" alt="SoundCloud" width="35" height="35" border="0" /></a>
                            </td>
                            <td class="last">
                              <a href="https://www.instagram.com/helpingup?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-instagram.gif" alt="Instagram" width="35" height="35" border="0" /></a>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="six affiliates" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>

                  <table class="icons" align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy">
                        Our Partners
                      </td>
                    </tr>
                    <tr>
                      <td align="left">

                        <table align="left" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td class="first">
                              <img src="images/footer-ecfa.gif" alt="ECFA Accredited. Enhancing Trust." width="34" height="41" border="0" />
                            </td>
                            <td>
                              <img src="images/footer-maryland.gif" alt="Maryland Charity Campaign" width="33" height="35" border="0" />
                            </td>
                            <td>
                              <img src="images/footer-guidestar.gif" alt="Valued Partner. GuideStar Exchange. Partners in trust." width="42" height="42" border="0" />
                            </td>
                            <td class="last">
                              <img src="images/footer-rescuemissions.gif" alt="Rescue Missions" width="54" height="34" border="0" />
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy smaller" align="center">
            If you do not wish to receive future email updates from Helping&nbsp;Up&nbsp;Mission, <a href="[% unsub_url %]" target="_blank">unsubscribe</a>&nbsp;here.<br/>
            Copyright &copy; {{job_year}} Helping&nbsp;Up&nbsp;Mission,&nbsp;Inc. All&nbsp;Rights&nbsp;Reserved. <a href="https://helpingupmission.org/privacy-policy?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">Privacy&nbsp;Policy&nbsp;Statement</a>.
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
