.highlighted {
  .copy {
    padding-bottom: 15px;
    padding-left: 15px;

    span {
      color: @dark-blue;
      font-weight: bold;
    }
  }

  .cta {
    margin: 0 auto;
    width: 90%;

    .donate {
      .button {
        width: 80%;
        td, a {
          background-color: @orange;
          color: #ffffff;
          border-radius: 5px;
        }

        a {
          mso-border-alt: 1px solid @orange;
        }
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .highlighted {
      .copy {
        padding-left: 15px !important;
      }
      .cta {
        width: 95% !important;
        float: none !important;

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
