<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- View Online Area -->
<table class="section view-online" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing">

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="right" class="copy">
            <a href="%%view_email_url%%" target="_blank">View this email online</a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            MONTH / <strong>YEAR</strong>
          </td>
          <td class="donate" align="right">
            <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/header-donate.gif" alt="Donate" width="105" height="26" border="0" /></a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<table class="section heading-banner" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center">
      <img src="images/header-banner.gif" alt="Partners in Caring. The Salvation Army. Your Compassion Meeting Needs and Transforming Lives." width="580" height="149" border="0"  />
    </td>
  </tr>
</table>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0" width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">

            <!-- Footer Logo -->
            <table class="logo" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center">
                  <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_logo.gif" alt="The Salvation Army. Doing The Most Good." width="136" height="109" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" cellpadding="0" cellspacing="0" border="0" align="center">
              <tr>
                <!-- Social Media -->
               <!-- Facebook -->
               <td>
                  <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_fb.png" alt="Facebook" width="24" height="24" border="0" /></a>
                </td>
               <!-- Linkedin -->
                <td>
                  <a href="##CT315##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_linkedin.png" alt="LinkedIn" width="24" height="24" border="0" /></a>
                </td>
               <!-- Twitter -->
                <td>
                  <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_twitter.png" alt="Twitter" width="24" height="24" border="0" /></a>
                </td>
               <!-- Blog -->
                <td>
                  <a href="##CT321##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_blog.png" alt="Blog" width="25" height="25" border="0" /></a>
                </td>
               <!-- Flickr -->
                <td>
                  <a href="##CT318##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_flickr.png" alt="Flickr" width="24" height="24" border="0" /></a>
                </td>
               <!-- Foursquare -->
                <td>
                  <a href="##CT322##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_foursquare.png" alt="Foursquare" width="24" height="24" border="0" /></a>
                </td>
               <!-- Tumblr -->
                <td>
                  <a href="##CT323##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_tumblr.png" alt="Tumblr" width="24" height="24" border="0" /></a>
                </td>
               <!-- Wordpress -->
                <td>
                  <a href="##CT317##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_wordpress.png" alt="WordPress" width="24" height="24" border="0" /></a>
                </td>
               <!-- Youtube -->
                <td>
                  <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_youtube.png" alt="YouTube" width="24" height="24" border="0" /></a>
                </td>
               <!-- Instagram -->
                <td>
                  <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_instagram.png" alt="Instagram" width="24" height="24" border="0" /></a>
                </td>
               <!-- Vimeo -->
                <td>
                  <a href="##CT320##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_vimeo.png" alt="Vimeo" width="24" height="24" border="0" /></a>
                </td>
               <!-- Pinterest -->
                <td>
                  <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank"><img src="images/footer_pinterest.png" alt="Pinterest" width="24" height="24" border="0" /></a>
                </td>
                <!-- End of Social Media -->
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy footer-address ">
                  <strong>##CA30_OGE AddressAddress_Name__c##</strong><br/>
                  ##CA30_OGE AddressPrimary##, ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip##<br/>
                  ##CT15## | <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank">##CT17##</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="gift-fund" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy small">
                  <strong>Your gift will be used to fund programs in your local&nbsp;community.</strong>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy smaller">
                  &copy; {{job_year}} The Salvation Army. All rights reserved. <a href="##CT310##?utm_source=eappeal&utm_medium=email&utm_campaign=XXXXX-X_XXX0000" target="_blank">Privacy&nbsp;policy</a>.
                </td>
              </tr>
              <tr>
                <td class="copy smallest">
                  If you do not wish to receive future email updates from The&nbsp;Salvation&nbsp;Army, <a href="%%unsub_center_url%%" target="_blank">please&nbsp;unsubscribe</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
