.stats-bucket {
  .did-you-know {
    font-family: @font-family-sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #dc2c30;
    font-weight: bold;
  }

  .cents {
    font-family: @font-family-sans-serif;
    font-size: 32px;
    line-height: 28px;
    color: #395576;
    font-weight: bold;
  }

  .source {
    padding-top: 40px;
    font-family: @font-family-sans-serif;
    font-size: 9px;
    line-height: 28px;
    color: #4e4e4e;
    font-weight: normal;
  }
}

.directors-border {
  .copy {
    border-top: 3px solid @newsletter-director-border-color;
  }
}

.director {
  border-top: 0 solid transparent;
  
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .copy {
    span {
      font-weight: bold;
    }
  }

  .signature {
    padding-left: 0;
  }

  .sig {
    img {
      width: auto;
      max-width: 280px;
      height: auto;
    }

    .copy {
      padding-left: 0;
      font-size: @newsletter-director-font-size;
      line-height: @newsletter-director-line-height;
    }
  }
}

@media @content {
  *[class].mobile {
    .story {
      &.featured {
        .copy {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .story-header {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }

    .director {
      .spacing {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .stats-bucket {
      img {
        margin: 0 auto !important;
      }

      .did-you-know {
        padding-top: 20px !important;
      }

      .source {
        padding-top: 0 !important;
      }
    }
  }
}
