@content-width:             580px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@robotocondensed: 'Arial Narrow', sans-serif, 'Roboto Condensed';
@raleway: Arial, Helvetica, sans-serif, 'Raleway';
@sourcesanspro: Arial, Helvetica, sans-serif, 'Source Sans Pro';
@nunitosans: Arial, Helvetica, sans-serif, 'Nunito Sans';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 14px;
@line-height:               22px;
@text-color:                #515151;
@link-color:                #395676;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               40px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-width:                  240px;
@button-height:                 auto;
@button-bg:                     #dddddd;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #dc2c30;
@header-font-weight:            bold;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-link-font-weight:       bold;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Header Button styles
@header-button-width:              	200px;
@header-button-height:              @button-height;
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-radius:              3px;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@johnsonbox-bg:           					#fbf2e5;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#eeeeee;
@gift-array-font-family:      		@font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			#ffffff;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		180px;
@gift-array-btn-height:         	130px;
@gift-array-btn-bg:         			transparent;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

// eNewsletter story styles
@newsletter-story-block-width:          280px;
@newsletter-story-block-height:         250px;
@newsletter-story-header-font-family:		@font-family-serif;
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-header-color:   			#616161;

// eNewsletter specific styles
@newsletter-featured-header-font-family:      @font-family-serif;
@newsletter-featured-header-font-size:    22px;
@newsletter-featured-header-line-height:  28px;
@newsletter-featured-header-color:   			#dc2c30;
@newsletter-featured-header-font-weight:      bold;
@newsletter-featured-font-family:             @font-family-serif;
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-color:                   @text-color;
@newsletter-featured-link-color:              @link-color;
@newsletter-featured-link-font-weight:        bold;
@newsletter-featured-link-text-decoration:    none;
@newsletter-featured-border-color:   			#dc2c30;

// eNewsletter director styles
@newsletter-director-bg:                  #fdf7ee;
@newsletter-director-border-color:  			#cccccc;
@newsletter-director-header-font-family:  @font-family-sans-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #dc2c30;
@newsletter-director-header-font-weight:  bold;
@newsletter-director-font-family:         @font-family-serif;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;

@footer-bg:                     #ffffff;
@footer-color:                  #395576;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
@footer-font-weight:            normal;
