.view-online {
  .spacing {
    padding-bottom: 5px;
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    font-weight: @header-font-weight;
    color: @view-online-color;

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      font-weight: @header-link-font-weight;
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
    }
  }
}

// Header
.header {
  .spacing {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .donate {
    width: 25%;
  }
}

.heading-banner {
  td {
    font-size: 0;
    line-height: 0;
  }
}

.featured {
  border-bottom: 2px solid @newsletter-featured-border-color;
}

.footer {
  .copy {
    span {
      font-size: 14px;
      line-height: 17px;
      font-weight: bold;
    }
  }

  .copy.smaller {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .social-icons {
    .spacing {
      padding-right: 0;
    }

    .copy {
      padding-bottom: 8px;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .affiliates {
    .spacing {
      padding-left: 25px;
    }

    .copy {
      padding-bottom: 8px;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
        }
      }

      .copy {
        width: 65% !important;
        padding-left: 0 !important;
      }
    }

    .heading-banner {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .spacing {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }

    .footer {
      .logo {
        padding-right: 0 !important;

        img {
          height: auto !important;
        }
      }

      .social-icons, .affiliates,
      .social-versioned-icons {
        width: auto !important;
        padding: 0 !important;

        table {
          float: none !important;
          margin: 0 auto !important;

          .copy {
            text-align: center !important;
            font-size: 14px !important;
          }
        }

        .spacing {
          padding-right: 0 !important;
        }
      }

      .affiliates {
        .copy {
          padding-top: 30px !important;
        }

        .spacing {
          padding-left: 0 !important;
        }
      }
    }
  }
}
