.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    // padding-left: 40px;
    padding-right: 40px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: left;

    a {
      font-family: @johnsonbox-font-family;
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.heading {
      padding-left: 0;
      padding-right: 0;
      font-weight: bold;
      font-size: 23px;
      line-height: 32px;
      text-align: center;
    }

    &.number {
      width: 40px;
      padding-left: 40px;
      padding-right: 0;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: #ffd18e;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        a {
          font-size: @johnsonbox-font-size - 4 !important;
        }

        &.heading {
          font-size: 23px !important;
          line-height: 32px !important;
        }

        &.number {
          padding-left: 0 !important;
          padding-right: 5px !important;
        }
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
