.forward {
  width: 100%;
  background-color: #ffffff;

  .copy {
    color: #000000;
  }

  .twelve {
    width: 640px;
  }

  a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
}
