@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.six {
  width: 260px;
}
.button {
  float: none !important;
}
.button td {
  background-color: #E2294E;
  text-align: center;
  border-radius: 7px;
}
.button td:hover {
  border-color: #a81734;
  background-color: #a81734;
  color: #FFFFFF;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #E2294E;
  background-color: #E2294E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 31px;
  font-weight: 800;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 7px;
  mso-border-alt: 1px solid #E2294E;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
}
.header .button td {
  background-color: #E2294E;
}
.header .button td:hover {
  border-color: #E2294E;
  background-color: #E2294E;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: 1px solid #E2294E;
  color: #ffffff;
  background-color: #E2294E;
  font-weight: 700;
  font-size: 22px;
  mso-border-alt: 1px solid #E2294E;
}
.header .button a:hover {
  border-color: #E2294E;
  background-color: #E2294E;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #E2294E;
  background-color: #E2294E;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #E2294E;
  background-color: #E2294E;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4A4A4A;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #E2294E;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: transparent;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 25px;
}
.johnsonbox .copy {
  padding-top: 0;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 31px;
  line-height: 43px;
  color: #1D2129;
  font-weight: normal;
}
.johnsonbox .button {
  width: 320px;
}
.johnsonbox .button td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.johnsonbox .button a {
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, "Encode Sans";
  font-size: 31px;
  font-weight: 800;
}
.johnsonbox.top {
  background-color: #CEEEFF;
}
.johnsonbox.top .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox.top .copy {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif, "Encode Sans";
  font-size: 32px;
  line-height: 40px;
  color: #E2294E;
  font-weight: 800;
}
.johnsonbox.blue .spacing {
  padding-bottom: 0;
}
.johnsonbox.blue .donate {
  padding-bottom: 20px;
}
.johnsonbox.blue .donate.last {
  padding-bottom: 0;
}
.johnsonbox.blue .button td {
  background-color: #34569B;
}
.johnsonbox.blue .button a {
  background-color: #34569B;
  mso-border-alt: 1px solid #34569B;
  font-family: Arial, Helvetica, sans-serif, "Encode Sans";
  font-size: 32px;
  font-weight: 400;
}
.johnsonbox.blue .button .price1 {
  font-weight: 800;
}
.johnsonbox.blue .button .price2 {
  font-weight: 700;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #ffffff;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: auto;
}
.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #E2294E;
  border: 1px solid #E2294E;
  mso-border-alt: 1px solid #E2294E;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 10px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.header {
  background-color: #ffffff;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .view-donate .button {
  width: 175px;
}
.header .view-donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  background-color: #E2294E;
  border: 0 solid transparent;
  mso-border-alt: 0 solid transparent;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, "Maven Pro";
  font-size: 22px;
  font-weight: 700;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .connect .copy {
  font-size: 12px;
}
.footer .client-info .copy {
  font-size: 10px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 10px;
  line-height: 16px;
}
.footer .client-info .copy a.underline {
  text-decoration: underline;
}
.highlight {
  background-color: #F8E71C;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 22px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 10px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 220px !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 20px !important;
  }
  *[class].mobile .johnsonbox.top .copy {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 10px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 10px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-weight: bold !important;
  }
  *[class].mobile .footer .connect .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a.underline {
    text-decoration: underline !important;
  }
}
