.header {
  border-bottom: 4px solid #AE3032;
  width: 600px;

  .view-online {
    width: 100%;

    table {
      width: 450px;
    }

    .view {
      width: 150px;

      .copy {
        text-align: right;
      }
    }
  }

  .copy {
    padding-bottom: 20px;
  }
}

.footer {
  .spacing {
    padding-top: 40px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .view-online {
        table {
          width: 100% !important;
        }

        .copy {
          padding-bottom: 10px !important;
          text-align: center !important;
        }
      }

      .view-donate {
        width: 100% !important;

        .button {
          margin: 0 auto !important;
        }
      }

      img {
        margin: 0 auto !important;
      }
    }
  }
}
