.header {
  .button {
    td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.body-copy {
  &.list {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 0;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: auto;

      .social-icons {
        width: auto;
      }

      .affiliates {
        width: auto;

        .icons {
          td {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .story {
      .six {
        .copy {
          padding-left: 0 !important;
        }
      }
    }

    .highlighted {
      .copy {
        padding-left: 15px !important;
      }
      .cta {
        width: 95% !important;
        float: none !important;

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
