// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .mobile-view-donate {
    display: none;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;

      &.address {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.body-copy {
  span.highlight {
    background-color: #F8E71C;
  }
}

.list {
  width: 90%;

  .bullet {
    padding-right: 0;
  }
}

@media @content {
  *[class].mobile { 
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        &.copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }
  }
}
