?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section divider" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="left" class="spacing">

      <table align="left" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="spacing" align="left">

  <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td class="copy address" align="left">
        ##CT16## &bull; ##CA30_OGE AddressPrimary## &bull; ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip## &bull; ##CT15## &bull; <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">##CT17##</a><br/>
        If you do not wish to receive future email updates from ##CT16##, <a href="##CT311##" target="_blank">unsubscribe here</a>. &#169;&#8217;{{job_year}} ##CT16##. All rights reserved.
      </td>
    </tr>
  </table>

</td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
