.divider {
  table {
    width: 30%;
    height: 2px;
    background-color: #cccccc;

    td {
      font-size: 2px;
      line-height: 2px;
      color: #cccccc;
    }
  }
}

.footer {
  width: 100%;

  .copy.smaller {
    padding-bottom: 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {

  }
}
