@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 600px;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #5c5c5c;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #231f20;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #2238FA;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig table td {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig table td.copy {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig table td.divider {
  padding-bottom: 0;
  padding-top: 0;
}

.body {
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

/* Targetting Tablets */

/* Targeting Mobile */

.divider table {
  border-top: 1px solid #cccccc;
  width: 200px;
  height: 1px;
}

.divider table td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.footer .copy {
  padding-bottom: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #231f20;
}

.footer .copy a {
  font-size: 14px;
  color: #2238FA;
  font-weight: bold;
}

.footer .spacing {
  padding-top: 0;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  *[class].mobile .footer .copy a {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

@media only screen and (max-width: 600px) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  *[class].mobile .footer .copy a {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

@media only screen and (max-width: 480px) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  *[class].mobile .footer .copy a {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}
