.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-bottom: 40px;
  }

  .button {
    td {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  &.top {
    background-color: #0D2D53;

    .spacing {
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
