@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.six {
  width: 280px;
}
.four {
  width: 174px;
}
.three {
  width: 120px;
}
.button {
  float: none;
  width: 280px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #f3713e;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #f3713e;
  background-color: #f3713e;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #fff9ba;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #fa723a;
  font-weight: normal;
}
.header .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #fa723a;
  text-decoration: underline;
  font-weight: normal;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f3713e;
  border: #f3713e;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #f3713e;
  border-color: #f3713e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #fff9ba;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #ffae5e;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff9ba;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff9ba;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #9e1c20;
  font-weight: normal;
}
.preheader .copy {
  color: #fff9ba;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.gift-array {
  background-color: #ffffff;
}
.gift-array .spacing {
  padding-bottom: 0;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #f3713e;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .spacing {
  padding-bottom: 20px;
}
.gift-array .array .gift {
  width: 200px;
}
.gift-array .array .gift-cell {
  height: 93px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 90%;
  height: 93px;
  background-color: #fce9d6;
  border-radius: 5px;
}
.gift-array .array .button td {
  height: 93px;
  padding: 0;
  border-radius: 5px;
  background-color: #fce9d6;
  vertical-align: middle;
}
.gift-array .array .button td.copy {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 18px;
}
.gift-array .array .button td.price a {
  height: 93px;
  font-size: 33px;
  line-height: 93px;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 100%;
  background-color: #fce9d6;
  mso-border-alt: 1px solid #fce9d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #f3713e;
  border-radius: 5px;
}
.gift-array .array .active .button {
  background-color: #f3713e;
}
.gift-array .array .active .button td {
  background-color: #f3713e;
}
.gift-array .array .active .button table {
  height: 100%;
  vertical-align: middle;
  mso-border-alt: 1px solid #f3713e;
}
.gift-array .array .active .button table td {
  height: auto;
  background-color: #f3713e;
  border-bottom: 1px solid #f3713e;
}
.gift-array .array .active .button table a {
  height: auto;
  background-color: #f3713e;
  color: #ffffff;
  mso-border-alt: 1px solid #f3713e;
}
.gift-array .array .active .button table .copy {
  line-height: 15px;
}
.gift-array .array .active .button table .price a {
  line-height: 33px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar {
  background-color: #61aed1;
}
.sidebar .copy {
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
.sidebar .input-group {
  width: auto;
  margin: 0 auto;
}
.sidebar .six .copy {
  padding-bottom: 0;
  font-size: 21px;
  font-weight: normal;
}
.sidebar .six .input {
  width: 95%;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  border-collapse: separate;
  border-radius: 3px;
}
.sidebar .six .input td {
  border-collapse: separate;
  border-radius: 3px;
}
.sidebar .six .input .copy {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  color: #f3713e;
}
.solo-donate-button {
  background-color: #61aed1;
}
.solo-donate-button.bottom {
  background-color: #ffffff;
}
.solo-donate-button.bottom .button td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.solo-donate-button.bottom .button td a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.solo-donate-button.last .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.solo-donate-button.last .button td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.solo-donate-button.last .button td a {
  font-size: 20px;
}
.text-donate-button {
  background-color: #61aed1;
}
.text-donate-button .spacing {
  padding-top: 25px;
  padding-bottom: 35px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.text-donate-button .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #fa723a;
}
.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header .donate {
  width: 100%;
}
.header .button {
  max-width: 167px;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy .home-link {
  display: inline-block;
}
.footer .copy.smaller {
  line-height: 12px;
}
.footer .copy.smaller a {
  line-height: 12px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.body-copy .twelve {
  width: 590px;
}
.red-stripe {
  background-color: #cc0a1e;
}
.red-stripe .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}
.red-stripe .copy {
  font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro';
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 280px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 10px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #666666 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
    font-size: 25px !important;
    line-height: 29px !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button table {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button table td {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button table td.copy {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array .button table td.copy a {
    height: auto !important;
    font-size: 16px !important;
    line-height: 18px !important;
  }
  *[class].mobile .gift-array .array .button table td.price {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  *[class].mobile .gift-array .array .button table td.price a {
    height: auto !important;
    font-size: 22px !important;
    line-height: 22px !important;
  }
  *[class].mobile .gift-array .array .button table a {
    width: 90% !important;
    height: auto !important;
    font-size: 20px !important;
    line-height: 56px !important;
  }
  *[class].mobile .gift-array .array .button a {
    height: 56px !important;
    line-height: 56px !important;
  }
  *[class].mobile .gift-array .array .active .button td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  *[class].mobile .gift-array .array .active .button table td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .sidebar .six .copy {
    padding-top: 20px !important;
  }
  *[class].mobile .sidebar .six .input .copy {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 27px !important;
    line-height: 31px !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    max-width: 213px !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 12px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
}
