<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->


<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Filling in header code -->
{% for piece in chunks -%}

	{% if piece == "preheader" %}
		{% include section[piece] %}
	{% elif piece == "header with logo and donate button" %}
		{% include section[piece] %}
	{% elif piece == "header with logo and copy" %}
		{% include section[piece] %}
	{% elif piece == "header with copy and donate button " %}
		{% include section[piece] %}
	{% else %}
	{% endif %}

{%- endfor %}

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->


</td></tr></table> <!-- Body Wrapper Ends Here -->

<!-- Filling in footer -->

{% for piece in chunks -%}

	{% if piece == "footer" %}
		{% include section[piece] %}
	{% endif %}

{%- endfor %}

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</body>
</html>
