.footer {
  .big {
    padding-bottom: 30px;
    a {
      font-size: 15px;
      line-height: 28px;
      color: @link-color;
      font-weight: bold;
    }
  }

  .footer-address {
    .name {
      color: #363636;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
