@content-width:             560px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               28px;
@text-color:                #29261d;
@link-color:                #5365a0;
@link-decoration:           none;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Header Button styles
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@footer-bg:                     #ffffff;
@footer-color:                  #777777;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             left;
