.header {
	.donate {
		width: 15%;
	}
}

.johnsonbox {
	.donate {
		padding-top: 20px;
	}

	&.donate-button {
		.donate {
			padding-top: 0;

			.button {
				a {
					font-weight: normal;
				}
			}
		}
	}
}