.director {
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .spacing {
    padding-top: 0;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;

    span {
      font-family: @newsletter-director-header-font-family;
      font-size: @newsletter-director-header-font-size;
      line-height: @newsletter-director-header-line-height;
      color: @newsletter-director-header-color;
      font-weight: normal;
    }
  }

  .sig {
    .copy {
      padding-top: 20px;
      font-family: @font-family;
      font-size: @newsletter-director-font-size;
      line-height: @newsletter-director-line-height;
      color: @newsletter-director-color;
      font-weight: normal;
    }
  }
}
