.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 15px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 179px;

    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
    }
  }

  &.bottom {
    .button {
      width: 210px;
    }

    .twelve {
      width: 95%;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 179px !important; 

        a {
          font-size: @button-mobile-font-size !important;
        }
      }

      &.bottom {
        .button {
          width: 210px !important;
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
