.header {
  .button {
    border-bottom-width: 1px;
    border: 1px solid @header-button-border;
  }
}

.body-copy {
  .twelve {
    width: 580px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        td, a {
          width: @header-button-mobile-width !important;
        }
      }
    }
  }
}
