// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   @dark-blue;
@content-bg:                #ffffff;

@font-family:               @opensans;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 16px;
@line-height:               30px;
@text-color:                #000000;
@link-color:                #45719D;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  300px;
@button-height:                 auto;
@button-bg:                     #96251E;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 2px;
@button-font-family:            @font-family;
@button-font-size:              24px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Mobile button styles
@button-mobile-width:           @button-width - 50;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size - 2;

// Header Button styles
@header-button-width:             150px;
@header-button-height:            @button-height;
@header-button-bg:                #B5B22A;
@header-button-border:            #989622;
@header-button-radius:            1px;
@header-button-color:             #FFFFFF;
@header-button-font-family:       @font-family;
@header-button-font-size:         18px;
@header-button-text-decoration:   none;
@header-button-font-weight:       bold;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width - 25;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             @text-color;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #ffffff;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            bold;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size - 1;
@header-mobile-line-height:     @header-line-height - 1;

@johnsonbox-bg:                     @content-bg;
@johnsonbox-font-family:            @font-family-sans-serif;
@johnsonbox-font-size:              25px;
@johnsonbox-line-height:            37px;
@johnsonbox-color:                  #1B2D3A;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size ;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height ;

@gift-array-bg:         					#cccccc;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			@johnsonbox-color;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            200px;
@gift-array-btn-height:         	130px;
@gift-array-btn-bg:               #fcfcfc;
@gift-array-btn-color:            #ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        20px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @tan;
@footer-color:                  #725844;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3;
@footer-text-align:             center;
@footer-font-weight:            normal;
