.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.eight {
		height: 150px;

		td {
			height: 150px;
			vertical-align: bottom;
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.eight {
				height: auto !important;

				td {
					height: auto !important;
					padding-top: 30px !important;
				}
			}
		}
  }
}
