<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />

<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Eyebrow -->
      <table class="columns eyebrow" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->
            <table class="eight" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="left">
                  Lorem ipsum dolor sit amet, consectetur <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank">adipiscing elit.</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="three" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="right">
                  <a href="[% webview_url %]" target="_blank">View online</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <!-- Logo and Donate Button Combo -->
      <table class="columns logo-cta" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="middle">
            <![endif]-->
            <table class="seven logo" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="left">
                  <a href="##CT17##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="http://cdn.grizzard.com/Digital_Assets/Pasadena/FB/Logos/Black/[CI26].png" alt="##CT16##" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="middle">
            <![endif]-->
            <table class="four donate-button" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="right" class="spacing">
                  <!-- Start CTA -->
                  <table class="button" align="right" border="0">
                    <tr>
                      <td>
                        <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank">HELP NOW</a>
                      </td>
                    </tr>
                  </table>
                  <!-- End CTA-->
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            Having trouble viewing this email? <a href="[% webview_url %]" target="_blank">View online</a>
          </td>
        </tr>
        <tr>
          <td class="copy">
            To prevent mailbox filters from deleting mailings from ##CT16##, add <a href="mailto:##CT350##" target="_blank">##CT350##</a> to your address book.
          </td>
        </tr>
        <tr>
          <td class="copy">
            If you would prefer not to receive future emails from ##CT16##, please <a href="[% unsub_url %]" target="_blank">click here</a>.
          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer affiliates -->
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="http://cdn.grizzard.com/Digital_Assets/Pasadena/FB/Affiliate_Logos/Black/[CI172].png" alt="affiliates" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="http://cdn.grizzard.com/emails/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
