.side-btn {
  background-color: #efefef;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .button {
    width: 100%;

    a {
      background-color: @button-bg;
      color: @button-color;
      font-size: @button-font-size;
    }
  }
}

.who-we-are {
  background-color: @content-bg;

  .spacing {
    padding-top: 30px;
  }

  .columns {
    background-color: @whoweare-background-color;
  }

  .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    color: @whoweare-text-color;
    font-family: @whoweare-font-family;
    font-size: @whoweare-font-size;
    line-height: @whoweare-line-height;
    font-weight: normal;
  }
}

.social-connect {
  .social-icons {
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .copy {
    padding-right: 10px;
    font-weight: bold;
    line-height: 29px;
  }
}

.body-copy,
.johnsonbox {
  .nine {
    margin: 0 auto;
    width: 420px;
  }
}



// Mobile Styles
@media @content {
  *[class].mobile {
    .side-btn {
      .copy {
        padding-bottom: 10px !important;
      }
      .button {
        width: 80% !important;
      }
    }

    .who-we-are {
      .copy {
        font-size: @whoweare-font-size !important;
        line-height: @whoweare-line-height !important;
      }

      .columns {
        .nine {
          width: 90% !important;
        }
      }
    }

    .social-connect {
      .social {
        table {
          width: 100% !important;

          &.social-icons {
            width: auto !important;
          }
        }
      }
      .social-icons {
        float: none !important;
        margin: 0 auto !important;

        .first {
          padding-left: 0 !important;
        }
      }

      .copy {
        text-align: center !important;
        padding-right: 0 !important;
        padding-bottom: 10px !important;
      }
    }

    .johnsonbox, .side-btn {
      .button {
        width: 160px !important;
        float: none !important;
        margin: 0 auto !important;
      }
    }
  }
}
