table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.body {
  background-color: @body-bg;
}

.preheader {
  .copy {
    color: @body-bg;
    font-size: 0px;
    line-height: 0px;
  }
}

// Header
.header {
  background-color: @body-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns {
    width: @content-width;
  }

  .eyebrow {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
  }

  .copy a {
    color: @header-link-color;
    text-decoration: @header-link-text-decoration;
    font-weight: @header-link-font-weight;
  }

  .logo-cta {
    .spacing {
      padding-bottom: 0;
    }
  }

  .donate-button {
    height: 100%;
    background-color: @header-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 0;
      mso-padding-top-alt: 20px;
    }
  }

  .button {
    width: 100%;

    a {
      padding: 10px 0;
      mso-border-alt: 1px solid @header-button-bg;
      font-weight: @header-button-font-weight;
      color: @header-button-color;
    }
  }
}

.footer {
  background-color: @footer-bg;
  text-align: @footer-text-align;

  .copy {
    padding-bottom: 15px;
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
  }

  .copy a {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-link-color;
    text-align: @footer-text-align;
    text-decoration: @footer-text-decoration;
  }

  // Affiliate Icon Styles
  .affiliates {
    td {
      padding: 30px 10px 0;
    }
  }
}

td.hide {
  min-width: @content-width;

  img {
    width: @content-width;
    min-width: @content-width;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .header {
      .eyebrow {
        .copy {
          padding-left: 0 !important;
          padding-right: 0 !important;
          text-align: center !important;
        }
      }

      .logo-cta {
        .spacing {
          height: auto !important;
        }

        .logo {
          width: 100% !important;

          img {
            display: block !important;
            margin: 0 auto !important;
          }
        }

        .button {
          width: 160px !important;
          float: none !important;
          margin: 0 auto !important;
        }
      }

    }
  }
}
