body {
  background-color: transparent;
}

// Header
.header {
  width: 100%;
  border-bottom: 10px solid #EDB14C;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns {
    width: @content-width;
  }

  .button {
    width: 175px;
  }
}

// Footer
.footer {
  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .connect {
    .copy {
      color: #C5BEAC;
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }
}

.border-wrap {
  border: 5px solid #EDB14C;
}

.johnsonbox {
  .spacing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.body-copy {
  .highlight {
    background-color: #F8E71C;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        .copy {
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .connect {
        .copy {
          color: #C5BEAC !important;
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
}
