@content-width:             581px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #6E6965;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               25px;
@text-color:                #383533;
@link-color:                #D9A245;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

@header-bg:											#ffffff;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #706A66;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

// Mobile Johnsonbox styles
@header-mobile-font-size:    		@header-font-size - 1;
@header-mobile-line-height:     @header-line-height - 1;

// Button styles
@button-width:                  271px;
@button-height:                 auto;
@button-bg:                     #EDB14C;
@button-border:                 @button-bg;
@button-color:                  #000000;
@button-radius:                 31px;
@button-font-family:            @font-family;
@button-font-size:              24px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Mobile button styles
@button-mobile-width:           271px;
@button-mobile-height:          auto;
@button-mobile-font-size:    		24px;

// Header Button styles
@header-button-width:              	175px;
@header-button-height:              @button-height;
@header-button-bg:              		#EDB14C;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@preheader-color:                   #ffffff;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					24px;
@johnsonbox-line-height:  					27px;
@johnsonbox-color:        					#EDB14C;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@font-family;
@gift-array-btn-width:         		140px;
@gift-array-btn-bg:         			#ffffff;
@gift-array-btn-color:      			#595551;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#595551;
@gift-array-price-font-size:      36px;
@gift-array-price-line-height:    41px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #C5BEAC;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
@footer-link-font-weight:       bold;
