.eyebrow {
  .copy {
    a {
      font-weight: @header-font-weight;
    }
  }
}

.donate {
  .button {
    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      letter-spacing: 1.5px;
    }
  }
}

.header {
  .logo-donate {
    width: 100%;
  }

  .logo-donate-wrap {
    width: 100%;
  }

  .logo {
    width: 55%;
    height: 61px;
  }

  .donate {
    width: 45%;
    height: 61px;
  }

  .button {
    td {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.footer {
  .social {
    border-bottom: 1px solid #4A4A4A;

    .spacing {
      padding-bottom: 30px;
    }
  }

  .social-icons {
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;

        img {
          width: auto !important;
          float: left !important;
        }
      }

      .donate {
        width: 50% !important;

        .button {
          width: @header-button-mobile-width !important;
        }
      }
    }
  }
}
