@media @content {
  *[class].mobile {

    .header {
      .donate {
        width: 40% !important;
      }

      .logo {
        width: 60% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

  }
}

@media @tablet {
  *[class].mobile {

    .header {
      .donate {
        width: 40% !important;
      }

      .logo {
        width: 60% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

  }
}

@media @phone {
  *[class].mobile {

    .header {
      .donate {
        width: 40% !important;
      }

      .logo {
        width:60% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

  }
}
