.header {
  .button {
    border: 1px solid @button-border;
    border-bottom: 1px solid @button-border;

    td {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.body-copy {
  .twelve {
    width: 565px;
  }
}

.footer {
  .address {
    color: #66503e;

    a {
      color: #66503e;
    }
  }

  .social-icons, .affiliates {
    .copy {
      color: #66503e;
    }
  }

  .social-affiliates {
    .spacing {
      padding-top: 20px;
    }
  }

  .copy {
    &.smaller {
      padding-top: 0;
    }
  }
}

.johnsonbox {
  &.green {
    background-color: #acaf31;

    .copy {
      font-size: 32px;
      line-height: 41px;
      color: #ffffff;
      font-weight: bold;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
