.body-spacing {
  padding-top: 20px;
}

// Header
.header {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }

  .mobile-view-donate {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }

  .eleven {
    width: 575px;
  }
}

.body-copy {
  .ten {
    width: 480px;
  }

  span.linkred {
    color: @link-color;
    font-weight: bold;
  }

  .list {
    .bullet {
      padding-right: 10px;
      vertical-align: top;
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .copy {
      padding-top: 5px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;
        padding-bottom: 15px !important;

        &.copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .body-spacing {
      padding-top: 0 !important;
    }
  }
}
