@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.eleven {
  width: 492px;
}
.preheader .copy {
  color: #EDEDED;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #EDEDED;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4A4A4A;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #EDEDED;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #EDEDED;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #935095;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #EDEDED;
}
.preheader .copy {
  color: #EDEDED;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #EDEDED;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.header {
  background-color: #EDEDED;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .section {
    width: 100% !important;
  }
}
