.sidebar {
  .spacing {
    padding-bottom: 0;
  }

  .gift-array {
    a {
      padding: 20px 0;
      float: right;
      width: 90%;
      background-color: #ec842b;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: normal;
      border-radius: 8px;
      color: #4b310d;
    }

    td {
      background-color: transparent;
    }

    span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 54px;
      line-height: 54px;
      font-weight: bold;
      color: #ffffff;
    }

    .button {
      td {
        padding-top: 8px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .gift-array {
        width: 100% !important;

        .button {
          width: 100% !important;

          a {
            width: 100% !important;

            span {
              font-size: 20px !important;
              line-height: 23px !important;
            }
          }

          br {
            display: none !important;
          }

          td {
            padding-bottom: 10px !important;
            padding-top: 0 !important;
          }
        }
      }
    }
  }
}
