.button {
  height: auto;
  width: 280px;

  td {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;

    a {
      height: auto;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.header {
  .button {
    width: 130px;
    max-width: 130px;
    height: auto;

    td {
      height: auto;
      width: 130px;
      max-width: 130px;

      a {
        height: auto;
        width: 130px;
        max-width: 130px;
      }
    }
  }
}

.body-copy {
  .underline {
    text-decoration: underline;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 130px !important;
        height: auto !important;
      }
    }

    .footer {
      .address {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
