.preheader {
  font-size: 0;
  line-height: 0;
  height: 0;
}

.body-copy {
  .copy {
    a {
      font-size: @font-size;
      text-decoration: @link-decoration;
      color: @teal;
    }
  }
}

.share {
  .spacing {
    padding-right: 30px;
    padding-bottom: 0;
  }

  .share-icons {
    td {
      padding: 0 5px;
    }

    .copy {
      padding-left: 0;
      padding-right: 5px;
      font-size: 12px;
      line-height: 17px;
      color: #8d7c54;
    }
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 60px;
  }
  .twelve {
    td {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .copy {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.bottom-donate {
  background-color: #eeebdd;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-top: 5px;
    font-size: 19px;
    line-height: 23px;
    color: #6a644a;
  }

  .button {
    a {
      padding: 15px 10px;
      background-color: #e4973d;
      border-radius: 0;
      font-size: 16px;
      line-height: 16px;
      font-weight: normal;
      color: #ffffff;
    }

    span {
      font-size: 25px;
      color: #f8ddb6;
    }
  }
}

.footer {
  .spacing {
    padding-top: 30px;
  }

  .view {
    a {
      color: @footer-color;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .spacing {
        padding-top: 30px !important;
      }
    }

    .body-copy {
      .readmore {
        padding-bottom: 0 !important;
      }
    }

    .bottom-donate {
      .copy {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        text-align: center !important;
      }

      .button {
        padding: 8px 0 !important;
        width: 50% !important;
      }
    }
  }
}

@media @tablet {

  *[class].mobile {
    .footer {
      .spacing {
        padding-top: 30px !important;
      }
    }

    .bottom-donate {
      .copy {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        text-align: center !important;
      }

      .button {
        padding: 8px 0 !important;
        width: 50% !important;
      }
    }
  }
}

@media @phone {

  *[class].mobile {
    .footer {
      .spacing {
        padding-top: 30px !important;
      }
    }

    .bottom-donate {
      .copy {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        text-align: center !important;
      }

      .button {
        padding: 8px 0 !important;
        width: 50% !important;
      }
    }
  }
}
