.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.eight {
		td {
			padding-top: 30px;
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.eight {
				img {
					margin: 0 auto !important;
				}
			}
		}
  }
}
