@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 600px;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: left;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #273777;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #9af1f0;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #00a6a0;
  color: #ffffff;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  background-color: #ffffff;
}

.outlook-array td {
  padding-left: 0;
  padding-right: 0;
}

.outlook-array table td {
  background-color: #9af1f0;
  padding: 0;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
