@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.three {
  width: 120px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #2955B1;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 21px;
  font-weight: 600;
  color: #1356b8;
  text-decoration: none;
  border-radius: 4px;
}
.footer {
  background-color: #02a9e0;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F9F9F9;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F9F9F9;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 18px;
  line-height: 25px;
  color: #4a4a4a;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  text-decoration: underline;
  color: #004294;
  font-weight: bold;
}
.preheader .copy {
  color: #F9F9F9;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  text-align: left;
}
.johnsonbox .spacing {
  padding-top: 30px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  font-weight: normal;
}
.johnsonbox.text-donate-button .copy {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 22px;
  line-height: 35px;
  color: #1356b8;
  font-weight: 600;
}
.johnsonbox.text-donate-button .copy.dates {
  padding-top: 0;
  padding-bottom: 15px;
  font-family: Georgia, Times, serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: normal;
}
.johnsonbox.blue {
  background-color: #d2f5ff;
}
.johnsonbox.blue em {
  font-size: 15px;
  line-height: 20px;
}
.johnsonbox.blue .title {
  font-family: Arial, Helvetica, sans-serif, 'Roboto';
  font-size: 25px;
  line-height: 30px;
  color: #004294;
  font-weight: 700;
}
.johnsonbox.blue .bullet {
  padding-right: 10px;
}
.johnsonbox.solo-donate-button .spacing {
  padding-top: 10px;
  padding-bottom: 30px;
}
.johnsonbox table.button {
  width: 215px;
  height: auto;
  border-radius: 4px;
  border-collapse: separate;
}
.johnsonbox table.button td {
  height: auto;
  border: 1px solid #2955B1;
  border-radius: 4px;
  border-collapse: separate;
  padding: 5px 0;
}
.johnsonbox table.button a {
  height: auto;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 21px;
  line-height: 21px;
  color: #1356b8;
  font-weight: 600;
}
.footer {
  border-top: 3px solid #cccccc;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.section {
  background-color: #ffffff;
}
.social-banner {
  width: 100%;
  background-color: #08AEE3;
}
.social-banner .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-banner .columns {
  width: 650px;
}
.social-banner .social-icons {
  margin: 0 auto;
  width: auto;
}
.social-banner .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.social-banner .social-icons td.last {
  padding-right: 0;
}
.header-logo {
  background-color: #F9F9F9;
  width: 100%;
}
.header-logo .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header-logo .grey-dots-table {
  width: 100%;
  height: 12px;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/11/35853_Conference/Base/Nonpaid/images/grey-dots.png');
  background-repeat: repeat-x;
  background-size: 14px 12px;
  background-position: top center;
}
.header-logo .grey-dots-table .colored-dots {
  width: 642px;
}
.header-logo .grey-dots-table .colored-dots td {
  font-size: 12px;
  line-height: 12px;
}
.header-logo .grey-dots-table .colored-dots .show-mobile {
  display: none;
  height: 0;
  font-size: 0;
  line-height: 0;
  max-height: 0;
  overflow: hidden;
}
.header-logo .grey-dots-table .colored-dots .hide-mobile {
  display: block;
  margin: 0 auto;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
}
.main-content.dots-bg {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.oneandall.com/emails/rm/2018/11/35853_Conference/Base/Nonpaid/images/big-grey-dots.png');
  background-repeat: repeat;
  background-size: 28px 28px;
  background-position: top center;
  background-color: #f9f9f9;
}
.section.footer {
  background-color: #02a9e0;
  width: 100%;
  border-top: 0 solid transparent;
}
.section.footer .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}
.section.footer .logo {
  padding-bottom: 20px;
}
td.hide {
  min-width: 660px;
}
td.hide img {
  width: 660px;
  min-width: 660px;
}
.overall-spacing {
  padding-top: 45px;
  padding-bottom: 45px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 21px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox.text-donate-button .copy {
    line-height: 30px !important;
  }
  *[class].mobile .social-banner .columns {
    width: 95% !important;
  }
  *[class].mobile .social-banner .social-icons {
    width: auto !important;
  }
  *[class].mobile .social-banner .social-icons .first {
    padding-left: 0 !important;
  }
  *[class].mobile .social-banner .three {
    width: 50% !important;
  }
  *[class].mobile .header-logo .grey-dots-table {
    height: 8px !important;
    background-size: 9px 8px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots {
    width: 100% !important;
    height: 8px !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots .show-mobile {
    display: block !important;
    max-height: 12px !important;
    overflow: visible !important;
  }
  *[class].mobile .header-logo .grey-dots-table .colored-dots .hide-mobile {
    display: none !important;
  }
  *[class].mobile .main-content.dots-bg {
    background-size: 14px 14px !important;
  }
  *[class].mobile .footer .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .footer .logo img {
    width: 200px !important;
    height: auto !important;
  }
}
