// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 100%;
  }

  .logo-donate {
    width: auto;

    .logo {
      width: 88px;
    }

    .spacing {
      padding-top: 20px;
    }
  }
}

.grey {
  background-color: #EFEFEF;
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
