.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 0;
    padding-right: 15px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      font-family: @johnsonbox-font-family;
      font-size: @johnsonbox-font-size;
      line-height: @johnsonbox-line-height;
      color: @johnsonbox-color;
      font-weight: @johnsonbox-font-weight;
      color: @johnsonbox-color;
    }
  }

  .columns {
    margin: 0 auto;
    width: auto;

    td {
      width: auto;
    }

    img {
      display: inline-block;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .columns {
        width: auto !important;
      }

      .copy {
        font-size: @johnsonbox-font-size - 5 !important;
        line-height: @johnsonbox-line-height - 5 !important;
      }
    }
  }
}
