.sidebar {
  .button {
    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
