.stats-bucket {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .did-you-know {
    font-family: @font-family-sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #dc2c30;
    font-weight: bold;
  }

  .cents {
    font-family: @font-family-sans-serif;
    font-size: 32px;
    line-height: 28px;
    color: #395576;
    font-weight: bold;
  }

  .source {
    padding-top: 40px;
    font-family: @font-family-sans-serif;
    font-size: 9px;
    line-height: 28px;
    color: #4e4e4e;
    font-weight: normal;
  }
}

.story {
  a {
    color: @link-color;
  }
  .copy {
    padding-left: 25px;
  }
}

.featured {
  border-bottom: 2px solid @newsletter-featured-border-color;

  .story-header {
    padding-top: 20px;
  }
}

.donate-button {
  border-top: 3px solid #DC2C30;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.directors-border {
  .copy {
    border-top: 3px solid #DC2C30;
  }
}

.director {
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .copy {
    span {
      font-weight: bold;
    }
  }

  .signature {
    padding-left: 0;
  }

  .sig {
    img {
      width: auto;
      height: auto;
    }

    .copy {
      padding-left: 0;
      font-size: @newsletter-director-font-size;
      line-height: @newsletter-director-line-height;
    }
  }
}

.view-online {
  .columns {
    width: 100%;
  }
}

.header {
  .columns {
    width: 100%;
  }

  .copy {
    span {
      color: #4e4e4e;
    }
  }

  .button {
    width: 105px;
    height: auto;

    td {
      width: 105px;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      width: 100%;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.footer {
  .copy {
    a {
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .story {
      .copy {
        padding-left: 0 !important;
      }

      &.featured {
        .copy {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }

        .story-header {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }
    }

    .director {
      .spacing {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .stats-bucket {
      img {
        margin: 0 auto !important;
      }

      .copy {
        padding-top: 20px !important;

        &.source {
          padding-top: 0 !important;
        }
      }

      .did-you-know {
        padding-top: 20px !important;
      }
    }

    .header {
      .button {
        width: 105px !important;
        height: auto !important;

        td {
          width: 105px !important;
          height: auto !important;
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }

        a {
          width: 100%;
          height: auto;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .footer {
      .copy {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
