@content-width:             580px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 14px;
@line-height:               22px;
@text-color:                #515151;
@link-color:                #395676;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #dc2c30;
@button-border:                 @button-bg;
@button-color:                  #fffefe;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		@button-bg;
@header-button-border:          		@header-button-bg;
@header-button-color:           		@button-color;
@header-button-font-size:       		14px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;
@header-button-hover-bg:     		    transparent;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              13px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #dc2c30;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:           					#fbf2e5;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#eeeeee;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			transparent;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;
@newsletter-story-header-color:   			#515151;
@newsletter-story-header-font-family:		@font-family;

// eNewsletter specific styles
@newsletter-featured-font-family:         @font-family;
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-header-font-size:    22px;
@newsletter-featured-header-line-height:  28px;
@newsletter-featured-header-color:   			#dc2c30;
@newsletter-featured-border-color:   			#dc2c30;

// eNewsletter director styles
@newsletter-director-bg:                  #fdf7ee;
@newsletter-director-font-family:         @font-family;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #dc2c30;
@newsletter-director-border-color:  			#cccccc;

@footer-bg:                     #ffffff;
@footer-color:                  #395576;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
