@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.seven {
  width: 334px;
}
.five {
  width: 227px;
}
.button {
  float: none;
  width: 237px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #F8910A;
  text-align: center;
  border-radius: 7px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #F8910A;
  background-color: #F8910A;
  font-family: Arial, Helvetica, sans-serif, 'Poppins';
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 7px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
  font-weight: bold;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #19C7E3;
  border: #19C7E3;
  width: 175px;
  height: auto;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #19C7E3;
  border-color: #19C7E3;
  font-family: Arial, Helvetica, sans-serif, 'Poppins';
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
}
.footer {
  background-color: #EBF8FC;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0F47B8;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.sidebar.hero .columns {
  width: 640px;
}
.sidebar.hero .seven {
  width: 358px;
  height: 362px;
  background-color: #19C7E3;
}
.sidebar.hero .seven .text {
  width: 90%;
  border: 1px solid #19C7E3;
  height: auto;
  vertical-align: middle;
}
.sidebar.hero .five {
  width: 282px;
  height: 362px;
}
.sidebar.hero .copy {
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif, 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.sidebar.hero .copy strong {
  font-size: 33px;
  line-height: 36px;
}
.sidebar.hero .hero-graphic {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar.hero .donate {
  border: 1px solid #19C7E3;
  border-bottom: 1px solid #19C7E3;
}
.sidebar.hero .donate .button {
  border: 1px solid #19C7E3;
  border-bottom: 1px solid #19C7E3;
}
.sidebar.hero .donate .button a {
  font-size: 25px;
}
.sidebar.double-btn .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.sidebar.double-btn .ten {
  width: 510px;
}
.sidebar.double-btn .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Poppins';
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
}
.header .copy a {
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
}
.header .mobile-view-donate {
  display: none;
  font-size: 0;
  line-height: 0;
}
.header .mobile-view-donate a {
  display: none;
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .view-donate .button td {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0;
}
.body-copy .spacing {
  padding-top: 20px;
}
.body-copy .highlight {
  background-color: #F6E942;
}
.body-copy .ten {
  width: 510px;
}
.footer {
  width: 100%;
}
.footer table,
.footer td {
  mso-line-height-rule: exactly;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .seven,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 237px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .sidebar.hero .five {
    display: none !important;
  }
  *[class].mobile .sidebar.hero .seven .text {
    width: 90% !important;
  }
  *[class].mobile .sidebar.hero .columns {
    width: 100% !important;
  }
  *[class].mobile .sidebar.double-btn .spacing {
    padding-top: 0 !important;
    padding-bottom: 30px !important;
  }
  *[class].mobile .sidebar.double-btn .five {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .sidebar.double-btn .donate {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: auto !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .mobile-view-donate.copy {
    text-align: center !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate.copy a {
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
}
