/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.copy {
  span {
    color: #f8893a;
    font-weight: bold;
  }
}

.footer-logo {
  td {
    padding-right: 0 !important;
    padding-top: 20px;
  }
}

.affiliates {
  td {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
  }
}

@media @content {
  *[class].mobile {
    .footer-logo {
      td {
        padding-bottom: 0 !important;
      }
    }
  }
}
