.footer-logo {
  td {
    padding-right: 0 !important;
  }
}

.footer-donate {
  padding-top: 20px;
}

.header {
  .copy {
    font-family: @font-family;
  }
}

.link {
  padding-top: 50px;

  a {
    color: @text-color;
    font-weight: normal;
    text-decoration: none;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .donate {
        width: 35% !important;
      }
      .copy {
        width: 65% !important;
        display: block !important;
        padding-right: 15px !important;
        padding-left: 0 !important;
      }
    }
    .footer {
      .spacing {
        padding-top: 0 !important;
      }
      .footer-donate {
        padding-top: 0 !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .header {
      .donate {
        width: 35% !important;
      }
      .copy {
        width: 65% !important;
        display: block !important;
        padding-right: 15px !important;
        padding-left: 0 !important;
      }
    }
    .footer {
      .spacing {
        padding-top: 0 !important;
      }
      .footer-donate {
        padding-top: 0 !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .header {
      .donate {
        width: 35% !important;
      }
      .copy {
        width: 65% !important;
        display: block !important;
        padding-right: 15px !important;
        padding-left: 0 !important;
      }
    }
    .footer {
      .spacing {
        padding-top: 0 !important;
      }
      .footer-donate {
        padding-top: 0 !important;
      }
    }
  }
}
