// Header
.header {
  .spacing {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .logo {
    img {
      width: auto;
      height: auto;
    }
  }
}

.footer{
  .spacing {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  table .spacing {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .copy-spacer {
    height: 10px;
    font-size: 10px;
    line-height: 10px;
  }

  .address {
    .copy {
      padding-left: 15px;
      text-align: left;
    }
  }

  .unsubscribe {
    .copy {
      padding-left: 50px;
      text-align: right;
    }
  }

  .social-icons {
    td, td.last {
      padding: 10px 10px 0;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .columns {
        width: 90% !important;
      }
      .logo {
        padding-left: 20px !important;
      }
    }

    .footer {
      img {
        width: auto !important;
        height: auto !important;
      }

      table .spacing {
        padding-bottom: 20px !important;
      }

      .logo {
        img {
          margin: 0 auto !important;
        }
      }

      .social-icons {
        float: none !important;
        margin: 0 auto !important;

        .last {
          padding: 10px 0 0 10px !important;
        }
      }

      .address {
        border-right: 0px solid transparent !important;

        .copy {
          padding-left: 0 !important;
          padding-bottom: 20px !important;
          text-align: center !important;
        }
      }

      .unsubscribe {
        .copy {
          padding-left: 0 !important;
          text-align: center !important;
        }
      }
    }
  }
}
