.header {
  .columns {
    width: 583px;
  }

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .donate {
    width: 50%;

    .copy {
      font-size: 16px;
      line-height: 28px;
      color: #625d54;
    }
  }
}

.story {
  .copy {
    padding-left: 35px;
  }
}

.section {
  width: 580px;
}

.hero,
.featured {
  width: @content-width;
}

.red,
.yellow,
.blue {
  width: 270px;
  height: 280px;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.red {
  background-color: #faeaeb;
}

.yellow {
  background-color: #f9f4ed;
}

.blue {
  background-color: #e5eaef;
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 50px;
  }

  .six {
    .spacing {
      padding: 0;
      padding-left: 30px;
    }
  }

  .social-icons {
    width: auto;

    td {
      padding-top: 5px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .copy {
    padding-top: 0;
    padding-bottom: 0;
  }
}


@media @content {
  *[class].mobile {
    .red,
    .yellow,
    .blue {
      height: auto !important;

      .spacing {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }

    .footer {
      .spacing {
        padding-top: 20px !important;
      }

      .six {
        .spacing {
          padding-left: 0 !important;;
        }

        img {
          margin: 0 auto !important;
        }

        table {
          width: 100% !important;
        }

        .social-icons {
          width: auto !important;
        }
      }

      .social-icons {
        width: auto;

        td {
          padding-top: 5px;
          padding-left: 2px;
          padding-right: 2px;
        }
      }

      .copy {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
