/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    table {
      width: @gift-array-btn-width;

      td {
        padding-bottom: 20px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;
      }

      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .copy {
        padding-bottom: 0 !important;
        font-size: @gift-array-btn-font-size - 4 !important;
        line-height: @gift-array-btn-line-height - 4 !important;
      }

      .array {
        table {
          td {
            padding-top: 0 !important;
            padding-bottom: 10px !important;
          }
        }
      }
    }
  }
}
