.body-copy {
  .twelve {
    width: 590px;
  }

  strong {
    color: #9e1c20;
  }

  .smaller {
    font-size: 15px;
    line-height: 20px;
  }
}

.red-stripe {
  background-color: #cc0a1e;

  .spacing {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .copy {
    font-family: @sourcesanspro;
    font-size: 26px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
  }
}

@media @content {
  *[class].mobile {

  }
}
