.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.signature {
		padding-top: 5px;
		padding-bottom: 5px;

		table {
			width: auto;

			td {
				padding-right: 10px;
			}
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.signature {
				table {
					width: auto !important;

					td {
						padding-right: 10px !important;
					}
				}
			}
		}
  }
}
