.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .spacing {
      padding-top: 36px;
      padding-bottom: 30px;
    }

    .copy {
      font-family: @font-family;
      font-size: 18px;
      line-height: 24px;
    }

    .heading {
      padding-bottom: 5px;
      font-family: @font-family-serif;
      font-size: 28px;
      line-height: 34px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.top {
        .copy {
          font-size: 16px !important;
          line-height: 22px !important;
        }

        .heading {
          font-size: 23px !important;
          line-height: 29px !important;
        }
      }
    }
  }
}
