td.spacing {
  padding-bottom: 20px;
}

.header {
  .donate {
    .button {
      width: 70%;
    }
    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.sidebar {
  .spacing {
    padding-bottom: 0 !important;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo,
      .donate {
        width: 50% !important;
      }
    }
  }
}
