.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    strong {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .button {
    td {
      padding: 12px 0;
    }

    a {
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }
    a {
      padding: 0;
    }
  }
}

.tax-portal {
  background-color: #fff9ba;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.solo-button {
    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  &.heading {
    .spacing {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  .copy {
    padding-left: 10px;
    padding-bottom: 0;
    font-weight: bold;
    color: #666666;
    font-size: 20px;

    &.heading {
      padding-bottom: 15px;
      font-size: 24px;
      color: #007c8f;
    }
  }

  .input {
    background-color: #ffffff;

    .copy {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
  }

  .donate {
    padding-top: 20px;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      .ten {
        width: 90% !important;
      }
    }

    .tax-portal {
      .copy {
        padding-left: 0 !important;
        padding-bottom: 5px !important;
        padding-top: 10px !important;
        text-align: center !important;

        &.heading {
          padding-bottom: 5px !important;
        }
      }

      .input {
        table {
          width: 100% !important;
        }
        .copy {
          text-align: center !important;
        }
      }
    }
  }
}
