.sidebar {
  .spacing {
    padding-top: 0;
  }
  .copy {
    span {
      color: @link-color;
      font-weight: bold;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      table {
        td {
          padding-bottom: 10px !important;
        }
      }

      .spacing {
        padding-bottom: 0 !important;
      }
    }
  }
}
