// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.body-copy {
  img {
    display: inline-block;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

a.black {
  color: @text-color;
}

@media @content {
  *[class].mobile {
    
  }
}
