.body-copy {
  .spacing {
    padding-top: 0;
  }

  .sig {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .copy.address {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
