/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.grey {
  background-color: #f7f7f7;

  span {
    color: @link-color;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.bottom {
  .copy {
    color: #000000;
    font-size: 28px;
    line-height: 38px;
  }
}

.footer {
  .columns {
    width: 580px;
  }
}
