/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.header {
  .donate {
    .copy {
      padding-right: 15px;
      padding-bottom: 5px;
    }
  }
}

.body-copy {
  .copy {
    padding-bottom: 15px;
  }

  .header {
    color: #ec1c23;
    font-weight: bold;
    font-size: 31px;
    line-height: 40px;
  }
}

.footer {
  td.footer-donate {
    padding-top: 0 !important;
  }

  .extra {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;

    span {
      text-decoration: underline;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      width: 95% !important;

      .copy {
        display: block !important;
      }

      .donate,
      .logo {
        width: 50% !important;
      }
    }

    .footer {
      .extra {
        padding-left: 5px !important;
        padding-right: 5px !important; 
      }
    }
  }
}
