table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.social-banner {
  width: 100%;
  background-color:#08AEE3;

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .columns {
    width: 650px;
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;

      &.last {
        padding-right: 0;
      }
    }
  }
}

.header {
  .columns {
    width: 100%;
  }
}

.header-logo {
  width: 100%;

  .spacing {
    padding-top: 30px;
  }

  .logo {
    width: @content-width;

    td {
      padding-bottom: 10px;
    }
  }

  .grey-dots-table {
    width: 100%;
    height: 23px;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/05/34127_MissionMonthly/Base/images/grey-dots.png');
    background-repeat: repeat-x;
    background-size: 24px 23px;
    background-position: top center;

    .colored-dots {
      width: @content-width;
    }
  }
}

.main-content {
  &.grey-bg {
    width: 100%;
    background-color: #F0F1F2;

    .overall-spacing {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.dots-bg {
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.oneandall.com/emails/rm/2018/05/34127_MissionMonthly/Base/images/big-grey-dots.png');
    background-repeat: repeat;
    background-size: 28px 28px;
    background-position: top center;
  }
}

.footer{
  width: 100%;
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .logo {
    padding-bottom: 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 50% !important;
      }
    }

    .header-logo {
      .logo {
        width: 95% !important;

        img {
          width: 116px !important;
          height: auto !important;
        }
      }

      .grey-dots-table {
        height: 14px !important;
        background-size: 15px 14px !important;

        .colored-dots {
          width: 100% !important;
          height: 14px !important;

          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }

    .main-content {
      &.grey-bg {
        .overall-spacing {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      &.dots-bg {
        background-size: 14px 14px !important;
      }
    }
  }
}
