@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.eight {
  width: 387px;
}
.six {
  width: 280px;
}
.three {
  width: 120px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 3px;
}
.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #dddddd;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .donate {
  width: 50%;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}
.header .copy a {
  color: #2a4364;
  text-decoration: underline;
}
.header .button td {
  background-color: #b5b22a;
}
.header .button td:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: #b5b22a;
  font-weight: normal;
  font-size: 18px;
  mso-border-alt: 1px solid #b5b22a;
}
.header .button a:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #b5b22a;
  background-color: #b5b22a;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #b5b22a;
  background-color: #b5b22a;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .logo.spacing {
  padding-top: 50px;
  padding-left: 2px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: #725844;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 9px;
  line-height: 13px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #725844;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .social-icons td.last {
  padding: 0 0 0 1px;
}
.footer .social-icons .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 10px;
}
.footer .affiliates td {
  padding: 0 3px;
}
.footer .affiliates td.first {
  padding: 0 3px 0 0;
}
.footer .affiliates td.last {
  padding: 0 0 0 3px;
}
.footer .affiliates .spacing {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #625d54;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  width: 606px;
  background-color: #c5bbad;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #625d54;
  font-weight: normal;
}
.johnsonbox .copy.smaller {
  padding-top: 0;
  font-size: 11px;
  line-height: 20px;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2a4364;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 70%;
}
.header .button a {
  padding: 10px 0;
  border-bottom: 2px solid #98953B;
  mso-border-alt: 1px solid #b5b22a;
  font-weight: normal;
  color: #ffffff;
}
.header .button a:hover {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #98953B;
  background-color: #b5b22a;
  color: #ffffff;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer {
  background-color: #ffffff;
  border-top: 3px solid #f69831;
}
.footer .copy span {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.footer .copy.smaller {
  padding-top: 10px;
}
.footer .social-icons {
  width: 250px;
}
.footer .social-icons .spacing {
  padding-right: 0;
}
.footer .social-icons .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.footer .affiliates .spacing {
  padding-left: 25px;
}
.footer .affiliates .copy {
  padding-bottom: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.body-copy .spacing {
  padding-top: 30px;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.arrow-btn .spacing {
  padding-bottom: 0;
}
.arrow-btn .arrow {
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrow-btn .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.footer {
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 0;
}
.footer .social {
  padding-top: 20px;
}
.footer .social .wrapper {
  margin: 0 auto;
  width: auto;
}
.footer .social .wrapper .social-icons {
  width: auto;
}
.footer .social .wrapper .affiliates {
  width: auto;
}
.footer .social .wrapper .affiliates .icons td {
  padding-right: 10px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 10px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
  }
  *[class].mobile .johnsonbox .copy.smaller {
    font-size: 11px !important;
    line-height: 20px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 10px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: 100% !important;
    padding: 0 !important;
  }
  *[class].mobile .footer .social-icons table,
  *[class].mobile .footer .affiliates table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-icons table .copy,
  *[class].mobile .footer .affiliates table .copy {
    text-align: center !important;
    font-size: 14px !important;
  }
  *[class].mobile .footer .social-icons .spacing,
  *[class].mobile .footer .affiliates .spacing {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
  *[class].mobile .footer .affiliates .spacing {
    padding-left: 0 !important;
  }
  *[class].mobile .arrow-btn .twelve {
    width: 100% !important;
  }
}
