/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .columns {
    width: 100%;
  }
}

.hero {
  &.heading {
    img {
      width: auto;
      height: auto;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .hero {
      &.heading {
        img {
          width: 90% !important;
        }
      }
    }

    .footer-logo {
      td {
        padding-bottom: 0 !important;
      }
    }
  }
}
