.icons {
  .seven {
    width: 324px;

    table {
      width: 108px;
    }
  }
  .five {
    width: 245px;

    table {
      width: 113px;
    }
  }
}

@media @content {
  *[class].mobile {
    .icons {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
      
      .seven,
      .five {
        width: auto !important;
        margin: 0 auto !important;
        float: none !important;

        table {
          width: 100% !important;

          img {
            margin: 0 auto !important;
          }

          td {
            padding-bottom: 20px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
          }
        }
      }
    }
  }
}
