.hero {
	background-color: @body-bg;

	img {
		width: 100%;
		height: auto;
	}

  .orange-top {
    width: 549px;
    font-size: 13px;
    line-height: 13px;
    height: 13px;

    td {
      box-shadow: 0 0 0 #E98957;
    }

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 0 #E98957;
    }
  }

  .spacing {
    padding-top: 50px;
    padding-bottom: 0;
  }

	.orange-box {
    width: 100%;
    background-color: #E98957;

    .columns {
      width: 90%;
    }

		.spacing {
			padding-top: 5px;
		}

    .white {
      background-color: #ffffff;
      border-radius: 12px;

      .copy {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: @mavenpro;
        font-size: 40px;
        line-height: 47px;
        color: #70534E;
        font-weight: 700;
      }
    }

    .coffee {
      padding-top: 20px;
      padding-bottom: 20px;

			img {
				width: auto;
				height: auto;
			}
    }
  }
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      max-width: 467px !important;
				width: 80% !important;
	      height: auto !important;
	    }

			.spacing {
				padding-top: 0 !important;
			}

      .orange-top {
        width: 100% !important;

        img {
					max-width: 100% !important; 
          width: 100% !important;
        }
      }

			.orange-box {
				.spacing {
					padding-top: 20px !important;
				}

				.white {
					.copy {
		        font-size: 35px !important;
		        line-height: 42px !important;
						padding-left: 5px !important;
						padding-right: 5px !important;
					}
				}
			}
		}
  }
}
