@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.eleven {
  width: 547px;
}

.six {
  width: 280px;
}

.columns .first {
  padding-left: 0;
}

.header {
  background-color: #bcdc96;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}

.header .copy a {
  color: #ffffff;
  text-decoration: underline;
}

.footer {
  background-color: #f5fdf2;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #67a343;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #67a343;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #bcdc96;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #bcdc96;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #4c4c4c;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #4f91cd;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ececec;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.johnsonbox .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #48692d;
  font-weight: bold;
}

.johnsonbox .copy.big {
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 30px;
}

.johnsonbox.green {
  background-color: #67a343;
}

.johnsonbox.green .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox.green .copy {
  color: #ffffff;
  font-weight: normal;
}

.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #bcdc96;
}

.header {
  background-color: #bcdc96;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .copy {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
}

.header .donate {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #f5fdf2;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
  padding-top: 15px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #67a343;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

/* uncss:ignore */

.body-copy .copy img {
  display: inline-block;
}

.header .header-text {
  width: 75%;
}

.header .header-text a {
  font-weight: normal;
}

.header .donate {
  width: 20%;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .six,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 15px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 19px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sig .eleven {
    width: 90% !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .copy {
    display: none !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .logo-donate-social {
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td {
    padding-right: 0 !important;
    padding-bottom: 30px;
    text-align: center !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-donate img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .donate-social {
    height: auto !important;
  }

  *[class].mobile .header .header-text,
  *[class].mobile .header .donate {
    width: 100% !important;
  }

  *[class].mobile .header .donate img {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .header .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px !important;
    text-align: center;
    width: 100% !important;
    display: block !important;
  }
}
