.list {
  padding-left: 50px;
}

@media @content {
  *[class].mobile {
    .list {
      padding-left: 0 !important;
    }

    .copy {
      font-size: @font-size - 2 !important;
    }
  }
}

@media @tablet {
  *[class].mobile {
    .list {
      padding-left: 0 !important;
    }

    .copy {
      font-size: @font-size - 2 !important;
    }
  }
}

@media @phone {
  *[class].mobile {
    .list {
      padding-left: 0 !important;
    }

    .copy {
      font-size: @font-size - 2 !important;
    }
  }
}
