.header {
  .button {
    width: 80%;

    td {
      padding: 7px 0;
      border-radius: @button-radius;
    }

    a {
      padding: 0;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 100% !important;

        a {
          font-size: 14px !important;
        }
      }
    }
  }
}
