.header {
  .button {
    a {
      letter-spacing: 0.8px;
    }
  }
}

.body-copy {
  .twelve {
    width: 563px;
  }
}

.footer {
  .social-icons {
    td {
      vertical-align: middle;
      padding: 0 10px;
    }

    .fb {
      img {
        width: 15px;
        height: 27px;
      }
    }

    .twitter {
      img {
        width: 28px;
        height: 23px;
      }
    }

    .youtube {
      img {
        width: 70px;
        height: 16px;
      }
    }

    .instagram {
      img {
        width: 27px;
        height: 27px;
      }
    }

    .pinterest {
      img {
        width: 21px;
        height: 27px;
      }
    }
  }

  .affiliates {
    .citygate {
      img {
        width: 137px;
        height: 63px;
      }
    }

    .ecfa {
      img {
        width: 46px;
        height: 47px;
      }
    }

    .guidestar {
      img {
        width: 82px;
        height: 52px;
      }
    }

    .bbb {
      img {
        width: 47px;
        height: 72px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .social-icons {
      .fb {
        img {
          width: 15px !important;
          height: 27px !important;
        }
      }

      .twitter {
        img {
          width: 28px !important;
          height: 23px !important;
        }
      }

      .youtube {
        img {
          width: 70px !important;
          height: 16px !important;
        }
      }

      .instagram {
        img {
          width: 27px !important;
          height: 27px !important;
        }
      }

      .pinterest {
        img {
          width: 21px !important;
          height: 27px !important;
        }
      }
    }
  }
}
