// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

@arial:                     Arial, Helvetica, sans-serif;

@body-bg:                   #d8f8f7;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #000000;
@link-color:                #00beba;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  60px;

// Button styles
@button-bg:                     #fa723a;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              #00bfbb;
@header-button-border:          @header-button-bg;
@header-button-color:           #ffffff;
@header-button-hover-bg:        @header-button-bg;
@header-button-hover-color:     lighten(@header-button-color, 5%);
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

@view-online-color:             #00bfbb;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:                     #00bfbb;
@johnsonbox-font-family:            @arial;
@johnsonbox-font-size:              33px;
@johnsonbox-line-height:            38px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					@content-bg;
@gift-array-btn-width:            100%;
@gift-array-btn-bg:               #9af1f0;
@gift-array-btn-bg-hover:         @gift-array-btn-bg;
@gift-array-btn-hover-color:      transparent;
@gift-array-btn-color:            #00a6a0;
@gift-array-btn-font-family:      @arial;
@gift-array-btn-font-size:        21px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-text-color:           #00a6a0;
@gift-array-font-family:          @arial;
@gift-array-price-font-size:      26px;
@gift-array-price-line-height:    26px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#00a6a0;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #666666;
@footer-link-color:             #00bfbb;
@footer-text-decoration:        underline;
@footer-font-family:            @arial;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
