.header {
  .view-donate {
    .button {
      td {
        padding-top: 7px;
        padding-bottom: 7px;
      }

      a {
        font-size: @header-button-font-size;
      }
    }
  }
}

.footer {
  .connect {
    .copy {
      font-size: 12px;
      color: #1D2129;
    }
  }

  .client-info {
    .address {
      padding-top: 30px;
      padding-bottom: 0;

      .desktop-info {
        display: inline-block;
      }

      .mobile-info {
        display: none;
      }

      strong {
        font-size: 12px;
      }

      a {
        text-decoration: none;

        strong {
          font-size: @footer-font-size;
        }
      }
    }

    .copyright {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          max-width: 200px !important;
        }
      }
    }

    .footer {
      .connect {
        .copy {
          font-size: 12px !important;
        }
      }

      .client-info {
        .address {
          padding-top: 30px !important;

          .desktop-info {
            display: none !important;
          }

          .mobile-info {
            display: block !important;
          }

          strong {
            font-size: 12px !important;
          }

          a {
            text-decoration: none !important;

            strong {
              font-size: @footer-font-size !important;
            }
          }
        }

        .copyright {
          padding-top: 20px !important;
        }
      }

      .support {
        padding-bottom: 10px !important;
      }
    }
  }
}
