<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Eyebrow -->
      <table class="columns eyebrow" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->
            <table class="eight" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="left">
                  Lorem ipsum dolor sit amet, consectetur <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">adipiscing elit.</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="three" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="right">
                  <a href="[% webview_url %]" target="_blank">View online</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <!-- Logo and Donate Button Combo -->
      <table class="columns logo-cta" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="middle">
            <![endif]-->
            <table class="seven logo" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="left">
                  <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="https://cdn.oneandall.com/Digital_Assets/FB/Logos/Black/[CI26].gif" alt="##CT16##" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="middle">
            <![endif]-->
            <table class="four donate-button" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="right" class="spacing donate">
                  <!-- Start CTA -->
                  <table class="button" align="right" border="0">
                    <tr>
                      <td>
                        <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">HELP NOW</a>
                      </td>
                    </tr>
                  </table>
                  <!-- End CTA-->
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section" align="center" cellpadding="0" cellspacing="0" border="0" width="640">
  <tr>
    <td class="copy" align="center">
      <div class="copy-spacer">&nbsp;</div>
      <div class="copy-spacer">&nbsp;</div>
    </td>
  </tr>
</table>


<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td class="spacing" align="center">

      <table class="columns connect" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center" class="social-connect">

            <table class="social" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <!--[if gte mso 9]>
                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                  <td valign="middle">
                  <![endif]-->
                  <table align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy">
                        Connect with&nbsp;us:
                      </td>
                    </tr>
                  </table>
                  <!--[if gte mso 9]>
                  </td>
                  <td valign="middle">
                  <![endif]-->
                  <table class="social-icons" align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <!-- Social Media -->
                      <!-- Facebook -->
                      <td>
                        <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_fb.png" alt="Facebook" width="29" height="29" border="0"></a>
                      </td>
                      <!-- Twitter -->
                      <td>
                        <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_twitter.png" alt="Twitter" width="28" height="29" border="0"></a>
                      </td>
                      <!-- Youtube -->
                      <td>
                        <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_youtube.png" alt="YouTube" width="29" height="29" border="0"></a>
                      </td>
                      <!-- Instagram -->
                      <td>
                        <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_instagram.png" alt="Instagram" width="29" height="29" border="0"></a>
                      </td>
                      <!-- Pinterest -->
                      <td>
                        <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_pinterest.png" alt="Pinterest" width="29" height="29" border="0"></a>
                      </td>
                      <!-- Blog -->
                      <td>
                        <a href="##CT321##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/connect_blog.png" alt="Blog" width="29" height="29" border="0"></a>
                      </td>
                      <!-- End of Social Media -->
                    </tr>
                  </table>

                  <!--[if gte mso 9]>
                  </td>
                  </tr>
                  </table>
                  <![endif]-->
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>


      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy">
                  <strong>##CT16##</strong><br/>
                  ##CA30_OGE AddressPrimary##, ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip## | ##CT15## | <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">##CT17##</a>
                  <div class="copy-spacer">&nbsp;</div>
                  If you do not wish to receive future email updates from ##CT16##, please&nbsp;<a href="##CT311##" target="_blank">unsubscribe</a>.
                  <div class="copy-spacer">&nbsp;</div>
                  &copy; {{job_year}}. <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">##CT16##</a>. All rights reserved.
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <!-- Footer affiliates -->
      <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <img src="https://cdn.oneandall.com/Digital_Assets/FB/Affiliate_Logos/Black/[CI172].png" alt="affiliates" border="0" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
