// Header
.header {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns {
    width: @content-width;
  }

  .eyebrow {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .logo-cta {
    .spacing {
      padding-bottom: 0;
    }
  }

  .donate-button {
    height: 100%;
    background-color: @header-bg;

    .spacing {
      padding-top: 20px;
      padding-bottom: 0;
      mso-padding-top-alt: 20px;
    }
  }

  .button {
    width: 100%;

    td {
      padding: 10px 0;
    }
  }
}

.footer {
  width: 100%;

  .copy {
    padding-bottom: 20px;
  }

  .connect {
    border-top: 2px solid #cccccc;
  }

  .social-connect {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .social {
    .copy {
      padding-bottom: 0;
      padding-right: 10px;
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 29px;
      font-weight: bold;
    }
  }

  .social-icons,
  .social-versioned-icons {
    width: auto;

    img {
      width: auto;
    }

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .columns {
        width: 90% !important;
      }

      .copy {
        text-align: center !important;
      }

      .logo {
        width: 100% !important;

        img {
          margin: 0 auto !important;
          width: auto !important;
        }
      }

      .donate {
        .button {
          margin: 0 auto !important;
        }
      }
    }

    .footer {
      .columns {
        .logo-donate-social {
          height: auto !important;
        }

        table {
          float: none !important;
          margin: 0 auto !important;
        }

        .footer-logo td {
          padding-right: 0 !important;
          padding-bottom: 30px;
          text-align: center !important;
          height: auto !important;

          img {
            margin: 0 auto !important;
          }
        }

        .footer-donate {
          img {
            margin: 0 auto !important;
          }
        }

        .donate-social {
          height: auto !important;
        }
      }
    }
  }
}
