.heading {
  .copy {
    font-size: 24px;
    line-height: 30px;
    color: #112c4a;
    font-weight: bold;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .heading {
      .eight {
        width: 90% !important;
      }
    }
  }
}
