/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.main-content {
  border: 1px solid #F1F1F1;
}

.header {
  background-color: #ffffff;

  .eyebrow {
    width: 600px;

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.section {
  width: 600px;
}

.body-copy {
  .nine {
    width: 477px;
  }
}

.copy.asterisk {
  color: #9B9B9B;
  font-size: 9px;
  line-height: 11px;
}

.footer {
  a {
    font-weight: normal;

    &.mail {
      text-decoration: none;
    }
  }

  .connect {
    border-top: 0 solid transparent;
  }

  .social-connect {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .affiliates {
    .middle {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.mobile-heading {
  display: none;

  .columns {
    display: none;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      background-color: @body-bg !important;
    }

    .eyebrow {
      .copy {
        display: block !important;
      }

      .eight {
        width: 70% !important;
      }

      .three {
        width: 25% !important;
      }
    }

    .mobile-heading {
      display: block !important;
      background-color: #646F9A !important;

      .copy {
        padding-top: 20px !important;
        color: #ffffff !important;
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: bold !important;
      }

      .columns {
        display: block !important;
      }
    }

    .main-content {
      width: 93% !important;
      border: 0 solid transparent !important;
    }

    .body-copy {
      border-left: 1px solid #F1F1F1 !important;
      border-right: 1px solid #F1F1F1 !important;

      &.bottom {
        border-bottom: 1px solid #F1F1F1 !important;
      }
    }

    .footer {
      .social {
        .copy {
          padding-bottom: 10px !important;
          font-size: 16px !important;
        }
      }
    }
  }
}
