table, td {
  mso-line-height-rule: exactly;
}

.header {
  .button {
    width: 130px;

    a {
      width: 100%;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 130px !important;

        a {
          width: 100% !important;
        }
      }
    }
  }
}
