@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 610px;
}
.twelve {
  width: 610px;
}
.eleven {
  width: 556px;
}
.seven {
  width: 340px;
}
.five {
  width: 231px;
}
.button {
  float: none;
  width: 381px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #CC5A3F;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #CC5A3F;
  background-color: #CC5A3F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 650px;
}
.main-content {
  width: 650px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 31px;
  color: #555555;
}
td.hide {
  min-width: 650px;
}
td.hide img {
  width: 650px;
  min-width: 650px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 50px;
  padding-bottom: 0;
}
.sidebar .copy {
  padding-left: 22px;
  font-size: 17px;
  line-height: 24px;
}
.sidebar .title {
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
  color: #DC5034;
  font-weight: bold;
}
.sidebar .title.blue {
  color: #258FAD;
}
.sidebar .title.green {
  color: #17AF92;
  line-height: 31px;
}
.sidebar .columns {
  width: auto;
}
.sidebar .five {
  width: 181px;
}
.sidebar .five td {
  padding-top: 55px;
}
.sidebar .seven {
  width: 389px;
}
.sidebar.last .five td {
  padding-top: 95px;
}
.sidebar.border-top .columns {
  width: 570px;
  border-top: 1px solid #999999;
}
.sidebar.border-top .columns .spacing {
  padding-top: 55px;
}
.sidebar.border-top .copy {
  font-size: 19px;
  line-height: 24px;
}
.sidebar.border-top .signoff {
  height: 153px;
  vertical-align: middle;
}
.sidebar.border-top .signoff table {
  height: auto;
  vertical-align: middle;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 50px;
}
.solo-donate-button .button {
  height: 84px;
}
.solo-donate-button .button td {
  height: 84px;
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button .button td a {
  height: 100%;
  line-height: 84px;
}
.body-copy .spacing {
  padding-top: 40px;
  padding-top: 20px;
}
.body-copy .eleven {
  width: 570px;
}
.body-copy.border-bottom .eleven {
  border-bottom: 1px solid #999999;
}
.body-copy.border-bottom .eleven td {
  padding-bottom: 40px;
}
@media only screen and (max-width: 650px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .seven,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 300px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 27px !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .sidebar .five td {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
  }
  *[class].mobile .sidebar .five img {
    float: left !important;
  }
  *[class].mobile .sidebar.last .five td {
    padding-top: 0 !important;
  }
  *[class].mobile .sidebar.border-top .copy {
    padding-left: 15px !important;
  }
  *[class].mobile .sidebar.border-top .signoff {
    height: 130px !important;
    vertical-align: middle !important;
  }
  *[class].mobile .sidebar.border-top .signoff table {
    height: auto !important;
    vertical-align: middle !important;
  }
  *[class].mobile .sidebar.border-top .steve img {
    max-width: 130px !important;
    width: 130px !important;
    height: 130px !important;
  }
  *[class].mobile .body-copy .spacing {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .body-copy.border-bottom .eleven td {
    padding-bottom: 30px !important;
  }
}
