.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.white {
    background-color: @content-bg;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.tan {
    .copy {
      font-weight: normal;

      &.red {
        padding-bottom: 15px;
        font-family: @robotoCondensed;
        font-size: 26px;
        line-height: 30px;
        color: #8B2332;
        font-weight: 400;
      }
    }

    .big {
      padding-bottom: 20px;
    }

    .eight {
      width: 351px;
    }

    .donate {
      padding-top: 10px;
      padding-bottom: 10px;

      .button {
        td {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }

    .bottom-bar {
      img {
        font-size: 11px;
        line-height: 11px;
        height: 11px;
      }
    }
  }

  &.countdown {
    background-color: #001C3E;

    .copy {
      padding-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 23px;
      line-height: 40px;
      color: #ffffff;
      font-weight: normal;
    }

    .heading {
      padding-top: 20px;
      padding-bottom: 20px;

      img {
        margin: 0 auto;
      }
    }

    .donate {
      padding-top: 0;
      padding-bottom: 15px;

      .button {
        td {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.tan {
        .copy {
          &.red {
            padding-bottom: 10px !important;
            font-size: 26px !important;
            line-height: 30px !important;
          }
        }

        .big {
          img {
            width: 80% !important;
            height: auto !important;
            max-width: 280px !important;
          }
        }
      }

      &.countdown {
        .heading {
          img {
            max-width: 280px !important;
            width: 90% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
