.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: bold;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @green;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }

  .button {
    width: 46%;
    float: left !important;

    &.last {
      float: right !important;
    }

    td {
      background-color: #ffffff;
      border-color: #ffffff;
    }

    a {
      font-size: 18px;
      line-height: 23px;
      color: @green;
      font-weight: normal;

      background-color: #ffffff;
      border-color: #ffffff;
      mso-border-alt: 1px solid #ffffff;
    }
  }

  .copy { 
    width: 8%;

    td {
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      line-height: 53px;
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @font-size !important;
        line-height: @line-height !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @font-size !important;
        line-height: @line-height !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }

        table {
          width: 100% !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: @font-size !important;
        line-height: @line-height !important;
      }

      .button {
        width: 100% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }

        table {
          width: 100% !important;
        }
      }
    }
  }
}