.sig {
	img {
		width: auto;
		height: auto;
	}

  .spacing {
    padding-top: 0;
  }

  td {
    padding-bottom: 10px;
    padding-top: 10px;

    &.copy {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @tablet {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @phone {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}