.sidebar {
  background-color: @content-bg;

  .spacing {
    padding-bottom: 0;
  }

  .five {
    width: 50%;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .alignment {
        height: auto !important;
      }
    }
  }
}
