.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .twelve {
    width: 572px;

    .copy {
      padding-bottom: 0;

      &.smaller {
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  &.blue {
    .box {
      width: 600px;
      background-color: #F1F6FD;

      .spacing {
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }

    .box-wrap {
      margin: 0 auto;
      width: 93%;
    }

    .eleven {
      display: block;
      width: 485px;
    }

    .twelve {
      display: block;
    }

    .copy {
      padding-bottom: 20px;
      text-align: left;
      font-size: 18px;
      line-height: 24px;
      color: #000000;

      a {
        font-weight: bold;
      }

      &.signing-up {
        font-size: 20px;
        color: #FF9600;
        font-weight: bold;
      }

      &.number {
        width: 35px;
      }
    }

    .forward {
      .copy {
        a {
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.blue {
        .box {
          width: 100% !important;
        }

        .box-wrap {
          width: 90% !important;
        }

        .eleven {
          width: 100% !important;
        }

        .copy {
          font-family: @font-family !important;
          font-size: 16px !important;
          line-height: 24px !important;

          &.number {
            width: 35px !important;
          }
        }
      }
    }
  }
}
