.ps-statement {
  .ps {
    width: 35px;
    padding-right: 5px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .copy {
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
