.body-copy {
  border-bottom: 3px solid #db802e;
}

.bullet {
  padding-right: 10px;
  vertical-align: top;
}

.footer {
  .spacing {
    padding-bottom: 30px;
  }
}

.connect {
  width: auto;

  .copy {
    font-weight: bold;
    padding-right: 5px;
  }

  .two {
    width: 115px;
    height: 30px;

    .copy {
      vertical-align: middle;
    }
  }

  .icons {
    width: auto;
    height: 30px;

    .icon {
      width: 25px;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .list {
      width: 90% !important;
    }
    .connect {
      width: auto !important;
    }
  }
}
