.body-copy {
  .spacing {
    padding-top: 50px;
  }
}

.header {
  .button {
    background-color: #b5b22a;
    border-bottom: 2px solid #989622;
    border-radius: 3px;

    td {
      border-bottom: 0 solid transparent;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .spacing {
        padding-top: 30px !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
