// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 100%;
  }

  .logo-donate {
    width: auto;

    .logo {
      width: 88px;
    }

    .spacing {
      padding-top: 20px;
    }
  }
}

.grey {
  background-color: #EFEFEF;
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .address {
    text-decoration: none;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo-donate {
        table {
          width: 100% !important;

          img {
            margin: 0 auto !important;
          }
        }

        .logo {
          padding-right: 0 !important;
        }

        .spacing {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
      }
    }

    .footer {
      .address {
        a {
          text-decoration: none !important;
        }
      }
    }
  }
}
