@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.eleven {
  width: 490px;
}
.six {
  width: 240px;
}
.columns .first {
  padding-left: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #ffffff;
  text-align: center;
  border-radius: 3px;
}
.button td:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #f8981d;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f8981d;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  color: #f8981d;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #505050;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 15px;
  line-height: 25px;
  color: #231F20;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  text-decoration: underline;
  color: #B5121B;
  font-weight: 600;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 15px;
  padding-top: 15px;
}
.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 50px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .six .spacing {
  padding: 0;
  padding-left: 30px;
}
.footer .button td {
  background-color: #ffffff;
}
.footer .button a {
  padding: 5px 10px;
  display: block;
  width: auto;
  background-color: #f8981d;
  border-color: #f8981d;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
  height: auto;
}
.footer .social-icons td {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
.footer .copy.smaller {
  padding-top: 10px;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #ffffff;
}
table.button {
  width: auto !important;
}
table.button a {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: normal;
}
.header {
  background-color: #f8981e;
}
.header .top-corners {
  background-color: #ffffff;
}
.header-text .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #464646;
  font-size: 12px;
  line-height: 15px;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .top {
  border-top: 2px solid #f8981e;
}
.footer .top .first {
  padding-top: 30px;
}
.footer .logo td {
  padding-right: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .button a {
  background-color: #f8981d;
  border-color: #f8981d;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  color: #ffffff;
}
.footer .social-donate .spacing {
  padding-left: 10px;
}
.footer .six {
  width: 290px;
}
.section .columns {
  width: 580px;
}
.hero {
  width: 600px;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .spacing {
    padding-bottom: 50px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .header .logo {
    width: 50% !important;
  }
  *[class].mobile .footer .spacing {
    padding-top: 20px !important;
  }
  *[class].mobile .footer .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-donate table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .social-donate .spacing {
    padding-left: 0 !important;
    padding-top: 20px !important;
  }
  *[class].mobile .footer .social-icons {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
