@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 560px;
}

.twelve {
  width: 560px;
}

.eleven {
  width: 510px;
}

.nine {
  width: 410px;
}

.six {
  width: 260px;
}

.two {
  width: 60px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #f5d732;
  text-align: center;
  border-radius: 0px;
}

.button td:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f5d732;
  background-color: #f5d732;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0px;
  mso-border-alt: 1px solid #f5d732;
}

.button a:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: #f5d732;
  background-color: #f5d732;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}

.header .button td {
  background-color: #f5d732;
}

.header .button td:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #000000;
  background-color: #f5d732;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #f5d732;
}

.header .button a:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.header .button a:visited,
.header .button a:active {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #4d4d4d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 17px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4d4d4d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}

.section {
  width: 600px;
}

.main-content {
  width: 600px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #4e4e4e;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #959493;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #000000;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Georgia, Times, serif;
  font-size: 28px;
  line-height: 32px;
  color: #f5d732;
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #959493;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
}

.story .copy span {
  font-family: Georgia, Times, serif;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  font-weight: normal;
}

.story .copy.story-header {
  padding-top: 5px;
  padding-bottom: 10px;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.featured .copy span {
  font-family: Georgia, Times, serif;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.featured .copy.story-link {
  padding-bottom: 30px;
}

.highlighted .columns {
  background-color: #f5d732;
}

.highlighted .copy {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.button a {
  padding: 10px 0;
}

.header .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .copy {
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
  vertical-align: middle;
}

.header .copy span {
  color: #000000;
  font-weight: bold;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button td {
  background-color: #f5d732;
}

.header .button td:hover {
  border-color: #f7e063;
  background-color: #f7e063;
  color: #000000;
}

.header .button a {
  padding: 7px 0;
  border-color: #f5d732;
  color: #000000;
  background-color: #f5d732;
  font-size: 16px;
  mso-border-alt: 1px solid #f5d732;
  font-weight: bold;
}

.header .button a:hover {
  border-color: #f7e063;
  background-color: #f7e063;
  color: #000000;
}

.header .button a:visited,
.header .button a:active {
  border-color: #f5d732;
  background-color: #f5d732;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #f5d732;
  background-color: #f9e57b;
}

.footer table .spacing {
  padding-top: 20px;
}

.footer .address.spacing {
  padding-top: 0;
  padding-bottom: 15px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons td {
  padding: 0 8px;
}

.footer .affiliates {
  width: auto;
}

.footer .affiliates td {
  padding: 0 10px;
}

.featured {
  border-bottom: 2px solid #fbf1ab;
}

.featured .spacing.story-header {
  padding-top: 30px;
}

.ceo {
  background-color: #fdf8d5;
  border-bottom: 3px solid #f5d732;
}

.ceo .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ceo .copy {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: 24px;
}

.ceo .copy a {
  color: #000000;
}

.sig {
  padding-top: 25px;
}

.sig td {
  padding-left: 10px;
}

.sig .copy {
  padding-left: 10px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 600px ) {

  *[class].mobile .two,
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 29px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 18px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .story.first .spacing {
    padding-top: 40px !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .story-header {
    padding-top: 20px !important;
  }

  *[class].mobile .story.highlighted .columns {
    width: 100% !important;
  }

  *[class].mobile .story.highlighted .story-img {
    padding: 10px !important;
  }

  *[class].mobile .story.highlighted .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 30px !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .header .donate {
    width: 50% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 16px !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 21px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .story-link {
    padding-bottom: 20px !important;
  }

  *[class].mobile .story .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  *[class].mobile .ceo img {
    margin: 0 !important;
    padding: 0 !important;
  }

  *[class].mobile .ceo td.two.sig {
    width: 20% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo td.nine.sig {
    width: 80% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo table.eleven {
    width: 90% !important;
  }

  *[class].mobile .sig td,
  *[class].mobile .sig td.copy {
    padding-left: 10px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {

  *[class].mobile .two,
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 29px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 18px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .story.first .spacing {
    padding-top: 40px !important;
  }

  *[class].mobile .story-header {
    padding-top: 20px !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .story.highlighted .columns {
    width: 100% !important;
  }

  *[class].mobile .story.highlighted .story-img {
    padding: 10px !important;
  }

  *[class].mobile .story.highlighted .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 30px !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .header .donate {
    width: 50% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 16px !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 21px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .story-link {
    padding-bottom: 20px !important;
  }

  *[class].mobile .story .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  *[class].mobile .ceo img {
    margin: 0 !important;
    padding: 0 !important;
  }

  *[class].mobile .ceo td.two.sig {
    width: 20% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo td.nine.sig {
    width: 80% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo table.eleven {
    width: 90% !important;
  }

  *[class].mobile .sig td,
  *[class].mobile .sig td.copy {
    padding-left: 10px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {

  *[class].mobile .two,
  *[class].mobile .six,
  *[class].mobile .nine,
  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 16px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 29px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 18px !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .story.first .spacing {
    padding-top: 40px !important;
  }

  *[class].mobile .story-header {
    padding-top: 20px !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .story.highlighted .columns {
    width: 100% !important;
  }

  *[class].mobile .story.highlighted .story-img {
    padding: 10px !important;
  }

  *[class].mobile .story.highlighted .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 30px !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .header .donate {
    width: 50% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 16px !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 21px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .story-link {
    padding-bottom: 20px !important;
  }

  *[class].mobile .story .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .featured .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  *[class].mobile .ceo img {
    margin: 0 !important;
    padding: 0 !important;
  }

  *[class].mobile .ceo td.two.sig {
    width: 20% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo td.nine.sig {
    width: 80% !important;
    padding-left: 10px !important;
  }

  *[class].mobile .ceo table.eleven {
    width: 90% !important;
  }

  *[class].mobile .sig td,
  *[class].mobile .sig td.copy {
    padding-left: 10px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
}
