@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 540px;
}

.twelve {
  width: 540px;
}

.six {
  width: 250px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #dc2c30;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #395576;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #395576;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 580px;
}

.main-content {
  width: 580px;
  background-color: #ffffff;
}

.copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}

.copy a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #395676;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.director {
  background-color: #fdf7ee;
}

.director img {
  vertical-align: top;
}

.director .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.director .copy {
  font-size: 16px;
  line-height: 24px;
}

.director .copy span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}

.director .signature {
  padding-left: 0;
}

.director .sig {
  padding-top: 20px;
}

.director .sig img {
  width: auto;
  max-width: 280px;
  height: auto;
}

.director .sig .copy {
  padding-left: 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.johnsonbox {
  background-color: #fbf2e5;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.donate-button {
  background-color: #fbf2e5;
}

.donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.story a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #395676;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .columns {
  width: 100%;
}

.story .six {
  width: 280px;
}

.story .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
}

.story .copy.story-header {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #515151;
  font-weight: bold;
}

.story .copy.story-link {
  padding-top: 10px;
  padding-bottom: 0;
}

.story.featured {
  border-bottom: 2px solid #dc2c30;
}

.story.featured .spacing {
  padding-top: 30px;
}

.story.featured .copy {
  padding-left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.story.featured .copy.story-link {
  padding-bottom: 30px;
}

.story.featured .story-header {
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}

.story.featured .story-header.spacing {
  padding-bottom: 10px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.view-online a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #515151;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .copy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #dc2c30;
}

.header .copy strong {
  color: #4e4e4e;
}

.header .donate {
  width: 25%;
}

.heading-banner td {
  font-size: 0;
  line-height: 0;
}

.featured {
  border-bottom: 2px solid #dc2c30;
}

.footer {
  background-color: #ffffff;
}

.footer .copy.smaller {
  padding-top: 10px;
}

.header .copy strong {
  color: #4e4e4e;
}

.heading-banner td {
  font-size: 0;
  line-height: 0;
}

.stats-bucket .did-you-know {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}

.stats-bucket .cents {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 28px;
  color: #395576;
  font-weight: bold;
}

.stats-bucket .source {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  line-height: 28px;
  color: #4e4e4e;
  font-weight: normal;
}

.story .copy {
  padding-left: 25px;
}

.donate-button {
  border-top: 3px solid #DC2C30;
}

.directors-border .copy {
  border-top: 3px solid #DC2C30;
}

.story-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
}

.story-header.bold {
  font-weight: 600 !important;
}

@media only screen and (max-width: 580px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .director .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .story .copy {
    padding-left: 0 !important;
  }

  *[class].mobile .story.featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .story.featured .story-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .copy {
    width: 65% !important;
    padding-left: 0 !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .logo img {
    height: auto !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
    padding: 0 !important;
  }

  *[class].mobile .heading-banner img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .copy {
    width: 65% !important;
    padding-left: 0 !important;
  }

  *[class].mobile .stats-bucket img {
    margin: 0 auto !important;
  }

  *[class].mobile .stats-bucket .did-you-know {
    padding-top: 20px !important;
  }

  *[class].mobile .stats-bucket .source {
    padding-top: 0 !important;
  }

  *[class].mobile table.hero {
    width: 100% !important;
  }

  *[class].mobile .container {
    background-size: auto 100% !important;
    background-position: center top !important;
    width: 100% !important;
    height: auto !important;
    min-height: 200px !important;
    padding-top: 100px !important;
  }
}
