.text-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @montserrat;
    font-size: 19px;
    line-height: 26px;
    color: #4A4A4A;
    font-weight: normal;
    text-align: center;

    .double {
      font-weight: bold;
      text-decoration: underline;
    }

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: 19px !important;
        line-height: 26px !important;
      }
    }
  }
}
