.ps-statement {
  .ps {
    width: 35px;
    padding-right: 5px;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media @content {
  *[class].mobile {
    .ps-statement {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
