.sidebar {
  .spacing {
    padding-top: 0;
  }

  .copy {
    .nounder {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      
    }
  }
}
