@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@robotocondensed: 'Arial Narrow', sans-serif, 'Roboto Condensed';
@raleway: Arial, Helvetica, sans-serif, 'Raleway';
@sourcesanspro: Arial, Helvetica, sans-serif, 'Source Sans Pro';
@nunitosans: Arial, Helvetica, sans-serif, 'Nunito Sans';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               25px;
@text-color:                #515151;
@link-color:                #2a4364;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Header Button styles
@header-button-width:              	200px;
@header-button-height:              @button-height;
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-radius:              3px;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-font-weight:            bold;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-link-font-weight:       bold;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

@footer-bg:                     #ffffff;
@footer-color:                  #000000;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
@footer-font-weight:            normal;
