// Header
.header {
  border-bottom: 1px solid #E5E7E9;

  .spacing {
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
  }

  .columns {
    width: 560px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 3px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.highlight {
  background-color: #F8E71C;
}

.johnsonbox {
  &.green {
    .highlight {
      background-color: #BBCF5B;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
