.bullets {
  .copy {
    padding-top: 20px;
    font-weight: bold;
  }

  .bullet {
    padding-right: 15px;
    font-size: 23px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;
      }
      .donate {
        width: 45% !important;
      }
    }
  }
}
