@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.twelve {
  width: 480px;
}
.footer {
  background-color: #ffffff;
  text-align: left;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: left;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .address a {
  font-weight: normal;
}
@button-font-weight :            bold

// Mobile button styles
@button-mobile-width:           @button-width;
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 520px;
}
.main-content {
  width: 520px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #515151;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #3E539F;
  font-weight: normal;
}
td.hide {
  min-width: 520px;
}
td.hide img {
  width: 520px;
  min-width: 520px;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.sig .spacing {
  padding-top: 0;
}
.divider .spacing {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.divider table {
  width: 180px;
  border-top: 1px solid #7f7f7f;
}
.divider table td {
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}
.twelve {
  width: 100%;
}
.divider table {
  width: 250px;
}
.divider .spacing {
  padding-left: 0;
}
.footer .twelve {
  width: 520px;
}
@media only screen and (max-width: 520px ) {
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
}
