@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.six {
  width: 280px;
}

.four {
  width: 174px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #f7971c;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #c06f07;
  background-color: #c06f07;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f7971c;
  background-color: #f7971c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #f7971c;
}

.button a:hover {
  border-color: #c06f07;
  background-color: #c06f07;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #f7971c;
  background-color: #f7971c;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #c06f07;
  background-color: #c06f07;
}

.preheader .copy {
  color: #f6f0e8;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #f6f0e8;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #eb902d;
}

.header .button td:hover {
  border-color: #eb902d;
  background-color: #eb902d;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #eb902d;
  color: #ffffff;
  background-color: #eb902d;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #eb902d;
}

.header .button a:hover {
  border-color: #eb902d;
  background-color: #eb902d;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #eb902d;
  background-color: #eb902d;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #eb902d;
  background-color: #eb902d;
}

.footer {
  background-color: #f6f0e8;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #533a24;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #533a24;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f6f0e8;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f6f0e8;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #523822;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #f7971c;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #efe6d9;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.donate-button {
  background-color: #efe6d9;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-button .button a {
  padding: 15px 0;
  font-weight: normal !important;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #eb902d;
  color: #ffffff;
}

.gift-array {
  background-color: #f1e8dd;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: #523822;
  font-weight: bold;
}

.gift-array br {
  display: none;
}

.gift-array .array table {
  width: 195px;
}

.gift-array .array a {
  padding: 30px 5px;
  width: 90%;
  display: block;
  background-color: #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
  text-decoration: none;
  color: #ad957a;
  border-radius: 5px;
}

.gift-array .array a span {
  padding-bottom: 10px;
  display: block;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.gift-array .array a:active,
.gift-array .array a:hover,
.gift-array .array a:visited {
  background-color: #ffffff;
  color: #333333;
}

.gift-array .array .active a {
  background-color: #eb902d;
  color: #ffffff;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #f6f0e8;
}

.preheader .copy {
  color: #f6f0e8;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #f6f0e8;
}

.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.header .donate {
  width: 25%;
}

.header .button {
  width: 100%;
}

.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #eb902d;
  font-weight: normal;
  color: #ffffff;
}

.header .button a:hover {
  border-color: #eb902d;
  background-color: #eb902d;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #eb902d;
  background-color: #eb902d;
  color: #ffffff;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #eb902d;
  background-color: #eb902d;
  color: #ffffff;
}

.donate-button .button a {
  padding: 10px 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}

.footer {
  background-color: #f6f0e8;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #533a24;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.affiliates td {
  padding: 0 10px;
}

.header .button {
  width: 70%;
}

.header .button a {
  padding-top: 6px;
  padding-bottom: 6px;
}

.orange {
  background-color: #f7971c;
}

.body-copy .spacing {
  padding-top: 30px;
}

.body-copy span {
  font-weight: bold;
  color: #f7971c;
}

.graphic .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four,
  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 16px !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }

  *[class].mobile .gift-array a {
    padding: 15px !important;
    font-size: 22px !important;
    line-height: 27px !important;
  }

  *[class].mobile .gift-array a span {
    padding-bottom: 0 !important;
    font-size: 22px !important;
    line-height: 27px !important;
  }

  *[class].mobile .gift-array br {
    display: block !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 200px !important;
    height: auto !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
    padding: 0 !important;
  }
}
