.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.giving {
    background-color: @content-bg;

    .columns {
      background-color: @johnsonbox-bg;
      width: 580px;

      .header {
        background-color: @johnsonbox-bg;
        color: #75ad01;
        font-size: 27px;
        font-weight: bold;
        line-height: 33px;
      }

      .donate {
        padding-top: 20px;
        padding-bottom: 30px;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      &.giving {
        .columns {
          width: 100% !important;
        }

        .nine {
          width: 90% !important;
        }
      }
    }
  }
}
