.sidebar {
  .columns {
    width: 580px;
  }

  .six {
    width: 280px;

    &.story-img {
      width: 300px;
      height: 280px;

      td {
        height: 280px;
      }
    }
  }

  .story {
    height: 280px;
    background-color: @johnsonbox-bg;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
      height: 280px;
    }

    table {
      width: 73%;
      vertical-align: middle;

      .copy {
        padding-bottom: 25px;
      }
    }
  }

  &.executive {
    .spacing {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .columns {
      background-color: @johnsonbox-bg;
      width: 580px;
    }

    .executive-content {
      width: 90%;
    }

    .eight {
      width: 390px;

      .spacing {
        padding-top: 20px;
        padding-bottom: 0;
      }
    }

    .sig {
      padding-right: 40px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .columns {
        width: 100% !important;
      }

      .story {
        height: auto !important;

        table {
          width: 90% !important;
        }

        .spacing {
          height: auto !important;
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }
      }

      .story-img {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }

      &.executive {
        .columns {
          width: 90% !important;

          .copy {
            padding-top: 20px !important;

            &.sig {
              padding-top: 0 !important;
            }
          }
        }
      }
    }
  }
}
