.body-copy {
  .spacing {
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.forward {
  a {
    font-family: Arial, Helvetica, sans-serif;
    color: #273777;
  }

  .copy {
    font-family: Arial, Helvetica, sans-serif;
  }

  .spacing {
    padding-bottom: 30px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
        }
      }
    }
  }
}
