.header {
  .logo {
    width: 478px;
  }

  .view-donate {
    width: 119px;
  }

  .donate {
    width: @header-button-width;
  }

  .view {
    width: @header-button-width;

    &.copy {
      padding-bottom: 5px;
    }
  }

  .button {
    td {
      border-bottom: 1px solid #989622;
      border: 1px solid #989622;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.color-bar {
  width: 637px;
}

@media @content {
  *[class].mobile {
    .color-bar {
      width: 100% !important;
    }
  }
}
