// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             637px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   @tan;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #66503E;
@link-color:                #CA2B29;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  222px;
@button-height:                 auto;
@button-bg:                     #EB902D;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 8px;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

// Header Button styles
@header-button-width:               119px;
@header-button-height:              @button-height;
@header-button-bg:              		#B5B22A;
@header-button-border:          		#989622;
@header-button-radius:              1px;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             @text-color;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #665547;
@header-link-text-decoration:   none;
@header-link-color:             @header-text-color;
@header-font-weight:            normal;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

@johnsonbox-bg:                     #533A24;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              27px;
@johnsonbox-line-height:            31px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#F1E9DE;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	22px;
@gift-array-text-line-height:     25px;
@gift-array-text-color:      			#66503E;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            182px;
@gift-array-btn-height:         	160px;
@gift-array-btn-bg:               #FFFFFF;
@gift-array-btn-color:            #AD957B;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        22px;
@gift-array-btn-line-height:      26px;
@gift-array-btn-font-weight:      normal;
@gift-array-btn-radius:           6px;
@gift-array-price-font-size:      32px;
@gift-array-price-line-height:    32px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#EB902D;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @tan;
@footer-color:                  #66503E;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 1;
@footer-text-align:             center;
@footer-font-weight:            normal;
