@content-width:             600px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@encode-sans:               Arial, Helvetica, sans-serif, "Encode Sans";
@maven:                     Arial, Helvetica, sans-serif, "Maven Pro";

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               25px;
@text-color:                #1D2129;
@link-color:                #0337AE;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #333333;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

// Button styles
@button-bg:                     #F1A20A;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 7px;
@button-font-size:              31px;
@button-text-decoration:        none;
@button-font-weight:            800;

// Header Button styles
@header-button-bg:              		@button-bg;
@header-button-border:          		1px solid @header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-size:       		22px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		700;

@johnsonbox-bg:           					#CEEEFF;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					31px;
@johnsonbox-line-height:  					43px;
@johnsonbox-color:        					@text-color;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@link-color;
@johnsonbox-link-text-decoration:   underline;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-font-family:      		@font-family;
@gift-array-btn-width:         		180px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #4A4A4A;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       bold;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              10px;
@footer-line-height:            @footer-font-size + 6;
@footer-text-align:             center;
