.header {
  .view-donate {
    .view-online {
      .copy {
        padding-bottom: 10px;
      }
    }
  }
}

.body-copy {
  .twelve {
    width: 571px;
  }
}

.footer {
  .social-icons {
    td {
      vertical-align: middle;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
