<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
          <td>
            <a href="#social" target="_blank"><img src="http://placehold.it/28x28" alt="Social Media" border="0" /></a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>The Client</strong> &bull; 123 Test Dr. &bull; World, CA 12345 &bull; <a href="#home" target="_blank">www.theclient.com</a>
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy smaller">
            If you do not wish to receive future email updates from The Client, <a href="#unsub" target="_blank">unsubscribe&nbsp;here</a>.<br/>
            &copy; {{job_year}} The Client. All rights reserved. <a href="#privacy" target="_blank">Privacy&nbsp;policy</a>.
          </td>
        </tr>
      </table>

      <!-- Footer Text -->
      <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <img src="http://placehold.it/69x43" alt="Affiliate" border="0" />
          </td>
          <td>
            <img src="http://placehold.it/45x45" alt="Affiliate" border="0" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>
