.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    vertical-align: baseline;
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    mso-line-height-rule: exactly;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.last {
      padding-bottom: 30px;
    }
  }

  .price-transform {
    &.first {
      padding-top: 20px;
    }

    .copy {
      line-height: 39px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;

        &.price {
          padding-left: 0;
          padding-right: 0;
          font-weight: bold;
          font-size: 39px;
          line-height: 40px;
          color: #e37f1c;

          &.smaller {
            font-size: 32px;
            color: #4f2e0e;
          }
        }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      .price-transform {
        .copy {
          font-size: 16px !important;
          line-height: 39px !important;

            &.price {
              font-size: 28px !important;
              line-height: 40px !important;
              color: #e37f1c !important;

              &.smaller {
                font-size: 25px !important;
                color: #4f2e0e !important;
              }
            }
        }
      }
    }
  }
}
