.solo-donate-button {
  background-color: @johnsonbox-bg;

  &.blue {
    background-color: #007297;

    .button {
      border: 3px solid #FFFFFF;
      width: 251px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
