td.spacing {
  padding-bottom: 20px;
}

.list {
  table {
    td {
      padding-top: 20px;

      &.first {
        padding-top: 0;
      }
    }
  }
  .bullet {
    padding-right: 20px;
    vertical-align: top;
  }
}

.footer {
  strong {
    color: #ffffff;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
  }
}
