@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 590px;
}

.twelve {
  width: 590px;
}

.eight {
  width: 377px;
}

.four {
  width: 164px;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #ffffff;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ee3a43;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ee3a43;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #252525;
}

.copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #066ffc;
  font-weight: normal;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar .four .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar .sig.copy {
  padding-bottom: 60px;
  padding-top: 10px;
}

.sidebar .prices {
  float: left;
  width: 168px;
}

.sidebar .price-description {
  display: block;
  float: left;
  width: 168px;
}

.sidebar .price-description .copy {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.sidebar .price-description .copy span {
  color: #01f3c0;
  font-weight: bold;
}

.body {
  background-color: #ee3a43;
}

.view-online a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.header .donate {
  width: 20%;
}

.footer {
  background-color: #ee3a43;
  text-align: center;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer table .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .copy {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: normal;
}

.footer .logo {
  width: auto;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.footer .small {
  font-size: 11px;
}

.footer .smaller {
  font-size: 10px;
}

.footer .smaller a {
  font-size: 10px;
}

.footer .smallest {
  font-size: 9px;
}

.footer .smallest a {
  font-size: 9px;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sidebar .four .spacing {
    padding-top: 40px !important;
    padding-bottom: 0;
  }

  *[class].mobile .sidebar .prices {
    width: 50% !important;
  }

  *[class].mobile .sidebar .prices td {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sidebar .price-description {
    width: 50% !important;
  }

  *[class].mobile .sidebar .price-description .copy {
    height: 168px !important;
    padding-top: 10px !important;
    padding-right: 0 !important;
    text-align: left !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer a {
    font-size: 12px !important;
  }
}

@media (max-width: 430px) {

  *[class].mobile .sidebar .prices {
    width: 40% !important;
  }

  *[class].mobile .sidebar .price-description {
    width: 60% !important;
  }

  *[class].mobile .sidebar .price-description .copy {
    height: auto !important;
    padding-top: 30px !important;
    padding-left: 20px !important;
    padding-right: 10px !important;
    font-size: 15px !important;
  }
}

@media (max-width: 321px) {

  *[class].mobile .sidebar .prices {
    width: 30% !important;
  }

  *[class].mobile .sidebar .price-description {
    width: 70% !important;
  }

  *[class].mobile .sidebar .price-description .copy {
    height: auto !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 15px !important;
    line-height: 20px !important;
  }
}
