.header {
  td.button-cell {
    padding: 0;
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 0;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: 465px;

      .social-icons {
        width: 225px;
      }

      .affiliates {
        width: 240px;

        .icons {
          td {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
