/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: @font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-btn-font-weight;
  }

  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .array {
    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      
    }
  }
}
