.header {
  .spacing {
    padding-bottom: 5px;
  }
}

.unsubscribe {
  padding-bottom: 5px;
  font-size: 7px;
  color: #515151;
}


@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }
      .donate {
        width: 40% !important;
      }
    }

    .body-copy {
      .copy {
        font-size: @font-size - 5 !important;
        line-height: @line-height - 5 !important;
      }
    }
  }
}
