.header {
  .columns {
    width: 100%;
  }
  a {
    font-weight: normal;
  }
}

.body-copy {
  &.main {
    .spacing {
      padding-bottom: 0;
    }
  }
}

.footer-donate {
  padding-bottom: 10px;
  padding-top: 15px;
}

@media @content {
  *[class].mobile {
    .header {
      .columns {
        width: 95% !important;
      }
    }
  }
}
