.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .purple {
    font-family: @roboto-condensed;
    color: #5C1A98;
    font-size: 24px;
    line-height: 38px;
    font-weight: normal;

    strong {
      font-size: 35px;
      line-height: 38px;
    }
  }

  .donate {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &.top {
    width: 500px;

    .spacing {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .donate {
      padding-top: 10px;
    }

    &.white {
      background-color: #ffffff;

      .spacing {
        padding-bottom: 0;
      }
    }

    .twelve {
      width: 100%;
    }

    .purple {
      padding-top: 10px;
      font-size: 25px;
      line-height: 37px;

      strong {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
         &.purple {
          padding-top: 15px !important;
          font-size: 22px !important;
          line-height: 27px !important;

          strong {
            font-size: 22px !important;
            line-height: 27px !important;
          }
        }
      }

      &.top {
        width: 85% !important;

        .twelve {
          width: 100% !important;
        }

        .purple {
          padding-top: 15px !important;
          font-size: 22px !important;
          line-height: 27px !important;

          strong {
            font-size: 22px !important;
            line-height: 27px !important;
          }
        }
      }
    }
  }
}
