@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.six {
  width: 280px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none;
  width: 210px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #4095D0;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #4095D0;
  background-color: #4095D0;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #fcf6e8;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}
.header .button {
  width: 119px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #B5B22A;
  border: #989622;
  width: 119px;
  height: auto;
}
.header .button a {
  width: 119px;
  height: auto;
  background-color: #B5B22A;
  border-color: #989622;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #fcf6e8;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #725844;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 10px;
  line-height: 13px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 13px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fcf6e8;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fcf6e8;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #388CC7;
  font-weight: normal;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: #8B572A;
  font-weight: normal;
  text-align: center;
}
.johnsonbox .copy a {
  color: #3B8BC4;
  text-decoration: none;
}
.johnsonbox .twelve {
  width: 572px;
}
.johnsonbox .twelve .copy {
  padding-bottom: 0;
}
.johnsonbox .twelve .copy.smaller {
  font-size: 18px;
  line-height: 36px;
}
.johnsonbox.blue .box {
  width: 600px;
  background-color: #F1F6FD;
}
.johnsonbox.blue .box .spacing {
  padding-top: 20px;
  padding-bottom: 10px;
}
.johnsonbox.blue .box-wrap {
  margin: 0 auto;
  width: 93%;
}
.johnsonbox.blue .eleven {
  display: block;
  width: 485px;
}
.johnsonbox.blue .twelve {
  display: block;
}
.johnsonbox.blue .copy {
  padding-bottom: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.johnsonbox.blue .copy a {
  font-weight: bold;
}
.johnsonbox.blue .copy.signing-up {
  font-size: 20px;
  color: #FF9600;
  font-weight: bold;
}
.johnsonbox.blue .copy.number {
  width: 35px;
}
.johnsonbox.blue .forward .copy a {
  font-weight: normal;
  text-decoration: underline;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 50px;
}
.ps-statement .copy a {
  font-weight: bold;
  text-decoration: none;
}
.sig .spacing {
  padding-top: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 10px;
}
.header .logo {
  width: 75%;
}
.header .donate {
  width: 25%;
}
.header .button {
  background-color: #B5B22A;
  border-bottom: 2px solid #989622;
  border-radius: 1px;
  border-collapse: separate;
}
.header .button td {
  padding-top: 8px;
  padding-bottom: 8px;
  border-collapse: separate;
}
.color-bar td {
  width: 25%;
  height: 4px;
  font-size: 4px;
  line-height: 4px;
}
.color-bar .yellow {
  background-color: #feca30;
}
.color-bar .blue {
  background-color: #1897d4;
}
.color-bar .orange {
  background-color: #f69831;
}
.color-bar .green {
  background-color: #d1cd31;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .social-affiliates {
  width: auto;
}
.footer .address strong {
  font-size: 14px;
  line-height: 17px;
}
.footer .copy.smaller {
  padding-top: 20px;
}
.footer .six {
  width: 225px;
}
.footer .six .copy {
  padding-bottom: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.header .spacing {
  padding-bottom: 15px;
}
.header .copy {
  text-align: center;
  padding-bottom: 10px;
}
.header .copy a {
  font-weight: normal;
}
.header .logo {
  width: 479px;
}
.header .donate {
  width: 121px;
}
.header .button {
  border-radius: 1px;
  border-bottom: 1px solid #989622;
  border: 1px solid #989622;
}
.header .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.body-copy .eleven {
  width: 563px;
}
.footer .address a {
  text-decoration: none;
}
.footer .copy.smaller {
  color: #958576;
}
.footer .copy.smaller a {
  color: #958576;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 210px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 25px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 119px !important;
  }
  *[class].mobile .header .button {
    width: 119px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    line-height: 14px !important;
    color: #725844 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 11px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  *[class].mobile .johnsonbox.blue .box {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.blue .box-wrap {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox.blue .eleven {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.blue .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  *[class].mobile .johnsonbox.blue .copy.number {
    width: 35px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .six {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .six .copy {
    font-size: 14px !important;
    text-align: center !important;
  }
  *[class].mobile .footer .affiliates .copy {
    padding-top: 30px !important;
  }
}
