.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    strong {
      letter-spacing: 2px;
    }

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .underline {
    width: auto;
    border-bottom: 2px solid #F8BC1C;

    .copy {
      font-size: 27px;
      font-weight: 300;
      font-style: italic;
    }
  }

  .donate {
    padding-top: 20px;
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    a {
      span {
        text-decoration: underline;
      }
    }
  }

  &.red {
    background-color: #8B2332;

    strong {
      letter-spacing: 0;
      text-decoration: underline;
    }

    .spacing {
      padding-bottom: 20px;
    }

    .copy {
      padding-bottom: 20px;
      font-size: 25px;
      line-height: 29px;
      color: #FFFFFF;

      span {
        text-decoration: underline;
      }
    }

    .timer {
      td {
        padding-bottom: 20px;
      }
    }

    .percent {
      margin: 0 auto;
      width: 360px;

      .copy {
        padding-left: 10px;
        padding-bottom: 0;
        font-size: 17px;
        line-height: 20px;
        text-align: left;
      }
    }

    &.bottom {
      background-color: #ffffff;

      .spacing {
        padding-top: 0;
      }

      .twelve {
        width: 100%;
      }

      .donate {
        padding-top: 0;
        width: @button-width;
      }

      .bg-color {
        table {
          width: 100%;
          background-color: #8B2332;
          height: 30px;

          td {
            height: 30px;
            font-size: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }

  &.title {
    .spacing {
      padding-top: 0;
      padding-bottom: 5px;
    }

    .columns {
      width: 100%;
    }

    .copy {
      padding-bottom: 0;
      font-size: 34px;
      line-height: 34px;
      font-weight: normal;
      letter-spacing: 8px;
    }

    .middle {
      width: 295px;

      .seven {
        width: 100%;
      }

      .copy {
        padding-left: 8px;
      }
    }

    .stripe {
      vertical-align: top;

      table {
        width: 100%;
        border-bottom: 1px solid #F8BC1C;
        font-size: 17px;
        line-height: 17px;
        height: 17px;

        td {
          font-size: 17px;
          line-height: 17px;
          height: 17px;
        }
      }

      .copy {
        mso-line-height-rule: exactly;
        font-size: 17px;
        line-height: 17px;
        height: 17px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .underline {
        width: auto !important;
        border-bottom: 0 solid transparent !important;

        .copy {
          span {
            border-bottom: 2px solid #F8BC1C !important;
          }
        }
      }

      &.red {
        .copy {
          font-size: 25px !important;
          line-height: 29px !important;
        }

        .percent {
          margin: 0 auto !important;
          width: 80% !important;

          img {
            width: 85px !important;
            max-width: 85px !important;
            height: auto !important;
          }

          .copy {
            font-size: 17px !important;
            line-height: 20px !important;
          }
        }

        &.bottom {
          border-top: 1px solid #8B2332;
          background-color: #ffffff !important;

          .spacing {
            padding-top: 0 !important;
          }

          .twelve {
            width: 100% !important;
          }

          .donate {
            width: @button-mobile-width !important;
          }

          .bg-color {
            table {
              width: 100% !important;
              background-color: #8B2332 !important;
              height: 30px !important;

              td {
                height: 30px !important;
                font-size: 30px !important;
                line-height: 30px !important;
              }
            }
          }
        }
      }

      &.title {
        .spacing {
          padding-bottom: 5px !important;
        }

        .columns {
          width: 100% !important;
        }

        .copy {
          padding-bottom: 0 !important;
          font-size: 27px !important;
          line-height: 27px !important;
          letter-spacing: 8px !important;
        }

        .middle {
          width: 250px !important;

          .seven {
            width: 100% !important;
          }

          .copy {
            padding-left: 8px !important;
          }
        }

        .stripe {
          table {
            font-size: 12px !important;
            line-height: 12px !important;
            height: 12px !important;

            td {
              font-size: 12px !important;
              line-height: 12px !important;
              height: 12px !important;
            }
          }

          .copy {
            font-size: 12px !important;
            line-height: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
  }
}
