/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Image Width: 500
Image Height: 340
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.theme-orman.slider-wrapper {
    background:url(slider.jpg) no-repeat top center;
    width:487px;
    height:368px;
		margin:0 auto;
    padding-top:15px;
}

.theme-orman .nivoSlider {
    position:relative;
    width:500px;
    height:340px;
    margin-left:45px;
    background:url(loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:500px; /* Make sure your images are the same size */
    height:340px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-controlNav {
    position:absolute;
		display:block;
	  left:50%;
	  bottom:-42px;
    /*margin-left:-94px;*/ /* Tweak this to center bullets */
		margin-left:-75px;
}
.theme-orman .nivo-controlNav a {
    display:block;
		overflow:hidden;
    width:10px!important;
    height:10px!important;
    background:url(bullet_nav.png) no-repeat;
		background-position:0px 0px;
    text-indent:-9999px;
    margin-right:7px;
    float:left;
}
.theme-orman .nivo-controlNav a.active {
    background-position:0 -10px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:25px;
	height:200px;
	background:url(arrow_nav.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    top:74px;
}
.theme-orman a.nivo-nextNav {
	background-position:100% 50%;
	right:-40px;
  padding-right:20px;
}
.theme-orman a.nivo-prevNav {
	left:-40px;
    padding-left:20px;
}

.theme-orman .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption p {
		font-size:14px;
		font-weight: normal !important;
		margin:4px !important;
}
.theme-orman .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover {
    color:#fff;
}
