.johnsonbox {
  background-color: @johnsonbox-bg;
  border-bottom: 16px solid #D0021B;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .twelve {
        width: 100% !important;
      }

      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
