.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 0;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox.gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .spacing {
        padding-bottom: 0 !important;
      }
    }
  }
}
