.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .button {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 10px !important;
        padding-bottom: 35px !important; 
      }
    }
  }
}
