.body-copy {
  .eleven {
    width: 568px;
  }
}

.footer {
  .address {
    padding-bottom: 0;
    font-weight: bold;

    a {
      font-weight: bold;
    }
  }

  .social-icons {
    td {
      vertical-align: middle;
      height: 27px;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .address {
        a {
          font-weight: bold !important;
        }
      }
    }
  }
}
