// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@robotocondensed: 'Arial Narrow', sans-serif, 'Roboto Condensed';
@raleway: Arial, Helvetica, sans-serif, 'Raleway';
@sourcesanspro: Arial, Helvetica, sans-serif, 'Source Sans Pro';
@nunitosans: Arial, Helvetica, sans-serif, 'Nunito Sans';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@body-bg:                   #9F0612;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #000000;
@link-color:                #9F0612;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  280px;
@button-height:                 auto;
@button-bg:                     #CC0A1E;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 5px;
@button-font-family:            @montserrat;
@button-font-size:              23px;
@button-text-decoration:        none;
@button-font-weight:            500;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

@view-online-color:             #FFFFFF;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 8;
@header-text-color:             @view-online-color;
@header-font-weight:            normal;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-link-font-weight:       normal;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Header Button styles
@header-button-width:           130px;
@header-button-height:          @button-height;
@header-button-bg:              #FFCC82;
@header-button-border:          @header-button-bg;
@header-button-radius:              5px;
@header-button-color:           #540303;
@header-button-font-family:         @font-family-sans-serif;
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@johnsonbox-bg:                     @content-bg;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              30px;
@johnsonbox-line-height:            33px;
@johnsonbox-color:                  #9E1D20; 
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#FFCC82;
@gift-array-font-family:          @font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:           #ffffff;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            204px;
@gift-array-btn-height:         	162px;
@gift-array-btn-bg:               transparent;
@gift-array-btn-color:            transparent;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        20px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #FFFFFF;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 6;
@footer-text-align:             center;
@footer-font-weight:            normal;
