.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .spacing {
      padding-top: 30px;
    }
  }

  &.bottom {
    width: 100%;
    background-color: #555657;

    .spacing {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .copy {
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
      font-weight: normal;
    }

    .top {
      .copy {
        font-size: 30px;
        line-height: 35px;
        color: #ffffff;
        font-weight: bold;
      }
    }

    .twelve {
      width: 610px;
    }

    .six {
      .copy {
        text-align: left;
      }
    }

    .button {
      border-collapse: separate;
      width: 282px;

      td {
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid #ffffff;
        border-collapse: separate;
        border-radius: 22px
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.bottom {
        .copy {
          padding-top: 20px !important;
          font-size: 20px !important;
          line-height: 29px !important;
        }

        .top {
          .copy {
            padding-top: 0 !important;
            font-size: 25px !important;
            line-height: 30px !important;
          }
        }

        .six {
          width: 100% !important;

          img {
            margin: 0 auto !important;
          }
        }

        .button {
          width: 282px !important;

          a {
            font-size: 22px !important;
          }
        }
      }
    }
  }
}
