.share-bar {
  background-color: #fbecdd;

  table {
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    color: #e4801c;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
}