.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .heading {
    padding-bottom: 0;
    color: #e97900;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
  }

  &.orange {
    background-color: #fef8f2;

    .copy {
      padding-bottom: 0;
      color: #e97900;
      font-weight: bold;
      font-size: 21px;
      line-height: 32px;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      .heading {
        font-size: 33px !important;
        line-height: 40px !important;
      }
    }
  }
}
