.header {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .view-donate {
    .button {
      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.body-copy {
  .bullet {
    padding-right: 20px;
    padding-left: 70px;
    vertical-align: top;
  }

  .list {
    width: 490px;

    .copy-spacer {
      height: 15px;
      font-size: 15px;
      line-height: 15px;
    }
  }
}

.footer {
  .logo {
    td {
      padding-bottom: 20px;
    }
  }

  .connect {
    .social-icons {
      td {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .client-info {
    .copy {
      padding-top: 20px;
    }
  }

  .affiliates {
    td {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 100% !important;
        padding-right: 0 !important;

        td {
          padding-bottom: 10px !important;
        }

        img {
          max-width: 250px !important;
          width: 250px !important;
          height: auto !important;
        }
      }

      .view-donate {
        width: 100% !important;

        .button {
          display: block !important;
          margin: 0 auto !important;
          float: none !important;
        }
      }
    }

    .body-copy {
      .bullet {
        padding-right: 10px !important;
        padding-left: 0 !important;
      }

      .list {
        width: 90% !important;
        float: none !important;
        margin: 0 auto !important;
      }
    }

    .footer {
      .client-info {
        .copy {
          padding-top: 20px !important;
        }
      }
    }
  }
}
