.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.big {
      padding-bottom: 0;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &.white {
    background-color: @content-bg;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .copy {
      padding-top: 0;
      color: #128f9e;
      font-size: 18px;
      line-height: 24px;
    }

    .donate {
      .button {
        background-color: #ffffff;
        border: 2px solid #fa723a;
        mso-border-alt: 2px solid #fa723a;
        border-radius: 3px;

        td, a {
          background-color: #ffffff;
          border-radius: 3px;
          padding: 10px 0;
        }

        a {
          padding: 0;
          mso-border-alt: 0 solid transparent;
          color: #f3713e;
        }
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 3 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
