.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.eight {
		height: 155px;

		td {
			vertical-align: middle;
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.eight {
				height: auto !important;
			}
		}
  }
}
