.body-copy {
  .copy {
    a {
      font-size: @font-size;
      text-decoration: @link-decoration;
      color: @teal;
    }
  }
}

.story {
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .eight {
    width: 420px;
  }

  .header {
    padding-bottom: 20px;
    background-color: transparent;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
  }

  .divider {
    background-color: transparent;

    table {
      width: 50px;
      border-top: 2px solid @gold;
    }
  }

  .readmore {
    a {
      font-size: 14px;
      line-height: @newsletter-story-link-line-height;
      text-decoration: none;
      color: @link-color;

      span {
        font-size: 14px;
        color: @link-color;
      }
    }
  }
}

.johnsonbox {
  .copy {
    a {
      font-size: @johnsonbox-font-size;
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
      font-weight: bold;
    }

    &.readmore {
      a {
        font-size: 14px;
        color: @link-color;
        font-weight: normal;
      }
    }
  }

  .header {
    font-size: 34px;
    line-height: 38px;
  }

  .donate {
    .button {
      width: 40%;
    }
    a {
      background-color: @gold;
      color: #ffffff;
      font-weight: bold;
    }
  }
}

.andy {
  background-color: #f4f2ef;

  .divider {
    padding-bottom: 8px;
  }

  .spacing {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .andys-note {

    .spacing {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    .eight {
      width: 425px;
    }

    .copy {
      padding-left: 20px;
      padding-right: 20px;
    }

    .readmore {
      padding-top: 10px;
    }
  }
}

.bottom-donate {
  background-color: #e1ded5;
  border-top: 4px solid #ffffff;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-top: 5px;
    font-size: 14px;
    color: @dark-brown;
  }

  .button {
    a {
      padding: 8px 10px;
      mso-border-alt: 1px solid #f99822;
      background-color: @gold;
      border-radius: 0;
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
      color: #ffffff;
    }

    td {
      background-color: @gold;
    }
  }
}


@media @content {
  *[class].mobile {
    .story {
      img {
        margin: 0 auto !important;
      }

      .story-text {
        padding-top: 20px !important;
      }

      .spacing {
        padding-top: 0 !important;
      }

      &.featured {
        .spacing {
          padding-top: 25px !important;
        }
      }
    }

    .body-copy {
      .readmore {
        padding-bottom: 0 !important;
      }
    }

    .story.andy {
      .spacing {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .andys-note {
        img {
          margin: 0 !important;
          padding-top: 0 !important;
          width: 40% !important;
        }

        .spacing {
          padding-bottom: 0 !important;
        }
      }

      .sig {
        padding-bottom: 0 !important;
      }

      .sig img {
        margin: 0 !important;
        padding-bottom: 0 !important;
        width: auto !important;
      }
    }

    .johnsonbox {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 25px !important;
      }
    }

    .bottom-donate {
      .copy {
        padding-top: 0 !important;
        padding-bottom: 10px !important;
        text-align: center !important;
      }

      .button {
        padding: 8px 0 !important;
        width: 50% !important;

        a {
          padding: 8px 0 !important;
        }
      }
    }
  }
}
