.director {
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .copy {
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;

    span {
      font-family: @newsletter-director-header-font-family;
      font-size: @newsletter-director-header-font-size;
      line-height: @newsletter-director-header-line-height;
      color: @newsletter-director-header-color;
      font-weight: normal;
    }
  }

  .signature {
    padding-left: 30px;
  }

  .sig {
    padding-top: 20px;

    .copy {
      padding-left: 30px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media @content {
    *[class].mobile {
      .ceo {
        .spacing {
          padding-top: 20px;
        }
      }
    }
  }
}
