.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-bottom: 60px;
  }

  .button {
    background-color: #f9723a;
    border-radius: @button-radius; 

    td {
      background-color: #f9723a;
    }

    a {
      background-color: #f9723a;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
