.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .ten {
    width: 502px;
  }

  .button {
    width: 280px;
    background-color: @button-bg;
    border-radius: @button-radius;

    td {
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: @button-bg;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      background-color: @button-bg;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
