.sidebar {
  .columns {
    margin: 0 auto;
    width: 450px;
  }

  .six {
    width: 225px;
    
    table {
      width: 202px;
    }

    .smaller {
      width: 188px;
    }
  }

  .copy {
    &.heading {
      font-family: @arvo;
      font-size: 26px;
      line-height: 31px;
      font-weight: bold;
      color: #0097A2;

      &.orange {
        color: #F37029;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {

    }
  }
}
