@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.seven {
  width: 334px;
}

.six {
  width: 280px;
}

.five {
  width: 227px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

.button {
  float: none !important;
}

.button td {
  background-color: #ed1b2f;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #ed1b2f;
  background-color: #ed1b2f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #ed1b2f;
}

.button a:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #ed1b2f;
  background-color: #ed1b2f;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
}

.preheader .copy {
  color: #f5f5f5;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #f5f5f5;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #ed1b2f;
}

.header .button td:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #ed1b2f;
  color: #ffffff;
  background-color: #ed1b2f;
  font-weight: normal;
  font-size: 14px;
  mso-border-alt: 1px solid #ed1b2f;
}

.header .button a:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #ae0e1d;
  background-color: #ae0e1d;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
}

.footer {
  background-color: #f5f5f5;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #6d6d6d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 12px;
  line-height: 17px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #6d6d6d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .footer .copy {
    font-size: 13px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .copy {
    font-size: 13px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .copy {
    font-size: 13px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #252525;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #252525;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

.johnsonbox {
  background-color: #eaeaea;
  text-align: left;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #747474;
}

.johnsonbox .man {
  width: 100%;
}

.johnsonbox .man .top {
  padding-left: 40px;
  padding-top: 25px;
  padding-right: 0;
}

.johnsonbox .man .seven {
  width: 380px;
}

.donate-button {
  background-color: #ffffff;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-button .button a {
  padding: 15px 0;
}

.donate-button.top .button a {
  font-size: 15px;
}

.donate-button.bottom .spacing {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 90% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }

  *[class].mobile .johnsonbox img {
    margin: 0 auto !important;
  }

  *[class].mobile .johnsonbox .man {
    float: none !important;
  }

  *[class].mobile .johnsonbox .man .top {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 90% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }

  *[class].mobile .johnsonbox img {
    margin: 0 auto !important;
  }

  *[class].mobile .johnsonbox .man {
    float: none !important;
  }

  *[class].mobile .johnsonbox .man .top {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 90% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }

  *[class].mobile .johnsonbox img {
    margin: 0 auto !important;
  }

  *[class].mobile .johnsonbox .man {
    float: none !important;
  }

  *[class].mobile .johnsonbox .man .top {
    padding-left: 0 !important;
  }
}

.sig img {
  width: auto;
  height: auto;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }
}

.body {
  background-color: #f5f5f5;
}

.preheader .copy {
  color: #f5f5f5;
  font-size: 0px;
  line-height: 0px;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #252525;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #f5f5f5;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.header .donate {
  width: 20%;
}

.header .donate .button {
  width: 100%;
}

.footer {
  background-color: #f5f5f5;
  text-align: center;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer table .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #6d6d6d;
  text-align: center;
}

.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  color: #6d6d6d;
  font-weight: normal;
}

.footer .logo {
  width: auto;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.footer .small {
  font-size: 12px;
}

.footer .smaller {
  font-size: 11px;
}

.footer .smaller a {
  font-size: 11px;
}

.footer .smallest {
  font-size: 10px;
}

.footer .smallest a {
  font-size: 10px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

/* Targetting Tablets */

@media only screen and (max-width: 600px) {
  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

/* Targeting Mobile */

@media only screen and (max-width: 480px) {
  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.body-copy .copy span {
  font-size: 22px;
  line-height: 26px;
}

.body-copy.bottom .spacing {
  padding-top: 40px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 640px ) {
  *[class].mobile .footer .copy.smallest {
    font-size: 10px !important;
  }

  *[class].mobile .footer .copy.smallest a {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .copy.smallest {
    font-size: 10px !important;
  }

  *[class].mobile .footer .copy.smallest a {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .copy.smallest {
    font-size: 10px !important;
  }

  *[class].mobile .footer .copy.smallest a {
    font-size: 10px !important;
  }
}
