.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 200px;

    td {
      padding: 5px 0;
    }

    a {
      padding: 0;
      font-family: @font-family;
      font-weight: @button-font-weight;
      font-size: @button-font-size;
    }
  }

  .twelve {
    width: 580px;
  }
}

// Solo Donate Button Styles
.johnsonbox.donate-button {
  background-color: @johnsonbox-bg;
  border-bottom: 1px solid #EB5F1E;

  .spacing {
    padding-top: 0;
    padding-bottom: 45px;
  }

  .button {
    width: 200px;

    td {
      padding: 5px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: 24px !important;
        line-height: 32px !important;
      }

      .button {
        width: 200px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }

    .donate-button {
      .button {
        width: 200px !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
