.header {
  .columns {
    width: @content-width;
  }

  .spacing {
    padding-bottom: 15px;
  }

  .logo {
    width: @content-width - @header-button-width;
  }

  .donate {
    width: @header-button-width;
  }

  .view-online {
    .copy {
      padding-bottom: 20px;
    }

    a {
      font-size: @header-font-size;
      line-height: @header-line-height;
      text-decoration: @header-link-text-decoration;
      color: @header-link-color;
      font-weight: @header-font-weight;
    }
  }

  .button {
    border-bottom: 1px solid @header-button-border;
    border: 1px solid @header-button-border;

    td {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer {
  .copy {
    &.address {
      font-size: @footer-font-size;
      line-height: @footer-line-height;
    }

    &.smaller {
      color: #958576;
      font-size: 10px;
      line-height: 13px;

      a {
        color: #958576;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }

  .social-affiliates {
    .spacing {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .copy {
        &.smaller {
          color: #958576 !important;
          
          a {
            color: #958576 !important;
          }
        }
      }
    }
  }
}
