.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: bold;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-family: @button-font-family;
      font-size: @button-font-size;
    }
  }

  &.tan {
    background-color: #f6f0ca;

    .spacing {
      padding-top: 37px;
      padding-bottom: 37px;
    }

    .copy {
      padding-bottom: 0;
      font-family: @font-family-sans-serif;
      font-size: 27px;
      line-height: 32px;
      color: #2c2c2c;
      font-weight: @johnsonbox-font-weight;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }

  &.light {
    .spacing {
      padding-top: 0;
    }

    .button {
      td {
        background-color: #f6f0ca;
      }

      a {
        background-color: #f6f0ca;
        mso-border-alt: 1px solid #f6f0ca;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
