body {
  background-color: transparent;
}

.main-content {
  background-color: transparent;

  .spacing.main {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.section {
  background-color: @content-bg;
}

// Header
.header {
  width: 100%;

  .columns {
    width: @content-width;
  }

  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

// Footer
.footer {
  background-color: footer-bg;

  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }
}

@media @content {
  *[class].mobile {
    .main-content {
      .spacing.main {
        padding-top: 0 !important;
      }
    }
  }
}
