.story {
  .six {
    .copy {
      padding-left: 30px;
    }
  }
}

.highlighted {
  .copy {
    padding-bottom: 15px;
    padding-left: 15px;

    span {
      color: @dark-blue;
      font-weight: bold;
    }
  }

  .cta {
    margin: 0 auto;
    width: 90%;

    .donate {
      .button {
        width: 80%;
        td, a {
          background-color: @orange;
          color: #ffffff;
          border-radius: 5px;
        }

        a {
          mso-border-alt: 1px solid @orange;
        }
      }
    }
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.arrow {
  padding-top: 0;
  padding-bottom: 20px;
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 0;
  }

  .logo {
    padding-top: 0;
  }

  .icons {
    margin: 0 auto;
    width: auto;
  }

  .copy {
    padding-bottom: 20px;
  }

  .affiliates {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }
    
    .story {
      .six {
        .copy {
          padding-left: 0 !important;
        }
      }
    }

    .highlighted {
      .copy {
        padding-left: 15px !important;
      }
      .cta {
        width: 95% !important;
        float: none !important;

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
