.hero {
	background-color: #F42F2C;

	img {
		width: auto;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	.chevron {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
