.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    width: 190px;
    border: 2px solid #ffffff;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: @button-font-size;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .button {
    border: 0 solid transparent;
    width: 240px;

    td {
      padding: 5px 0;
    }

    a {
      font-size: 16px;
    }
  }

  &.bottom {
    background-color: @content-bg;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 3 !important;
        line-height: @johnsonbox-line-height + 3 !important;
      }

      .button {
        width: 188px !important;
        border: 3px solid #ffffff !important;

        a {
          font-size: @johnsonbox-font-size - 3 !important;
        }
      }
    }

    .donate-button {
      .button {
        width: 100% !important;
        max-width: 300px !important;
        
        a {
          font-size: @button-mobile-font-size !important;
        }
      }

      &.grey {
        background-color: #ffffff !important;

        .spacing {
          padding-bottom: 0 !important;
        }

        .columns {
          background-color: @gift-array-bg !important;
        }

        .donate {
          padding-bottom: 15px !important;
        }

        .button {
          width: 90% !important;
          border: 0 solid transparent !important;
        }
      }
    }
  }
}
