.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
		padding-bottom: 0;
	}

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
