table, td {
  mso-line-height-rule: exactly;
}

.footer {
  .spacing {
    padding-top: 20px;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: auto;

      .social-icons {
        width: auto;

        .spacing {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .affiliates {
        width: auto;

        .icons {
          &.spacing {
            padding-top: 0;
            padding-bottom: 0;
          }

          td {
            padding-right: 10px;
          }

          .copy {
            padding-left: 15px;
            padding-right: 0;
          }
        }
      }
    }
  }

  .affiliates {
    .icons {
      &.spacing {
        padding-top: 0;
      }
    }

    .copy {
      padding-left: 15px;
    }
  }

  .copy.smaller {
    padding-top: 0;
  }

  .address {
    a {
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .icons {
        .copy {
          padding-left: 0 !important;
        }
      }
    }
  }
}
