.header {
  .spacing {
    padding-bottom: 0;
  }

  .columns {
    width: @content-width;
  }

  .copy {
    strong {
      color: #cf784e;
    }
  }
}

.heading-banner {
  td {
    padding-top: 0;
    padding-bottom: 5px;
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .social-icons {
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .copy {
    padding-top: 20px;
  }

  .copy-spacer {
    height: 15px;
    font-size: 15px;
    line-height: 15px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .heading-banner {
      img {
        width: 90% !important;
        height: auto !important;
      }
    }
  }
}
