.divider {
  .spacing {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  table {
    width: 180px;
    border-top: 1px solid #7f7f7f;

    td {
      height: 1px;
      font-size: 1px;
      line-height: 1px;
    }
  }
}

.footer {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .address {
    a {
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .logo {
      img {
        margin: 0 auto !important;
      }
    }
  }
}
