/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.logo-cta {
  .spacing {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.footer {
  .connect {
    border-top: 0 solid transparent;
  }

  .social-connect {
    &.copy {
      padding-top: 0;
      padding-bottom: 15px;
      font-size: 17px;
      line-height: 23px;
      color: #666666;
      font-weight: bold;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        display: block !important;
      }
    }
  }
}
