// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.gift-array {

  .array {

    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
  }
}

.view-donate {
  .copy {
    padding-bottom: 5px;

    a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: normal;
    }
  }
}

.sig {
  .spacing {
    padding-top: 0;
  }
}

.footer {
  .copy {
    padding-left: 40px;
    padding-right: 40px;

    &.smaller {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media @content {
  *[class].mobile {

    .header {
      .logo {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
    .footer {
      .copy {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}
