.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

	&.quote,
	&.verse,
	&.flower {
		img {
			width: auto;
			height: auto;
		}

		.spacing {
			padding-top: 25px;
	    padding-bottom: 0;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.quote,
		.verse,
		.flower {
			img {
				width: auto !important;
				height: auto !important;
			}

			.spacing {
				padding-left: 15px !important;
				padding-right: 15px !important;
				padding-top: 10px !important;
			}
		}

		.verse {
			img {
				width: 25% !important;
				height: auto !important;
			}
		}

		.flower {
			img {
				width: 15% !important;
				height: auto !important;
			}
		}

		.copy {
			font-size: @font-size - 3 !important;
		}
  }
}
