@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 598px;
}
.twelve {
  width: 598px;
}
.ten {
  width: 492px;
}
.nine {
  width: 439px;
}
.seven {
  width: 333px;
}
.six {
  width: 279px;
}
.five {
  width: 226px;
}
.four {
  width: 173px;
}
.button {
  float: none !important;
}
.button td {
  padding: 10px 0;
  background-color: #417505;
  text-align: center;
  border-radius: 9px;
}
.button a {
  width: 100%;
  height: 100%;
  display: block;
  border-color: #417505;
  background-color: #417505;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 9px;
  mso-border-alt: 1px solid #417505;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
}
.footer {
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #000000;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F9FAFE;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F9FAFE;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 638px;
}
.main-content {
  width: 638px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #4A90E2;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  text-align: center;
}
.johnsonbox .columns {
  border-top: 4px solid #ffffff;
  height: 160px;
  background-color: #646F9A;
}
.johnsonbox .fruit {
  background-image: url('https://cdn.oneandall.com/emails/fb/2018/06/34310_SummerMatchingChallenge/OH500/Email1/images/fruits.png');
  background-repeat: no-repeat;
  background-size: 100% 251px;
  background-position: bottom center;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 31px;
  color: #FFFFFF;
  font-weight: bold;
}
.johnsonbox .copy a {
  color: #FFFFFF;
  text-decoration: none;
}
.johnsonbox .button {
  width: 170px;
}
.johnsonbox .button td {
  padding: 11px 0;
  background-color: #ffffff;
}
.johnsonbox .button a {
  padding: 0;
  background-color: #ffffff;
  font-size: 18px;
  color: #417505;
  mso-border-alt: 1px solid #ffffff;
}
.donate-button {
  border-bottom: 1px solid #F1F1F1;
  background-color: #ffffff;
  height: auto;
}
.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 47px;
}
.donate-button .button {
  width: 170px;
}
.donate-button .button td {
  background-color: #417505;
}
.donate-button .button a {
  background-color: #417505;
  color: #FFFFFF;
  mso-border-alt: 1px solid #417505;
}
.sidebar .spacing {
  padding-top: 0;
}
.sidebar .five {
  height: 111px;
}
.sidebar .five td {
  height: 111px;
}
.sidebar .copy {
  padding-top: 10px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #F9FAFE;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 638px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.footer {
  width: 100%;
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
td.hide {
  min-width: 638px;
}
td.hide img {
  width: 638px;
  min-width: 638px;
}
.columns {
  width: 600px;
}
.section {
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}
.header {
  background-color: #FFFFFF;
}
.header.top {
  border-top: 1px solid #F1F1F1;
}
.header .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .eyebrow {
  width: 600px;
  background-color: #ffffff;
}
.header .eyebrow .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .eyebrow .copy {
  width: 490px;
}
.header .eyebrow .copy.view {
  width: 100px;
}
.header .logo-cta {
  width: 600px;
  background-color: #656E98;
  border-bottom: 1px solid #656E98;
}
.header .logo-cta .spacing {
  padding-top: 25px;
  padding-bottom: 17px;
}
.header .logo-cta .logo {
  padding-right: 0;
  width: 40%;
}
.header .logo-cta .logo td {
  padding-left: 30px;
}
.header .logo-cta .matching {
  width: 60%;
}
.header .logo-cta .matching td {
  padding-right: 37px;
}
.ten {
  width: 475px;
}
.footer {
  background-color: #F9FAFE;
}
.footer .spacing {
  padding-top: 35px;
}
.footer .connect {
  border-top: 0 solid transparent;
}
.footer .social-connect {
  padding-top: 0;
  padding-bottom: 35px;
}
.footer .middle {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (max-width: 638px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four,
  *[class].mobile .columns .six,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero {
    background-color: transparent !important;
  }
  *[class].mobile .hero img {
    width: 90% !important;
    max-width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox {
    background-color: #F9FAFE !important;
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
  }
  *[class].mobile .johnsonbox .twelve {
    width: 95% !important;
  }
  *[class].mobile .johnsonbox .columns {
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
    line-height: 21px !important;
    padding-bottom: 15px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 170px !important;
  }
  *[class].mobile .johnsonbox .fruit {
    height: auto !important;
    background-size: 100% 160px !important;
    background-position: bottom center !important;
  }
  *[class].mobile .johnsonbox .spacing {
    padding-top: 18px !important;
    padding-bottom: 12px !important;
  }
  *[class].mobile .donate-button {
    border-bottom: 0 solid transparent !important;
  }
  *[class].mobile .donate-button .spacing {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .sidebar {
    width: 90% !important;
    background-color: #ffffff !important;
    border-left: 1px solid #F1F1F1 !important;
    border-right: 1px solid #F1F1F1 !important;
    border-bottom: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .sidebar .five {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .five.kristin {
    width: 100% !important;
  }
  *[class].mobile .sidebar .five td {
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .section {
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
  }
  *[class].mobile .sidebar {
    border-left: 1px solid #F1F1F1 !important;
    border-right: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .header {
    background-color: #F9FAFE !important;
    border-top: 0 solid transparent !important;
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
    border-bottom: 0 solid transparent !important;
  }
  *[class].mobile .header .eyebrow {
    width: 90% !important;
    background-color: #F9FAFE !important;
  }
  *[class].mobile .header .eyebrow .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .header .eyebrow .copy {
    float: left !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block !important;
    width: 75% !important;
  }
  *[class].mobile .header .eyebrow .copy.view {
    float: right !important;
    width: 25% !important;
  }
  *[class].mobile .header .logo-cta {
    border-bottom: 1px solid #646F9A !important;
  }
  *[class].mobile .header .logo-cta .spacing {
    padding-top: 25px !important;
    padding-bottom: 17px !important;
  }
  *[class].mobile .header .logo-cta .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo-cta .logo td {
    padding-left: 0 !important;
    padding-bottom: 25px !important;
  }
  *[class].mobile .header .logo-cta .logo img {
    width: 90% !important;
    max-width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .header .logo-cta .matching td {
    padding-right: 0 !important;
  }
  *[class].mobile .header .logo-cta .matching img {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    max-width: 294px !important;
    height: auto !important;
  }
  *[class].mobile .main-content {
    background-color: #F9FAFE !important;
  }
  *[class].mobile .body-copy {
    width: 90.625% !important;
    background-color: #ffffff !important;
    border-left: 1px solid #F1F1F1 !important;
    border-right: 1px solid #F1F1F1 !important;
  }
  *[class].mobile .body-copy .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .body-copy .ten {
    width: 90% !important;
  }
  *[class].mobile .body-copy .copy {
    padding-top: 20px !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }
  *[class].mobile .footer .spacing {
    padding-top: 20px !important;
  }
  *[class].mobile .footer .social .copy {
    font-size: 16px !important;
  }
  *[class].mobile .footer .affiliates {
    width: 85% !important;
  }
  *[class].mobile .footer .affiliates .middle {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}
