@content-width:             600px;

@body-bg:                   #FAFAFA;
@content-bg:                #ffffff;

// Google Fonts
@maven:                     Arial, Helvetica, sans-serif, "Maven Pro";
@opensans:                  Arial, Helvetica, sans-serif, "Open Sans";
@arvo:                      Georgia, Times, serif, "Arvo";
@ptsans:                    Arial, Helvetica, sans-serif, "PT Sans";

@font-family:               @ptsans;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               25px;
@text-color:                #000000;
@link-color:                #EC1F27;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #000000;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 6px;
@button-font-family:            @font-family;
@button-font-size:              21px;
@button-mobile-font-size:    		@button-font-size;
@button-font-weight:            bold;
@button-text-decoration:        none;

// Header Button styles
@header-button-bg:              		#EC1F27;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#FFFFFF;
@header-button-font-size:       		17px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

@view-online-color:             #666666;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 5;
@header-text-color:             #666666;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-link-font-weight:   		normal;
@header-font-weight:            normal;

@johnsonbox-bg:           					#EC1F27;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					38px;
@johnsonbox-line-height:  					40px;
@johnsonbox-color:        					#FFFFFF;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		180px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@whoweare-background-color:       #dddddd;
@whoweare-text-color:             #000000;
@whoweare-font-family:            @font-family;
@whoweare-font-size:      	      @font-size;
@whoweare-line-height:     	      @line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #2d2d2d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
