@charset "ISO-8859-1";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 30px 0 0;
	padding: 0;
	background-color: #BCDC96;
}

#wrapper {
	position: absolute;
	width: 100%;
}

.theme-orman.slider-wrapper {
	position: relative;
}

.nivo-caption {
	background-color: #619A42;
	opacity: 1 !important;
}

div#slider.nivoSlider {
	margin: 0 auto;
	width: 457px !important;
	height: 338px !important;
	background-size: 100% !important;
	background-color: #68A343 !important;
}

.nivo-slice {
	background-size: 100% !important;
	background-color: #68A343;
}

.slider-text,
.slider-title {
	margin: 0 auto;
	width: 100%;
	max-width: 470px;
}

.slider-title {
	margin-bottom: 30px;
}

.slider-title	p {
	font-size: 16px;
	line-height: 23px;
}

.slider-title	p strong {
	font-size: 18px;
	color: #619A42;
}

.slider-text {
	margin-top: 50px;
}

.slider-text p {
	font-size: 14px;
	line-height: 18px;
}

.slider-btn {
	width: 90%;
	max-width: 200px;
	margin: 25px auto 50px;
}

.slider-btn a {
	padding: 8px 10px;
	display: block;
	width: 100%;
	background-color: #4f91cd;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	line-height: 23px;
}

@media (max-width: 570px) {
	div#slider.nivoSlider,
	.nivo-slice {
		width: 348px !important;
		/*height: 200px !important;*/
		height: 235px !important;
		background-size: 100% !important;
		background-position: 50% 60% !important;
	}

	#slider .nivo-slice {
		left: 0 !important;
	}

	.theme-orman.slider-wrapper {
		width: 100%;
		height: 210px;
		/*background-size: 378px;*/
		background-size: 378px 265px;
	}

	.theme-orman .nivo-directionNav a {
		top: 20px;
	}

	.slider-title p,
	.slider-text p {
		padding: 0 10px;
	}

	.slider-text {
		margin-top: 20px;
	}
}

@media (max-width: 420px) {
	.theme-orman.slider-wrapper {
		background-size: 260px;
	}

	div#slider.nivoSlider,
	.nivo-slice {
		width: 240px !important;
		height: 160px !important;
		background-size: 100% !important;
	}

	.theme-orman a.nivo-prevNav {
		left: -35px;
	}

	.theme-orman a.nivo-nextNav {
		right: -35px;
	}

	.theme-orman .nivo-directionNav a {
		top: 0;
	}

	.nivo-caption p {
		font-size: 11px;
	}
}
