.director {
  background-color: @newsletter-director-bg;
  border-top: 2px solid @newsletter-director-border-color;

  img {
    vertical-align: top;
  }

  .copy {
    font-family: @newsletter-director-font-family;
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;
    color: @newsletter-director-color;
  }

  .heading {
    font-family: @newsletter-director-header-font-family;
    font-size: @newsletter-director-header-font-size;
    line-height: @newsletter-director-header-line-height;
    color: @newsletter-director-header-color;
    font-weight: @newsletter-director-header-font-weight;
  }

  .sig {
    padding-top: 20px;

    .copy {
      padding-left: 30px;
    }
  }

  .signature {
    padding-left: 30px;
  }
}
