.sidebar {
  .columns {
    border-top: 3px solid #5FA141;
    border-bottom: 3px solid #5FA141;
    width: 505px;
  }

  .five {
    width: auto;
  }

  .seven {
    .wrap {
      width: auto;
    }
  }

  .copy {
    padding-bottom: 15px;
    font-family: @font-family-sans-serif;
    font-size: 17px;
    line-height: 35px;
    color: #000000;

    &.top {
      font-family: @arvo;
      font-size: 23px;
      color: #4A4A4A;
    }

    &.green {
      font-family: @arvo;
      font-size: 35px;
      color: #008CA7; 
      font-weight: bold;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .five {
        img {
          margin: 0 auto !important;
          float: none !important;
        }
      }
    }
  }
}
