/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .columns {
    width: 620px;
  }

  .copy {
    line-height: @header-line-height;
  }
}

.asterisk {
  .copy {
    font-size: 14px;
    font-style: italic;
  }

  .spacing {
    padding-top: 0;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .copy {
        text-align: center !important;
        display: block !important;
        padding-bottom: 10px !important;
        line-height: @header-line-height - 10 !important;
      }

      img {
        margin: 0 auto !important;
      }
    }

    .asterisk {
      .copy {
        line-height: 18px !important;
      }
    }
  }
}
