.body {
  background-color: @content-bg;
}

.header {
  background-color: @header-bg;

  .columns {
    width: 85%;
  }

  .view-donate {
    .button {
      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.body-copy {
  .bg-img {
    padding-top: 0;
    background: url(https://cdn.oneandall.com/emails/ac/2019/12/35611_GreetingCard/Base/Email1/images/hero-gradient.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }

  .eleven {
    background-color: #ffffff;
    border: 5px solid #FFE377;
    border-radius: 12px;
    border-collapse: separate;

    table {
      width: 80%;
    }

    .spacing {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .copy {
      &.big {
        padding-top: 40px;
        color: #2C550D;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }
}

.footer {
  .copy {
    color: #FFFFFF;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    &.address {
      padding-top: 20px;

      a {
        font-weight: normal;
      }
    }

    &.yellow {
      font-size: 11px;
      color: #FFF6D3;

      a {
        font-size: 11px;
        color: #FFF6D3;
        text-decoration: underline;
      }
    }
  }

  .connect {
    .copy {
      color: #FFF6D3;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .bg-img {
        padding-top: 0 !important;
      }

      .copy {
        font-size: @font-size + 5 !important;
        line-height: @line-height + 5 !important;

        &.big {
          padding-top: 20px !important;
          font-size: 28px !important;
          line-height: 34px !important;
        }
      }

      .eleven {
        table {
          width: 90% !important;
        }

        .spacing {
          padding-top: 20px !important;
        }
      }
    }

    .footer {
      .copy {
        color: #FFFFFF !important;

        a {
          color: #FFFFFF !important;
          text-decoration: none !important;
        }

        &.yellow {
          font-size: 11px !important;
          color: #FFF6D3 !important;

          a {
            font-size: 11px !important;
            color: #FFF6D3 !important;
            text-decoration: underline !important;
          }
        }
      }

      .connect {
        .copy {
          color: #FFF6D3 !important;
        }
      }
    }
  }
}
