@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 620px;
}
.eleven {
  width: 567px;
}
.six {
  width: 300px;
}
.preheader .copy {
  color: #e5e5e5;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #e5e5e5;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.footer {
  background-color: #e5e5e5;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #4c4c4c;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4c4c4c;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #e5e5e5;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #e5e5e5;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #4c4c4c;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0483c3;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #0083c3;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .tag-wrapper {
  width: auto;
}
.johnsonbox .tag1 {
  width: 341px;
}
.johnsonbox .tag1 .divider {
  display: block;
}
.johnsonbox .tag2 {
  width: 220px;
}
.sidebar {
  background-color: #6dcff6;
}
.sidebar .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar .columns {
  width: 640px;
}
.sidebar .copy {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  color: #3f3f3f;
}
.sidebar .six {
  vertical-align: middle;
  height: 210px;
}
.sidebar .six .alignment {
  height: 210px;
  vertical-align: middle;
}
.sidebar .six table {
  width: 88%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}
.body {
  background-color: #e5e5e5;
}
.preheader .copy {
  color: #e5e5e5;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #e5e5e5;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer {
  background-color: #e5e5e5;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #4c4c4c;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body-copy .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header .columns {
  width: 100%;
}
.header .logo {
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .spacing {
  padding-top: 40px;
}
.footer .copy {
  padding-top: 15px;
}
.sig {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 13px !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .tag1 {
    margin: 0 auto !important;
    float: none !important;
    width: 95% !important;
  }
  *[class].mobile .johnsonbox .tag1 img {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .johnsonbox .tag1 .divider {
    display: none !important;
  }
  *[class].mobile .johnsonbox .tag2 {
    margin: 0 auto !important;
    float: none !important;
    width: 95% !important;
  }
  *[class].mobile .johnsonbox .tag2 img {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .johnsonbox .tag2 td {
    padding-top: 5px !important;
  }
  *[class].mobile .sidebar .columns {
    width: 100% !important;
  }
  *[class].mobile .sidebar .six {
    height: auto !important;
  }
  *[class].mobile .sidebar .six td {
    height: auto !important;
  }
  *[class].mobile .sidebar .six table {
    float: none !important;
    margin: 0 auto !important;
    width: 90% !important;
  }
  *[class].mobile .sidebar .six table .copy {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  *[class].mobile .sidebar .six img {
    width: 100% !important;
    height: auto;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 13px !important;
  }
}
