.sidebar {
  .spacing {
    padding-top: 40px;
  }

  .array {
    .donate {
      padding-bottom: 30px;
    }

    .button {
      td {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
      }
      a {
        line-height: 22px;
        padding: 0;
      }
      span {
        font-size: 59px;
        line-height: 61px;
        color: #ffffff;
        font-weight: bold;
      }
    }

    .last {
      .button {
        a {
          font-size: 28px;
          line-height: 34px;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }

  &.green {
    background-color: #1c5b2e;

    .spacing {
      padding-top: 20px;
    }

    .copy {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      color: #ffffff;

      .orange {
        color: #ef9149;
      }
    }

    .donate {
      padding-top: 12px;
    }

    .button {
      td {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;

        a {
          color: #ffffff;
          font-size: 19px;
          border-radius: 3px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .copy {
        padding-bottom: 15px !important;
      }

      .last {
        padding-bottom: 0 !important;

        a {
          font-size: 22px !important;
          line-height: 27px !important;
        }
      }

      .array {
        span {
          font-size: 40px !important;
        }

        .donate {
          padding-bottom: 20px !important;

          .button {
            td {
              padding-top: 15px !important;
              padding-bottom: 15px !important;
            }
          }
          &.last {
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }
}
