.sidebar {
  .columns {
    width: auto;
  }

  .six {
    width: 234px;
  }

  .list {
    margin: 0 auto;
    width: auto;

    .copy {
      font-weight: bold;
      font-size: 23px;
      line-height: 37px;
      color: #144D6E;
    }

    .bullet {
      padding-right: 10px;
      color: #C9DD34;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .six {
        td {
          text-align: left !important;
          float: none !important;
        }
      }

      .list {
        width: 250px !important;

        .bullet {
          padding-right: 0 !important;
          width: 22px !important;
        }
      }
    }
  }
}
