.solo-donate-button {
  background-color: @johnsonbox-bg;
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
      .button {
        width: 280px !important;
      }
    }
  }
}
