@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.ten {
  width: 494px;
}

.eight {
  width: 387px;
}

.six {
  width: 280px;
}

.four {
  width: 174px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #cc0a1e;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #830613;
  background-color: #830613;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #cc0a1e;
  background-color: #cc0a1e;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #cc0a1e;
}

.button a:hover {
  border-color: #830613;
  background-color: #830613;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #cc0a1e;
  background-color: #cc0a1e;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #830613;
  background-color: #830613;
}

.preheader .copy {
  color: #fff9ba;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fff9ba;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #fa723a;
}

.header .copy a {
  color: #fa723a;
  text-decoration: underline;
}

.header .button td {
  background-color: #ffae5e;
}

.header .button td:hover {
  border-color: #ffae5e;
  background-color: #ffae5e;
  color: #ffffff;
}

.header .button a {
  padding: 7px 0;
  border-color: #ffae5e;
  color: #ffffff;
  background-color: #ffae5e;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #ffae5e;
}

.header .button a:hover {
  border-color: #ffae5e;
  background-color: #ffae5e;
  color: #ffffff;
}

.header .button a:visited,
.header .button a:active {
  border-color: #ffae5e;
  background-color: #ffae5e;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #ffae5e;
  background-color: #ffae5e;
}

.footer {
  background-color: #fff9ba;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 17px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #fa723a;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff9ba;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff9ba;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}

.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #cc0a1e;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ffcc82;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #cc0a1e;
  font-weight: bold;
}

.johnsonbox .copy span {
  font-size: 26px;
}

.johnsonbox.bottom {
  background-color: #fa723a;
}

.johnsonbox.bottom .copy {
  color: #ffffff;
}

.johnsonbox.bottom .username .copy {
  font-weight: normal;
  padding-bottom: 15px;
}

.johnsonbox.bottom .username .input {
  padding-bottom: 10px;
}

.johnsonbox.bottom .username .input a,
.johnsonbox.bottom .username .input td {
  background-color: #ffffff;
  color: #cc0a1e;
  mso-border-color-alt: #ffffff;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: #ffe7e9;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #cc0a1e;
  color: #ffffff;
}

.gift-array {
  background-color: #ffffff;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #ce4124;
}

.gift-array .spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gift-array table.array {
  width: 180px;
}

.gift-array table.array td {
  background-color: #ffe7e9;
  padding: 30px 5px;
  border-radius: 5px;
}

.gift-array table.array a {
  width: 90%;
  display: block;
  background-color: #ffe7e9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #cc0a1e;
  border-radius: 5px;
}

.gift-array table.array a:active,
.gift-array table.array a:hover,
.gift-array table.array a:visited {
  background-color: #ffe7e9;
  color: transparent;
}

.gift-array table.array.active a,
.gift-array table.array.active td {
  background-color: #cc0a1e;
  color: #ffffff;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sidebar .spacing {
  padding-top: 0;
}

.sidebar .copy .nounder {
  text-decoration: none;
  font-weight: bold;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 20px;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  background-color: #fff9ba;
}

.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .logo {
  width: 75%;
}

.header .view-donate {
  width: 25%;
}

.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #fa723a;
}

.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.header .donate {
  width: 100%;
}

.header .button {
  width: 100%;
  max-width: 167px;
}

.header .button a {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #fff9ba;
}

.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}

.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}

.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}

.forward {
  width: 100%;
  background-color: #ffffff;
}

.forward .copy {
  color: #000000;
}

.outlook-array td {
  padding-left: 0;
  padding-right: 0;
}

.outlook-array table td {
  background-color: #ffe7e9;
  padding: 0;
}

table,
tr,
td {
  mso-line-height-rule: exactly;
}

.johnsonbox .button a {
  padding: 15px 0;
}

.smaller {
  font-size: 15px;
  line-height: 20px;
}

.preheader {
  width: 100%;
  background-color: #ffffff;
}

.preheader .copy {
  background-color: #ffffff;
  color: #ffffff;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .ten {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 23px !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 16px !important;
  }

  *[class].mobile .gift-array .spacing {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .gift-array .copy {
    text-align: center !important;
  }

  *[class].mobile .gift-array .array {
    width: 100% !important;
  }

  *[class].mobile .gift-array .array td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .gift-array .array a {
    padding: 15px 0 !important;
    width: 100% !important;
    font-size: 28px !important;
  }

  *[class].mobile .ps-statement .spacing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sig .spacing {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }

  *[class].mobile .header .logo {
    width: 60% !important;
  }

  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 213px !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 40% !important;
  }

  *[class].mobile .header .view-donate {
    width: 50% !important;
  }

  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }

  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }

  *[class].mobile .gift-array a {
    padding: 0 !important;
    font-size: 30px !important;
    line-height: 30px !important;
  }
}
