@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 580px;
}

.twelve {
  width: 580px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.button td:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #f8981d;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f8981d;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #f8981d;
  text-decoration: none;
  border-radius: 5px;
  mso-border-alt: 1px solid #ffffff;
}

.button a:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #f8981d;
}

.button a:visited,
.button a:active {
  border-color: #f8981d;
  background-color: #ffffff;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #595959;
  text-align: left;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #595959;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #595959;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ff7600;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 30px;
  padding-top: 40px;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #595959;
  text-align: left;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
}

.footer .social-icons {
  padding-top: 30px;
  padding-bottom: 30px;
  width: auto;
}

.footer .social-icons img {
  width: auto;
  height: auto;
}

.footer .social-icons table td {
  padding: 0 30px 0 0;
}

.footer .social-icons table td:last-child {
  padding-right: 0;
}

.footer .button td {
  background-color: #ffffff;
}

.footer .button a {
  padding: 10px 20px;
  background-color: #ffffff;
  border-color: #f8981d;
  border-radius: 5px;
  color: #f8981d;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 100%;
  mso-border-alt: 1px solid #f8981d;
  text-decoration: none;
  width: 100%;
  border: 2px solid #f8981d;
}

/* uncss:ignore */

.body-copy .copy img {
  display: inline-block;
}

/* uncss:ignore */

.outlook-hide {
  display: none !important;
}

.body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-bottom: 50px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #595959;
  text-align: left;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
}

.footer .donate a {
  padding: 15px 20px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 18px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .social-icons {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
