.list {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bullet {
    padding-right: 20px;
  }
}

.body-copy {
  a {
    font-size: @font-size;
  }

  strong {
    font-family: @font-family;
  }
}

strong a {
  font-weight: bold !important;
}

.unsubscribe.copy,
.unsubscribe.copy a {
  font-family: Arial, Helvetica, sans-serif;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }

    .ten {
      width: 90% !important;
    }
  }
}
