@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.eight {
  width: 387px;
}
.seven {
  width: 334px;
}
.six {
  width: 280px;
}
.four {
  width: 174px;
}
.three {
  width: 120px;
}
.button {
  float: none !important;
}
.button td {
  padding: 10px 0;
  background-color: #FB5309;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: 100%;
  display: block;
  border-color: #FB5309;
  background-color: #FB5309;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #FB5309;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 12px;
  line-height: 17px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
}
.header .button td {
  padding: 7px 0;
  background-color: #FB5309;
}
.header .button a {
  border-color: #FB5309;
  color: #FFFFFF;
  background-color: #FB5309;
  font-weight: 800;
  font-size: 28px;
  mso-border-alt: 1px solid #FB5309;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #2d2d2d;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #2d2d2d;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  text-decoration: underline;
  color: #FB5309;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 20px;
}
.hero {
  border-bottom: 6px solid #FB5309;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 32px;
  line-height: 40px;
  color: #FB5309;
  font-weight: 800;
}
.johnsonbox .button {
  width: 200px;
}
.johnsonbox .button td {
  padding: 5px 0;
}
.johnsonbox .button a {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-weight: 800;
  font-size: 28px;
}
.johnsonbox .twelve {
  width: 580px;
}
.johnsonbox.donate-button {
  background-color: #ffffff;
  border-bottom: 1px solid #EB5F1E;
}
.johnsonbox.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 45px;
}
.johnsonbox.donate-button .button {
  width: 200px;
}
.johnsonbox.donate-button .button td {
  padding: 5px 0;
}
.johnsonbox.donate-button .button a {
  padding: 0;
  font-size: 28px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 640px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 12px;
  line-height: 17px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.header .donate-button {
  height: 100%;
  background-color: #ffffff;
}
.header .donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 0;
  mso-padding-top-alt: 20px;
}
.header .button {
  width: 100%;
}
.header .button td {
  padding: 10px 0;
}
.header .button a {
  mso-border-alt: 1px solid #FB5309;
  font-weight: 800;
  color: #FFFFFF;
}
.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #2d2d2d;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
.header {
  border-left: 1px solid #EB5F1E;
  border-right: 1px solid #EB5F1E;
}
.header .columns {
  width: 93%;
}
.header .button {
  width: 200px;
}
.header .button td {
  padding: 5px 0;
}
.header .button a {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-weight: 800;
}
.header .three .copy a {
  font-family: Arial, Helvetica, sans-serif;
}
.main-content {
  border-left: 1px solid #EB5F1E;
  border-right: 1px solid #EB5F1E;
}
.hero-text {
  background-color: #A13404;
}
.hero-text .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero-text .copy {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: #FFFFFF;
}
.body-copy .ten {
  border-top: 1px solid #D6D6D6;
}
.body-copy .ten .copy {
  padding-top: 35px;
}
.footer .connect {
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 0;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 16px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 28px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 200px !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 23px !important;
  }
  *[class].mobile .donate-button .button {
    width: 200px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 23px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .copy {
    display: block !important;
    font-family: Arial, Helvetica, sans-serif, "Open Sans" !important;
    font-size: 12px !important;
    text-align: center !important;
  }
  *[class].mobile .header .copy a {
    font-family: Arial, Helvetica, sans-serif, "Open Sans" !important;
    font-size: 12px !important;
  }
  *[class].mobile .header .button {
    margin: 0 auto !important;
    width: 200px !important;
  }
  *[class].mobile .header .button a {
    font-size: 28px !important;
  }
  *[class].mobile .footer .connect {
    width: 100% !important;
  }
}
