.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 0;
    padding-bottom: 35px;
  }

  .copy {
    padding-top: 40px;
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}
