.arrow.after {
  td {
    padding-bottom: 20px;
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .copy {
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: @font-size - 3 !important;
        line-height: @line-height - 3 !important;
      }
    }
  }
}
