table, td {
  mso-line-height-rule: exactly;
}

// Header
.header {
  border-bottom: 1px solid #E5E7E9;

  .spacing {
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
  }

  .columns {
    width: 560px;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 3px;
      }
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.highlight {
  background-color: #F8E71C;
}

.johnsonbox {
  &.green {
    .highlight {
      background-color: #BBCF5B;
    }
  }
}

.forward {
  background-color: @content-bg;
  width: 100%;

  .columns {
    width: @content-width - 23;
    border-bottom: 1px solid #B5C4DF;
  }

  .spacing {
    padding-bottom: 30px;
  }

  .copy {
    color: #000000;
    font-size: 19px;

    a {
      color: #0413FF;
    }
  }
}

.sender {
  width: 100%;
  background-color: @content-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .columns {
    width: 627px;
  }

  .copy {
    font-size: 16px;
    line-height: 27px;
    color: #000000;
  }

  .titles {
    padding-right: 10px;
  }
}

.divider {
  height: 20px;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
}

@media @content {
  *[class].mobile {

  }
}
