.johnsonbox {
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
    background-color: @johnsonbox-bg;

    &.bottom {
      border-left: 1px solid #EDF6F7;
      border-right: 1px solid #EDF6F7;
      border-bottom: 1px solid #EDF6F7;
    }
  }

  .story-cell {
    width: 90%;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .story-header {
    padding-top: 30px;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
    font-weight: normal;
  }

  .cell {
    width: 200px;
  }

  .button-cell {
    padding-bottom: 30px;
  }

  table.button {
    width: 161px;
    height: 40px;

    td {
      padding: 0;
    }

    a {
      background-color: @button-bg;
      font-family: @font-family;
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .story-link {
    &.copy {
      background-color: #ffffff;
      color: #E31C79;

      a {
        color: #E31C79;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .story-header {
        padding-top: 25px !important;
        font-size: @newsletter-story-header-font-size !important;
        line-height: @newsletter-story-header-line-height !important;
      }

      .cell {
        width: 200px !important;
        height: 40px !important;
      }

      .button-cell {
        padding-bottom: 25px !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
