.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .copy {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .title {
    width: 100%;
    background-color: #0337AE;

    .copy {
      padding-top: 18px;
      padding-bottom: 18px;
      color: #ffffff;
      font-family: @encode-sans;
      font-size: 37px;
      line-height: 46px;
      font-weight: 800;
    }
  }

  .button {
    width: 320px;

    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      font-family: @encode-sans;
      font-size: @button-font-size;
      font-weight: 800;
    }
  }

  &.top {
    background-color: #0337AE;

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .copy {
      padding-top: 15px;
      padding-bottom: 0;
      font-family: @encode-sans;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      font-weight: 500;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
    font-size: @button-font-size;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .button {
        width: 220px !important;

        a {
          font-size: 20px !important;
        }
      }

      .title {
        width: 100% !important;

        .copy {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
          font-size: 22px !important;
        }
      }

      &.top {
        .copy {
          font-size: 20px !important;
        }
      }
    }
  }
}
