@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.twelve {
  width: 595px;
}
.ten {
  width: 490px;
}
.header {
  background-color: #04A4A6;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer {
  background-color: #04A4A6;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #04A4A6;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #04A4A6;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}
.section {
  margin: 0 auto;
  width: 635px;
}
.main-content {
  width: 635px;
  background-color: #04A4A6;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
td.hide {
  min-width: 635px;
}
td.hide img {
  width: 635px;
  min-width: 635px;
}
.hero {
  margin: 0 auto;
  width: auto;
  border: 6px solid #ffffff;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #04A4A6;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig .signature {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .spacing {
  padding-top: 0;
}
.footer .address {
  line-height: 25px;
}
@media only screen and (max-width: 635px ) {
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 10px !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero {
    width: 95% !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header img {
    width: 98% !important;
    height: auto !important;
  }
}
