.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.red {
    .columns {
      background-color: #c52929;
    }

    .copy,
    .copy a {
      color: #ffffff;
      font-weight: @johnsonbox-font-weight;
    }

    .copy {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 55px;
      padding-right: 55px;
    }

    .copy a {
      text-decoration: underline;
    }
  }

  &.bottom {
    .spacing {
      padding-bottom: 30px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.red {
        .copy {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    }
  }
}
