.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;

    a {
      font-size: @johnsonbox-font-size;
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size + 1 !important; 
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }
    }
  }
}