.story {
  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .columns {
    width: 100%;
  }

  .six {
    width: @newsletter-story-block-width;
    height: @newsletter-story-block-height;
  }

  .story-content {
    height: @newsletter-story-block-height;
    vertical-align: middle;

    table {
      width: 90%;
      vertical-align: middle;
    }
  }

  .heading {
    padding-bottom: 10px;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
    font-weight: @newsletter-story-header-font-weight;
  }

  a.story-link {
    padding-top: 10px;
    font-family: @font-family;
    color: @link-color;
    font-weight: @link-weight;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .spacing {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }

      .six {
        float: none !important;
        height: auto !important;
      }

      .story-content {
        height: auto !important;

        table {
          width: 100% !important;
        }
      }

      .heading {
        padding-top: 20px !important;
      }
    }
  }
}
