.view-online {
  .copy {
    padding-bottom: 10px;
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      line-height: @header-line-height;
      text-decoration: @header-link-text-decoration;
      color: @header-link-color;
      font-weight: @header-font-weight;
    }
  }
}

.header {
  .columns {
    width: 100%;
  }
}

.body-copy {
  .eleven {
    width: 500px;
  }
}

.divider {
  border-top: 1px solid #333333;

  .copy {
    font-size: 5px;
    line-height: 5px;
  }
}

.footer {
  .footer-address {
    a {
      font-weight: normal;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .footer {
      .footer-address {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
