@content-width:             600px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               21px;
@text-color:                #333333;
@link-color:                #DE2C30;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-width:                  165px;
@button-height:                 36px;
@button-bg:                     #DE2C30;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 0px;
@button-font-family:            @font-family;
@button-font-size:              17px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#dddddd;
@header-button-border:          		#98953B;
@header-button-color:           		#ffffff;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             #666666;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #666666;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

@johnsonbox-bg:           					#DE2C30;
@johnsonbox-font-family:  					@font-family-serif;
@johnsonbox-font-size:    					32px;
@johnsonbox-line-height:  					36px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@johnsonbox-mobile-font-size: @johnsonbox-font-size - 5;
@johnsonbox-mobile-line-height: @johnsonbox-line-height - 5;

@gift-array-bg:         					#eeeeee;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			transparent;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     #ffffff;
@footer-color:                  #4A4A4A;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 7;
@footer-text-align:             center;
