.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.white {
    background-color: #ffffff;

    &.bottom {
      border-top: 2px solid #FF9600;
      border-bottom: 2px solid #FF9600;

      .spacing {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .donate {
        padding-bottom: 20px;
      }

      .copy {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }
  }

  &.top {
    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &.second {
    .spacing {
      padding-top: 10px;
      padding-bottom: 25px;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .donate {
      padding-top: 5px;
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.white {
        .columns {
          width: 100% !important;
        }

        img {
          width: 100% !important;
        }

        &.bottom {
          img {
            width: auto !important;
          }
        }
      }
    }
  }
}
