.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .mobile-show {
    display: none;

    .copy {
      font-size: 0px;
      line-height: 0px;
    }
  }

  .mobile-hide {
    width: @content-width;
    display: block;

    .copy {
      width: @content-width;
    }
  }

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.bottom {
    background-color: @content-bg;

    .columns {
      width: 90%;
    }

    .copy {
      color: @text-color;
      font-size: @font-size + 3;
      line-height: @line-height + 3;
      font-weight: normal;
    }

    .heading {
      padding-bottom: 5px;
      font-size: 32px;
      line-height: 42px;
      color: #935095;
      font-weight: bold;
    }

    .donate {
      padding-top: 10px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .donate {
        padding-top: 10px !important;
      }

      .copy {
        padding-bottom: 0 !important;
        font-size: 30px !important;
        line-height: 32px !important;
      }

      .mobile-show {
        display: block !important;

        td {
          padding-top: 10px !important;
        }

        .copy {
          padding-bottom: 0 !important;
          font-size: 30px !important;
          line-height: 32px !important;
        }
      }

      .mobile-hide {
        display: none !important;
      }

      &.bottom {
        .twelve, .columns {
          width: 73% !important;
        }

        .copy {
          font-size: @font-size !important;
          line-height: @line-height !important;
        }

        .heading {
          font-size: 28px !important;
          line-height: 32px !important;
        }
      }
    }
  }
}
