body {
  margin: 0 auto;
  padding: 0;
  background-color: @body-bg;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: @body-bg;

  img {
    float: none;
    display: block;
    border: 0px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0px !important;
    mso-table-lspace: 0;
    mso-table-rspace: 0;
  }
}

.spacing {
  padding-top: @content-padding;
  padding-bottom: @content-padding;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: @paragraph-space;
  font-size: @paragraph-space;
  line-height: @paragraph-space;
}

// Content Styles
.section {
  margin: 0 auto;
  width: @content-width;
}

.main-content {
  width: @content-width;
  background-color: @content-bg;
}

.content {
  width: @content-width - @gutter-width;
}

// Text Styles
.copy {
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
  color: @text-color;

  a {
    font-family: @font-family;
    text-decoration: @link-decoration;
    color: @link-color;
    font-weight: @link-weight;
  }
}

.preheader {
  .copy {
    color: @preheader-color;
    font-size: 0;
    line-height: 0;
  }
}

td.hide {
  min-width: @content-width;

  img {
    width: @content-width;
    min-width: @content-width;
  }
}

// Useful utilities
.mobile-hide {
  display: block;
}

@media @content {
  *[class].mobile {
    div, a, li, td, .copy {
      -webkit-text-size-adjust: none !important;
      -ms-text-size-adjust: none !important;
    }

    .main-content, .section {
      width: 100% !important;
    }

    img {
      width: auto !important;
      max-width: 100% !important;
      height: auto !important;
    }

    .content {
      width: 95% !important;
    }

    .hide {
      display: none !important;
    }

    // Useful utilities
    .mobile-hide {
      display: none !important;
    }
  }
}
