.button {
  float: none;
  width: @button-width;
  height: @button-height;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    height: @button-height;
    background-color: @button-bg;
    text-align: center;
    border-radius: @button-radius;
  }

  a {
    width: 100%;
    height: @button-height;
    display: block;
    border-color: @button-border;
    background-color: @button-bg;
    font-family: @button-font-family;
    font-size: @button-font-size;
    font-weight: @button-font-weight;
    color: @button-color;
    text-decoration: @button-text-decoration;
    border-radius: @button-radius;
  }
}

@media @content {
  *[class].mobile {
    .button {
      width: @button-mobile-width !important;
      height: @button-mobile-height !important;

      a {
        font-size: @button-mobile-font-size !important;
      }
    }
  }
}
