.columns {
  margin: 0 auto;
  .grid-width(@content-width);
}

// Creating Grid
.make-grid(@grid-columns, @content-width);

.columns {
	.first {
		padding-left: 0;
	}
	.last {
		padding-right: 0;
	}
}

@media @content {
  *[class].mobile {
    .columns, .twelve {
      width: 90.625% !important;
    }

    .one, .two, .three, .four,
    .five, .six, .seven, .eight,
    .nine, .ten, .eleven, .twelve {
      width: 90.625% !important;
    }

    .columns {
      .one, .two, .three, .four,
      .five, .six, .seven, .eight, 
      .nine, .ten, .eleven, .twelve {
        width: 100% !important;
      }
    }
  }
}
