// Email Client Hacks
@viewport {
  width: device-width !important;
}

/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

// for Hotmail
/* uncss:ignore */
.ReadMsgBody { width: 100%; }
/* uncss:ignore */
.ExternalClass { width: 100%; }

// for Outlook
table td {
  border-collapse: collapse;
}

/* uncss:ignore */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
.ExternalClass td, .ExternalClass div {
  line-height: 100%;
}

// for Yahoo
/* uncss:ignore */
.yshortcuts a { border-bottom: none !important; }


// for Android Devices
td.hide {
  font-size: 0px;
  line-height: 0px;

  img {
    text-decoration: none;
    border: none;
    -ms-interpolation-mode: bicubic;
  }
}
