.footer {
  background-color: @footer-bg;
  text-align: @footer-text-align;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  img {
    width: auto;
    height: auto;
  }

  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;
    font-weight: @footer-font-weight;

    a {
      font-family: @footer-font-family;
      font-size: @footer-font-size;
      line-height: @footer-line-height;
      color: @footer-link-color;
      text-decoration: @footer-text-decoration;
      font-weight: @footer-font-weight;
      text-align: @footer-text-align;
    }
  }

  .copy.smaller {
    padding-bottom: 10px;
    font-size: @footer-font-size - 1;
    line-height: @footer-line-height - 1;

    a {
      font-size: @footer-font-size - 1;
      line-height: @footer-line-height - 1;
    }
  }

  .address {
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      font-weight: normal;
    }
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding: 0 3px;
    }
  }

  .affiliates {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .address {
    a {
      font-weight: normal;
    }
  }
}

@media @content {
  *[class].mobile {
    .footer {
      img {
        width: auto !important;
        height: auto !important;
      }

      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }
      }

      .copy.smaller, .copy.smaller a {
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
      }

      .social-icons, .affiliates {
        width: auto !important;
      }

      .address {
        a {
          font-weight: @footer-link-font-weight !important;
        }
      }
    }
  }
}
