.header {
  background-color: @header-bg;

  img {
    width: auto;
    height: auto;
  }

  .spacing {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .logo {
    width: 45%;
  }

  .donate {
    width: 45%;
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    font-weight: @header-font-weight;

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      line-height: @header-line-height;
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-link-font-weight;
    }
  }

  .button {
    width: @header-button-width;
    height: @header-button-height;

    td {
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: @header-button-bg;
      border: @header-button-border;
      width: @header-button-width;
      height: @header-button-height;
    }

    a {
      width: @header-button-width;
      height: @header-button-height;
      background-color: @header-button-bg;
      border-color: @header-button-border;
      font-family: @header-button-font-family;
      font-size: @header-button-font-size;
      color: @header-button-color;
      font-weight: @header-button-font-weight;
      text-decoration: @header-button-text-decoration;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .copy {
        font-size: @header-mobile-font-size !important;
        line-height: @header-mobile-line-height !important;
      }

      .logo {
        padding-right: 10px !important;

        img {
          max-width: 150px !important;
          width: 100% !important;
          height: auto !important;
        }
      }

      .donate {
        width: @header-button-width !important;
      }

      .button {
        width: @header-button-mobile-width !important;
        height: @header-button-mobile-height !important;

        a {
          font-size: @header-button-mobile-font-size !important;
        }
      }
    }
  }
}
