@cols: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;

// Creating Mobile Grid
.calc-mobile-grid(@index) when (@index > 0) {
  @name: extract(@cols, @index);

  & when (@name = "twelve") {
    .columns {
      width: percentage((@index / @grid-columns));
    }
  }
  .@{name} {
    width: percentage((@index / @grid-columns));
  }
}
.make-mobile-grid(@index) when (@index >= 0) {
  .calc-mobile-grid(@index);
  // next iteration
  .make-mobile-grid(@index - 1);
}

// Creating Regular Grid
.calc-grid(@index, @width) when (@index > 0) {
  @name: extract(@cols, @index);
  & when (@name = "twelve") {
    .columns {
      width: ceil((@index / @grid-columns) * @width) - (@gutter-width);
    }
  }
  .@{name} {
    width: ceil((@index / @grid-columns) * @width) - (@gutter-width);
  }
}

.make-grid(@index, @width) when (@index >= 0) {
  .calc-grid(@index, @width);
  // next iteration
  .make-grid(@index - 1, @width);
}

// Calculating Content Width
.grid-width(@width) {
  width: @width - (@gutter-width);
}