.body-copy {
  border-bottom: 2px solid #ebebeb;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-bottom: 10px;
  }
}

.donate-button {
  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
    }
  }
}

.no-blue {
  font-family: @footer-font-family;
  font-size: @footer-font-size;
  line-height: @footer-line-height;
  font-weight: normal;
  color: @footer-link-color;
  text-align: @footer-text-align;
  text-decoration: @footer-text-decoration;
}

@media @content {
  *[class].mobile {

  }
}
