.indent {
  padding-left: 50px;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  border-top: 4px solid #cebcae;

  .spacing {
    padding-top: 30px;
  }

  .donate-social {
    padding-top: 20px;
  }
}

.ps {
  &.copy {
    width: auto;
  }
}

@media @content {
  *[class].mobile {
    .indent {
      padding-left: 10px !important;
    }

    .header {
      .spacing {
        padding-right: 15px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .indent {
      padding-left: 10px !important;
    }

    .header {
      .spacing {
        padding-right: 15px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .indent {
      padding-left: 10px !important;
    }

    .header {
      .spacing {
        padding-right: 15px !important;
      }
    }
  }
}
