@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 510px;
}
.twelve {
  width: 510px;
}
.eleven {
  width: 465px;
}
.ten {
  width: 419px;
}
.eight {
  width: 327px;
}
.button {
  float: none;
  width: 349px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #AB0634;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #AB0634;
  background-color: #AB0634;
  font-family: Impact, Charcoal, sans-serif, 'Oswald';
  font-size: 30px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 121px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #005695;
  border: #005695;
  width: 121px;
  height: auto;
}
.header .button a {
  width: 121px;
  height: auto;
  background-color: #005695;
  border-color: #005695;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #595959;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #595959;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 550px;
}
.main-content {
  width: 550px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #AB0634;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 550px;
}
td.hide img {
  width: 550px;
  min-width: 550px;
}
.hero .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}
.hero.top {
  width: 349px;
  background-color: #26B7C8;
}
.hero.top .copy {
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  font-weight: bold;
}
.johnsonbox {
  background-color: #F2FBFB;
}
.johnsonbox .spacing {
  padding-top: 30px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  font-weight: normal;
  text-align: center;
}
.johnsonbox.orange .spacing {
  padding-top: 10px;
}
.johnsonbox.orange .copy {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #E93A23;
  font-weight: bold;
}
.johnsonbox.orange .copy span {
  text-decoration: underline;
}
.johnsonbox.orange .donate {
  padding-bottom: 30px;
}
.johnsonbox .thanks {
  width: auto;
  margin: 0 auto;
}
.johnsonbox .thanks img {
  display: inline-block;
}
.johnsonbox .thanks .copy {
  padding-bottom: 0;
  padding-right: 15px;
  vertical-align: top;
  height: 33px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #4A4A4A;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
}
.johnsonbox .button td {
  padding-top: 3px;
  padding-bottom: 3px;
}
.text-donate-button {
  background-color: #ffffff;
}
.text-donate-button .spacing {
  padding-top: 0;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 19px;
  line-height: 26px;
  color: #4A4A4A;
  font-weight: normal;
  text-align: center;
}
.header .columns {
  width: 100%;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .spacing {
  padding-top: 20px;
}
.header .logo {
  width: 60%;
}
.header .view-donate {
  width: 40%;
}
.header .view-donate .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.timer td {
  padding-top: 20px;
  padding-bottom: 15px;
}
.forward-bar {
  background-color: #EAEAE9;
}
.forward-bar .copy {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  color: #5E4D42;
  font-size: 16px;
  line-height: 28px;
}
.forward-bar .title {
  width: 90px;
  padding-right: 10px;
}
.body-copy .ten {
  width: 456px;
}
.body-copy .eight {
  width: 377px;
}
.body-copy .list .bullet {
  padding-right: 20px;
}
.body-copy .list .copy span {
  font-weight: bold;
  text-decoration: underline;
}
.footer .logo td {
  padding-bottom: 20px;
}
.footer .client-info .address {
  padding-top: 30px;
}
@media only screen and (max-width: 550px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eight,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 300px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 121px !important;
  }
  *[class].mobile .header .button {
    width: 121px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    line-height: 14px !important;
    color: #595959 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 11px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 90% !important;
    max-width: 340px !important;
    height: auto !important;
  }
  *[class].mobile .hero .spacing {
    padding-top: 30px !important;
  }
  *[class].mobile .hero.top {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox .thanks {
    width: auto !important;
  }
  *[class].mobile .johnsonbox .thanks .copy {
    padding-right: 10px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 19px !important;
    line-height: 26px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 287px !important;
  }
  *[class].mobile .header .view-donate {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .view-donate .donate {
    padding-top: 20px !important;
  }
  *[class].mobile .header .view-donate .button {
    float: none !important;
    margin: 0 auto !important;
    display: block !important;
  }
  *[class].mobile .forward-bar .copy {
    font-family: Arial, Helvetica, sans-serif, 'Montserrat' !important;
    font-size: 16px !important;
    line-height: 23px !important;
  }
  *[class].mobile .timer img {
    width: 95% !important;
    height: auto !important;
  }
  *[class].mobile .body-copy .list .bullet {
    padding-right: 10px !important;
  }
  *[class].mobile .footer .client-info .address {
    padding-top: 30px !important;
  }
}
