.story {
  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &.bottom {
    .spacing {
      padding-bottom: 30px;
    }
  }

  .columns {
    width: 100%;
    background-color: #ffffff;
  }

  .six {
    width: 324px;
    height: 351px;

    &.content-block {
      width: 320px;
      background-color: #ffffff;
      border-top: 1px solid #F3F3F3;
      border-right: 1px solid #F3F3F3;
      border-bottom: 1px solid #F3F3F3;
      vertical-align: middle;
    }

    .story-cell {
      margin: 0 auto;
      width: 85%;
    }
  }

  .copy {
    font-family: @font-family;
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      font-size: @font-size;
      line-height: @line-height;
      color: @text-color;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .story-header {
    padding-top: 0;
    padding-bottom: 0;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-story-header-font-size;
    line-height: @newsletter-story-header-line-height;
    color: @newsletter-story-header-color;
    font-weight: normal;

    a {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-story-header-font-size;
      line-height: @newsletter-story-header-line-height;
      color: @newsletter-story-header-color;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .cell {
    width: 200px;
  }

  .author-block {
    width: 100%;

    .spacing {
      padding-top: 0;
    }
  }

  table.button {
    width: 161px;
    height: 40px;

    td {
      padding: 0;
      height: 40px;
      background-color: @button-bg;
    }

    a {
      background-color: @button-bg;
      font-family: @font-family;
      font-size: 18px;
      line-height: 40px;
      font-weight: 600;
      color: #ffffff;
      mso-border-alt: 1px solid @button-bg;
    }
  }

  &.recap {
    .six {
      height: 298px;
    }
  }
}

.story.featured {
  background-color: @content-bg;
  border-bottom: 0 solid transparent;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    padding-bottom: 0;
    font-family: @font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: #4A4A4A;

    a {
      font-family: @font-family;
      font-size: @newsletter-featured-font-size;
      line-height: @newsletter-featured-line-height;
      color: #4A4A4A;
      text-decoration: none;
      font-weight: normal;
    }
  }

  .button-cell {
    padding-top: 30px;
  }

  .story-header {
    padding-top: 0;
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-featured-header-font-size;
    line-height: @newsletter-featured-header-line-height;
    color: @newsletter-featured-header-color;
    font-weight: normal;

    a {
      font-family: @newsletter-story-header-font-family;
      font-size: @newsletter-featured-header-font-size;
      line-height: @newsletter-featured-header-line-height;
      color: @newsletter-featured-header-color;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .copy-text {
    width: 590px;
  }

  &.piggy {
    background-color: transparent;

    .spacing {
      padding-bottom: 0;
    }

    .columns {
      background-color: #ffffff;
      border-top: 0 solid transparent;
      border-left: 1px solid #EDF6F7;
      border-right: 1px solid #EDF6F7;
    }

    .copy {
      padding-bottom: 20px;
      font-size: 17px;
      line-height: 25px;
    }

    .story-header {
      padding-bottom: 0;
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.highlighted {
  .columns {
    background-color: #F3ECE3;
  }
}

@media @content {
  *[class].mobile {
    .story {
      img {
        width: 100% !important;
        height: auto !important;
      }

      &.bottom {
        .spacing {
          padding-bottom: 25px !important;
        }
      }

      .six {
        height: auto !important;

        td {
          height: auto !important;
        }

        &.content-block {
          display: block !important;
          height: auto !important;
          border-top: 0 solid transparent !important;
          border-right: 1px solid #F3F3F3 !important;
          border-left: 1px solid #F3F3F3 !important;
          border-bottom: 1px solid #F3F3F3 !important;
        }
      }

      &.recap {
        .spacing {
          padding-bottom: 30px !important;
        }
      }

      .seven {
        height: auto !important;
      }

      .five {
        height: auto !important;
        border-top: 0 solid transparent !important;
        border-left: 1px solid #EDF6F7 !important;
        border-right: 1px solid #EDF6F7 !important;
        border-bottom: 1px solid #EDF6F7 !important;

        td {
          height: auto !important;
        }

        .story-cell {
          width: 90% !important;
        }
      }

      .button-cell {
        padding-bottom: 25px !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }

    .story.featured {
      .spacing {
        padding-bottom: 0 !important;
      }
      .copy {
        font-size: @font-size !important;
        line-height: @line-height !important;
      }

      .copy-text {
        width: 90% !important;

        .copy {
          padding-bottom: 20px !important;
        }
      }

      .story-header {
        padding-top: 0 !important;
        font-size: @newsletter-story-header-font-size !important;
        line-height: @newsletter-story-header-line-height !important;
      }

      &.piggy {
        .eleven {
          width: 90% !important;
        }
      }
    }
  }
}
