/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.body-copy {
  .eleven {
    width: 540px;
  }

  .graphic {
    &.top {
      padding-top: 20px;
    }
    &.bottom {
      padding-bottom: 20px;
    }
  }
}

.big {
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
}

.footer {
  border-top: 4px solid #ce0807;
}

@media @content {
  *[class].mobile {
    .eleven {
      width: 95% !important;
    }

    .body-copy {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height - 2 !important;
      }

      .graphic {
        &.top {
          padding-top: 10px !important;
        }
        &.bottom {
          padding-bottom: 10px !important;
        }
      }
    }
  }
}
