@media @content {
  *[class].mobile {
    .header {
      .unsubscribe {
        padding-right: 0 !important;
      }

      .logo {
        width: 65% !important;

        img {
          width: 90% !important;
          height: auto !important;
        }
      }

      .donate {
        width: 35% !important;
      }
    }
  }
}
