/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .text {
    width: 570px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {

    table {
      width: @gift-array-btn-width;
    }

    a {
      padding: 20px 5px 5px;
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-top: 10px !important;
        padding-bottom: 0 !important;
      }

      .array {
        table {
          td {
            padding-top: 10px !important;
            padding-bottom: 0 !important;

            a {
              padding-top: 0 !important;
            }
          }
        }
      }
    }
  }
}
