@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eleven {
  width: 510px;
}
.ten {
  width: 460px;
}
.button {
  float: none;
  width: 121px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #005695;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #005695;
  background-color: #005695;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .button {
  width: 121px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #005695;
  border: #005695;
  width: 121px;
  height: auto;
}
.header .button a {
  width: 121px;
  height: auto;
  background-color: #005695;
  border-color: #005695;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 11px;
  line-height: 14px;
  color: #595959;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 11px;
  line-height: 14px;
  color: #595959;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #000000;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  font-weight: 400;
  text-align: center;
}
.johnsonbox .copy.red {
  padding-bottom: 10px;
  font-family: Impact, Helvetica, sans-serif, 'Oswald';
  font-size: 30px;
  line-height: 35px;
  color: #AB0634;
  font-weight: 500;
}
.johnsonbox.link-lists .twelve {
  width: auto;
}
.johnsonbox.link-lists .link {
  width: auto;
}
.johnsonbox.link-lists .link td {
  padding-left: 15px;
  padding-right: 15px;
}
.johnsonbox.link-lists .link a {
  font-family: Impact, Helvetica, sans-serif, 'Oswald';
  font-weight: 500;
  color: #009BAF;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
}
.johnsonbox.link-lists .border {
  border-left: 2px solid #979797;
}
.header .columns {
  width: 100%;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .view-donate .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.body-copy .bullet {
  padding-right: 20px;
  padding-left: 70px;
  vertical-align: top;
}
.body-copy .list {
  width: 490px;
}
.body-copy .list .copy-spacer {
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}
.footer .logo td {
  padding-bottom: 20px;
}
.footer .connect .social-icons td {
  padding-left: 10px;
  padding-right: 10px;
}
.footer .client-info .copy {
  padding-top: 20px;
}
.footer .affiliates td {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 121px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 121px !important;
  }
  *[class].mobile .header .button {
    width: 121px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif, 'Montserrat' !important;
    font-size: 11px !important;
    line-height: 14px !important;
    color: #595959 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 11px !important;
    line-height: 14px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 18px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox .copy.red {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  *[class].mobile .johnsonbox.link-lists .twelve {
    width: auto !important;
  }
  *[class].mobile .johnsonbox.link-lists .spacing {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .johnsonbox.link-lists .link {
    width: auto !important;
  }
  *[class].mobile .johnsonbox.link-lists .link td {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  *[class].mobile .johnsonbox.link-lists .link a {
    font-size: 16px !important;
    line-height: 31px !important;
  }
  *[class].mobile .johnsonbox.link-lists .link.first td {
    padding-left: 0 !important;
  }
  *[class].mobile .johnsonbox.link-lists .link.last td {
    padding-right: 0 !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
    padding-right: 0 !important;
  }
  *[class].mobile .header .logo td {
    padding-bottom: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 250px !important;
    width: 250px !important;
    height: auto !important;
  }
  *[class].mobile .header .view-donate {
    width: 100% !important;
  }
  *[class].mobile .header .view-donate .button {
    display: block !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .body-copy .bullet {
    padding-right: 10px !important;
    padding-left: 0 !important;
  }
  *[class].mobile .body-copy .list {
    width: 90% !important;
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 20px !important;
  }
}
