// Brand Colors
@yellow:                    #f5d732;
@black:                     #000000;
@magenta:										#b30639;

@content-width:             600px;

@body-bg:                   #ffffff; 
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #2c2c2c;
@link-color:                @magenta;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     @magenta;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-hover-bg:               lighten(@button-bg,15%);
@button-hover-border:           lighten(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              19px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              @magenta;
@header-button-color:           #ffffff;
@header-button-hover-bg:        lighten(@header-button-bg,15%);
@header-button-hover-color:     @header-button-color;
@header-button-font-size:       15px;
@header-button-font-weight:     normal;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;

@johnsonbox-bg:           					@yellow;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					22px;
@johnsonbox-line-height:  					31px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;

@footer-bg:                     @body-bg;
@footer-color:                  #4d4d4d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2; 
@footer-text-align:             center;