.hero {
	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero {
			background-color: transparent !important;

			img {
	      width: 90% !important;
				max-width: 90% !important;
	      height: auto !important;
	    }
		}
  }
}
