.header {
	.logo {
		width: 75%;
	}
}
.footer {
	.copy a {
		color: @footer-link-color;
	}

	.affiliates {
		td {
			padding: 0 10px;
		}
	}
}
.body-copy {
	.spacing {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&.sig {
		.spacing {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}