.header {
  .columns {
    width: 91%;
  }

  .logo {
    img {
      width: 200px;
      height: 63px;
    }
  }

  .view-donate {
    .button {
      td {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}

.body-copy {
  .eleven {
    width: 479px;
  }
}

.footer {
  .copy {
    a {
      text-decoration: underline;
    }
  }

  .connect {
    .copy {
      font-size: 12px;
    }
  }

  .client-info {
    .address {
      padding-top: 30px;
      padding-bottom: 0;

      a {
        text-decoration: none;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        padding-right: 0 !important;

        img {
          width: 200px !important;
          max-width: 200px !important;
          height: 63px !important;
        }
      }
    }

    .footer {
      .copy {
        a {
          text-decoration: underline !important;
        }
      }

      .connect {
        .copy {
          font-size: 12px !important;
        }
      }

      .client-info {
        .address {
          padding-top: 20px !important;

          a {
            text-decoration: none !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
}
