.section.footer {
  width: 100%;
  max-width: 100%;
  border-top: 4px solid #d5dfc1;

  .social-icons {
    .copy {
      color: #abb888;
    }
  }

  .logo-donate-social,
  .donate-social,
  .six,
  .footer-logo td {
    height: auto;
  }

  .logo-donate-social {
    padding-top: 30px;

    .six {
      height: 85px;
    }
  }
}