.header {
  .spacing {
    padding-bottom: 5px;
  }
}

.unsubscribe {
  padding-bottom: 5px;
}

.list {
  .copy {
    font-weight: bold;
    line-height: 28px;
  }

  .bullet {
    padding-right: 10px;
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
  }
}


@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }

      .donate {
        width: 40% !important;
      }
    }
  }
}
