@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 541px;
}
.twelve {
  width: 541px;
}
.six {
  width: 251px;
}
.four {
  width: 154px;
}
.button {
  float: none !important;
}
.button td {
  background-color: #F42F2C;
  text-align: center;
  border-radius: 0;
}
.button td:hover {
  border-color: #c90d0a;
  background-color: #c90d0a;
  color: #ffffff;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #F42F2C;
  background-color: #F42F2C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #F42F2C;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
}
.header .button td {
  background-color: #F42F2C;
}
.header .button td:hover {
  border-color: #F42F2C;
  background-color: #F42F2C;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: 1px solid #F42F2C;
  color: #ffffff;
  background-color: #F42F2C;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #F42F2C;
}
.header .button a:hover {
  border-color: #F42F2C;
  background-color: #F42F2C;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #F42F2C;
  background-color: #F42F2C;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #F42F2C;
  background-color: #F42F2C;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4A4A4A;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 581px;
}
.main-content {
  width: 581px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #F42F2C;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.johnsonbox {
  background-color: #F42F2C;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 10px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
  font-weight: normal;
}
.johnsonbox .button {
  width: 190px;
  border: 2px solid #ffffff;
}
.johnsonbox .button a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.donate-button {
  background-color: #F3F3F3;
}
.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.donate-button .button {
  border: 0 solid transparent;
  width: 240px;
}
.donate-button .button td {
  padding: 5px 0;
}
.donate-button .button a {
  font-size: 16px;
}
.donate-button.bottom {
  background-color: #ffffff;
}
/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}
.gift-array {
  background-color: #F3F3F3;
}
.gift-array .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.gift-array .columns {
  width: 581px;
}
.gift-array .red {
  background-color: #F42F2C;
}
.gift-array .red .copy {
  padding-top: 7px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  line-height: 27px;
}
.gift-array .red strong {
  font-size: 36px;
  line-height: 46px;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.gift-array .array {
  background-color: #F3F3F3;
  width: auto;
}
.gift-array .array .four {
  width: 185px;
}
.gift-array .array .four table {
  width: 160px;
}
.gift-array .array .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.gift-array .array .icon {
  height: 108px;
  vertical-align: bottom;
}
.gift-array .array .copy {
  padding-top: 10px;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #1D2129;
}
.gift-array .array .copy span {
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 18px;
  font-weight: bold;
  color: #B4131C;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.ps-statement .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #ffffff;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: auto;
}
.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #F42F2C;
  border: 1px solid #F42F2C;
  mso-border-alt: 1px solid #F42F2C;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
td.hide {
  min-width: 581px;
}
td.hide img {
  width: 581px;
  min-width: 581px;
}
.header {
  background-color: #ffffff;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .view-donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F42F2C;
  border: 1px solid #F42F2C;
  mso-border-alt: 1px solid #F42F2C;
}
.header .view-donate .button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
}
.button a {
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
}
.list .bullet {
  padding-right: 5px;
}
.body-copy.last .spacing {
  padding-top: 0;
}
@media only screen and (max-width: 581px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 28px !important;
    line-height: 38px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 188px !important;
    border: 3px solid #ffffff !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 22px !important;
  }
  *[class].mobile .donate-button .button {
    width: 100% !important;
    max-width: 300px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 15px !important;
  }
  *[class].mobile .donate-button.grey {
    background-color: #ffffff !important;
  }
  *[class].mobile .donate-button.grey .spacing {
    padding-bottom: 0 !important;
  }
  *[class].mobile .donate-button.grey .columns {
    background-color: #F3F3F3 !important;
  }
  *[class].mobile .donate-button.grey .donate {
    padding-bottom: 15px !important;
  }
  *[class].mobile .donate-button.grey .button {
    width: 90% !important;
    border: 0 solid transparent !important;
  }
  *[class].mobile .gift-array {
    background-color: transparent !important;
  }
  *[class].mobile .gift-array .red .copy,
  *[class].mobile .gift-array .red .copy strong {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  *[class].mobile .gift-array .array .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .gift-array .array .four table {
    width: 80% !important;
  }
  *[class].mobile .gift-array .array .four table .icon {
    padding-top: 25px !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .columns {
    width: 72% !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
