@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 560px;
}

.twelve {
  width: 560px;
}

.seven {
  width: 310px;
}

.five {
  width: 210px;
}

.preheader .copy {
  color: #cbcbcb;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #cbcbcb;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}

.header .copy a {
  color: #2a4364;
  text-decoration: none;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #6d6d6d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #6d6d6d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #cbcbcb;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #cbcbcb;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 600px;
}

.main-content {
  width: 600px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #252525;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #e10000;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}

.johnsonbox.top .columns {
  width: 100%;
}

.johnsonbox.top .columns img {
  width: 100%;
  height: auto;
}

.johnsonbox.red {
  background-color: #e10000;
}

.johnsonbox.red .columns.list .spacing {
  padding-bottom: 20px;
}

.johnsonbox.red .seven {
  width: 350px;
}

.johnsonbox.red .spacing {
  padding-top: 5px;
}

.johnsonbox.red .copy {
  padding-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  vertical-align: top;
}

.johnsonbox.red .bullet {
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

.johnsonbox.red .bullet img {
  font-size: 12px;
  line-height: 12px;
  width: 13px;
  height: 12px;
}

.donate-button {
  background-color: #ffffff;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sig .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.body {
  background-color: #cbcbcb;
}

.preheader .copy {
  color: #cbcbcb;
  font-size: 0px;
  line-height: 0px;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #cbcbcb;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.header .donate {
  width: 20%;
}

.header .unsubscribe {
  padding-top: 10px;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

.header .unsubscribe a {
  color: #000000;
  font-weight: normal;
  text-decoration: underline;
}

.footer {
  background-color: #cbcbcb;
  text-align: center;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #6d6d6d;
  text-align: center;
}

.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  color: #6d6d6d;
  font-weight: normal;
}

.footer .logo {
  width: auto;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.footer .small {
  font-size: 11px;
}

.footer .smaller {
  font-size: 10px;
}

.footer .smaller a {
  font-size: 10px;
}

.body-copy .list .bullet {
  padding-right: 5px;
  font-size: 23px;
}

.top .spacing {
  padding-bottom: 0;
}

table,
tr,
td {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
  mso-line-height-rule: exactly;
}

@media only screen and (max-width: 600px ) {

  *[class].mobile .five,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
  }

  *[class].mobile .johnsonbox.top .columns {
    width: 100% !important;
  }

  *[class].mobile .johnsonbox.top .columns img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox.red .copy {
    padding-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }

  *[class].mobile .johnsonbox.red .bullet {
    padding-left: 0 !important;
    padding-right: 5px !important;
  }

  *[class].mobile .johnsonbox.red .bullet img {
    width: 7px !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox.red .list .seven,
  *[class].mobile .johnsonbox.red .list .five,
  *[class].mobile .johnsonbox.red .list .seven table,
  *[class].mobile .johnsonbox.red .list .five table {
    float: none !important;
  }

  *[class].mobile .johnsonbox.red .list .seven,
  *[class].mobile .johnsonbox.red .list .five {
    margin: 0 auto !important;
    width: 85% !important;
  }

  *[class].mobile .donate-button img {
    width: 70% !important;
    height: auto !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    width: 65% !important;
  }

  *[class].mobile .header .logo img {
    width: 90% !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .unsubscribe {
    padding-right: 0 !important;
  }

  *[class].mobile .footer a {
    font-size: 12px !important;
  }

  *[class].mobile .header .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
}
