// Brand Colors
@yellow:                    #f5d732;
@black:                     #000000;

@content-width:             600px;

@body-bg:                   #ffffff;
@content-bg:                @body-bg;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 14px;
@line-height:               22px;
@text-color:                #4e4e4e;
@link-color:                #898989;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               10px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     @yellow;
@button-border:                 @button-bg;
@button-color:                  @black;
@button-radius:                 0px;
@button-hover-bg:               lighten(@button-bg,15%);
@button-hover-border:           lighten(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              22px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              @button-bg;
@header-button-color:           @button-color;
@header-button-hover-bg:        @button-hover-bg;
@header-button-hover-color:     @button-color;
@header-button-font-size:       16px;
@header-button-font-weight:     @button-font-weight;
@header-button-text-decoration:     none;

@view-online-color:             #857551;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #a3a3a3;
@header-link-text-decoration:   none;
@header-link-color:   					#a3a3a3;
@header-font-weight:            bold;

@johnsonbox-bg:           					@black;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;
@newsletter-story-header-color:   			#000000;
@newsletter-story-header-font-family:		@font-family-serif;

// eNewsletter specific styles
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-header-font-size:    32px;
@newsletter-featured-header-line-height:  38px;
@newsletter-featured-header-color:   			#000000;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  #F7F7F7;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #002c55;
@newsletter-director-border-color:  			#cccccc;

@footer-bg:                     @body-bg;
@footer-color:                  #4d4d4d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 6;
@footer-text-align:             center;
