/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;
  }

  .array {
    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    table {
      td {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .copy {
        padding-bottom: 20px !important;
      }

      .array {
        table {
          td {
            padding-left: 8px !important;
            padding-right: 8px !important;
            height: 90px !important;
            vertical-align: middle !important;
          }
        }
      }
    }
  }
}
