.side-btn {
  background-color: #efefef;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .button {
    width: 100%;

    a {
      background-color: @button-bg;
      color: @button-color;
      font-size: @button-font-size;
    }
  }
}

.who-we-are {
  background-color: @content-bg;

  .spacing {
    padding-top: 30px;
  }

  .columns {
    background-color: @whoweare-background-color;
  }

  .copy {
    padding: 20px;
    color: @whoweare-text-color;
    font-family: @whoweare-font-family;
    font-size: @whoweare-font-size;
    line-height: @whoweare-line-height;
    font-weight: normal;
  }
}

.map {
  .copy {
    padding-left: 20px;

    a {
      color: @text-color;
      font-weight: normal;
    }
  }
}

.body-copy,
.johnsonbox {
  .nine {
    margin: 0 auto;
    width: 420px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .donate-button {
      .button {
        width: 100% !important;
      }
    }

    .side-btn {
      .copy {
        padding-bottom: 10px !important;
      }
      .button {
        width: 80% !important;
      }
    }

    .who-we-are {
      .columns {
        width: 100% !important;
      }

      .copy {
        font-size: @whoweare-font-size !important;
        line-height: @whoweare-line-height !important;
      }
    }

    .map {
      img {
        float: none !important;
        margin: 0 auto !important;
      }
      .copy {
        padding-top: 20px !important;
        padding-left: 0 !important;
        text-align: center !important;
      }
    }

    .johnsonbox, .side-btn {
      .button {
        width: 160px !important;
        float: none !important;
        margin: 0 auto !important;
      }
    }
  }
}
