table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.body {
  background-color: @body-bg;
}

.preheader {
  .copy {
    color: @body-bg;
    font-size: 0px;
    line-height: 0px;
  }
}

// Header
.header {
  background-color: @body-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns {
    width: @content-width;
  }

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
  }

  .copy a {
    color: @header-link-color;
    text-decoration: @header-link-text-decoration;
    font-weight: @header-link-font-weight;
  }

  .copy {
    width: 50%;
  }

  .eyebrow {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.main-content {
  border: 20px solid @content-border-color;
}

.footer{
  background-color: @footer-bg;
  text-align: @footer-text-align;

  .social-connect {
    .spacing {
      padding-bottom: 30px;
    }

    .social-icons {
      width: auto;

      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .copy {
      padding-right: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 29px;
    }
  }

  .copy {
    padding-bottom: 15px;
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
  }

  .copy a {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-link-color;
    text-align: @footer-text-align;
    text-decoration: @footer-text-decoration;
  }

  // Affiliate Icon Styles
  .affiliates {
    td {
      padding: 30px 10px 0;
    }
  }
}

td.hide {
  min-width: @content-width;

  img {
    width: @content-width;
    min-width: @content-width;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .header {
      .eyebrow {
        .copy {
          padding-left: 0 !important;
          padding-right: 0 !important;
          text-align: center !important;
        }
      }

      .logo-cta {
        .spacing {
          height: auto !important;
        }

        .logo {
          padding-bottom: 20px !important;

          img {
            display: block !important;
            margin: 0 auto !important;
          }
        }
      }

    }

    .footer {
      .social-connect {
        .social {
          margin: 0 auto !important;
          float: none !important;

          table {
            width: 100% !important;

            &.social-icons {
              width: auto !important;
            }
          }
        }
        .social-icons {
          float: none !important;
          margin: 0 auto !important;

          .first {
            padding-left: 0 !important;
          }
        }

        .copy {
          text-align: center !important;
          padding-right: 0 !important;
          padding-bottom: 10px !important;
          font-size: 16px !important;
        }
      }
    }
  }
}
