.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.bigger,
    &.big {
      font-size: 28px;
      line-height: 32px;
      font-weight: bold;
    }

    &.big {
      font-size: 24px;
    }
  }

  .donate {
    padding-top: 15px;
  }

  &.beige {
    background-color: #ffecd3;

    .copy {
      color: #000000;
    }

    .header {
      padding-bottom: 15px;
      background-color: #ffecd3;
      color: @johnsonbox-color;
      font-size: 25px;
      line-height: 28px;
      font-weight: bold;
    }

    .bullet {
      padding-right: 10px;
      font-size: 30px;
      color: @johnsonbox-color;

      &.black {
        font-size: 25px;
        color: #000000;
      }
    }

    em {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .twelve {
        width: 92% !important;
      }
      .copy {
        &.bigger {
          font-size: 24px !important;
          line-height: 28px !important;
        }
        &.big {
          font-size: 20px !important;
          line-height: 28px !important;
        }
      }
      &.beige {
        .eleven {
          width: 92% !important;
        }
      }
    }
  }
}
