@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.eight {
  width: 360px;
}
.button {
  float: none;
  width: 195px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FF882B;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FF882B;
  background-color: #FF882B;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-decoration: underline;
}
.header .button {
  width: 108px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #8B2332;
  width: 108px;
  height: auto;
}
.header .button a {
  width: 108px;
  height: auto;
  background-color: #8B2332;
  border-color: #8B2332;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #8B2332;
  font-weight: bold;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #FBF5EA;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #1D2129;
  font-weight: bold;
  text-align: center;
}
.johnsonbox .copy a {
  color: #8B2332;
  text-decoration: underline;
}
.johnsonbox.white {
  background-color: #ffffff;
}
.johnsonbox.white .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox.tan .copy {
  font-weight: normal;
}
.johnsonbox.tan .copy.red {
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif, 'Roboto Condensed';
  font-size: 26px;
  line-height: 30px;
  color: #8B2332;
  font-weight: 400;
}
.johnsonbox.tan .big {
  padding-bottom: 20px;
}
.johnsonbox.tan .eight {
  width: 351px;
}
.johnsonbox.tan .donate {
  padding-top: 10px;
  padding-bottom: 10px;
}
.johnsonbox.tan .donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.johnsonbox.tan .bottom-bar img {
  font-size: 11px;
  line-height: 11px;
  height: 11px;
}
.johnsonbox.countdown {
  background-color: #001C3E;
}
.johnsonbox.countdown .copy {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 40px;
  color: #ffffff;
  font-weight: normal;
}
.johnsonbox.countdown .heading {
  padding-top: 20px;
  padding-bottom: 20px;
}
.johnsonbox.countdown .heading img {
  margin: 0 auto;
}
.johnsonbox.countdown .donate {
  padding-top: 0;
  padding-bottom: 15px;
}
.johnsonbox.countdown .donate .button td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .logo {
  width: auto;
}
.header .donate {
  width: 108px;
}
.header .button td {
  text-align: center;
  border-radius: 0;
}
.header .button a {
  text-decoration: none;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .eyebrow .copy {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .eyebrow a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  color: #666666;
  font-weight: normal;
}
.header .logo-donate {
  width: 600px;
}
.header .logo-donate .twelve {
  width: 600px;
}
.header .logo {
  width: 334px;
}
.header .donate {
  width: 266px;
  padding-right: 15px;
}
.header .donate .button td {
  padding-top: 3px;
  padding-bottom: 3px;
}
.body-copy .twelve {
  width: 449px;
}
.footer .spacing {
  padding-top: 60px;
}
.footer .social.twelve {
  border-bottom: 1px solid #4A4A4A;
}
.footer .social-icons td {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eight,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 195px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 24px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 108px !important;
  }
  *[class].mobile .header .button {
    width: 108px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 15px !important;
    line-height: 22px !important;
  }
  *[class].mobile .johnsonbox.tan .copy.red {
    padding-bottom: 10px !important;
    font-size: 26px !important;
    line-height: 30px !important;
  }
  *[class].mobile .johnsonbox.tan .big img {
    width: 80% !important;
    height: auto !important;
    max-width: 280px !important;
  }
  *[class].mobile .johnsonbox.countdown .heading img {
    max-width: 280px !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
  *[class].mobile .header .logo {
    padding-right: 0 !important;
    width: 50% !important;
  }
  *[class].mobile .header .logo img {
    width: 95% !important;
    max-width: 200px !important;
  }
  *[class].mobile .header .donate {
    width: 50% !important;
  }
  *[class].mobile .header .donate .button {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button td {
    width: 100% !important;
  }
  *[class].mobile .header .donate .button a {
    width: 100% !important;
  }
  *[class].mobile .footer .social-icons {
    padding: 0 !important;
  }
  *[class].mobile .eyebrow .copy {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .spacing {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .logo img {
    float: left !important;
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    padding-right: 0 !important;
  }
  *[class].mobile .header .donate .button {
    width: 108px !important;
  }
  *[class].mobile .footer .spacing {
    padding-top: 30px !important;
  }
}
