.header {
  .view-online {
    .copy {
      padding-bottom: 5px;
    }
  }

  .donate {
    .button {
      a {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

.body-copy {
  a.red {
    color: @red;
    font-weight: bold;
  }

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &.bottom {
    .spacing {
      padding-bottom: 0;
    }
  }
}

// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.gift-array {

  .array {

    table {
      width: @gift-array-btn-width;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

.footer {
  .spacing {
    padding-top: 50px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
      .header-donate {
        width: 50% !important;
      }
    }
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
