.sidebar {

  .columns {
    background-color: #f1f2f2;
  }

  .eight {
    width: 392px;

    .spacing {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .four {
    width: 172px;
    border-right: 8px solid #ffffff;
  }

  .copy {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
  }

  .button {
    vertical-align: top;
    margin: 0 auto;
    width: 90%;

    td {
      background-color: #f6ea91;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a {
      background-color: #f6ea91;
      mso-border-alt: 1px solid #f6ea91;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      font-size: @button-font-size;

      span {
        font-size: 28px;
      }
    }

    &.active {
      td, a {
        background-color: #f6d909;
      }

      a {
        mso-border-alt: 1px solid #f6d909;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      background-color: #f1f2f2 !important;

      .four {
        border-right: 0 solid #f1f2f2 !important;
      }

      .copy {
        padding-bottom: 20px !important;
      }

      .eight {
        .spacing {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
      }

      .eight, .four {
        height: auto !important;
      }
    }
  }
}
