.body-copy {
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .footer-address {
      a {
        font-weight: normal !important;
      }
    }
  }
}
