.sig {
	img {
		width: auto;
		height: auto;
	}

  .spacing {
    padding-top: 0;
  }

	table {
		td {
			padding-top: 0;
			padding-bottom: 20px;

			&.copy {
				padding-top: 0;
				padding-bottom: 20px;
			}

			&.divider {
				padding-bottom: 0;
				padding-top: 0;
			}
		}
	}
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @tablet {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}

@media @phone {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}
