.header {
  .view-donate {
    .button {
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        padding-right: 0 !important;
      }
    }
  }
}
