.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    img {
      display: inline-block;
      margin-left: 5px;
      width: 20px;
      height: auto;
    }

    td {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &.top {
    background-color: #595551;
  }

  &.bar {
    background-color: #EC0044;

    .button {
      width: 100%;

      td {
        padding-top: 0;
        padding-bottom: 0;
      }

      a {
        line-height: 26px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .button {
        img {
          width: 15px !important;
          height: auto !important;
        }
      }

      &.top {
        img {
          max-width: 397px !important;
          width: 90% !important;
        }
      }

      &.bar {
        .button {
          width: 100% !important;
        }
      }
    }
  }
}
