@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 520px;
}

.twelve {
  width: 520px;
}

.six {
  width: 240px;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #777777;
  text-align: left;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #777777;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 560px;
}

.main-content {
  width: 560px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: #29261d;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #5365a0;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .copy {
  padding-top: 20px;
  padding-bottom: 5px;
}

.sig .six {
  border-bottom: 1px solid #d8d7d4;
}

.sig .six td {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #29261d;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.footer {
  background-color: #ffffff;
  text-align: left;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #777777;
  text-align: left;
}

.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-decoration: underline;
  color: #777777;
  font-weight: normal;
}

.footer .big {
  padding-bottom: 30px;
}

.footer .big a {
  font-size: 15px;
  line-height: 28px;
  color: #5365a0;
  font-weight: bold;
}

.footer .footer-address .name {
  color: #363636;
  font-size: 12px;
  line-height: 16px;
}

@media only screen and (max-width: 560px ) {

  *[class].mobile .six {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}
