.header {
  .spacing {
    padding-bottom: 20px;
  }

  .columns {
    width: 100%;
  }

  .copy {
    a {
      font-weight: @header-font-weight;
    }
  }

  .button {
    td {
      border-radius: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.footer {
  .spacing {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .copy {
    &.name {
      padding-bottom: 10px;
      font-weight: bold;
      color: #666666;
      font-size: 17px;
      line-height: 19px;
    }
  }

  .social-icons {
    td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .copy {
    padding-bottom: 15px;
  }

  .address {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.countdown {
  background-color: #77160C;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 0;
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

    &.big {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .timer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .donate {
        .button {
          float: right !important;
          width: @header-button-mobile-width !important;
        }
      }
    }

    .footer {
      .copy {
        &.name {
          font-size: 17px !important;
          line-height: 19px !important;
        }
      }
    }
  }
}
