@content-width:             640px;

@body-bg:                   #FDF9F1;
@content-bg:                #ffffff;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@font-family:               @opensans;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 16px;
@line-height:               26px;
@text-color:                #000000;
@link-color:                #77160C;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-width:                  328px;
@button-height:                 auto;
@button-bg:                     #77160C;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 2px;
@button-font-family:            @font-family;
@button-font-size:              24px;
@button-text-decoration:        none;
@button-font-weight:            700;

// Mobile button styles
@button-mobile-width:           @button-width - 128;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

@header-bg:											@body-bg;
@header-font-family:            @font-family-sans-serif;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #666666;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

@view-online-color:             @header-text-color;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Header Button styles
@header-button-width:              	100px;
@header-button-height:              @button-height;
@header-button-bg:              		#B9830F;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		15px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		800;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@johnsonbox-bg:           					@body-bg;
@johnsonbox-font-family:  					@oswald;
@johnsonbox-font-size:    					30px;
@johnsonbox-line-height:  					40px;
@johnsonbox-color:        					#040404;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   underline;
@johnsonbox-font-weight:            700;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#cccccc;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	@johnsonbox-font-size;
@gift-array-text-line-height:     @johnsonbox-line-height;
@gift-array-text-color:      			@johnsonbox-color;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:         		180px;
@gift-array-btn-height:         	130px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size + 6;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height + 6;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #595959;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 4;
@footer-text-align:             center;
@footer-font-weight:            normal;
