@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 630px;
}
.nine {
  width: 463px;
}
.six {
  width: 295px;
}
.two {
  width: 72px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}
.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #dddddd;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .donate {
  width: 50%;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #625d54;
}
.header .button td {
  background-color: transparent;
}
.header .button td:hover {
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #ffffff;
  background-color: transparent;
  font-weight: normal;
  font-size: 16px;
  mso-border-alt: 1px solid transparent;
}
.header .button a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: transparent;
  background-color: transparent;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: transparent;
  background-color: transparent;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: #505050;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #505050;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .social-icons td.last {
  padding: 0 0 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 670px;
}
.main-content {
  width: 670px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
  color: #505050;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero {
  border-top: 5px solid #ec1c23;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 5px;
  padding-bottom: 0;
}
.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #505050;
  font-weight: bold;
}
.story .spacing {
  padding-top: 20px;
  padding-bottom: 0;
}
.story .columns {
  margin: 0 auto;
  width: 580px;
}
.story .six {
  width: 280px;
  height: 280px;
  background-color: #ececec;
}
.story .story-cell {
  height: 280px;
  background-color: #ececec;
  vertical-align: middle;
}
.story .the-story {
  margin: 0 auto;
  width: 80%;
  height: auto;
  vertical-align: middle;
}
.story .copy {
  font-family: Arial, Helvetica, sans-serif;
}
.story .copy.story-header {
  padding-top: 15px;
  padding-bottom: 10px;
}
.story .story-link {
  padding-top: 10px;
  padding-bottom: 0;
}
.story.featured {
  border-bottom: 0 solid transparent;
}
.story.featured .spacing {
  padding-top: 10px;
  padding-bottom: 0;
}
.story.featured .copy {
  padding-bottom: 10px;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 27px;
}
.story.featured .copy.story-header {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 31px;
  line-height: 38px;
  color: #ec1c23;
}
.highlighted .columns {
  background-color: #ececec;
}
.highlighted .the-cta {
  width: 79%;
}
.highlighted .the-cta .copy.story-header {
  color: #75ad01;
  font-size: 27px;
  line-height: 33px;
  font-weight: bold;
}
.highlighted .the-cta .story-link {
  padding-bottom: 20px;
}
.director {
  width: 580px;
  background-color: #ececec;
}
.director img {
  vertical-align: top;
}
.director .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.director .columns {
  margin: 0 auto;
  width: 520px;
}
.director .columns .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.director .two {
  width: 128px;
}
.director .nine {
  width: 392px;
}
.director .copy {
  font-size: 19px;
  line-height: 27px;
}
.director .sig {
  padding-top: 10px;
}
.director .sig .six {
  width: 50%;
}
.director .sig .copy {
  padding-left: 0;
  font-size: 14px;
  line-height: 16px;
}
.body {
  background-color: #ffffff;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #625d54;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 100%;
}
.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid transparent;
  font-weight: normal;
  color: #ffffff;
}
.header .button a:hover {
  border-color: #98953B;
  background-color: transparent;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #98953B;
  background-color: transparent;
  color: #ffffff;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #98953B;
  background-color: transparent;
  color: #ffffff;
}
.featured {
  border-bottom: 2px solid #cccccc;
}
.footer {
  background-color: #ffffff;
  border-top: 3px solid #cccccc;
}
.footer .copy span {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.footer .social-icons {
  width: auto;
}
td.hide {
  min-width: 670px;
}
td.hide img {
  width: 670px;
  min-width: 670px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
  mso-line-height-rule: exactly;
}
tr,
td {
  mso-line-height-rule: exactly;
}
.header .logo {
  width: 500px;
}
.header .donate {
  width: 130px;
}
.header .donate .copy {
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 28px;
}
.header .donate a {
  padding-top: 0;
}
.footer {
  border-top: 0 solid transparent;
}
.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .columns.footer-wrap {
  margin: 0 auto;
  float: none;
  width: auto;
}
.footer .columns .footer-logo {
  width: 127px;
}
.footer .columns .social-icons-wrapper {
  width: auto;
}
.footer .columns .social-icons-wrapper .social-icons {
  margin: 0 auto;
  float: none;
  width: auto;
}
.footer .columns .social-icons-wrapper .social-icons td {
  padding-top: 10px;
  padding-right: 5px;
}
.footer .columns .social-icons-wrapper .social-icons td.last {
  padding-right: 0;
}
.footer .copy span {
  text-decoration: underline;
  font-size: 11px;
  line-height: 17px;
  font-weight: normal;
}
@media only screen and (max-width: 670px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .two,
  *[class].mobile .six,
  *[class].mobile .nine {
    width: 90.625% !important;
  }
  *[class].mobile .columns .two,
  *[class].mobile .columns .six,
  *[class].mobile .columns .nine {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 15px !important;
    line-height: 27px !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .six {
    height: auto !important;
  }
  *[class].mobile .story .the-story {
    width: 90% !important;
  }
  *[class].mobile .story .story-cell {
    height: auto !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  *[class].mobile .story-link img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  *[class].mobile .highlighted .story-img {
    padding: 0 !important;
  }
  *[class].mobile .highlighted .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  *[class].mobile .highlighted .story-link {
    padding-bottom: 20px !important;
  }
  *[class].mobile .highlighted .the-cta {
    width: 90% !important;
  }
  *[class].mobile .director .two img {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .director .two td {
    padding-bottom: 15px !important;
  }
  *[class].mobile .director .story-link {
    padding-top: 15px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons {
    width: 100% !important;
    padding: 0 !important;
  }
  *[class].mobile .header .logo {
    width: 50% !important;
  }
  *[class].mobile .header .copy {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: right !important;
  }
  *[class].mobile .header .donate {
    width: 50% !important;
  }
  *[class].mobile .header .donate img {
    float: right !important;
  }
  *[class].mobile .footer .footer-logo td {
    padding-bottom: 15px !important;
  }
  *[class].mobile .footer .footer-logo img {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .footer .donate-social table {
    float: none !important;
    margin: 0 auto !important;
  }
}
