.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	td {
		padding-left: 30px;
	}
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }

		td {
			padding-left: 0 !important;
		}
  }
}
