.header {
  .spacing {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .view-donate {
    .button {
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
  }
}

.footer {
  .spacing {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .logo {
    td {
      padding-bottom: 20px;
    }
  }

  .connect {
    .social-icons {
      td {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .client-info {
    .address {
      padding-top: 40px;
    }
  }

  .unsub {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .affiliates {
    td {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 100% !important;
        padding-right: 0 !important;

        img {
          max-width: 287px !important;
          width: 100% !important;
          height: 42px !important;
        }

        td {
          padding-bottom: 20px !important;
        }
      }

      .view-donate {
        width: 100% !important;
      }

      .button {
        margin: 0 auto !important;
        display: block !important;
      }
    }

    .footer {
      .client-info {
        .copy {
          padding-top: 30px !important;
        }
      }
    }
  }
}
