.solo-donate-button {
  background-color: #BBE3E8;

  .spacing {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &.bottom {
    background-color: @content-bg;

    .copy {
      padding-bottom: 20px;
      font-size: 30px;
      line-height: 35px;
      color: #7A1B9D;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      &.bottom {
        .copy {
          font-size: 25px !important;
          line-height: 30px !important;
        }
      }
    }
  }
}
