.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.urgent {
		.spacing {
			padding-bottom: 20px;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.urgent {
				.spacing {
					padding-bottom: 10px !important;
				}
			}
		}
  }
}
