.copy {
	span {
		color: @orange;
	}
}

@media @content {
	*[class].mobile {
		.header {
			.logo {
				width: 60% !important;
				
				img {
					width: 100% !important;
				}
			}
		}
	}
}

@media @tablet {
	*[class].mobile {
		.header {
			.logo {
				width: 60% !important;

				img {
					width: 100% !important;
				}
			}
		}
	}
}

@media @phone {
	*[class].mobile {
		.header {
			.logo {
				width: 60% !important;
				
				img {
					width: 100% !important;
				}
			}
		}
	}
}