@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.eight {
  width: 387px;
}
.six {
  width: 280px;
}
.two {
  width: 67px;
}
.button {
  float: none;
  width: 254px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #F8C881;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #F8C881;
  background-color: #F8C881;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #AE3032;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #AE3032;
  border: #AE3032;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #AE3032;
  border-color: #AE3032;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #6B6B6B;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #BD1E2B;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 14px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #333333;
}
.copy a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  color: #AE3032;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero {
  border-top: 15px solid #AE3032;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #AE3032;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.johnsonbox.yellow {
  background-color: #FBF2E0;
  width: 538px;
}
.johnsonbox.yellow .copy {
  padding-bottom: 0;
  color: #E46B40;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
.sidebar .copy.top {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  font-weight: bold;
}
.sidebar .copy.top a {
  text-decoration: none;
  font-weight: bold;
}
.sidebar .columns {
  width: 540px;
}
.sidebar .columns .copy {
  font-size: 15px;
  line-height: 23px;
  color: #333333;
  font-weight: bold;
}
.sidebar.last .spacing {
  padding-bottom: 40px;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-bottom: 40px;
}
.solo-donate-button .button {
  background-color: #AE3032;
  width: 160px;
}
.solo-donate-button .button td {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #AE3032;
}
.solo-donate-button .button a {
  background-color: #AE3032;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.text-donate-button {
  background-color: #AE3032;
}
.text-donate-button img {
  margin: 0 auto;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .donate {
  width: 100%;
}
.header .button {
  max-width: 167px;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy .home-link {
  display: inline-block;
}
.footer .copy.smaller {
  line-height: 13px;
}
.footer .copy.smaller a {
  line-height: 13px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.header .view-online {
  width: 100%;
}
.header .view-online table {
  width: 490px;
}
.header .view-online .view {
  width: 150px;
}
.header .view-online .view .copy {
  text-align: center;
}
.header .copy {
  padding-bottom: 20px;
}
.footer {
  border-top: 2px solid #E8E8E8;
}
.footer .spacing {
  padding-top: 40px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .two,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .two,
  *[class].mobile .columns .six,
  *[class].mobile .columns .nine {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 254px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #6B6B6B !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .sidebar img {
    margin: 0 auto !important;
  }
  *[class].mobile .sidebar .spacing {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .sidebar .copy {
    text-align: center !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    max-width: 213px !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
  *[class].mobile .header .view-online table {
    width: 100% !important;
  }
  *[class].mobile .header .view-online .copy {
    padding-bottom: 10px !important;
    text-align: center !important;
  }
  *[class].mobile .header .view-donate {
    width: 100% !important;
  }
  *[class].mobile .header .view-donate .button {
    margin: 0 auto !important;
  }
  *[class].mobile .header img {
    margin: 0 auto !important;
  }
}
