/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.body-spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  width: 600px;
}

.header {
  border-top: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  width: @content-width;
  background-color: @content-bg;

  .columns {
    width: 600px;
  }
}

.main-content {
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.sidebar {
  width: @content-width;
}

.footer {
  .connect {
    border-top: 0 solid transparent;
  }

  .social-connect {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .address {
    span {
      a {
        color: @footer-link-color;
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .copy {
        display: block !important;
      }

      .eight {
        width: 75% !important;
      }

      .three {
        width: 25% !important;
      }
    }
  }
}
