@content-width:             640px;

@body-bg:                   #F9FAFE;
@content-bg:                #ffffff;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 16px;
@line-height:               26px;
@text-color:                #000000;
@link-color:                #417505;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #417505;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 9px;
@button-font-family:            @font-family;
@button-font-size:              18px;
@button-mobile-font-size:    		@button-font-size;
@button-font-weight:            bold;
@button-text-decoration:        none;

// Header Button styles
@header-button-bg:              		#dddddd;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

@view-online-color:             #666666;

@header-bg:											@content-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #666666;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-link-font-weight:   		normal;
@header-font-weight:            normal;

@johnsonbox-bg:           					#4072B8;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					28px;
@johnsonbox-line-height:  					31px;
@johnsonbox-color:        					#FFFFFF;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		180px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@whoweare-background-color:       #dddddd;
@whoweare-text-color:             #000000;
@whoweare-font-family:            @font-family;
@whoweare-font-size:      	      @font-size;
@whoweare-line-height:     	      @line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #000000;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @opensans;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 6;
@footer-text-align:             center;
