.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    border: 3px solid #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;

    td {
      padding-top: 7px;
      padding-bottom: 7px;
      height: auto;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
    }
  }

  &.middle {
    width: 500px;
    height: 275px;
    border-top: 1px solid #90949C;
    border-bottom: 1px solid #90949C;
    background-color: #ffffff;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
      background-image: url('https://cdn.oneandall.com/emails/tsa/2018/11/35806_GivingTuesday/Base/Email1/images/heart_bg.png');
      background-repeat: no-repeat;
      background-position: center center;
    }

    .columns {
      width: 520px;

      .twelve {
        width: 520px;
      }
    }

    .button {
      border: 0 solid transparent;

      td {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }

    .copy {
      font-family: @font-family-sans-serif;
      font-size: 17px;
      line-height: 25px;
      color: #4A4A4A;
    }

    .red {
      font-family: @johnsonbox-font-family;
      font-size: @johnsonbox-font-size;
      line-height: @johnsonbox-line-height;
      color: #DE2C30;
    }
  }

  &.bottom {
    .spacing {
      padding-top: 22px;
      padding-bottom: 22px;
    }

    .copy {
      padding-top: 22px;
      padding-bottom: 22px;
      font-size: 24px;
      line-height: 27px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.middle {
        .spacing {
          vertical-align: middle;
        }

        .columns {
          height: auto;
        }

        .copy {
          font-size: 17px !important;
          line-height: 25px !important;
        }

        .red {
          font-size: @johnsonbox-mobile-font-size !important;
          line-height: @johnsonbox-mobile-line-height !important;
        }
      }
    }
  }
}
