.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    background-color: @content-bg;

    .spacing {
      padding-top: 35px;
      padding-bottom: 25px;
    }

    .copy {
      padding-bottom: 0;
      font-family: @nunitosans;
      font-size: 33px;
      line-height: 41px;
      font-weight: 300;
      color: #195CA0;

      span.black {
        font-size: 37px;
        font-weight: 900;
      }
    }
  }

  .button {
    td {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  &.infographic {
    background-color: @content-bg;
    width: 541px;
    mso-line-height-rule: exactly;

    table, td {
      mso-line-height-rule: exactly;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .graphic {
      padding-top: 20px;
      padding-bottom: 0;
    }

    .twelve {
      width: 541px;

      table {
        width: 79%;
      }
    }

    .copy {
      padding-bottom: 10px;
      font-family: @font-family;
      font-weight: 400;
      font-size: @font-size;
      line-height: @line-height;
      color: @text-color;
    }

    .heading {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: @nunitosans;
      font-size: 18px;
      line-height: 22px;
      color: #195CA0;
      font-weight: 900;
    }
  }

  &.darkest-blue {
    background-color: #C1D2DB;

    .title {
      padding-top: 20px;
      padding-bottom: 10px;
      font-family: @nunitosans;
      font-weight: 900;
      font-size: 28px;
      line-height: 32px;
      color: #195CA0;
    }
  }

  &.darker-blue {
    background-color: #CDDAE2;

    .spacing {
      background-color: #CDDAE2;
    }
  }

  &.dark-blue {
    background-color: #D8E3EA;
  }

  &.blue {
    background-color: #E5EDF1;
  }

  &.lighter-blue {
    background-color: #F2F6F8;

    .twelve {
      table {
        width: 90%;
      }
    }

    .copy {
      padding-bottom: 30px;

      &.heading {
        padding-bottom: 10px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.top {
        .spacing {
          padding-top: 20px !important;
        }

        .copy {
          font-size: 23px !important;
          line-height: 31px !important;

          span.black {
            font-size: 27px !important;
          }
        }
      }

      &.infographic {
        .twelve {
          width: 100% !important;
        }
      }

      &.darkest-blue {
        .title {
          font-size: 23px !important;
        }
      }

      &.darker-blue {
        .graphic {
          img {
            max-width: 346px !important;
            width: 90% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
