.text-donate-button {
  background-color: @content-bg;

  .twelve {
    background-color: @johnsonbox-bg;

    .copy-box {
      width: 480px;

      .copy {
        padding-top: 30px;
      }
    }
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .donate {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  &.top {
    background-color: @johnsonbox-bg;

    .spacing {
      padding-top: 15px;
      padding-bottom: 0;
    }

    .copy {
      padding-bottom: 10px;
      font-size: 24px;
      line-height: 36px;
      color: @johnsonbox-color;
    }

    .button {
      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  &.bottom {
    width: 541px;
    background-color: @johnsonbox-bg;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .twelve {
        width: 100% !important;

        .copy-box {
          width: 95% !important;
        }
      }
    }
  }
}
