.body-copy {
  .spacing {
    padding-top: 30px;
  }
}

.sig {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.arrow-btn {
  .spacing {
    padding-bottom: 0;
  }

  .arrow {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  border-top: 0 solid transparent;

  .spacing {
    padding-top: 0;
  }

  .social {
    padding-top: 20px;

    .wrapper {
      margin: 0 auto;
      width: auto;

      .social-icons {
        width: auto;
      }

      .affiliates {
        width: auto;

        .icons {
          td {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .arrow-btn {
      .twelve {
        width: 100% !important;
      }
    }
  }
}
