.body-copy {
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.sig {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  .columns {
    width: 100%;
  }

  .logo {
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer {
  .spacing {
    padding-top: 40px;
  }

  .copy {
    padding-top: 15px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .footer {
      .copy {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
