.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .top-logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .donate {
    padding-top: 20px;
  }

  &.top {
    .spacing {
      padding-top: 0;
      padding-bottom: 20px;
    }

    .copy {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &.family {
    width: 475px;

    .columns {
      width: 100%;
    }

    .orange {
      width: 92%;
      background-color: #FF9600;

      .copy {
        padding-top: 5px;
        padding-bottom: 10px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &.white {
    width: 475px;
    background-color: #ffffff;

    &.bottom {
      border-top: 2px solid #0A3370;
      border-bottom: 2px solid #0A3370;

      .spacing {
        padding-top: 20px;
        padding-bottom: 30px;
      }

      .copy {
        padding-top: 15px;
        font-size: 16px;
        line-height: 24px;
        color: #0A3370;

        img {
          margin: 0 auto;
          float: none;
        }
      }
    }
  }

  &.second {
    .spacing {
      padding-top: 20px;
      padding-bottom: 25px;
    }

    .copy {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.family {
        .orange {
          width: 92% !important;

          .copy {
            font-size: 16px !important;
            line-height: 18px !important;
          }
        }
      }

      &.white {
        .columns {
          width: 100% !important;
        }

        img {
          width: 100% !important;
        }

        &.bottom {
          img {
            width: auto !important;
          }
        }
      }
    }
  }
}
