.button {
  width: 280px;
  height: auto;

  td {
    width: 280px;
    height: auto;

    a {
      width: 100%;
      height: auto;
    }
  }
}

.header {
  .button {
    width: 130px;

    a {
      width: 100%;
    }
  }
}

.footnote {
  .spacing {
    padding-top: 0;
  }

  .copy {
    font-size: 15px;
    line-height: 20px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 130px !important;

        a {
          width: 100% !important;
        }
      }
    }
  }
}
