.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 30px !important;
      }

      img {
        max-width: 329px !important;
        width: 90% !important;
        height: auto !important;
      }
    }
  }
}
