.gift-array {
  background-color: @content-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: @gift-array-text-font-size;
    line-height: @gift-array-text-line-height;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .spacing {
    padding-bottom: 0;
  }

  .twelve {
    background-color: @gift-array-bg;
  }

  .prices {
    margin: 0 auto;
  }

  .price-list {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .array {
    background-color: @gift-array-bg;
    margin: 0 auto;
    width: 430px;

    .copy {
      padding-bottom: 0;

      &.match {
        font-weight: 700;
      }
    }

    .spacing {
      padding-top: 5px;
      padding-bottom: 0;
      font-size: 5px;
      line-height: 5px;
      height: 5px;
    }

    .arrow {
      margin: 0 auto;
      width: 129px;

      img {
        margin: 0 auto;
      }
    }
  }

  .twelve {
    background-color: @gift-array-bg;
    margin: 0 auto;
    width: 430px;

    .donate {
      padding-bottom: 20px;

      .button {
        td {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .columns, .twelve {
        width: 100% !important;
      }

      .price-list {
        padding-top: 25px !important;
        // padding-bottom: 25px;
      }

      .giftarray-header {
        img {
          width: 100% !important;
          height: auto !important;
        }
      }

      .array {
        width: 100% !important;
      }
    }
  }
}
