.header {
  .button {
    td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.footer {
  .spacing {
    padding-top: 40px;
  }

  .address {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .smaller {
    padding-top: 20px;
  }
}

@media @content {
  *[class].mobile {

  }
}
