.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-weight: normal;
    }
  }

  &.top {
    background-color: #005f88;

    .copy {
      color: #ffffff;
      font-weight: normal;
    }

    .spacing {
      padding-bottom: 20px;
    }
  }

  .user-name {
    .copy {

      span {
        border: 1px solid #bfbfbf;
        padding: 10px 5px;
        width: 96%;
        height: 100%;
        display: block;
        background-color: #ffffff;
        font-size: 20px;
        color: @link-color;
        font-weight: normal;
        border-radius: @gift-array-btn-radius - 1;
        mso-border-alt: 1px solid #ffffff;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      .user-name {
        width: 71% !important;
        .copy {
          span {
            border: 1px solid #bfbfbf;
            padding: 10px 5px;
            width: 96%;
            display: block;
            background-color: #ffffff;
            font-size: 20px;
            color: @link-color;
            font-weight: normal;
            border-radius: @gift-array-btn-radius - 1;
          }
        }
      }
    }
  }
}
