.divider {
  .spacing {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 15px;
  }
  table {
    width: 30%;
    border-top: 1px solid #7f7f7f;
  }
}

.footer {
  .spacing {
    padding-top: 0;
  }
}
