@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 560px;
}
.twelve {
  width: 560px;
}
.ten {
  width: 460px;
}
.nine {
  width: 410px;
}
.eight {
  width: 360px;
}
.seven {
  width: 310px;
}
.six {
  width: 260px;
}
.four {
  width: 160px;
}
.three {
  width: 110px;
}
.button {
  float: none !important;
}
.button td {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0;
}
.button td:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #B35622;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #ffffff;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #B35622;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #ffffff;
}
.header {
  background-color: #FFFAF3;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 11px;
  line-height: 15px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
}
.header .button td {
  background-color: #C04C00;
}
.header .button td:hover {
  border-color: #C04C00;
  background-color: #C04C00;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #C04C00;
  color: #ffffff;
  background-color: #C04C00;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #C04C00;
}
.header .button a:hover {
  border-color: #C04C00;
  background-color: #C04C00;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #C04C00;
  background-color: #C04C00;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #C04C00;
  background-color: #C04C00;
}
.footer {
  background-color: #FFFAF3;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #000000;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #FFFAF3;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #FFFAF3;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 600px;
}
.main-content {
  width: 600px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  text-decoration: underline;
  color: #B25320;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.johnsonbox {
  background-color: #B35420;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 25px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 26px;
  line-height: 36px;
  color: #ffffff;
  font-weight: bold;
}
.johnsonbox .button {
  width: 150px;
}
.johnsonbox .button td {
  padding: 10px 0;
}
.johnsonbox .button a {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 18px;
}
.johnsonbox.light-orange {
  background-color: #CE7F35;
}
.johnsonbox.light-orange .copy {
  padding-bottom: 0;
  color: #ffffff;
  font-size: 35px;
  line-height: 40px;
}
.donate-button {
  background-color: #ffffff;
  border-bottom: 4px solid #C04C00;
}
.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 30px;
}
.donate-button .button {
  width: 150px;
  background-color: #B25320;
}
.donate-button .button td {
  mso-border-alt: 1px solid #B25320;
  background-color: #B25320;
  padding: 10px 0;
}
.donate-button .button a {
  mso-border-alt: 1px solid #B25320;
  background-color: #B25320;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 18px;
  color: #ffffff;
}
/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: #fcfcfc;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}
.gift-array {
  margin: 0 auto;
  width: 462px;
  background-color: transparent;
}
.gift-array .columns {
  width: 462px;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.gift-array .array .twelve {
  width: 462px;
  background-color: #F8EFDF;
  border-bottom: 1px solid #ffffff;
}
.gift-array .array .active {
  background-color: #F1E4CD;
}
.gift-array .array .copy {
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 48px;
  color: #C28153;
  font-weight: 600;
}
.gift-array .array .copy span {
  color: #B25320;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}
.gift-array .array .copy strong {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #D68437;
}
.gift-array .orange {
  background-color: #D78538;
}
.gift-array .orange .copy {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 35px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}
.gift-array .orange.bottom .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.gift-array .orange.bottom .button {
  width: 150px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #FFFAF3;
}
.header {
  background-color: #FFFAF3;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 600px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  font-size: 11px;
  line-height: 15px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo-cta .spacing {
  padding-bottom: 0;
}
.header .donate-button {
  height: 100%;
  background-color: #FFFAF3;
}
.header .donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 0;
  mso-padding-top-alt: 20px;
}
.header .button {
  width: 100%;
}
.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #C04C00;
  font-weight: bold;
  color: #ffffff;
}
.footer {
  width: 100%;
  background-color: #FFFAF3;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
td.hide {
  min-width: 600px;
}
td.hide img {
  width: 600px;
  min-width: 600px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
.header .donate-button {
  border-bottom: 0 solid transparent;
}
.header .button {
  width: 150px;
}
.header .button td {
  padding: 10px 0;
}
.header .button a {
  font-family: Arial, Helvetica, sans-serif, "Open Sans";
  padding: 0;
}
.footer .spacing {
  padding-top: 0;
}
.footer .columns.connect {
  border-top: 0 solid transparent;
}
@media only screen and (max-width: 600px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .six,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight,
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 26px !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 150px !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 18px !important;
  }
  *[class].mobile .johnsonbox.light-orange .spacing {
    padding-bottom: 15px !important;
  }
  *[class].mobile .donate-button .button {
    float: left !important;
    margin: 0 auto !important;
    width: 150px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 18px !important;
  }
  *[class].mobile .gift-array .orange.bottom .button {
    width: 150px !important;
  }
  *[class].mobile .gift-array .orange .copy {
    padding-bottom: 0 !important;
    font-size: 30px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-bottom: 10px !important;
    font-size: 12px !important;
    line-height: 17px !important;
    display: block !important;
    text-align: center !important;
  }
  *[class].mobile .header .donate-button .button {
    float: left !important;
    margin: 0 auto !important;
    width: 150px !important;
  }
  *[class].mobile .footer .connect .copy {
    font-size: 16px!important;
  }
}
