.twelve {
  width: 100%;
}

.divider {
  table {
    width: 250px;
  }

  .spacing {
    padding-left: 0;
  }
}

.footer {
  .twelve {
    width: 520px;
  }
}

@media @content {
  *[class].mobile {

  }
}
