.view-online {
  .copy { 
    padding-bottom: 10px;

    a {
      font-size: 10px;
      color: #199aa8;
    }
  }
}

.button {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.header {
  .button {
    width: 80%;

    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
} 

.gift-array {
  .spacing {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .array {
    table {
      width: @gift-array-btn-width;

      td {
        padding-top: 20px;
        padding-bottom: 30px;
      }
    }
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .copy {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}