.hero {
	border-bottom: 4px solid #ffffff;
	display: block;

	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero-mobile {
	display: none;
}

@media @content {
  *[class].mobile {
    .hero {
			display: none !important;

			img {
	      width: 100% !important;
	      height: auto !important;
	    }
		}

		.hero-mobile {
			display: block !important;

			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			.spacing {
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}
  }
}
