.solo-donate-button {
  background-color: #ffffff;

  .button {
    width: 200px;
    height: auto;

    td {
      height: auto;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    a {
      height: auto;
      padding: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      border-left: 1px solid #F1F1F1 !important;
      border-right: 1px solid #F1F1F1 !important;
      
      .spacing {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }
  }
}
