.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .button {
      width: 200px;
      height: auto;

      td {
        height: auto;
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #ffffff;
      }

      a {
        height: auto;
        padding: 0;
        background-color: #ffffff;
        color: #417505;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: 17px !important;
        line-height: 24px !important;
      }

      .button {
        width: 170px !important;
      }
    }
  }
}
