.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: 22px;
    line-height: 25px;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
    letter-spacing: -0.51;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .four {
      width: 150px;
    }

    .gift {
      width: 140px;
    }

    .paw {
      height: 79px;
      vertical-align: middle;

      a {
        text-decoration: none;
      }
    }

    .price {
      padding-bottom: 10px;

      a {
        font-family: @font-family;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
        color: #EDB14C;
        text-decoration: none;
      }

      .arrow {
        padding-left: 5px;
      }
    }

    .copy {
      padding-bottom: 0;
      font-size: 14px;
      line-height: 19px;

      a {
        font-size: 14px;
        line-height: 19px;
        color: #595551;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-bottom: 10px !important;
      }

      .copy {
        padding-bottom: 20px !important;
      }

      .array {
        width: 100% !important;

        .gift {
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            height: auto !important;
          }
        }

        .gift-cell {
          padding-top: 20px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            width: @gift-array-mobile-btn-width !important;
            height: @gift-array-mobile-btn-height !important;
          }

          a {
            width: 90% !important;
            height: @gift-array-mobile-btn-height !important;
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-mobile-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
