/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .logo-cta {
    .spacing {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }

  .logo {
    width: 100%;

    img {
      float: none;
      margin: 0 auto;
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  .spacing {
    padding-top: 0;
  }

  .connect {
    border-top: 0 solid transparent;

    .social-connect {
      padding-top: 0;
      padding-bottom: 20px;

      .copy {
        padding-bottom: 10px;
        color: #666666;
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .eyebrow {
        .copy {
          display: block !important;
        }
      }

      .logo {
        img {
          max-width: 257px !important;
          height: auto !important;
        }
      }
    }
  }
}
