@content-width:             600px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@robotocondensed: 'Arial Narrow', sans-serif, 'Roboto Condensed';
@raleway: Arial, Helvetica, sans-serif, 'Raleway';
@sourcesanspro: Arial, Helvetica, sans-serif, 'Source Sans Pro';
@nunitosans: Arial, Helvetica, sans-serif, 'Nunito Sans';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @montserrat;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               20px;
@text-color:                #000000;
@link-color:                #CA902F;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-width:                  160px;
@button-height:                 auto;
@button-bg:                     #D2373E;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 0;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            700;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

@header-bg:											@body-bg;
@header-font-family:            @font-family-sans-serif;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #464646;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-link-font-weight:   		normal;
@header-font-weight:            normal;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Header Button styles
@header-button-width:              	200px;
@header-button-height:              @button-height;
@header-button-bg:              		#dddddd;
@header-button-border:          		@header-button-bg;
@header-button-radius:              3px;
@header-button-color:           		#ffffff;
@header-button-font-family:         @font-family;
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             @header-text-color;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					28px;
@johnsonbox-line-height:  					51px;
@johnsonbox-color:        					#4A4A4A;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            400;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-text-color:      			#3D7441;
@gift-array-text-font-weight:     700;
@gift-array-btn-width:         		@button-width;
@gift-array-btn-height:         	@button-height;
@gift-array-btn-bg:         			@button-bg;
@gift-array-btn-color:      			@button-color;
@gift-array-btn-font-family:      @button-font-family;
@gift-array-btn-font-size:      	@button-font-size;
@gift-array-btn-line-height:     	@gift-array-btn-font-size;
@gift-array-btn-font-weight:     	@button-font-weight;
@gift-array-btn-radius:      			@button-radius;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#dddddd;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #595959;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3;
@footer-text-align:             center;
@footer-font-weight:            normal;
