.salutation {
  .spacing {
    padding-bottom: 0;
  }
}

.ticket {
  padding-top: 15px;
}

.thx-graphic {
  padding-top: 30px;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 65% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
      .donate {
        width: 35% !important;
      }
    }
    .ticket {
      padding-top: 15px !important;
    }

    .ticket-headline {
      padding-top: 20px !important;
    }
  }
}
