// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

@body-bg:                   #9f0612;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 25px;
@line-height:               31px;
@text-color:                #666666;
@link-color:                #9f0612;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-bg:                     #cc0a1e;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              #ffae5e;
@header-button-border:          @header-button-bg;
@header-button-color:           #540303;
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

@view-online-color:             #ffffff;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             @view-online-color;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:                     @content-bg;
@johnsonbox-font-family:            Arial, Helvetica, sans-serif;
@johnsonbox-font-size:              34px;
@johnsonbox-line-height:            37px;
@johnsonbox-color:                  #9f0612;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

@gift-array-bg:         					@johnsonbox-bg;
@gift-array-btn-width:            180px;
@gift-array-btn-bg:               transparent;
@gift-array-btn-bg-hover:         @gift-array-btn-bg;
@gift-array-btn-hover-color:      transparent;
@gift-array-btn-color:            transparent;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        20px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           5px;
@gift-array-text-color:           #ffffff;
@gift-array-font-family:          @font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #ffffff;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
