.johnsonbox {
  .copy {
    padding-bottom: 20px;
  }

  .button {
    width: 271px;

    td {
      padding-top: 17px;
      padding-bottom: 17px;
    }

    a {
      color: #ffffff;
    }
  }

  &.holly {
    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.holly {
        img {
          width: 90% !important;
          height: auto !important;
        }
      }
    }
  }
}
