@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.eight {
  width: 347px;
}
.seven {
  width: 299px;
}
.five {
  width: 202px;
}
.four {
  width: 154px;
}
.three {
  width: 105px;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
  text-decoration: none;
  font-weight: bold;
}
.header .button {
  width: 135px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #dddddd;
  border: #98953B;
  width: 135px;
  height: auto;
}
.header .button a {
  width: 135px;
  height: auto;
  background-color: #dddddd;
  border-color: #98953B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 16px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #515151;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.gift-array {
  background-color: #cccccc;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 180px;
}
.gift-array .array .gift-cell {
  height: 130px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 90%;
  height: 130px;
}
.gift-array .array .button td {
  padding: 0;
  height: 130px;
  border-radius: 5px;
  background-color: #fcfcfc;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 95%;
  background-color: #fcfcfc;
  mso-border-alt: 1px solid #fcfcfc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #ad957a;
  border-radius: 5px;
}
.gift-array .array .dollar {
  padding-bottom: 10px;
  display: block;
  font-size: 30px;
  line-height: 25px;
  font-weight: bold;
}
.gift-array .array .active .button td {
  background-color: #dddddd;
}
.gift-array .array .active .button a {
  background-color: #dddddd;
  color: #ffffff;
  mso-border-alt: 1px solid #dddddd;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #5e5e5e;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.ps-statement .ps {
  width: 35px;
  padding-right: 5px;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .signature {
  padding-top: 5px;
  padding-bottom: 5px;
}
.solo-donate-button {
  background-color: #5e5e5e;
}
.header .columns td {
  height: 1px;
  vertical-align: middle;
}
.header .eyebrow .spacing {
  padding-top: 15px;
  padding-bottom: 25px;
}
.header .eyebrow td {
  height: auto;
}
.header .logo-donate {
  width: 100%;
}
.header .logo {
  width: auto;
}
.header .donate-button {
  height: 100%;
}
.header .donate {
  width: 135px;
}
.header .donate .button td {
  border-radius: 5px;
}
.header .copy.view a {
  text-decoration: underline;
  font-weight: normal;
}
.header .copy a {
  font-weight: normal;
}
.header .button td {
  text-align: center;
  border-radius: 0;
}
.header .button a {
  text-decoration: none;
}
.footer .address {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy.smaller {
  padding-bottom: 20px;
}
.footer .copy.smaller a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .four,
  *[class].mobile .five,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .four,
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 135px !important;
  }
  *[class].mobile .header .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #000000 !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 17px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 26px !important;
    line-height: 29px !important;
  }
  *[class].mobile .gift-array .array .dollar {
    padding-bottom: 0 !important;
    display: inline-block !important;
    font-size: 26px !important;
    line-height: 29px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
    line-height: 25px !important;
  }
  *[class].mobile .side-button .copy {
    padding-bottom: 20px !important;
  }
  *[class].mobile .header .eyebrow .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
  }
  *[class].mobile .header .logo-donate {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .logo {
    padding-right: 0 !important;
    width: 100% !important;
  }
  *[class].mobile .header .logo td {
    padding-bottom: 15px !important;
  }
  *[class].mobile .header .logo img {
    margin: 0 auto !important;
    width: 95% !important;
    max-width: 200px !important;
  }
  *[class].mobile .header .donate-button {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate-button .button {
    width: 240px !important;
  }
  *[class].mobile .header .donate-button .button td {
    width: 240px !important;
  }
  *[class].mobile .header .donate-button .button a {
    width: 240px !important;
    font-size: 20px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    padding: 0 !important;
  }
}
