.header {
  table.button {
    width: 130px;
    max-width: 130px;

    a {
      width: 100%;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        width: 130px !important;

        a {
          width: 100% !important;
        }
      }
    }
  }
}
