@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.four {
  width: 174px;
}
.button {
  float: none;
  width: 240px;
  height: 40px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: #dddddd;
  text-align: center;
  border-radius: 3px;
}
.button a {
  width: 100%;
  height: 40px;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
}
.header {
  background-color: #32466a;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #8293b3;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #8293b3;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #32466a;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #32466a;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 15px;
  font-size: 15px;
  line-height: 15px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #323232;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #e10000;
  font-weight: bold;
}
.preheader .copy {
  color: #32466a;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.gift-array {
  background-color: #efebdd;
}
.gift-array .spacing {
  padding-top: 0;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 200px;
}
.gift-array .array .button-wrapper {
  width: 90%;
  height: 130px;
  border-collapse: separate;
  border: 1px solid #cabead;
  background-color: #ffffff;
  border-radius: 5px;
  mso-hide: all;
}
.gift-array .array .gift-cell {
  height: 245px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 95%;
  mso-hide: all;
}
.gift-array .array .button td {
  padding: 0;
  height: auto;
  background-color: #ffffff;
  vertical-align: middle;
  mso-hide: all;
}
.gift-array .array .button a {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #323232;
  border-radius: 5px;
  mso-hide: all;
}
.gift-array .array .dollar {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.gift-array .array .dollar a {
  height: auto;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  color: #e10000;
  letter-spacing: -1px;
}
.gift-array .array .dollar a span {
  font-size: 44px;
  line-height: 50px;
  vertical-align: top;
}
.gift-array .array .dollar.narrow a {
  letter-spacing: -5px;
}
.gift-array .array .daily {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.gift-array .array .daily a {
  height: auto;
  font-size: 13px;
  line-height: 20px;
  color: #323232;
  font-weight: normal;
}
.gift-array .array .copy {
  padding-top: 0;
  padding-bottom: 5px;
  height: 89px;
}
.gift-array .array .copy a {
  height: 89px;
}
.gift-array .array .small {
  width: 116px;
}
.gift-array .array .small td {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.gift-array .array .small a {
  height: 30px;
  background-color: #e10000;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #de2b30;
}
.solo-donate-button.blue {
  background-color: #32466a;
}
.body {
  background-color: #32466a;
}
.preheader .copy {
  color: #32466a;
  font-size: 0px;
  line-height: 0px;
}
.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.view-online .spacing {
  padding-bottom: 5px;
}
.header {
  background-color: #32466a;
}
.header .spacing {
  padding-top: 0px;
}
.header .logo {
  width: 80%;
}
.header .logo img {
  max-width: 266px;
}
.header .donate {
  width: 20%;
}
.footer {
  background-color: #32466a;
  text-align: center;
}
.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #8293b3;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  color: #8293b3;
  font-weight: normal;
}
.footer .logo {
  width: auto;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .small {
  font-size: 11px;
}
.footer .smaller {
  font-size: 10px;
}
.footer .smaller a {
  font-size: 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.beige {
  background-color: #efebdd;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 15px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 200px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button-cell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  *[class].mobile .gift-array .array .button.big {
    width: 95% !important;
  }
  *[class].mobile .gift-array .array .dollar a,
  *[class].mobile .gift-array .array .dollar span {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  *[class].mobile .gift-array .array .daily,
  *[class].mobile .gift-array .array .copy {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .daily a,
  *[class].mobile .gift-array .array .copy a {
    height: auto !important;
    font-size: 15px !important;
    line-height: 17px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .solo-donate-button img {
    width: 95% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 35% !important;
  }
  *[class].mobile .footer a {
    font-size: 12px !important;
  }
}
