table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

.header {
  .button {
    a {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.footer {
  .spacing {
    padding-top: 80px;
  }
}

@media @content {
  *[class].mobile {
    .footer {
      .spacing {
        padding-top: 20px !important;
      }
    }
  }
}
