.header {
  .unsubscribe,
  .unsubscribe a {
    font-family: @header-font-family;
    font-size: @header-font-size;
  }

  .spacing {
    padding-bottom: 5px;
  }
}

.footer {
  .copy {
    &.smaller,
    &.smaller a {
      font-size: @footer-font-size - 3;
      line-height: @footer-line-height - 3;
    }
  }
}

.list {
  .bullet {
    padding-right: 10px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;
      }
      .donate {
        width: 50% !important;
      }
    }
  }
}
