@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 542px;
}
.twelve {
  width: 542px;
}
.eleven {
  width: 494px;
}
.ten {
  width: 445px;
}
.four {
  width: 154px;
}
.button {
  float: none;
  width: 359px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #BD2234;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #BD2234;
  background-color: #BD2234;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 175px;
  height: auto;
  background-color: #BD2234;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #BD2234;
  border-color: #BD2234;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: none;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 582px;
}
.main-content {
  width: 582px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #29271D;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #33467D;
  font-weight: normal;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 582px;
}
td.hide img {
  width: 582px;
  min-width: 582px;
}
.gift-array {
  background-color: #ffffff;
  border-top: 2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
}
.gift-array .spacing {
  padding-top: 35px;
  padding-bottom: 35px;
}
.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #BD2234;
  font-weight: bold;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 175px;
}
.gift-array .array .gift-cell {
  height: 145px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 175px;
  height: 145px;
}
.gift-array .array .button td {
  padding: 0;
  height: auto;
  border-radius: 0;
  background-color: #ffffff;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  color: #666666;
  border-radius: 0;
}
.gift-array .array .button img {
  margin: 0 auto;
}
.gift-array .array .dollar {
  padding-top: 0;
  padding-bottom: 0;
}
.gift-array .array .dollar a {
  display: block;
  font-size: 36px;
  line-height: 41px;
  font-weight: bold;
}
.gift-array .array .dollar.light-blue a {
  color: #73C2E3;
}
.gift-array .array .dollar.blue a {
  color: #33467D;
}
.gift-array .array .dollar.red a {
  color: #BD2234;
}
.gift-array .array .dollar span {
  padding-left: 5px;
  font-size: 31px;
  line-height: 41px;
  color: #C2C2C2;
  vertical-align: top;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 32px;
  line-height: 36px;
  color: #333333;
  font-weight: bold;
  text-align: left;
}
.johnsonbox .copy a {
  color: #333333;
  text-decoration: none;
}
.johnsonbox .button img {
  display: inline-block;
  width: 39px;
  height: 31px;
}
.johnsonbox .button table {
  width: auto;
  margin: 0 auto;
}
.johnsonbox .button table td {
  padding-top: 0;
  padding-bottom: 0;
  height: 39px;
  vertical-align: middle;
}
.johnsonbox .button a {
  color: #ffffff;
  font-weight: bold;
}
.johnsonbox .button .copy {
  padding-bottom: 0;
  padding-left: 10px;
}
.johnsonbox.top {
  background-color: #BD2234;
}
.johnsonbox.top .spacing {
  padding-top: 20px;
  padding-bottom: 25px;
}
.johnsonbox.top .copy {
  text-align: center;
  font-weight: normal;
  color: #ffffff;
}
.johnsonbox.top .button {
  border: 2px solid #ffffff;
}
.johnsonbox.top .button td {
  padding-top: 14px;
  padding-bottom: 14px;
}
.johnsonbox.top .button table {
  width: auto;
  margin: 0 auto;
}
.johnsonbox.top .button table td {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox.top .button a {
  color: #ffffff;
}
.johnsonbox.middle .spacing {
  padding-top: 65px;
  padding-bottom: 55px;
}
.johnsonbox.middle .copy {
  font-weight: normal;
  font-style: italic;
}
.johnsonbox.middle .ten {
  width: 480px;
}
.johnsonbox.middle img {
  width: 480px;
  height: auto;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .button td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.solo-donate-button .button table {
  width: auto;
  margin: 0 auto;
}
.solo-donate-button .button table td {
  padding-top: 0;
  padding-bottom: 0;
}
.text-donate-button {
  background-color: #ffffff;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 32px;
  line-height: 36px;
  color: #333333;
  font-weight: bold;
  text-align: left;
  font-style: italic;
}
.text-donate-button .copy a {
  color: #333333;
  text-decoration: none;
  font-style: normal;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 175px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #BD2234;
  border: #BD2234;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer {
  background-color: #ffffff;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  color: #4A4A4A;
  text-decoration: none;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  font-weight: normal;
}
.header .copy {
  padding-bottom: 10px;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.footer .smaller a {
  text-decoration: underline;
}
.body-copy .eleven {
  width: 480px;
}
.body-copy.top .spacing {
  padding-top: 40px;
}
.body-copy.bottom .spacing {
  padding-top: 0;
}
@media only screen and (max-width: 582px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 23px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 18px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 23px !important;
    line-height: 26px !important;
  }
  *[class].mobile .gift-array .array .dollar a {
    padding-bottom: 0 !important;
    display: inline-block !important;
    font-size: 36px !important;
    line-height: 41px !important;
  }
  *[class].mobile .gift-array .array .dollar .arrow {
    display: none !important;
  }
  *[class].mobile .gift-array .array .dollar #arrow {
    padding-left: 10px !important;
    content: '\25B8\00FE0E' !important;
    display: inline !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: none !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .body-copy.top .spacing {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
