.body-copy {
  .spacing {
    padding-bottom: 0;
    padding-top: 30px;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
        }
      }
    }
  }
}
