/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 10px;
    font-family: @gift-array-btn-font-family;
    font-size: 20px;
    line-height: 26px;
    color: @gift-array-text-color;
    font-weight: bold;
  }

  .array {

    table {
      width: @gift-array-btn-width;

      td {
        padding: 20px 0;
        background-color: @gift-array-btn-bg;
        border-radius: @gift-array-btn-radius;
        mso-line-height-rule: exactly;
        mso-border-alt: @gift-array-btn-bg;
      }
    }

    a {
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;
      mso-line-height-rule: exactly;
      mso-border-alt: @gift-array-btn-bg;

      span {
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 15px;
      padding-bottom: 0;
    }

    .active {
      td {
        padding: 20px 0;
        background-color: @gift-array-active-btn;
        mso-line-height-rule: exactly;
        mso-border-alt: @gift-array-active-btn;
      }

      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      a {
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }

      .copy {
        font-size: 20px !important;
        line-height: 26px !important;
      }
    }
  }
}
