@content-width:             581px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               25px;
@text-color:                #29271D;
@link-color:                #ED315A;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 2;
@header-text-color:             #464646;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            normal;

// Mobile Johnsonbox styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Button styles
@button-width:                  271px;
@button-height:                 auto;
@button-bg:                     #ED315A;
@button-border:                 @button-bg;
@button-color:                  #FFFFFF;
@button-radius:                 31px;
@button-font-family:            @font-family;
@button-font-size:              24px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size - 4;

// Header Button styles
@header-button-width:              	175px;
@header-button-height:              @button-height;
@header-button-bg:              		#ffffff;
@header-button-border:          		#ED315A;
@header-button-color:           		#ED315A;
@header-button-font-family:         @font-family;
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@preheader-color:                   @body-bg;

@johnsonbox-bg:           					@content-bg;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					24px;
@johnsonbox-line-height:  					27px;
@johnsonbox-color:        					#ED315A;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height;

@gift-array-bg:         					@content-bg;
@gift-array-font-family:      		@font-family;
@gift-array-btn-width:         		170px;
@gift-array-btn-bg:         			#ffffff;
@gift-array-btn-color:      			#ED315A;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	15px;
@gift-array-btn-line-height:     	19px;
@gift-array-btn-font-weight:     	normal;
@gift-array-btn-radius:      			18px;
@gift-array-text-color:      			#ED315A;
@gift-array-price-font-size:      36px;
@gift-array-price-line-height:    41px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     @body-bg;
@footer-color:                  #4A4A4A;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 4;
@footer-text-align:             center;
@footer-link-font-weight:       bold;
