.copy {
  a {
    font-size: @font-size;
    color: @link-color;
    text-decoration: @link-decoration;
  }
}

.readmore {
  a {
    color: @teal;
  }
}

.blue-stripe {
  img {
    width: 100%;
    height: auto;
  }
}

.andy {

  .spacing {
    padding-top: 0; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .copy {
    color: #625d54;

    &.spacing {
      padding-left: 0;
      // padding-right: 20px;
    }

    &.sig {
      padding-left: 40px;
    }
  }

  .twelve {
    width: 95% !important;
  }

  .andys-text {
    width: 400px;
  }

  .andys-blog {
    width: 173px;
  }

  .andys-notes {
    background-color: #FBF6E5;
  }

  .andys-quote {
    padding-left: 40px;
    padding-right: 20px;
  }

  .blog-btn {
    width: 75%;
    background-color: #EEE7D6;
    text-align: center;

    td {
      padding: 5px;
    }

    a {
      text-decoration: none;
      color: @link-color;
      font-family: @font-family-sans-serif;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      font-style: italic;
    }
  }
}

.sidebar {
  background-color: #EFEAD8;
  font-family: @font-family-sans-serif;
  font-size: 14px;

  .spacing {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .copy {
    padding-top: 7px;
    color: #858072;
    font-style: italic;
  }

  &.bottom-donate {
    .copy {
      padding-bottom: 20px;
    }
  }
}

.footer {
  a {
    text-decoration: @footer-text-decoration;
  }
}

@media @content {
  .hero-share img, .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text, .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andys-text, .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andy {
    .blog-btn {
      width: 50% !important;
    }

    .sig {
      padding-left: 0 !important;
    }

    .andys-quote {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

}

@media @tablet {
  .hero-share img, .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text, .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andys-text, .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andy {
    .andy-gradients {
      display: none !important;
    }

    .blog-btn {
      width: 50% !important;
    }

    .sig {
      padding-left: 0 !important;
    }

    .andys-quote {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

}

@media @phone {
  .hero-share img, .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text, .andys-blog {
      width: 100% !important;
    }

    .andys-blog td {
      padding-top: 10px !important;
    }

    .andy {
      .andy-gradients img {
        display: none !important;
      }

      .blog-btn {
        width: 50% !important;
      }

      .sig {
        padding-left: 0 !important;
      }

      .andys-quote {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }

}