// Brand Colors
@teal:                 			#1b5366;
@tan:                       #E0D2B1;
@light-tan:									#fbf6e6;
@dark-brown:								#574f40;

@content-width:             670px;

@grid-columns:							12;

@body-bg:                   @tan; 
@content-bg:                @light-tan;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 14px;
@line-height:               21px;
@text-color:                #2a251e;
@link-color:                @teal;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Preheader Styles
@preheader-color:               @body-bg;
@preheader-font-size:           0px;
@preheader-line-height:         0px;

@view-online-color:             @teal;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              11px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #333333;
@header-link-text-decoration:   underline;
@header-link-color:   					@teal;
@header-font-weight:   					normal;

@johnsonbox-bg:           					#5e5e5e;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;

@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;

// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;
@newsletter-story-header-color:   			#616161;
@newsletter-story-header-font-family:		@font-family-serif;

// eNewsletter specific styles
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-header-font-size:    32px;
@newsletter-featured-header-line-height:  38px; 
@newsletter-featured-header-color:   			#002c55;

// eNewsletter director styles
@newsletter-director-bg:                  @light-tan;
@newsletter-director-font-size:           14px;
@newsletter-director-line-height:         20px;
@newsletter-director-color:               #625d54;

@footer-bg:                     @body-bg;
@footer-color:                  #998d72;
@footer-link-color:             @dark-brown;
@footer-text-decoration:        none;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5; 
@footer-text-align:             center;