body {
  background-color: #ffffff;
}

// Header
.header {
  width: 100%;

  .copy {
    padding-bottom: 10px;
  }

  .columns {
    width: @content-width;
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 30px;
      }
    }
  }

  .mobile-view-donate {
    display: none;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }

  .copy.address {
    a {
      text-decoration: none;
    }
  }
}

.list {
  margin: 0 auto;
  width: 80%;

  .bullet {
    padding-right: 2px;
    vertical-align: top;
  }
}

.top-spacing {
  background-color: @body-bg;
  padding-top: 40px;
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        &.copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy.address {
        a {
          text-decoration: none !important;
        }
      }
    }

    .list {
      width: 100% !important;

      .bullet {
        padding-right: 5px !important;
      }
    }
  }
}
