// Header
.header {
  .copy {
    padding-bottom: 10px;
  }

  .view-donate {
    width: 50%;

    .button {
      border-collapse: separate;

      td {
        border: 3px solid @header-button-border;
        border-collapse: separate;
        border-radius: 30px;
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }

  .mobile-view-donate {
    display: none;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }
}

// Footer
.footer {
  .connect {
    .copy {
      color: #1D2129;
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;

      &.address {
        a {
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }
}

.body-copy {
  .spacing {
    padding-top: 40px;
  }

  .list {
    .copy {
      font-weight: bold;
      vertical-align: top;

      &.bullet {
        padding-right: 15px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        &.copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .client-info {
        .copy {
          &.address {
            a {
              text-decoration: none !important;
            }
          }
        }
      }
    }

    .johnsonbox {
      &.bar {
        .button {
          width: 100% !important;
        }
      }
    }
  }
}
