// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

table, tr, td {
  mso-line-height-rule: exactly;
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

.smaller {
  font-size: 15px;
  line-height: 20px;
}

.preheader {
  width: 100%;
  background-color: #ffffff;

  .copy {
    background-color: #ffffff;
    color: #ffffff;
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
