.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.red {
    background-color: @body-bg;

    a {
      text-decoration: underline;
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .copy {
      font-size: 28px;
      padding-bottom: 0;

      span {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &.white {
    background-color: #ffffff;

    .copy {
      padding-bottom: 10px;
      color: #9e1c20;
      font-size: 20px;
      line-height: 22px;
      font-weight: normal;
    }

    a {
      font-family: Arial, Helvetica, sans-serif;
    }

    .button {
      td, a {
        background-color: @button-bg;
      }
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  &.yellow {
    background-color: #ffd9a2;

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .spacer {
      .spacing {
        padding-top: 5px;
        padding-bottom: 0;
      }
    }
    .copy {
      color: #9e1c20;
      font-size: 24px;
      line-height: 30px;
    }

    .input-fields {
      .copy {
        padding-left: 20px;
        padding-bottom: 0;
        color: #666666;
        font-size: 20px;
      }

      .input {
        height: 46px;
        font-size: 20px;
        line-height: 26px;
        background-color: #ffffff;
        border-radius: 3px;
        color: #666666;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.yellow {
        .copy {
          text-align: center !important;
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }

        .input-fields {
          .copy {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          .input {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }
}
