.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.small {
      padding-bottom: 5px;
      font-size: 20px;
      line-height: 22px;
      font-weight: normal;
    }

    &.small-bold {
      padding-bottom: 20px;
      font-size: 25px;
      line-height: 27px;
      font-weight: 900;

      span {
        text-decoration: underline;
      }
    }

    &.bottom {
      padding-top: 25px;
      color: #4A4A4A;
    }
  }

  .prices {
    padding-bottom: 40px;

    img {
      width: 267px;
      height: 157px;
    }
  }

  .button {
    td {
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  &.yellow {
    background-color: #FFFEF0;

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .copy {
      font-size: 27px;
      line-height: 33px;
      font-weight: normal;

      span {
        text-decoration: underline;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;

        &.bottom {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          font-size: 18px !important;
        }
      }

      .spacing {
        padding-top: 0 !important;
      }

      &.yellow {
        .copy {
          font-size: 23px !important;
          line-height: 29px !important;
        }

        .spacing {
          padding-top: 10px !important;
        }
      }
    }
  }
}
