.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
}
