@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.ten {
  width: 494px;
}
.nine {
  width: 440px;
}
.eight {
  width: 387px;
}
.seven {
  width: 334px;
}
.five {
  width: 227px;
}
.three {
  width: 120px;
}
.button {
  float: none;
  width: 240px;
  height: 40px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: #417505;
  text-align: center;
  border-radius: 9px;
}
.button a {
  width: 100%;
  height: 40px;
  display: block;
  border-color: #417505;
  background-color: #417505;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 9px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-decoration: underline;
}
.footer {
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F9FAFE;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F9FAFE;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #417505;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero {
  border-bottom: 4px solid #ffffff;
  margin: 0 auto;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar {
  background-color: #4072B8;
}
.sidebar .copy {
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
  font-weight: bold;
}
.sidebar .five {
  width: 266px;
}
.sidebar .five table {
  margin: 0 auto;
  width: 95%;
}
.sidebar .five table .copy {
  padding-left: 0;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .copy {
  padding-top: 10px;
}
.solo-donate-button {
  background-color: #ffffff;
  margin: 0 auto;
}
.solo-donate-button .button {
  width: 170px;
  height: auto;
  border-radius: 9px;
}
.solo-donate-button .button td {
  padding-top: 11px;
  padding-bottom: 11px;
  height: auto;
  border-radius: 9px;
}
.solo-donate-button .button a {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}
.text-donate-button {
  background-color: #4072B8;
  margin: 0 auto;
}
.text-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 31px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.17;
}
.text-donate-button .button {
  width: 170px;
  height: auto;
  background-color: #ffffff;
  border-radius: 9px;
}
.text-donate-button .button td {
  padding-top: 11px;
  padding-bottom: 11px;
  height: auto;
  background-color: #ffffff;
  border-radius: 9px;
}
.text-donate-button .button a {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  background-color: #ffffff;
  color: #417505;
}
.body {
  background-color: #F9FAFE;
}
.header {
  background-color: #F9FAFE;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .columns {
  width: 640px;
}
.header .eyebrow .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.header .copy a {
  color: #666666;
  text-decoration: underline;
  font-weight: normal;
}
.footer {
  width: 100%;
  background-color: #F9FAFE;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer .connect {
  border-top: 2px solid #cccccc;
}
.footer .social-connect {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer .social .copy {
  padding-bottom: 0;
  padding-right: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
.body-spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section {
  width: 600px;
}
.header {
  border-top: 1px solid #F1F1F1;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  width: 640px;
  background-color: #ffffff;
}
.header .columns {
  width: 600px;
}
.main-content {
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}
.sidebar {
  width: 640px;
}
.footer .connect {
  border-top: 0 solid transparent;
}
.footer .social-connect {
  padding-top: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns {
    width: 90.625% !important;
  }
  *[class].mobile .three,
  *[class].mobile .five,
  *[class].mobile .seven,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten {
    width: 90.625% !important;
  }
  *[class].mobile .columns .three,
  *[class].mobile .columns .five,
  *[class].mobile .columns .seven,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: 40px !important;
  }
  *[class].mobile .button a {
    font-size: 18px !important;
  }
  *[class].mobile .header .copy {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sidebar .seven img {
    margin: 0 auto !important;
  }
  *[class].mobile .sidebar .five {
    height: auto !important;
  }
  *[class].mobile .sidebar .five table {
    width: 100% !important;
  }
  *[class].mobile .sidebar .five td {
    height: auto !important;
  }
  *[class].mobile .sidebar .five .copy {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-align: center !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 27px !important;
    line-height: 30px !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .copy {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .copy {
    display: block !important;
  }
  *[class].mobile .header .eight {
    width: 75% !important;
  }
  *[class].mobile .header .three {
    width: 25% !important;
  }
}
