<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Eyebrow -->
      <table class="columns eyebrow" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->

            <!-- DELETE THIS BLOCK IF NOT NEEDED - START -->
            <table class="eight" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="left">
                  Lorem ipsum dolor sit amet, consectetur <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">adipiscing elit.</a>
                </td>
              </tr>
            </table>
            <!-- DELETE THIS BLOCK IF NOT NEEDED - END -->

            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="three" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy view" align="right">
                  <a href="[% webview_url %]" target="_blank">View online</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <!-- Logo and Donate Button Combo -->
      <table class="columns logo-donate" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center" class="spacing" valign="middle">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="middle">
            <![endif]-->
            <table class="logo" align="left" valign="middle" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td valign="middle">
                  <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="https://cdn.oneandall.com/Digital_Assets/RM/Logos/Black/[CI26].gif" alt="##CT16##" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="middle">
            <![endif]-->
            <table class="donate-button" align="right" valign="middle" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="donate" align="center" valign="middle">

                  <table class="button" align="center" cellpadding="0" cellspacing="0" border="0" valign="middle">
                    <tr>
                      <td align="center">
                        <a href="#donate?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">DONATE</a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <!-- Social Media -->
                <!-- Facebook -->
                <td>
                  <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_fb.gif" alt="Facebook" width="28" height="28" border="0" /></a>
                </td>
                <!-- Linkedin -->
                <td>
                  <a href="##CT315##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_linkedin.gif" alt="LinkedIn" width="28" height="28" border="0" /></a>
                </td>
                <!-- Pinterest -->
                <td>
                  <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_pinterest.gif" alt="Pinterest" width="28" height="28" border="0" /></a>
                </td>
                <!-- Twitter -->
                <td>
                  <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_twitter.gif" alt="Twitter" width="28" height="28" border="0" /></a>
                </td>
                <!-- Vimeo -->
                <td>
                  <a href="##CT320##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_vimeo.gif" alt="Vimeo" width="28" height="28" border="0" /></a>
                </td>
                <!-- Youtube -->
                <td>
                  <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_youtube.gif" alt="YouTube" width="28" height="28" border="0" /></a>
                </td>
                <!-- Instagram -->
                <td>
                  <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_instagram.gif" alt="Instagram" width="28" height="28" border="0" /></a>
                </td>
                <!-- Wordpress -->
                <td>
                  <a href="##CT317##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_wordpress.gif" alt="WordPress" width="28" height="28" border="0" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy address">
            <strong>##CT16##</strong><br/>
            ##CA30_OGE AddressPrimary## &bull; ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip## &bull; ##CT15## &bull; <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">##CT17##</a>
          </td>
        </tr>
        <tr>
          <td class="copy smaller">
            If you do not wish to receive future email updates from ##CT16##, <a href="##CT311##" target="_blank">unsubscribe&nbsp;here</a>.
            <div class="copy-spacer">&nbsp;</div>
            Costs are average and include the expense of preparing and providing meals. All donations will be used for board-approved programs and projects. When any need or project goal has been met or cannot be completed, extra funds will be used in areas of greatest&nbsp;need.
            <div class="copy-spacer">&nbsp;</div>
            &#169; {{job_year}} ##CT16##. All rights reserved. <a href="##CT310##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">Privacy&nbsp;policy</a>.
          </td>
        </tr>
      </table>

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">

            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center">
                  <img src="https://cdn.oneandall.com/Digital_Assets/RM/Affiliate_Logos/Black/[CI172].gif" alt="affiliates" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="columns affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">
            <img src="https://cdn.oneandall.com/Digital_Assets/RM/Affiliate_Logos/Black/[CI172].gif" alt="affiliates" border="0" />
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
