// Header
.header {
  .columns {
    td {
      height: 1px;
      vertical-align: middle;
    }
  }

  .eyebrow {
    .spacing {
      padding-top: 15px;
      padding-bottom: 25px;
    }

    td {
      height: auto;
    }
  }

  .logo-donate {
    width: 100%;
  }

  .logo {
    width: auto;
  }

  .donate-button {
    height: 100%;
  }

  .donate {
    width: @header-button-width;

    .button {
      td {
        border-radius: @header-button-radius;
      }
    }
  }

  .copy {
    &.view {
      a {
        text-decoration: underline;
        font-weight: normal;
      }
    }

    a {
      font-weight: normal;
    }
  }

  .button {
    td {
      text-align: center;
      border-radius: @button-radius;
    }

    a {
      text-decoration: @header-button-text-decoration;
    }
  }
}

.footer {
  .address {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy.smaller {
    padding-bottom: 20px;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: normal;
    }
  }

  .affiliates {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .eyebrow {
        .copy {
          padding-left: 0 !important;
          padding-right: 0 !important;
          text-align: center !important;
        }
      }

      .logo-donate {
        margin: 0 auto !important;
        float: none !important;
      }

      .logo {
        padding-right: 0 !important;
        width: 100% !important;

        td {
          padding-bottom: 15px !important;
        }

        img {
          margin: 0 auto !important;
          width: 95% !important;
          max-width: 200px !important;
        }
      }

      .donate-button {
        width: 100% !important;
        height: auto !important;

        .button {
          width: @header-button-mobile-width !important;

          td {
            width: @header-button-mobile-width !important;
          }

          a {
            width: @header-button-mobile-width !important;
            font-size: @header-button-mobile-font-size !important;
          }
        }
      }
    }

    .footer {
      .social-icons, .affiliates {
        padding: 0 !important;

        table {
          float: none !important;
          margin: 0 auto !important;
        }
      }
    }
  }
}
