@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 580px;
}

.eleven {
  width: 527px;
}

.preheader .copy {
  color: #3f0806;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #3f0806;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #808080;
  text-align: center;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #b4423e;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #3f0806;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #3f0806;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #5a5a5a;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #db0000;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #db0000;
  font-weight: normal;
}

.johnsonbox .copy.bigger,
.johnsonbox .copy.big {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

.johnsonbox .copy.big {
  font-size: 24px;
}

.johnsonbox .donate {
  padding-top: 15px;
}

.johnsonbox.beige {
  background-color: #ffecd3;
}

.johnsonbox.beige .copy {
  color: #000000;
}

.johnsonbox.beige .header {
  padding-bottom: 15px;
  background-color: #ffecd3;
  color: #db0000;
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
}

.johnsonbox.beige .bullet {
  padding-right: 10px;
  font-size: 30px;
  color: #db0000;
}

.johnsonbox.beige .bullet.black {
  font-size: 25px;
  color: #000000;
}

.johnsonbox.beige em {
  font-size: 14px;
  line-height: 20px;
}

.donate-button {
  background-color: #ffffff;
}

.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sig .copy {
  padding-top: 0;
  padding-bottom: 5px;
}

.body {
  background-color: #3f0806;
}

.preheader .copy {
  color: #3f0806;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #3f0806;
}

.footer {
  background-color: #3f0806;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #808080;
  text-align: center;
}

.footer a {
  text-decoration: none;
  font-weight: normal;
}

.footer .copy a {
  color: #b4423e;
}

.footer .spacing {
  padding-top: 50px;
}

.footer .logo {
  padding-bottom: 20px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .eleven {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .twelve {
    width: 92% !important;
  }

  *[class].mobile .johnsonbox .copy.bigger {
    font-size: 24px !important;
    line-height: 28px !important;
  }

  *[class].mobile .johnsonbox .copy.big {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  *[class].mobile .johnsonbox.beige .eleven {
    width: 92% !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 11px !important;
  }

  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }

  *[class].mobile .footer .logo img {
    height: auto !important;
  }
}
