@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 550px;
}
.twelve {
  width: 550px;
}
.ten {
  width: 452px;
}
.nine {
  width: 403px;
}
.eight {
  width: 354px;
}
.four {
  width: 157px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #dddddd;
  text-align: center;
  border-radius: 0;
}
.button td:hover {
  border-color: #b7b7b7;
  background-color: #b7b7b7;
  color: #000000;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #dddddd;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #dddddd;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
}
.header .button td {
  background-color: #00BDCB;
}
.header .button td:hover {
  border-color: #00BDCB;
  background-color: #00BDCB;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: 1px solid #00BDCB;
  color: #ffffff;
  background-color: #00BDCB;
  font-weight: bold;
  font-size: 16px;
  mso-border-alt: 1px solid #00BDCB;
}
.header .button a:hover {
  border-color: #00BDCB;
  background-color: #00BDCB;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #00BDCB;
  background-color: #00BDCB;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #00BDCB;
  background-color: #00BDCB;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4A4A4A;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .social-icons td.last {
  padding: 0 0 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 590px;
}
.main-content {
  width: 590px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  text-decoration: underline;
  color: #1D2129;
  font-weight: normal;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 25px;
  padding-bottom: 5px;
}
.johnsonbox .columns td {
  vertical-align: middle;
  height: 3px;
  font-size: 3px;
  line-height: 3px;
}
.johnsonbox .columns .copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 24px;
  line-height: 26px;
  color: #01AAB7;
  font-weight: 600;
}
table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.body {
  background-color: #ffffff;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: auto;
}
.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #00BDCB;
  border: 1px solid #00BDCB;
  mso-border-alt: 1px solid #00BDCB;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
td.hide {
  min-width: 590px;
}
td.hide img {
  width: 590px;
  min-width: 590px;
}
.header {
  background-color: #ffffff;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  font-weight: normal;
}
.header .copy a {
  color: #333333;
  text-decoration: underline;
  font-weight: normal;
}
.header .view-donate .button td {
  background-color: #00BDCB;
  border: 1px solid #00BDCB;
  mso-border-alt: 1px solid #00BDCB;
}
.header .view-donate .button a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.footer .twelve {
  width: 580px;
}
.footer .spacing {
  padding-bottom: 0;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
}
.footer .connect .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.footer .social-icons td.first {
  padding-left: 0;
}
.footer .social-icons td.last {
  padding-right: 0;
}
.footer .client-links {
  width: 580px;
  background-color: #7DF0EE;
}
.footer .client-links .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .client-links a {
  font-family: Arial, Helvetica, sans-serif, 'Open Sans';
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.footer .client-links .eight {
  width: auto;
}
.footer .client-links .eight table {
  border-right: 2px solid #000000;
}
.footer .client-links .eight table td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .client-links .eight .first td {
  padding-left: 28px;
}
.footer .client-links .four {
  width: auto;
}
.footer .client-links .four .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .client-links .four table {
  border-right: 2px solid #000000;
}
.footer .client-links .four table.last {
  border-right: 0 solid transparent;
}
.footer .client-links .four table td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer.bottom {
  width: 580px;
  background-color: #E7FBFB;
}
.footer.bottom .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.body-copy .spacing {
  padding-bottom: 0;
}
.list .spacing {
  padding-top: 0;
}
.list .bullet {
  font-size: 15px;
  color: #179DAB;
  font-weight: bold;
  vertical-align: top;
}
@media only screen and (max-width: 590px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 16px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .columns td {
    width: 23% !important;
  }
  *[class].mobile .johnsonbox .columns .copy {
    width: 50% !important;
    font-size: 21px !important;
    line-height: 23px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #333333 !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-links .spacing {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  *[class].mobile .footer .client-links a {
    font-size: 18px !important;
    text-decoration: none !important;
  }
  *[class].mobile .footer .client-links .eight {
    margin: 0 auto !important;
    float: none !important;
    width: auto !important;
  }
  *[class].mobile .footer .client-links .eight table.no-mobile-border {
    border-right: 0 solid transparent !important;
  }
  *[class].mobile .footer .client-links .eight .first td {
    padding-left: 0 !important;
  }
  *[class].mobile .footer .client-links .four {
    margin: 0 auto !important;
    float: none !important;
    width: auto !important;
  }
  *[class].mobile .footer .client-links .four .spacing {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-links .four table.last {
    padding-right: 0 !important;
  }
}
