.list {
  table {
    width: 95%;
  }

  .bullet {
    padding-right: 5px;
  }

  .copy {
    padding-bottom: 8px;
  }
}

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
  mso-line-height-rule: exactly;
}
