.body-copy {
  .heading {
    padding-top: 30px;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
  }

  .spacing {
    padding-bottom: 0;
  }
}
