@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.ten {
  width: 494px;
}
.four {
  width: 174px;
}
.button {
  float: none;
  width: 280px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #CC0A1E;
  text-align: center;
  border-radius: 5px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #CC0A1E;
  background-color: #CC0A1E;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 23px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.header {
  background-color: #9F0612;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: normal;
}
.header .button {
  width: 130px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FFCC82;
  border: #FFCC82;
  width: 130px;
  height: auto;
}
.header .button a {
  width: 130px;
  height: auto;
  background-color: #FFCC82;
  border-color: #FFCC82;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #540303;
  font-weight: normal;
  text-decoration: none;
}
.footer {
  background-color: #9F0612;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .affiliates {
  margin: 0 auto;
  width: auto;
}
.footer .affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #9F0612;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #9F0612;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #9F0612;
  font-weight: normal;
}
.preheader .copy {
  color: #9F0612;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.gift-array {
  background-color: #FFCC82;
}
.gift-array .array {
  margin: 0 auto;
  width: auto;
}
.gift-array .array .gift {
  width: 204px;
}
.gift-array .array .gift-cell {
  height: 162px;
  vertical-align: middle;
}
.gift-array .array .button {
  margin: 0 auto;
  width: 180px;
  height: 162px;
}
.gift-array .array .button td {
  padding: 0;
  height: 162px;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;
}
.gift-array .array .button a {
  margin: 0 auto;
  width: 95%;
  background-color: transparent;
  mso-border-alt: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  text-decoration: none;
  color: transparent;
  border-radius: 5px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.text-donate-button {
  background-color: #FFCC82;
}
.text-donate-button .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}
.text-donate-button .copy {
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 27px;
  color: #9E1D20;
  font-weight: normal;
  text-align: center;
}
.text-donate-button .button td {
  padding-top: 12px;
  padding-bottom: 12px;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #ffffff;
}
.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header .donate {
  width: 100%;
}
.header .button {
  max-width: 167px;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy .home-link {
  display: inline-block;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
.header .button a {
  letter-spacing: 0.8px;
}
.body-copy .twelve {
  width: 563px;
}
.footer .social-icons td {
  vertical-align: middle;
  padding: 0 10px;
}
.footer .social-icons .fb img {
  width: 15px;
  height: 27px;
}
.footer .social-icons .twitter img {
  width: 28px;
  height: 23px;
}
.footer .social-icons .youtube img {
  width: 70px;
  height: 16px;
}
.footer .social-icons .instagram img {
  width: 27px;
  height: 27px;
}
.footer .social-icons .pinterest img {
  width: 21px;
  height: 27px;
}
.footer .affiliates .citygate img {
  width: 137px;
  height: 63px;
}
.footer .affiliates .ecfa img {
  width: 46px;
  height: 47px;
}
.footer .affiliates .guidestar img {
  width: 82px;
  height: 52px;
}
.footer .affiliates .bbb img {
  width: 47px;
  height: 72px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .four,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .four {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 280px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 23px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .header .button {
    width: 130px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #FFFFFF !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 18px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .gift-array .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array .gift {
    height: auto !important;
  }
  *[class].mobile .gift-array .array .gift-cell {
    padding-top: 20px !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button {
    margin: 0 auto !important;
    float: none !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .gift-array .array .button a {
    width: 90% !important;
    height: auto !important;
    font-size: 26px !important;
    line-height: 29px !important;
  }
  *[class].mobile .gift-array .array .button img {
    margin: 0 auto;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 24px !important;
    line-height: 27px !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    max-width: 213px !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
  *[class].mobile .social-icons .fb img {
    width: 15px !important;
    height: 27px !important;
  }
  *[class].mobile .social-icons .twitter img {
    width: 28px !important;
    height: 23px !important;
  }
  *[class].mobile .social-icons .youtube img {
    width: 70px !important;
    height: 16px !important;
  }
  *[class].mobile .social-icons .instagram img {
    width: 27px !important;
    height: 27px !important;
  }
  *[class].mobile .social-icons .pinterest img {
    width: 21px !important;
    height: 27px !important;
  }
}
