.sidebar {
  background-color: #f3ece2;

  .spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  td.copy {
    padding-top: 5px;
    padding-bottom: 0;
    font-family: @font-family-serif;
    color: #002c55;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }

  td.donate {
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .spacing {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
      }

      .copy {
        padding-bottom: 20px !important;
      }
    }
  }
}
