@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.button {
  float: none;
  width: 175px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FF5D00;
  text-align: center;
  border-radius: 20px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FF5D00;
  background-color: #FF5D00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
}
.header {
  background-color: #FFD334;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 175px;
  height: auto;
  background-color: #FF5D00;
}
.header .button a {
  width: 175px;
  height: auto;
  background-color: #FF5D00;
  border-color: #FF5D00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #29271D;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #935095;
  font-weight: bold;
}
.preheader .copy {
  color: #FFD334;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero {
  border-bottom: 15px solid #FF5D00;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}
.johnsonbox td {
  padding-bottom: 20px;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: auto;
}
.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #FF5D00;
  border: #FF5D00;
  mso-border-alt: #FF5D00;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .button {
  width: 175px;
}
.header .columns {
  width: 600px;
}
body {
  background-color: transparent;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 175px !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #464646 !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
}
