.header {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  .spacing {
    padding-top: 0;
  }

  .address {
    line-height: 25px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      img {
        width: 98% !important; 
        height: auto !important;
      }
    }
  }
}
