.header {
  width: 100%;

  .beige {
    display: table-cell;

    table {
      display: table;
      background-color: #ECEBE2;
      width: 100%;
      height: 620px;

      td {
        height: 620px;
      }
    }
  }
}

.footer {
  width: 100%;

  .columns {
    width: 100%;
  }

  .connect {
    .copy {
      padding-top: 40px;
      font-size: 18px;
    }
  }

  .client-info {
    a {
      text-decoration: none;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .beige {
        display: none !important;

        table {
          display: none !important;
        }
      }
    }

    .body-copy {
      .copy {
        font-size: @font-size - 2 !important;
        line-height: @line-height  -2 !important;
      }
    }

    .footer {
      .connect {
        .copy {
          font-size: 18px !important;
        }
      }

      .client-info {
        .copy {
          a {
            text-decoration: none !important;
          }
        }
      }
    }
  }
}
