/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.header {
  .columns {
    width: 100%;
  }
}

.forward {
  background-color: #ffffff;
  width: 100%;

  span {
    color: @link-color;
  }

  .footer-logo {
    padding-bottom: 20px;
  }

  .copy {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  .sig {
    .spacing {
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  .address {
    .spacing {
      padding-top: 0;
    }
    .copy {
      font-weight: normal;
      line-height: 18px;

      &.info {
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: @text-color;

        &.social {
          color: @link-color;
          text-decoration: @link-decoration;
        }
      }
    }
  }

  .disclaimer {

    .copy {
      padding-top: 10px;
      border-top: 1px solid #858585;
      font-size: 11px;
      line-height: 14px;
      font-weight: bold;
      color: #858585;
    }
  }
}

@media @content {
  *[class].mobile {
    .forward {
      .sig {
        width: 90% !important;

        .spacing {
          padding-left: 0 !important;
        }

        .twelve {
          width: 100% !important;
        }
      }

      .address {
        width: 90% !important;
        
        .twelve {
          width: 100% !important;
        }
      }
    }
  }
}
