.solo-donate-button {
  background-color: #EBECC7;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .button {
    td {
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: #B5B22A;
      border: 1px solid #989622;
      border-radius: 1px;
    }

    a {
      background-color: #B5B22A;
    }
  }

  &.top {
    background-color: #0D2D53;

    .spacing {
      padding-bottom: 20px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
