@viewport {
  width: device-width !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 630px;
}

.eight {
  width: 407px;
}

.six {
  width: 295px;
}

.four {
  width: 184px;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .four,
  *[class].mobile .six,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }
}

.header {
  background-color: #E0D2B1;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .copy {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #333333;
}

.header .copy a {
  color: #1b5366;
  text-decoration: underline;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }
}

.footer {
  background-color: #E0D2B1;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #998d72;
  text-align: center;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #574f40;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 1px;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #E0D2B1;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #E0D2B1;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #fbf6e6;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #2a251e;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #1b5366;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
}

.story a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #2a251e;
  font-weight: bold;
}

.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}

.story .copy {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
}

.header {
  background-color: #E0D2B1;
}

.header .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .logo {
  width: 50%;
}

.header .logo img {
  max-width: 197px;
}

.header .view-online {
  width: 50%;
}

.header .view-online table {
  width: 100%;
}

.header .view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: underline;
  font-weight: normal;
  color: #1b5366;
}

.header .view-online .copy {
  font-size: 11px;
  line-height: 14px;
  color: #2a251e;
}

.header .view-online .copy-spacer {
  height: 5px;
  font-size: 5px;
  line-height: 5px;
}

.hero-share {
  background-color: #756B51;
}

.footer .social-icons img {
  width: 100%;
  height: auto;
}

.footer .social-icons td {
  padding: 0 5px;
}

.footer .social-icons td.social-media {
  padding: 0 10px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

.footer .social-icons td.last {
  padding-right: 0;
}

@media only screen and (max-width: 670px ) {
  *[class].mobile .header .logo {
    padding-bottom: 20px !important;
  }

  *[class].mobile .header .logo img {
    margin: 0 auto !important;
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .view-online .copy {
    font-size: 11px !important;
    text-align: center !important;
  }

  *[class].mobile .hero-share img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}

/* Targetting Tablets */

@media only screen and (max-width: 600px) {
  *[class].mobile .header .logo {
    padding-bottom: 20px !important;
  }

  *[class].mobile .header .logo img {
    margin: 0 auto !important;
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .view-online .copy {
    font-size: 11px !important;
    text-align: center !important;
  }

  *[class].mobile .hero-share img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}

/* Targeting Mobile */

@media only screen and (max-width: 480px) {
  *[class].mobile .header .logo {
    padding-bottom: 20px !important;
  }

  *[class].mobile .header .logo img {
    margin: 0 auto !important;
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .view-online .copy {
    font-size: 11px !important;
    text-align: center !important;
  }

  *[class].mobile .hero-share img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
}

.copy a {
  font-size: 14px;
  color: #1b5366;
  text-decoration: underline;
}

.readmore a {
  color: #1b5366;
}

.blue-stripe img {
  width: 100%;
  height: auto;
}

.andy .copy {
  color: #625d54;
}

.andy .copy.sig {
  padding-left: 40px;
}

.andy .andys-text {
  width: 400px;
}

.andy .andys-blog {
  width: 173px;
}

.andy .andys-notes {
  background-color: #FBF6E5;
}

.andy .blog-btn {
  width: 75%;
  background-color: #EEE7D6;
  text-align: center;
}

.andy .blog-btn td {
  padding: 5px;
}

.andy .blog-btn a {
  text-decoration: none;
  color: #1b5366;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-style: italic;
}

.sidebar {
  background-color: #EFEAD8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.sidebar .spacing {
  padding-top: 15px;
  padding-bottom: 10px;
}

.sidebar .copy {
  padding-top: 7px;
  color: #858072;
  font-style: italic;
}

.sidebar.bottom-donate .copy {
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
}

@media only screen and (max-width: 670px ) {
  .hero-share img,
  .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text,
  .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andys-text,
  .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andy .blog-btn {
    width: 50% !important;
  }

  .andy .sig {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .hero-share img,
  .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text,
  .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andys-text,
  .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andy .andy-gradients {
    display: none !important;
  }

  .andy .blog-btn {
    width: 50% !important;
  }

  .andy .sig {
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .hero-share img,
  .blue-stripe img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .andys-text,
  .andys-blog {
    width: 100% !important;
  }

  .andys-blog td {
    padding-top: 10px !important;
  }

  .andy .andy-gradients img {
    display: none !important;
  }

  .andy .blog-btn {
    width: 50% !important;
  }

  .andy .sig {
    padding-left: 0 !important;
  }
}
