/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: 24px;
    line-height: 26px;
    color: @gift-array-text-color;
  }

  .array {
    table {
      width: @gift-array-btn-width;

      td {
        background-color: @gift-array-btn-bg;
        padding: 30px 5px;
        border-radius: @gift-array-btn-radius;
      }
    }

    a {
      width: 90%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .active {
      a, td {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }

      .copy {
        text-align: center !important;
      }

      .array {
        width: 100% !important;

        table {
          width: 100% !important;

          td {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
        }

        a {
          padding: 15px 0 !important;
          width: 100% !important;
          font-size: @gift-array-btn-font-size - 2 !important;
        }

        .spacing {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
      }
    }
  }
}
