@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.ten {
  width: 494px;
}
.five {
  width: 227px;
}
.button {
  float: none !important;
}
.button td {
  background-color: #6f1416;
  text-align: center;
  border-radius: 3px;
}
.button td:hover {
  border-color: #2e0809;
  background-color: #2e0809;
  color: #ffffff;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #6f1416;
  background-color: #6f1416;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #6f1416;
}
.header {
  background-color: #fff3d2;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .donate {
  width: 50%;
}
.header .copy {
  width: 50%;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #6f1416;
}
.header .copy a {
  color: #6f1416;
  text-decoration: underline;
}
.header .button td {
  background-color: #6f1416;
}
.header .button td:hover {
  border-color: #6f1416;
  background-color: #6f1416;
  color: #ffffff;
}
.header .button a {
  padding: 7px 0;
  border-color: #6f1416;
  color: #ffffff;
  background-color: #6f1416;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #6f1416;
}
.header .button a:hover {
  border-color: #6f1416;
  background-color: #6f1416;
  color: #ffffff;
}
.header .button a:visited,
.header .button a:active {
  border-color: #6f1416;
  background-color: #6f1416;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #6f1416;
  background-color: #6f1416;
}
.footer {
  background-color: #fff3d2;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 17px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #6f1416;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff3d2;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff3d2;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #12aaaa;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 35px;
}
.johnsonbox .button a {
  font-size: 15px;
}
.donate-button {
  background-color: #ffffff;
}
.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 35px;
}
.donate-button .button a {
  padding: 15px 0;
  font-size: 15px;
}
.header {
  background-color: #fff3d2;
}
.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  width: 75%;
}
.header .view-donate {
  width: 25%;
}
.header .view-donate .view-online .copy {
  padding-bottom: 15px;
  color: #6f1416;
}
.header .view-donate .view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.header .donate {
  width: 100%;
}
.header .button {
  width: 100%;
  max-width: 167px;
}
.header .button a {
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  background-color: #fff3d2;
}
.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}
.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}
.footer .affiliates td {
  padding-left: 10px;
  padding-right: 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.johnsonbox .button td {
  padding: 10px 0;
}
.johnsonbox .button a {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .ten,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 10px !important;
    line-height: 13px !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 15px !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 60% !important;
  }
  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 213px !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 40% !important;
  }
  *[class].mobile .header .view-donate {
    width: 50% !important;
  }
  *[class].mobile .header .view-donate .view-online .copy {
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .copy {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .affiliates td {
    padding: 0 5px !important;
  }
}
