.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
