.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: 900;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.red {
      color: #EE2F48;
    }
  }

  .button {
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &.bottom {
    .button {
      width: 439px;
    }

    .copy {
      font-size: 25px;
      line-height: 30px;
      color: #4A4A4A;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .button {
        width: @button-mobile-width !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
