// Header
.header {
  background-color: @header-bg;

  .copy {
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    font-weight: @header-font-weight;

    a {
      color: @header-link-color;
      text-decoration: @header-link-text-decoration;
      font-weight: @header-font-weight;
    }
  }

  .mobile-view-donate {
    .copy {
      width: auto;
    }
  }

  .view-donate {
    .button {
      td {
        background-color: @header-button-bg;
        border: @header-button-border;
        mso-border-alt: @header-button-border;
      }

      a {
        text-decoration: @header-button-text-decoration;
        color: @header-button-color;
        font-size: @header-button-font-size;
        font-weight: @header-button-font-weight;
      }
    }
  }
}

// Footer
.footer {
  .spacing {
    padding-top: 50px;
  }

  .copy {
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;

    a {
      text-decoration: @footer-text-decoration;
      font-weight: @footer-link-font-weight;
    }

    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .client-info {
    .copy {
      font-size: @footer-font-size;
      line-height: @footer-line-height;

      a {
        font-size: @footer-font-size;
        line-height: @footer-line-height;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        .copy {
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }
    }

    .footer {
      .copy {
        font-family: @footer-font-family !important;
        font-size: @footer-font-size !important;
        line-height: @footer-line-height !important;
        color: @footer-color !important;
        text-align: @footer-text-align !important;

        a {
          text-decoration: @footer-text-decoration !important;
          font-weight: @footer-link-font-weight !important;
        }

        &.address {
          a {
            font-weight: normal !important;
          }
        }

        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .client-info {
        .copy {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;

          a {
            font-size: @footer-font-size !important;
            line-height: @footer-line-height !important;
          }
        }
      }
    }
  }
}
