// Brand Colors
@yellow:                    #f5d732;
@black:                     #000000;

@content-width:             640px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #2c2c2c;
@link-color:                #1e55a0;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #ffe000;
@button-border:                 @button-bg;
@button-color:                  #2c2c2c;
@button-radius:                 3px;
@button-font-size:              19px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              @button-bg;
@header-button-color:           @button-color;
@header-button-font-size:       15px;
@header-button-font-weight:     normal;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#040404;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					29px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					@content-bg;
@gift-array-btn-width:         		180px;
@gift-array-btn-bg:         			#ffe000;
@gift-array-btn-color:      			#2a2929;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	14px;
@gift-array-btn-line-height:     	19px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			10px;
@gift-array-text-color:      			#2c2c2c;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      41px;
@gift-array-price-line-height:    53px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#f6d909;
@gift-array-active-btn-color:			@gift-array-btn-color;

@footer-bg:                     @body-bg;
@footer-color:                  #4d4d4d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
