.hero {
  .spacing {
    padding-top: 20px;
    padding-bottom: 0;
  }

	&.top {
		width: 450px;
		background-color: #26B7C8;

	  .copy {
	    padding-top: 3px;
	    padding-bottom: 3px;
      font-family: @montserrat;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      font-weight: bold;
	  }
	}
}

@media @content {
  *[class].mobile {
    .hero {
			.spacing {
				padding-top: 30px !important;
			}
		}
  }
}
