.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.orange {
    .spacing {
      padding-top: 10px;
    }

    .copy {
      padding-bottom: 30px;
      font-family: @montserrat;
      font-size: 22px;
      line-height: 26px;
      color: #E93A23;
      font-weight: bold;
    }

    .donate {
      padding-bottom: 30px;
    }
  }

  .thanks {
    width: auto;
    margin: 0 auto;

    img {
      display: inline-block;
    }

    .copy {
      padding-bottom: 0;
      padding-right: 15px;
      vertical-align: top;
      height: 33px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #4A4A4A;
      font-size: 20px;
      line-height: 25px;
      text-align: right;
    }
  }

  .button {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .thanks {
        width: auto !important;

        .copy {
          padding-right: 10px !important;
        }
      }
    }
  }
}
