<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />

<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Eyebrow -->
      <table class="columns eyebrow" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->
            <table class="eight" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="left">
                  Lorem ipsum dolor sit amet, consectetur <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank">adipiscing elit.</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="three" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy" align="right">
                  <a href="[% webview_url %]" target="_blank">View online</a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

      <!-- Logo and Donate Button Combo -->
      <table class="columns logo-cta" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="bottom">
            <![endif]-->
            <table class="seven logo" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="left">
                  <a href="##CT17##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="http://cdn.grizzard.com/Digital_Assets/Pasadena/RM/Logos/Black/[CI26].png" alt="##CT16##" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="bottom">
            <![endif]-->
            <table class="four donate-button" align="right" cellpadding="0" cellspacing="0" border="0" valign="middle">
              <tr>
                <td align="right" class="spacing">
                  <!-- Start CTA -->
                  <table class="button" align="right" border="0">
                    <tr>
                      <td>
                        <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank">GIVE NOW</a>
                      </td>
                    </tr>
                  </table>
                  <!-- End CTA-->
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="columns social-connect" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="spacing" align="center">

            <table class="social" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>

                  <!--[if gte mso 9]>
                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                  <td valign="middle">
                  <![endif]-->
                  <table align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy">
                        Connect with&nbsp;us:
                      </td>
                    </tr>
                  </table>
                  <!--[if gte mso 9]>
                  </td>
                  <td valign="middle">
                  <![endif]-->
                  <table class="social-icons" align="left" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <!-- Social Media -->
                      <!-- Facebook -->
                      <td class="first">
                        <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_fb.png" alt="Facebook" width="29" height="29" border="0" /></a>
                      </td>
                      <!-- Twitter -->
                      <td>
                        <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_twitter.png" alt="Twitter" width="28" height="29" border="0" /></a>
                      </td>
                      <!-- Youtube -->
                      <td>
                        <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_youtube.png" alt="YouTube" width="29" height="29" border="0" /></a>
                      </td>
                      <!-- Instagram -->
                      <td>
                        <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_instagram.png" alt="Instagram" width="29" height="29" border="0" /></a>
                      </td>
                      <!-- Pinterest -->
                      <td>
                        <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_pinterest.png" alt="Pinterest" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Email -->
                      <td>
                        <a href="mailto:##CT350##"><img src="images/connect_email.png" alt="Email" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Blog -->
                      <td>
                        <a href="##CT321##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_blog.png" alt="RSS" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Google -->
                      <td>
                        <a href="##CT314##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_google.png" alt="Google+" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Linkedin -->
                      <td>
                        <a href="##CT315##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_linkedin.png" alt="LinkedIn" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Vimeo -->
                      <td>
                        <a href="##CT320##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_vimeo.png" alt="vimeo" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- Wordpress -->
                      <td>
                        <a href="##CT317##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank"><img src="images/connect_wordpress.png" alt="Wordpress" width="23" height="23" border="0" /></a>
                      </td>
                      <!-- End of Social Media -->
                    </tr>
                  </table>
                  <!--[if gte mso 9]>
                  </td>
                  </tr>
                  </table>
                  <![endif]-->

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>


      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            Having trouble viewing this email? <a href="[% webview_url %]" target="_blank">View online</a>
          </td>
        </tr>
        <tr>
          <td class="copy">
            To prevent mailbox filters from deleting mailings from ##CT16##, add <a href="mailto:##CT350##" target="_blank"><strong>##CT350##</strong></a> to your address&nbsp;book.
          </td>
        </tr>
        <tr>
          <td class="copy">
            If you would prefer not to receive future emails from ##CT16##, please <a href="[% unsub_url %]" target="_blank">click here</a>.
          </td>
        </tr>
        <tr>
          <td class="copy">
            Costs are average and include the expense of preparing and providing meals. All donations will be used for board-approved programs and projects. When any need or project goal has been met or cannot be completed, extra funds will be used in areas of greatest need.
          </td>
        </tr>
        <tr>
          <td class="copy">
            View our <a href="##CT310##?utm_source=eappeal&utm_medium=email&utm_campaign=##CT733##" target="_blank">Privacy Policy
          </td>
        </tr>
        <tr>
          <td class="spacing" align="center">

            <!-- Footer affiliates -->
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="http://cdn.grizzard.com/Digital_Assets/Pasadena/RM/Affiliate_Logos/Black/[CI172].png" alt="affiliates" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="http://cdn.grizzard.com/emails/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
