.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.text {
		background-color: #fa723a;

		img {
			width: auto;
			height: auto;
		}

		.spacing {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }

		.hero {
			&.text {
				img {
					width: 90% !important;
				}
			}
		}
  }
}
