.body-copy {
  .spacing {
    padding-top: 40px;
    padding-top: 20px;
  }

  .eleven {
    width: 570px;
  }

  &.border-bottom {
    .eleven {
      border-bottom: 1px solid #999999;

      td {
        padding-bottom: 40px;
      }
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .body-copy {
      .spacing {
        padding-top: 30px !important;
        padding-bottom: 0 !important; 
      }

      &.border-bottom {
        .eleven {
          td {
            padding-bottom: 30px !important;
          }
        }
      }
    }
  }
}
