.header {
  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .columns {
    width: 580px;
  }

  .logo {
    width: 50%;
  }

  td.donate {
    width: 50%;

    .button {
      width: 158px;

      td {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;

        a {
          width: 100%;
        }
      }
    }
  }
}

.body-copy {
  .list {
    .copy {
      font-weight: bold;
    }

    .bullet {
      padding-right: 5px;
      vertical-align: top;
    }
  }
}

.footer {
  .logo-icons {
    margin: 0 auto;
    width: auto;
  }

  .footer-icon {
    padding-left: 8px;
    padding-right: 8px;
  }

  .copy {
    padding-bottom: 30px;
  }

  .footer-address {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .social-icons {
    margin: 0 auto;
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
        }
      }

      .donate {
        .button {
          width: 153px !important;
        }
      }
    }
  }
}
