/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.section {
  .body-copy {
    background-color: #ffffff;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;

        img {
          max-width: 220px !important;
          width: auto !important;
          height: auto !important;
        }
      }
      .donate {
        width: 45% !important;
      }
    }
  }
}
