/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.body-copy {
  .ten {
    width: 473px;
  }

  .list {
    .bullet {
      padding-left: 15px;
      padding-right: 15px;
      vertical-align: top;
    }
  }
}

.footer {
  .connect {
    border-top: 0 solid transparent;
  }

  .spacing {
    padding-top: 0;
  }

  .social-icons {
    td {
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  .copy {
    .copy-spacer {
      height: 15px;
      font-size: 15px;
      line-height: 15px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .eyebrow {
      .copy {
        display: block !important;
      }
    }

    .body-copy {
      .list {
        .bullet {
          padding-left: 0 !important;
        }
      }
    }

    .footer {
      .address {
        a {
          font-weight: normal !important;
        }
      }
    }
  }
}
