@content-width:             640px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 17px;
@line-height:               30px;
@text-color:                #535353;
@link-color:                #9D0A2C;
@link-decoration:           underline;
@link-weight:               normal;

// Spacing
@paragraph-space:               15px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									70px;

// Button styles
@button-bg:                     #882333;
@button-border:                 #ffffff;
@button-color:                  @button-border;
@button-radius:                 0;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              17px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Header Button styles
@header-button-bg:              		#882333;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#ffffff;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		12px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #2a4364;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#3A92AE;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					17px;
@johnsonbox-line-height:  					30px;
@johnsonbox-color:        					#ffffff;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#EEEEEE;
@gift-array-btn-width:         		190px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     #333333;
@footer-color:                  #666666;
@footer-link-color:             #8a8a8a;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 5;
@footer-text-align:             center;
