@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.columns .first {
  padding-left: 0;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .donate {
  width: 50%;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #5c5c5c;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .social-icons td.first {
  padding: 0 1px 0 0;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #1a1a1a;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #ff7600;
  font-weight: bold;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #5e5e5e;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.donate-button {
  background-color: #5e5e5e;
}
.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sig img {
  width: auto;
  height: auto;
}
.sig .spacing {
  padding-top: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.body {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}
.header .donate {
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 13px;
}
.footer a {
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 2px;
}
.footer .social-icons td.first {
  padding-left: 0;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }
}
