@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 540px;
}
.twelve {
  width: 540px;
}
.six {
  width: 250px;
}
.button {
  float: none;
  width: 240px;
  height: 40px;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  background-color: #dc2c30;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: 40px;
  display: block;
  border-color: #dc2c30;
  background-color: #dc2c30;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fffefe;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #dc2c30;
  font-weight: normal;
}
.header .button {
  width: 200px;
  height: 40px;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 200px;
  height: 40px;
  background-color: #dc2c30;
}
.header .button a {
  width: 200px;
  height: 40px;
  background-color: #dc2c30;
  border-color: #dc2c30;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fffefe;
  font-weight: normal;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #395576;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #395576;
  text-decoration: underline;
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 580px;
}
.main-content {
  width: 580px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #395676;
  font-weight: bold;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.director {
  background-color: #fdf7ee;
}
.director img {
  vertical-align: top;
}
.director .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}
.director .heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}
.director .sig {
  padding-top: 30px;
}
.director .sig .copy {
  padding-left: 30px;
}
.director .signature {
  padding-left: 30px;
}
.director .signature img {
  width: auto;
  height: auto;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #fbf2e5;
  border-top: 2px solid #dc2c30;
}
.solo-donate-button .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.solo-donate-button .button {
  width: 280px;
  height: auto;
}
.solo-donate-button .button td {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 280px;
  height: auto;
}
.solo-donate-button .button a {
  width: 100%;
  height: auto;
}
.story .spacing {
  padding-top: 40px;
  padding-bottom: 0;
}
.story .columns {
  width: 100%;
}
.story .six {
  width: 280px;
  height: 250px;
}
.story .story-content {
  height: 250px;
  vertical-align: middle;
}
.story .story-content table {
  width: 90%;
  vertical-align: middle;
}
.story .heading {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #515151;
  font-weight: bold;
}
.story .story-link {
  padding-top: 10px;
}
.story .story-link a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #395676;
  font-weight: bold;
}
.story.featured {
  border-bottom: 2px solid #dc2c30;
}
.story.featured .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.story.featured .copy {
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #515151;
}
.story.featured .heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}
.body {
  background-color: #ffffff;
}
.view-online a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #515151;
  text-decoration: none;
}
.view-online .spacing {
  padding-bottom: 5px;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #dc2c30;
}
.header .donate {
  width: 25%;
}
.header .button {
  width: 100%;
}
.header .button a {
  padding: 10px 0;
  mso-border-alt: 1px solid #dc2c30;
  font-weight: normal;
  color: #fffefe;
}
.header .button a:hover {
  border-color: #dc2c30;
  background-color: transparent;
  color: #fffefe;
}
.header .button a:visited,
.header .button a:active {
  border-color: #dc2c30;
  background-color: transparent;
  color: #fffefe;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #dc2c30;
  background-color: transparent;
  color: #fffefe;
}
.heading-banner td {
  font-size: 0;
  line-height: 0;
}
.featured {
  border-bottom: 2px solid #dc2c30;
}
.footer {
  background-color: #ffffff;
}
td.hide {
  min-width: 580px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
}
.stats-bucket .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.stats-bucket .did-you-know {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #dc2c30;
  font-weight: bold;
}
.stats-bucket .cents {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 28px;
  color: #395576;
  font-weight: bold;
}
.stats-bucket .source {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  line-height: 28px;
  color: #4e4e4e;
  font-weight: normal;
}
.story a {
  color: #395676;
}
.story .copy {
  padding-left: 25px;
}
.featured {
  border-bottom: 2px solid #dc2c30;
}
.directors-border .copy {
  border-top: 3px solid #DC2C30;
}
.director .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.director .signature {
  padding-left: 0;
}
.director .sig img {
  width: auto;
  height: auto;
}
.director .sig .copy {
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
}
.view-online .columns {
  width: 100%;
}
.header .columns {
  width: 100%;
}
.header .copy span {
  color: #4e4e4e;
}
.header .button {
  width: 105px;
  height: auto;
}
.header .button td {
  width: 105px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .button a {
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.footer .copy a {
  font-weight: normal;
}
@media only screen and (max-width: 580px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 240px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 15px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .header .donate {
    width: 200px !important;
  }
  *[class].mobile .header .button {
    width: 200px !important;
    height: 40px !important;
  }
  *[class].mobile .header .button a {
    font-size: 14px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .director .heading {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .solo-donate-button .button {
    width: 280px !important;
    height: auto !important;
  }
  *[class].mobile .solo-donate-button .button td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 280px !important;
    height: auto !important;
  }
  *[class].mobile .solo-donate-button .button a {
    font-size: 20px !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .spacing {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  *[class].mobile .story .six {
    float: none !important;
    height: auto !important;
  }
  *[class].mobile .story .story-content {
    height: auto !important;
  }
  *[class].mobile .story .story-content table {
    width: 100% !important;
  }
  *[class].mobile .story .heading {
    padding-top: 20px !important;
  }
  *[class].mobile .story.featured .heading {
    padding-top: 0 !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .donate {
    width: 35% !important;
  }
  *[class].mobile .header .copy {
    width: 65% !important;
    padding-left: 0 !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
    padding: 0 !important;
  }
  *[class].mobile .heading-banner img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .copy {
    padding-left: 0 !important;
  }
  *[class].mobile .story.featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  *[class].mobile .director .spacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  *[class].mobile .stats-bucket img {
    margin: 0 auto !important;
  }
  *[class].mobile .stats-bucket .copy {
    padding-top: 20px !important;
  }
  *[class].mobile .stats-bucket .copy.source {
    padding-top: 0 !important;
  }
  *[class].mobile .stats-bucket .did-you-know {
    padding-top: 20px !important;
  }
  *[class].mobile .header .button {
    width: 105px !important;
    height: auto !important;
  }
  *[class].mobile .header .button td {
    width: 105px !important;
    height: auto !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  *[class].mobile .header .button a {
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  *[class].mobile .footer .copy a {
    font-weight: normal !important;
  }
}
