.share-bar {
  background-color: #ffffff;

  table {
    width: auto;

    td {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    color: #be8b80;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
}

.header {
  a {
    font-family: @header-font-family;
  }
}

.footer {
  width: 100%;
  border-top: 4px solid #ffffff;

  .spacing {
    padding-bottom: 20px;
  }
  .copy.smaller {
    padding-bottom: 20px;
  }
}