@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 509px;
}
.twelve {
  width: 509px;
}
.eleven {
  width: 464px;
}
.six {
  width: 235px;
}
.five {
  width: 189px;
}
.button {
  float: none;
  width: 254px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #70534E;
  text-align: center;
  border-radius: 12px;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FFFFFF;
  background-color: #70534E;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 12px;
  mso-border-alt: 1px solid #70534E;
  mso-line-height-rule: exactly;
}
.header {
  background-color: #ffffff;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 175px;
  height: 37px;
}
.header .button td {
  padding: 7px 0;
  background-color: #70534E;
}
.header .button a {
  background-color: #70534E;
  border-color: #70534E;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  mso-border-alt: 1px solid #70534E;
}
.footer {
  background-color: #EDEDED;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #EDEDED;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #EDEDED;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 549px;
}
.main-content {
  width: 549px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #935095;
  font-weight: bold;
}
.preheader .copy {
  color: #EDEDED;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 549px;
}
td.hide img {
  width: 549px;
  min-width: 549px;
}
.hero {
  background-color: #EDEDED;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 50px;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #FFE58E;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 29px;
  line-height: 35px;
  color: #5B3F3B;
  font-weight: 500;
  text-align: center;
}
.johnsonbox .button {
  border-collapse: separate;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
}
.johnsonbox .button td {
  padding-top: 7px;
  padding-bottom: 7px;
}
.johnsonbox.middle {
  background-color: #ffffff;
}
.johnsonbox.middle .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox .orange-top {
  width: 366px;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
}
.johnsonbox .orange-top td {
  box-shadow: 0 0 0 #E98957;
}
.johnsonbox .orange-top img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 0 #E98957;
}
.johnsonbox .orange-box {
  width: 366px;
  background-color: #E98957;
}
.johnsonbox .orange-box .columns {
  width: 90%;
}
.johnsonbox .orange-box .white {
  background-color: #ffffff;
  border-radius: 12px;
}
.johnsonbox .orange-box .white .copy {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 25px;
  line-height: 30px;
  color: #70534E;
  font-weight: 700;
}
.johnsonbox .orange-box .grid {
  padding-top: 20px;
  padding-bottom: 20px;
}
.johnsonbox .box-button {
  width: 366px;
  background-color: #ffffff;
}
.sidebar {
  background-color: #ffffff;
}
.sidebar .spacing {
  padding-bottom: 0;
}
.sidebar .alignment {
  height: 165px;
}
.sidebar .five {
  width: 45%;
}
.sidebar .five.sig {
  width: 50%;
}
.sig img {
  width: auto;
  height: auto;
}
.johnsonbox.text-and-donate-button {
  background-color: #FFE58E;
}
.johnsonbox.text-and-donate-button .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox.text-and-donate-button .twelve {
  width: 100%;
}
.johnsonbox.text-and-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 29px;
  line-height: 35px;
  color: #5B3F3B;
  font-weight: 500;
  text-align: center;
}
.johnsonbox.text-and-donate-button.bottom {
  background-color: #ffffff;
}
.johnsonbox.text-and-donate-button.bottom .copy {
  padding-top: 0;
  font-size: 25px;
  font-weight: 700;
}
.johnsonbox.text-and-donate-button.bottom .twelve {
  width: 467px;
  background-color: #FFE58E;
}
.johnsonbox.text-and-donate-button.bottom .yellow-top {
  width: 467px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}
.johnsonbox.text-and-donate-button.bottom .yellow-top td {
  box-shadow: 0 0 0 #FFE58E;
}
.johnsonbox.text-and-donate-button.bottom .yellow-top img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 0 #FFE58E;
}
.johnsonbox.text-and-donate-button.bottom .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox.text-and-donate-button.bottom .donate {
  padding-bottom: 15px;
}
.johnsonbox.text-and-donate-button.bottom .button {
  mso-hide: all;
}
.johnsonbox.text-and-donate-button.bottom .button td,
.johnsonbox.text-and-donate-button.bottom .button a {
  mso-hide: all;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: auto;
}
.header .view-donate .button td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #70534E;
  border: #70534E;
  mso-border-alt: #70534E;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.header .mobile-view-donate {
  display: none;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}
body,
.body {
  background-color: transparent;
}
.main-content {
  width: 100%;
  background-color: #EDEDED;
}
.main-content .body-copy {
  background-color: #ffffff;
}
.header {
  background-color: #ffffff;
  width: 100%;
}
.header .columns {
  width: 549px;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .view-donate .button {
  width: 175px;
  mso-hide: all;
}
.header .view-donate .button td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  background-color: #70534E;
  border: #70534E;
  border-radius: 6px;
  mso-border-alt: #70534E;
  mso-hide: all;
}
.header .view-donate .button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  mso-hide: all;
}
.footer {
  width: 100%;
  background-color: #ffffff;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: bold;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .client-info .copy {
  font-size: 12px;
  line-height: 16px;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
}
.body-copy .orange {
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  color: #F17A3C;
}
.body-copy .highlight {
  background-color: #F8E71C;
}
@media only screen and (max-width: 549px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 254px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 32px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .button {
    width: 175px !important;
  }
  *[class].mobile .header .button a {
    font-size: 22px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero .spacing {
    padding-top: 0 !important;
  }
  *[class].mobile .johnsonbox .orange-top {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox .orange-top img {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox .orange-box {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox .orange-box .columns {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox .orange-box .columns.white {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox .orange-box .copy {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 20px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox .orange-box .grid img {
    max-width: 330px !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .box-button {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 29px !important;
    line-height: 35px !important;
  }
  *[class].mobile .sidebar .alignment {
    height: auto !important;
  }
  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button .twelve {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button .copy {
    font-size: 29px !important;
    line-height: 35px !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom {
    background-color: #ffffff !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom .twelve {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom .yellow-top {
    width: 90% !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom .yellow-top img {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom .button {
    width: 170px !important;
  }
  *[class].mobile .johnsonbox.text-and-donate-button.bottom .button a {
    font-size: 22px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: none !important;
  }
  *[class].mobile .footer {
    width: 100% !important;
    background-color: #EDEDED !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: bold !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .client-info .copy {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .logo {
    display: none !important;
  }
  *[class].mobile .footer .client-info .address {
    padding-top: 20px !important;
  }
}
