.summary {
  .heading {
    font-size: @font-size + 2;
    font-weight: bold;
  }
}

.footer {
  .copy {
    &.smaller {
      font-size: 10px;
    }
  }

  .affiliates {
    img {
      width: auto;
      height: 80px;
    }
  }
}

@media @content {
  *[class].mobile {
    .summary .information p {
      font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif !important;
      font-size: 16px !important;
      line-height: 22px !important;
    }

    .summary .information .FormLabelText {
      font-weight: bold !important;
    }

    .footer {
      .affiliates {
        img {
          width: auto !important;
          height: 80px !important;
        }
      }
    }
  }
}
