.sidebar {
  background-color: #e3e9fa;
  width: 580px;
  margin: 0 auto;

  .spacing {
    padding-top: 0;
  }

  .title {
    width: 580px;
    background-color: #293c72;
    border-bottom: 5px solid #0091cf;

    .copy {
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .nine {
    .copy {
      padding-top: 5px;
      padding-left: 35px;
      font-size: 19px;
      line-height: 23px;

      a {
        color: #ffa025;
        text-decoration: none;
        font-weight: bold;
      }

      strong {
        color: #293c72;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      width: 90.625% !important;

      .title {
        width: 100% !important;
      }

      .spacing.last {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }

      .three {
        img {
          display: block !important;
          float: none !important;
          margin: 0 auto !important;
        }
      }

      .nine {
        .copy {
          padding-top: 10px !important;
          padding-left: 5px !important;
          padding-right: 5px !important;
          text-align: center !important;
        }
      }
    }
  }
}
