// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.footer {
  .copy {
    text-align: left;
    font-size: @font-size;
    line-height: @line-height;
    color: @text-color;
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
