.header {
  .button {
    a {
      font-family: @font-family-sans-serif;
    }
  }
}

.body-copy {
  .twelve {
    width: 595px;
  }

  .spacing {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

@media @content {
  *[class].mobile {

  }
}
