.body-copy {
  .copy {
    img {
      display: inline-block;
    }
  }
  
  &.smaller {
    .copy {
      font-size: 13px;
      line-height: 16px;

      a {
        color: @text-color;
        text-decoration: none;
      }
    }

    .address {
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
