.button {
  a {
    padding: 10px 0;
  }
}

.header {
  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copy {
    width: 75%;
    font-family: @font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
    vertical-align: middle;

    span {
      color: @black;
      font-weight: bold;
    }
  }

  .donate {
    width: 25%;
  }

  .button {
    width: 100%;

    td {
      background-color: @header-button-bg;
      padding: 7px 0;
    }

    a {
      padding: 0;
      border-color: @header-button-bg;
      color: @header-button-color;
      background-color: @header-button-bg;
      font-size: @header-button-font-size;
      mso-border-alt: 1px solid @header-button-bg;
      font-weight: @header-button-font-weight;
    }
  }
}

.footer{
  table .spacing {
    padding-top: 20px;
  }

  .address {
    &.spacing {
      padding-top: 0;
      padding-bottom: 15px;
    }
  }

  .copy.smaller, .copy.smaller a {
    font-size: 11px;
    line-height: 13px;
  }

  a {
    text-decoration: @footer-text-decoration;
    font-weight: normal;
  }

  .social-icons {
    td {
      padding: 0 8px;
    }
  }

  .affiliates {
    width: auto;

    td {
      padding: 0 10px;
    }
  }
}

@media @content {
  *[class].mobile {.header {
      .columns {
        width: 90% !important;
      }
      .copy {
        padding-left: 0 !important;
      }
      .donate {
        width: 50% !important;

        a {
          font-size: @header-button-font-size !important;
        }
      }
      .button {
        a {
          font-size: @header-button-font-size - 2 !important;
        }
      }
    }

    .footer {
      .copy {
        font-size: @footer-font-size !important;
        line-height: @footer-font-size + 5 !important;
      }
      .copy.smaller, .copy.smaller a {
        font-size: @footer-font-size !important;
        line-height: @footer-line-height + 3 !important;
      }
    }
  }
}
