.sidebar {
  border-top: 1px solid #E8E8E8;

  .spacing {
    padding-top: 30px;
  }

  .six {
    td {
      height: 57px;
      vertical-align: middle;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .spacing {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .six {
        img {
          margin: 0 auto !important;
          float: none !important;
        }

        td {
          padding-top: 20px !important;
        }
      }
    }
  }
}
