@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 580px;
}

.twelve {
  width: 580px;
}

.seven {
  width: 314px;
}

.six {
  width: 260px;
}

.five {
  width: 207px;
}

.columns .first {
  padding-left: 0;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #008448;
  text-align: center;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #008448;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #4c4c4c;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #01488f;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #58923a;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}

.donate-button {
  background-color: #014894;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar.light-green {
  background-color: #e5f2ec;
}

.sidebar.light-green .spacing {
  padding-bottom: 10px;
}

.sidebar.bags .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar.bags.last .spacing {
  padding-top: 30px;
}

.sidebar.bags .bag {
  padding-left: 60px;
}

.sidebar.bags .copy {
  padding-left: 30px;
  padding-right: 50px;
  font-size: 22px;
  line-height: 28px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #ffffff;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 20px;
}

.header .donate {
  width: 25%;
}

.footer {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
}

.footer .logo-donate-social {
  height: auto;
}

.footer .six {
  height: auto;
  vertical-align: bottom;
}

.footer .footer-logo td {
  padding-right: 40px;
  vertical-align: bottom;
  height: auto;
}

.footer .donate-social {
  vertical-align: bottom;
  height: auto;
}

.footer .footer-donate {
  padding-bottom: 10px;
  padding-top: 15px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #008448;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  font-weight: normal;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 2px;
}

.footer .social-icons td.first {
  padding-left: 0;
}

/* uncss:ignore */

.body-copy .copy img {
  display: inline-block;
}

.footer .columns {
  width: 600px;
}

.affiliates {
  padding-top: 30px;
  padding-bottom: 30px;
}

.affiliates td {
  padding-left: 5px;
  padding-right: 5px;
}

td.footer-donate {
  padding-top: 0 !important;
}

.footer-logo td {
  padding-right: 0 !important;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
  }

  *[class].mobile .sidebar.bags .bag {
    width: 10% !important;
    padding-left: 0 !important;
  }

  *[class].mobile .sidebar.bags .bag img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .sidebar.bags .copy {
    width: 90% !important;
    padding-right: 0 !important;
    font-size: 18px !important;
    line-height: 23px !important;
  }

  *[class].mobile .sidebar.light-green img {
    margin: 0 auto !important;
  }

  *[class].mobile .sidebar.light-green .spacing {
    padding-bottom: 20px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .logo-donate-social {
    height: auto !important;
  }

  *[class].mobile .footer .columns table {
    float: none !important;
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td {
    padding-right: 0 !important;
    padding-bottom: 30px;
    text-align: center !important;
    height: auto !important;
  }

  *[class].mobile .footer .columns .footer-logo td img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .footer-donate img {
    margin: 0 auto !important;
  }

  *[class].mobile .footer .columns .donate-social {
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 50% !important;
  }

  *[class].mobile .header .donate img {
    width: 90% !important;
    height: auto !important;
  }
}
