<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="mobile-view-donate copy" cellpadding="0" cellspacing="0" border="0" align="center">
            <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">Donate Now</a> | <a href="#view" target="_blank">View online</a>
          </td>
        </tr>
      </table>

      <!-- Logo and Donate Button -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">

            <!--[if gte mso 9]>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
            <td valign="top">
            <![endif]-->
            <table class="logo" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="https://cdn.oneandall.com/Digital_Assets/AC/Logos/Black/[CI26].gif" alt="##CT16##" border="0" /></a>
                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            <td valign="top">
            <![endif]-->
            <table class="view-donate" align="right" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="right">

                  <table class="view" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy" align="right">
                        <a href="#view" target="_blank">View online</a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
              <tr>
                <td align="right" class="donate">

                  <table class="button" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td>
                        <a href="##CT356##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">DONATE NOW</a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!--[if gte mso 9]>
            </td>
            </tr>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0"  width="640">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve connect" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            <strong>Connect with us</strong>
            <div class="copy-spacer">&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <!-- Social Media -->
                <!-- Facebook -->
                <td>
                  <a href="##CT312##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_fb.png" alt="Facebook" width="22" height="23" border="0" /></a>
                </td>
                <!-- Linkedin -->
                <td>
                  <a href="##CT315##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_linkedin.png" alt="LinkedIn" width="22" height="22" border="0" /></a>
                </td>
                <!-- Pinterest -->
                <td>
                  <a href="##CT316##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_pinterest.png" alt="Pinterest" width="20" height="20" border="0" /></a>
                </td>
                <!-- Twitter -->
                <td>
                  <a href="##CT313##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_twitter.png" alt="Twitter" width="24" height="22" border="0" /></a>
                </td>
                <!-- Vimeo -->
                <td>
                  <a href="##CT320##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_vimeo.png" alt="Vimeo" width="22" height="22" border="0" /></a>
                </td>
                <!-- Youtube -->
                <td>
                  <a href="##CT319##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_youtube.png" alt="YouTube" width="22" height="22" border="0" /></a>
                </td>
                <!-- Instagram -->
                <td>
                  <a href="##CT324##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_instagram.png" alt="Instagram" width="23" height="23" border="0" /></a>
                </td>
                <!-- Flickr -->
                <td>
                  <a href="##CT318##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_flickr.png" alt="Flickr" width="22" height="22" border="0" /></a>
                </td>
                <!-- Blog -->
                <td>
                  <a href="##CT321##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer_blog.png" alt="Blog" width="22" height="22" border="0" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="columns client-info" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="logo" align="center">
            <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="https://cdn.oneandall.com/Digital_Assets/AC/Logos/Black/[CI26].gif" alt="##CT16##" border="0" /></a>
          </td>
        </tr>
        <tr>
          <td class="copy address">
            <strong>##CT16##</strong>
            <div class="copy-spacer">&nbsp;</div>
            ##CA30_OGE AddressPrimary## | ##CA30_OGE AddressCity__c##, ##CA30_OGE AddressState__c## ##CA30_OGE AddressZip## | ##CT15## | <a href="##CT340##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><strong>##CT17##</strong></a>
          </td>
        </tr>
      </table>

      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy smaller" align="center">
            <div class="copy-spacer">&nbsp;</div>
            Copyright &copy; {{job_year}} ##CT16##.
            <div class="copy-spacer">&nbsp;</div>
            You have received this email because of your support of the&nbsp;##CT16##.<br/>
            If your preferences have changed, you may <a href="##CT311##" target="_blank"><strong>unsubscribe</strong></a> at any&nbsp;time. <a href="##CT310##?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><strong>Privacy policy</strong></a>.
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
