// Header
.header {
  .columns {
    width: 100%;
  }

  .copy {
    padding-bottom: 10px;

    a {
      font-weight: @header-font-weight;
    }
  }

  .logo {
    width: 50%;

    img {
      width: auto;
      height: auto;
    }
  }

  .view-donate {
    width: 50%;

    .button {
      td {
        padding-top: 9px;
        padding-bottom: 9px;
      }

      a {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .mobile-view-donate {
    display: none;
    font-size: 0;
    line-height: 0;

    a {
      display: none;
      font-size: 0;
      line-height: 0;
    }
  }
}

.footer {
  .copy-spacer {
    height: 10px;
    font-size: 10px;
    line-height: 10px;
  }

  .copy {
    &.smaller {
      font-size: @footer-font-size - 2;
      line-height: @footer-line-height + 2;

      a {
        font-size: @footer-font-size - 2;
        line-height: @footer-line-height + 2;
      }
    }
  }

  .connect {
    .copy {
      color: #1D2129;
    }

    .social-icons {
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .client-info {
    .logo {
      padding-top: 30px;
    }

    .copy {
      padding-top: 5px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 100% !important;

        img {
          width: auto !important;
          margin: 0 auto !important;
          float: none !important;
        }
      }

      .mobile-view-donate {
        width: auto !important;
        margin: 0 auto !important;

        &.copy {
          display: block !important;
          text-align: center !important;
          font-size: @header-font-size !important;
          line-height: @header-line-height !important;
          color: @header-text-color !important;

          a {
            display: inline-block !important;
            font-size: @header-font-size !important;
            line-height: @header-line-height !important;
            color: @header-link-color !important;
          }
        }
      }

      .button {
        display: none !important;
      }

      .view {
        display: none !important;
      }
    }

    .footer {
      .copy-spacer {
        height: 10px !important;
        font-size: 10px !important;
        line-height: 10px !important;
      }

      .copy {
        &.smaller {
          font-size: @footer-font-size - 2 !important;
          line-height: @footer-line-height + 2 !important;

          a {
            font-size: @footer-font-size - 2 !important;
            line-height: @footer-line-height + 2 !important;
          }
        }
      }

      .connect {
        .copy {
          color: #1D2129 !important;
        }
      }

      .client-info {
        .logo {
          padding-bottom: 0 !important;
        }

        .copy {
          padding-top: 5px !important;
        }
      }
    }
  }
}
