.footer {
  .copy {
    a {
      color: @link-color;
    }
  }
}

.social-media {
  padding-top: 20px;
  padding-bottom: 20px;

  .copy {
    padding-right: 10px;
  }
}

.sig {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media @content {
  *[class].mobile {
    .social-media {
      img {
        max-width: 25px !important;
        height: auto !important;
      }
    }

    .sig {
      max-width: 240px !important;
      height: auto !important;
    }
  }
}
