/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* uncss:ignore */
.outlook-array .six .buttons table .button {
  background-color: @gift-array-btn-bg;
  // padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .six .buttons table .active {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: @gift-array-btn-font-size;
    line-height: @gift-array-btn-line-height;
    color: @gift-array-text-color;

    &.heading {
      color: @red-orange;
      font-weight: bold;
      font-size: 26px;
    }
  }

  .array {
    .six {
      width: @gift-array-btn-width;

      table {
        width: 80%;
      }
    }

    a {
      padding: 15px 0;
      width: 100%;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .button {
      a, td {
        background-color: #ffffff;
        color: @gift-array-btn-color;
        mso-border-alt: 1px solid #ffffff;
      }
    }

    .active {
      float: right !important;

      a, td {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
        mso-border-alt: 1px solid @red-orange;
      }
    }

    .left {
      float: right !important;
    }

    .copy-spacer {
      font-size: 10px;
      line-height: 10px;
      height: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;

        &.heading {
          padding-top: 20px !important;
        }
      }
      a {
        padding: 15px 0 !important;

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .six {
        width: 100% !important;

        table {
          width: 100% !important;

          .buttons a {
            font-size: 26px !important;
            line-height: 32px !important;
          }
        }
      }

      .button {
        width: 100% !important;
      }

      .right {
        padding-top: 10px !important;
      }
    }
  }
}

@media @tablet {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 0 !important;

        &.heading {
          padding-top: 20px !important;
        }
      }
      a {
        padding: 15px 0 !important;

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .six {
        width: 100% !important;

        table {
          width: 100% !important;

          .buttons a {
            font-size: 26px !important;
            line-height: 32px !important;
          }
        }
      }

      .button {
        width: 100% !important;
      }

      .right {
        padding-top: 10px !important;
      }
    }
  }
}

@media @phone {
  *[class].mobile {
    .gift-array {
      a {
        padding: 15px 0 !important;

        img {
          width: 15px !important;
          height: auto !important;
        }
      }
    }

    .array {
      .six {
        width: 100% !important;

        table {
          width: 100% !important;

          .buttons a {
            font-size: 26px !important;
            line-height: 32px !important;
          }
        }
      }
    }

    .button {
      width: 100% !important;
    }

    .right {
      padding-top: 10px !important;
    }
  }
}
