/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.footer {
  border-top: 4px solid #ffffff;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 55% !important;

        img {
          max-width: 220px !important;
          width: auto !important;
          height: auto !important;
        }
      }
      
      .donate {
        width: 45% !important;
      }
    }
  }
}
