@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.twelve {
  width: 610px;
}

.eight {
  width: 387px;
}

.four {
  width: 164px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #e4973d;
  text-align: center;
  border-radius: 0;
}

.button td:hover {
  border-color: #bb701a;
  background-color: #bb701a;
  color: #ffffff;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #e4973d;
  background-color: #e4973d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  mso-border-alt: 1px solid #e4973d;
}

.button a:hover {
  border-color: #bb701a;
  background-color: #bb701a;
  color: #ffffff;
}

.button a:visited,
.button a:active {
  border-color: #e4973d;
  background-color: #e4973d;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #bb701a;
  background-color: #bb701a;
}

.preheader .copy {
  color: #fbf7e4;
  font-size: 0px;
  line-height: 0px;
}

.footer {
  background-color: #fbf7e4;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #998c72;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: none;
  font-weight: normal;
  color: #565041;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .social-icons td.first {
  padding: 0 1px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

.footer .affiliates td.last {
  padding: 0 0 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fbf7e4;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fbf7e4;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 670px;
}

.main-content {
  width: 670px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #625d54;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #1d4b60;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.footer .twelve .spacing {
  padding-top: 10px;
}

.footer .spacing {
  padding-top: 80px;
}

.footer .spacing.copy {
  padding-bottom: 20px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .social-icons img {
  width: 100%;
  height: auto;
}

.footer .social-icons td {
  padding: 0 10px;
}

.footer .social-icons td.first {
  padding: 0 10px 0 0;
}

.footer .social-icons td.last {
  padding: 0 0 0 10px;
}

.footer .affiliates {
  padding-top: 30px;
}

.footer .affiliates img {
  width: auto;
}

.footer .affiliates td {
  padding: 0 3px;
}

/* Targetting Tablets */

/* Targeting Mobile */

.preheader {
  font-size: 0;
  line-height: 0;
  height: 0;
}

.body-copy .copy a {
  font-size: 17px;
  text-decoration: none;
  color: #004961;
}

.share .spacing {
  padding-right: 30px;
  padding-bottom: 0;
}

.share .share-icons td {
  padding: 0 5px;
}

.share .share-icons .copy {
  padding-left: 0;
  padding-right: 5px;
  font-size: 12px;
  line-height: 17px;
  color: #8d7c54;
}

.sig .spacing {
  padding-top: 0;
  padding-bottom: 60px;
}

.sig .twelve td {
  padding-top: 10px;
  padding-bottom: 5px;
}

.sig .twelve .copy {
  padding-top: 0;
  padding-bottom: 0;
}

.bottom-donate {
  background-color: #eeebdd;
}

.bottom-donate .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bottom-donate .copy {
  padding-top: 5px;
  font-size: 19px;
  line-height: 23px;
  color: #6a644a;
}

.bottom-donate .button a {
  padding: 15px 10px;
  background-color: #e4973d;
  border-radius: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
}

.bottom-donate .button span {
  font-size: 25px;
  color: #f8ddb6;
}

.footer .spacing {
  padding-top: 30px;
}

.footer .view a {
  color: #998c72;
}

@media only screen and (max-width: 670px ) {

  *[class].mobile .four,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .footer .twelve .spacing {
    padding-top: 5px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 30px !important;
  }

  *[class].mobile .bottom-donate .copy {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  *[class].mobile .bottom-donate .button {
    padding: 8px 0 !important;
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {

  *[class].mobile .four,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .footer .twelve .spacing {
    padding-top: 5px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 30px !important;
  }

  *[class].mobile .bottom-donate .copy {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  *[class].mobile .bottom-donate .button {
    padding: 8px 0 !important;
    width: 50% !important;
  }
}

@media only screen and (max-width: 480px) {

  *[class].mobile .four,
  *[class].mobile .eight {
    width: 100% !important;
  }

  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 10px !important;
  }

  *[class].mobile .footer .twelve .spacing {
    padding-top: 5px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .spacing {
    padding-top: 30px !important;
  }

  *[class].mobile .bottom-donate .copy {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }

  *[class].mobile .bottom-donate .button {
    padding: 8px 0 !important;
    width: 50% !important;
  }
}
