.hero {
	border: 7px solid #fd0404;

	img {
		width: 627px;
		height: auto;
	}

	.title, .johnsonbox {
		img {
			width: auto;
			height: auto;
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			.title, .johnsonbox {
				img {
					width: auto !important;
					height: auto !important;
				}
			}

			.title {
				.spacing {
					padding-left: 20px !important;
					padding-right: 20px !important;
					padding-top: 0 !important;
					padding-bottom: 0 !important;
				}
			}

			.johnsonbox {
				.copy {
					padding-left: 5px !important;
					padding-right: 5px !important;
					font-size: @johnsonbox-font-size - 4 !important;
					line-height: @johnsonbox-line-height - 4 !important;
				}
			}
		}
  }
}
