.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }

			.spacing {
				padding-bottom: 20px !important;
			}
		}
  }
}
