.header {
  strong {
    color: #959595;
  }
}

.story {
  .copy {
    padding-left: 35px;
  }
}

.footer {
  border-top: 3px solid #af5a31;

  .social-icons {
    width: auto !important;

    td {
      padding-left: 5px;
    }
  }

  .affiliates {
    width: auto !important;

    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .header .copy {
      padding: 0 !important;
      width: 60% !important;
    }
    .header .donate {
      width: 40% !important;
    }
    .story {
      .copy {
        padding-left: 0 !important;
      }

      &.featured {
        .copy {
          padding-left: 10px !important;
        }
      }
    }

    .affiliates,
    .social-icons {
      width: auto !important;
    }
  }
}
