@content-width:             580px;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 15px;
@line-height:               25px;
@text-color:                #515151;
@link-color:                #af5a31;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									40px;

// Button styles
@button-bg:                     #cf7c54;
@button-border:                 @button-bg;
@button-color:                  #fffefe;
@button-radius:                 0;
@button-hover-bg:               darken(@button-bg,15%);
@button-hover-border:           darken(@button-bg,15%);
@button-hover-color:            @button-color;
@button-font-size:              22px;
@button-text-decoration:        none;
@button-font-weight:            bold;

// Header Button styles
@header-button-bg:              		#cf7c54;
@header-button-border:          		@header-button-bg;
@header-button-color:           		#fffefe;
@header-button-hover-bg:        		@header-button-bg;
@header-button-hover-color:     		lighten(@header-button-color, 5%);
@header-button-font-size:       		16px;
@header-button-text-decoration:     none;
@header-button-font-weight:     		bold;

@view-online-color:             @text-color;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #af5a31;
@header-link-text-decoration:   none;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#feece3;
@johnsonbox-font-family:  					@font-family-serif;
@johnsonbox-font-size:    					26px;
@johnsonbox-line-height:  					29px;
@johnsonbox-color:        					#af5a31;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            normal;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		200px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

// eNewsletter story styles
@newsletter-story-header-font-size:     22px;
@newsletter-story-header-line-height:   28px;
@newsletter-story-link-font-size:       17px;
@newsletter-story-link-line-height:     33px;
@newsletter-story-header-color:   			#af5a31;
@newsletter-story-header-font-family:		@font-family-serif;

// eNewsletter specific styles
@newsletter-featured-font-size:           16px;
@newsletter-featured-line-height:         26px;
@newsletter-featured-header-font-size:    32px;
@newsletter-featured-header-line-height:  38px;
@newsletter-featured-header-color:   			#af5a31;
@newsletter-featured-border-color:   			#cccccc;

// eNewsletter director styles
@newsletter-director-bg:                  #feece3;
@newsletter-director-font-size:           16px;
@newsletter-director-line-height:         24px;
@newsletter-director-color:               #4e4e4e;
@newsletter-director-header-font-family:  @font-family-serif;
@newsletter-director-header-font-size:    22px;
@newsletter-director-header-line-height:  28px;
@newsletter-director-header-color:			  #af5a31;
@newsletter-director-border-color:  			#af5a31;

@footer-bg:                     #ffffff;
@footer-color:                  #4d4d4d;
@footer-link-color:             @footer-color;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
