.sidebar {
  .copy {
    padding-left: 22px;
    font-size: 17px;
    line-height: 24px;
  }

  .title {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 32px;
    color: #DC5034;
    font-weight: bold;

    &.blue {
      color: #258FAD;
    }

    &.green {
      color: #17AF92;
      line-height: 31px;
    }
  }

  .columns {
    width: auto;
  }

  .five {
    width: 181px;

    td {
      padding-top: 55px;
    }
  }

  .seven {
    width: 389px;
  }

  &.last {
    .five {
      td {
        padding-top: 95px;
      }
    }
  }

  &.border-top {
    .columns {
      width: 570px;
      border-top: 1px solid #999999;

      .spacing {
        padding-top: 55px;
      }
    }

    .copy {
      font-size: 19px;
      line-height: 24px;
    }

    .five {
      td {
        padding-top: 0;
      }
    }

    .seven {
      .copy-spacer {
        height: 15px;
        font-size: 15px;
        line-height: 15px;
      }
    }

    .signoff {
      height: 153px;
      vertical-align: middle;

      table {
        height: auto;
        vertical-align: middle;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .copy {
        padding-left: 0 !important;
      }

      .five {
        td {
          padding-top: 0 !important;
          padding-bottom: 15px !important;
        }

        img {
          float: left !important;
        }
      }

      &.last {
        .five {
          td {
            padding-top: 0 !important;
          }
        }
      }

      &.border-top {
        .copy {
          padding-left: 15px !important;
        }

        .signoff {
          height: 130px !important;
          vertical-align: middle !important;

          table {
            height: auto !important;
            vertical-align: middle !important;
          }
        }

        .steve {
          img {
            max-width: 130px !important;
            width: 130px !important;
            height: 130px !important;
          }
        }
      }
    }
  }
}
