.solo-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-bottom: 50px;
  }

  .button {
    height: 84px;

    td {
      height: 84px;
      padding-top: 0;
      padding-bottom: 0;

      a {
        height: 100%;
        line-height: 84px;
      }
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
