.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.red {
      padding-bottom: 10px;
      font-family: @oswald;
      font-size: 30px;
      line-height: 35px;
      color: #AB0634;
      font-weight: 500;
    }
  }

  &.link-lists {
    .twelve {
      width: auto;
    }

    .link {
      width: auto;

      td {
        padding-left: 15px;
        padding-right: 15px;
      }

      a {
        font-family: @oswald;
        font-weight: 500;
        color: #009BAF;
        font-size: 22px;
        line-height: 33px;
        text-decoration: none;
      }
    }

    .border {
      border-left: 2px solid #979797;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;

        &.red {
          font-size: 25px !important;
          line-height: 30px !important;
        }
      }

      &.link-lists {
        .twelve {
          width: auto !important;
        }

        .spacing {
          padding-top: 0 !important;
          padding-bottom: 10px !important;
        }

        .link {
          width: auto !important;

          td {
            padding-left: 8px !important;
            padding-right: 8px !important;
          }

          a {
            font-size: 16px !important;
            line-height: 31px !important;
          }

          &.first {
            td {
              padding-left: 0 !important;
            }
          }

          &.last {
            td {
              padding-right: 0 !important;
            }
          }
        }
      }
    }
  }
}
