.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: 16px;
    line-height: 29px;
    color: #545454;
    font-weight: normal;
    font-style: italic;

    &.blue {
      padding-bottom: 0;
      font-weight: bold;
      color: #1E376A;
      font-size: 27px;
      line-height: 30px;
      font-style: normal;
    }
  }

  .array {
    margin: 0 auto;
    width: auto;

    .spacing {
      padding-top: 0;
      padding-bottom: 30px;
    }

    .gift {
      width: @gift-array-btn-width;
    }

    .button {
      margin: 0 auto;
      width: 282px;
      height: @gift-array-btn-height;

      td {
        padding-top: 0;
        padding-bottom: 0;
        height: @gift-array-btn-height;
        border-radius: @gift-array-btn-radius;
        background-color: @gift-array-btn-bg;
        vertical-align: middle;
      }

      a {
        margin: 0 auto;
        width: 95%;
        height: 100%;
        background-color: @gift-array-btn-bg;
        font-family: @gift-array-btn-font-family;
        font-size: @gift-array-btn-font-size;
        line-height: @gift-array-btn-line-height;
        font-weight: @gift-array-btn-font-weight;
        text-decoration: none;
        color: @gift-array-btn-color;
        border-radius: @gift-array-btn-radius;
      }

      &.red {
        td {
          background-color: #BE2D29;
        }

        a {
          background-color: #BE2D29;
        }
      }

      &.blue {
        td {
          background-color: #1E376A;
        }

        a {
          background-color: #1E376A;
        }
      }
    }

    .dollar {
      padding-bottom: 10px;
      display: block;
      font-size: @gift-array-price-font-size;
      line-height: @gift-array-price-line-height;
      font-weight: @gift-array-price-font-weight;
    }

    .active {
      .button {
        td {
          background-color: @gift-array-active-btn-bg;
        }

        a {
          background-color: @gift-array-active-btn-bg;
          color: @gift-array-active-btn-color;
          mso-border-alt: 1px solid @gift-array-active-btn-bg;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .spacing {
        padding-top: 0 !important;
      }

      .copy {
        padding-bottom: 8px !important;
        font-size: 16px !important;
        line-height: 20px !important;

        &.blue {
          padding-bottom: 8px !important;
          font-size: 27px !important;
          line-height: 30px !important;
        }
      }

      .array {
        width: 100% !important;

        .gift {
          height: @gift-array-mobile-btn-height !important;

          .copy {
            &.grey {
              font-size: 16px !important;
              line-height: 22px !important;
            }

            &.red {
              font-size: 22px !important;
              line-height: 30px !important;
            }
          }
        }

        .donate {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }

        .button {
          width: @button-width !important;

          a {
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }
      }
    }
  }
}
