.hero {
	width: 620px;
	background-color: #ECEBE2;

	table {
		background-color: #ECEBE2;
	}

	img {
		width: auto;
		height: auto;
	}

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			.columns {
				width: 100% !important;
			}

			.spacing {
				img {
					margin: 0 auto !important;
					width: 90% !important;
					height: auto !important;
				}
			}
		}
  }
}
