.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .spacing {
      padding-top: 30px;
    }
  }

  &.bottom {
    width: 100%;
    background-color: #555657;

    a {
      color: #ffffff;
      text-decoration: underline;
    }

    .spacing {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .copy {
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
      font-weight: normal;
      mso-line-height-rule: exactly;
    }

    .twelve {
      width: 630px;
    }

    .mobile-top {
      display: none;
    }

    .six {
      width: 262px;

      .copy {
        text-align: left;

        &.top {
          display: table-cell;
          font-size: 30px;
          line-height: 35px;
          color: #ffffff;
          font-weight: bold;
        }
      }

      &.right {
        width: 348px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.bottom {
        .spacing {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }

        .copy {
          padding-top: 20px !important;
          font-size: 19px !important;
          line-height: 29px !important;
        }

        .top {
          .copy {
            padding-top: 0 !important;
            font-size: 25px !important;
            line-height: 30px !important;
          }
        }

        .six {
          width: 100% !important;

          td {
            height: auto !important;
          }

          img {
            margin: 0 auto !important;
          }

          .copy {
            &.top {
              display: none !important;
            }
          }
        }

        .button {
          width: 282px !important;

          a {
            font-size: 22px !important;
          }
        }

        .mobile-top {
          display: table !important;

          .copy {
            font-size: 25px !important;
            line-height: 30px !important;
            color: #ffffff !important;
            font-weight: bold !important;
          }
        }
      }
    }
  }
}
