// Brand Colors
@yellow:                    #feca30;
@green:                     #d1cd31;
@blue:                      #1897d4;
@dark-blue:                 #022b51;
@orange:                    #f69831;
@tan:                       #fcf6e8;
@brown:                     #735842;
@red:                       #c52929;
@dark-grey:                 #2c2c2c;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';

@body-bg:                   @tan;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #523822;
@link-color:                @orange;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  280px;
@button-height:                 auto;
@button-bg:                     #f7971c;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 4px;
@button-font-family:            @font-family;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

// Header Button styles
@header-button-width:             130px;
@header-button-height:            @button-height;
@header-button-bg:              		#b5b22a;
@header-button-border:          		#98953B;
@header-button-radius:            3px;
@header-button-color:           		#ffffff;
@header-button-font-family:       @font-family;
@header-button-font-size:       		18px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@view-online-color:             @text-color;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             #ffffff;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-font-weight:            bold;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size - 1;
@header-mobile-line-height:     @header-line-height - 1;

@johnsonbox-bg:                     #533a24;
@johnsonbox-font-family:            @font-family;
@johnsonbox-font-size:              30px;
@johnsonbox-line-height:            34px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#f1e8dd;
@gift-array-font-family:      		@johnsonbox-font-family;
@gift-array-text-font-size:      	23px;
@gift-array-text-line-height:     26px;
@gift-array-text-color:      			#734720;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            198px; 
@gift-array-btn-height:         	178px;
@gift-array-btn-bg:               #fcfcfc;
@gift-array-btn-color:            #ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:        22px;
@gift-array-btn-line-height:      26px;
@gift-array-btn-font-weight:      normal;
@gift-array-btn-radius:           5px;
@gift-array-price-font-size:      32px;
@gift-array-price-line-height:    32px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#eb902d;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @tan;
@footer-color:                  #725844;
@footer-link-color:             @footer-color;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              11px;
@footer-line-height:            @footer-font-size + 3;
@footer-text-align:             center;
@footer-font-weight:            normal;
