@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.four {
  width: 174px;
}

.columns .last {
  padding-right: 0;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #ffffff;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ee3a43;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ee3a43;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #252525;
}

.copy a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #ee3a43;
  font-weight: normal;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: transparent;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: #ffffff;
}

.gift-array .copy {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #363636;
}

.gift-array .blue,
.gift-array .teal {
  font-weight: bold;
  color: #066ffc;
  font-size: 16px;
  line-height: 20px;
}

.gift-array .teal {
  color: #01f3c0;
}

.gift-array .array table {
  width: 200px;
}

.gift-array .array a {
  padding: 30px 5px;
  width: 90%;
  display: block;
  background-color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #363636;
  border-radius: 5px;
}

.gift-array .array a:active,
.gift-array .array a:hover,
.gift-array .array a:visited {
  background-color: rgba(38, 38, 38, 0);
  color: #333333;
}

.gift-array.icon-array {
  background-color: #f2f6f6;
}

.gift-array.icon-array .spacing {
  padding-bottom: 0;
}

.gift-array.icon-array .array table {
  height: 190px;
  background-color: #ffffff;
  border: 1px solid #f2f6f6;
  mso-border-alt: #ffffff;
}

.gift-array.icon-array .icon {
  padding-bottom: 8px;
  height: 111px;
}

.gift-array.icon-array .icon.last {
  padding-bottom: 0;
  padding-top: 8px;
}

.gift-array.icon-array.last .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}

.gift-array.icon-array.last .array {
  width: 410px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #f2f6f6;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 5px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 31px;
  line-height: 40px;
  color: #ee3a43;
  font-weight: normal;
}

.johnsonbox .copy a {
  color: #ee3a43;
  text-decoration: underline;
}

.donate-button {
  background-color: #ffffff;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.body {
  background-color: #ee3a43;
}

.view-online a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.view-online .spacing {
  padding-bottom: 5px;
}

.header {
  background-color: #ee3a43;
}

.header .spacing {
  padding-top: 0px;
}

.header .logo {
  width: 80%;
}

.header .logo img {
  max-width: 266px;
}

.header .donate {
  width: 20%;
}

.footer {
  background-color: #ee3a43;
  text-align: center;
}

.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer table .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: normal;
}

.footer .logo {
  width: auto;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 3px;
}

.footer .small {
  font-size: 11px;
}

.footer .smaller {
  font-size: 10px;
}

.footer .smaller a {
  font-size: 10px;
}

.footer .smallest {
  font-size: 9px;
}

.footer .smallest a {
  font-size: 9px;
}

.view-online a {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .social-icons {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .gift-array a {
    padding: 15px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }

  *[class].mobile .gift-array .spacing {
    padding-top: 0 !important;
  }

  *[class].mobile .gift-array .blue,
  *[class].mobile .gift-array .teal {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  *[class].mobile .gift-array.icon-array {
    height: auto !important;
  }

  *[class].mobile .gift-array.icon-array .four {
    height: auto !important;
  }

  *[class].mobile .gift-array.icon-array .four .icon {
    padding-top: 10px !important;
    height: auto !important;
  }

  *[class].mobile .gift-array.icon-array .four .copy {
    padding-bottom: 10px !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 30px !important;
  }

  *[class].mobile .sig img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .columns {
    width: 90% !important;
  }

  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .body-copy .spacing {
    padding-bottom: 10px !important;
  }

  *[class].mobile .header .logo {
    width: 55% !important;
  }

  *[class].mobile .header .donate {
    width: 45% !important;
  }

  *[class].mobile .footer a {
    font-size: 12px !important;
  }
}
