@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 580px;
}
.twelve {
  width: 580px;
}
.six {
  width: 260px;
}
.columns .first {
  padding-left: 0;
}
.columns .last {
  padding-right: 0;
}
.button {
  float: none !important;
}
.button td {
  background-color: #f4d90c;
  text-align: center;
  border-radius: 3px;
}
.button td:hover {
  border-color: #f7e455;
  background-color: #f7e455;
  color: #231f20;
}
.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f4d90c;
  background-color: #f4d90c;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #231f20;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #f4d90c;
}
.preheader .copy {
  color: #fffad9;
  font-size: 0px;
  line-height: 0px;
}
.header {
  background-color: #fffad9;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .logo {
  width: 50%;
  padding-right: 10px;
}
.header .donate {
  width: 50%;
}
.header .button td {
  background-color: #f5d732;
}
.header .button td:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}
.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #000000;
  background-color: #f5d732;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #f5d732;
}
.header .button a:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}
.header .button a:visited,
.header .button a:active {
  border-color: #f9e57b;
  background-color: #f9e57b;
}
.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
}
.footer {
  background-color: #fffad9;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4e4e4e;
  text-align: center;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4e4e4e;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 1px;
}
.footer .affiliates td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #fffad9;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fffad9;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #523822;
}
.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #f2d90e;
  font-weight: normal;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .button a {
  font-size: 20px;
}
.donate-button {
  background-color: #ffffff;
}
.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 40px;
}
.donate-button .button td {
  padding: 15px 0;
}
.donate-button .button a {
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}
/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: #ffffff;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: #00b2ad;
  color: #ffffff;
}
.gift-array .array {
  background-color: #f5dd24;
}
.gift-array .array .wrap {
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
}
.gift-array .array .spacing {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}
.gift-array .array .spacing.first {
  padding-top: 15px !important;
}
.gift-array .array .spacing.last {
  padding-bottom: 15px !important;
}
.gift-array .array table.twelve {
  margin: 0 auto;
  width: 90%;
}
.gift-array .array table.twelve td {
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 5px;
}
.gift-array .array table.twelve a {
  padding: 0;
  width: 90%;
  display: block;
  background-color: #ffffff;
  mso-border-alt: 1px solid #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  color: #333333;
  border-radius: 5px;
}
.gift-array .array table.twelve a span {
  color: #000001;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}
.gift-array .array table.twelve.active td {
  background-color: #00b2ad;
}
.gift-array .array table.twelve.active a {
  background-color: #00b2ad;
  color: #ffffff;
  mso-border-alt: 1px solid #00b2ad;
}
.gift-array .array table.twelve.active a span {
  color: #ffffff;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.sig .spacing {
  padding-top: 0;
}
.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}
.button a {
  padding: 15px 0;
}
.header .spacing {
  padding-top: 20px;
}
.header .logo {
  width: 80%;
}
.header .donate {
  width: 20%;
}
.header .button {
  width: 100%;
  font-weight: normal;
}
.header .button td {
  padding: 7px 0;
}
.header .button a {
  padding: 0;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}
.footer .social-icons td {
  padding: 0 8px;
}
.footer .affiliates td {
  padding: 0 10px;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.donate-button .button td {
  padding: 15px 0;
}
.donate-button .button a {
  padding: 0;
}
.body-copy.top .spacing {
  padding-bottom: 10px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .twelve {
    width: 100% !important;
  }
  *[class].mobile .header .logo {
    width: 75% !important;
  }
  *[class].mobile .header .donate {
    width: 25% !important;
  }
  *[class].mobile .header .button {
    width: 100% !important;
  }
  *[class].mobile .header .button a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .button {
    width: 70% !important;
  }
  *[class].mobile .johnsonbox .button a {
    font-size: 15px !important;
  }
  *[class].mobile .donate-button .button a {
    font-size: 15px !important;
  }
  *[class].mobile .gift-array .array {
    width: 100% !important;
  }
  *[class].mobile .gift-array .array table {
    width: 85% !important;
  }
  *[class].mobile .gift-array a {
    width: 90% !important;
    padding: 15px 0 !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }
  *[class].mobile .gift-array a span {
    padding-bottom: 0 !important;
    font-size: 22px !important;
    line-height: 26px !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 35% !important;
  }
  *[class].mobile .header .donate a {
    font-size: 15px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
}
