.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    &.blue {
      padding-bottom: 10px;
      font-family: @font-family-sans-serif;
      font-size: 30px;
      line-height: 32px;
      color: #195CA0;
      font-weight: bold;
    }
  }

  .donate {
    .button {
      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.top {
        .donate {
          .button {
            width: 100% !important;

            td {
              padding-top: 4px !important;
              padding-bottom: 4px !important;
            }
          }
        }
      }
    }
  }
}
