.divider {
  table {
    width: 100%;
    height: 1px;
    background-color: #cccccc;

    td {
      font-size: 1px;
      line-height: 1px;
      color: #cccccc;
    }
  }
}

.logo {
  padding-top: 10px;
}

.body-copy {
  .spacing {
    padding-bottom: 0;
  }

  &.last {
    .spacing {
      padding-bottom: 20px;
    }
  }
}
