.body-copy {
  .copy {
    font-weight: bold;
  }
}

@media @content {
  *[class].mobile {
    .eleven {
      width: 95% !important;
    }

    .body-copy {
      .copy {
        font-size: @font-size - 4 !important;
        line-height: @line-height - 4 !important;
      }
    }

    .header {
      .logo {
        width: 70% !important;
      }
      .donate {
        width: 30% !important;
      }
    }
  }
}
