<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>

          <td class="logo">
            <a href="http://phoenixrescuemission.org/?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/header-logo.gif" alt="Phoenix Rescue Mission" width="213" height="68" border="0" /></a>
          </td>

          <td class="view-donate">
            <!-- View Online Area -->
            <table align="right" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td>

                  <table class="view-online" align="right" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy" align="right">
                        <a href="http://prm.convio.net/site/MessageViewer" target="_blank">View in browser</a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>

              <tr>
                <td class="donate" align="right">
                  <table class="button" align="right" border="0">
                    <tr>
                      <td>
                        <a href="#donate?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">DONATE</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="ten" align="center" cellpadding="0" cellspacing="0" border="0">

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="https://www.facebook.com/phoenixrescuemission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-fb.gif" alt="Facebook" width="15" height="26" border="0" /></a>
                </td>
                <td>
                  <a href="https://twitter.com/phxmission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-twitter.gif" alt="Twitter" width="28" height="21" border="0" /></a>
                </td>
                <td>
                  <a href="https://www.youtube.com/user/PhoenixRescueMission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-youtube.gif" alt="YouTube" width="22" height="26" border="0" /></a>
                </td>
                <td>
                  <a href="http://instagram.com/phxmission?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-instagram.gif" alt="Instagram" width="27" height="26" border="0" /></a>
                </td>
                <td>
                  <a href="https://www.pinterest.com/phxmission/?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank"><img src="images/footer-pinterest.gif" alt="Pinterest" width="21" height="26" border="0" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table class="ten" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy">
                  <strong>Phoenix Rescue Mission &bull; 1540 W. Van Buren St. &bull; Phoenix,&nbsp;AZ&nbsp;85007</strong><br/>
                  <strong>Call (602) 346-3336</strong> to speak with Donor Care or to give online, visit&nbsp;<a href="http://www.PhoenixRescueMission.org?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" class="home-link" target="_blank">www.PhoenixRescueMission.org</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table class="ten" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="copy smaller">
                  If you do not wish to receive future email updates from Phoenix&nbsp;Rescue&nbsp;Mission, <a href="http://prm.convio.net/site/CO" target="_blank">unsubscribe&nbsp;here</a>. &copy;&nbsp;{{job_year}} Phoenix&nbsp;Rescue&nbsp;Mission. All&nbsp;rights&nbsp;reserved. <a href="http://phoenixrescuemission.org/privacy-policy/?utm_source=eappeal&utm_medium=email&utm_campaign=00XXXX0" target="_blank">Privacy&nbsp;policy</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Social Icons -->
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="images/footer-rescuemissions.gif" alt="rescue missions" width="69" height="43" border="0" />
                </td>
                <td class="ecfa">
                  <img src="images/footer-ecfa.gif" alt="ECFA" width="45" height="45" border="0" />
                </td>
                <td>
                  <img src="images/footer-guidestar.gif" alt="GuideStar" width="120" height="38" border="0" />
                </td>
                <td>
                  <img src="images/footer-bbb.gif" alt="BBB Accredited Charity" width="46" height="67" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
