// Header
.header {
  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 75%;
  }

  .view-donate {
    width: 25%;

    .view-online {
      .copy {
        padding-bottom: 15px;
        color: @view-online-color;

        a {
          font-family: @font-family-sans-serif;
          font-weight: normal;
        }
      }
    }
  }

  .donate {
    width: 100%;
  }

  .button {
    max-width: 167px;
  }
}

// Footer
.footer {
  .ten .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo {
    width: auto;
  }

  .copy {
    .home-link {
      display: inline-block;
    }

    &.smaller {
      line-height: @footer-line-height - 2;

      a {
        line-height: @footer-line-height - 2;
      }
    }
  }

  .social-icons {
    td {
      padding: 0 8px;
      vertical-align: bottom;
    }
  }

  .affiliates {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;

        img {
          max-width: 213px !important;
        }
      }

      .donate {
        width: 40% !important;
      }

      .view-donate {
        width: 50% !important;

        .view-online {
          .copy {
            padding-bottom: 5px !important;
          }
        }
      }

      .copy {
        padding-right: 0 !important;
      }
    }

    .footer {
      .spacing {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }

      .smaller, .smaller a {
        font-size: @footer-font-size - 1 !important;
        line-height: @footer-line-height - 2 !important;
      }

      .affiliates td {
        padding: 0 5px !important
      }
    }
  }
}
