table {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 60% !important;
      }
      .donate {
        width: 40% !important;
      }
    }
  }
}
