.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .button {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
