.header {
  .columns {
    width: 100%;
  }

  .logo {
    padding-top: 20px;
    padding-right: 0;

    img {
      width: 100%;
      max-width: 208px;
      height: auto;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          float: none !important;
          margin: 0 auto !important;
          width: 100% !important;
          max-width: 208px !important;
          height: auto !important;
        }
      }
    }
  }
}
