@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 600px;
}
.twelve {
  width: 600px;
}
.eleven {
  width: 547px;
}
.six {
  width: 280px;
}
.header {
  background-color: #f5f5f5;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  line-height: 12px;
  color: #515151;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  line-height: 12px;
  color: #515151;
  text-decoration: underline;
  font-weight: normal;
}
.footer {
  background-color: #f5f5f5;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #6d6d6d;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #6d6d6d;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 16px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 16px;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 640px;
}
.main-content {
  width: 640px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #1a1a1a;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #004568;
  font-weight: bold;
}
td.hide {
  min-width: 640px;
}
td.hide img {
  width: 640px;
  min-width: 640px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.solo-donate-button {
  background-color: #ffffff;
}
.solo-donate-button .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.view-online .spacing {
  padding-bottom: 5px;
}
.view-online .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  line-height: 12px;
  font-weight: normal;
  color: #515151;
}
.view-online .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  font-weight: normal;
  color: #515151;
  text-decoration: underline;
}
.header .spacing {
  padding-top: 0px;
}
.header .logo {
  width: 80%;
}
.header .logo img {
  max-width: 266px;
}
.header .donate {
  width: 20%;
}
.footer .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .logo {
  width: auto;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons img {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .small {
  font-size: 11px;
}
.footer .smaller {
  font-size: 10px;
}
.footer .smaller a {
  font-size: 10px;
}
.view-online .copy a {
  font-size: 12px;
  font-weight: bold;
}
.header .spacing {
  padding-bottom: 0;
}
.header .unsubscribe-head {
  width: 100%;
}
.header .unsubscribe-head .copy {
  padding-bottom: 5px;
}
.body-copy .eleven {
  width: 551px;
}
@media only screen and (max-width: 640px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .six,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .six {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    font-size: 7px !important;
    line-height: 12px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 130px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #6d6d6d !important;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    font-size: 12px !important;
    line-height: 17px !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .columns {
    width: 90% !important;
  }
  *[class].mobile .header .logo {
    width: 65% !important;
  }
  *[class].mobile .header .logo img {
    width: 90% !important;
  }
  *[class].mobile .header .columns .six {
    width: 100% !important;
    float: none !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .columns .six .logo {
    padding-bottom: 10px !important;
  }
  *[class].mobile .header .columns .six img {
    margin: 0 auto !important;
  }
  *[class].mobile .header .unsubscribe-head .copy {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
  }
}
