.donate-button {
  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
    }
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      font-size: @font-size - 2;
      line-height: @line-height - 2;
    }
  }
}
