/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;

  .copy {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: 27px;
    line-height: 30px;
    color: #2c2c2c;
    font-weight: bold;
  }

  .spacing {
    padding-bottom: 40px;
  }

  .array {
    margin: 0 auto;
    width: auto;

    table {
      width: @gift-array-btn-width;
      height: 130px;

      td {
        padding-top: 0;
        width: @gift-array-btn-width;
      }
    }

    a {
      padding-top: 30px;
      margin: 0 auto;
      width: 160px;
      height: 130px;
      display: block;
      background-color: @gift-array-btn-bg;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 0;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }
    }

    .spacing {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .active {
      table {
        td {
          background-color: @gift-array-active-btn;
        }
      }

      a {
        font-size: 15px;
        line-height: 21px;
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;

        .dollar {
          font-size: 14px;
          line-height: 20px;
        }

        .big {
          padding-top: 3px;
          padding-bottom: 3px;
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .array {
        width: 100% !important;

        table {
          margin: 0 auto !important;
          float: none !important;
          width: 100% !important;
          height: auto !important;

          td {
            padding-top: 10px !important;
            width: 100% !important;
          }
        }

        a {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          width: 88% !important;
          height: auto !important;
          font-size: @gift-array-btn-font-size + 6 !important;
          line-height: @gift-array-btn-line-height + 6 !important;

          span {
            padding-bottom: 0;
            display: inline-block !important;
            font-size: @gift-array-btn-font-size + 6 !important;
            line-height: @gift-array-btn-line-height + 6 !important;
          }
        }
      }
    }
  }
}
