/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

.footer {
  .columns {
    width: 600px;
  }
}

.affiliates {
  padding-top: 30px;
  padding-bottom: 30px;

  td {
    padding-left: 5px;
    padding-right: 5px;
  }
}

td.footer-donate {
  padding-top: 0 !important;
}

.footer-logo {
  td {
    padding-right: 0 !important;
  }
}


@media @content {
  *[class].mobile {
    .header {
      .logo {
        width: 50% !important;

        img {
          width: 90% !important;
          height: auto !important;
        }
      }
      .donate {
        width: 50% !important;

        img {
          width: 90% !important;
          height: auto !important;
        }
      }
    }
  }
}
