.donate-button {
  .button {
    td {
      padding: 15px 0;
    }

    a {
      padding: 0;
    }
  }
}

.body-copy {
  &.top {
    .spacing {
      padding-bottom: 25px;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
