@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.three {
  width: 120px;
}

.button {
  float: none !important;
}

.button td {
  background-color: #f5d732;
  text-align: center;
  border-radius: 3px;
}

.button td:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.button a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
  border-color: #f5d732;
  background-color: #f5d732;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  mso-border-alt: 1px solid #f5d732;
}

.button a:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.button a:visited,
.button a:active {
  border-color: #f5d732;
  background-color: #f5d732;
}

.button a:visited:hover,
.button a:active:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.preheader .copy {
  color: #ffffff;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #ffffff;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.header .button td {
  background-color: #f5d732;
}

.header .button td:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.header .button a {
  padding: 7px 0;
  border-color: #98953B;
  color: #000000;
  background-color: #f5d732;
  font-weight: normal;
  font-size: 15px;
  mso-border-alt: 1px solid #f5d732;
}

.header .button a:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
  color: #000000;
}

.header .button a:visited,
.header .button a:active {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.header .button a:visited:hover,
.header .button a:active:hover {
  border-color: #f9e57b;
  background-color: #f9e57b;
}

.footer {
  background-color: #ffffff;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #4d4d4d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #4d4d4d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.copy a {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2a4364;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.johnsonbox {
  background-color: #ffffff;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 35px;
  padding-bottom: 15px;
}

.donate-button {
  background-color: #ffffff;
}

.donate-button .spacing {
  padding-top: 0;
  padding-bottom: 50px;
}

.donate-button .button a {
  padding: 10px 0;
}

.button a {
  padding: 15px 0;
}

.header .spacing {
  padding-top: 20px;
}

.header .logo {
  width: 80%;
}

.header .donate {
  width: 20%;
}

.header .button {
  width: 100%;
  font-weight: normal;
}

.header .button a {
  padding: 7px 0;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
}

.footer .social-icons td {
  padding: 0 8px;
}

.footer .affiliates td {
  padding: 0 10px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .three {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .header .button {
    width: 100% !important;
  }

  *[class].mobile .header .button a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 14px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .button {
    width: 40% !important;
  }

  *[class].mobile .johnsonbox .button a {
    font-size: 12px !important;
  }

  *[class].mobile .donate-button .spacing {
    padding-bottom: 0 !important;
  }

  *[class].mobile .header .logo {
    width: 65% !important;
  }

  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .donate {
    width: 35% !important;
  }

  *[class].mobile .header .donate a {
    font-size: 15px !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
    line-height: 17px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 17px !important;
  }
}
