.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    td {
      padding: 10px 0;
    }

    a {
      padding: 0;
      font-size: @button-font-size;
    }
  }

  .tag-wrapper {
    width: auto;
  }

  .tag1 {
    width: 341px;

    .divider {
      display: block;
    }
  }

  .tag2 {
    width: 220px;
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    td {
      padding: 15px 0;
    }

    a {
      font-size: @button-font-size;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-mobile-font-size !important;
        }
      }

      .tag1 {
        margin: 0 auto !important;
        float: none !important;
        width: 95% !important;

        img {
          margin: 0 auto !important;
          float: none !important;
        }

        .divider {
          display: none !important;
        }
      }

      .tag2 {
        margin: 0 auto !important;
        float: none !important; 
        width: 95% !important;

        img {
          margin: 0 auto !important;
          float: none !important;
        }

        td {
          padding-top: 5px !important;
        }
      }
    }

    .donate-button {
      .button {
        a {
          font-size: @button-mobile-font-size !important;
        }
      }
    }
  }
}
