.sidebar {
  background-color: #6dcff6;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .columns {
    width: 640px;
  }

  .copy {
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .six {
    vertical-align: middle;
    height: 210px;

    .alignment {
      height: 210px;
      vertical-align: middle;
    }

    table {
      width: 88%;
      height: auto;
      margin: 0 auto;
      vertical-align: middle;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .columns {
        width: 100% !important;
      }

      .six {
        height: auto !important;

        td {
          height: auto !important;
        }

        table {
          float: none !important;
          margin: 0 auto !important;
          width: 90% !important;

          .copy {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
          }
        }

        img {
          width: 100% !important;
          height: auto;
        }
      }
    }
  }
}
