.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    background-color: #F42F2C;

    .copy {
      color: #ffffff;
      font-size: 28px;
      line-height: 36px;
      font-weight: 500;

      span {
        font-weight: 900;
      }
    }

    .first {
      width: @content-width;
    }

    .button {
      width: 188px;
      border: 3px solid #ffffff;

      td {
        padding-top: 7px;
        padding-bottom: 7px;
      }

      a {
        font-size: 24px;
      }
    }
  }

  &.bottom {
    .copy {
      padding-bottom: 5px;

      &.red {
        padding-bottom: 20px;
        font-size: 28px;
        line-height: 30px;
        color: #F42F2C;
        font-weight: 900;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
