/* uncss:ignore */
.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}
/* uncss:ignore */
.outlook-array table td {
  background-color: @gift-array-btn-bg;
  padding: 30px 5px;
}
/* uncss:ignore */
.outlook-array .active td {
  background-color: @gift-array-active-btn;
  color: @gift-array-active-btn-color;
}

.gift-array {
  background-color: @gift-array-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copy {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: @gift-array-btn-font-family;
    font-size: 18px;
    line-height: 23px;
    color: @gift-array-text-color;
    font-weight: bold;

    &.heading {
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
      color: #3a92af;
      font-size: 26px;
      line-height: 30px;
    }

    &.orange a {
      color: #ff8829;
    }

    &.red a {
      color: #9d0a2c;
    }

    &.green a {
      color: #5d8628;
    }

    &.yellow a {
      color: #f0a70b;
    }

    &.maroon a {
      color: #6c0f36;
    }

    &.blue a {
      color: #3a92af;
    }
  }

  .array {

    table {
      width: @gift-array-btn-width;
    }

    a {
      padding: 0;
      display: block;
      background-color: transparent;
      font-family: @gift-array-btn-font-family;
      font-size: @gift-array-btn-font-size;
      line-height: @gift-array-btn-line-height;
      font-weight: @gift-array-btn-font-weight;
      text-decoration: none;
      color: @gift-array-btn-color;
      border-radius: @gift-array-btn-radius;

      span {
        padding-bottom: 10px;
        display: block;
        font-size: @gift-array-price-font-size;
        line-height: @gift-array-price-line-height;
        font-weight: @gift-array-price-font-weight;
      }

      &:active, &:hover, &:visited {
        background-color: @gift-array-btn-bg-hover;
        color: @gift-array-btn-hover-color;
      }
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .active {
      a {
        background-color: @gift-array-active-btn;
        color: @gift-array-active-btn-color;
      }
    }
  }

  &.bottom {
    .spacing {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      td {
        padding-top: 10px !important;
      }
      a {
        padding: 0 !important;
        font-size: @gift-array-btn-font-size !important;
        line-height: @gift-array-btn-line-height !important;

        span {
          padding-bottom: 0 !important;
          font-size: @gift-array-btn-font-size !important;
          line-height: @gift-array-btn-line-height !important;
        }
      }
    }
  }
}
