.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: center;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
      font-weight: @button-font-weight;
    }

    &.heading {
      font-size: 35px;
      line-height: 40px;
      font-weight: normal;
      padding-bottom: 10px;
    }

    &.big {
      padding-top: 0;
      font-size: 25px;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: #882333;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    a {
      padding: 0;
      font-weight: normal;
      font-size: 17px;
      line-height: 23px;
      padding: 10px 0;
    }

    td {
      border: 2px solid #ffffff;
      mso-border-alt: 2px solid #ffffff;
      font-weight: normal;
      font-size: 17px;
    }
  }

  &.bottom {
    .donate {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      .copy {
        &.heading {
          font-size: 35px !important;
          line-height: 40px !important;
        }

        &.big {
          font-size: 25px !important;
        }
      }

      .ten {
        width: 90% !important;
      }
    }
  }
}
