@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 500px;
}
.twelve {
  width: 500px;
}
.eleven {
  width: 455px;
}
.nine {
  width: 365px;
}
.eight {
  width: 320px;
}
.six {
  width: 230px;
}
.five {
  width: 185px;
}
.button {
  float: none;
  width: 215px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #F37029;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #F37029;
  background-color: #F37029;
  font-family: Arial, Helvetica, sans-serif, 'Montserrat';
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 10px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 540px;
}
.main-content {
  width: 540px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1D2129;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #0097A2;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 540px;
}
td.hide img {
  width: 540px;
  min-width: 540px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #0097A2;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.sidebar .columns {
  margin: 0 auto;
  width: 450px;
}
.sidebar .six {
  width: 225px;
}
.sidebar .six table {
  width: 202px;
}
.sidebar .six .smaller {
  width: 188px;
}
.sidebar .copy.heading {
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  color: #0097A2;
}
.sidebar .copy.heading.orange {
  color: #F37029;
}
.sidebar.challenge {
  border-top: 3px solid #F4BD0E;
  border-bottom: 3px solid #F4BD0E;
}
.sidebar.challenge .columns {
  width: 520px;
}
.sidebar.challenge .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar.challenge .eight {
  width: 305px;
}
.sidebar.challenge .five {
  height: 270px;
}
.sidebar.challenge .heading {
  padding-bottom: 10px;
}
.sidebar.challenge .donate {
  padding-top: 20px;
}
.text-donate-button {
  background-color: #0097A2;
}
.text-donate-button .spacing {
  padding-top: 0;
  padding-bottom: 25px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Georgia, Times, serif, 'Arvo';
  font-size: 23px;
  line-height: 28px;
  color: #0097A2;
  font-weight: bold;
  text-align: center;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .mobile-view-donate {
  display: none;
}
.header .mobile-view-donate .copy,
.header .mobile-view-donate .copy a {
  font-size: 0;
  line-height: 0;
}
.footer {
  background-color: #ffffff;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  font-weight: normal;
}
.header .copy {
  padding-bottom: 10px;
}
.header .view-donate {
  width: 100%;
}
.header .logo-donate {
  width: auto;
}
.header .logo-donate .logo {
  width: 88px;
}
.header .logo-donate .spacing {
  padding-top: 20px;
}
.grey {
  background-color: #EFEFEF;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.footer .address {
  text-decoration: none;
}
@media only screen and (max-width: 540px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .eight,
  *[class].mobile .nine,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .six,
  *[class].mobile .columns .eight {
    width: 100% !important;
  }
  *[class].mobile .button {
    width: 215px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 22px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  *[class].mobile .sidebar .six table {
    width: 100% !important;
  }
  *[class].mobile .sidebar .copy.heading {
    padding-top: 20px !important;
  }
  *[class].mobile .sidebar .spacing {
    padding-bottom: 30px !important;
  }
  *[class].mobile .sidebar.challenge .columns,
  *[class].mobile .sidebar.challenge td {
    height: auto !important;
  }
  *[class].mobile .sidebar.challenge .five {
    height: auto !important;
  }
  *[class].mobile .sidebar.challenge .five img {
    width: 100px !important;
    height: auto !important;
  }
  *[class].mobile .sidebar.challenge .spacing {
    padding-bottom: 0 !important;
  }
  *[class].mobile .sidebar.challenge .donate {
    padding-bottom: 20px !important;
  }
  *[class].mobile .text-donate-button .copy {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  *[class].mobile .text-donate-button .spacing {
    padding-bottom: 35px !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .mobile-view-donate .copy {
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate .copy a {
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
  }
  *[class].mobile .footer .client-info .address a {
    font-weight: normal !important;
  }
  *[class].mobile .header .logo-donate table {
    width: 100% !important;
  }
  *[class].mobile .header .logo-donate table img {
    margin: 0 auto !important;
  }
  *[class].mobile .header .logo-donate .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .header .logo-donate .spacing {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  *[class].mobile .footer .address a {
    text-decoration: none !important;
  }
}
