@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  min-width: 580px;
  font-size: 0px !important;
  line-height: 0px;
}
td.hide img {
  width: 580px;
  min-width: 580px;
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 608px;
}
.twelve {
  width: 608px;
}
.eleven {
  width: 554px;
}
.ten {
  width: 500px;
}
.seven {
  width: 338px;
}
.six {
  width: 284px;
}
.five {
  width: 230px;
}
.header {
  background-color: #F7F7F7;
}
.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}
.header .copy {
  width: 50%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #2a4364;
}
.footer {
  background-color: #F7F7F7;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .copy,
.footer .copy a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #9B9B9B;
  text-align: center;
}
.footer .copy.smaller {
  font-size: 13px;
  line-height: 21px;
}
.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #9B9B9B;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #F7F7F7;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #F7F7F7;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  width: 648px;
}
.main-content {
  width: 648px;
  background-color: #F7F7F7;
}
.copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #6B6B6B;
}
.copy a {
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #00B4E4;
  font-weight: normal;
}
.body-copy .spacing {
  padding-bottom: 30px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #ffffff;
  text-align: left;
}
.johnsonbox .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}
.johnsonbox .copy {
  padding-bottom: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #6B6B6B;
  font-weight: normal;
}
.johnsonbox .copy a {
  color: #00B4E4;
  font-weight: bold;
}
.johnsonbox .story-header {
  padding-top: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #4A4A4A;
}
.johnsonbox .story-link {
  padding-top: 20px;
}
.story {
  background-color: #ffffff;
  height: 297px;
}
.story a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6B6B6B;
  font-weight: normal;
}
.story .columns {
  width: 100%;
}
.story .seven {
  width: 338px;
}
.story .five {
  vertical-align: middle;
  width: 310px;
  height: 297px;
}
.story .copy {
  font-family: Helvetica, Arial, sans-serif;
}
.story .copy.story-header {
  padding-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #4A4A4A;
}
.story .copy.story-link {
  padding-top: 10px;
}
.story .copy.story-link a {
  color: #00B4E4;
  font-weight: bold;
}
.story-wrapper {
  vertical-align: middle;
}
.story-wrapper table {
  margin: 0 auto;
  float: none;
  width: 85%;
  height: auto;
  vertical-align: middle;
}
.body-copy.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;
}
.body-copy.featured .spacing {
  padding-bottom: 0;
}
.story.featured {
  background-color: #0083C3;
  border-bottom: 0 solid transparent;
}
.story.featured .spacing {
  padding-top: 0;
  padding-bottom: 30px;
}
.story.featured .copy {
  padding-left: 0;
  padding-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
}
.story.featured .copy.blue {
  padding-top: 20px;
  color: #69DEFF;
  font-weight: bold;
}
.story.featured .copy.story-link table td {
  width: 230px;
  height: 62px;
  background-color: #ffffff;
}
.story.featured .copy.story-link a {
  display: block;
  width: 230px;
  height: 62px;
  background-color: #ffffff;
  color: #00B4E4;
  font-size: 21px;
  font-weight: normal;
  line-height: 62px;
  mso-line-height-rule: exactly;
  mso-border-alt: 1px solid #ffffff;
  vertical-align: middle;
}
.body {
  background-color: #F7F7F7;
}
.header {
  background-color: #F7F7F7;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #2a4364;
}
.featured {
  border-bottom: 2px solid #cccccc;
}
.footer {
  background-color: #F7F7F7;
  border-top: 3px solid #cccccc;
}
.footer .copy.smaller {
  padding-top: 10px;
}
td.hide {
  min-width: 648px;
}
td.hide img {
  width: 648px;
  min-width: 648px;
}
.header .copy {
  font-size: 15px;
  line-height: 18px;
  color: #9B9B9B;
}
.header .mobile-hide {
  display: block;
  width: 100%;
}
.footer {
  border-top: 0 solid transparent;
}
.footer .smaller {
  font-size: 13px;
}
.footer .logo {
  padding-top: 8px;
  padding-bottom: 8px;
}
img.caret {
  display: inline-block;
}
@media only screen and (max-width: 648px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .five,
  *[class].mobile .six,
  *[class].mobile .seven,
  *[class].mobile .ten,
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .columns .five,
  *[class].mobile .columns .six,
  *[class].mobile .columns .seven {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 75% !important;
    font-size: 11px !important;
    line-height: 14px !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 16px !important;
  }
  *[class].mobile .johnsonbox .columns {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 16px !important;
  }
  *[class].mobile .johnsonbox .copy.story-header {
    padding-bottom: 10px !important;
    font-size: 24px !important;
  }
  *[class].mobile .johnsonbox .story-link {
    padding-top: 10px !important;
  }
  *[class].mobile .story {
    height: auto !important;
  }
  *[class].mobile .story .five {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .columns {
    width: 100% !important;
  }
  *[class].mobile .story img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .story .copy {
    font-size: 16px !important;
  }
  *[class].mobile .story .copy.story-header {
    font-size: 24px !important;
  }
  *[class].mobile .story-wrapper {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    height: auto !important;
  }
  *[class].mobile .story-wrapper table {
    width: 90% !important;
  }
  *[class].mobile .copy.story-link a {
    width: 270px !important;
  }
  *[class].mobile .body-copy.featured {
    width: 100% !important;
  }
  *[class].mobile .featured {
    width: 100% !important;
  }
  *[class].mobile .featured .copy {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  *[class].mobile .featured img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .footer .copy {
    font-size: 14px !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  *[class].mobile .footer .logo {
    padding-right: 0 !important;
  }
  *[class].mobile .footer .logo img {
    height: auto !important;
  }
  *[class].mobile .header .mobile-hide {
    width: 0 !important;
    display: none !important;
  }
  *[class].mobile .header .columns {
    width: 95% !important;
  }
  *[class].mobile .header .six {
    width: 100% !important;
  }
  *[class].mobile .header .copy {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 13px !important;
  }
  *[class].mobile img.caret {
    width: 7px !important;
    height: auto !important;
  }
  *[class].mobile .main-content {
    width: 95% !important;
  }
}
