.sidebar {
  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .columns {
    width: 524px;
    height: 249px;
    vertical-align: bottom;
  }

  .red-bg {
    height: 134px;
    background-color: #AB0634;
    vertical-align: bottom;

    .copy {
      font-family: @oswald;
      font-size: 43px;
      line-height: 48px;
      font-weight: 500;
      color: #ffffff;
    }

    &.red-bg-mobile {
      display: none;
    }
  }

  .five {
    width: 274px;
    height: 249px;
    vertical-align: bottom;

    table {
      vertical-align: bottom;
    }

    .red-bg {
      width: 100%;
    }

    .sidebar-copy {
      padding-top: 115px;
    }
  }

  .six {
    width: 250px;
    height: 249px;
    vertical-align: bottom;

    table {
      vertical-align: bottom;
    }

    .sidebar-red-mobile {
      display: none;

      .red-bg {
        display: none;
      }
    }

    .sidebar-img {
      width: 207px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .columns {
        width: 100% !important;
        height: auto !important;
      }

      .red-bg {
        height: 134px !important;
        background-color: #ffffff !important;

        .copy {
          font-size: 43px !important;
          line-height: 48px !important;
          color: #AB0634 !important;
        }
      }

      .five {
        width: 100% !important;
        height: auto !important;

        table {
          width: 100% !important;
        }

        .copy {
          padding-left: 0 !important;
        }

        .red-bg-desktop {
          display: none !important;
        }

        .red-bg-mobile {
          display: block !important;
          height: auto !important;

          .copy {
            padding-top: 30px !important;
            padding-bottom: 10px !important;
          }
        }

        .sidebar-copy {
          padding-top: 0 !important;
        }
      }

      .six {
        width: 100% !important;
        height: auto !important;
        table-layout: fixed;

        table {
          width: 100% !important;
        }

        .sidebar-red-mobile {
          display: block !important;

          table {
            display: block !important;
            background-color: #AB0634 !important;
            width: 100% !important;
            border-right: 1px solid #AB0634 !important;
          }
        }

        .sidebar-red {
          padding-top: 0 !important;

          table {
            background-color: #AB0634 !important;
          }
        }

        .sidebar-img {
          width: 250px !important;

          img {
            width: 250px !important;
            height: auto !important;
          }
        }

        .copy {
          padding-right: 0 !important;
        }
      }
    }
  }
}
