.hero {
	background-color: @body-bg;

	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	&.headline {
		background-color: #ededed;

		img {
			display: block;
		}

		.brown-top {
      width: 549px;
      font-size: 12px;
      line-height: 12px;
      height: 12px;

      td {
        box-shadow: 0 0 0 #70534E;
      }

      img {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 0 #70534E;
      }
    }

		.spacing {
			background-color: #ededed;
			padding-top: 50px;
		  padding-bottom: 0;
		}

		.copy {
			padding-bottom: 10px;
			background-color: #70534E;
			font-family: @mavenpro;
			font-size: 40px;
			line-height: 47px;
			color: #ffffff;
			font-weight: 800;

			&.border {
				padding-bottom: 0;
			}
		}
	}
}

@media @content {
  *[class].mobile {
    .hero {
			img {
	      width: 100% !important;
	      height: auto !important;
	    }

			&.headline {
				img {
					display: none !important;
				}

        .brown-top {
          width: 90% !important;

          img {
            width: 100% !important;
          }
        }

				.copy {
					padding-top: 10px !important;
					font-size: 30px !important;
					line-height: 37px !important;
				}

				.spacing {
					display: none !important;
			    padding-top: 0 !important;
			  }
			}
		}
  }
}
