.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  .button {
    border-collapse: separate;
    border: 4px solid @button-border;
    border-radius: @button-radius + 3;

    td {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  &.middle {
    background-color: @content-bg;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .orange-top {
    width: 366px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;

    td {
      box-shadow: 0 0 0 #E98957;
    }

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 0 #E98957;
    }
  }

  .orange-box {
    width: 366px;
    background-color: #E98957;

    .columns {
      width: 90%;
    }

    .white {
      background-color: #ffffff;
      border-radius: 12px;

      .copy {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: @mavenpro;
        font-size: 25px;
        line-height: 30px;
        color: #70534E;
        font-weight: 700;
      }
    }

    .coffee {
      padding-top: 10px;
      padding-bottom: 10px;

      .cup {
        width: 90px;
        height: 150px;
      }

      .cup-text {
        padding-bottom: 0;
        width: 235px;
        height: 150px;

        table {
          width: 95%;
          height: auto;
          vertical-align: middle;
        }

        .copy {
          padding-bottom: 0;
          font-size: 26px;
          line-height: 32px;
          color: #ffffff;
          font-weight: 700;
          text-align: left;
        }

        span {
          font-weight: 800;
        }
      }

      .copy-spacer {
        font-size: 10px;
        height: 10px;
        line-height: 10px;
      }
    }
  }

  .box-button {
    width: 366px;
    background-color: @content-bg;

    .btn {
      width: 100%;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .orange-top {
        width: 90% !important;

        img {
          width: 100% !important;
        }
      }

      .orange-box {
        width: 90% !important;

        .columns {
          width: 100% !important;

          &.white {
            width: 90% !important;
          }
        }

        .copy {
          padding-left: 5px !important;
          padding-right: 5px !important;
          font-size: 20px !important;
          line-height: 25px !important;
        }

        .coffee {
          .columns {
            width: 90% !important;

            .cup, .cup-text {
              height: auto !important;
            }
          }
        }
      }

      .box-button {
        width: 90% !important;

        .btn {
          width: 100% !important;

          img {
            width: 100% !important;
          }
        }
      }

      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }
    }
  }
}
