.johnsonbox.text-and-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .twelve {
    width: 100%;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.bottom {
    background-color: @content-bg;

    .twelve {
      width: 467px;
      background-color: @johnsonbox-bg;
    }

    .yellow-top {
      width: 467px;
      font-size: 12px;
      line-height: 12px;
      height: 12px;

      td {
        box-shadow: 0 0 0 @johnsonbox-bg;
      }

      img {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 0 @johnsonbox-bg;
      }
    }

    .copy {
      padding-top: 0;
      font-size: 25px;
      font-weight: 700;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .donate {
      padding-bottom: 15px;
    }

    .button {
      mso-hide: all;

      td, a {
        mso-hide: all;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox.text-and-donate-button {
      .twelve {
        width: 100% !important;
      }

      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.bottom {
        background-color: @content-bg !important;

        .twelve {
          width: 90% !important;
        }

        .yellow-top {
          width: 90% !important;

          img {
            width: 100% !important;
          }
        }

        .button {
          width: 170px !important;

          a {
            font-size: @button-font-size - 10 !important;
          }
        }
      }
    }
  }
}
