<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting" />
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">

    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table class="columns" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="copy">
            MONTH / YEAR
          </td>
          <td class="donate" align="right">
            <table class="button" align="right" border="0">
              <tr>
                <td>
                  <a href="#donate" target="_blank">DONATE</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<table class="section heading" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center">
      <img src="http://placehold.it/580x140" alt="True-Life Stories of God&#8217;s Provision Through You! XXXX / XXXX XXXX. Soup for your Soul." />
    </td>
  </tr>
</table>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="https://www.facebook.com/pages/Milwaukee-Rescue-Mission/192278424145235" target="_blank"><img src="images/footer_facebook.gif" alt="Facebook" width="28" height="28" border="0" /></a>
                </td>
                <td>
                  <a href="https://twitter.com/milmission" target="_blank"><img src="images/footer_twitter.gif" alt="Twitter" width="28" height="28" border="0" /></a>
                </td>
                <td>
                  <a href="https://vimeo.com/user28328927" target="_blank"><img src="images/footer_vimeo.gif" alt="Vimeo" width="28" height="28" border="0" /></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy footer-link-list">
                  <a href="#donate" target="_blank">Make a donation</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#forward" target="_blank">Forward this email</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://www.milmission.org" target="_blank">Visit&nbsp;our&nbsp;website</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy">
                  <strong>Milwaukee Rescue Mission</strong> &bull; 830 N. 19th Street &bull; Milwaukee,&nbsp;WI&nbsp;53233 &bull; 414.344.2211 &bull; <a href="http://www.milmission.org" target="_blank">www.milmission.org</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy smaller">
                  If you do not wish to receive future email updates from the Milwaukee&nbsp;Rescue Mission, <a id="message_opt_out" title="Opt-out Link" href="##message_opt_out##">unsubscribe&nbsp;here</a>.<br/>
                  &copy; {{job_year}} Milwaukee Rescue Mission. All rights reserved. <a href="http://www.milmission.org/privacy-policy/" target="_blank">Privacy&nbsp;policy</a>.
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table class="affiliates" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <img src="images/footer_rescuemissions.gif" alt="rescue missions" width="69" height="43" border="0" />
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" class="hide"><tr><td height="1" class="hide"><img height="1" src="https://cdn.oneandall.com/resources/templates/spacer.gif" /></td></tr></table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
