.donate-button {
  .button a {
    padding: 10px 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }
}

.story {
	.spacing {
	  padding-top: 35px;
	  padding-bottom: 0;
	}

	.copy {
		padding-left: 35px;
		padding-bottom: 10px;

		span {
		  font-weight: bold;
		}
	}
}

.featured {
  .spacing {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copy {
    padding-left: 0;
    padding-bottom: 10px;
  }

  &.story-link {
    padding-bottom: 30px;
  }
}

.director {
  border-bottom: 4px solid @newsletter-director-border-color;

  .copy {
    padding-top: 10px;

    span {
      font-weight: bold;
    }
  }

  .signature {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media @content {
	*[class].mobile {
    .story {
    	a {
        font-size: @newsletter-story-link-font-size - 2 !important;
        line-height: @newsletter-story-link-line-height - 2 !important;
      }

      .copy {
        padding-left: 0 !important;
        padding-top: 0 !important;

        &.story-header {
          padding-top: 20px !important;
        }
      }
    	img {
	      width: 100% !important;
	      height: auto !important;
	    }
	  }
	  .featured {
      .copy {
        padding-left: 20px !important;
        padding-right: 20px !important;
        font-size: @newsletter-featured-font-size - 2 !important;
        line-height: @newsletter-featured-line-height - 4 !important;
      }

      span{
        font-size: @newsletter-featured-header-font-size - 5 !important;
        line-height: @newsletter-featured-header-line-height - 2 !important;
      }
	  }
	}
}
