.preheader {
  .copy {
    color: @body-bg;
    font-size: 0px;
    line-height: 0px;
  }
}

// Header
.header {

  .heading {
    img {
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
  }

  .spacing {
    padding-top: 20px;
  }

  .copy {
    width: 75%;
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @header-text-color;
  }

  .donate {
    width: 25%;
  }

  .button {
    width: 100%;
  }
}

.footer {
  .social-icons {
    td {
      padding: 0 5px;
    }
  }

  .footer-link-list a {
    font-weight: bold;
    text-decoration: @link-decoration;
  }

  .affiliates {
    td {
      padding: 0 10px;
    }
  }
}

td.hide {
  min-width: @content-width;

  img {
    width: @content-width;
    min-width: @content-width;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }
    .header {
      .columns {
        width: 90% !important;
      }
      .copy {
        width: 70% !important;
      }
      .donate {
        width: 30% !important;
      }
    }

    .heading {
      img {
        width: 100% !important;
        height: auto !important;
      }

      .spacing {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }
}
