// Brand Colors
@orange:                    #fff5e6;
@brown:                     #735842;
@red:                       #c52929;
@red-orange:								#fa723a;

@content-width:             640px;

// Google Fonts
@arvo: Georgia, Times, serif, 'Arvo';
@opensans: Arial, Helvetica, sans-serif, 'Open Sans';
@mavenpro: Arial, Helvetica, sans-serif, 'Maven Pro';
@montserrat: Arial, Helvetica, sans-serif, 'Montserrat';
@encodesans: Arial, Helvetica, sans-serif, 'Encode Sans';
@roboto: Arial, Helvetica, sans-serif, 'Roboto';
@robotocondensed: 'Arial Narrow', sans-serif, 'Roboto Condensed';
@raleway: Arial, Helvetica, sans-serif, 'Raleway';
@sourcesanspro: Arial, Helvetica, sans-serif, 'Source Sans Pro';
@nunitosans: Arial, Helvetica, sans-serif, 'Nunito Sans';
@oswald: Arial, Helvetica, sans-serif, 'Oswald';

@body-bg:                   #d8f8f7;
@content-bg:                #ffffff;

@font-family:               'Trebuchet MS', Arial, Helvetica, sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 18px;
@line-height:               24px;
@text-color:                #000000;
@link-color:                #00a6a0;
@link-decoration:           none;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:                  40px;

// Button styles
@button-width:                  280px;
@button-height:                 auto;
@button-bg:                     #fa723a;
@button-border:                 @button-bg;
@button-color:                  #ffffff;
@button-radius:                 3px;
@button-font-family:            @font-family-sans-serif;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            normal;

// Mobile button styles
@button-mobile-width:           @button-width;
@button-mobile-height:          @button-height;
@button-mobile-font-size:    		@button-font-size;

@view-online-color:             #00bfbb;

@header-bg:                     @body-bg;
@header-font-family:            @font-family;
@header-font-size:              10px;
@header-line-height:            @header-font-size + 3;
@header-text-color:             @view-online-color;
@header-font-weight:            normal;
@header-link-text-decoration:   underline;
@header-link-color:             @header-text-color;
@header-link-font-weight:       normal;

// Mobile Header styles
@header-mobile-font-size:    		@header-font-size;
@header-mobile-line-height:     @header-line-height;

// Header Button styles
@header-button-width:           130px;
@header-button-height:          @button-height;
@header-button-bg:              #00bfbb;
@header-button-border:          @header-button-bg;
@header-button-radius:              3px;
@header-button-color:           #ffffff;
@header-button-font-family:         @font-family-sans-serif;
@header-button-font-size:       15px;
@header-button-text-decoration:     none;
@header-button-font-weight:         normal;

// Mobile header button styles
@header-button-mobile-width:           @header-button-width;
@header-button-mobile-height:          @header-button-height;
@header-button-mobile-font-size:    	 @header-button-font-size;

@johnsonbox-bg:                     #00bfbb;
@johnsonbox-font-family:            @font-family-sans-serif;
@johnsonbox-font-size:              30px;
@johnsonbox-line-height:            38px;
@johnsonbox-color:                  #ffffff;
@johnsonbox-text-align:             center;
@johnsonbox-link-color:             @johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Mobile Johnsonbox styles
@johnsonbox-mobile-font-size:    		@johnsonbox-font-size - 1;
@johnsonbox-mobile-line-height:     @johnsonbox-line-height - 1;

@gift-array-bg:         					#ffffff;
@gift-array-font-family:          @font-family-sans-serif;
@gift-array-text-font-size:      	22px;
@gift-array-text-line-height:     25px;
@gift-array-text-color:           #00a6a0;
@gift-array-text-font-weight:     bold;
@gift-array-btn-width:            600px;
@gift-array-btn-height:         	auto;
@gift-array-btn-bg:               #d8f8f7;
@gift-array-btn-color:            #00a6a0;
@gift-array-btn-font-family:      @font-family-sans-serif;
@gift-array-btn-font-size:        21px;
@gift-array-btn-line-height:      23px;
@gift-array-btn-font-weight:      bold;
@gift-array-btn-radius:           3px;
@gift-array-price-font-size:      26px;
@gift-array-price-line-height:    26px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn-bg:				#00a6a0;
@gift-array-active-btn-color:			#ffffff;

// Mobile Gift array styles
@gift-array-mobile-btn-width:         	100%;
@gift-array-mobile-btn-height:         	auto;
@gift-array-mobile-btn-font-size:      	@gift-array-btn-font-size;
@gift-array-mobile-btn-line-height:     @gift-array-btn-line-height;
@gift-array-mobile-price-font-size:     @gift-array-mobile-btn-font-size;
@gift-array-mobile-price-line-height:   @gift-array-mobile-btn-line-height;

@footer-bg:                     @body-bg;
@footer-color:                  #666666;
@footer-link-color:             #00bfbb;
@footer-link-font-weight:       normal;
@footer-text-decoration:        underline;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              12px;
@footer-line-height:            @footer-font-size + 2;
@footer-text-align:             center;
@footer-font-weight:            normal;
