.director {
  background-color: @newsletter-director-bg;

  img {
    vertical-align: top;
  }

  .copy {
    font-family: @newsletter-director-font-family;
    font-size: @newsletter-director-font-size;
    line-height: @newsletter-director-line-height;
    color: @newsletter-director-color;
  }

  .heading {
    font-family: @newsletter-director-header-font-family;
    font-size: @newsletter-director-header-font-size;
    line-height: @newsletter-director-header-line-height;
    color: @newsletter-director-header-color;
    font-weight: @newsletter-director-header-font-weight;
  }

  .sig {
    padding-top: 30px;

    .copy {
      padding-left: 30px;
    }
  }

  .signature {
    padding-left: 30px;

    img {
      width: auto;
      height: auto;
    }
  }
}

@media @content {
  *[class].mobile {
    .director {
      .heading {
        font-size: @newsletter-director-header-font-size - 2 !important;
        line-height: @newsletter-director-header-line-height - 2 !important;
      }
    }
  }
}
