.solo-donate-button {
  background-color: @johnsonbox-bg;
  border-top: 2px solid #dc2c30;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .button {
    width: 280px;
    height: auto;

    td {
      padding-top: 12px;
      padding-bottom: 12px;
      width: 280px;
      height: auto;
    }

    a {
      width: 100%;
      height: auto;
    }
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .button {
        width: 280px !important;
        height: auto !important;

        td {
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          width: 280px !important;
          height: auto !important;
        }

        a {
          font-size: @button-font-size !important;
        }
      }
    }
  }
}
