.story.featured {
  border-bottom: 2px solid @newsletter-featured-border-color;

  .spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .copy {
    padding-left: 0;
    font-family: @newsletter-featured-font-family;
    font-size: @newsletter-featured-font-size;
    line-height: @newsletter-featured-line-height;
    color: @newsletter-featured-color;
  }

  a.story-link {
    padding-bottom: 30px;
    color: @newsletter-featured-link-color;
    font-weight: @newsletter-featured-link-font-weight;
    text-decoration: @newsletter-featured-link-text-decoration;
  }

  .heading {
    font-family: @newsletter-story-header-font-family;
    font-size: @newsletter-featured-header-font-size;
    line-height: @newsletter-featured-header-line-height;
    color: @newsletter-featured-header-color;
    font-weight: @newsletter-featured-header-font-weight;
  }
}

@media @content {
  *[class].mobile {
    .story.featured {
      .heading {
        padding-top: 0 !important;
      }
    }
  }
}
