/* uncss:ignore */
.body-copy .copy img {
  display: inline-block;
}

/* uncss:ignore */
.outlook-hide {
  display: none !important;
}

.body {
  background-color: @body-bg;
}

// Header
.header {
  background-color: @body-bg;

  .logo {
    padding-bottom: 30px;
    border-bottom: 2px solid #cccccc;
  }
}

.footer {
  background-color: @footer-bg;
  text-align: @footer-text-align;

  .spacing {
    padding-bottom: 50px;
  }

  .copy, .copy a{
    font-family: @footer-font-family;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
    text-align: @footer-text-align;
  }

  a {
    text-decoration: @footer-text-decoration;
    font-weight: @footer-link-weight;
  }

  .donate a {
    padding: 15px 20px;
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {

  }
}
