@content-width:             640px;

// St. Mary's Colors
@red:                       #b5121b;
@blue-light:                #5675a9;
@blue:                      #2b4f8a;
@blue-dark:                 #002d62;
@gold:                      #ffc423;
@orange:                    #f8981d;
@orange-dark:               #dc6810;

@body-bg:                   #ffffff;
@content-bg:                #ffffff;

@font-family:               @font-family-sans-serif;
@font-family-serif:         Georgia, Times, serif;
@font-family-sans-serif:    Arial, Helvetica, sans-serif;
@font-size:                 21px;
@line-height:               32px;
@text-color:                #595959;
@link-color:                #ff7600;
@link-decoration:           underline;
@link-weight:               bold;

// Spacing
@paragraph-space:               20px;
@content-padding:               20px;
@section-spacing:               30px;
@column-spacing:                20px;
@gutter-width:									60px;

@header-bg:											@body-bg;
@header-font-family:            @font-family;
@header-font-size:              12px;
@header-line-height:            @header-font-size + 12;
@header-text-color:             #2a4364;
@header-link-text-decoration:   underline;
@header-link-color:   					@header-text-color;
@header-font-weight:            bold;

@johnsonbox-bg:           					#ffffff;
@johnsonbox-font-family:  					@font-family;
@johnsonbox-font-size:    					23px;
@johnsonbox-line-height:  					26px;
@johnsonbox-color:        					@orange;
@johnsonbox-text-align:   					center;
@johnsonbox-link-color:   					@johnsonbox-color;
@johnsonbox-link-text-decoration:   none;
@johnsonbox-font-weight:            bold;

// Button styles
@button-bg:                     #ffffff;
@button-border:                 @orange;
@button-color:                  @orange;
@button-radius:                 5px;
@button-font-size:              20px;
@button-text-decoration:        none;
@button-font-weight:            bold;

@gift-array-bg:         					#cccccc;
@gift-array-btn-width:         		193px;
@gift-array-btn-bg:         			#fcfcfc;
@gift-array-btn-bg-hover:   			lighten(@gift-array-btn-bg, 15%);
@gift-array-btn-hover-color:			#333333;
@gift-array-btn-color:      			#ad957a;
@gift-array-btn-font-family:      @font-family;
@gift-array-btn-font-size:      	20px;
@gift-array-btn-line-height:     	23px;
@gift-array-btn-font-weight:     	bold;
@gift-array-btn-radius:      			5px;
@gift-array-text-color:      			#ffffff;
@gift-array-font-family:      		@font-family;
@gift-array-price-font-size:      30px;
@gift-array-price-line-height:    25px;
@gift-array-price-font-weight:    bold;
@gift-array-active-btn:						#dddddd;
@gift-array-active-btn-color:			#ffffff;

@footer-bg:                     #ffffff;
@footer-color:                  #595959;
@footer-link-color:             @footer-color;
@footer-link-weight:            bold;
@footer-text-decoration:        none;
@footer-font-family:            @font-family-sans-serif;
@footer-font-size:              18px;
@footer-line-height:            @footer-font-size + 8;
@footer-text-align:             left;
