.forward {
  width: 100%;
  background-color: #ffffff;
}

.sender {
  width: 100%;
  background-color: @body-bg;

  .spacing {
    padding-bottom: 20px;
  }

  .columns {
    width: 610px;
  }

  .copy {
    font-size: 18px;
    line-height: 28px;
    color: #5E4D42;
  }

  .titles {
    padding-right: 10px;
    vertical-align: top;
  }
}

@media @content {
  .sender {
    .columns {
      width: 90% !important;
    }

    .copy {
      font-size: 14px !important;
      line-height: 22px !important;
    }

    .titles {
      width: 85px !important;
    }
  }
}
