.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .columns {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &.red {
    background-color: #e10000;

    .columns {
      &.list .spacing {
        padding-bottom: 20px;
      }
    }

    .seven {
      width: 350px;
    }

    .spacing {
      padding-top: 5px;
    }

    .copy {
      padding-bottom: 0;
      font-size: 20px;
      line-height: 24px;
      vertical-align: top;
    }

    .bullet {
      vertical-align: middle;
      padding-left: 20px;
      padding-right: 5px;
      font-size: 12px;
      line-height: 12px;
      height: 12px;

      img {
        font-size: 12px;
        line-height: 12px;
        width: 13px;
        height: 12px;
      }
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 1 !important;
      }

      .button {
        width: 70% !important;

        a {
          font-size: @button-font-size - 4 !important;
        }
      }

      &.top {
        .columns {
          width: 100% !important;

          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }

      &.red {
        .copy {
          padding-bottom: 0 !important;
          font-size: 14px !important;
          line-height: 24px !important;
        }

        .bullet {
          padding-left: 0 !important;
          padding-right: 5px !important;

          img {
            width: 7px !important;
            height: auto !important;
          }
        }

        .list {
          .seven,
          .five,
          .seven table,
          .five table {
            float: none !important;
          }

          .seven,
          .five {
              margin: 0 auto !important;
              width: 85% !important;
          }
        }
      }
    }

    .donate-button {
      img {
        width: 70% !important;
        height: auto !important;
      }
    }
  }
}
