<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<head>

</head>

<body>

  <!-- smoosh -->
  <link rel='stylesheet' href='css/email.css'>
  <!-- endsmoosh -->

<!-- Wrapper -->
<table class="body mobile" cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td align="center">

<!-- Preheader Area -->
<table class="section preheader" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="copy">
      Lorem ipsum
    </td>
  </tr>
</table>

<!-- Header Area -->
<table class="section header" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <!-- Logo and Donate Button Combo -->
      <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="logo">
            <a href="http://urm.org" target="_blank"><img src="images/header-logo.gif" alt="Union Rescue Mission. The Way Home." width="196" height="32" border="0" /></a>
          </td>
          <td class="share" align="right">
            <table align="right" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td align="right" class="share-icons">
                  <table align="right" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="copy" align="right">
                        Share:
                      </td>
                      <td width="10" align="right">
                        <a href="#fb" target="_blank"><img src="images/share-fb.gif" alt="Facebook" width="10" height="19" border="0"></a>
                      </td>
                      <td width="22" align="right">
                        <a href="#tweet" target="_blank"><img src="images/share-twitter.gif" alt="Twitter" width="22" height="18" border="0"></a>
                      </td>
                      <td width="29" align="right">
                        <a href="http://urm.convio.net/site/TellAFriend" target="_blank"><img src="images/forward.gif" alt="Email" width="29" height="17" border="0"></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="main-content" align="center" cellpadding="0" cellspacing="0" border="0"><tr><td>

<!-- Content Starts Here-->
{% block content %} {% endblock %}
<!-- Content Ends Here -->

</td></tr></table>

<!-- Footer -->
<table class="section footer" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="spacing" align="center">

      <table class="twelve" align="center" cellpadding="0" cellspacing="0" border="0">

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td align="center">
                  <a href="http://urm.org/" target="_blank"><img src="images/footer-logo.gif" alt="Union Rescue Mission. The Way Home." border="0" width="120" height="54"></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Social Icons -->
            <table class="social-icons" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="social-media first">
                  <a href="https://www.facebook.com/unionrescuemissionla" target="_blank"><img src="images/footer-fb.gif" alt="Facebook" width="24" height="24" border="0"></a>
                </td>
                <td class="social-media">
                  <a href="https://twitter.com/urm" target="_blank"><img src="images/footer-twitter.gif" alt="Twitter" width="24" height="24" border="0"></a>
                </td>
                <td class="social-media">
                  <a href="http://www.youtube.com/unionrescuemission" target="_blank"><img src="images/footer-youtube.gif" alt="YouTube" width="24" height="24" border="0"></a>
                </td>
                <td class="social-media last">
                  <a href="https://www.linkedin.com/company/hope-gardens-union-rescue-mission" target="_blank"><img src="images/footer-linkedin.gif" alt="LinkedIn" width="24" height="24" border="0"></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy">
                  545 S. San Pedro Street &bull; Los&nbsp;Angeles,&nbsp;CA&nbsp;90013<br>
                  1.888.77.THE WAY HOME <nobr>(888.778.4392)</nobr>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing" align="center">

            <!-- Footer Text -->
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="copy smaller">
                  &copy; 2017 Union Rescue Mission. <a href="http://urm.org/privacy-policy/" target="_blank">Privacy Policy</a>.
                  <div class="copy-spacer">&nbsp;</div>
                  You are currently subscribed to Union Rescue Mission as xxxxxx@grizzard.com.<!--<convio:session name="1" param="primary_email"></convio:session>-->.<br>
                  If you no longer wish to receive emails, please&nbsp;<a href="http://urm.convio.net/site/CO" target="_blank">unsubscribe</a>.
                  <div class="copy-spacer">&nbsp;</div>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="affiliates spacing" align="center">

            <table align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="http://www.agrm.org/agrm/default.asp" target="_blank"><img src="images/footer-rescuemission.gif" alt="AGRM" border="0" width="46" height="30"></a>
                </td>
                <td>
                  <a href="http://www.ecfa.org/MemberProfile.aspx?ID=8610" target="_blank"><img src="images/footer-ecfa.gif" alt="ECFA" border="0" width="31" height="31"></a>
                </td>
                <td>
                  <a href="http://www2.guidestar.org/organizations/95-1709293/union-rescue-mission.aspx" target="_blank"><img src="images/footer-guidestar.gif" alt="GuideStar" border="0" width="55" height="30"></a>
                </td>
                <td class="last">
                  <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=4597" target="_blank"><img src="images/footer-charity-nav.gif" alt="Charity Navigator. Four Star Charity" border="0" width="59" height="30"></a>
                </td>
              </tr>
            </table>

          </td>
        </tr>

        <tr>
          <td class="spacing copy" align="right">
            <a href="http://urm.convio.net/site/MessageViewer" target="_blank">View this email online</a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

</td></tr></table> <!-- Body Wrapper Ends Here -->


</body>
</html>
