.columns {
  float: none !important;
}

// Header
.header {
  background-color: @body-bg;

  table {
    width: 90%;
  }

  .spacing {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo {
    padding-right: 0;
    width: 30%;

    img {
      max-width: 197px;
    }
  }

  .copy {
    width: auto;
    font-size: @header-font-size;
    line-height: @header-line-height;
    color: @text-color;

    a {
      color: @text-color;
      text-decoration: none;
    }
  }

  .share {
    width: 70%;

    table {
      width: auto;

      td {
        padding-left: 10px;
      }
    }
  }
}

// Footer
.footer {
  .twelve {
    .spacing {
      padding-top: 10px;
    }
  }

  .spacing {
    padding-top: 80px;

    &.first {
      padding-top: 60px;
    }

    &.copy {
      padding-bottom: 20px;
    }
  }

  .logo {
    width: auto;
  }

  .copy {
    &.smaller, &.smaller a {
      font-size: @footer-font-size - 1;
      line-height: @footer-line-height - 1;
    }
  }

  .social-icons {
    img {
      width: 100%;
      height: auto;
    }

    td {
      padding: 0 10px;

      &.first {
        padding: 0 10px 0 0;
      }

      &.last {
        padding:  0 0 0 10px;
      }
    }
  }

  .affiliates {
    padding-top: 30px;

    img {
      width: auto;
    }

    td {
      padding: 0 3px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .header {
      table {
        width: 95% !important;
      }
      .logo {
        width: 50% !important;

        img {
          width: auto !important;
          height: auto !important;
        }
      }
      .copy {
        padding: 0 !important;
        width: 50% !important;
        font-size: @header-font-size !important;
        line-height: @header-line-height !important;
      }
    }

    .footer {
      img {
        width: auto !important;
        height: auto !important;
      }

      .spacing {
        padding-top: 10px !important;
      }

      .twelve {
        .spacing {
          padding-top: 5px !important;
        }
      }

      .copy {
        font-size: @footer-font-size !important;

        &.smaller, &.smaller a {
          font-size: @footer-font-size !important;
          line-height: @footer-line-height !important;
        }
      }
    }
  }
}
