.body-copy {
  .eleven {
    width: 568px;
  }
}

.hero-text {
  background-color: #FFCC82;
}

.footer {
  .address {
    padding-bottom: 0;
    font-weight: bold;

    a {
      font-weight: bold;
    }
  }

  .social-icons {
    td {
      vertical-align: middle;
      height: 27px;
    }
  }
}

@media @content {
  *[class].mobile {
    .hero-text {
      img {
        width: 90% !important;
        max-width: 479px !important;
        height: auto !important;
      }
    }

    .footer {
      .address {
        a {
          font-weight: bold !important;
        }
      }
    }
  }
}
