.hero-heading {
	background-color: #F37029;

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: @arvo;
		font-size: 30px;
		line-height: 35px;
		color: #ffffff;
		font-weight: bold;
	}
}

.hero {
	img {
		width: 100%;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media @content {
  *[class].mobile {
    .hero img {
      width: 100% !important;
      height: auto !important;
    }
  }
}
