.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.logo-bottom {
    border-top: 3px solid #F4BD0E;

    .columns {
      margin: 0 auto;
      width: auto;
    }

    .logo {
      td {
        padding-right: 15px;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      &.logo-bottom {
        .columns {
          margin: 0 auto !important;
          width: 100% !important;
        }
        
        table {
          width: 100% !important;

          img {
            margin: 0 auto !important;
          }
        }
      }
    }
  }
}
