.sidebar {
  .columns {
    margin: 0 auto;
    width: 450px;
  }

  .six {
    width: 225px;

    table {
      width: 202px;
    }

    .smaller {
      width: 188px;
    }
  }

  .copy {
    &.heading {
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: @arvo;
      font-size: 26px;
      line-height: 31px;
      font-weight: bold;
      color: #0097A2;

      &.orange {
        color: #F37029;
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      .six {
        table {
          width: 100% !important;
        }
      }

      .second {
        padding-top: 20px !important;
      }

      .copy {
        &.heading {
          padding-top: 20px !important;
          text-align: center !important;
        }
      }

      .spacing {
        padding-bottom: 30px !important;
      }

      &.challenge {
        .columns, td {
          height: auto !important;
        }

        .five {
          height: auto !important;

          img {
            width: 100px !important;
            height: auto !important;
          }
        }

        .spacing {
          padding-bottom: 0 !important;
        }

        .donate {
          padding-bottom: 20px !important;
        }
      }
    }
  }
}
