.solo-donate-button {
  background-color: @johnsonbox-bg;
  border-bottom: 3px solid #F4BD0E;

  .spacing {
    padding-bottom: 30px;
  }
}

@media @content {
  *[class].mobile {
    .solo-donate-button {
      .spacing {
        padding-top: 0 !important;
      }
    }
  }
}
