.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
    font-weight: normal;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    strong {
      text-decoration: underline;
    }
  }
}

@media @content {
  *[class].mobile {
    .text-donate-button {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .spacing {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
  }
}
