@viewport {
  width: device-width !important;
}
/* uncss:ignore */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/* uncss:ignore */
.ReadMsgBody {
  width: 100%;
}
/* uncss:ignore */
.ExternalClass {
  width: 100%;
}
table td {
  border-collapse: collapse;
}
/* uncss:ignore */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* uncss:ignore */
.yshortcuts a {
  border-bottom: none !important;
}
td.hide {
  font-size: 0px;
  line-height: 0px;
}
td.hide img {
  text-decoration: none;
  border: none;
  -ms-interpolation-mode: bicubic;
}

.columns {
  margin: 0 auto;
  width: 541px;
}
.twelve {
  width: 541px;
}
.eleven {
  width: 493px;
}
.button {
  float: none;
  width: 240px;
  height: auto;
}
.button td {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: #FBAE40;
  text-align: center;
  border-radius: 0;
}
.button a {
  width: 100%;
  height: auto;
  display: block;
  border-color: #FBAE40;
  background-color: #FBAE40;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-size: 24px;
  font-weight: 900;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0;
}
.header {
  background-color: #ffffff;
}
.header img {
  width: auto;
  height: auto;
}
.header .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
}
.header .logo {
  width: 45%;
}
.header .donate {
  width: 45%;
}
.header .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  text-decoration: underline;
}
.header .button {
  width: 167px;
  height: auto;
}
.header .button td {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FBAE40;
  width: 167px;
  height: auto;
}
.header .button a {
  width: 167px;
  height: auto;
  background-color: #FBAE40;
  border-color: #FBAE40;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
}
.footer {
  background-color: #ffffff;
  text-align: center;
}
.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer img {
  width: auto;
  height: auto;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
  font-weight: normal;
}
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
}
.footer .copy.smaller {
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
}
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 15px;
}
.footer .address {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .address a {
  font-weight: normal;
}
.footer .social-icons {
  margin: 0 auto;
  width: auto;
}
.footer .social-icons td {
  padding: 0 3px;
}
.footer .address a {
  font-weight: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}
.body img {
  float: none;
  display: block;
  border: 0px;
}
.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}
.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
.section {
  margin: 0 auto;
  width: 581px;
}
.main-content {
  width: 581px;
  background-color: #ffffff;
}
.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #935095;
  font-weight: bold;
}
.preheader .copy {
  color: #ffffff;
  font-size: 0;
  line-height: 0;
}
td.hide {
  min-width: 581px;
}
td.hide img {
  width: 581px;
  min-width: 581px;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox {
  background-color: #195CA0;
}
.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
}
.johnsonbox.top {
  background-color: #ffffff;
}
.johnsonbox.top .spacing {
  padding-top: 35px;
  padding-bottom: 25px;
}
.johnsonbox.top .copy {
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-size: 33px;
  line-height: 41px;
  font-weight: 300;
  color: #195CA0;
}
.johnsonbox.top .copy span.black {
  font-size: 37px;
  font-weight: 900;
}
.johnsonbox .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.johnsonbox.infographic {
  background-color: #ffffff;
  width: 541px;
  mso-line-height-rule: exactly;
}
.johnsonbox.infographic table,
.johnsonbox.infographic td {
  mso-line-height-rule: exactly;
}
.johnsonbox.infographic .spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.johnsonbox.infographic .graphic {
  padding-top: 20px;
  padding-bottom: 0;
}
.johnsonbox.infographic .twelve {
  width: 541px;
}
.johnsonbox.infographic .twelve table {
  width: 79%;
}
.johnsonbox.infographic .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.johnsonbox.infographic .heading {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-size: 18px;
  line-height: 22px;
  color: #195CA0;
  font-weight: 900;
}
.johnsonbox.darkest-blue {
  background-color: #C1D2DB;
}
.johnsonbox.darkest-blue .title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #195CA0;
}
.johnsonbox.darker-blue {
  background-color: #CDDAE2;
}
.johnsonbox.darker-blue .spacing {
  background-color: #CDDAE2;
}
.johnsonbox.dark-blue {
  background-color: #D8E3EA;
}
.johnsonbox.blue {
  background-color: #E5EDF1;
}
.johnsonbox.lighter-blue {
  background-color: #F2F6F8;
}
.johnsonbox.lighter-blue .twelve table {
  width: 90%;
}
.johnsonbox.lighter-blue .copy {
  padding-bottom: 30px;
}
.johnsonbox.lighter-blue .copy.heading {
  padding-bottom: 10px;
}
.text-donate-button {
  background-color: #ffffff;
}
.text-donate-button .twelve {
  background-color: #195CA0;
}
.text-donate-button .twelve .copy-box {
  width: 480px;
}
.text-donate-button .twelve .copy-box .copy {
  padding-top: 30px;
}
.text-donate-button .spacing {
  padding-top: 0;
  padding-bottom: 15px;
}
.text-donate-button .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif, 'Nunito Sans';
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
}
.text-donate-button .donate {
  padding-top: 10px;
  padding-bottom: 30px;
}
.text-donate-button.top {
  background-color: #195CA0;
}
.text-donate-button.top .spacing {
  padding-top: 15px;
  padding-bottom: 0;
}
.text-donate-button.top .copy {
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.text-donate-button.top .button td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.text-donate-button.bottom {
  width: 541px;
  background-color: #195CA0;
}
.header {
  background-color: #ffffff;
}
.header .columns {
  width: 100%;
}
.header .copy {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
  font-weight: normal;
}
.header .copy a {
  color: #464646;
  text-decoration: underline;
  font-weight: normal;
}
.header .logo {
  width: 50%;
}
.header .logo img {
  width: auto;
  height: auto;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .button {
  width: 167px;
  height: auto;
}
.header .view-donate .button td {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #FBAE40;
  border: #FBAE40;
}
.header .view-donate .button a {
  padding-top: 0;
  padding-bottom: 0;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif, 'Maven Pro';
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
}
.header .mobile-view-donate {
  display: none;
}
.footer {
  background-color: #ffffff;
}
.footer .copy-spacer {
  height: 10px;
  font-size: 10px;
  line-height: 10px;
}
.footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  text-align: center;
}
.footer .copy a {
  color: #4A4A4A;
  text-decoration: underline;
  font-weight: normal;
}
.footer .copy.smaller {
  font-size: 10px;
  line-height: 18px;
}
.footer .copy.smaller a {
  font-size: 10px;
  line-height: 18px;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .connect .social-icons td {
  padding-left: 5px;
  padding-right: 5px;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.footer .client-info .copy a {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  font-weight: normal;
}
.header .copy {
  padding-bottom: 10px;
}
.header .view-donate {
  width: 50%;
}
.header .view-donate .donate table.button {
  border-radius: 0;
}
.header .view-donate .donate table.button td {
  border-radius: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.header .view-donate .donate table.button td a {
  border-radius: 0;
}
.header .mobile-view-donate {
  display: none;
  font-size: 0;
  line-height: 0;
}
.header .mobile-view-donate a {
  display: none;
  font-size: 0;
  line-height: 0;
}
.footer .connect .copy {
  color: #1D2129;
}
.footer .client-info .logo {
  padding-top: 30px;
}
.footer .client-info .copy {
  padding-top: 5px;
}
.footer .client-info .copy.address a {
  text-decoration: none;
}
.body-copy span.highlight {
  background-color: #F6E942;
}
.body-copy .spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 581px ) {
  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .eleven,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }
  *[class].mobile .button {
    width: 200px !important;
    height: auto !important;
  }
  *[class].mobile .button a {
    font-size: 20px !important;
  }
  *[class].mobile .header .copy {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  *[class].mobile .header .logo {
    padding-right: 10px !important;
  }
  *[class].mobile .header .logo img {
    max-width: 150px !important;
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .header .donate {
    width: 167px !important;
  }
  *[class].mobile .header .button {
    width: 167px !important;
    height: auto !important;
  }
  *[class].mobile .header .button a {
    font-size: 20px !important;
  }
  *[class].mobile .footer img {
    width: auto !important;
    height: auto !important;
  }
  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }
  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .social-icons {
    width: auto !important;
  }
  *[class].mobile .footer .address a {
    font-weight: normal !important;
  }
  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }
  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .hide {
    display: none !important;
  }
  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox.top .spacing {
    padding-top: 20px !important;
  }
  *[class].mobile .johnsonbox.top .copy {
    font-size: 23px !important;
    line-height: 31px !important;
  }
  *[class].mobile .johnsonbox.top .copy span.black {
    font-size: 27px !important;
  }
  *[class].mobile .johnsonbox.infographic .twelve {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox.darkest-blue .title {
    font-size: 23px !important;
  }
  *[class].mobile .johnsonbox.darker-blue .graphic img {
    max-width: 346px !important;
    width: 90% !important;
    height: auto !important;
  }
  *[class].mobile .johnsonbox .copy {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  *[class].mobile .johnsonbox .twelve {
    width: 100% !important;
  }
  *[class].mobile .johnsonbox .twelve .copy-box {
    width: 95% !important;
  }
  *[class].mobile .header .logo {
    width: 100% !important;
  }
  *[class].mobile .header .logo img {
    width: auto !important;
    height: auto !important;
    margin: 0 auto !important;
    float: none !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: 100% !important;
    display: block !important;
  }
  *[class].mobile .header .button {
    display: none !important;
  }
  *[class].mobile .header .view {
    display: none !important;
  }
  *[class].mobile .footer .copy-spacer {
    height: 10px !important;
    font-size: 10px !important;
    line-height: 10px !important;
  }
  *[class].mobile .footer .copy {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #4A4A4A;
    text-align: center !important;
  }
  *[class].mobile .footer .copy a {
    text-decoration: underline !important;
    font-weight: normal !important;
  }
  *[class].mobile .footer .copy.smaller {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .copy.smaller a {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  *[class].mobile .footer .connect .copy {
    color: #1D2129 !important;
  }
  *[class].mobile .footer .client-info .logo {
    padding-bottom: 0 !important;
  }
  *[class].mobile .footer .client-info .copy {
    padding-top: 5px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  *[class].mobile .footer .client-info .copy a {
    font-size: 12px !important;
    line-height: 16px !important;
    text-decoration: underline !important;
  }
  *[class].mobile .footer .client-info .address a {
    font-weight: normal !important;
  }
  *[class].mobile .header .mobile-view-donate {
    width: auto !important;
    margin: 0 auto !important;
  }
  *[class].mobile .header .mobile-view-donate.copy {
    text-align: center !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .header .mobile-view-donate.copy a {
    display: inline-block !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #464646 !important;
  }
  *[class].mobile .footer .client-info .copy.address a {
    text-decoration: none !important;
  }
}
