.footer {
  .copy a,
  span {
    color: @footer-link-color;
  }

  .copy a.unsublink {
    text-decoration: underline;
  }

  .spacing {
    padding-top: 50px;
  }

  .logo {
    padding-bottom: 20px;
  }
}
