.header {
  .eyebrow {
    .copy {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a {
      font-family: @header-font-family;
      font-size: @header-font-size;
      line-height: @header-line-height;
      text-decoration: @header-link-text-decoration;
      color: @header-link-color;
      font-weight: @header-font-weight;
    }
  }

  .logo-donate {
    width: @content-width;

    .twelve {
      width: @content-width;
    }
  }

  .logo {
    width: 334px;
  }

  .donate {
    width: 266px;
    padding-right: 15px;

    .button {
      td {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}

.body-copy {
  .twelve {
    width: 530px;
  }
}

.footer {
  .spacing {
    padding-top: 60px;
  }

  .social {
    &.twelve {
      border-bottom: 1px solid #4A4A4A;
    }
  }

  .social-icons {
    td {
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

// Mobile Styles
@media @content {
  *[class].mobile {
    .eyebrow {
      .copy {
        padding-bottom: 20px !important;
      }
    }

    .header {
      .spacing {
        padding-bottom: 20px !important;
      }

      .logo {
        img {
          float: left !important;
          width: auto !important;
          height: auto !important;
        }
      }

      .donate {
        padding-right: 0 !important;

        .button {
          width: @header-button-width !important;
        }
      }
    }

    .footer {
      .spacing {
        padding-top: 30px !important;
      }
    }
  }
}
