.view-online {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media @content {
  *[class].mobile {
    .body-copy {
      .spacing {
        padding-bottom: 10px !important;
      }
    }
    
    .header {
      .logo {
        width: 55% !important;
      }
      .donate {
        width: 45% !important;
      }
    }

    .footer {
      a {
        font-size: @footer-font-size !important;
      }
    }
  }
}
