.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
	}

	.copy {
		padding-top: 20px;
		padding-bottom: 5px;
	}

	.six {
		border-bottom: 1px solid #d8d7d4;

		td {
			padding-left: 20px;
			padding-top: 20px;
			padding-bottom: 30px;
		}
	}
}

@media @content {
  *[class].mobile {
		.sig {
	    img {
	      width: auto !important;
	      height: auto !important;
	    }
		}
  }
}
