.divider {
  width: 200px;
  height: 2px;
  background-color: #cccccc;
  font-size: 2px;
  line-height: 2px;
}

.address {
  font-family: @footer-font-family;
  font-size: @footer-font-size;
  line-height: @footer-line-height;
}

@media @content {
  *[class].mobile {
    .copy {
      &.social {
        a {
          font-size: 12px !important;
        }
      }

      &.address {
        font-weight: normal !important;
      }
    }
  }
}
