.header {
  .copy {
    strong {
      color: #4e4e4e;
    }
  }
}

.heading-banner {
  td {
    font-size: 0;
    line-height: 0;
  }
}

.stats-bucket {
  .did-you-know {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #dc2c30;
    font-weight: bold;
  }

  .cents {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 28px;
    color: #395576;
    font-weight: bold;
  }

  .source {
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 28px;
    color: #4e4e4e;
    font-weight: normal;
  }
}

.story {
  .copy {
    padding-left: 25px;
  }
}

.donate-button {
  border-top: 3px solid #DC2C30;
}

.directors-border {
  .copy {
    border-top: 3px solid #DC2C30;
  }
}

.story-header {
  font-family: @font-family-sans-serif;

  &.bold {
    font-weight: 600 !important;
  }
  &.semi-bold {
    font-weight: 500 !important;
  }
  &.light {
    font-weight: 400 !important;
  }
  &.lighter {
    font-weight: 300 !important;
  }
}

@media @content {
  *[class].mobile {
    .header {
      .donate {
        width: 35% !important;
      }
      .copy {
        width: 65% !important;
        padding-left: 0 !important;
      }
    }
    .stats-bucket {
      img {
        margin: 0 auto !important;
      }

      .did-you-know {
        padding-top: 20px !important;
      }

      .source {
        padding-top: 0 !important;
      }
    }

    table.hero {
      width: 100% !important;
    }
    .container {
        background-size: auto 100% !important;
        background-position: center top !important;
        width: 100% !important;
        height: auto !important;
        min-height: 200px !important;
        padding-top: 100px !important;
    }
    .spacer {
      display: none !important;
      height: 0 !important;
    }
  }
}
