// for Outlook Conditionals
.outlook-array {
  td {
    padding-left: 0;
    padding-right: 0;
  }
  table td {
    background-color: @gift-array-btn-bg;
    padding: 0;
  }
}

.body-copy {
  .spacing {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.johnsonbox {
  .button {
    a {
      padding: 15px 0;
    }
  }
}

.header {
  .view-donate {
    .view-online {
      .copy {
        padding-bottom: 10px;
      }
    }
  }

  .button {
    width: 130px;
    max-width: 130px;
    height: auto;

    td {
      height: auto;
      width: 130px;
    }

    a {
      height: 100%;
      width: 100%;
    }
  }
}

@media @content {
  *[class].mobile {
    .header {
      .button {
        height: auto !important;
      }
    }
  }
}
