.johnsonbox {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 0;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: 45px;
    }
  }

  .button {
    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &.purple {
    background-color: #7A1B9D;

    .copy {
      color: #ffffff;
      font-family: @arvo;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &.box {
    width: 476px;

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }

    .copy {
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: @font-family;
      color: #4A4A4A;
      font-size: 20px;
      line-height: 22px;
      border-left: 2px solid #979797;
      border-right: 2px solid #979797;
      border-bottom: 2px solid #979797;
      mso-border-bottom-alt: 2px solid #979797;
      mso-border-left-alt: 2px solid #979797;
      mso-border-right-alt: 2px solid #979797;
    }

    .turquoise {
      background-color: #00A6B6;
      mso-border-top-alt: 2px solid #979797;
      border-top: 2px solid #979797;

      .copy {
        color: #ffffff;
        font-size: 23px;
        line-height: 26px;
      }
    }

    .twelve {
      width: 100%;
    }

    .red {
      color: #D0021B;
      font-size: 20px;
    }

    .donate {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: 25px !important;
        line-height: 31px !important;
      }

      &.purple {
        .copy {
          font-size: 25px !important;
          line-height: 31px !important;
        }
      }

      &.box {
        width: 100% !important;

        .copy {
          font-size: 20px !important;
          line-height: 22px !important;
        }
      }
    }
  }
}
