.solo-donate-button {
  background-color: #BBE3E8;

  .spacing {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &.bottom {
    background-color: @content-bg;
  }
}

@media @content {
  *[class].mobile {

  }
}
