.body-copy {
  .bullet {
    padding-left: 15px;
    padding-right: 15px;
    width: 5px;
    color: #f40023;
  }

  strong {
    font-family: @font-family;
  }
}

.copy.unsubscribe,
.copy.unsubscribe a {
  font-family: Arial, Helvetica, sans-serif;
}

@media @content {
  *[class].mobile {
    .header {
      .logo {
        img {
          width: auto !important;
          height: auto !important;
        }
      }
    }
  }
}
