.sidebar {
  .copy {
    &.top {
      padding-bottom: 20px;
      font-size: 20px;
      line-height: 23px;
      color: #333333;
      font-weight: bold;

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .columns {
    width: 540px;

    .copy {
      font-size: 15px;
      line-height: 23px;
      color: #333333;
      font-weight: bold;
    }
  }

  &.last {
    .spacing {
      padding-bottom: 40px;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      img {
        margin: 0 auto !important;
      }

      .spacing {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
      }

      .copy {
        text-align: center !important;
      }
    }
  }
}
