.solo-donate-button {
  background-color: @content-bg;

  .spacing {
    padding-bottom: 40px;
  }

  .button {
    background-color: #AE3032;
    width: 160px;

    td {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #AE3032;
    }

    a {
      background-color: #AE3032;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
}

@media @content {
  *[class].mobile {

  }
}
