.hero {
	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

	.desktop_hero {
		display: block;
	}

	.desktop_mobile {
		display: none;
	}
}

@media @content {
  *[class].mobile {
    .hero {
			background-color: transparent !important;

			img {
	      width: 90% !important;
				max-width: 90% !important;
	      height: auto !important;
	    }

			.desktop_hero {
				display: none !important;
			}

			.desktop_mobile {
				display: block !important;
			}
		}
  }
}
