.johnsonbox {
  text-align: @johnsonbox-text-align;

  .columns {
  	border-top: 4px solid #ffffff;
    height: 160px;
    background-color: @johnsonbox-bg;
  }

  .fruit {
    background-image: url('https://cdn.oneandall.com/emails/fb/2018/06/34310_SummerMatchingChallenge/OH500/Email1/images/fruits.png');
    background-repeat: no-repeat;
    background-size: 100% 251px;
    background-position: bottom center;
  }

  .spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  .copy {
    padding-bottom: 10px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }

    span {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .button {
    width: 170px;

    td {
      padding: 11px 0;
      background-color: #ffffff;
    }

    a {
      padding: 0;
      background-color: #ffffff;
      font-size: @button-font-size;
      color: #417505;
      mso-border-alt: 1px solid #ffffff;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  border-bottom: 1px solid #F1F1F1;
  background-color: @content-bg;
  height: auto;

  .spacing {
    padding-top: 0;
    padding-bottom: 47px;
  }

  .button {
    width: 170px;

    td {
      background-color: @button-bg;
    }

    a {
      background-color: @button-bg;
      color: @button-color;
      mso-border-alt: 1px solid @button-bg;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      background-color: #F9FAFE !important;
    	border-left: 0 solid transparent !important;
    	border-right: 0 solid transparent !important;

      .twelve {
        width: 95% !important;
      }

      .columns {
        height: auto !important;
      }

      .copy {
        font-size: @johnsonbox-font-size - 10 !important;
        line-height: @johnsonbox-line-height - 10 !important;
        padding-bottom: 15px !important;
      }

      .button {
        width: 170px !important;
      }

      .fruit {
        height: auto !important;
        background-size: 100% 160px !important;
        background-position: bottom center !important;
      }

      .spacing {
        padding-top: 18px !important;
        padding-bottom: 12px !important;
      }
    }

    .donate-button {
      border-bottom: 0 solid transparent !important;

      .spacing {
        padding-top: 30px !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
