.sidebar {
  .spacing {
    padding-top: 0;
  }

  .five {
    .copy {
      padding-top: 10px; 
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      width: 90% !important;
      background-color: @content-bg !important;
      border-left: 1px solid #F1F1F1 !important;
      border-right: 1px solid #F1F1F1 !important;
      border-bottom: 1px solid #F1F1F1 !important;

      .five {
        width: 100% !important;
        height: auto !important;

        &.kristin {
          width: 100% !important;
        }

        td {
          height: auto !important;
        }
      }
    }
  }
}
