.text-donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: 28px;
    line-height: 32px;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;
    text-align: @johnsonbox-text-align;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .twelve {
      width: 562px;
    }
  }

  .button {
    td {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &.bottom {
    .spacing {
      padding-bottom: 5px;
    }

    .copy {
      padding-bottom: 10px;
    }
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-mobile-font-size !important;
        line-height: @johnsonbox-mobile-line-height !important;
      }

      .twelve {
        width: 95% !important;
      }

      .button {
        td {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
      }
    }
  }
}
