table {
  mso-line-height-rule: exactly;
}

.section {
  width: 590px;
}

.spacer {
  background-color: @body-bg;
}

.header {
  background-color: @header-bg;

  .spacing {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .copy {
    width: 100%;
    font-family: @header-font-family;
    font-size: @header-font-size;
    line-height: @header-line-height;
    font-weight: @header-font-weight;
    color: @header-text-color;

    br {
      display: none;
    }
  }
}

.heading {
  .spacing {
    padding-top: 10px;
  }
}

.together {
  background-color: #05AFCC;

  .twelve {
    width: 100%;
  }

  .spacing {
    padding-top: 30px;
    max-width: 148px;
    width: 148px;
    height: 28px;
  }

  .copy, .copy a {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
}

.hide {
  width: @content-width;
}


@media @content {
  *[class].mobile {
    .hide {
      display: none !important;
    }

    .header {
      .columns {
        width: 95% !important;
      }
      .copy {
        padding-right: 0 !important;

        br {
          display: block !important;
        }
      }
      span {
        display: none !important;
      }
    }

    .together {
      img {
        max-width: 168px !important;
        width: 168px !important;
        height: auto !important;
      }
    }

    .heading {
      .spacing {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  }
}
