.gift-array {
  background-color: @gift-array-bg;

  .copy {
    padding-bottom: 20px;
    font-family: @gift-array-font-family;
    font-size: 21px;
    line-height: 24px;
    color: @gift-array-text-color;
    font-weight: @gift-array-text-font-weight;
  }

  .twelve {
    width: 610px;
  }

  .array {
    margin: 0 auto;
    width: auto;

    .four {
      &.middle {
        td {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

@media @content {
  *[class].mobile {
    .gift-array {
      .copy {
        padding-bottom: 0 !important;
      }

      .array {
        width: 100% !important;

        .gift {
          height: @gift-array-mobile-btn-height !important;
        }

        .gift-cell {
          padding-top: 20px !important;
          height: @gift-array-mobile-btn-height !important;
        }

        .button {
          margin: 0 auto !important;
          float: none !important;
          width: 90% !important;
          height: @gift-array-mobile-btn-height !important;

          td {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            width: @gift-array-mobile-btn-width !important;
            height: @gift-array-mobile-btn-height !important;
          }

          a {
            width: 90% !important;
            height: @gift-array-mobile-btn-height !important;
            font-size: @gift-array-mobile-btn-font-size !important;
            line-height: @gift-array-mobile-btn-line-height !important;
          }
        }

        .dollar {
          padding-bottom: 0 !important;
          display: inline-block !important;
          font-size: @gift-array-mobile-price-font-size !important;
          line-height: @gift-array-mobile-price-line-height !important;
        }
      }
    }
  }
}
