.johnsonbox {
  background-color: @johnsonbox-bg;
  text-align: @johnsonbox-text-align;

  .spacing {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .copy {
    padding-bottom: 20px;
    font-family: @johnsonbox-font-family;
    font-size: @johnsonbox-font-size;
    line-height: @johnsonbox-line-height;
    color: @johnsonbox-color;
    font-weight: @johnsonbox-font-weight;

    a {
      color: @johnsonbox-link-color;
      text-decoration: @johnsonbox-link-text-decoration;
    }
  }

  &.top {
    .spacing {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }

  &.orange-bar {
    background-color: #e97900;
  }

  &.orange-bar {
    .copy, .copy a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      color: #ffffff;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// Solo Donate Button Styles
.donate-button {
  background-color: @johnsonbox-bg;

  .spacing {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button a {
    padding: 15px 0;
  }
}

@media @content {
  *[class].mobile {
    .johnsonbox {
      .copy {
        font-size: @johnsonbox-font-size - 13 !important;
        line-height: @johnsonbox-line-height - 7 !important;
        padding-bottom: 0 !important;
      }

      .spacing {
        padding-top: 15px !important;
        padding-bottom: 0 !important;
      }

      &.orange-bar {
        .spacing {
          padding-top: 0 !important;
          padding-bottom: 10px !important;
        }
        .copy,
        .copy a {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }
  }
}
