.sidebar {
  &.green-bar {
    background-color: #53682b;

    .copy, .copy a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }

    .spacing {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.action-set {
    .columns {
      border-top: 4px solid #ffffff;
      width: @content-width;
    }

    .six {
      width: 320px;
      height: 120px;

      .copy {
        padding-left: 15px;
        font-size: 16px;
        line-height: 20px;
      }

      table {
        width: 86%;
        margin: 0 auto;

        td {
          height: 120px;
          vertical-align: middle;
        }
      }

      &.last {
        border-left: 4px solid #ffffff;
      }
    }

    .orange {
      background-color: #fef8f2;

      .copy a {
        color: #e97900;
        text-decoration: none;
      }
    }

    .green {
      background-color: #edf0e9;

      .copy a {
        color: #53682b;
        text-decoration: none;
      }
    }

    &.last {
      border-bottom: 10px solid #e97900;
    }
  }
}

@media @content {
  *[class].mobile {
    .sidebar {
      &.green-bar {
        .spacing {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
      }

      &.action-set {
        .columns {
          width: 100% !important;
          border-top: 0 solid transparent !important;
        }

        .six {
          height: auto !important;
          border-top: 2px solid #ffffff !important;

          table {
            width: 90% !important;

            td {
              padding-top: 20px !important;
              padding-bottom: 20px !important;
              height: auto !important;
            }
          }

          &.last {
            border-left: 0 solid transparent !important;
          }
        }
      }
    }
  }
}
