@viewport {
  width: device-width !important;
}

/* uncss:ignore */

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* uncss:ignore */

.ReadMsgBody {
  width: 100%;
}

/* uncss:ignore */

.ExternalClass {
  width: 100%;
}

table td {
  border-collapse: collapse;
}

/* uncss:ignore */

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* uncss:ignore */

.yshortcuts a {
  border-bottom: none !important;
}

.columns {
  margin: 0 auto;
  width: 600px;
}

.twelve {
  width: 600px;
}

.ten {
  width: 494px;
}

.four {
  width: 174px;
}

.preheader .copy {
  color: #fff5e6;
  font-size: 0px;
  line-height: 0px;
}

.header {
  background-color: #fff5e6;
}

.header .spacing {
  padding-bottom: 20px;
  padding-top: 10px;
}

.header .logo {
  width: 50%;
  padding-right: 10px;
}

.header .donate {
  width: 50%;
}

.footer {
  background-color: #fff5e6;
  text-align: center;
}

.footer .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer table .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy,
.footer .copy a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #2d2d2d;
  text-align: center;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 17px;
}

.footer .copy a {
  text-decoration: underline;
  font-weight: normal;
  color: #2d2d2d;
}

.footer .social-icons {
  width: auto;
}

.footer .social-icons img {
  width: auto;
}

.footer .social-icons td {
  padding: 0 1px;
}

.footer .affiliates td {
  padding: 0 3px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff5e6;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff5e6;
}

.body img {
  float: none;
  display: block;
  border: 0px;
}

.body table {
  border-collapse: collapse;
  border-spacing: 0px !important;
}

.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-spacer {
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section {
  width: 640px;
}

.main-content {
  width: 640px;
  background-color: #ffffff;
}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2d2d2d;
}

.copy a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #00bfbb;
  font-weight: bold;
}

.body-copy .spacing {
  padding-bottom: 30px;
}

.johnsonbox {
  background-color: #fa804d;
  text-align: center;
}

.johnsonbox .spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

.johnsonbox .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
}

.donate-button {
  background-color: #fa804d;
}

.donate-button .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* uncss:ignore */

.outlook-array td {
  padding-left: 5px;
  padding-right: 5px;
}

/* uncss:ignore */

.outlook-array table td {
  background-color: transparent;
  padding: 30px 5px;
}

/* uncss:ignore */

.outlook-array .active td {
  background-color: #dddddd;
  color: #ffffff;
}

.gift-array {
  background-color: #fa804d;
}

.gift-array .copy {
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.gift-array .spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

.gift-array .array table {
  width: 200px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.ps-statement .spacing {
  padding-top: 0;
  padding-bottom: 20px;
}

.sig img {
  width: auto;
  height: auto;
}

.sig .spacing {
  padding-top: 0;
}

.sig .copy {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  background-color: #fff5e6;
}

.header .spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .logo {
  width: 75%;
}

.header .view-donate {
  width: 25%;
}

.header .donate {
  width: 100%;
}

.footer {
  background-color: #fff5e6;
}

.footer .ten .spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .copy.smaller,
.footer .copy.smaller a {
  font-size: 11px;
  line-height: 14px;
}

.footer .social-icons td {
  padding: 0 8px;
  vertical-align: bottom;
}

.footer .affiliates .ecfa {
  padding-left: 20px;
  padding-right: 20px;
}

.outlook-array td {
  padding-left: 0;
  padding-right: 0;
}

.outlook-array table td {
  background-color: transparent;
  padding: 0;
}

.gift-array .array table {
  width: 200px;
}

@media only screen and (max-width: 640px ) {

  *[class].mobile .four,
  *[class].mobile .ten {
    width: 100% !important;
  }

  *[class].mobile .columns,
  *[class].mobile .twelve {
    width: 90.625% !important;
  }

  *[class].mobile .header .logo {
    width: 75% !important;
  }

  *[class].mobile .header .donate {
    width: 25% !important;
  }

  *[class].mobile .footer .copy {
    font-size: 12px !important;
  }

  *[class].mobile .footer .copy.smaller,
  *[class].mobile .footer .copy.smaller a {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  *[class].mobile .footer .social-icons,
  *[class].mobile .footer .affiliates {
    width: auto !important;
  }

  *[class].mobile div,
  *[class].mobile a,
  *[class].mobile td,
  *[class].mobile .copy {
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }

  *[class].mobile .main-content,
  *[class].mobile .section {
    width: 100% !important;
  }

  *[class].mobile img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
  }

  *[class].mobile .johnsonbox .copy {
    font-size: 22px !important;
  }

  *[class].mobile .gift-array .array td {
    padding-top: 20px !important;
  }

  *[class].mobile .gift-array .copy {
    padding-bottom: 0 !important;
  }

  *[class].mobile .hero img {
    width: 100% !important;
    height: auto !important;
  }

  *[class].mobile img {
    width: auto !important;
    height: auto !important;
  }

  *[class].mobile .header .logo {
    width: 50% !important;
  }

  *[class].mobile .header .logo img {
    width: 100% !important;
    max-width: 213px !important;
    height: auto !important;
  }

  *[class].mobile .header .view-donate {
    width: 50% !important;
  }

  *[class].mobile .footer .spacing {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  *[class].mobile .footer .smaller,
  *[class].mobile .footer .smaller a {
    font-size: 11px !important;
    line-height: 14px !important;
  }

  *[class].mobile .gift-array td {
    padding-top: 10px !important;
  }
}
