.sig {
	img {
		width: auto;
		height: auto;
	}

	.spacing {
		padding-top: 0;
		padding-left: 50px;
	}

	.copy {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media @content {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }

		.sig {
			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}

@media @tablet {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }

		.sig {
			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}

@media @phone {
  *[class].mobile {
    img {
      width: auto !important;
      height: auto !important;
    }

		.sig {
			.spacing {
				padding-left: 0 !important;
			}
		}
  }
}
